In [317]:
# Tratamiento de datos
import pandas as pd
# Ignorar warnings
import warnings
warnings.filterwarnings("ignore")
# Configuración
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames
#importar la biblioteca de numpy:
import numpy as np
from src import soporte_EDA as se
pd.options.display.float_format = '{:.2f}'.format # para redondearlo todo a 2 decimales

In [318]:
df_datos_2013 = pd.read_csv("datos/datos-2013.csv" , sep=';', encoding='latin-1')
df_datos_2014 = pd.read_csv("datos/datos-2014.csv" , sep=';', encoding='latin-1')
df_datos_2015 = pd.read_csv("datos/datos-2015.csv" , sep=';', encoding='latin-1')
df_datos_2016 = pd.read_csv("datos/datos-2016.csv" , sep=';', encoding='latin-1')
df_datos_2017 = pd.read_csv("datos/datos-2017.csv" , sep=';', encoding='latin-1')
df_datos_2018 = pd.read_csv("datos/datos-2018.csv" , sep=';', encoding='latin-1')
df_datos_2019 = pd.read_csv("datos/datos-2019.csv" , sep=';', encoding='latin-1')
df_datos_2020 = pd.read_csv("datos/datos-2020.csv" , sep=';', encoding='latin-1')
df_datos_2021 = pd.read_csv("datos/datos-2021.csv" , sep=';', encoding='latin-1')
df_diccionario_datos = pd.read_csv("datos/diccionario_datos.csv" , sep=';', encoding='latin-1')

In [484]:
import os

In [487]:
os.listdir('datos/')

['datos-2013.csv',
 'datos-2014.csv',
 'datos-2015.csv',
 'datos-2016.csv',
 'datos-2017.csv',
 'datos-2018.csv',
 'datos-2019.csv',
 'datos-2020.csv',
 'datos-2021.csv',
 'diccionario_datos.csv']

In [490]:
lista_archivos = os.listdir('datos/')[:-1]
lista_archivos

['datos-2013.csv',
 'datos-2014.csv',
 'datos-2015.csv',
 'datos-2016.csv',
 'datos-2017.csv',
 'datos-2018.csv',
 'datos-2019.csv',
 'datos-2020.csv',
 'datos-2021.csv']

In [504]:
def carga_ficheros(lista_ficheros):
    diccionario_datos ={}
    for fichero in lista_ficheros:
        clave = 'df_datos_'+fichero[6:10]
        pd.read_csv(f"datos/{fichero}", sep=';', encoding='latin-1')
        diccionario_datos[clave] = pd.read_csv(f"datos/{fichero}", sep=';', encoding='latin-1')
    return diccionario_datos

In [507]:
diccionario = carga_ficheros(lista_archivos)

In [508]:
diccionario['df_datos_2013']

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC,"0,00","0,00","1297,13","0,00",31/12/2013,2013
1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,"0,00","0,00","26666621,42","0,00",31/12/2013,2013
2,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS E JUROS DE MORA,"0,00","0,00","301251,13","0,00",31/12/2013,2013
3,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIV.ATIVA POR INFRAÇÃO ADMINISTRATIVA,"0,00","0,00","1855,58","0,00",31/12/2013,2013
4,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",OUTRAS RESTITUICOES,"0,00","0,00","52140,68","0,00",31/12/2013,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4493,20000,Presidência da República,20101,Presidência da República,110005,SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS,"0,00","0,00","8,34","0,00",31/12/2013,2013
4494,20000,Presidência da República,64000,Secretaria de Direitos Humanos,200016,SECRETARIA DE DIREITOS HUMANOS/PR,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS,"0,00","0,00","0,28","0,00",31/12/2013,2013
4495,20000,Presidência da República,20101,Presidência da República,110005,SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR,Receitas Correntes,Receita Patrimonial,Exploração do patrimônio imobiliário do Estad,ALUGUEIS,"0,00","0,00","61593,03","0,00",31/12/2013,2013
4496,20000,Presidência da República,20116,Fundo de Imprensa Nacional,110245,FUNDO DE IMPRENSA NACIONAL/EXEC.ORC.FINANC.,Receitas Correntes - intra-orçamentárias,Receita Industrial,Receitas da indústria de transformação,RECEITA DA INDUSTRIA EDITORIAL E GRAFICA,"120839273,00","0,00","161286016,04","133,00",31/12/2013,2013
4497,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Receita de Serviços,CERTIFICACAO DE PRODUTOS E SERVICOS,"500004,00","0,00","1100465,84","220,00",31/12/2013,2013

In [502]:
diccionario_datos['df_datos_2013']

,CÓDIGO ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO,NOME ÓRGÃO,CÓDIGO UNIDADE GESTORA,NOME UNIDADE GESTORA,CATEGORIA ECONÔMICA,ORIGEM RECEITA,ESPÉCIE RECEITA,DETALHAMENTO,VALOR PREVISTO ATUALIZADO,VALOR LANÇADO,VALOR REALIZADO,PERCENTUAL REALIZADO,DATA LANÇAMENTO,ANO EXERCÍCIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC,"0,00","0,00","1297,13","0,00",31/12/2013,2013
1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,"0,00","0,00","26666621,42","0,00",31/12/2013,2013
2,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS E JUROS DE MORA,"0,00","0,00","301251,13","0,00",31/12/2013,2013
3,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIV.ATIVA POR INFRAÇÃO ADMINISTRATIVA,"0,00","0,00","1855,58","0,00",31/12/2013,2013
4,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",OUTRAS RESTITUICOES,"0,00","0,00","52140,68","0,00",31/12/2013,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4493,20000,Presidência da República,20101,Presidência da República,110005,SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS,"0,00","0,00","8,34","0,00",31/12/2013,2013
4494,20000,Presidência da República,64000,Secretaria de Direitos Humanos,200016,SECRETARIA DE DIREITOS HUMANOS/PR,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS,"0,00","0,00","0,28","0,00",31/12/2013,2013
4495,20000,Presidência da República,20101,Presidência da República,110005,SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR,Receitas Correntes,Receita Patrimonial,Exploração do patrimônio imobiliário do Estad,ALUGUEIS,"0,00","0,00","61593,03","0,00",31/12/2013,2013
4496,20000,Presidência da República,20116,Fundo de Imprensa Nacional,110245,FUNDO DE IMPRENSA NACIONAL/EXEC.ORC.FINANC.,Receitas Correntes - intra-orçamentárias,Receita Industrial,Receitas da indústria de transformação,RECEITA DA INDUSTRIA EDITORIAL E GRAFICA,"120839273,00","0,00","161286016,04","133,00",31/12/2013,2013
4497,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Receita de Serviços,CERTIFICACAO DE PRODUTOS E SERVICOS,"500004,00","0,00","1100465,84","220,00",31/12/2013,2013

In [495]:
diccionario_verduras['brocoli'] = 1
diccionario_verduras['tomates'] =4
diccionario_verduras

{'brocoli': 1, 'tomates': 4}

## Comprobación de los nombres de las columnas

In [319]:
lista_columnas = []
lista_columnas.append(list(df_datos_2013.columns))
lista_columnas.append(list(df_datos_2014.columns))
lista_columnas.append(list(df_datos_2015.columns))
lista_columnas.append(list(df_datos_2016.columns))
lista_columnas.append(list(df_datos_2017.columns))
lista_columnas.append(list(df_datos_2018.columns))
lista_columnas.append(list(df_datos_2019.columns))
lista_columnas.append(list(df_datos_2020.columns))
lista_columnas.append(list(df_datos_2021.columns))
lista_columnas[0]==lista_columnas[1] == lista_columnas[2] == lista_columnas[3] == lista_columnas[4] == lista_columnas[5]== lista_columnas[6]== lista_columnas[7]== lista_columnas[8]

True

## Limpieza diccionario datos

In [320]:
df_diccionario_datos

,COLUNA,Unnamed: 1,DESCRIÇÃO,Unnamed: 3
0,NaN,NaN,NaN,NaN
1,Código Órgão Superior,NaN,Código do Órgão Superior responsável pela rece...,NaN
2,NaN,NaN,NaN,NaN
3,NaN,NaN,Nome do Órgão Superior responsável pela receita.,NaN
4,Nome Órgão Superior,NaN,NaN,NaN
...,...,...,...,...
61,Data Lançamento,NaN,Data de lançamento da receita,NaN
62,NaN,NaN,NaN,NaN
63,NaN,NaN,NaN,NaN
64,Exercício,NaN,Exercício a que se referem os valores,NaN
65,NaN,NaN,NaN,NaN

In [321]:
se.reporte(df_diccionario_datos)

La tabla tiene 66 filas y 4 columnas
La tabla tiene 30 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
COLUNA,object,16,50,75.76,16,49
Unnamed: 1,float64,0,66,100.00,0,65
DESCRIÇÃO,object,36,30,45.45,30,35
Unnamed: 3,object,14,52,78.79,12,53

In [322]:
df_diccionario_datos = df_diccionario_datos.drop('Unnamed: 1', axis=1)

In [323]:
df_diccionario_datos

,COLUNA,DESCRIÇÃO,Unnamed: 3
0,NaN,NaN,NaN
1,Código Órgão Superior,Código do Órgão Superior responsável pela rece...,NaN
2,NaN,NaN,NaN
3,NaN,Nome do Órgão Superior responsável pela receita.,NaN
4,Nome Órgão Superior,NaN,NaN
...,...,...,...
61,Data Lançamento,Data de lançamento da receita,NaN
62,NaN,NaN,NaN
63,NaN,NaN,NaN
64,Exercício,Exercício a que se referem os valores,NaN
65,NaN,NaN,NaN

In [324]:
df_diccionario_datos.iloc[(4,1)] = df_diccionario_datos.iloc[(3,1)]
df_diccionario_datos.iloc[(3,1)] = np.nan

In [325]:
df_diccionario_datos

,COLUNA,DESCRIÇÃO,Unnamed: 3
0,NaN,NaN,NaN
1,Código Órgão Superior,Código do Órgão Superior responsável pela rece...,NaN
2,NaN,NaN,NaN
3,NaN,NaN,NaN
4,Nome Órgão Superior,Nome do Órgão Superior responsável pela receita.,NaN
...,...,...,...
61,Data Lançamento,Data de lançamento da receita,NaN
62,NaN,NaN,NaN
63,NaN,NaN,NaN
64,Exercício,Exercício a que se referem os valores,NaN
65,NaN,NaN,NaN

In [326]:
indices_eliminar = df_diccionario_datos[df_diccionario_datos.COLUNA.isnull()][df_diccionario_datos.DESCRIÇÃO.isnull()].index
indices_eliminar

Index([ 0,  2,  3,  5,  7,  9, 12, 13, 15, 17, 18, 20, 29, 38, 39, 41, 43, 45,
       46, 48, 49, 51, 52, 56, 57, 59, 60, 62, 63, 65],
      dtype='int64')

In [327]:
df_diccionario_datos = df_diccionario_datos.drop(indices_eliminar, axis=0) # eliminar filas con todo nulos
df_diccionario_datos = df_diccionario_datos.drop_duplicates() #eliminar duplicados

In [328]:
df_diccionario_datos.loc[(21,'Unnamed: 3')] = df_diccionario_datos.loc[(21,'DESCRIÇÃO')]
df_diccionario_datos.loc[(30,'Unnamed: 3')] = df_diccionario_datos.loc[(30,'DESCRIÇÃO')]

In [329]:
df_descriptivos_columnas = df_diccionario_datos[df_diccionario_datos.DESCRIÇÃO.notnull()][df_diccionario_datos['Unnamed: 3'].isnull()]

In [330]:
display(df_descriptivos_columnas[['COLUNA','DESCRIÇÃO']])

diccionario_detalle_descripción={}
for indice,detalle in enumerate(df_descriptivos_columnas.DESCRIÇÃO.items()):
    diccionario_detalle_descripción.update({indice:detalle})

# Diccionario de traducción manual
traducciones = {
    'Código do Órgão Superior responsável pela receita.': 'Código del Órgano Superior responsable de la recaudación.',
    'Nome do Órgão Superior responsável pela receita.': 'Nombre del Órgano Superior responsable de la recaudación.',
    'Código do Órgão Subordinado responsável pela receita.': 'Código del Órgano Subordinado responsable de la recaudación.',
    'Nome do Órgão Subordinado responsável pela receita.': 'Nombre del Órgano Subordinado responsable de la recaudación.',
    'Código da Unidade Gestora responsável pela receita.': 'Código de la Unidad Gestora responsable de la recaudación.',
    'UNIDADE GESTORA (UG) - Unidade Orçamentária ou Administrativa que realiza atos de gestão orçamentária, financeira e/ou patrimonial, cujo titular, em consequência, está sujeito a tomada de contas anual na conformidade do disposto nos artigos 81 e 82 do Decreto-lei nr. 200, de 25 de fevereiro de 1967.': 'UNIDAD GESTORA (UG) - Unidad Presupuestaria o Administrativa que realiza actos de gestión presupuestaria, financiera y/o patrimonial, cuyo titular, en consecuencia, está sujeto a rendir cuentas anuales de acuerdo con lo dispuesto en los artículos 81 y 82 del Decreto-Ley nº 200, de 25 de febrero de 1967.',
    '\xa0Nome da Unidade Gestora responsável pela receita.': 'Nombre de la Unidad Gestora responsable de la recaudación.',
    '\xa0\x93Receitas Correntes\x94 ou \x93Receitas de Capital\x94': '"Ingresos Corrientes" o "Ingresos de Capital"',
    'Detalhamento das categorias econômicas Receitas Correntes e Receitas de Capital, com vistas a identificar a procedência das receitas no momento em que ingressam nos cofres públicos. \xa0': 'Desglose de las categorías económicas de los Ingresos Corrientes y de Capital, con el objetivo de identificar el origen de los ingresos al momento de su ingreso en las arcas públicas.',
    'Para \x93Receitas Correntes\x94:': 'Para "Ingresos Corrientes":',
    'Para \x93Receitas de Capital\x94:': 'Para "Ingresos de Capital":',
    'Nível de classificação vinculado à origem, permite qualificar com maior detalhe o fato gerador das receitas. Por exemplo, dentro da origem \x93Contribuições\x94, identificam-se as espécies \x93Contribuições Sociais\x94, \x93Contribuições Econômicas\x94 e \x93Contribuições para Entidades Privadas de Serviço Social e de Formação Profissional\x94.': 'Nivel de clasificación vinculado al origen, permite detallar con mayor precisión el hecho generador de los ingresos. Por ejemplo, dentro del origen "Contribuciones", se identifican las especies "Contribuciones Sociales", "Contribuciones Económicas" y "Contribuciones a Entidades Privadas de Servicio Social y Formación Profesional".',
    'Detalhamento de outros níveis da receita': 'Desglose de otros niveles de la recaudación',
    'Orçamento inicial da receita atualizado por mudanças na previsão': 'Presupuesto inicial de los ingresos actualizado por cambios en la previsión.',
    'Valor da receita lançada': 'Valor de los ingresos registrados.',
    'Data de lançamento da receita': 'Fecha de registro de la recaudación.',
    'Exercício a que se referem os valores': 'Ejercicio al que se refieren los valores.',
    'A tabela-resumo com os códigos relacionados às\xa0origens\xa0e\xa0espécies\xa0de receitas encontra-se no item 8.1.3. do Manual Técnico de Orçamento.': 'La tabla resumen con los códigos relacionados con los orígenes y especies de ingresos se encuentra en el ítem 8.1.3 del Manual Técnico de Presupuesto.',
    'Valor resultado da fase de arrecadação/recolhimento da receita.': 'Valor resultante de la fase de recaudación/recolecta de los ingresos.',
    'Na fase da arrecadação, é feita a entrega, pelos contribuintes ou devedores, dos valores devidos ao Governo. Os valores são entregues aos agentes arrecadadores ou bancos autorizados.': 'En la fase de recaudación, los contribuyentes o deudores entregan los valores adeudados al Gobierno. Los valores se entregan a los agentes recaudadores o bancos autorizados.',
    'O recolhimento consiste na entrega dos valores arrecadados, pelos agentes arrecadadores ou bancos autorizados, aos cofres públicos, tornando-os disponíveis na conta única do Tesouro Nacional, para uso pelo Governo.':'La recolección consiste en la entrega de los valores recaudados, por los agentes recaudadores o bancos autorizados, a las arcas públicas, poniéndolos a disposición en la cuenta única del Tesoro Nacional, para su uso por parte del Gobierno.',
    'Valor Arrecadado/ Valor Previsto *100': 'Valor Recaudado/Valor Previsto *100'

}

# Crear un nuevo diccionario con las traducciones
diccionario_traducido = {}
for key, value in diccionario_detalle_descripción.items():
    indice, texto = value
    # Buscar la traducción en el diccionario
    texto_traducido = traducciones.get(texto, texto)  # Si no encuentra traducción, mantiene el original
    diccionario_traducido[key] = (indice, texto_traducido)

# Mostrar el diccionario traducido
print(f'El descriptivo de las columnas es:')
for key, value in diccionario_traducido.items():
    print(f"{df_descriptivos_columnas.iloc[key,0]}: {value}")
    print()

print(f'Las categorias de recetas corrientes y recetas de capital son:')
df_categorias_recetas_corrientes_y_capital= df_diccionario_datos[df_diccionario_datos.DESCRIÇÃO.notnull()][df_diccionario_datos['Unnamed: 3'].notnull()]
df_categorias_recetas_corrientes_y_capital[['DESCRIÇÃO','Unnamed: 3']]

                     COLUNA                                          DESCRIÇÃO
1     Código Órgão Superior  Código do Órgão Superior responsável pela rece...
4       Nome Órgão Superior   Nome do Órgão Superior responsável pela receita.
6              Código Órgão  Código do Órgão Subordinado responsável pela r...
8                Nome Órgão  Nome do Órgão Subordinado responsável pela rec...
10   Código Unidade Gestora  Código da Unidade Gestora responsável pela rec...
11                      NaN  UNIDADE GESTORA (UG) - Unidade Orçamentária ou...
14     Nome Unidade Gestora   Nome da Unidade Gestora responsável pela rece...
16      Categoria Econômica      Receitas Correntes ou Receitas de Capital
19                   Origem  Detalhamento das categorias econômicas Receita...
40                  Espécie  Nível de classificação vinculado à origem, per...
42                      NaN  A tabela-resumo com os códigos relacionados às...
44             Detalhamento           Detalhamento de outros níveis da receita
47           Valor Previsto  Orçamento inicial da receita atualizado por mu...
50            Valor Lançado                           Valor da receita lançada
53          Valor Realizado  Valor resultado da fase de arrecadação/recolhi...
54                      NaN  Na fase da arrecadação, é feita a entrega, pel...
55                      NaN  O recolhimento consiste na entrega dos valores...
58     Percentual Realizado              Valor Arrecadado/ Valor Previsto *100
61          Data Lançamento                      Data de lançamento da receita
64                Exercício              Exercício a que se referem os valores

El descriptivo de las columnas es:
 Código Órgão Superior: (1, 'Código del Órgano Superior responsable de la recaudación.')

 Nome Órgão Superior: (4, 'Nombre del Órgano Superior responsable de la recaudación.')

 Código Órgão: (6, 'Código del Órgano Subordinado responsable de la recaudación.')

 Nome Órgão: (8, 'Nombre del Órgano Subordinado responsable de la recaudación.')

 Código Unidade Gestora: (10, 'Código de la Unidad Gestora responsable de la recaudación.')

nan: (11, 'UNIDAD GESTORA (UG) - Unidad Presupuestaria o Administrativa que realiza actos de gestión presupuestaria, financiera y/o patrimonial, cuyo titular, en consecuencia, está sujeto a rendir cuentas anuales de acuerdo con lo dispuesto en los artículos 81 y 82 del Decreto-Ley nº 200, de 25 de febrero de 1967.')

 Nome Unidade Gestora: (14, 'Nombre de la Unidad Gestora responsable de la recaudación.')

Categoria Econômica: (16, '"Ingresos Corrientes" o "Ingresos de Capital"')

Origem: (19, 'Desglose de las categorías económicas de los Ingresos Corrientes y de Capital, con el objetivo de identificar el origen de los ingresos al momento de su ingreso en las arcas públicas.')

Espécie: (40, 'Nivel de clasificación vinculado al origen, permite detallar con mayor precisión el hecho generador de los ingresos. Por ejemplo, dentro del origen "Contribuciones", se identifican las especies "Contribuciones Sociales", "Contribuciones Económicas" y "Contribuciones a Entidades Privadas de Servicio Social y Formación Profesional".')

nan: (42, 'La tabla resumen con los códigos relacionados con los orígenes y especies de ingresos se encuentra en el ítem 8.1.3 del Manual Técnico de Presupuesto.')

Detalhamento: (44, 'Desglose de otros niveles de la recaudación')

Valor Previsto: (47, 'Presupuesto inicial de los ingresos actualizado por cambios en la previsión.')

Valor Lançado: (50, 'Valor de los ingresos registrados.')

Valor Realizado: (53, 'Valor resultante de la fase de recaudación/recolecta de los ingresos.')

nan: (54, 'En la fase de recaudación, los contribuyentes o deudores entregan los valores adeudados al Gobierno. Los valores se entregan a los agentes recaudadores o bancos autorizados.')

nan: (55, 'La recolección consiste en la entrega de los valores recaudados, por los agentes recaudadores o bancos autorizados, a las arcas públicas, poniéndolos a disposición en la cuenta única del Tesoro Nacional, para su uso por parte del Gobierno.')

Percentual Realizado: (58, 'Valor Recaudado/Valor Previsto *100')

Data Lançamento: (61, 'Fecha de registro de la recaudación.')

Exercício: (64, 'Ejercicio al que se refieren los valores.')

Las categorias de recetas corrientes y recetas de capital son:

                      DESCRIÇÃO                                   Unnamed: 3
21   Para Receitas Correntes:                   Para Receitas Correntes:
22                           1.  Impostos, Taxas e Contribuições de Melhoria
23                           2.                                Contribuições
24                           3.                          Receita Patrimonial
25                           4.                         Receita Agropecuária
26                           5.                           Receita Industrial
27                           6.                          Receita de Serviços
28                           7.                     Transferências Correntes
30  Para Receitas de Capital:                  Para Receitas de Capital:
31                           1.                         Operações de Crédito
32                           2.                            Alienação de Bens
33                           3.                   Amortização de Empréstimos
34                           4.                    Transferências de Capital
35                           9.                   Outras Receitas de Capital

# Anális datos año 2013

In [331]:
se.traducción_columnas(df_datos_2013)

In [332]:
df_datos_2013

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC,"0,00","0,00","1297,13","0,00",31/12/2013,2013
1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,"0,00","0,00","26666621,42","0,00",31/12/2013,2013
2,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS E JUROS DE MORA,"0,00","0,00","301251,13","0,00",31/12/2013,2013
3,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIV.ATIVA POR INFRAÇÃO ADMINISTRATIVA,"0,00","0,00","1855,58","0,00",31/12/2013,2013
4,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",OUTRAS RESTITUICOES,"0,00","0,00","52140,68","0,00",31/12/2013,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4493,20000,Presidência da República,20101,Presidência da República,110005,SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS,"0,00","0,00","8,34","0,00",31/12/2013,2013
4494,20000,Presidência da República,64000,Secretaria de Direitos Humanos,200016,SECRETARIA DE DIREITOS HUMANOS/PR,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS,"0,00","0,00","0,28","0,00",31/12/2013,2013
4495,20000,Presidência da República,20101,Presidência da República,110005,SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR,Receitas Correntes,Receita Patrimonial,Exploração do patrimônio imobiliário do Estad,ALUGUEIS,"0,00","0,00","61593,03","0,00",31/12/2013,2013
4496,20000,Presidência da República,20116,Fundo de Imprensa Nacional,110245,FUNDO DE IMPRENSA NACIONAL/EXEC.ORC.FINANC.,Receitas Correntes - intra-orçamentárias,Receita Industrial,Receitas da indústria de transformação,RECEITA DA INDUSTRIA EDITORIAL E GRAFICA,"120839273,00","0,00","161286016,04","133,00",31/12/2013,2013
4497,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Receita de Serviços,CERTIFICACAO DE PRODUTOS E SERVICOS,"500004,00","0,00","1100465,84","220,00",31/12/2013,2013

In [333]:
se.reporte(df_datos_2013)

La tabla tiene 4498 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,int64,4498,0,0.00,25,4473
NOMBRE_ÓRGANO_SUPERIOR,object,4498,0,0.00,25,4473
CÓDIGO_ÓRGANO,int64,4498,0,0.00,268,4230
NOMBRE_ÓRGANO,object,4498,0,0.00,266,4232
CÓDIGO_UNIDAD_GESTORA,int64,4498,0,0.00,283,4215
NOMBRE_UNIDAD_GESTORA,object,4498,0,0.00,279,4219
CATEGORÍA_ECONÓMICA,object,4498,0,0.00,5,4493
ORIGEN_INGRESO,object,4498,0,0.00,15,4483
TIPO_INGRESO,object,4498,0,0.00,44,4454
DETALLE,object,4498,0,0.00,704,3794
VALOR_PREVISTO_ACTUALIZADO,object,4498,0,0.00,2788,1710
VALOR_REGISTRADO,object,4498,0,0.00,52,4446
VALOR_REALIZADO,object,4498,0,0.00,3738,760
PORCENTAJE_REALIZADO,object,4498,0,0.00,578,3920
FECHA_REGISTRO,object,4498,0,0.00,1,4497
AÑO_EJERCICIO,int64,4498,0,0.00,1,4497

In [334]:
se.conversion_columnas(df_datos_2013)

La tabla tiene 4498 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,object,4498,0,0.00,25,4473
NOMBRE_ÓRGANO_SUPERIOR,object,4498,0,0.00,25,4473
CÓDIGO_ÓRGANO,object,4498,0,0.00,268,4230
NOMBRE_ÓRGANO,object,4498,0,0.00,266,4232
CÓDIGO_UNIDAD_GESTORA,object,4498,0,0.00,283,4215
NOMBRE_UNIDAD_GESTORA,object,4498,0,0.00,279,4219
CATEGORÍA_ECONÓMICA,object,4498,0,0.00,5,4493
ORIGEN_INGRESO,object,4498,0,0.00,15,4483
TIPO_INGRESO,object,4498,0,0.00,44,4454
DETALLE,object,4498,0,0.00,704,3794
VALOR_PREVISTO_ACTUALIZADO,float64,4498,0,0.00,2788,1710
VALOR_REGISTRADO,float64,4498,0,0.00,52,4446
VALOR_REALIZADO,float64,4498,0,0.00,3738,760
PORCENTAJE_REALIZADO,float64,4498,0,0.00,578,3920
FECHA_REGISTRO,datetime64[ns],4498,0,0.00,1,4497
AÑO_EJERCICIO,int64,4498,0,0.00,1,4497

In [335]:
se.analisis_descriptivos_categóricas(df_datos_2013)

Las columnas categóricas son Index(['CÓDIGO_ÓRGANO_SUPERIOR', 'NOMBRE_ÓRGANO_SUPERIOR', 'CÓDIGO_ÓRGANO',
       'NOMBRE_ÓRGANO', 'CÓDIGO_UNIDAD_GESTORA', 'NOMBRE_UNIDAD_GESTORA',
       'CATEGORÍA_ECONÓMICA', 'ORIGEN_INGRESO', 'TIPO_INGRESO', 'DETALLE'],
      dtype='object')
Algunos ejemplos de filas son:

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE
2469,26000,Ministério da Educação,26201,Colégio Pedro II,153167,COLEGIO PEDRO II,Receitas Correntes,Receita Patrimonial,Exploração do patrimônio imobiliário do Estad,ARRENDAMENTOS
724,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170013,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",JUROS MORA DO FUNDAF - REC PARCELAMENT COFINS
2682,26000,Ministério da Educação,26276,Fundação Universidade Federal do Mato Grosso,154045,FUNDACAO UNIVERSIDADE FEDERAL DE MATO GROSSO,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",MULTAS E JUROS DE MORA DE TAXAS DE OCUPACAO
3963,53000,Ministério do Desenvolvimento Regional,53902,Fundo Constitucional de Financiamento do Centr...,537003,FUNDO CONSTITUCIONL DO CENTRO OESTE,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",MULTAS JUR. MORA DIV.ATIVA IR-PESSOA JURIDICA
2621,26000,Ministério da Educação,26278,Fundação Universidade Federal de Pelotas,154047,FUNDACAO UNIVERSIDADE FEDERAL DE PELOTAS,Receitas Correntes,Transferências Correntes,Transferências de Convênios,TRANSF.CONV.DOS MUNICIPIOS E SUAS ENTIDADEDES

Las características de estas columnas son:

,count,unique,top,freq
CÓDIGO_ÓRGANO_SUPERIOR,4498,25,26000,1833
NOMBRE_ÓRGANO_SUPERIOR,4498,25,Ministério da Educação,1833
CÓDIGO_ÓRGANO,4498,268,25000,494
NOMBRE_ÓRGANO,4498,266,Ministério da Economia - Unidades com vínculo ...,494
CÓDIGO_UNIDAD_GESTORA,4498,283,170013,415
NOMBRE_UNIDAD_GESTORA,4498,279,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,415
CATEGORÍA_ECONÓMICA,4498,5,Receitas Correntes,4001
ORIGEN_INGRESO,4498,15,Outras Receitas Correntes,1982
TIPO_INGRESO,4498,44,Receita de Serviços,978
DETALLE,4498,704,RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,214

In [336]:
se.analisis_descriptivos_numéricas(df_datos_2013)

Las columnas no categóricas son Index(['VALOR_PREVISTO_ACTUALIZADO', 'VALOR_REGISTRADO', 'VALOR_REALIZADO',
       'PORCENTAJE_REALIZADO', 'FECHA_REGISTRO', 'AÑO_EJERCICIO'],
      dtype='object')
Algunos ejemplos de filas son:

,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
2373,0.00,0.00,719.23,0.00,2013-12-31,2013
874,302824.00,0.00,24895.70,8.00,2013-12-31,2013
1492,146282.00,0.00,334957.22,229.00,2013-12-31,2013
4197,5061321.00,0.00,0.00,0.00,2013-12-31,2013
1219,0.00,0.00,93.85,0.00,2013-12-31,2013

Las características de estas columnas son:

,count,mean,min,25%,50%,75%,max,std
VALOR_PREVISTO_ACTUALIZADO,4498.00,483470641.69,0.00,0.00,23091.00,1108096.75,610065700590.00,10263685552.73
VALOR_REGISTRADO,4498.00,254014415.66,0.00,0.00,0.00,0.00,295606275807.68,6061874000.84
VALOR_REALIZADO,4498.00,420990155.42,-276398836.04,503.08,48039.96,978151.31,413786247189.79,7658595610.25
PORCENTAJE_REALIZADO,4498.00,999.23,-201.00,0.00,0.00,99.00,1605449.00,26062.60
FECHA_REGISTRO,4498,2013-12-31 00:00:00,2013-12-31 00:00:00,2013-12-31 00:00:00,2013-12-31 00:00:00,2013-12-31 00:00:00,2013-12-31 00:00:00,NaN
AÑO_EJERCICIO,4498.00,2013.00,2013.00,2013.00,2013.00,2013.00,2013.00,0.00

# Anális datos año 2014

In [337]:
se.traducción_columnas(df_datos_2014)

In [338]:
df_datos_2014

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,RECEITA DE HONORÁRIOS DE ADVOGADOS,"0,00","0,00","46699948,08","0,00",31/12/2014,2014
1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",MULTAS E JUROS PREVISTOS EM CONTRATOS,"0,00","0,00","15920,83","0,00",31/12/2014,2014
2,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS E JUROS DE MORA,"0,00","0,00","2195899,92","0,00",31/12/2014,2014
3,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes - intra-orçamentárias,Outras Receitas Correntes,Indenizações e restituições,RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,"0,00","0,00","232,02","0,00",31/12/2014,2014
4,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receita de Serviços,Receita de Serviços,TAR.INSCR.CONCURSOS E PROCESSOS SELETIVOS,"0,00","0,00","367815,01","0,00",31/12/2014,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4548,20000,Presidência da República,20101,Presidência da República,110005,SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",OUTRAS INDENIZACOES,"0,00","0,00","15234,60","0,00",31/12/2014,2014
4549,20000,Presidência da República,20101,Presidência da República,110005,SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR,Receitas Correntes,Receita Patrimonial,Exploração de recursos naturais,ROYAL.EXCED.PROD.PETRO.TERRA QQ SITUACAO,"104491387,00","0,00","0,00","0,00",31/12/2014,2014
4550,20000,Presidência da República,20101,Presidência da República,110005,SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR,Receitas Correntes,Receita Patrimonial,Exploração de recursos naturais,ROY.EXCED.PROD.PETRO.PLATA.COM.ANTES 3/12/12,"219194964,00","0,00","0,00","0,00",31/12/2014,2014
4551,20000,Presidência da República,20101,Presidência da República,110005,SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS,"0,00","0,00","10,89","0,00",31/12/2014,2014
4552,20000,Presidência da República,20101,Presidência da República,110005,SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,VARIACAO CAMBIAL,"0,00","0,00","2909,36","0,00",31/12/2014,2014

In [339]:
se.reporte(df_datos_2014)

La tabla tiene 4553 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,int64,4553,0,0.00,25,4528
NOMBRE_ÓRGANO_SUPERIOR,object,4553,0,0.00,25,4528
CÓDIGO_ÓRGANO,int64,4553,0,0.00,268,4285
NOMBRE_ÓRGANO,object,4553,0,0.00,267,4286
CÓDIGO_UNIDAD_GESTORA,int64,4553,0,0.00,281,4272
NOMBRE_UNIDAD_GESTORA,object,4553,0,0.00,278,4275
CATEGORÍA_ECONÓMICA,object,4553,0,0.00,5,4548
ORIGEN_INGRESO,object,4553,0,0.00,15,4538
TIPO_INGRESO,object,4553,0,0.00,46,4507
DETALLE,object,4553,0,0.00,708,3845
VALOR_PREVISTO_ACTUALIZADO,object,4553,0,0.00,2740,1813
VALOR_REGISTRADO,object,4553,0,0.00,72,4481
VALOR_REALIZADO,object,4553,0,0.00,3726,827
PORCENTAJE_REALIZADO,object,4553,0,0.00,546,4007
FECHA_REGISTRO,object,4553,0,0.00,1,4552
AÑO_EJERCICIO,int64,4553,0,0.00,1,4552

In [340]:
se.conversion_columnas(df_datos_2014)

La tabla tiene 4553 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,object,4553,0,0.00,25,4528
NOMBRE_ÓRGANO_SUPERIOR,object,4553,0,0.00,25,4528
CÓDIGO_ÓRGANO,object,4553,0,0.00,268,4285
NOMBRE_ÓRGANO,object,4553,0,0.00,267,4286
CÓDIGO_UNIDAD_GESTORA,object,4553,0,0.00,281,4272
NOMBRE_UNIDAD_GESTORA,object,4553,0,0.00,278,4275
CATEGORÍA_ECONÓMICA,object,4553,0,0.00,5,4548
ORIGEN_INGRESO,object,4553,0,0.00,15,4538
TIPO_INGRESO,object,4553,0,0.00,46,4507
DETALLE,object,4553,0,0.00,708,3845
VALOR_PREVISTO_ACTUALIZADO,float64,4553,0,0.00,2740,1813
VALOR_REGISTRADO,float64,4553,0,0.00,72,4481
VALOR_REALIZADO,float64,4553,0,0.00,3726,827
PORCENTAJE_REALIZADO,float64,4553,0,0.00,546,4007
FECHA_REGISTRO,datetime64[ns],4553,0,0.00,1,4552
AÑO_EJERCICIO,int64,4553,0,0.00,1,4552

In [341]:
se.analisis_descriptivos_categóricas(df_datos_2014)

Las columnas categóricas son Index(['CÓDIGO_ÓRGANO_SUPERIOR', 'NOMBRE_ÓRGANO_SUPERIOR', 'CÓDIGO_ÓRGANO',
       'NOMBRE_ÓRGANO', 'CÓDIGO_UNIDAD_GESTORA', 'NOMBRE_UNIDAD_GESTORA',
       'CATEGORÍA_ECONÓMICA', 'ORIGEN_INGRESO', 'TIPO_INGRESO', 'DETALLE'],
      dtype='object')
Algunos ejemplos de filas son:

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE
755,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170013,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Impostos,IOF - DEMAIS OPERACOES
714,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170013,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Impostos,REC. DO PRINCIPAL DO IMPOSTO S/ A EXPORTACAO
1710,26000,Ministério da Educação,26241,Universidade Federal do Paraná,153079,UNIVERSIDADE FEDERAL DO PARANA,Receitas Correntes,Transferências Correntes,Transferências de Convênios,TRANSF.CONV.DOS MUNICIPIOS E SUAS ENTIDADEDES
3160,26000,Ministério da Educação,26281,Fundação Universidade Federal de Sergipe,154050,FUNDACAO UNIVERSIDADE FEDERAL DE SERGIPE,Receitas Correntes,Receita de Serviços,Receita de Serviços,SERVICOS DE PROCESSAMENTO DE DADOS
1177,25000,Ministério da Economia,37904,Fundo do Regime Geral da Previdência Social,513001,COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS,Receitas Correntes,Receita Patrimonial,Valores Mobiliários,REMUNERACAO DE DEPOSITOS BANCARIOS

Las características de estas columnas son:

,count,unique,top,freq
CÓDIGO_ÓRGANO_SUPERIOR,4553,25,26000,1841
NOMBRE_ÓRGANO_SUPERIOR,4553,25,Ministério da Educação,1841
CÓDIGO_ÓRGANO,4553,268,25000,482
NOMBRE_ÓRGANO,4553,267,Ministério da Economia - Unidades com vínculo ...,482
CÓDIGO_UNIDAD_GESTORA,4553,281,170013,382
NOMBRE_UNIDAD_GESTORA,4553,278,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,382
CATEGORÍA_ECONÓMICA,4553,5,Receitas Correntes,4095
ORIGEN_INGRESO,4553,15,Outras Receitas Correntes,2050
TIPO_INGRESO,4553,46,Receita de Serviços,973
DETALLE,4553,708,RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,216

In [342]:
se.analisis_descriptivos_numéricas(df_datos_2014)

Las columnas no categóricas son Index(['VALOR_PREVISTO_ACTUALIZADO', 'VALOR_REGISTRADO', 'VALOR_REALIZADO',
       'PORCENTAJE_REALIZADO', 'FECHA_REGISTRO', 'AÑO_EJERCICIO'],
      dtype='object')
Algunos ejemplos de filas son:

,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
2950,0.00,0.00,143102.30,0.00,2014-12-31,2014
1769,0.00,0.00,16.00,0.00,2014-12-31,2014
2885,0.00,0.00,300.00,0.00,2014-12-31,2014
2720,415916187.00,0.00,263649254.50,63.00,2014-12-31,2014
2019,1000000.00,0.00,100000.00,10.00,2014-12-31,2014

Las características de estas columnas son:

,count,mean,min,25%,50%,75%,max,std
VALOR_PREVISTO_ACTUALIZADO,4553.00,525396271.93,0.00,0.00,18862.00,1300000.00,654746947069.00,11072943886.14
VALOR_REGISTRADO,4553.00,278181643.11,0.00,0.00,0.00,0.00,357160677863.97,7027763573.99
VALOR_REALIZADO,4553.00,491665073.43,-624211482.24,292.40,42646.20,960692.70,548491208660.31,10062396210.84
PORCENTAJE_REALIZADO,4553.00,16765.44,-114552.00,0.00,0.00,95.00,72363772.00,1072811.46
FECHA_REGISTRO,4553,2014-12-31 00:00:00,2014-12-31 00:00:00,2014-12-31 00:00:00,2014-12-31 00:00:00,2014-12-31 00:00:00,2014-12-31 00:00:00,NaN
AÑO_EJERCICIO,4553.00,2014.00,2014.00,2014.00,2014.00,2014.00,2014.00,0.00

# Análisis datos año 2015

In [343]:
se.traducción_columnas(df_datos_2015)

In [344]:
se.reporte(df_datos_2015)

La tabla tiene 4523 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,int64,4523,0,0.00,25,4498
NOMBRE_ÓRGANO_SUPERIOR,object,4523,0,0.00,25,4498
CÓDIGO_ÓRGANO,int64,4523,0,0.00,272,4251
NOMBRE_ÓRGANO,object,4523,0,0.00,271,4252
CÓDIGO_UNIDAD_GESTORA,int64,4523,0,0.00,291,4232
NOMBRE_UNIDAD_GESTORA,object,4523,0,0.00,288,4235
CATEGORÍA_ECONÓMICA,object,4523,0,0.00,4,4519
ORIGEN_INGRESO,object,4523,0,0.00,14,4509
TIPO_INGRESO,object,4523,0,0.00,41,4482
DETALLE,object,4523,0,0.00,707,3816
VALOR_PREVISTO_ACTUALIZADO,object,4523,0,0.00,2648,1875
VALOR_REGISTRADO,object,4523,0,0.00,83,4440
VALOR_REALIZADO,object,4523,0,0.00,3744,779
PORCENTAJE_REALIZADO,object,4523,0,0.00,457,4066
FECHA_REGISTRO,object,4523,0,0.00,1,4522
AÑO_EJERCICIO,int64,4523,0,0.00,1,4522

In [345]:
se.conversion_columnas(df_datos_2015)

La tabla tiene 4523 filas y 16 columnas

La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,object,4523,0,0.00,25,4498
NOMBRE_ÓRGANO_SUPERIOR,object,4523,0,0.00,25,4498
CÓDIGO_ÓRGANO,object,4523,0,0.00,272,4251
NOMBRE_ÓRGANO,object,4523,0,0.00,271,4252
CÓDIGO_UNIDAD_GESTORA,object,4523,0,0.00,291,4232
NOMBRE_UNIDAD_GESTORA,object,4523,0,0.00,288,4235
CATEGORÍA_ECONÓMICA,object,4523,0,0.00,4,4519
ORIGEN_INGRESO,object,4523,0,0.00,14,4509
TIPO_INGRESO,object,4523,0,0.00,41,4482
DETALLE,object,4523,0,0.00,707,3816
VALOR_PREVISTO_ACTUALIZADO,float64,4523,0,0.00,2648,1875
VALOR_REGISTRADO,float64,4523,0,0.00,83,4440
VALOR_REALIZADO,float64,4523,0,0.00,3744,779
PORCENTAJE_REALIZADO,float64,4523,0,0.00,457,4066
FECHA_REGISTRO,datetime64[ns],4523,0,0.00,1,4522
AÑO_EJERCICIO,int64,4523,0,0.00,1,4522

In [346]:
se.analisis_descriptivos_categóricas(df_datos_2015)

Las columnas categóricas son Index(['CÓDIGO_ÓRGANO_SUPERIOR', 'NOMBRE_ÓRGANO_SUPERIOR', 'CÓDIGO_ÓRGANO',
       'NOMBRE_ÓRGANO', 'CÓDIGO_UNIDAD_GESTORA', 'NOMBRE_UNIDAD_GESTORA',
       'CATEGORÍA_ECONÓMICA', 'ORIGEN_INGRESO', 'TIPO_INGRESO', 'DETALLE'],
      dtype='object')
Algunos ejemplos de filas son:

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE
2135,26000,Ministério da Educação,26246,Universidade Federal de Santa Catarina,153163,UNIVERSIDADE FEDERAL DE SANTA CATARINA,Receitas Correntes,Transferências Correntes,Transferências de Convênios,TRANSFERENCIAS CONVENIOS DA UNIAO E ENTIDADES
318,24000,"Ministério da Ciência, Tecnologia, Inovações",24209,Centro Nacional de Tecnologia Eletrônica Avanç...,245209,CENTRO NACIONAL DE TECNOLOGIA ELETRONICA AVAN,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",MULTAS E JUROS PREVISTOS EM CONTRATOS
381,52000,Ministério da Defesa,52911,Fundo Aeronáutico,121002,SECRETARIA DE ECON. E FIN.DA AER.- F.AER.,Receitas de Capital,Alienação de Bens,Alienação de bens móveis,ALIENACAO DE MOVEIS E UTENSILIOS
1525,26000,Ministério da Educação,26413,Instituto Federal do Triângulo Mineiro,158099,"INST.FED.DE EDUC.,CIENC.E TEC.DO TRIA.MINEIRO",Receitas Correntes,Receita Agropecuária,Outras receitas agropecuárias,OUTRAS RECEITAS AGROPECUARIAS
2928,26000,Ministério da Educação,26405,Instituto Federal do Ceará,158133,"INST.FED.DE EDUC.,CIENC.E TEC.DO CEARA",Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",MULTAS E JUROS PREVISTOS EM CONTRATOS

Las características de estas columnas son:

,count,unique,top,freq
CÓDIGO_ÓRGANO_SUPERIOR,4523,25,26000,1803
NOMBRE_ÓRGANO_SUPERIOR,4523,25,Ministério da Educação,1803
CÓDIGO_ÓRGANO,4523,272,25000,481
NOMBRE_ÓRGANO,4523,271,Ministério da Economia - Unidades com vínculo ...,481
CÓDIGO_UNIDAD_GESTORA,4523,291,170013,385
NOMBRE_UNIDAD_GESTORA,4523,288,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,385
CATEGORÍA_ECONÓMICA,4523,4,Receitas Correntes,4088
ORIGEN_INGRESO,4523,14,Outras Receitas Correntes,2076
TIPO_INGRESO,4523,41,"Multas administrativas, contratuais e judicia",962
DETALLE,4523,707,RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,225

In [347]:
se.analisis_descriptivos_numéricas(df_datos_2015)

Las columnas no categóricas son Index(['VALOR_PREVISTO_ACTUALIZADO', 'VALOR_REGISTRADO', 'VALOR_REALIZADO',
       'PORCENTAJE_REALIZADO', 'FECHA_REGISTRO', 'AÑO_EJERCICIO'],
      dtype='object')
Algunos ejemplos de filas son:

,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
2577,0.00,0.00,135328.32,0.00,2015-12-31,2015
2121,135794.00,0.00,0.00,0.00,2015-12-31,2015
1353,20470.00,0.00,0.00,0.00,2015-12-31,2015
2988,7922.00,0.00,0.00,0.00,2015-12-31,2015
2418,10388481.00,0.00,10170728.53,98.00,2015-12-31,2015

Las características de estas columnas son:

,count,mean,min,25%,50%,75%,max,std
VALOR_PREVISTO_ACTUALIZADO,4523.00,636486304.58,0.00,0.00,22067.00,1567857.50,902028908307.00,14820313395.21
VALOR_REGISTRADO,4523.00,67940884.69,0.00,0.00,0.00,0.00,54211937114.78,1343559057.18
VALOR_REALIZADO,4523.00,589362231.96,-500851791.00,374.48,44400.05,913270.89,771117711060.95,13048246786.42
PORCENTAJE_REALIZADO,4523.00,336.48,-402.00,0.00,0.00,81.00,745465.00,11303.10
FECHA_REGISTRO,4523,2015-12-31 00:00:00,2015-12-31 00:00:00,2015-12-31 00:00:00,2015-12-31 00:00:00,2015-12-31 00:00:00,2015-12-31 00:00:00,NaN
AÑO_EJERCICIO,4523.00,2015.00,2015.00,2015.00,2015.00,2015.00,2015.00,0.00

# Análisis datos años 2016

In [348]:
se.traducción_columnas(df_datos_2016)

In [349]:
df_datos_2016

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,ENCARGOS LEGAIS PELA INSCR.EM DIV.ATIVA-PRINC,"0,00","0,00","154948,98","0,00",04/04/2016,2016
1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,ONUS DE SUCUMBENCIA-MULTAS E JUROS,"0,00","0,00","80,84","0,00",08/12/2016,2016
2,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL,"0,00","0,00","4996,11","0,00",22/08/2016,2016
3,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Taxas,TAXA DE CONTROLE E FISC.AMBIENTAL-MUL.JUR.,"0,00","0,00","0,77","0,00",21/03/2016,2016
4,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,ONUS DE SUCUMBENCIA-MULTAS E JUROS,"0,00","0,00","23,45","0,00",04/11/2016,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194528,20000,Presidência da República,69000,Secretaria da Micro e Pequena Empresa,690001,SECRETARIA DA MICRO E PEQUENA EMPRESA,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL","0,00","0,00","39661,00","0,00",11/01/2016,2016
194529,20000,Presidência da República,69000,Secretaria da Micro e Pequena Empresa,690001,SECRETARIA DA MICRO E PEQUENA EMPRESA,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL","41879432,00","0,00","0,00","0,00",21/01/2016,2016
194530,20000,Presidência da República,69000,Secretaria da Micro e Pequena Empresa,690001,SECRETARIA DA MICRO E PEQUENA EMPRESA,Receitas Correntes,Receitas Correntes - a classificar,Receitas Correntes - a classificar,Receitas Correntes - a classificar,"0,00","0,00","12303,00","0,00",20/01/2016,2016
194531,20000,Presidência da República,69000,Secretaria da Micro e Pequena Empresa,690001,SECRETARIA DA MICRO E PEQUENA EMPRESA,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RESTIT.DE DESPESAS DE EXERC.ANTERIORES-PRINC.,"0,00","0,00","11,17","0,00",26/02/2016,2016
194532,20000,Presidência da República,69000,Secretaria da Micro e Pequena Empresa,690001,SECRETARIA DA MICRO E PEQUENA EMPRESA,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RESTIT.DE DESPESAS DE EXERC.ANTERIORES-PRINC.,"0,00","0,00","5412,24","0,00",13/01/2016,2016

In [350]:
se.reporte(df_datos_2016)

La tabla tiene 194533 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,int64,194533,0,0.00,25,194508
NOMBRE_ÓRGANO_SUPERIOR,object,194533,0,0.00,25,194508
CÓDIGO_ÓRGANO,int64,194533,0,0.00,270,194263
NOMBRE_ÓRGANO,object,194533,0,0.00,269,194264
CÓDIGO_UNIDAD_GESTORA,int64,194533,0,0.00,296,194237
NOMBRE_UNIDAD_GESTORA,object,194533,0,0.00,293,194240
CATEGORÍA_ECONÓMICA,object,194533,0,0.00,4,194529
ORIGEN_INGRESO,object,194533,0,0.00,14,194519
TIPO_INGRESO,object,194533,0,0.00,44,194489
DETALLE,object,194533,0,0.00,525,194008
VALOR_PREVISTO_ACTUALIZADO,object,194533,0,0.00,1835,192698
VALOR_REGISTRADO,object,194533,0,0.00,1003,193530
VALOR_REALIZADO,object,194533,0,0.00,129122,65411
PORCENTAJE_REALIZADO,object,194533,0,0.00,29,194504
FECHA_REGISTRO,object,194451,82,0.04,360,194172
AÑO_EJERCICIO,int64,194533,0,0.00,1,194532

In [351]:
se.conversion_columnas(df_datos_2016)

La tabla tiene 194533 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,object,194533,0,0.00,25,194508
NOMBRE_ÓRGANO_SUPERIOR,object,194533,0,0.00,25,194508
CÓDIGO_ÓRGANO,object,194533,0,0.00,270,194263
NOMBRE_ÓRGANO,object,194533,0,0.00,269,194264
CÓDIGO_UNIDAD_GESTORA,object,194533,0,0.00,296,194237
NOMBRE_UNIDAD_GESTORA,object,194533,0,0.00,293,194240
CATEGORÍA_ECONÓMICA,object,194533,0,0.00,4,194529
ORIGEN_INGRESO,object,194533,0,0.00,14,194519
TIPO_INGRESO,object,194533,0,0.00,44,194489
DETALLE,object,194533,0,0.00,525,194008
VALOR_PREVISTO_ACTUALIZADO,float64,194533,0,0.00,1835,192698
VALOR_REGISTRADO,float64,194533,0,0.00,1003,193530
VALOR_REALIZADO,float64,194533,0,0.00,129122,65411
PORCENTAJE_REALIZADO,float64,194533,0,0.00,29,194504
FECHA_REGISTRO,datetime64[ns],194451,82,0.04,360,194172
AÑO_EJERCICIO,int64,194533,0,0.00,1,194532

In [352]:
se.analisis_descriptivos_categóricas(df_datos_2016)

Las columnas categóricas son Index(['CÓDIGO_ÓRGANO_SUPERIOR', 'NOMBRE_ÓRGANO_SUPERIOR', 'CÓDIGO_ÓRGANO',
       'NOMBRE_ÓRGANO', 'CÓDIGO_UNIDAD_GESTORA', 'NOMBRE_UNIDAD_GESTORA',
       'CATEGORÍA_ECONÓMICA', 'ORIGEN_INGRESO', 'TIPO_INGRESO', 'DETALLE'],
      dtype='object')
Algunos ejemplos de filas son:

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE
125806,26000,Ministério da Educação,26272,Fundação Universidade do Maranhão,154041,FUNDACAO UNIVERSIDADE DO MARANHAO,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.
182474,44000,Ministério do Meio Ambiente,44207,Instituto Chico Mendes de Conservação da Biodi...,443032,INST.CHICO MENDES DE CONSER.DA BIODIVERSIDADE,Receitas Correntes,Receita Agropecuária,Receita Agropecuária,RECEITA AGROPECUARIA-PRINCIPAL
49842,25000,Ministério da Economia,25201,Banco Central do Brasil - Orçamento Fiscal e S...,173057,BANCO CENTRAL DO BRASIL,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",OUTRAS RESTITUICOES-PRINCIPAL
72969,26000,Ministério da Educação,26244,Universidade Federal do Rio Grande do Sul,153114,UNIVERSIDADE FEDERAL DO RIO GRANDE DO SUL,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL
79299,26000,Ministério da Educação,26243,Universidade Federal do Rio Grande do Norte,153103,UNIVERSIDADE FEDERAL DO RIO GRANDE DO NORTE,Receitas Correntes,Receita Patrimonial,Exploração do patrimônio imobiliário do Estad,ALUGUEIS E ARRENDAMENTOS-PRINCIPAL

Las características de estas columnas son:

,count,unique,top,freq
CÓDIGO_ÓRGANO_SUPERIOR,194533,25,26000,71840
NOMBRE_ÓRGANO_SUPERIOR,194533,25,Ministério da Educação,71840
CÓDIGO_ÓRGANO,194533,270,25000,13749
NOMBRE_ÓRGANO,194533,269,Ministério da Economia - Unidades com vínculo ...,13749
CÓDIGO_UNIDAD_GESTORA,194533,296,170013,11126
NOMBRE_UNIDAD_GESTORA,194533,293,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,11126
CATEGORÍA_ECONÓMICA,194533,4,Receitas Correntes,186687
ORIGEN_INGRESO,194533,14,Outras Receitas Correntes,70647
TIPO_INGRESO,194533,44,Serviços Administrativos e Comerciais Gerais,54941
DETALLE,194533,525,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,30237

In [353]:
se.analisis_descriptivos_numéricas(df_datos_2016)

Las columnas no categóricas son Index(['VALOR_PREVISTO_ACTUALIZADO', 'VALOR_REGISTRADO', 'VALOR_REALIZADO',
       'PORCENTAJE_REALIZADO', 'FECHA_REGISTRO', 'AÑO_EJERCICIO'],
      dtype='object')
Algunos ejemplos de filas son:

,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
158956,0.00,0.00,227.10,0.00,2016-09-02,2016
77969,0.00,0.00,1470.00,0.00,2016-11-25,2016
13711,0.00,0.00,3495.18,0.00,2016-07-01,2016
57490,0.00,0.00,54.00,0.00,2016-03-09,2016
119310,0.00,0.00,26649.52,0.00,2016-01-18,2016

Las características de estas columnas son:

,count,mean,min,25%,50%,75%,max,std
VALOR_PREVISTO_ACTUALIZADO,194533.00,15178382.32,0.00,0.00,0.00,0.00,883028610465.00,2369675090.79
VALOR_REGISTRADO,194533.00,1675542.08,-54211937114.78,0.00,0.00,0.00,93962415840.26,438666130.99
VALOR_REALIZADO,194533.00,14597582.84,-156285934188.03,200.00,2064.00,27498.81,199853249683.03,880776162.79
PORCENTAJE_REALIZADO,194533.00,0.01,-8.00,0.00,0.00,0.00,385.00,1.23
FECHA_REGISTRO,194451,2016-06-29 04:03:52.605643520,2016-01-01 00:00:00,2016-03-30 00:00:00,2016-06-29 00:00:00,2016-09-29 00:00:00,2016-12-31 00:00:00,NaN
AÑO_EJERCICIO,194533.00,2016.00,2016.00,2016.00,2016.00,2016.00,2016.00,0.00

In [354]:
df_datos_2016[df_datos_2016.FECHA_REGISTRO.isnull()]

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
18141,24000,"Ministério da Ciência, Tecnologia, Inovações",20501,Conselho Nacional de Desenvolvimento Científic...,364102,CONSELHO NAC DE DESENV CIENT E TECNOLOGICO,Receitas de Capital,Operações de Crédito,Operações de crédito - mercado interno,EMPRÉSTIMOS COMPULSÓRIOS,0.00,36657.22,0.00,0.00,NaT,2016
37397,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Impostos,IOF - COMERCIALIZACAO DO OURO,0.00,249022.96,0.00,0.00,NaT,2016
37458,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Impostos,RECEITA DE PARCELAMENTOS - IMPOSTO EXPORTACAO,0.00,32871685.87,0.00,0.00,NaT,2016
38173,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Impostos,RETIDO NAS FONTES - CAPITAL,0.00,1753180807.51,0.00,0.00,NaT,2016
38403,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Impostos,IRRF-TRABALHO,0.00,224278206.05,0.00,0.00,NaT,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162740,41000,Ministério das Comunicações,41000,Ministério das Comunicações - Unidades com vín...,410003,COORDENACAO-GERAL DE RECURSOS LOGISTICOS,Receitas de Capital,Operações de Crédito,Operações de crédito - mercado interno,EMPRÉSTIMOS COMPULSÓRIOS,0.00,5915.82,0.00,0.00,NaT,2016
171364,32000,Ministério de Minas e Energia,29208,Companhia de Pesquisa de Recursos Minerais,495001,COMPANHIA DE PESQUISA DE RECURSOS MINERAIS,Receitas Correntes,Receitas Correntes - a classificar,Receitas Correntes - a classificar,Receitas Correntes - a classificar,0.00,1681343.49,0.00,0.00,NaT,2016
172316,32000,Ministério de Minas e Energia,32210,Agência Nacional de Energia Elétrica,323028,AGENCIA NACIONAL DE ENERGIA ELETRICA,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Taxas,TAXA FISCAL. DOS SERVICOS DE ENERGIA ELETRICA,0.00,44771661.72,0.00,0.00,NaT,2016
186873,44000,Ministério do Meio Ambiente,20701,Instituto Brasileiro do Meio Ambiente e dos Re...,193107,IBAMA - SUPERINTENDENCIA DO ESPIRITO SANTO/ES,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Taxas,TAXA DE CONTROLE E FISCALIZACAO AMBIENTAL,0.00,900.00,0.00,0.00,NaT,2016
189917,54000,Ministério do Turismo,20203,Agência Nacional do Cinema,203003,AGENCIA NACIONAL DO CINEMA,Receitas Correntes,Contribuições,Contribuições econômicas,RECEITA VEICULACAO DE OBRAS CINEMATOGRAFICAS,0.00,5074344.78,0.00,0.00,NaT,2016

In [355]:
df_datos_2016[df_datos_2016.index>18139]

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
18140,24000,"Ministério da Ciência, Tecnologia, Inovações",20301,Comissão Nacional de Energia Nuclear,113209,CNEN-ORCAMENTO E FINANCAS,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Taxas,"TAXAS INSPECAO,CONTROLE E FISCALIZ.-MUL.JUR.",0.00,0.00,1235.43,0.00,2016-01-26,2016
18141,24000,"Ministério da Ciência, Tecnologia, Inovações",20501,Conselho Nacional de Desenvolvimento Científic...,364102,CONSELHO NAC DE DESENV CIENT E TECNOLOGICO,Receitas de Capital,Operações de Crédito,Operações de crédito - mercado interno,EMPRÉSTIMOS COMPULSÓRIOS,0.00,36657.22,0.00,0.00,NaT,2016
18142,24000,"Ministério da Ciência, Tecnologia, Inovações",24901,Fundo Nacional de Desenvolvimento Científico e...,240901,FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO,Receitas Correntes,Contribuições,Contribuições econômicas,CONTR.S/FATUR.EMPR.INFO.INST.DEM.REG.-PRINC.,0.00,0.00,803386.95,0.00,2016-04-28,2016
18143,24000,"Ministério da Ciência, Tecnologia, Inovações",24901,Fundo Nacional de Desenvolvimento Científico e...,240901,FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO,Receitas Correntes,Contribuições,Contribuições econômicas,CONTR.S/FATUR.EMPR.INFO.INST.DEM.REG.-PRINC.,0.00,0.00,4023379.35,0.00,2016-07-25,2016
18144,24000,"Ministério da Ciência, Tecnologia, Inovações",24901,Fundo Nacional de Desenvolvimento Científico e...,240901,FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO,Receitas Correntes,Contribuições,Contribuições econômicas,CONTR.S/FATUR.EMPR.INFO.INST.DEM.REG.-PRINC.,0.00,0.00,16929.96,0.00,2016-04-20,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194528,20000,Presidência da República,69000,Secretaria da Micro e Pequena Empresa,690001,SECRETARIA DA MICRO E PEQUENA EMPRESA,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL",0.00,0.00,39661.00,0.00,2016-01-11,2016
194529,20000,Presidência da República,69000,Secretaria da Micro e Pequena Empresa,690001,SECRETARIA DA MICRO E PEQUENA EMPRESA,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL",41879432.00,0.00,0.00,0.00,2016-01-21,2016
194530,20000,Presidência da República,69000,Secretaria da Micro e Pequena Empresa,690001,SECRETARIA DA MICRO E PEQUENA EMPRESA,Receitas Correntes,Receitas Correntes - a classificar,Receitas Correntes - a classificar,Receitas Correntes - a classificar,0.00,0.00,12303.00,0.00,2016-01-20,2016
194531,20000,Presidência da República,69000,Secretaria da Micro e Pequena Empresa,690001,SECRETARIA DA MICRO E PEQUENA EMPRESA,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RESTIT.DE DESPESAS DE EXERC.ANTERIORES-PRINC.,0.00,0.00,11.17,0.00,2016-02-26,2016
194532,20000,Presidência da República,69000,Secretaria da Micro e Pequena Empresa,690001,SECRETARIA DA MICRO E PEQUENA EMPRESA,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RESTIT.DE DESPESAS DE EXERC.ANTERIORES-PRINC.,0.00,0.00,5412.24,0.00,2016-01-13,2016

# Análisis datos año 2017

In [356]:
se.traducción_columnas(df_datos_2017)

In [357]:
df_datos_2017.sample(5)

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
111668,26000,Ministério da Educação,26285,Fundação Universidade Federal de São João Del-Rei,154069,FUNDACAO UNIVERSIDADE FEDERAL DE S.J.DEL-REI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,"0,00","0,00","120,00","0,00",13/02/2017,2017
43632,25000,Ministério da Economia,37202,Instituto Nacional do Seguro Social,510001,"COORD.GERAL DE ORCAMENTO, FINANCAS E CONTAB.",Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RESTIT.DE BENEFICIOS PREVIDENCIARIOS-PRINC.,"0,00","0,00","110220,29","0,00",24/03/2017,2017
165424,35000,Ministério das Relações Exteriores,35000,Ministério das Relações Exteriores - Unidades ...,240005,COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MRE,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Taxas,"TAXAS INSPEÇÃO,CONTROLE E FISCALIZAÇÃO-PRINC.","0,00","0,00","3456851,42","0,00",31/08/2017,2017
152324,36000,Ministério da Saúde,36000,Ministério da Saúde - Unidades com vínculo direto,250088,SPO-COORD.-GERAL DE ORC.E FINANCAS/MS,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",OUTRAS RESTITUICOES-MULTAS E JUROS,"0,00","0,00","54570,96","0,00",31/08/2017,2017
18394,24000,"Ministério da Ciência, Tecnologia, Inovações",24901,Fundo Nacional de Desenvolvimento Científico e...,240901,FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO,Receitas Correntes,Contribuições,Contribuições econômicas,CONTR.S/REC.BRT EMP.PREST.SERV.TELECOM-PRINC.,"0,00","0,00","464,35","0,00",21/11/2017,2017

In [358]:
se.reporte(df_datos_2017)

La tabla tiene 190479 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,int64,190479,0,0.00,24,190455
NOMBRE_ÓRGANO_SUPERIOR,object,190479,0,0.00,24,190455
CÓDIGO_ÓRGANO,int64,190479,0,0.00,271,190208
NOMBRE_ÓRGANO,object,190479,0,0.00,268,190211
CÓDIGO_UNIDAD_GESTORA,int64,190479,0,0.00,324,190155
NOMBRE_UNIDAD_GESTORA,object,190479,0,0.00,318,190161
CATEGORÍA_ECONÓMICA,object,190479,0,0.00,5,190474
ORIGEN_INGRESO,object,190479,0,0.00,15,190464
TIPO_INGRESO,object,190479,0,0.00,47,190432
DETALLE,object,190479,0,0.00,516,189963
VALOR_PREVISTO_ACTUALIZADO,object,190479,0,0.00,1827,188652
VALOR_REGISTRADO,object,190479,0,0.00,1043,189436
VALOR_REALIZADO,object,190479,0,0.00,128532,61947
PORCENTAJE_REALIZADO,object,190479,0,0.00,24,190455
FECHA_REGISTRO,object,190393,86,0.05,365,190113
AÑO_EJERCICIO,int64,190479,0,0.00,1,190478

In [359]:
se.conversion_columnas(df_datos_2017)

La tabla tiene 190479 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,object,190479,0,0.00,24,190455
NOMBRE_ÓRGANO_SUPERIOR,object,190479,0,0.00,24,190455
CÓDIGO_ÓRGANO,object,190479,0,0.00,271,190208
NOMBRE_ÓRGANO,object,190479,0,0.00,268,190211
CÓDIGO_UNIDAD_GESTORA,object,190479,0,0.00,324,190155
NOMBRE_UNIDAD_GESTORA,object,190479,0,0.00,318,190161
CATEGORÍA_ECONÓMICA,object,190479,0,0.00,5,190474
ORIGEN_INGRESO,object,190479,0,0.00,15,190464
TIPO_INGRESO,object,190479,0,0.00,47,190432
DETALLE,object,190479,0,0.00,516,189963
VALOR_PREVISTO_ACTUALIZADO,float64,190479,0,0.00,1827,188652
VALOR_REGISTRADO,float64,190479,0,0.00,1043,189436
VALOR_REALIZADO,float64,190479,0,0.00,128532,61947
PORCENTAJE_REALIZADO,float64,190479,0,0.00,24,190455
FECHA_REGISTRO,datetime64[ns],190393,86,0.05,365,190113
AÑO_EJERCICIO,int64,190479,0,0.00,1,190478

In [360]:
se.analisis_descriptivos_categóricas(df_datos_2017)

Las columnas categóricas son Index(['CÓDIGO_ÓRGANO_SUPERIOR', 'NOMBRE_ÓRGANO_SUPERIOR', 'CÓDIGO_ÓRGANO',
       'NOMBRE_ÓRGANO', 'CÓDIGO_UNIDAD_GESTORA', 'NOMBRE_UNIDAD_GESTORA',
       'CATEGORÍA_ECONÓMICA', 'ORIGEN_INGRESO', 'TIPO_INGRESO', 'DETALLE'],
      dtype='object')
Algunos ejemplos de filas son:

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE
7998,22000,"Ministério da Agricultura, Pecuária e Abastec",22905,Fundo de Defesa da Economia Cafeeira,130137,FUNDO DE DEFESA DA ECON.CAFEEIRA/FUNCAFE/SPA,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,OUTRAS RECEITAS-PRIMARIAS-DIV.ATIVA-MUL.JUR.
27131,52000,Ministério da Defesa,52121,Comando do Exército,160075,D CONT - SETORIAL FINANCEIRA,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RESTIT.DE DESPESAS DE EXERC.ANTERIORES-PRINC.
165602,35000,Ministério das Relações Exteriores,35000,Ministério das Relações Exteriores - Unidades ...,240005,COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MRE,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Taxas,"TAXAS INSPEÇÃO,CONTROLE E FISCALIZAÇÃO-PRINC."
45817,25000,Ministério da Economia,37202,Instituto Nacional do Seguro Social,510001,"COORD.GERAL DE ORCAMENTO, FINANCAS E CONTAB.",Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",OUTRAS INDENIZACOES-PRINCIPAL
95789,26000,Ministério da Educação,26278,Fundação Universidade Federal de Pelotas,154047,FUNDACAO UNIVERSIDADE FEDERAL DE PELOTAS,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RESTIT.DE DESPESAS DE EXERC.ANTERIORES-PRINC.

Las características de estas columnas son:

,count,unique,top,freq
CÓDIGO_ÓRGANO_SUPERIOR,190479,24,26000,70837
NOMBRE_ÓRGANO_SUPERIOR,190479,24,Ministério da Educação,70837
CÓDIGO_ÓRGANO,190479,271,25000,14158
NOMBRE_ÓRGANO,190479,268,Ministério da Economia - Unidades com vínculo ...,14158
CÓDIGO_UNIDAD_GESTORA,190479,324,170013,11227
NOMBRE_UNIDAD_GESTORA,190479,318,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,11227
CATEGORÍA_ECONÓMICA,190479,5,Receitas Correntes,182668
ORIGEN_INGRESO,190479,15,Outras Receitas Correntes,68818
TIPO_INGRESO,190479,47,Serviços Administrativos e Comerciais Gerais,51633
DETALLE,190479,516,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,29841

In [361]:
se.analisis_descriptivos_numéricas(df_datos_2017)

Las columnas no categóricas son Index(['VALOR_PREVISTO_ACTUALIZADO', 'VALOR_REGISTRADO', 'VALOR_REALIZADO',
       'PORCENTAJE_REALIZADO', 'FECHA_REGISTRO', 'AÑO_EJERCICIO'],
      dtype='object')
Algunos ejemplos de filas son:

,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
126376,0.00,0.00,307.00,0.00,2017-10-04,2017
28724,0.00,0.00,143599.49,0.00,2017-06-29,2017
73042,0.00,0.00,5366.32,0.00,2017-10-23,2017
95165,0.00,0.00,705.00,0.00,2017-06-29,2017
62763,0.00,0.00,14092.01,0.00,2017-10-17,2017

Las características de estas columnas son:

,count,mean,min,25%,50%,75%,max,std
VALOR_PREVISTO_ACTUALIZADO,190479.00,17925228.58,-214773743.00,0.00,0.00,0.00,925084468997.00,2790439139.17
VALOR_REGISTRADO,190479.00,2414426.20,-12957230886.98,0.00,0.00,0.00,84511925102.12,283840022.29
VALOR_REALIZADO,190479.00,13429550.83,-24922519115.56,216.81,2234.20,29537.58,100717273794.67,428785098.18
PORCENTAJE_REALIZADO,190479.00,0.01,0.00,0.00,0.00,0.00,742.00,1.85
FECHA_REGISTRO,190393,2017-06-29 20:17:41.055815936,2017-01-01 00:00:00,2017-03-30 00:00:00,2017-06-30 00:00:00,2017-09-28 00:00:00,2017-12-31 00:00:00,NaN
AÑO_EJERCICIO,190479.00,2017.00,2017.00,2017.00,2017.00,2017.00,2017.00,0.00

In [362]:
df_datos_2017[df_datos_2017.FECHA_REGISTRO.isnull()]

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
17262,24000,"Ministério da Ciência, Tecnologia, Inovações",20501,Conselho Nacional de Desenvolvimento Científic...,364102,CONSELHO NAC DE DESENV CIENT E TECNOLOGICO,Receitas de Capital,Operações de Crédito,Operações de crédito - mercado interno,EMPRÉSTIMOS COMPULSÓRIOS,0.00,36657.22,0.00,0.00,NaT,2017
36136,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,Contribuições,Contribuições sociais,CONTRIB.PATR.DE SERV.ATIVO CIV.P/RPPS-MUL.JUR,0.00,8.05,0.00,0.00,NaT,2017
36570,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,Contribuições,Contribuições sociais,CONTRIBUIÇÃO PARA O PIS/PASEP-MULTAS E JUROS,0.00,4439826801.31,0.00,0.00,NaT,2017
36611,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,Contribuições,Contribuições sociais,CONTRIBUIÇÃO INDUSTRIAL RURAL-PRINCIPAL,0.00,86326071.76,0.00,0.00,NaT,2017
37932,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Impostos,IRRF-TRABALHO-PRINCIPAL,0.00,2169097019.54,0.00,0.00,NaT,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160937,41000,Ministério das Comunicações,41000,Ministério das Comunicações - Unidades com vín...,410003,COORDENACAO-GERAL DE RECURSOS LOGISTICOS,Receitas de Capital,Operações de Crédito,Operações de crédito - mercado interno,EMPRÉSTIMOS COMPULSÓRIOS,0.00,5915.82,0.00,0.00,NaT,2017
170022,32000,Ministério de Minas e Energia,32210,Agência Nacional de Energia Elétrica,323028,AGENCIA NACIONAL DE ENERGIA ELETRICA,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Taxas,"TAXAS INSPEÇÃO,CONTROLE E FISCALIZAÇÃO-PRINC.",0.00,4826200.91,0.00,0.00,NaT,2017
170189,32000,Ministério de Minas e Energia,32210,Agência Nacional de Energia Elétrica,323028,AGENCIA NACIONAL DE ENERGIA ELETRICA,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Taxas,TAXA FISCAL. DOS SERVICOS DE ENERGIA ELETRICA,0.00,44771661.72,0.00,0.00,NaT,2017
183381,44000,Ministério do Meio Ambiente,20701,Instituto Brasileiro do Meio Ambiente e dos Re...,193107,IBAMA - SUPERINTENDENCIA DO ESPIRITO SANTO/ES,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Taxas,TAXA DE CONTROLE E FISCALIZACAO AMBIENTAL,0.00,900.00,0.00,0.00,NaT,2017
186669,54000,Ministério do Turismo,20203,Agência Nacional do Cinema,203003,AGENCIA NACIONAL DO CINEMA,Receitas Correntes,Contribuições,Contribuições econômicas,RECEITA VEICULACAO DE OBRAS CINEMATOGRAFICAS,0.00,5074344.78,0.00,0.00,NaT,2017

# Análisis datos año 2018

In [363]:
se.traducción_columnas(df_datos_2018)

In [364]:
df_datos_2018.sample(5)

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
76091,26000,Ministério da Educação,26233,Universidade Federal do Ceará,153045,UNIVERSIDADE FEDERAL DO CEARA,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",OUTRAS RESTITUICOES-PRINCIPAL,"0,00","0,00","2891,34","0,00",19/03/2018,2018
80016,26000,Ministério da Educação,26250,Universidade Federal de Roraima,154080,UNIVERSIDADE FEDERAL DE RORAIMA,Receitas Correntes,Receita Patrimonial,Exploração do patrimônio imobiliário do Estad,ALUGUEIS E ARRENDAMENTOS-PRINCIPAL,"0,00","0,00","7862,17","0,00",15/02/2018,2018
51821,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170013,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Taxas,TAXA DE FISCALIZAÇÃO DE INSTALAÇÃO-DÍV.ATIVA,"0,00","0,00","144,76","0,00",31/07/2018,2018
66748,26000,Ministério da Educação,26263,Universidade Federal de Lavras,153032,UNIVERSIDADE FEDERAL DE LAVRAS,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,SERVICOS DE INFORMACAO E TECNOLOGIA-PRINCIPAL,"0,00","0,00","3077,49","0,00",08/10/2018,2018
4235,22000,"Ministério da Agricultura, Pecuária e Abastec",22202,Empresa Brasileira de Pesquisa Agropecuária,135037,EMBRAPA-SETORIAL,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,"0,00","0,00","3140,90","0,00",10/10/2018,2018

In [365]:
se.reporte(df_datos_2018)

La tabla tiene 173944 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,int64,173944,0,0.00,22,173922
NOMBRE_ÓRGANO_SUPERIOR,object,173944,0,0.00,22,173922
CÓDIGO_ÓRGANO,int64,173944,0,0.00,261,173683
NOMBRE_ÓRGANO,object,173944,0,0.00,260,173684
CÓDIGO_UNIDAD_GESTORA,int64,173944,0,0.00,314,173630
NOMBRE_UNIDAD_GESTORA,object,173944,0,0.00,312,173632
CATEGORÍA_ECONÓMICA,object,173944,0,0.00,5,173939
ORIGEN_INGRESO,object,173944,0,0.00,15,173929
TIPO_INGRESO,object,173944,0,0.00,47,173897
DETALLE,object,173944,0,0.00,608,173336
VALOR_PREVISTO_ACTUALIZADO,object,173944,0,0.00,1846,172098
VALOR_REGISTRADO,object,173944,0,0.00,828,173116
VALOR_REALIZADO,object,173944,0,0.00,121803,52141
PORCENTAJE_REALIZADO,object,173944,0,0.00,12,173932
FECHA_REGISTRO,object,173829,115,0.07,365,173578
AÑO_EJERCICIO,int64,173944,0,0.00,1,173943

In [366]:
se.conversion_columnas(df_datos_2018)

La tabla tiene 173944 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,object,173944,0,0.00,22,173922
NOMBRE_ÓRGANO_SUPERIOR,object,173944,0,0.00,22,173922
CÓDIGO_ÓRGANO,object,173944,0,0.00,261,173683
NOMBRE_ÓRGANO,object,173944,0,0.00,260,173684
CÓDIGO_UNIDAD_GESTORA,object,173944,0,0.00,314,173630
NOMBRE_UNIDAD_GESTORA,object,173944,0,0.00,312,173632
CATEGORÍA_ECONÓMICA,object,173944,0,0.00,5,173939
ORIGEN_INGRESO,object,173944,0,0.00,15,173929
TIPO_INGRESO,object,173944,0,0.00,47,173897
DETALLE,object,173944,0,0.00,608,173336
VALOR_PREVISTO_ACTUALIZADO,float64,173944,0,0.00,1846,172098
VALOR_REGISTRADO,float64,173944,0,0.00,828,173116
VALOR_REALIZADO,float64,173944,0,0.00,121803,52141
PORCENTAJE_REALIZADO,float64,173944,0,0.00,12,173932
FECHA_REGISTRO,datetime64[ns],173829,115,0.07,365,173578
AÑO_EJERCICIO,int64,173944,0,0.00,1,173943

In [367]:
se.analisis_descriptivos_categóricas(df_datos_2018)

Las columnas categóricas son Index(['CÓDIGO_ÓRGANO_SUPERIOR', 'NOMBRE_ÓRGANO_SUPERIOR', 'CÓDIGO_ÓRGANO',
       'NOMBRE_ÓRGANO', 'CÓDIGO_UNIDAD_GESTORA', 'NOMBRE_UNIDAD_GESTORA',
       'CATEGORÍA_ECONÓMICA', 'ORIGEN_INGRESO', 'TIPO_INGRESO', 'DETALLE'],
      dtype='object')
Algunos ejemplos de filas son:

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE
89207,26000,Ministério da Educação,26236,Universidade Federal Fluminense,153056,UNIVERSIDADE FEDERAL FLUMINENSE,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.
58880,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170013,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RESTIT.DEC.APLIC.IRREG.REC.ELEITORAIS-PRINC.
85982,26000,Ministério da Educação,26271,Fundação Universidade de Brasília,154040,FUNDACAO UNIVERSIDADE DE BRASILIA - FUB,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",MULTAS PREVISTAS EM LEGISL.ESPECIFICA-PRINC.
116585,26000,Ministério da Educação,26241,Universidade Federal do Paraná,153079,UNIVERSIDADE FEDERAL DO PARANA,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-MUL.JUR.
114210,26000,Ministério da Educação,26418,Instituto Federal de Pernambuco,158136,"INST.FED.DE EDUC.,CIENC.E TEC.DE PERNAMBUCO",Receitas Correntes,Receita Agropecuária,Receita Agropecuária,RECEITA AGROPECUÁRIA-PRINCIPAL

Las características de estas columnas son:

,count,unique,top,freq
CÓDIGO_ÓRGANO_SUPERIOR,173944,22,26000,65876
NOMBRE_ÓRGANO_SUPERIOR,173944,22,Ministério da Educação,65876
CÓDIGO_ÓRGANO,173944,261,25000,22844
NOMBRE_ÓRGANO,173944,260,Ministério da Economia - Unidades com vínculo ...,22844
CÓDIGO_UNIDAD_GESTORA,173944,314,170013,21206
NOMBRE_UNIDAD_GESTORA,173944,312,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,21206
CATEGORÍA_ECONÓMICA,173944,5,Receitas Correntes,165585
ORIGEN_INGRESO,173944,15,Receita de Serviços,58581
TIPO_INGRESO,173944,47,Serviços Administrativos e Comerciais Gerais,51444
DETALLE,173944,608,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,29257

In [368]:
se.analisis_descriptivos_numéricas(df_datos_2018)

Las columnas no categóricas son Index(['VALOR_PREVISTO_ACTUALIZADO', 'VALOR_REGISTRADO', 'VALOR_REALIZADO',
       'PORCENTAJE_REALIZADO', 'FECHA_REGISTRO', 'AÑO_EJERCICIO'],
      dtype='object')
Algunos ejemplos de filas son:

,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
94267,0.00,0.00,5578.00,0.00,2018-08-31,2018
90169,0.00,0.00,4247.93,0.00,2018-06-29,2018
27199,0.00,0.00,33459.54,0.00,2018-11-14,2018
74436,0.00,0.00,660.64,0.00,2018-06-20,2018
122171,0.00,0.00,9098.00,0.00,2018-11-19,2018

Las características de estas columnas son:

,count,mean,min,25%,50%,75%,max,std
VALOR_PREVISTO_ACTUALIZADO,173944.00,20153890.52,0.00,0.00,0.00,0.00,1130479484929.00,3210826360.95
VALOR_REGISTRADO,173944.00,2692942.47,-10368360188.31,0.00,0.00,0.00,125769983134.07,390967467.11
VALOR_REALIZADO,173944.00,16915719.27,-3500000000.00,295.00,3025.51,37311.76,169256367162.37,619746464.51
PORCENTAJE_REALIZADO,173944.00,0.00,0.00,0.00,0.00,0.00,36.00,0.14
FECHA_REGISTRO,173829,2018-06-29 16:12:32.021814528,2018-01-01 00:00:00,2018-03-30 00:00:00,2018-06-29 00:00:00,2018-09-28 00:00:00,2018-12-31 00:00:00,NaN
AÑO_EJERCICIO,173944.00,2018.00,2018.00,2018.00,2018.00,2018.00,2018.00,0.00

In [369]:
df_datos_2018[df_datos_2018.FECHA_REGISTRO.isnull()][df_datos_2018.VALOR_REALIZADO==0][df_datos_2018.VALOR_PREVISTO_ACTUALIZADO==0]

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
8310,24000,"Ministério da Ciência, Tecnologia, Inovações",24000,"Ministério da Ciência, Tecnologia, Inovações e...",240101,COORDENACAO-GERAL DE RECURSOS LOGISTICOS,Receitas de Capital,Operações de Crédito,Operações de crédito - mercado interno,EMPRÉSTIMOS COMPULSÓRIOS,0.00,5915.82,0.00,0.00,NaT,2018
29204,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,Contribuições,Contribuições sociais,CONTRIB.SERVIDOR ATIVO CIVIL P/RPPS-MUL.JUR.,0.00,209608.32,0.00,0.00,NaT,2018
29297,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,Contribuições,Contribuições econômicas,CIDE-COMBUSTÍVEIS-IMPORTAÇÃO-PRINCIPAL,0.00,26050809.39,0.00,0.00,NaT,2018
29666,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,Contribuições,Contribuições econômicas,CIDE-REMESSAS AO EXTERIOR-MULTAS E JUROS,0.00,142530660.34,0.00,0.00,NaT,2018
29723,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Impostos,IRRF-CAPITAL-PRINCIPAL,0.00,2193017602.11,0.00,0.00,NaT,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157405,32000,Ministério de Minas e Energia,32210,Agência Nacional de Energia Elétrica,323028,AGENCIA NACIONAL DE ENERGIA ELETRICA,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",MUL.PREV.LEI P/INFR.SET.ENERGIA ELET.-PRINC.,0.00,1724475824.57,0.00,0.00,NaT,2018
164643,44000,Ministério do Meio Ambiente,20701,Instituto Brasileiro do Meio Ambiente e dos Re...,193129,IBAMA - SUPERINTENDENCIA DE SAO PAULO/SP,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Taxas,TAXA DE CONTROLE E FISC.AMBIENTAL-PRINCIPAL,0.00,1800.00,0.00,0.00,NaT,2018
164646,44000,Ministério do Meio Ambiente,20701,Instituto Brasileiro do Meio Ambiente e dos Re...,193120,IBAMA - SUPERINTENDENCIA RIO GRANDE NORTE/RN,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Taxas,TAXA DE CONTROLE E FISC.AMBIENTAL-PRINCIPAL,0.00,6.00,0.00,0.00,NaT,2018
168923,44000,Ministério do Meio Ambiente,20701,Instituto Brasileiro do Meio Ambiente e dos Re...,193107,IBAMA - SUPERINTENDENCIA DO ESPIRITO SANTO/ES,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Taxas,TAXA DE CONTROLE E FISCALIZACAO AMBIENTAL,0.00,900.00,0.00,0.00,NaT,2018
171452,54000,Ministério do Turismo,20203,Agência Nacional do Cinema,203003,AGENCIA NACIONAL DO CINEMA,Receitas Correntes,Contribuições,Contribuições econômicas,RECEITA VEICULACAO DE OBRAS CINEMATOGRAFICAS,0.00,5074344.78,0.00,0.00,NaT,2018

# Análisis datos año 2019

In [370]:
se.traducción_columnas(df_datos_2019)

In [371]:
df_datos_2019.sample(5)

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
67158,26000,Ministério da Educação,26443,Empresa Brasileira de Serviços Hospitalares,155007,EMPRESA BRASILEIRA DE SERVICOS HOSPITALARES,Receitas Correntes,Receita Patrimonial,Exploração do patrimônio imobiliário do Estad,CONC/PERM/AUT/CESSAO DIR.USO IMOV.PUB-PRINC.,"0,00","0,00","110,00","0,00",14/01/2019,2019
96375,26000,Ministério da Educação,26241,Universidade Federal do Paraná,153079,UNIVERSIDADE FEDERAL DO PARANA,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL,"0,00","0,00","100,00","0,00",18/07/2019,2019
100399,26000,Ministério da Educação,26436,Instituto Federal Sul-rio-grandense,158126,"INST.FED.DE EDUC.,CIE.E TEC.SUL-RIO-GRANDENSE",Receitas Correntes,Receita Patrimonial,Exploração do patrimônio imobiliário do Estad,ALUGUEIS E ARRENDAMENTOS-PRINCIPAL,"0,00","0,00","439,52","0,00",28/06/2019,2019
36885,25000,Ministério da Economia,38901,Fundo de Amparo ao Trabalhador,380910,"COORD-GERAL DE ORCAMENTO, FIN. E CONT.- CGOFC",Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RESTIT.PARCELAS SEG.DESEMPR.REC.INDEV.-PRINC.,"0,00","0,00","126899,73","0,00",15/08/2019,2019
93579,26000,Ministério da Educação,26239,Universidade Federal do Pará,153063,UNIVERSIDADE FEDERAL DO PARA,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL,"0,00","0,00","13620,00","0,00",13/06/2019,2019

In [372]:
se.reporte(df_datos_2019)

La tabla tiene 176828 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,int64,176828,0,0.00,20,176808
NOMBRE_ÓRGANO_SUPERIOR,object,176828,0,0.00,20,176808
CÓDIGO_ÓRGANO,int64,176828,0,0.00,250,176578
NOMBRE_ÓRGANO,object,176828,0,0.00,249,176579
CÓDIGO_UNIDAD_GESTORA,int64,176828,0,0.00,272,176556
NOMBRE_UNIDAD_GESTORA,object,176828,0,0.00,269,176559
CATEGORÍA_ECONÓMICA,object,176828,0,0.00,5,176823
ORIGEN_INGRESO,object,176828,0,0.00,15,176813
TIPO_INGRESO,object,176828,0,0.00,46,176782
DETALLE,object,176828,0,0.00,636,176192
VALOR_PREVISTO_ACTUALIZADO,object,176828,0,0.00,1801,175027
VALOR_REGISTRADO,object,176828,0,0.00,1105,175723
VALOR_REALIZADO,object,176828,0,0.00,124002,52826
PORCENTAJE_REALIZADO,object,176828,0,0.00,48,176780
FECHA_REGISTRO,object,176742,86,0.05,365,176462
AÑO_EJERCICIO,int64,176828,0,0.00,1,176827

In [373]:
se.conversion_columnas(df_datos_2019)

La tabla tiene 176828 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,object,176828,0,0.00,20,176808
NOMBRE_ÓRGANO_SUPERIOR,object,176828,0,0.00,20,176808
CÓDIGO_ÓRGANO,object,176828,0,0.00,250,176578
NOMBRE_ÓRGANO,object,176828,0,0.00,249,176579
CÓDIGO_UNIDAD_GESTORA,object,176828,0,0.00,272,176556
NOMBRE_UNIDAD_GESTORA,object,176828,0,0.00,269,176559
CATEGORÍA_ECONÓMICA,object,176828,0,0.00,5,176823
ORIGEN_INGRESO,object,176828,0,0.00,15,176813
TIPO_INGRESO,object,176828,0,0.00,46,176782
DETALLE,object,176828,0,0.00,636,176192
VALOR_PREVISTO_ACTUALIZADO,float64,176828,0,0.00,1801,175027
VALOR_REGISTRADO,float64,176828,0,0.00,1105,175723
VALOR_REALIZADO,float64,176828,0,0.00,124002,52826
PORCENTAJE_REALIZADO,float64,176828,0,0.00,48,176780
FECHA_REGISTRO,datetime64[ns],176742,86,0.05,365,176462
AÑO_EJERCICIO,int64,176828,0,0.00,1,176827

In [374]:
se.analisis_descriptivos_categóricas(df_datos_2019)

Las columnas categóricas son Index(['CÓDIGO_ÓRGANO_SUPERIOR', 'NOMBRE_ÓRGANO_SUPERIOR', 'CÓDIGO_ÓRGANO',
       'NOMBRE_ÓRGANO', 'CÓDIGO_UNIDAD_GESTORA', 'NOMBRE_UNIDAD_GESTORA',
       'CATEGORÍA_ECONÓMICA', 'ORIGEN_INGRESO', 'TIPO_INGRESO', 'DETALLE'],
      dtype='object')
Algunos ejemplos de filas son:

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE
171215,44000,Ministério do Meio Ambiente,20701,Instituto Brasileiro do Meio Ambiente e dos Re...,193034,IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.
3406,22000,"Ministério da Agricultura, Pecuária e Abastec",22211,Companhia Nacional de Abastecimento,135100,COMPANHIA NACIONAL DE ABASTECIMENTO,Receitas Correntes,Receita Patrimonial,Exploração do patrimônio imobiliário do Estad,ALUGUEIS E ARRENDAMENTOS-MULTAS E JUROS
53915,25000,Ministério da Economia,25915,Fundo Constitucional do Distrito Federal,170392,FUNDO CONSTITUCIONAL DO DISTRITO FEDERAL,Receitas Correntes,Contribuições,Contribuições sociais,CONTR.P/FUNDOS ASSIST.MÉD-POLIC.MILIT-PRINC.
37603,25000,Ministério da Economia,28500,Fundo de Garantia para a Promoção da Competiti...,287001,FUNDO DE GAR.P/PROMOC.DA COMPETITIVIDADE±FGPC,Receitas Correntes,Receita Patrimonial,Valores Mobiliários,REMUNERACAO DE DEPOSITOS BANCARIOS-PRINCIPAL
68246,26000,Ministério da Educação,26263,Universidade Federal de Lavras,153032,UNIVERSIDADE FEDERAL DE LAVRAS,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.

Las características de estas columnas son:

,count,unique,top,freq
CÓDIGO_ÓRGANO_SUPERIOR,176828,20,26000,67104
NOMBRE_ÓRGANO_SUPERIOR,176828,20,Ministério da Educação,67104
CÓDIGO_ÓRGANO,176828,250,25000,23514
NOMBRE_ÓRGANO,176828,249,Ministério da Economia - Unidades com vínculo ...,23514
CÓDIGO_UNIDAD_GESTORA,176828,272,170013,22389
NOMBRE_UNIDAD_GESTORA,176828,269,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,22389
CATEGORÍA_ECONÓMICA,176828,5,Receitas Correntes,169210
ORIGEN_INGRESO,176828,15,Receita de Serviços,59957
TIPO_INGRESO,176828,46,Serviços Administrativos e Comerciais Gerais,52747
DETALLE,176828,636,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,29143

In [375]:
se.analisis_descriptivos_numéricas(df_datos_2019)

Las columnas no categóricas son Index(['VALOR_PREVISTO_ACTUALIZADO', 'VALOR_REGISTRADO', 'VALOR_REALIZADO',
       'PORCENTAJE_REALIZADO', 'FECHA_REGISTRO', 'AÑO_EJERCICIO'],
      dtype='object')
Algunos ejemplos de filas son:

,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
25821,0.00,0.00,6588922.80,0.00,2019-08-13,2019
142262,0.00,0.00,11813.41,0.00,2019-01-03,2019
79599,0.00,0.00,3271.37,0.00,2019-12-05,2019
161616,0.00,0.00,85645.87,0.00,2019-03-21,2019
26869,0.00,0.00,1.75,0.00,2019-01-16,2019

Las características de estas columnas son:

,count,mean,min,25%,50%,75%,max,std
VALOR_PREVISTO_ACTUALIZADO,176828.00,18443791.14,0.00,0.00,0.00,0.00,747311062387.00,2448775926.14
VALOR_REGISTRADO,176828.00,1943902.42,-148347267246.91,0.00,0.00,0.00,146326992731.61,653809991.32
VALOR_REALIZADO,176828.00,16917935.72,-60439234089.12,316.82,3263.00,39266.45,50193922075.79,471865123.28
PORCENTAJE_REALIZADO,176828.00,0.18,-282.00,0.00,0.00,0.00,16631.00,48.15
FECHA_REGISTRO,176742,2019-07-01 17:29:24.130766848,2019-01-01 00:00:00,2019-04-02 00:00:00,2019-07-03 00:00:00,2019-09-30 00:00:00,2019-12-31 00:00:00,NaN
AÑO_EJERCICIO,176828.00,2019.00,2019.00,2019.00,2019.00,2019.00,2019.00,0.00

In [376]:
df_datos_2019[df_datos_2019.FECHA_REGISTRO.isnull()][df_datos_2019.VALOR_REALIZADO==0][df_datos_2019.VALOR_PREVISTO_ACTUALIZADO==0]

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
30357,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,Contribuições,Contribuições sociais,CONTRIB.DO SERVIDOR INATIVO P/RPPS-MUL.JUR.,0.00,28155.45,0.00,0.00,NaT,2019
30663,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,Contribuições,Contribuições sociais,CONTRIB.SOCIAL SOBRE LUCRO LÍQ.-CSLL-MUL.JUR.,0.00,15876147793.72,0.00,0.00,NaT,2019
31910,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,Contribuições,Contribuições sociais,CONTRIBUIÇÃO PARA O PIS/PASEP-MULTAS E JUROS,0.00,7560865774.99,0.00,0.00,NaT,2019
32038,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Impostos,IMPOSTO SOBRE A IMPORTAÇÃO-MULTAS E JUROS,0.00,828313020.01,0.00,0.00,NaT,2019
32130,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,Contribuições,Contribuições sociais,CONTRIBUIÇÕES P/O RGPS-PRINCIPAL,0.00,139472166838.37,0.00,0.00,NaT,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159602,32000,Ministério de Minas e Energia,32210,Agência Nacional de Energia Elétrica,323028,AGENCIA NACIONAL DE ENERGIA ELETRICA,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Taxas,"TAXAS INSPEÇÃO,CONTROLE E FISCALIZAÇÃO-PRINC.",0.00,11565371.72,0.00,0.00,NaT,2019
159921,32000,Ministério de Minas e Energia,32210,Agência Nacional de Energia Elétrica,323028,AGENCIA NACIONAL DE ENERGIA ELETRICA,Receitas Correntes,Receita Patrimonial,Exploração do patrimônio imobiliário do Estad,CONC/PERM/AUT/CESSAO DIR.USO IMOV.PUB-PRINC.,0.00,62999791.79,0.00,0.00,NaT,2019
159993,32000,Ministério de Minas e Energia,32210,Agência Nacional de Energia Elétrica,323028,AGENCIA NACIONAL DE ENERGIA ELETRICA,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",MUL.PREV.LEI P/INFR.SET.ENERGIA ELET.-PRINC.,0.00,1683850495.56,0.00,0.00,NaT,2019
160099,32000,Ministério de Minas e Energia,32210,Agência Nacional de Energia Elétrica,323028,AGENCIA NACIONAL DE ENERGIA ELETRICA,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Taxas,TAXA FISCAL. DOS SERVICOS DE ENERGIA ELETRICA,0.00,44771661.72,0.00,0.00,NaT,2019
174999,54000,Ministério do Turismo,20203,Agência Nacional do Cinema,203003,AGENCIA NACIONAL DO CINEMA,Receitas Correntes,Contribuições,Contribuições econômicas,RECEITA VEICULACAO DE OBRAS CINEMATOGRAFICAS,0.00,5074344.78,0.00,0.00,NaT,2019

# Análisis datos año 2020

In [377]:
se.traducción_columnas(df_datos_2020)

In [378]:
df_datos_2020.sample(5)

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
126136,32000,Ministério de Minas e Energia,32396,Agência Nacional de Mineração,323100,SETORIAL ORCAMENTARIA E FINANCEIRA - ANM,Receitas Correntes,Receita Patrimonial,Exploração de recursos naturais,OUTORGA DIR.EXPLOR.E PESQUISA MINERAL-PRINC.,"0,00","0,00","17276,17","0,00",24/09/2020,2020
102378,26000,Ministério da Educação,26280,Fundação Universidade Federal de São Carlos,154049,FUNDACAO UNIVERSIDADE FEDERAL DE SAO CARLOS,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,"0,00","0,00","900,00","0,00",25/09/2020,2020
85789,26000,Ministério da Educação,26264,Universidade Federal Rural do Semi-Árido,153033,UNIVERSIDADE FEDERAL RURAL DO SEMI-ARIDO - RN,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,"0,00","0,00","6,00","0,00",24/01/2020,2020
121775,41000,Ministério das Comunicações,41232,Fundo de Universalização dos Serviços de Telec...,413047,FUNDO DE UNIVERS.DOS SERV.TELECOMUNICACOES,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,SERVS.TECNICOS.APROV.LAUDOS.TELCOM/PRC,"0,00","0,00","-103,51","0,00",31/07/2020,2020
60532,25000,Ministério da Economia,25208,Superintendência de Seguros Privados,173039,SUPERINTENDENCIA DE SEGUROS PRIVADOS - RJ,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",MULTAS PREVISTAS EM LEGISL.ESPECIFICA-DIV.AT.,"0,00","0,00","592,67","0,00",26/06/2020,2020

In [379]:
se.reporte(df_datos_2020)

La tabla tiene 142348 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,int64,142348,0,0.00,20,142328
NOMBRE_ÓRGANO_SUPERIOR,object,142348,0,0.00,20,142328
CÓDIGO_ÓRGANO,int64,142348,0,0.00,255,142093
NOMBRE_ÓRGANO,object,142348,0,0.00,254,142094
CÓDIGO_UNIDAD_GESTORA,int64,142348,0,0.00,272,142076
NOMBRE_UNIDAD_GESTORA,object,142348,0,0.00,270,142078
CATEGORÍA_ECONÓMICA,object,142348,0,0.00,5,142343
ORIGEN_INGRESO,object,142348,0,0.00,15,142333
TIPO_INGRESO,object,142348,0,0.00,45,142303
DETALLE,object,142348,0,0.00,625,141723
VALOR_PREVISTO_ACTUALIZADO,object,142348,0,0.00,1951,140397
VALOR_REGISTRADO,object,142348,0,0.00,1579,140769
VALOR_REALIZADO,object,142348,0,0.00,106992,35356
PORCENTAJE_REALIZADO,object,142348,0,0.00,27,142321
FECHA_REGISTRO,object,142262,86,0.06,362,141985
AÑO_EJERCICIO,int64,142348,0,0.00,1,142347

In [380]:
se.conversion_columnas(df_datos_2020)

La tabla tiene 142348 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,object,142348,0,0.00,20,142328
NOMBRE_ÓRGANO_SUPERIOR,object,142348,0,0.00,20,142328
CÓDIGO_ÓRGANO,object,142348,0,0.00,255,142093
NOMBRE_ÓRGANO,object,142348,0,0.00,254,142094
CÓDIGO_UNIDAD_GESTORA,object,142348,0,0.00,272,142076
NOMBRE_UNIDAD_GESTORA,object,142348,0,0.00,270,142078
CATEGORÍA_ECONÓMICA,object,142348,0,0.00,5,142343
ORIGEN_INGRESO,object,142348,0,0.00,15,142333
TIPO_INGRESO,object,142348,0,0.00,45,142303
DETALLE,object,142348,0,0.00,625,141723
VALOR_PREVISTO_ACTUALIZADO,float64,142348,0,0.00,1951,140397
VALOR_REGISTRADO,float64,142348,0,0.00,1579,140769
VALOR_REALIZADO,float64,142348,0,0.00,106992,35356
PORCENTAJE_REALIZADO,float64,142348,0,0.00,27,142321
FECHA_REGISTRO,datetime64[ns],142262,86,0.06,362,141985
AÑO_EJERCICIO,int64,142348,0,0.00,1,142347

In [381]:
se.analisis_descriptivos_categóricas(df_datos_2020)

Las columnas categóricas son Index(['CÓDIGO_ÓRGANO_SUPERIOR', 'NOMBRE_ÓRGANO_SUPERIOR', 'CÓDIGO_ÓRGANO',
       'NOMBRE_ÓRGANO', 'CÓDIGO_UNIDAD_GESTORA', 'NOMBRE_UNIDAD_GESTORA',
       'CATEGORÍA_ECONÓMICA', 'ORIGEN_INGRESO', 'TIPO_INGRESO', 'DETALLE'],
      dtype='object')
Algunos ejemplos de filas son:

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE
109737,30000,Ministério da Justiça e Segurança Pública,30907,Fundo Penitenciário Nacional,200333,DEPEN - DIRETORIA EXECUTIVA,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,OUTRAS RECEITAS-PRIMARIAS-MULTAS E JUROS
27928,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170013,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL
84615,26000,Ministério da Educação,26237,Universidade Federal de Juiz de Fora,153061,UNIVERSIDADE FEDERAL DE JUIZ DE FORA,Receitas Correntes,Receita Patrimonial,Valores Mobiliários,REMUNERACAO DE DEPOSITOS BANCARIOS-PRINCIPAL
2362,22000,"Ministério da Agricultura, Pecuária e Abastec",22202,Empresa Brasileira de Pesquisa Agropecuária,135037,EMBRAPA-SETORIAL,Receitas Correntes,Receita Patrimonial,Exploração do patrimônio imobiliário do Estad,ALUGUEIS E ARRENDAMENTOS-PRINCIPAL
77998,26000,Ministério da Educação,26239,Universidade Federal do Pará,153063,UNIVERSIDADE FEDERAL DO PARA,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.

Las características de estas columnas son:

,count,unique,top,freq
CÓDIGO_ÓRGANO_SUPERIOR,142348,20,26000,40888
NOMBRE_ÓRGANO_SUPERIOR,142348,20,Ministério da Educação,40888
CÓDIGO_ÓRGANO,142348,255,25000,22686
NOMBRE_ÓRGANO,142348,254,Ministério da Economia - Unidades com vínculo ...,22686
CÓDIGO_UNIDAD_GESTORA,142348,272,170013,21074
NOMBRE_UNIDAD_GESTORA,142348,270,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,21074
CATEGORÍA_ECONÓMICA,142348,5,Receitas Correntes,135172
ORIGEN_INGRESO,142348,15,Outras Receitas Correntes,42127
TIPO_INGRESO,142348,45,Serviços Administrativos e Comerciais Gerais,33271
DETALLE,142348,625,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,21029

In [382]:
se.analisis_descriptivos_numéricas(df_datos_2020)

Las columnas no categóricas son Index(['VALOR_PREVISTO_ACTUALIZADO', 'VALOR_REGISTRADO', 'VALOR_REALIZADO',
       'PORCENTAJE_REALIZADO', 'FECHA_REGISTRO', 'AÑO_EJERCICIO'],
      dtype='object')
Algunos ejemplos de filas son:

,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
136812,0.00,0.00,99507.70,0.00,2020-11-30,2020
84672,0.00,0.00,13917.95,0.00,2020-03-09,2020
24233,0.00,0.00,307.40,0.00,2020-01-15,2020
107566,0.00,0.00,349969.89,0.00,2020-01-13,2020
31358,0.00,0.00,45.72,0.00,2020-01-30,2020

Las características de estas columnas son:

,count,mean,min,25%,50%,75%,max,std
VALOR_PREVISTO_ACTUALIZADO,142348.00,25129588.89,0.00,0.00,0.00,0.00,915650943341.00,3072051686.37
VALOR_REGISTRADO,142348.00,4963049.23,-83137328053.64,0.00,0.00,0.00,257513407925.60,836427167.55
VALOR_REALIZADO,142348.00,25511061.83,-22288681258.25,316.34,4344.17,58309.05,350022251304.30,1106999777.42
PORCENTAJE_REALIZADO,142348.00,0.28,0.00,0.00,0.00,0.00,39232.00,103.98
FECHA_REGISTRO,142262,2020-06-25 08:08:07.281213696,2020-01-01 00:00:00,2020-03-17 00:00:00,2020-06-26 00:00:00,2020-09-29 00:00:00,2020-12-30 00:00:00,NaN
AÑO_EJERCICIO,142348.00,2020.00,2020.00,2020.00,2020.00,2020.00,2020.00,0.00

In [383]:
df_datos_2020[df_datos_2020.FECHA_REGISTRO.isnull()][df_datos_2020.VALOR_REALIZADO==0][df_datos_2020.VALOR_PREVISTO_ACTUALIZADO==0]

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
27004,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Impostos,IRRF-REMESSA AO EXTERIOR-PRINCIPAL,0.00,1285935779.10,0.00,0.00,NaT,2020
27867,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL,0.00,568535950.14,0.00,0.00,NaT,2020
27871,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,Contribuições,Contribuições sociais,CONTRIBUIÇÕES P/O RGPS-MULTAS E JUROS,0.00,34180039945.52,0.00,0.00,NaT,2020
27910,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,OUTRAS RECEITAS-PRIMARIAS-MULTAS E JUROS,0.00,1024103472.38,0.00,0.00,NaT,2020
29560,25000,Ministério da Economia,30203,"Instituto Nacional de Metrologia, Qualidade e ...",183023,INSTITUTO NAC.DE METROLOG. QUALID. E TECNOLOG,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Taxas,"TAXAS INSPEÇÃO,CONTROLE E FISCALIZAÇÃO-DÍV.AT",0.00,21957.10,0.00,0.00,NaT,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127118,32000,Ministério de Minas e Energia,32210,Agência Nacional de Energia Elétrica,323028,AGENCIA NACIONAL DE ENERGIA ELETRICA,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Taxas,"TAXAS INSPEÇÃO,CONTROLE E FISCALIZAÇÃO-PRINC.",0.00,23130743.44,0.00,0.00,NaT,2020
127334,32000,Ministério de Minas e Energia,32210,Agência Nacional de Energia Elétrica,323028,AGENCIA NACIONAL DE ENERGIA ELETRICA,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",MUL.PREV.LEI P/INFR.SET.ENERGIA ELET.-PRINC.,0.00,3367700991.12,0.00,0.00,NaT,2020
127369,32000,Ministério de Minas e Energia,32210,Agência Nacional de Energia Elétrica,323028,AGENCIA NACIONAL DE ENERGIA ELETRICA,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Taxas,TAXA FISCAL. DOS SERVICOS DE ENERGIA ELETRICA,0.00,89543323.44,0.00,0.00,NaT,2020
127566,32000,Ministério de Minas e Energia,32210,Agência Nacional de Energia Elétrica,323028,AGENCIA NACIONAL DE ENERGIA ELETRICA,Receitas Correntes,Receita Patrimonial,Exploração do patrimônio imobiliário do Estad,CONC/PERM/AUT/CESSAO DIR.USO IMOV.PUB-PRINC.,0.00,125999583.58,0.00,0.00,NaT,2020
140539,54000,Ministério do Turismo,20203,Agência Nacional do Cinema,203003,AGENCIA NACIONAL DO CINEMA,Receitas Correntes,Contribuições,Contribuições econômicas,RECEITA VEICULACAO DE OBRAS CINEMATOGRAFICAS,0.00,10148689.56,0.00,0.00,NaT,2020

# Análisis datos año 2021

In [384]:
se.traducción_columnas(df_datos_2021)

In [385]:
df_datos_2021.sample(5)

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
2256,22000,"Ministério da Agricultura, Pecuária e Abastec",22000,"Ministério da Agricultura, Pecuária e Abasteci...",130101,COORD.-GERAL DE ORCAMENTO E FINANCAS-MAPA,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",MULTAS PREVISTAS EM LEGISL.ESPECIFICA-PRINC.,"0,00","0,00","290467,52","0,00",11/10/2021,2021
34020,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170013,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",MULTAS APLICADAS PELOS TRIB.DE CONTAS-PRINC.,"0,00","0,00","12182,22","0,00",11/02/2021,2021
29798,25000,Ministério da Economia,37904,Fundo do Regime Geral da Previdência Social,513001,COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS,Receitas Correntes,Contribuições,Contribuições sociais,CONT.PREVIDENCIARIA SEGURADO-DIV.AT-MUL.JUR,"0,00","0,00","2744536,81","0,00",20/06/2021,2021
68759,26000,Ministério da Educação,26273,Universidade Federal do Rio Grande,154042,UNIVERSIDADE FEDERAL DO RIO GRANDE - FURG,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,"0,00","0,00","5,50","0,00",01/04/2021,2021
15616,52000,Ministério da Defesa,52132,Comando da Marinha - Fundo Naval,673001,DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM,Receitas Correntes,Receita de Serviços,Serviços e Atividades Referentes à Saúde,SERVICOS DE ATENDIMENTO A SAUDE-PRINCIPAL,"0,00","0,00","1985,92","0,00",13/08/2021,2021

In [386]:
se.reporte(df_datos_2021)

La tabla tiene 134593 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,int64,134593,0,0.00,20,134573
NOMBRE_ÓRGANO_SUPERIOR,object,134593,0,0.00,20,134573
CÓDIGO_ÓRGANO,int64,134593,0,0.00,257,134336
NOMBRE_ÓRGANO,object,134593,0,0.00,256,134337
CÓDIGO_UNIDAD_GESTORA,int64,134593,0,0.00,271,134322
NOMBRE_UNIDAD_GESTORA,object,134593,0,0.00,268,134325
CATEGORÍA_ECONÓMICA,object,134593,0,0.00,5,134588
ORIGEN_INGRESO,object,134593,0,0.00,15,134578
TIPO_INGRESO,object,134593,0,0.00,42,134551
DETALLE,object,134593,0,0.00,600,133993
VALOR_PREVISTO_ACTUALIZADO,object,134593,0,0.00,1803,132790
VALOR_REGISTRADO,object,134593,0,0.00,1191,133402
VALOR_REALIZADO,object,134593,0,0.00,99376,35217
PORCENTAJE_REALIZADO,object,134593,0,0.00,17,134576
FECHA_REGISTRO,object,134470,123,0.09,337,134255
AÑO_EJERCICIO,int64,134593,0,0.00,1,134592

In [387]:
se.conversion_columnas(df_datos_2021)

La tabla tiene 134593 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,object,134593,0,0.00,20,134573
NOMBRE_ÓRGANO_SUPERIOR,object,134593,0,0.00,20,134573
CÓDIGO_ÓRGANO,object,134593,0,0.00,257,134336
NOMBRE_ÓRGANO,object,134593,0,0.00,256,134337
CÓDIGO_UNIDAD_GESTORA,object,134593,0,0.00,271,134322
NOMBRE_UNIDAD_GESTORA,object,134593,0,0.00,268,134325
CATEGORÍA_ECONÓMICA,object,134593,0,0.00,5,134588
ORIGEN_INGRESO,object,134593,0,0.00,15,134578
TIPO_INGRESO,object,134593,0,0.00,42,134551
DETALLE,object,134593,0,0.00,600,133993
VALOR_PREVISTO_ACTUALIZADO,float64,134593,0,0.00,1803,132790
VALOR_REGISTRADO,float64,134593,0,0.00,1191,133402
VALOR_REALIZADO,float64,134593,0,0.00,99376,35217
PORCENTAJE_REALIZADO,float64,134593,0,0.00,17,134576
FECHA_REGISTRO,datetime64[ns],134470,123,0.09,337,134255
AÑO_EJERCICIO,int64,134593,0,0.00,1,134592

In [388]:
se.analisis_descriptivos_categóricas(df_datos_2021)

Las columnas categóricas son Index(['CÓDIGO_ÓRGANO_SUPERIOR', 'NOMBRE_ÓRGANO_SUPERIOR', 'CÓDIGO_ÓRGANO',
       'NOMBRE_ÓRGANO', 'CÓDIGO_UNIDAD_GESTORA', 'NOMBRE_UNIDAD_GESTORA',
       'CATEGORÍA_ECONÓMICA', 'ORIGEN_INGRESO', 'TIPO_INGRESO', 'DETALLE'],
      dtype='object')
Algunos ejemplos de filas son:

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE
72182,26000,Ministério da Educação,26294,Hospital de Clínicas de Porto Alegre,155001,HOSPITAL DE CLINICAS DE PORTO ALEGRE,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.
13044,52000,Ministério da Defesa,52904,Fundo do Exército,167086,FUNDO DO EXERCITO,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Taxas,"TAXAS INSPECAO,CONTROLE E FISCALIZ.-MUL.JUR."
69880,26000,Ministério da Educação,26431,Instituto Federal do Piauí,158146,"INST.FED.DE EDUC.,CIENC.E TEC.DO PIAUI",Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.
80526,26000,Ministério da Educação,26294,Hospital de Clínicas de Porto Alegre,155001,HOSPITAL DE CLINICAS DE PORTO ALEGRE,Receitas Correntes,Receita Patrimonial,Exploração do patrimônio imobiliário do Estad,ALUGUEIS E ARRENDAMENTOS-PRINCIPAL
89991,26000,Ministério da Educação,26282,Universidade Federal de Viçosa,154051,UNIVERSIDADE FEDERAL DE VICOSA,Receitas Correntes,Receita Patrimonial,Valores Mobiliários,REMUNERACAO DE DEPOSITOS BANCARIOS-PRINCIPAL

Las características de estas columnas son:

,count,unique,top,freq
CÓDIGO_ÓRGANO_SUPERIOR,134593,20,26000,39869
NOMBRE_ÓRGANO_SUPERIOR,134593,20,Ministério da Educação,39869
CÓDIGO_ÓRGANO,134593,257,25000,21403
NOMBRE_ÓRGANO,134593,256,Ministério da Economia - Unidades com vínculo ...,21403
CÓDIGO_UNIDAD_GESTORA,134593,271,170013,20277
NOMBRE_UNIDAD_GESTORA,134593,268,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,20277
CATEGORÍA_ECONÓMICA,134593,5,Receitas Correntes,128090
ORIGEN_INGRESO,134593,15,Receita de Serviços,39917
TIPO_INGRESO,134593,42,Serviços Administrativos e Comerciais Gerais,34121
DETALLE,134593,600,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,19532

In [389]:
se.analisis_descriptivos_numéricas(df_datos_2021)

Las columnas no categóricas son Index(['VALOR_PREVISTO_ACTUALIZADO', 'VALOR_REGISTRADO', 'VALOR_REALIZADO',
       'PORCENTAJE_REALIZADO', 'FECHA_REGISTRO', 'AÑO_EJERCICIO'],
      dtype='object')
Algunos ejemplos de filas son:

,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
98928,0.00,0.00,91999.22,0.00,2021-05-21,2021
86719,0.00,0.00,112.94,0.00,2021-02-25,2021
115589,0.00,0.00,780.44,0.00,2021-01-08,2021
62876,0.00,0.00,24250.88,0.00,2021-03-04,2021
73268,0.00,0.00,24323.54,0.00,2021-02-19,2021

Las características de estas columnas son:

,count,mean,min,25%,50%,75%,max,std
VALOR_PREVISTO_ACTUALIZADO,134593.00,31061916.08,0.00,0.00,0.00,0.00,1603521711208.00,4734032653.06
VALOR_REGISTRADO,134593.00,2673161.08,-37505821629.82,0.00,0.00,0.00,114112106824.45,398805402.24
VALOR_REALIZADO,134593.00,28800695.61,-12126486130.06,304.56,4341.00,60573.33,55340292367.19,705929818.31
PORCENTAJE_REALIZADO,134593.00,0.00,-1.00,0.00,0.00,0.00,51.00,0.23
FECHA_REGISTRO,134470,2021-06-16 01:48:28.110359040,2021-01-01 00:00:00,2021-03-29 00:00:00,2021-06-15 00:00:00,2021-09-06 00:00:00,2021-12-03 00:00:00,NaN
AÑO_EJERCICIO,134593.00,2021.00,2021.00,2021.00,2021.00,2021.00,2021.00,0.00

In [390]:
df_datos_2021[df_datos_2021.FECHA_REGISTRO.isnull()][df_datos_2021.VALOR_REALIZADO==0][df_datos_2021.VALOR_PREVISTO_ACTUALIZADO==0]

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
24632,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,Contribuições,Contribuições sociais,COFINS SOBRE O FATURAMENTO-SIMPLES-PRINCIPAL,0.00,1562469796.34,0.00,0.00,NaT,2021
24758,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,Contribuições,Contribuições sociais,CSLL-CONTRIBUINTES Ñ OPT.SIMP.NAC.-JUROS,0.00,3257463799.24,0.00,0.00,NaT,2021
24985,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Impostos,IRRF-REMESSA AO EXTERIOR-PRINCIPAL,0.00,623792906.88,0.00,0.00,NaT,2021
25075,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Impostos,IRPJ-LIQUIDA DE INCENTIVOS-MULTAS E JUROS,0.00,22073291088.82,0.00,0.00,NaT,2021
25246,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,Contribuições,Contribuições sociais,CONTRIB.PIS/PASEP-OPTANTES SIMP.NAC-MULTAS,0.00,60366525.28,0.00,0.00,NaT,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121005,32000,Ministério de Minas e Energia,32210,Agência Nacional de Energia Elétrica,323028,AGENCIA NACIONAL DE ENERGIA ELETRICA,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Taxas,"TAXAS INSPECAO,CONTROLE E FISCALIZACAO-PRINC.",0.00,11565371.72,0.00,0.00,NaT,2021
121262,32000,Ministério de Minas e Energia,32210,Agência Nacional de Energia Elétrica,323028,AGENCIA NACIONAL DE ENERGIA ELETRICA,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Taxas,TAXA FISCAL. DOS SERVICOS DE ENERGIA ELETRICA,0.00,44771661.72,0.00,0.00,NaT,2021
121288,32000,Ministério de Minas e Energia,32210,Agência Nacional de Energia Elétrica,323028,AGENCIA NACIONAL DE ENERGIA ELETRICA,Receitas Correntes,Receita Patrimonial,Exploração do patrimônio imobiliário do Estad,CONC/PERM/AUT/CESSAO DIR.USO IMOV.PUB-PRINC.,0.00,62999791.79,0.00,0.00,NaT,2021
122285,32000,Ministério de Minas e Energia,32396,Agência Nacional de Mineração,323100,SETORIAL ORCAMENTARIA E FINANCEIRA - ANM,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Taxas,"TAXAS INSPECAO,CONTROLE E FISCALIZACAO-PRINC.",0.00,2735234674.66,0.00,0.00,NaT,2021
133767,54000,Ministério do Turismo,20203,Agência Nacional do Cinema,203003,AGENCIA NACIONAL DO CINEMA,Receitas Correntes,Contribuições,Contribuições econômicas,RECEITA VEICULACAO DE OBRAS CINEMATOGRAFICAS,0.00,5074344.78,0.00,0.00,NaT,2021

# Análisis columnas de forma individual
## Año 2013

In [391]:
for columna in df_datos_2013.columns:
    print(se.analisis_individual_columnas(df_datos_2013, columna))

La categoría CÓDIGO_ÓRGANO_SUPERIOR tiene 25 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '37000', '22000', '55000', '24000', '52000', '25000',
       '26000', '39000', '30000', '81000', '58000', '33000', '36000',
       '41000', '57000', '35000', '32000', '49000', '53000', '51000',
       '44000', '38000', '54000', '20000'], dtype=object)

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MAS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
26000                    1833                40.75
25000                     873                19.41
53000                     276                 6.14
52000                     228                 5.07
22000                     167                 3.71
54000                     133                 2.96
30000                     129                 2.87
39000                     129                 2.87
24000                     128                 2.85
32000                     123                 2.73

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MENOS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
35000                      17                 0.38
38000                      16                 0.36
49000                      15                 0.33
57000                      12                 0.27
63000                      11                 0.24
37000                       9                 0.20
58000                       8                 0.18
81000                       6                 0.13
33000                       5                 0.11
51000                       5                 0.11

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO_SUPERIOR son:

       count  % repetición
count
129        2          8.00
5          2          8.00
873        1          4.00
276        1          4.00
228        1          4.00
167        1          4.00
1833       1          4.00
133        1          4.00
128        1          4.00
110        1          4.00
123        1          4.00
81         1          4.00
47         1          4.00
36         1          4.00
101        1          4.00
17         1          4.00
16         1          4.00
12         1          4.00
15         1          4.00
11         1          4.00
9          1          4.00
8          1          4.00
6          1          4.00

None
La categoría NOMBRE_ÓRGANO_SUPERIOR tiene 25 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União', 'Controladoria-Geral da União',
       'Ministério da Agricultura, Pecuária e Abastec',
       'Ministério da Cidadania',
       'Ministério da Ciência, Tecnologia, Inovações ',
       'Ministério da Defesa', 'Ministério da Economia',
       'Ministério da Educação', 'Ministério da Infraestrutura',
       'Ministério da Justiça e Segurança Pública',
       'Ministério da Mulher, Família e Direitos Huma',
       'Ministério da Pesca e Aquicultura',
       'Ministério da Previdência Social', 'Ministério da Saúde',
       'Ministério das Comunicações',
       'Ministério das Mulheres, Igualdade Racial, da',
       'Ministério das Relações Exteriores',
       'Ministério de Minas e Energia',
       'Ministério do Desenvolvimento Agrário',
       'Ministério do Desenvolvimento Regional', 'Ministério do Esporte',
       'Ministério do Meio Ambiente', 'Ministério do Trabalho e Emprego',
       'Ministério do Turismo', 'Presidência da República'], dtype=object)

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MAS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério da Educação                          1833                40.75
Ministério da Economia                           873                19.41
Ministério do Desenvolvimento Regional           276                 6.14
Ministério da Defesa                             228                 5.07
Ministério da Agricultura, Pecuária e Abastec    167                 3.71
Ministério do Turismo                            133                 2.96
Ministério da Justiça e Segurança Pública        129                 2.87
Ministério da Infraestrutura                     129                 2.87
Ministério da Ciência, Tecnologia, Inovações     128                 2.85
Ministério de Minas e Energia                    123                 2.73

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MENOS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério das Relações Exteriores                17                 0.38
Ministério do Trabalho e Emprego                  16                 0.36
Ministério do Desenvolvimento Agrário             15                 0.33
Ministério das Mulheres, Igualdade Racial, da     12                 0.27
Advocacia-Geral da União                          11                 0.24
Controladoria-Geral da União                       9                 0.20
Ministério da Pesca e Aquicultura                  8                 0.18
Ministério da Mulher, Família e Direitos Huma      6                 0.13
Ministério da Previdência Social                   5                 0.11
Ministério do Esporte                              5                 0.11

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO_SUPERIOR son:

       count  % repetición
count
129        2          8.00
5          2          8.00
873        1          4.00
276        1          4.00
228        1          4.00
167        1          4.00
1833       1          4.00
133        1          4.00
128        1          4.00
110        1          4.00
123        1          4.00
81         1          4.00
47         1          4.00
36         1          4.00
101        1          4.00
17         1          4.00
16         1          4.00
12         1          4.00
15         1          4.00
11         1          4.00
9          1          4.00
8          1          4.00
6          1          4.00

None
La categoría CÓDIGO_ÓRGANO tiene 268 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '66000', '22202', '22000', '22211', '44208', '22201',
       '22905', '49001', '55000', '55001', '24000', '20501', '20301',
       '24901', '20502', '24209', '20402', '49280', '52911', '52904',
       '52132', '52912', '52131', '52121', '52111', '31280', '52000',
       '52133', '52221', '52211', '52222', '25000', '30203', '37202',
       '25205', '20603', '25201', '38901', '25208', '33206', '30204',
       '25203', '37201', '20202', '25915', '25207', '25914', '22500',
       '25901', '25211', '25904', '61201', '28500', '25916', '20924',
       '71902', '25905', '26435', '26276', '26000', '26285', '26233',
       '26407', '26232', '26405', '26292', '26423', '26422', '26258',
       '26251', '26234', '26275', '26238', '26261', '26244', '26432',
       '26414', '26243', '26421', '26411', '26270', '26417', '26410',
       '26282', '26430', '26278', '26416', '26253', '26420', '26418',
       '26408', '26240', '26246', '26433', '26428', '26263', '26412',
       '26404', '26248', '26434', '26409', '26264', '26424', '26415',
       '26291', '26413', '26236', '26406', '26255', '26419', '26247',
       '26271', '26266', '26402', '26277', '26252', '26351', '26403',
       '26245', '26294', '26298', '26425', '26427', '26268', '26429',
       '26256', '26290', '26279', '26201', '26257', '26231', '26235',
       '26260', '26437', '26439', '26272', '26438', '26262', '26440',
       '26267', '26254', '26237', '26441', '26442', '26352', '26230',
       '26280', '26241', '26350', '26281', '26431', '26242', '26249',
       '26269', '26436', '26250', '26284', '26426', '26239', '26286',
       '26273', '26274', '26443', '26283', '62201', '39252', '39250',
       '49901', '56901', '39000', '68201', '68000', '39251', '29209',
       '62901', '39253', '62000', '39816', '39812', '39813', '39811',
       '39815', '39814', '39817', '30802', '30108', '30905', '30907',
       '30202', '30211', '30911', '30000', '30912', '30205', '20122',
       '58000', '33000', '36211', '36201', '36210', '36000', '36213',
       '36212', '36208', '36209', '41000', '20415', '41231', '41232',
       '41903', '64902', '64901', '35000', '35201', '20303', '29208',
       '32000', '32205', '32263', '32210', '32314', '20302', '49000',
       '29205', '29214', '53902', '53901', '53903', '22204', '22203',
       '53000', '53202', '74917', '56902', '53203', '44205', '53205',
       '53207', '74918', '91214', '44206', '44000', '44902', '20701',
       '44207', '44204', '38000', '20403', '20604', '42207', '20411',
       '20412', '34902', '20203', '54000', '20408', '20404', '54901',
       '20101', '67000', '64000', '20116', '69000', '24208', '60000',
       '20117', '61000'], dtype=object)

Los 10 CÓDIGO_ÓRGANO que MAS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
25000            494                10.98
37202            109                 2.42
26000             80                 1.78
22202             52                 1.16
34902             48                 1.07
52904             46                 1.02
26238             43                 0.96
24901             41                 0.91
26234             41                 0.91
53901             39                 0.87

Los 10 CÓDIGO_ÓRGANO que MENOS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
39813              1                 0.02
39811              1                 0.02
39814              1                 0.02
39815              1                 0.02
49280              1                 0.02
36209              1                 0.02
69000              1                 0.02
60000              1                 0.02
20117              1                 0.02
61000              1                 0.02

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO son:

       count  % repetición
count
14        17          6.34
16        16          5.97
1         16          5.97
11        14          5.22
5         14          5.22
15        13          4.85
9         13          4.85
10        12          4.48
2         12          4.48
13        11          4.10
6         11          4.10
17         8          2.99
4          8          2.99
7          8          2.99
21         8          2.99
8          7          2.61
23         7          2.61
25         5          1.87
22         5          1.87
18         5          1.87
24         5          1.87
20         5          1.87
12         4          1.49
19         4          1.49
26         4          1.49
39         4          1.49
3          4          1.49
32         3          1.12
31         3          1.12
30         3          1.12
27         2          0.75
35         2          0.75
41         2          0.75
28         2          0.75
36         1          0.37
34         1          0.37
48         1          0.37
494        1          0.37
109        1          0.37
37         1          0.37
46         1          0.37
43         1          0.37
80         1          0.37
52         1          0.37
29         1          0.37

None
La categoría NOMBRE_ÓRGANO tiene 266 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União - Unidades com vínculo direto',
       'Controladoria-Geral da União',
       'Empresa Brasileira de Pesquisa Agropecuária',
       'Ministério da Agricultura, Pecuária e Abastecimento - Unidades com vínculo direto',
       'Companhia Nacional de Abastecimento',
       'Serviço Florestal Brasileiro',
       'Instituto Nacional de Colonização e Reforma Agrária',
       'Fundo de Defesa da Economia Cafeeira',
       'Fundo de Terras e da Reforma Agrária',
       'Ministério da Cidadania - Unidades com vínculo direto',
       'Fundo Nacional de Assistência Social',
       'Ministério da Ciência, Tecnologia, Inovações e Comunicações - Unidades com vínculo direto',
       'Conselho Nacional de Desenvolvimento Científico e Tecnológico',
       'Comissão Nacional de Energia Nuclear',
       'Fundo Nacional de Desenvolvimento Científico e Tecnológico',
       'Financiadora de Estudos e Projetos',
       'Centro Nacional de Tecnologia Eletrônica Avançada S.A.',
       'Agência Espacial Brasileira',
       'Empresa Brasileira de Correios e Telégrafos', 'Fundo Aeronáutico',
       'Fundo do Exército', 'Comando da Marinha - Fundo Naval',
       'Fundo Aeroviário', 'Comando da Marinha', 'Comando do Exército',
       'Comando da Aeronáutica',
       'Caixa de Construções de Casas para o Pessoal da Marinha do Brasil',
       'Ministério da Defesa - Unidades com vínculo direto',
       'Fundo de Desenvolvimento do Ensino Profissional Marítimo',
       'Indústria de Material Bélico do Brasil',
       'Caixa de Financiamento Imobiliário da Aeronáutica',
       'Fundação Osório',
       'Ministério da Economia - Unidades com vínculo direto',
       'Instituto Nacional de Metrologia, Qualidade e Tecnologia',
       'Instituto Nacional do Seguro Social',
       'Fundação Instituto Brasileiro de Geografia e Estatística',
       'Superintendência da Zona Franca de Manaus',
       'Banco Central do Brasil - Orçamento Fiscal e Seguridade Social',
       'Fundo de Amparo ao Trabalhador',
       'Superintendência de Seguros Privados',
       'Superintendência Nacional de Previdência Complementar',
       'Instituto Nacional da Propriedade Industrial',
       'Comissão de Valores Mobiliários',
       'Fundação Jorge Duprat Figueiredo, de Segurança e Medicina do Trabalho',
       'Fundação Escola Nacional de Administração Pública',
       'Fundo Constitucional do Distrito Federal',
       'Serviço Federal de Processamento de Dados',
       'Fundo de Garantia à Exportação',
       'Companhia de Entrepostos e Armazéns Gerais de São Paulo',
       'Fundo de Compensação de Variações Salariais',
       'Casa da Moeda do Brasil', 'Fundo de Estabilidade do Seguro Rural',
       'Instituto de Pesquisa Econômica Aplicada',
       'Fundo de Garantia para a Promoção da Competitividade',
       'Fundo Contingente da Extinta RFFSA-FCMP',
       'Fundo Nacional de Desenvolvimento', 'Fundo Soberano do Brasil',
       'Fundo de Apoio ao Desenvolvimento Social',
       'Instituto Federal do Rio Grande do Norte',
       'Fundação Universidade Federal do Mato Grosso',
       'Ministério da Educação - Unidades com vínculo direto',
       'Fundação Universidade Federal de São João Del-Rei',
       'Universidade Federal do Ceará', 'Instituto Federal Goiano',
       'Universidade Federal da Bahia', 'Instituto Federal do Ceará',
       'Fundação Joaquim Nabuco', 'Instituto Federal de Sergipe',
       'Instituto Federal Catarinense',
       'Universidade Tecnológica Federal do Paraná',
       'Fundação Universidade Federal do Tocantins',
       'Universidade Federal do Espírito Santo',
       'Fundação Universidade Federal do Acre',
       'Universidade Federal de Minas Gerais',
       'Universidade Federal de Itajubá',
       'Universidade Federal do Rio Grande do Sul',
       'Instituto Federal do Paraná', 'Instituto Federal do Mato Grosso',
       'Universidade Federal do Rio Grande do Norte',
       'Instituto Federal de Rondônia',
       'Instituto Federal do Sudeste de Minas Gerais',
       'Fundação Universidade do Amazonas',
       'Instituto Federal da Paraíba',
       'Instituto Federal do Norte de Minas Gerais',
       'Universidade Federal de Viçosa',
       'Instituto Federal do Sertão de Pernambuco',
       'Fundação Universidade Federal de Pelotas',
       'Instituto Federal do Pará',
       'Universidade Federal Rural da Amazônia',
       'Instituto Federal Farroupilha', 'Instituto Federal de Pernambuco',
       'Instituto Federal do Maranhão', 'Universidade Federal da Paraíba',
       'Universidade Federal de Santa Catarina',
       'Instituto Federal do Rio de Janeiro',
       'Instituto Federal de Brasília', 'Universidade Federal de Lavras',
       'Instituto Federal do Sul de Minas Gerais',
       'Instituto Federal Baiano',
       'Universidade Federal Rural de Pernambuco',
       'Instituto Federal Fluminense',
       'Instituto Federal de Minas Gerais',
       'Universidade Federal Rural do Semi-Árido',
       'Instituto Federal do Tocantins',
       'Instituto Federal do Mato Grosso do Sul',
       'Fundação Coordenação de Aperfeiçoamento de Pessoal de Nível Superior',
       'Instituto Federal do Triângulo Mineiro',
       'Universidade Federal Fluminense',
       'Instituto Federal do Espírito Santo',
       'Universidade Federal dos Vales do Jequitinhonha e Mucuri',
       'Instituto Federal do Rio Grande do Sul',
       'Universidade Federal de Santa Maria',
       'Fundação Universidade de Brasília',
       'Fundação Universidade Federal do Pampa',
       'Instituto Federal de Alagoas',
       'Universidade Federal de Ouro Preto',
       'Universidade Federal de Campina Grande',
       'Universidade Federal do Recôncavo da Bahia',
       'Instituto Federal do Amazonas',
       'Universidade Federal do Rio de Janeiro',
       'Hospital de Clínicas de Porto Alegre',
       'Fundo Nacional de Desenvolvimento da Educação',
       'Instituto Federal do Acre', 'Instituto Federal da Bahia',
       'Fundação Universidade Federal de Rondônia',
       'Instituto Federal de Educação, Ciência e Tecnologia de Goiás',
       'Centro Federal de Educação Tecnológica Celso Suckow da Fonseca',
       'Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira',
       'Fundação Universidade Federal do Piauí', 'Colégio Pedro II',
       'Centro Federal de Educação Tecnológica de Minas Gerais',
       'Universidade Federal de Alagoas', 'Universidade Federal de Goiás',
       'Universidade Federal de Alfenas', 'Instituto Federal de Roraima',
       'Instituto Federal de São Paulo',
       'Fundação Universidade do Maranhão',
       'Instituto Federal de Santa Catarina',
       'Universidade Federal de São Paulo',
       'Universidade Federal da Fronteira Sul',
       'Universidade Federal da Integração Latino-Americana',
       'Universidade Federal do Triângulo Mineiro',
       'Universidade Federal de Juiz de Fora',
       'Universidade Federal do Oeste do Pará',
       'Universidade da Integração Internacional da Lusofonia Afro-Brasileira',
       'Fundação Universidade Federal do ABC',
       'Fundação Universidade Federal do Vale do São Francisco',
       'Fundação Universidade Federal de São Carlos',
       'Universidade Federal do Paraná',
       'Fundação Universidade Federal da Grande Dourados',
       'Fundação Universidade Federal de Sergipe',
       'Instituto Federal do Piauí', 'Universidade Federal de Pernambuco',
       'Universidade Federal Rural do Rio de Janeiro',
       'Universidade Federal do Estado do Rio de Janeiro',
       'Instituto Federal Sul-rio-grandense',
       'Universidade Federal de Roraima',
       'Fundação Universidade Federal de Ciências da Saúde de Porto Alegre',
       'Instituto Federal do Amapá', 'Universidade Federal do Pará',
       'Fundação Universidade Federal do Amapá',
       'Universidade Federal do Rio Grande',
       'Fundação Universidade Federal de Uberlândia',
       'Empresa Brasileira de Serviços Hospitalares',
       'Fundação Universidade Federal do Mato Grosso do Sul',
       'Agência Nacional de Aviação Civil',
       'Departamento Nacional de Infraestrutura de Transportes',
       'Agência Nacional de Transportes Terrestres',
       'Departamento do Fundo da Marinha Mercante',
       'Fundo Nacional de Segurança e Educação de Trânsito',
       'Ministério da Infraestrutura - Unidades com vínculo direto',
       'Agência Nacional de Transportes Aquaviários',
       'Secretaria de Portos',
       'VALEC Engenharia, Construções e Ferrovias S.A.',
       'Fundo Nacional de Aviação Civil',
       'Empresa de Planejamento e Logística S.A.',
       'Secretaria de Aviação Civil',
       'Companhia Docas do Estado de São Paulo',
       'Companhia Docas do Estado da Bahia', 'Companhia Docas do Ceará',
       'Companhia Docas do Rio de Janeiro',
       'Companhia Docas do Rio Grande do Norte',
       'Companhia Docas do Pará', 'Companhia Docas do Espírito Santo',
       'Departamento de Polícia Rodoviária Federal',
       'Departamento de Polícia Federal',
       'Secretaria Nacional do Consumidor Fundo',
       'Fundo Penitenciário Nacional', 'Fundação Nacional do Índio',
       'Conselho Administrativo de Defesa Econômica',
       'Fundo Nacional de Segurança Pública',
       'Ministério da Justiça e Segurança Pública - Unidades com vínculo direto',
       'Fundo Nacional Antidrogas',
       'Fundação Nacional do Índio - Patrimônio Indígena',
       'Secretaria Nacional de Políticas para Mulheres',
       'Ministério da Pesca e Aquicultura - Unidades com vínculo direto',
       'Ministério da Previdência Social - Unidades com vínculo direto',
       'Fundação Nacional de Saúde', 'Fundação Oswaldo Cruz',
       'Hospital Nossa Senhora da Conceição S.A.',
       'Ministério da Saúde - Unidades com vínculo direto',
       'Agência Nacional de Saúde Suplementar',
       'Agência Nacional de Vigilância Sanitária',
       'Hospital Cristo Redentor S.A.', 'Hospital Fêmina S.A.',
       'Ministério das Comunicações - Unidades com vínculo direto',
       'Empresa Brasil de Comunicação',
       'Agêncial Nacional de Telecomunicações',
       'Fundo de Universalização dos Serviços de Telecomunicações',
       'Fundo para o Desenvolvimento Tecnológico das Telecomunicações',
       'Fundo Nacional do Idoso',
       'Fundo Nacional para a Criança e o Adolescente',
       'Ministério das Relações Exteriores - Unidades com vínculo direto',
       'Fundação Alexandre de Gusmão', 'Indústrias Nucleares do Brasil',
       'Companhia de Pesquisa de Recursos Minerais',
       'Ministério de Minas e Energia - Unidades com vínculo direto',
       'Agência Nacional do Petróleo, Gás Natural e Biocombustíveis',
       'Departamento Nacional de Produção Mineral',
       'Agência Nacional de Energia Elétrica',
       'Empresa de Pesquisa Energética',
       'Nuclebrás Equipamentos Pesados S.A.',
       'Ministério do Desenvolvimento Agrário - Unidades com vínculo direto',
       'Empresa de Trens Urbanos de Porto Alegre',
       'Companhia Brasileira de Trens Urbanos',
       'Fundo Constitucional de Financiamento do Centro-Oeste',
       'Fundo Constitucional de Financiamento do Norte',
       'Fundo Constitucional de Financiamento do Nordeste',
       'Departamento Nacional de Obras Contra as Secas',
       'Companhia de Desenvolvimento dos Vales do São Francisco e do Parnaíba',
       'Ministério do Desenvolvimento Regional - Unidades com vínculo direto',
       'Superintendência do Desenvolvimento da Amazônia',
       'Fundo de Desenvolvimento da Amazônia',
       'Fundo Nacional de Habitação de Interesse Social',
       'Superintendência do Desenvolvimento do Nordeste',
       'Agência Nacional de Águas',
       'Agência de Desenvolvimento da Amazônia',
       'Superintendência de Desenvolvimento do Centro-Oeste',
       'Fundo de Desenvolvimento do Nordeste',
       'Autoridade Pública Olímpica',
       'Instituto de Pesquisas Jardim Botânico do Rio de Janeiro',
       'Ministério do Meio Ambiente - Unidades com vínculo direto',
       'Fundo Nacional sobre Mudança no Clima',
       'Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renováveis',
       'Instituto Chico Mendes de Conservação da Biodiversidade',
       'Fundo Nacional do Meio Ambiente',
       'Ministério do Trabalho e Emprego - Unidades com vínculo direto',
       'Fundação Casa de Rui Barbosa', 'Instituto Brasileiro de Turismo',
       'Instituto Brasileiro de Museus',
       'Instituto do Patrimônio Histórico e Artístico Nacional',
       'Fundação Nacional de Artes', 'Fundo Nacional de Cultura',
       'Agência Nacional do Cinema',
       'Ministério do Turismo - Unidades com vínculo direto',
       'Fundação Cultural Palmares', 'Fundação Biblioteca Nacional',
       'Fundo Geral de Turismo', 'Presidência da República',
       'Secretaria de Políticas de Promoção da Igualdade Racial',
       'Secretaria de Direitos Humanos', 'Fundo de Imprensa Nacional',
       'Secretaria da Micro e Pequena Empresa',
       'Instituto Nacional de Tecnologia da Informação',
       'Gabinete da Vice-Presidência da República',
       'Secretaria de Assuntos Estratégicos'], dtype=object)

Los 10 NOMBRE_ÓRGANO que MAS aparecen son:

                                                    count  Porcentaje_recuento
NOMBRE_ÓRGANO
Ministério da Economia - Unidades com vínculo d...    494                10.98
Instituto Nacional do Seguro Social                   109                 2.42
Ministério da Educação - Unidades com vínculo d...     80                 1.78
Empresa Brasileira de Pesquisa Agropecuária            52                 1.16
Fundo Nacional de Cultura                              48                 1.07
Fundo do Exército                                      46                 1.02
Universidade Federal de Minas Gerais                   43                 0.96
Fundo Nacional de Desenvolvimento Científico e ...     41                 0.91
Universidade Federal do Espírito Santo                 41                 0.91
Comando da Marinha - Fundo Naval                       39                 0.87

Los 10 NOMBRE_ÓRGANO que MENOS aparecen son:

                                             count  Porcentaje_recuento
NOMBRE_ÓRGANO
Companhia Docas do Espírito Santo                1                 0.02
Companhia Docas do Pará                          1                 0.02
Fundo Soberano do Brasil                         1                 0.02
Fundo de Apoio ao Desenvolvimento Social         1                 0.02
Hospital Fêmina S.A.                             1                 0.02
Companhia Docas do Rio Grande do Norte           1                 0.02
Empresa Brasileira de Correios e Telégrafos      1                 0.02
Secretaria da Micro e Pequena Empresa            1                 0.02
Gabinete da Vice-Presidência da República        1                 0.02
Secretaria de Assuntos Estratégicos              1                 0.02

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO son:

       count  % repetición
count
14        17          6.39
16        16          6.02
1         15          5.64
9         14          5.26
15        13          4.89
5         13          4.89
11        13          4.89
10        12          4.51
2         12          4.51
13        11          4.14
6         11          4.14
17         8          3.01
7          8          3.01
21         8          3.01
8          7          2.63
23         7          2.63
4          7          2.63
25         5          1.88
22         5          1.88
18         5          1.88
24         5          1.88
12         5          1.88
20         5          1.88
19         4          1.50
26         4          1.50
39         4          1.50
3          4          1.50
32         3          1.13
31         3          1.13
30         3          1.13
27         2          0.75
35         2          0.75
41         2          0.75
28         2          0.75
36         1          0.38
34         1          0.38
48         1          0.38
494        1          0.38
109        1          0.38
37         1          0.38
46         1          0.38
43         1          0.38
80         1          0.38
52         1          0.38
29         1          0.38

None
La categoría CÓDIGO_UNIDAD_GESTORA tiene 283 elementos diferentes:

Los elementos de la categoría son:

array(['110060', '110174', '135037', '130101', '135100', '440088',
       '373001', '130137', '490003', '420002', '180002', '550002',
       '330013', '240102', '364001', '113209', '240901', '365001',
       '245209', '364999', '203001', '415001', '121002', '167086',
       '673001', '122002', '773001', '160075', '120002', '773008',
       '110407', '873001', '168002', '123001', '164204', '699999',
       '120999', '211999', '170010', '183023', '170013', '201002',
       '510001', '114601', '193028', '173057', '380910', '173039',
       '333001', '280102', '183038', '173030', '264001', '114702',
       '170392', '806001', '170356', '225001', '170381', '179083',
       '179103', '113601', '287001', '173065', '201924', '179999',
       '170474', '170380', '158155', '154045', '150014', '154069',
       '153045', '158124', '153038', '158133', '344002', '158134',
       '158125', '153019', '154419', '153046', '154044', '153062',
       '153030', '153114', '158009', '158144', '153103', '158148',
       '158123', '154039', '158138', '158121', '154051', '158149',
       '154047', '158135', '153034', '158127', '158136', '158128',
       '153065', '153163', '158157', '158143', '153032', '158137',
       '158129', '153165', '158139', '158122', '153033', '158131',
       '158132', '154003', '158099', '153056', '158151', '153036',
       '158141', '153164', '154040', '154359', '158147', '154046',
       '158195', '158092', '158142', '153115', '155001', '153173',
       '154999', '158156', '158145', '154055', '158153', '153010',
       '153978', '154048', '153167', '153015', '153037', '153052',
       '153028', '158152', '158154', '154041', '158516', '153031',
       '158517', '158658', '153035', '153061', '158515', '158565',
       '154503', '154421', '154049', '153079', '154502', '154050',
       '158146', '153080', '153166', '154034', '158126', '154080',
       '154032', '158150', '153063', '154215', '154042', '154043',
       '155007', '154054', '113214', '393003', '393001', '277001',
       '200320', '390002', '682010', '110680', '393002', '275075',
       '110591', '395001', '110590', '396006', '396002', '396003',
       '396001', '396005', '396004', '399002', '113243', '200109',
       '200336', '200401', '200333', '194088', '303001', '200331',
       '200337', '200094', '200246', '194040', '200021', '110008',
       '330002', '255000', '254420', '366003', '250088', '253003',
       '253002', '366001', '366002', '410002', '115406', '413001',
       '413047', '410007', '207001', '110244', '240005', '244001',
       '240999', '113206', '495001', '320002', '323030', '323002',
       '323028', '325001', '113208', '490002', '275060', '275068',
       '537003', '537002', '537001', '113802', '195006', '560003',
       '533013', '533008', '530002', '560015', '533014', '443003',
       '533001', '533018', '533009', '913001', '443019', '440002',
       '447001', '193034', '443032', '443045', '380010', '344001',
       '185001', '423001', '403101', '403201', '340002', '203003',
       '540001', '344041', '344042', '187002', '110005', '238012',
       '200016', '110245', '690001', '243001', '110101', '110246',
       '110355'], dtype=object)

Los 10 CÓDIGO_UNIDAD_GESTORA que MAS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
170013                   415                 9.23
510001                   109                 2.42
150014                    80                 1.78
135037                    52                 1.16
340002                    48                 1.07
167086                    46                 1.02
170010                    44                 0.98
153062                    43                 0.96
240901                    41                 0.91
153046                    41                 0.91

Los 10 CÓDIGO_UNIDAD_GESTORA que MENOS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
399002                     1                 0.02
396006                     1                 0.02
240999                     1                 0.02
366002                     1                 0.02
415001                     1                 0.02
364999                     1                 0.02
690001                     1                 0.02
110101                     1                 0.02
110246                     1                 0.02
110355                     1                 0.02

 Las distribución de las repeticiones de los CÓDIGO_UNIDAD_GESTORA son:

       count  % repetición
count
1         22          7.77
14        18          6.36
11        15          5.30
5         15          5.30
16        14          4.95
10        14          4.95
2         14          4.95
15        14          4.95
9         13          4.59
13        11          3.89
6         10          3.53
17         9          3.18
8          8          2.83
7          8          2.83
4          8          2.83
23         7          2.47
21         6          2.12
22         6          2.12
24         5          1.77
19         5          1.77
25         5          1.77
3          5          1.77
20         5          1.77
12         5          1.77
18         5          1.77
26         4          1.41
39         3          1.06
32         3          1.06
31         3          1.06
27         3          1.06
30         3          1.06
36         2          0.71
35         2          0.71
41         2          0.71
34         1          0.35
52         1          0.35
48         1          0.35
415        1          0.35
46         1          0.35
44         1          0.35
43         1          0.35
109        1          0.35
80         1          0.35
29         1          0.35
28         1          0.35

None
La categoría NOMBRE_UNIDAD_GESTORA tiene 279 elementos diferentes:

Los elementos de la categoría son:

array(['COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU',
       'DIRETORIA DE GESTAO INTERNA/SE/CGU', 'EMBRAPA-SETORIAL',
       'COORD.-GERAL DE ORCAMENTO E FINANCAS-MAPA',
       'COMPANHIA NACIONAL DE ABASTECIMENTO',
       'SETORIAL PROG.ORCAMENTARIA E FINANCEIRA-SFB',
       'DPTO. DE ADMINISTRACAO FINANCEIRA-DAF - INCRA',
       'FUNDO DE DEFESA DA ECON.CAFEEIRA/FUNCAFE/SPA',
       'CREDITO FUNDIARIO',
       'COORD.GERAL DE PLAN. ORC. FIN. E CONTAB./MINC',
       'DEPARTAMENTO DE GESTAO INTERNA',
       'SETORIAL DE ORCAMENTO E FINANCAS/MC',
       'FUNDO NACIONAL DE ASSISTENCIA SOCIAL',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS',
       'CNPQ - ADMINISTRACAO CENTRAL', 'CNEN-ORCAMENTO E FINANCAS',
       'FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO',
       'FINANCIADORA DE ESTUDOS E PROJETOS',
       'CENTRO NACIONAL DE TECNOLOGIA ELETRONICA AVAN',
       'CNPQ - DIFERENCIA CAMBIAL', 'AGENCIA ESPACIAL BRASILEIRA/AEB',
       'EMPRESA BRASILEIRA DE CORREIOS E TELEGRAFOS',
       'SECRETARIA DE ECON. E FIN.DA AER.- F.AER.', 'FUNDO DO EXERCITO',
       'DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM',
       'AGENCIA NACIONAL DE AVIACAO CIVIL - F. AEROV.',
       'DIRETORIA DE FINANCAS DA MARINHA-SISTEMA-PAIS',
       'D CONT - SETORIAL FINANCEIRA',
       'DIRETORIA DE ECON E FINANCAS DA AERONAUTICA',
       'DIRETORIA DE FINANCAS DA MARINHA - CCCPM',
       'DEPARTAMENTO DE PLANEJ, ORC E FINANCAS (MD)',
       'INDUSTRIA DE MATERIAL BELICO DO BRASIL/GESTOR',
       'CAIXA FINANCIAMENTO IMOBILIARIO AERONAUTICA', 'FUNDACAO OSORIO',
       'FUNDO NAVAL - DIFERENCA CAMBIAL', 'MAER - DIFERENCA CAMBIAL',
       'MARINHA - DIFERENCA CAMBIAL',
       'SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB',
       'INSTITUTO NAC.DE METROLOG. QUALID. E TECNOLOG',
       'SETORIAL ORCAMENTARIA E FINANCEIRA / ME',
       'COORDENACAO-GERAL DE ORC. E FINANCAS/MP',
       'COORD.GERAL DE ORCAMENTO, FINANCAS E CONTAB.',
       'FUNDACAO IBGE-ADMINISTRACAO CENTRAL/RJ',
       'SUPERINTENDENCIA DA ZONA FRANCA DE MANAUS/AM',
       'BANCO CENTRAL DO BRASIL',
       'COORD-GERAL DE ORCAMENTO, FIN. E CONT.- CGOFC',
       'SUPERINTENDENCIA DE SEGUROS PRIVADOS - RJ',
       'COORD.GERAL DE ORC. FIN. E CONTABILIDADE',
       'COORDENACAO-GERAL DE ORCAM.FINAN.CONTAB/MDIC',
       'INSTITUTO NACIONAL DA PROPRIEDADE INDUSTRIAL',
       'COMISSAO DE VALORES MOBILIARIOS',
       'FUNDACENTRO - FUND.JORGE DUPRAT/CTN/SEDE - SP',
       'FUNDACAO ESCOLA NACIONAL DE ADM. PUBLICA',
       'FUNDO CONSTITUCIONAL DO DISTRITO FEDERAL',
       'SERPRO-SEDE - DEPARTAMENTO FINANCEIRO',
       'FUNDO DE GARANTIA A EXPORTACAO-BNDES',
       'CIA.DE ENTREPOSTOS E ARMAZENS GER.DE S.PAULO',
       'FUNDO DE COMPENSACAO E VARIACAO SALARIAL',
       'CASA DA MOEDA DO BRASIL', 'FUNDO DE ESTABILIDADE DO SEGURO RURAL',
       'INSTITUTO DE PESQUISA ECONOMICA APLICADA',
       'FUNDO DE GAR.P/PROMOC.DA COMPETITIVIDADE±FGPC',
       'FUNDO CONTINGENTE DA EXTINTA RFFSA-FC',
       'FUNDO NACIONAL DE DESENVOLVIMENTO',
       'STN - EXTERIOR - DIF.CAMBIAL', 'FUNDO SOBERANO DO BRASIL',
       'FUNDO DE APOIO AO DESENVOLVIMENTO SOCIAL',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RN',
       'FUNDACAO UNIVERSIDADE FEDERAL DE MATO GROSSO',
       'SUBSECRETARIA DE PLANEJ. E ORCAMENTO SPO(MEC)',
       'FUNDACAO UNIVERSIDADE FEDERAL DE S.J.DEL-REI',
       'UNIVERSIDADE FEDERAL DO CEARA', 'IF GOIANO',
       'UNIVERSIDADE FEDERAL DA BAHIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO CEARA',
       'FUNDACAO JOAQUIM NABUCO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE SERGIPE',
       'INSTITUTO FEDERAL CATARINENSE - REITORIA',
       'UNIVERSIDADE TECNOLOGICA FEDERAL DO PARANA',
       'FUNDACAO UNIVERSIDADE FEDERAL DO TOCANTINS',
       'UNIVERSIDADE FEDERAL DO ESPIRITO SANTO',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ACRE',
       'UNIVERSIDADE FEDERAL DE MINAS GERAIS',
       'UNIVERSIDADE FEDERAL DE ITAJUBA',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO SUL',
       'INST. FED. DO PARANA/ REITORIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MATO GROSSO',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO NORTE',
       'INST. FED. DE EDUC.,CIENC. E TEC. DE RONDONIA',
       'INSTITUTO FED CIENCIA TECNOL SUDESTE MG',
       'FUNDACAO UNIVERSIDADE DO AMAZONAS', 'IFPB - REITORIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO NORTE DE MG',
       'UNIVERSIDADE FEDERAL DE VICOSA',
       'INST.FED.DE ED.,CIENC.E TEC.DO S.PERNAMBUCANO',
       'FUNDACAO UNIVERSIDADE FEDERAL DE PELOTAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PARA',
       'UNIVERSIDADE FEDERAL RURAL DA AMAZONIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.FARROUPILHA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE PERNAMBUCO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MARANHAO',
       'UNIVERSIDADE FEDERAL DA PARAIBA',
       'UNIVERSIDADE FEDERAL DE SANTA CATARINA', 'REITORIA',
       'IFB - REITORIA - BRASILIA-DF', 'UNIVERSIDADE FEDERAL DE LAVRAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO SUL DE MG',
       'INST FED DE EDUC CIENC E TECNOLOGIA BAIANO',
       'UNIVERSIDADE FEDERAL RURAL DE PERNAMBUCO',
       'INST.FED.DE EDUC.,CIENC.E TEC.FLUMINENSE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE MINAS GERAIS',
       'UNIVERSIDADE FEDERAL RURAL DO SEMI-ARIDO - RN',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TOCANTINS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MAT.G.DO SUL',
       'FUND.COORD.DE APERF.DE PESSOAL NIVEL SUPERIOR',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TRIA.MINEIRO',
       'UNIVERSIDADE FEDERAL FLUMINENSE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ESP.SANTO',
       'UNIVERSIDADE FED.VALES JEQUITINHONHA E MUCURI',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RS',
       'UNIVERSIDADE FEDERAL DE SANTA MARIA',
       'FUNDACAO UNIVERSIDADE DE BRASILIA - FUB',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PAMPA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE ALAGOAS',
       'UNIVERSIDADE FEDERAL DE OURO PRETO',
       'UNIVERSIDADE FEDERAL DE CAMPINA GRANDE',
       'UNIVERSIDADE FEDERAL DO RECONCAVO DA BAHIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAZONAS',
       'UNIVERSIDADE FEDERAL DO RIO DE JANEIRO',
       'HOSPITAL DE CLINICAS DE PORTO ALEGRE',
       'FUNDO NACIONAL DE DESENVOLVIMENTO DA EDUCACAO',
       'CAPES - DIFERENCA CAMBIAL',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ACRE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DA BAHIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE RONDONIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE GOIAS',
       'CENTRO FED.DE EDUC.TECNOL.CELSO S.DA FONSECA',
       'INST.NACIONAL DE EST.E PESQUISAS EDUCACIONAIS',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PIAUI', 'COLEGIO PEDRO II',
       'CENTRO FEDERAL DE EDUCACAO TECNOLOGICA DE MG',
       'UNIVERSIDADE FEDERAL DE ALAGOAS', 'UNIVERSIDADE FEDERAL DE GOIAS',
       'UNIVERSIDADE FEDERAL DE ALFENAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE RORAIMA',
       'INSTITUTO FEDERAL DE SAO PAULO',
       'FUNDACAO UNIVERSIDADE DO MARANHAO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE STA.CAT/IFSC',
       'UNIFESP-UNIVERSIDADE FEDERAL DE SAO PAULO',
       'UNIVERSIDADE FEDERAL DA FRONTEIRA SUL',
       'UNIV. FEDERAL DA INTEGRACAO LATINO-AMERICANA',
       'UNIVERSIDADE FEDERAL DO TRIANGULO MINEIRO',
       'UNIVERSIDADE FEDERAL DE JUIZ DE FORA',
       'UNIVERSIDADE FEDERAL DO OESTE DO PARA',
       'UNIV.DA INTEG.INTERN.DA LUSOF.AFRO-BRASILEIRA',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ABC',
       'FUND. UNIVERSIDADE FEDERAL VALE SAO FRANCISCO',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SAO CARLOS',
       'UNIVERSIDADE FEDERAL DO PARANA',
       'FUNDACAO UNIVERSIDADE FED. DA GRANDE DOURADOS',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SERGIPE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PIAUI',
       'UNIVERSIDADE FEDERAL DE PERNAMBUCO',
       'UNIVERSIDADE FEDERAL RURAL DO RIO DE JANEIRO',
       'UNIRIO UNIVERSIDADE FEDERAL DO ESTADO RJ',
       'INST.FED.DE EDUC.,CIE.E TEC.SUL-RIO-GRANDENSE',
       'UNIVERSIDADE FEDERAL DE RORAIMA',
       'FUND.UNIV.FED.DE.CIENC.DA SAUDE DE P.ALEGRE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAPA',
       'UNIVERSIDADE FEDERAL DO PARA',
       'FUNDACAO UNIVERSIDADE FEDERAL DO AMAPA',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE - FURG',
       'FUNDACAO UNIVERSIDADE FEDERAL DE UBERLANDIA',
       'EMPRESA BRASILEIRA DE SERVICOS HOSPITALARES',
       'FUNDACAO UNIVERS.FED. DE MATO GROSSO DO SUL',
       'AGENCIA NACIONAL DE AVIACAO CIVIL',
       'DEPART.NAC.INFRA ESTRUTURA TRANSPORTES.',
       'AGENCIA NACIONAL DE TRANSPORTES TERRESTRES',
       'FUNDO DA MARINHA MERCANTE',
       'FUNDO NACIONAL DE SEG. E EDUCACAO DE TRANSITO',
       'SUBSECRETARIA DE PLAN.,ORCAM.E ADMIN.SETORIAL',
       'AGENCIA NACIONAL DE TRANSPORTES AQUAVIARIOS',
       'SECRETARIA DE PORTOS/PR',
       'VALEC ENGENHARIA CONSTRUCOES E FERROVIAS S/A.',
       'FUNDO NACIONAL DE AVIACAO CIVIL',
       'EMPRESA DE PLANEJAMENTO E LOGISTICA S.A - EPL',
       'SECRETARIA DE AVIACAO CIVIL/PR',
       'COMPANHIA DOCAS DO ESTADO DE SAO PAULO',
       'COMPANHIA DOCAS DO ESTADO DA BAHIA', 'COMPANHIA DOCAS DO CEARA',
       'COMPANHIA DOCAS DO RIO DE JANEIRO',
       'COMPANHIA DOCA DO RIO GRANDE DO NORTE', 'COMPANHIA DOCAS DO PARA',
       'COMPANHIA DOCAS DO ESPIRITO SANTO',
       'SUPERINT. INFRAESTRUTURA AEROPORTUARIA - ANAC',
       'DEPTO.DE POLICIA RODOVIARIA FEDERAL',
       'COORDENACAO DE ORCAMENTO FINANCAS CONTABILIDA',
       'FUNDO DE DEFESA DOS DIREITOS DIFUSOS',
       'DEPEN - DIRETORIA EXECUTIVA', 'FUNDACAO NACIONAL DO INDIO - U.O.',
       'CONSELHO ADMINISTRATIVO DE DEFESA ECONOMICA',
       'FUNDO NACIONAL DE SEGURANCA PUBLICA - FNSP',
       'COORDENACAO DE ORCAMENTO E FINANCAS - COF/DPF',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MJ',
       'FUNDO NACIONAL ANTIDROGAS', 'RENDA DO PATRIMONIO INDIGENA',
       'SECRETARIA DE POLITICAS PARA AS MULHERES',
       'SECRETARIA EXECUTIVA-MPA',
       'COORDENACAO-GERAL DE ORC. FIN.E CONTABILIDADE',
       'FUNDACAO NACIONAL DE SAUDE - DF', 'FUNDACAO OSWALDO CRUZ',
       'HOSPITAL NOSSA SENHORA DA CONCEICAO S/A',
       'SPO-COORD.-GERAL DE ORC.E FINANCAS/MS',
       'AGENCIA NACIONAL DE SAUDE SUPLEMENTAR',
       'AGENCIA NACIONAL DE VIGILANCIA SANITARIA',
       'HOSPITAL CRISTO REDENTOR S/A', 'HOSPITAL FEMINA S/A',
       'EMPRESA BRASIL DE COMUNICACAO S.A',
       'AGENCIA NACIONAL DE TELECOMUNICACOES-SEDE',
       'FUNDO DE UNIVERS.DOS SERV.TELECOMUNICACOES',
       'FUNDO P/O DESENV.TECNOL.DAS TELECOMUNICACOES',
       'FUNDO NACIONAL DO IDOSO',
       'FUNDO NACIONAL PARA A CRIANCA E O ADOLESCENTE',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MRE',
       'FUNDACAO ALEXANDRE DE GUSMAO', 'MRE - DIFERENCA CAMBIAL',
       'INDUSTRIAS NUCLEARES DO BRASIL S/A - INB',
       'COMPANHIA DE PESQUISA DE RECURSOS MINERAIS',
       'COORD.GERAL DE ORCAM.E FIN./M.M.E',
       'AG. NAC.DO PETROLEO GAS NAT.E BIOCOM',
       'DEPARTAMENTO NAC. DE PRODUCAO MINERAL - SEDE',
       'AGENCIA NACIONAL DE ENERGIA ELETRICA',
       'EMPRESA DE PESQUISA ENERGETICA',
       'NUCLEBRAS EQUIPAMENTOS PESADOS S/A-NUCLEP',
       'SUBSEC. DE PLANEJ., ORCAMENTO E ADMINISTRACAO',
       'EMPRESA DE TRENS URBANOS DE PORTO ALEGRE S/A',
       'CIA BRASILEIRA DE TRENS URBANOS-ADM.CENTRAL',
       'FUNDO CONSTITUCIONL DO CENTRO OESTE',
       'FUNDO CONSTITUCIONAL FINANCIAMENTO NORTE',
       'FUNDO CONSTITUCIONAL DE FINANCIAM.DO NORDESTE',
       'DEPARTAMENTO NAC. DE OBRAS CONTRA AS SECAS/UO',
       'CIA DE DES.DOS VALES DO S.FRANC.E DO PARNAIBA',
       'SECRETARIA EXECUTIVA - MINISTERIO DAS CIDADES',
       'SUPERINTEND. DO DESENVOLVIMENTO DA AMAZONIA',
       'FUNDO DE DESENVOLVIMENTO DA AMAZONIA', 'ORCAMENTO E FINANCAS/MDR',
       'FUNDO NACIONAL DE HABIT. DE INTERESSE SOCIAL',
       'SUPERINTENDENCIA DO DESENVOLV. DO NORDESTE',
       'COORDENACAO DE ORCAMENTO E FINANCAS.',
       'AGENCIA DE DESENVOLVIMENTO DA AMAZONIA',
       'SUPERINT. DO DESENVOLVIMENTO DO CENTRO-OESTE',
       'FUNDO DE DESENVOLVIMENTO DO NORDESTE',
       'AUTORIDADE PUBLICA OLIMPICA',
       'COORD. DE PLAN. ORCAMENTO E FIN./COPLAN/JBRJ',
       'SUBSECRET.PLANEJAM.ORCAM.E ADMINIST±SPOA(MMA)',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMC',
       'IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ',
       'INST.CHICO MENDES DE CONSER.DA BIODIVERSIDADE',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMA',
       'COORD-GERAL DE ORCAM., FIN. E CONTABILIDADE',
       'FUNDACAO CASA DE RUI BARBOSA',
       'INSTITUTO BRASILEIRO DE TURISMO - EM EXTINCAO',
       'INSTITUTO BRASILEIRO DE MUSEUS - IBRAM',
       'INSTITUTO DO PATRIMONIO HIST. E ART. NACIONAL',
       'FUNDACAO NACIONAL DE ARTES',
       'COORD.GERAL DE PLAN. ORC. FIN. E CONTAB/FNC',
       'AGENCIA NACIONAL DO CINEMA', 'CGOFC - SETORIAL/MTUR',
       'FUNDACAO CULTURAL PALMARES', 'FUNDACAO BIBLIOTECA NACIONAL',
       'FUNDO GERAL DE TURISMO-FUNGETUR',
       'SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR',
       'SECRETARIA DE POLIT. DE PROM.DA IGUALD.RACIAL',
       'SECRETARIA DE DIREITOS HUMANOS/PR',
       'FUNDO DE IMPRENSA NACIONAL/EXEC.ORC.FINANC.',
       'SECRETARIA DA MICRO E PEQUENA EMPRESA',
       'INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI',
       'GABINETE DA VICE-PRESIDENCIA DA REPUBLICA',
       'SECRETARIA DE ASSUNTOS ESTRATEGICOS-SAE/PR'], dtype=object)

Los 10 NOMBRE_UNIDAD_GESTORA que MAS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
SETORIAL ORCAMENTARIA E FINANCEIRA / ME          415                 9.23
COORD.GERAL DE ORCAMENTO, FINANCAS E CONTAB.     109                 2.42
SUBSECRETARIA DE PLANEJ. E ORCAMENTO SPO(MEC)     80                 1.78
EMBRAPA-SETORIAL                                  52                 1.16
COORD.GERAL DE PLAN. ORC. FIN. E CONTAB/FNC       48                 1.07
DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM      47                 1.04
FUNDO DO EXERCITO                                 46                 1.02
SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB       44                 0.98
UNIVERSIDADE FEDERAL DE MINAS GERAIS              43                 0.96
FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO         41                 0.91

Los 10 NOMBRE_UNIDAD_GESTORA que MENOS aparecen son:

                                             count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
COMPANHIA DOCAS DO PARA                          1                 0.02
COMPANHIA DOCAS DO ESPIRITO SANTO                1                 0.02
MRE - DIFERENCA CAMBIAL                          1                 0.02
HOSPITAL FEMINA S/A                              1                 0.02
EMPRESA BRASILEIRA DE CORREIOS E TELEGRAFOS      1                 0.02
CNPQ - DIFERENCIA CAMBIAL                        1                 0.02
SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMC       1                 0.02
SECRETARIA DA MICRO E PEQUENA EMPRESA            1                 0.02
GABINETE DA VICE-PRESIDENCIA DA REPUBLICA        1                 0.02
SECRETARIA DE ASSUNTOS ESTRATEGICOS-SAE/PR       1                 0.02

 Las distribución de las repeticiones de los NOMBRE_UNIDAD_GESTORA son:

       count  % repetición
count
1         21          7.53
14        18          6.45
5         14          5.02
10        14          5.02
16        14          5.02
15        14          5.02
2         14          5.02
9         13          4.66
11        13          4.66
13        11          3.94
6         10          3.58
17         9          3.23
8          8          2.87
7          8          2.87
4          7          2.51
23         7          2.51
21         6          2.15
12         6          2.15
22         6          2.15
19         5          1.79
20         5          1.79
18         5          1.79
25         5          1.79
3          5          1.79
24         4          1.43
26         4          1.43
32         3          1.08
27         3          1.08
30         3          1.08
39         3          1.08
31         3          1.08
35         2          0.72
41         2          0.72
36         1          0.36
44         1          0.36
33         1          0.36
34         1          0.36
47         1          0.36
46         1          0.36
80         1          0.36
109        1          0.36
415        1          0.36
52         1          0.36
43         1          0.36
48         1          0.36
29         1          0.36
28         1          0.36

None
La categoría CATEGORÍA_ECONÓMICA tiene 5 elementos diferentes:

Los elementos de la categoría son:

array(['Receitas Correntes', 'Receitas de Capital',
       'Receitas Correntes - intra-orçamentárias', 'Sem informação',
       'Receitas de Capital - intra-orçamentárias'], dtype=object)

Los 10 CATEGORÍA_ECONÓMICA que MAS aparecen son:

                                           count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                          4001                88.95
Receitas de Capital                          259                 5.76
Receitas Correntes - intra-orçamentárias     236                 5.25
Sem informação                                 1                 0.02
Receitas de Capital - intra-orçamentárias      1                 0.02

Los 10 CATEGORÍA_ECONÓMICA que MENOS aparecen son:

                                           count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                          4001                88.95
Receitas de Capital                          259                 5.76
Receitas Correntes - intra-orçamentárias     236                 5.25
Sem informação                                 1                 0.02
Receitas de Capital - intra-orçamentárias      1                 0.02

 Las distribución de las repeticiones de los CATEGORÍA_ECONÓMICA son:

       count  % repetición
count
1          2         40.00
4001       1         20.00
259        1         20.00
236        1         20.00

None
La categoría ORIGEN_INGRESO tiene 15 elementos diferentes:

Los elementos de la categoría son:

array(['Outras Receitas Correntes', 'Receita de Serviços',
       'Transferências de Capital', 'Alienação de Bens',
       'Receita Agropecuária', 'Transferências Correntes',
       'Receita Patrimonial', 'Operações de Crédito',
       'Impostos, Taxas e Contribuições de Melhoria',
       'Amortizações de Empréstimos', 'Contribuições',
       'Receita Industrial', 'Outras Receitas de Capital',
       'Receitas Correntes - a classificar', 'Sem informação'],
      dtype=object)

Los 10 ORIGEN_INGRESO que MAS aparecen son:

                                             count  Porcentaje_recuento
ORIGEN_INGRESO
Outras Receitas Correntes                     1982                44.06
Receita de Serviços                            978                21.74
Receita Patrimonial                            621                13.81
Alienação de Bens                              184                 4.09
Impostos, Taxas e Contribuições de Melhoria    176                 3.91
Contribuições                                  176                 3.91
Transferências Correntes                       126                 2.80
Receita Agropecuária                           105                 2.33
Receita Industrial                              61                 1.36
Amortizações de Empréstimos                     24                 0.53

Los 10 ORIGEN_INGRESO que MENOS aparecen son:

                                    count  Porcentaje_recuento
ORIGEN_INGRESO
Contribuições                         176                 3.91
Transferências Correntes              126                 2.80
Receita Agropecuária                  105                 2.33
Receita Industrial                     61                 1.36
Amortizações de Empréstimos            24                 0.53
Transferências de Capital              22                 0.49
Operações de Crédito                   20                 0.44
Receitas Correntes - a classificar     12                 0.27
Outras Receitas de Capital             10                 0.22
Sem informação                          1                 0.02

 Las distribución de las repeticiones de los ORIGEN_INGRESO son:

       count  % repetición
count
176        2         13.33
1982       1          6.67
978        1          6.67
621        1          6.67
184        1          6.67
126        1          6.67
105        1          6.67
61         1          6.67
24         1          6.67
22         1          6.67
20         1          6.67
12         1          6.67
10         1          6.67
1          1          6.67

None
La categoría TIPO_INGRESO tiene 44 elementos diferentes:

Los elementos de la categoría son:

array(['Bens, Direitos e Valores Incorporados ao Patr',
       'Indenizações, restituições e ressarcimentos',
       'Multas administrativas, contratuais e judicia',
       'Demais receitas correntes', 'Receita de Serviços',
       'Transferências de Instituições Privadas',
       'Alienação de bens móveis',
       'Receita da produção animal e derivados',
       'Transferências dos Municípios e de suas Entid',
       'Alienação de bens imóveis', 'Transferências de Pessoas Físicas',
       'Valores Mobiliários',
       'Exploração do patrimônio imobiliário do Estad',
       'Operações de crédito - mercado interno', 'Taxas',
       'Delegação de Serviços Públicos Mediante Conce',
       'Outras receitas agropecuárias', 'Amortizações de Empréstimos',
       'Contribuições econômicas', 'Transferências de Convênios',
       'Indenizações e restituições',
       'Receitas da indústria de transformação', 'Contribuições sociais',
       'Receita dívida ativa alienação de estoques de',
       'Receita da produção vegetal',
       'Receita dívida ativa proveniente de amortizaç',
       'Exploração de recursos naturais',
       'Receitas Correntes - a classificar',
       'Receita de concessões e permissões',
       'Demais receitas patrimoniais', 'Cessão de direitos',
       'Transferências de Outras Instituições Pública',
       'Operações de crédito - mercado externo', 'Impostos',
       'Resultado do Banco Central do Brasil',
       'Receitas decorrentes de aportes periódicos pa', 'Sem informação',
       'Receitas de valores mobiliários',
       'Receitas decorrentes de compensações ao Regim',
       'Receita títulos do tesouro nacional resgatado',
       'Remuneração das Disponibilidades do Tesouro N', 'Outras receitas',
       'Transferências do Exterior',
       'Transferências dos Estados e do Distrito Fede'], dtype=object)

Los 10 TIPO_INGRESO que MAS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Receita de Serviços                              978                21.74
Multas administrativas, contratuais e judicia    911                20.25
Indenizações, restituições e ressarcimentos      654                14.54
Exploração do patrimônio imobiliário do Estad    302                 6.71
Demais receitas correntes                        229                 5.09
Bens, Direitos e Valores Incorporados ao Patr    163                 3.62
Valores Mobiliários                              160                 3.56
Alienação de bens móveis                         156                 3.47
Impostos                                         124                 2.76
Contribuições sociais                            115                 2.56

Los 10 TIPO_INGRESO que MENOS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Receitas de valores mobiliários                    2                 0.04
Receita dívida ativa proveniente de amortizaç      2                 0.04
Resultado do Banco Central do Brasil               2                 0.04
Receita dívida ativa alienação de estoques de      1                 0.02
Receitas decorrentes de aportes periódicos pa      1                 0.02
Sem informação                                     1                 0.02
Receitas decorrentes de compensações ao Regim      1                 0.02
Remuneração das Disponibilidades do Tesouro N      1                 0.02
Outras receitas                                    1                 0.02
Transferências do Exterior                         1                 0.02

 Las distribución de las repeticiones de los TIPO_INGRESO son:

       count  % repetición
count
1          7         15.91
2          3          6.82
61         2          4.55
23         2          4.55
13         2          4.55
4          2          4.55
654        1          2.27
978        1          2.27
156        1          2.27
124        1          2.27
85         1          2.27
911        1          2.27
229        1          2.27
163        1          2.27
160        1          2.27
302        1          2.27
49         1          2.27
52         1          2.27
60         1          2.27
66         1          2.27
115        1          2.27
24         1          2.27
28         1          2.27
48         1          2.27
12         1          2.27
17         1          2.27
18         1          2.27
9          1          2.27
5          1          2.27
7          1          2.27
8          1          2.27
3          1          2.27

None
La categoría DETALLE tiene 704 elementos diferentes:

Los elementos de la categoría son:

array(['REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC',
       'RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES',
       'OUTRAS MULTAS E JUROS DE MORA',
       'REC.DIV.ATIVA POR INFRAÇÃO ADMINISTRATIVA', 'OUTRAS RESTITUICOES',
       'OUTRAS RECEITAS', 'MULTAS E JUROS PREVISTOS EM CONTRATOS',
       'OUTRAS INDENIZACOES', 'OUTRAS MULTAS',
       'RECEITA DE ÔNUS DE SUCUMBÊNCIA',
       'RECEITA DE HONORÁRIOS DE ADVOGADOS',
       'OUTROS SERVICOS FINANCEIROS', 'SERVICOS ADMINISTRATIVOS',
       'RESTITUICOES DE CONVENIOS',
       'Transferências de Instituições Privadas', 'ALIENACAO DE VEICULOS',
       'Receita da produção animal e derivados',
       'Transferências dos Municípios e de suas Entid',
       'VARIACAO CAMBIAL', 'RESTITUICOES DE BENEFICIOS NAO DESEMBOLSADOS',
       'ALIENACAO IMOV.RURAIS P/ COLON. E REF.AGRARIA',
       'SERVICOS DE TRANSFERENCIA DE TECNOLOGIA',
       'TRANSF.DE CONV.DOS ESTADOS,DF E S/ENTIDADES',
       'SERVICOS DE REGISTRO DO COMERCIO',
       'MULTAS E JUROS DE MORA DE DIVIDENDOS', 'SERVICOS DE TECNOLOGIA',
       'SERV.DE COM.LIVROS PERIOD.MAT.ESC.E PUBLICID.',
       'ALIENACAO DE IMOVEIS RURAIS',
       'TRANSF.DE CONVENIOS DA UNIAO DE S/ENTIDADES',
       'ALIENACAO DE TITULOS MOBILIARIOS', 'JUROS DE TITULOS DE RENDA',
       'TAXA DE OCUPACAO DE OUTROS IMOVEIS', 'SERVICOS DE ARMAZENAGEM',
       'TITULOS DA DIVIDA AGRARIA - TDA',
       'MULTAS S/ FISCALIZACAO REDE DE PROD.ORGANICA',
       'MULTAS E JUROS DE MORA  OUTRAS CONTRIBUICOES',
       'SERVICOS DE ESTUDOS E PESQUISAS',
       'TAXA DE CLASSIFICACAO DE PRODUTOS VEGETAIS',
       'REC.DIV.ATIVA RESSARCIMENTO AO ERARIO',
       'ALIENACAO DE OUTROS BENS MOVEIS',
       'REC.DIV.ATIVA RESSARC.ERARIO-DECISAO TCU',
       'REC. CUSTOS DE EDITAL DE CONCESSAO FLORESTAL',
       'INDENIZ. POR  DANOS CAUSADOS AO PATR. PUBLICO',
       'TAXA DE OCUPACAO DE TERRENOS DA UNIAO',
       'Outras receitas agropecuárias',
       'PARCEL-OUTRAS MULTA/J DE MORA DIV AT OUT REC',
       'REC. CONCESS. FLORESTAS NACIONAIS - VALOR MIN',
       'ALIENACAO DE MOVEIS E UTENSILIOS',
       'AMORTIZACOES DE EMPRESTIMOS DIVERSOS', 'ARRENDAMENTOS',
       'CONTRIBUICAO S/ APOSTAS EM COMPET. HIPICAS',
       'TRANSFERENCIAS CONVENIOS DA UNIAO E ENTIDADES',
       'ALIENACAO DE EQUIPAMENTOS',
       'REC.SEGUROS DECOR. INDENIZAÇÃO POR SINISTRO',
       'OUTROS RECEITAS DE SERVICOS',
       'MUL.JUR. MORA ALIEN. DE OUTROS BENS IMOVEIS',
       'ALIENACAO DE IMOVEIS URBANOS',
       'ALIENACAO DE ANIMAIS REPRODUTORES E MATRIZES',
       'RECEITA DA INDUSTRIA DE BEBIDAS E DESTILADOS',
       'TRANSF.DOS ESTADOS DF E SUAS ENTIDADES',
       'AMORTIZACOES DE PROJETOS',
       'REC. CONCESS. FLOREST. NACION. - DEMAIS VALOR',
       'MULTAS E JUROS DE MORA DE TAXAS DE OCUPACAO',
       'DIVIDENDOS, PARTICIP. JUROS S/CAPITAL PROPRIO',
       'OUTROS SERVICOS COMERCIAIS',
       'ALIENACAO DE ESTOQUES PROPRIOS DO FUNCAFE', 'ALUGUEIS',
       'CONTRIBUICAO INDUSTRIAL RURAL', 'TAXAS DE SERVICOS CADASTRAIS',
       'TRANSFER. CONVENIOS DE INSTITUICOES PRIVADAS',
       'SERVICOS AGROPECUARIOS',
       'Receita dívida ativa alienação de estoques de',
       'AMORTIZACOES DE CONTRATOS',
       'SERV.COMERCIAIS DE PROD.DADOS E MAT.INFORMATI',
       'MULTAS E JUROS DE MORA DE ALUGUEIS',
       'SERVICO DE INFORMACOES CIENTIFICAS E TECNOLOG',
       'SERV.CONS,ASS.TEC.E AN.PROJ-APLICAÇÕES LIVRES',
       'RECEITA DA INDUSTRIA EDITORIAL E GRAFICA',
       'Receita da produção vegetal',
       'ADICIONAL A CONTRIBUICAO PREVIDENCIARIA',
       'OUTRAS RECEITAS EVENTUAIS', 'SERVICOS DE METEOROLOGIA',
       'SERVICOS DE HOSPEDAGEM E ALIMENTACAO',
       'OUTRAS RECEITAS DE BENS IMOVEIS', 'JUROS DE EMPRESTIMOS',
       'SERVICOS DE COMERC. E DISTRIB. PROD. AGROPEC.',
       'Receita dívida ativa proveniente de amortizaç',
       'REMUNERACAO DE DEPOSITOS BANCARIOS',
       'REC. DE LEILOES DE MERCADORIAS APREENDIDAS',
       'CONTRIBUICAO S/RECEITA DA LOTERIAL FEDERAL',
       'PRODUTO DEP.ABANDONADO(DINHEIRO/OBJETO VALOR)',
       'TAR.INSCR.CONCURSOS E PROCESSOS SELETIVOS',
       'MUL.APLIC.PELOS TRIBUNAIS DE CONTAS',
       'PROVENIENTES DE PESSOAS FISICAS',
       'CONTRIBUICAO S/RECEITA LOTERIA ESPORTIVA',
       'CONTR.S/REC.CONC.PROG.DEST.PRAT.DESP-MOD.FUTE',
       'CONTRIBUICAO S/RECEITA LOTERIAS DE NUMEROS',
       'REMUNERACAO DE SALDOS NAO DESEMBOLSADOS',
       'PROVENIENTES DE PESSOAS JURIDICAS',
       'PROVENIENTES DE DEPOSITOS NAO IDENTIFICADOS',
       'ALIENACAO ESTOQUES ADQUIR. AGRICUL. FAMILIAR',
       'SERVICOS RECREATIVOS E CULTURAIS',
       'CONTR.-EMP.INSTALADAS NA AMAZONIA - EXCEDENTE',
       'SERVICOS DE REMUNERACAO REP. PROG.DES.ECONOM.',
       'CON. S/REC.OPER.BRUTA EMPR.PREST.SERV.TELECOM',
       'ROYAL.EXCED.PROD.PETR.GAS.NAT.TERRA-CONCESSAO',
       'MULT.J.MORA REC. EXPLORACAO RECURSOS MINERAIS',
       'RECEITA DA INDUSTRIA ELETRONICA',
       'EXPLORACAO DE RECURSOS MINERAIS',
       'MULT.J.MORA DIV.AT.COTA ADIC.FR.MARINHA MERC.',
       'CONTRIBUIçãO S/REC.CONCESS.PERMISS.ENERG.ELET',
       'Receitas Correntes - a classificar',
       'CONTR.-EMP.INSTALADAS NA AMAZONIA - RESIDUAL',
       'MUL.JUR.MORA CONT.REC.CONCES.ENERGIA ELETRICA',
       'CONTRIBUIçãO P/ LIC.USO,AQUIS.OU TRANSF.TECN.',
       'CONTR-EMP.INSTAL.DEMAIS REGIOES-PARCELAMENTO',
       'COTA-PARTE ADIC.FRETE P/ RENOV.MARIN.MERCANTE',
       'RECEITA DA INDUSTRIA DE PROD. FARMOQUIMICOS',
       'RECEITA DA INDÚST. DE PRODUTOS FARMACÊUTICOS',
       'SERVICOS DE INSPECAO E FISCALIZACAO',
       'OUTORG DIREITO EXPLORACAO SATELITE BRASILEIRO',
       'MULT.J.MORA DIV.AT. EXPLOR. RECURSOS MINERAIS',
       'METROLOGIA CIENTIFICA E INDUSTRIAL',
       'RECEITA DA INDUSTRIA DE PROD.FARMOQUIMICOS',
       'CONTR-EMP.INSTALADAS DEMAIS REGIOES-RESIDUAL',
       'MULT.JUR MOR DA CONTRIB S/REC OP BRT SERV TEL',
       'REC.DIV.AT. COTA-PARTE AD.FR.P/REN MAR. MERC.',
       'ROYAL.EXCED.PROD.PETR.GAS.NAT.PLATA-CONCESSAO',
       'REC. OUTORG. DIREITO DE USO RADIODIFREQUENCIA',
       'OUTROS SERV.REGIST.MARCAS,PATENTES,TRANSF.TEC',
       'TX.LIC.,CONTR, FISC.MAT NUC.RADIOATIVO INSTAL',
       'MUL.JUR.MOR.DIV.ATIV.OUTORG.DIR.USO RADIOFREQ',
       'Demais receitas patrimoniais',
       'CONTR-EMP.INSTALADAS DEMAIS REGIOES-PRINCIPAL',
       'UTIL.RECURSO HIDRICOS - ITAIPU',
       'RECEITA DIV.ATIV DA OUTORGA DIREITO USO RADIO',
       'OPERACOES DE CREDITO INTERNAS - CONTRATUAIS',
       'CONTR-EMP.INSTALADAS DEMAIS REGIOES-EXCEDENTE',
       'REC.DIVIDA ATIVA EXPLORACAO RECURSOS MINERAIS',
       'UTIL.RECURSO HIDRICOS - DEMAIS EMPRESAS',
       'CONTR-EMP.INSTALADAS NA AMAZONIA-PARCELAMENTO',
       'CONTR.-EMP.INSTALADAS NA AMAZONIA - PRINCIPAL',
       'ROYAL.EXCED.PROD.PETR.GAS.NAT.PLATA-CONC.2009',
       'MULT.JUR.MOR OUTORGA DIR USO RADIOFREQUENCIA',
       'SERVICO DE REPARACAO, MANUTENCAO E INSTALACAO',
       'ROYAL.PROD.PETR.GAS.NAT.PLATAF(CONCESSAO)',
       'OUTRAS MULT.JUR.MORA DIV.ATIV.OUTR.RECEITAS',
       'SERVICOS DE COMERCIALIZACAO DE MEDICAMENTOS',
       'RECEITA DE COMERCIALIZAÇÃO DE FARDAMENTOS',
       'SERVICOS EDUCACIONAIS',
       'MULTAS PREVISTAS NA LEI DO SERVICO MILITAR',
       'REC. CONCESS. DE DIREITO REAL USO AREA PUBLIC',
       'TAXA DE FISCALIZACAO PROD.CONTR.MIN.EXERCITO',
       'AMORTIZACOES DE BENS', 'SERVICOS PORTUARIOS',
       'OUTRAS RECEITAS DA INDUSTRIA DE TRANSFORMACAO',
       'RECEITA CESSAO DIR.OPERACIONALIZACAO FOPAG',
       'TARIFA DE UTILIZACAO DE FAROIS',
       'Transferências de Outras Instituições Pública',
       'RECEITA DA INDUSTRIA MECANICA',
       'ADICIONAL S/ TARIFA USO COM E AUX NAVEG AEREA',
       'ALIENACAO DE EMBARCACOES', 'SERVICOS HOSPITALARES',
       'OUTRAS OPERACOES DE CREDITO EXTERNAS',
       'OUTRAS RECEITAS DE SERVICOS',
       'SERVICOS DE PROCESSAMENTO DE DADOS',
       'SERV ASSIST SAUDE SUPLEMENTAR SERVIDOR CIVIL',
       'CONTRIBUICAO PARA DESENV.ENS.PROFIS.MARITIMO', 'TAXA MILITAR',
       'SERV.FINANC.DE COMPENS.DE VARIACOES SALARIAIS',
       'SERVICOS DE TRANSPORTE RODOVIARIO',
       'TRANSF.CONV.DOS MUNICIPIOS E SUAS ENTIDADEDES',
       'COTA-PARTE DO SERV.NO FUNDO DE SAUDE MILITAR',
       'ROYAL.PROD.PETR.GAS.NAT.PLATAF(CONCESSAO)2010',
       'SERVICOS DE TRANSPORTE HIDROVIARIO',
       'SERVICOS DE REPARACAO,MANUTENCAO E INSTALACAO',
       'MULTAS DO REGULAMENTO  P/  O TRAFEGO MARITIMO',
       'SERVICOS DE TRANSPORTE AEREO',
       'OPERACOES DE CREDITOS EXTERNAS - CONTRATUAIS',
       'EMOLUMENTOS E CUSTAS JUDICIAIS',
       'MULTAS E JUROS DE MORA DE ARRENDAMENTOS',
       'MULTAS PREVISTAS NO COD.BRAS. DE AERONAUTICA',
       'RECEITA DA INDUSTRIA QUIMICA',
       'MULTAS E JUROS DE MORA TAXA FISC. PROD. MEX',
       'ADICIONAL SOBRE TARIFA AEROPORTUARIA',
       'TARIF USO COMUN E AUX.NAVEGACAO AEREA EM ROTA',
       'TARIFA AEROPORTUARIA',
       'ROYAL.PROD.PETR.GAS.NAT.PLATAF(CONCESSAO)2009',
       'CONTRIB.PARA CUSTEIO DAS PENSOES MILITARES',
       'TAXA OCUPACAO IMOVEIS FUN. PROP. NAC. RESID.',
       'RETIDO NAS FONTES - TRABALHO',
       'REC.DIVIDA ATIVA COFINS - PRINCIPAL',
       'MULTAS E JUROS DE MORA DE LAUDEMIOS',
       'CONTRIBUICAO PREVID.SEGURADO OBRIG.-EMPRESAR.',
       'MULTAS JUR.MORA DIV.AT.CONTR.PREV.SEG.ESPECIA',
       'REC PARC - MULTA/JUROS DE MORA DIV ATIVA CSLL',
       'MULTAS E JUROS DE MORA - IRPF',
       'REC. MULTA E JUROS MORA IMP OP CRED - IOF',
       'BONUS ASSINATURA CONTRATO PARTILHA PRODUCAO',
       'CONTRIBUICAO PARA O PIN',
       'RECEITA REMESSA DE REND. EXPLORACAO DE OBRAS',
       'RESTIT.PARC.SEGURO DESEMPREGO RECEB INDEVIDAM',
       'MULTAS PREVISTA NA LEGISLACAO  DE METROLOGIA',
       'EMPRESAS - ESPETACULOS ESPORTIVOS', 'IOF - DEMAIS OPERACOES',
       'MULTA ALIEN.BENS IMOVEIS DOM.UNIAO',
       'MULT.J.MORA REC.SUSPENSAO DIR.PROPR.INTELEC',
       'JUROS MORA FUNDAF - REC PARC DIV ATIV DA CSLL',
       'REC.DO PRINCIPAL DA CONTR. P FIN. SEG. SOCIAL',
       'MULTAS JUR. MORA DIV.ATIVA IR-PESSOA JURIDICA',
       'MULT.JUR MOR CONTRIB P/ FOMENTO RADIODIFUSAO',
       'JUROS MORA DO FUNDAF - DIV. ATIVA DA CPMF',
       'REC.MULTA/MORA DIV ATIVA IMP S/IMPORTACAO.',
       'MULTAS J.MORA DIV.ATIVA-CONTR. FIN.SEG.SOCIAL',
       'CONTRIBUICAO PARA O PROTERRA',
       'METROLOGIA LEGAL E CERTIFICATORIA DELEGADA',
       'MUL.JUR.DA.CONTR.PREV.EMPRESAS S/ REC.BRUTA',
       'MULT. J.MORA CONTR.REL.DESP.EMP. S/ J.CAUSA',
       'RETIDO NAS FONTES - REMESSA AO EXTERIOR',
       'REC. DO PRINCIPAL DO IMPOSTO S/ A EXPORTACAO',
       'PART.ESP.PROD.PETR.PLATA.COM ANTES DE 3/12/12',
       'RES.BCO CENTRAL-OPER.C/RESERV.E DER.CAMBIAIS',
       'MULT.JUR MORA DA OUTORGA DOS SERV DE RADIODIF',
       'MULTAS JUR.MORA.DIV.ATIV.-AUTO DE INFRACAO',
       'MULTAS/J.MORA CONTR.PREV.DO SEGURADO ESPECIAL',
       'LOJAS FRANCAS ENTREP.ADUAN. DEP.ALFANDEGADOS',
       'REC.DIV.ATIVA CONT.PREV.SOBRE ESPETAC.ESPORT.',
       'OUTRAS CONTRIBUICOES ECONOMICAS', 'RETIDO NAS FONTES - CAPITAL',
       'ROYALTIES MINIMOS P/ PROD EM PLATAFORMA PETRO',
       'CONTRIBUICAO PREVID. DO SEGURADO FACULTATIVO',
       'CONTRIBUICAO SOBRE PRODUCAO RURAL',
       'RECEITA DE PARCELAMENTOS - DIV ATIVA DA CSLL',
       'JUROS MORA DO FUNDAF - CONTR. FIN. SEG.SOCIAL',
       'CONTR.SERV.ATIVO CIVIL-PAGTO SENT. JUDICIAIS',
       'RECEITA DIV.ATIV OUTRAS REC CONCES/PERMISSAO',
       'CONTRIBUICAO S/RECEITA LOTERIA INSTANTANEA',
       'MULTAS JUR.MORA DIV.AT.CONTR.PREV.SEG.ASSALAR',
       'REC.DIV.ATIVA CONT.PREV.ORGAOS DO PODER PUBL.',
       'REC  SUSPENSAO DE DIREITOS PROP. INTELECTUAL',
       'Receitas decorrentes de aportes periódicos pa',
       'ALIEN. BENS IMOVEIS DE DOM DA UNIAO-DOM PLENO',
       'CONTRIBUICAO PATRONAL DE SERVIDOR ATIVO CIVIL',
       'METROLOGIA LEGAL',
       'REC.RECOL E TRANSF.DEP.JUDICIAL/EXTRAJUDICIAL',
       'SERV. PROTECAO TOPOGRAFIAS CIRCUITOS INTEGRAD',
       'REC. MULTA E JUROS DA DIVIDA ATIVA DO IOF',
       'PARCELAMENTOS - RECEITA DIV ATIV OUTROS TRIB',
       'ROYALTIES MINIMOS PELA PRODOCAO EM TERRA',
       'MULTA E JURO DE MORA DIV.ATIV.OUTRAS CONTRIB.',
       'REC.DIV.ATIVA CONT.PREV.- PARCELAMENTOS',
       'REC. MULTA E JUROS MORA IMPOSTO S/ IMPORTACAO',
       'REC.DIV.ATIVA CONT.SEG.OBRIG.-CONTR.INDIVIDUA',
       'REC. DIVIDA ATIVA DO ITR - MUNIC. CONVENIADOS',
       'PESSOAS JURIDICAS - LIQUIDA DE INCENTIVOS',
       'JUROS MORA DO FUNDAF - REC PARCELAMENT COFINS',
       'RECEITA DE PARCELAMENTOS - DIV ATIVA DO IRPF',
       'REC.MULTA/MORA CONTR PIS/PASEP', 'Valores Mobiliários',
       'SERVICOS DE REMESSA DE DEPOSITOS OFICIAIS',
       'IPI - VINCULADOS A IMPORTACAO',
       'JUROS MORA DO FUNDAF - CONTR. P/ PIS/PASEP',
       'MULTAS/J.MORA CONTR.PREV.SEGURADO ASSALARIADO',
       'TAXA DE FISCALIZACAO DE INSTALACAO',
       'REC PARC - MULTA/JUROS DE MORA DIV ATIVA IE',
       'IPI - SIMPLES FEDERAL E NACIONAL',
       'ROYAL.PROD.PETRO.GAS.NAT. EM TERRA(CONCESSAO)',
       'TITULOS TESOURO NACIONAL - OUTRAS APLICACOES',
       'SERVICO DE COMPENSACAO DE VARIACOES SALARIAIS',
       'RECEITA PARCELAMENTOS - DIVIDA ATIVA DO IRPJ',
       'MULTAS JUR.MORA DIV.AT.CONTR.PREV.SEG.OBR.EMP',
       'CONTRIB. PATRONAL DE SERVIDOR AT.CIVIL - RPPS',
       'PART.ESPEC.PROD.PETRO.OU GAS NAT.CONCES.2010',
       'REC DE PARC - MULTA/JUROS DE MORA OUTROS TRIB',
       'JUROS MORA DO FUNDAF - DIV. ATIVA PIS/PASEP',
       'MUL. PREVISTAS NA LEG.SEG.DESEMP.AB. SALAR.',
       'REC. DIVIDA ATIVA DE COMPENS. FINANC. RG/RPPS',
       'MULTA PELO DESCUMP.DE OBRIG ACESSORIA PREVID.',
       'REC. DA DIV.AT. MULT.COD.ELEIT. E LEIS CONEX.',
       'MULTAS/J.MORA CONTR.PREV. RET.S/NF-SUBROGACAO',
       'MULTA POR ATO ATENTATORIO AO EXERC JURISDICAO',
       'CONTR. SOBRE REMUNERACAO DEVIDA AO TRABALH.',
       'REC.MULTA/MORA DIV ATIVA IMP S/PROD INDUS-IPI',
       'ALIENACAO DE ESTOQ. DEST. VENDA BALCAO - PGPM',
       'CONCESSAO GARANTIA DA ATIVIDADE AGROPECUARIA',
       'RECEITA DA CESSAO DE USO DE BENS DA UNIAO',
       'EMOLUMENTOS E CUSTAS DA JUSTICA DO DF',
       'RECEITA PARCELAMENTOS - DIV AT OUTRAS CONTRIB',
       'TX.FISCALIZ. E CONTR. DA PREV.COMPL - TAFIC',
       'MULTAS J.M.DIV.AT.CONTR.PREV.SEG.ORG.POD.PUBL',
       'ALIEN. BENS IMOVEIS DE DOM DA UNIAO-DOM DIRET',
       'TAXA DE SERVICOS ADMINISTRATIVOS - TSA',
       'MULTAS JUR.MORA DA CONTR. SOBRE OUT.CONC.PROG',
       'RESULTADO DO BANCO CENTRAL-DEMAIS OPERAÇÕES',
       'RESTITUICAO DE CONTRIB. PREVID.COMPLEMENTARES',
       'JUROS MORA DO FUNDAF - DIV. ATIVA DA COFINS',
       'REC. MULTA E JUROS MORA IMP PROD IND - IPI',
       'MULT.PREV. LEG. S/ REG. PREV. PRIV. COMPLEM.',
       'RECEITA DE PARCELAMENTOS - IPI',
       'CONTR.REL.A DESPED.DE EMPREG. S/ JUSTA CAUSA',
       'RECEITA DIV.ATIV DA OUTORGA DOS SERV DE TELEC',
       'PART.ESP.PROD.PETRO.PLATA.COM.ANTES 3/12/12',
       'REC.DIV.ATIV.DA CONTR.FOMENTO DA RADIODIFUCAO',
       'MULTAS POR INFRACAO A LEGIS. TRABALHISTA',
       'REC.DIV.ATIVA CONT.PREV.-DEP.JUD,REC.E C.JUD.',
       'CERTIFICACAO E HOMOLOGACAO DE PROD. TELECOM.',
       'REC PARC - MULTA/JUROS DE MORA DIV ATIVA IRPJ',
       'AMORT. REFINANC. - DIVIDAS E OP MEDIO E DE LP',
       'CONTRIB. PREV. SEGURADO OBRIG. -CONTR. INDIV.',
       'ROYAL.MIN.PROD.PETRO.PLATA.COM.ANTES 3/12/12',
       'MUL.JUR.MORA TX FISC.MERC.SEG.CAPIT.PREV.ABER',
       'MULTAS/J.MORA CONTR.PREV.DO SEG. FACULTATIVO',
       'MULTA INDEN.POSSE OU OCUP.ILICITA BENS UNIAO',
       'RECEITA VEICULACAO DE OBRAS CINEMATOGRAFICAS',
       'MULTA/JUROS DIV.ATIVA COMPENS.FINANC.RG/RPPS',
       'CONTRIBUICAO PARA FOMENTO DA RADIODIFUSAO PUB',
       'RECEITA DE PARCELAMENTOS - IMPOSTO IMPORTACAO',
       'CONTRIBUICOES P/O FUNDO DE SAUDE - PMDF',
       'REC DE PARC - MULTA E JUROS DE MORA DA CIDE',
       'MULTAS/J.MORA CONTR.PREV. ORGAOS PODER PUBL.',
       'MULTA E JUROS DE MORA - IRPJ', 'IPI - OUTROS PRODUTOS',
       'OUTRAS CONTRIBUICOES SOCIAIS',
       'PRESTACAO DE CONTAS ELEITORAIS - FONTE VEDADA',
       'AMORTIZACAO DE EMPRESTIMOS-ESTADOS/MUNICIPIOS',
       'ROYALTIES EXCEDENTES P/ PROD EM PLATAFORMA',
       'REC.COMPENS.FINANC.ENTRE O RG/RPPS-PRINCIPAL',
       'ROYAL.MIN.PROD.PETRO EM TERRA - CONTR CONCESS',
       'RECEITA DE PARCELAMENTOS - IRPF',
       'REC.DIV.ATIVA MULTAS DECOR.SENTENCA.JUDICIAIS',
       'REC.DIVIDA ATIVA IMP.EXPORTACAO - PRINCIPAL',
       'MULTAS/J.MORA CONTR.PREV.SEG.OBRIGAT.C.INDIV.',
       'RECEITA DE PARCELAMENTOS - IMPOSTO EXPORTACAO',
       'ROYAL.EXCED.PROD.PETRO.TERRA QQ SITUACAO',
       'REC.DIV.ATIVA CONT.PREV.REG. DE PARC.DEBITOS',
       'RECEITA DE PARCELAMENTOS - DIV ATIVA DA CIDE',
       'MUL.JUR.MOR.DIV.ATI.OUT.REC.CONCESS/PERM SERV',
       'RECEITA DA DIV.ATIVA DE CUSTAS JUDICIAIS',
       'MULTAS E JUROS DE MORA DE FOROS',
       'RECEITA DE PARCELAMENTOS - DIV ATIVA DO IRRF',
       'MULTAS/JUROS CONTR.SERVIDOR REGIME PROP.PREV',
       'MULTAS PREVISTAS LEGIS.DE REGISTRO COMERCIO',
       'RECEITA DE PARCELAMENTOS - IRPJ',
       'REC PARC - MULTA/JUROS MORA DIV ATI PIS/PASEP',
       'CONTRIB.PREV.-RET. S/NOTA FISCAL- SUBROGACAO',
       'MULTAS POR AUTOS DE INFRACAO',
       'REC.MULTA/MORA CONTR SOCIAL S/LUCRO PJ',
       'TAXA DE FISCALIZACAO DE FUNCIONAMENTO',
       'RETIDO NAS FONTES - OUTROS RENDIMENTOS',
       'JUROS MORA DO FUNDAF - REC PARCELAM PIS/PASEP',
       'REC DE PARCELAMENTOS - DIV ATIVA DO IMP EXP',
       'MULTAS J.MORA DIV.ATIVA ITR-MUNIC.NAO CONVEN.',
       'RECUPERACAO DE SINISTROS', 'Sem informação',
       'PROGRAMAS DAS OPERACOES OFICIAIS DE CREDITO',
       'MULT.JUR MOR DIV ATIV TAXA FISC DE INSTALACAO',
       'REC DE PARC - MULTA E JUROS DE MORA DA COFINS',
       'ITR - MUNICIPIOS CONVENIADOS',
       'REC.DO PRINCIPAL DAS CONTR. P/ O PIS/PASEP',
       'CONTR.PATRONAL - PAGTO SENTENCAS JUDICIAIS',
       'MULTAS JUR. MORA DIV.ATIVA IR-RETIDO NA FONTE',
       'MULT.J.MORA DIV.AT. MULTAS INFR.A LEG. TRAB.',
       'RECEITA DE PARCELAMENTOS - DIV ATIVA DO IPI',
       'MULTAS E MORA DA CONTR. FINAC.PREV. - COFINS',
       'PARC - MULTAS/JUROS DE MORA OUTRAS CONTRIB',
       'MUL.JUR.MORA TX FISC.MERC.TIT. E VAL. MOBILI.',
       'DIVIDENDOS/PARTICIPACOES/JUROS CAPITAL PROPR',
       'RECEITA DE OUTORGA DOS SERV. TELECOMUNICACAO',
       'MULTAS J.MORA DIV.ATIVA-CONTR. SOC. LUCRO PJ',
       'REC. DO PRINCIPAL DA CONTRIB S/LUCRO PJ',
       'REC DE PARC - MULTA E JUROS DE MORA DA CPMF',
       'MULT.J.MORA RESSARC.DE ACOES REGRES.REL.TRAB.',
       'RECEITA DE PARCELAMENTOS - DIV ATIVA DA CPMF',
       'REC.DIV.AT. CONTR. S/ APOSTA EM COMP. HIPICAS',
       'PARC - MULTAS/JUROS MORA DIV ATI OUTRAS CONTR',
       'REC.DIV.ATIVA CONT.PREV.EMPR.OPTANTE-SIMPLES',
       'ITR - MUNICIPIOS NAO-CONVENIADOS',
       'MULTAS DIVIDA ATIVA DO IPI - SIMPLES NACIONAL',
       'RESSARC. DE PGTO HONORARIOS TECNICO-PERICIAIS',
       'ROY.EXCED.PROD.PETRO.PLATA.COM.ANTES 3/12/12',
       'TARIFA PELO USO DO SIST.DE TRANSF. RES. BACEN',
       'CONTR.SERV.INAT.CIVIL - PAGTO SENT. JUDICIAIS',
       'REC DE PARC - MULTA/JUROS DE MORA DO IMP EXP',
       'REC.OUT.SERV.RADIODIFUSAO SONORA SONS IMAGENS',
       'SERVICOS DE REGISTRO INDICACOES GEOGRAFICAS',
       'REC.DIV.ATIVA CONT.PREV.SEG.ACIDENTE DO TRAB.',
       'MULTA E JUROS DE MORA - IRRF',
       'CONTR.PREV.NA FORMA DE DEP.JUD.,REC. E CUSTAS',
       'REC.DO PRINCIPAL DO IMPOSTO S/ A IMPORT.',
       'Receitas decorrentes de compensações ao Regim',
       'SERVICOS DE PATENTES',
       'REC.DIST.AUDIOVISUAIS POR PRESTADOR DE SERV.',
       'CON. S/REC.OPER.BRUTA DECOR.PRES.SERV.TELECOM',
       'CONTRIB. PREV. DOS ORGAOS DO PODER PUBLICO',
       'JUROS MORA DO FUNDAF - REC PARCELAM DA CPMF', 'IPI - VEICULOS',
       'MULTAS E JUROS - AUTO DE INFRACAO PREV COMPL',
       'OUTRAS RECEITAS CONC. PERM. - SERV. COMUNIC',
       'RECLAMATORIA TRABALHISTA', 'IPI - BEBIDAS',
       'RECEITA DA DIVIDA ATIVA DE OUTROS TRIBUTOS',
       'RECEITA DA DIVIDA ATIVA DO IPI - PRINCIPAL',

Los 10 DETALLE que MAS aparecen son:

                                              count  Porcentaje_recuento
DETALLE
RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES    214                 4.76
SERVICOS ADMINISTRATIVOS                        195                 4.34
OUTRAS RESTITUICOES                             173                 3.85
OUTRAS RECEITAS                                 162                 3.60
ALUGUEIS                                        147                 3.27
OUTRAS MULTAS                                   138                 3.07
OUTRAS MULTAS E JUROS DE MORA                   134                 2.98
MULTAS E JUROS PREVISTOS EM CONTRATOS           132                 2.93
TAR.INSCR.CONCURSOS E PROCESSOS SELETIVOS       127                 2.82
REMUNERACAO DE DEPOSITOS BANCARIOS              120                 2.67

Los 10 DETALLE que MENOS aparecen son:

                                               count  Porcentaje_recuento
DETALLE
REC.DIV.ATIV.OUTORG.DIREIT.EXPL.PESQ.MINERAL       1                 0.02
MULT.J.MORA REC.DIV.ATIV.-LEGISL.LUBR/COMBUST      1                 0.02
MULTAS PREVISTAS NA LEGISLACAO MINERARIA           1                 0.02
MULT.J.MORA DIV.AT.OUTOR.DIR.EXPL.E PESQ.MIN.      1                 0.02
REC. OUTORGA DIREITOS DE EXPL. E PRESQ. MINER      1                 0.02
REC.DIV.ATIV.SERVIC.INSP.FISC.ATIV.MINERAL         1                 0.02
REC.DIV.ATIV.-MULTA PREV. LEG. LUB. E COMBUST      1                 0.02
ALIEN. BENS IMOVEIS DE DOM DA UNIAO-DOM PLENO      1                 0.02
Receitas decorrentes de aportes periódicos pa      1                 0.02
MULTAS POR INFRACOES A LEG. CINEMATOGRAFICA        1                 0.02

 Las distribución de las repeticiones de los DETALLE son:

       count  % repetición
count
1        331         47.02
2        134         19.03
3         58          8.24
5         43          6.11
4         41          5.82
6         23          3.27
7         10          1.42
10         4          0.57
12         4          0.57
9          4          0.57
20         3          0.43
18         3          0.43
23         2          0.28
17         2          0.28
16         2          0.28
30         2          0.28
8          2          0.28
13         2          0.28
14         2          0.28
51         1          0.14
54         1          0.14
56         1          0.14
61         1          0.14
65         1          0.14
87         1          0.14
89         1          0.14
107        1          0.14
112        1          0.14
120        1          0.14
127        1          0.14
132        1          0.14
134        1          0.14
138        1          0.14
147        1          0.14
162        1          0.14
173        1          0.14
195        1          0.14
214        1          0.14
26         1          0.14
19         1          0.14
21         1          0.14
31         1          0.14
34         1          0.14
40         1          0.14
41         1          0.14
48         1          0.14
49         1          0.14
39         1          0.14
36         1          0.14
35         1          0.14
15         1          0.14

None
La categoría VALOR_PREVISTO_ACTUALIZADO tiene 2788 elementos diferentes:

Los elementos de la categoría son:

array([0.00000000e+00, 1.80000000e+06, 4.03603000e+05, ...,
       4.88386078e+08, 1.20839273e+08, 5.00004000e+05])

Los 10 VALOR_PREVISTO_ACTUALIZADO que MAS aparecen son:

                            count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
0.00                         1625                36.13
6000000.00                      5                 0.11
300000.00                       3                 0.07
60000.00                        3                 0.07
1102.00                         3                 0.07
1353.00                         3                 0.07
5000000.00                      3                 0.07
1000000.00                      3                 0.07
30000.00                        3                 0.07
8000000.00                      3                 0.07

Los 10 VALOR_PREVISTO_ACTUALIZADO que MENOS aparecen son:

                            count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
39847.00                        1                 0.02
25967835.00                     1                 0.02
3368.00                         1                 0.02
61810.00                        1                 0.02
2993083.00                      1                 0.02
5760731.00                      1                 0.02
20149.00                        1                 0.02
6379021.00                      1                 0.02
123985.00                       1                 0.02
447630.00                       1                 0.02

 Las distribución de las repeticiones de los VALOR_PREVISTO_ACTUALIZADO son:

       count  % repetición
count
1       2712         97.27
2         66          2.37
3          8          0.29
1625       1          0.04
5          1          0.04

None
La categoría VALOR_REGISTRADO tiene 52 elementos diferentes:

Los elementos de la categoría son:

array([0.00000000e+00, 3.60486311e+10, 1.05981726e+10, 1.89673722e+11,
       2.58405915e+08, 2.23296329e+06, 1.53921535e+10, 2.95606276e+11,
       3.25763110e+10, 3.23707235e+08, 3.68593100e+04, 6.78932665e+09,
       5.31163444e+08, 4.49758374e+09, 1.12634446e+08, 9.38195842e+09,
       3.13129331e+07, 2.03906461e+10, 3.63234787e+09, 4.12286926e+08,
       5.80327205e+09, 5.59886785e+10, 1.44653814e+11, 1.35132335e+09,
       8.41775680e+09, 1.07426862e+10, 8.28570540e+09, 8.44294310e+05,
       1.02728325e+10, 4.73246103e+09, 3.68502894e+10, 6.39523914e+09,
       1.00402203e+11, 9.99914746e+08, 7.01447141e+09, 3.61139720e+09,
       1.57237829e+08, 1.79466081e+09, 6.42400562e+08, 9.57540339e+09,
       1.39714000e+03, 3.10879469e+10, 1.87262766e+10, 3.67034703e+10,
       1.00641856e+10, 1.97367815e+09, 3.75218390e+06, 1.59089350e+05,
       1.82414000e+03, 1.67963459e+06, 3.58999320e+07, 8.28890328e+06])

Los 10 VALOR_REGISTRADO que MAS aparecen son:

                  count  Porcentaje_recuento
VALOR_REGISTRADO
0.00               4447                98.87
36048631136.38        1                 0.02
10598172567.42        1                 0.02
189673722000.20       1                 0.02
258405915.13          1                 0.02
2232963.29            1                 0.02
15392153480.36        1                 0.02
295606275807.68       1                 0.02
32576310981.73        1                 0.02
323707234.74          1                 0.02

Los 10 VALOR_REGISTRADO que MENOS aparecen son:

                  count  Porcentaje_recuento
VALOR_REGISTRADO
18726276608.20        1                 0.02
36703470305.72        1                 0.02
10064185588.78        1                 0.02
1973678151.90         1                 0.02
3752183.90            1                 0.02
159089.35             1                 0.02
1824.14               1                 0.02
1679634.59            1                 0.02
35899931.95           1                 0.02
8288903.28            1                 0.02

 Las distribución de las repeticiones de los VALOR_REGISTRADO son:

       count  % repetición
count
1         51         98.08
4447       1          1.92

None
La categoría VALOR_REALIZADO tiene 3738 elementos diferentes:

Los elementos de la categoría son:

array([1.29713000e+03, 2.66666214e+07, 3.01251130e+05, ...,
       6.15930300e+04, 1.61286016e+08, 1.10046584e+06])

Los 10 VALOR_REALIZADO que MAS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
0.00               704                15.65
60.00                5                 0.11
70.00                5                 0.11
1000.00              4                 0.09
90.00                4                 0.09
1200.00              4                 0.09
80.00                3                 0.07
30.00                3                 0.07
18000.00             3                 0.07
2000.00              3                 0.07

Los 10 VALOR_REALIZADO que MENOS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
306348.52            1                 0.02
451584.61            1                 0.02
87786.10             1                 0.02
985939.65            1                 0.02
194307.50            1                 0.02
68323.99             1                 0.02
107548.62            1                 0.02
5145837.84           1                 0.02
73.55                1                 0.02
10075291.47          1                 0.02

 Las distribución de las repeticiones de los VALOR_REALIZADO son:

       count  % repetición
count
1       3697         98.90
2         30          0.80
3          5          0.13
4          3          0.08
5          2          0.05
704        1          0.03

None
La categoría PORCENTAJE_REALIZADO tiene 578 elementos diferentes:

Los elementos de la categoría son:

array([ 0.000000e+00,  1.540000e+02,  5.400000e+01,  6.100000e+01,
        3.100000e+01,  1.110000e+02,  1.280000e+02,  1.380000e+02,
        8.800000e+01,  9.500000e+01,  3.000000e+00,  1.470000e+02,
        3.800000e+01,  9.100000e+01,  8.990000e+02,  1.990000e+02,
        9.000000e+00,  8.000000e+01,  3.530000e+02,  7.500000e+01,
        8.600000e+01,  1.910000e+02,  1.070000e+02,  1.530000e+02,
        2.780000e+02,  4.300000e+01,  1.650000e+02,  1.080000e+02,
        2.000000e+02, -1.190000e+02,  5.510000e+02, -1.000000e+01,
        8.000000e+00,  1.397000e+03,  3.740000e+02,  8.900000e+01,
        1.400000e+01,  3.600000e+01,  4.110000e+02,  1.500000e+01,
        1.390000e+02,  2.130000e+02,  1.730000e+02,  5.100000e+01,
        1.050000e+02,  2.760000e+02,  7.000000e+00,  6.740000e+02,
        1.420000e+02,  4.000000e+00,  1.140000e+02,  2.200000e+01,
        7.900000e+01,  1.220000e+02,  2.400000e+02,  4.500000e+01,
        1.000000e+01,  1.160000e+02,  4.770000e+02,  5.200000e+01,
        1.870000e+02,  1.800000e+02,  6.200000e+01,  1.010000e+02,
        9.300000e+01,  5.580000e+02,  7.100000e+01,  2.060000e+02,
        8.200000e+01,  8.100000e+01,  7.700000e+01,  3.250000e+02,
        4.200000e+01,  1.800000e+01,  3.700000e+02,  2.600000e+01,
        1.360000e+02,  1.120000e+02,  2.019000e+03,  2.500000e+01,
        1.020000e+02,  3.300000e+01,  7.600000e+01,  8.860000e+02,
        1.170000e+02,  1.090000e+02,  1.000000e+02,  2.900000e+02,
        1.320000e+02,  4.930000e+02,  1.300000e+02,  1.759000e+03,
        8.300000e+01,  1.900000e+01,  1.000000e+03,  5.065000e+03,
        7.000000e+01,  1.100000e+01,  9.600000e+01,  6.000000e+01,
        1.230000e+02,  1.150000e+02,  2.290000e+02,  1.100000e+02,
        1.423000e+03,  1.000000e+00,  1.317000e+03,  8.320000e+02,
        5.600000e+01,  5.000000e+01,  1.060000e+02,  3.000000e+01,
        1.178000e+03,  9.900000e+01,  6.800000e+01,  8.170000e+02,
        1.440000e+02,  6.600000e+01,  6.500000e+02,  2.200000e+02,
        4.530000e+02,  6.000000e+00,  4.510000e+02,  5.300000e+01,
        1.729000e+03,  1.290000e+02,  2.370000e+02,  1.270000e+02,
        7.400000e+01,  4.600000e+01,  1.880000e+02,  4.050000e+02,
        9.700000e+01,  9.400000e+01,  7.600000e+02,  2.040000e+02,
        4.370000e+02,  9.800000e+01,  3.500000e+01,  1.040000e+02,
        1.260000e+02,  3.200000e+01,  1.250000e+02,  1.210000e+02,
        3.140000e+02,  5.800000e+01,  3.110000e+02,  1.330000e+02,
        4.620000e+02,  6.500000e+01,  1.617000e+03,  1.030000e+02,
        2.100000e+01,  8.500000e+01,  6.400000e+01,  2.800000e+01,
        6.300000e+01,  5.720000e+02,  2.430000e+02,  4.900000e+01,
        1.240000e+02,  4.130000e+02,  2.240000e+02,  1.690000e+02,
        5.173000e+03,  3.800000e+02,  1.077000e+03,  1.310000e+02,
        3.470000e+02,  1.274300e+04,  8.700000e+01,  3.471000e+03,
        3.400000e+01,  5.900000e+01,  7.200000e+01,  1.813000e+03,
        7.860000e+02,  7.989000e+03,  5.000000e+00,  1.810000e+02,
        2.000000e+00,  1.130000e+02,  1.370000e+02,  1.550000e+02,
        2.860000e+02,  8.490000e+02,  2.830000e+02,  4.290000e+02,
        2.670000e+02,  3.829000e+03,  1.092780e+05,  4.260000e+02,
        1.790000e+02,  3.630000e+02,  1.180000e+02,  2.030000e+02,
        1.610000e+02,  2.530000e+02,  3.900000e+01,  4.686300e+04,
        4.390000e+02,  2.000000e+01,  3.424000e+03,  2.840000e+02,
        1.236000e+03,  1.600000e+01,  6.860000e+02,  2.230000e+02,
        6.540000e+02,  7.800000e+01,  1.300000e+01,  3.300000e+02,
        1.500000e+02,  5.440000e+02,  3.224000e+03,  1.225000e+03,
        2.440000e+03,  3.820000e+02,  3.760000e+02,  1.750000e+02,
        1.960000e+02,  1.560000e+02,  2.250000e+02,  5.800000e+02,
        2.180000e+02,  4.560000e+02,  2.400000e+01,  4.240000e+02,
        7.320400e+04,  5.106000e+03,  1.590000e+02,  1.840000e+02,
        1.561800e+04,  1.740000e+02,  4.100000e+01,  3.360000e+02,
        7.270000e+02,  8.400000e+01,  7.870000e+02,  9.200000e+01,
        6.900000e+01,  4.480000e+02,  4.190000e+02,  5.360000e+02,
        4.280000e+02,  2.590000e+02,  1.492000e+03,  2.390000e+02,
        1.764000e+03,  2.300000e+02,  1.660000e+02,  1.222000e+03,
        4.950000e+02,  1.450000e+02,  5.070000e+02,  1.430000e+02,
        4.150000e+02,  4.840000e+02,  4.529600e+04,  5.850000e+02,
        6.780000e+02,  4.800000e+01,  3.700000e+01,  2.700000e+01,
        5.500000e+01,  2.286000e+03,  1.930000e+02,  1.258000e+03,
        2.010000e+02,  4.885000e+03,  5.190000e+02,  1.490000e+02,
        3.406000e+03,  6.700000e+01,  3.970000e+02,  4.710000e+02,
        3.781000e+03,  1.497000e+03,  1.640000e+02,  9.690000e+02,
        1.190000e+02,  2.820000e+02,  2.880000e+02,  5.890000e+02,
        7.400000e+02,  3.707570e+05,  2.979000e+03,  2.460000e+02,
        3.130000e+02,  3.497000e+04,  5.480000e+02,  8.920000e+02,
        2.700000e+02,  1.390000e+03,  3.690000e+02, -1.000000e+00,
        6.510000e+02,  3.050000e+02,  4.410000e+02,  1.224000e+03,
        9.000000e+01,  3.040000e+02,  7.911000e+03,  4.860000e+02,
        3.280000e+02,  1.068000e+03,  8.650000e+02,  6.920000e+02,
        1.520000e+02,  1.440000e+03,  2.980000e+02,  1.095000e+03,
        2.470000e+02,  5.100000e+02,  8.900000e+02,  3.120000e+02,
        1.700000e+02,  3.216600e+04,  2.140000e+02,  2.350000e+02,
        6.700000e+02,  6.730000e+02,  2.501000e+03,  2.666200e+05,
        2.640000e+02,  6.300000e+02,  8.890000e+02,  3.410000e+02,
        1.510000e+02,  6.990000e+02,  6.720000e+02,  3.200000e+02,
        2.220000e+02,  1.906000e+03,  1.438000e+03,  1.340000e+02,
        2.650000e+02,  2.070000e+02,  6.680000e+02,  4.300000e+02,
        5.110000e+02,  1.076000e+03,  2.841600e+04,  2.977000e+03,
        2.320000e+02,  1.680000e+02,  5.700000e+01,  2.930000e+02,
        2.310000e+02,  1.200000e+02,  1.480000e+02,  3.460000e+02,
        9.610000e+02,  3.030000e+02,  4.210000e+02,  1.460000e+02,
        1.041870e+05,  7.730000e+02,  2.500000e+02,  1.770000e+02,
        7.890000e+02,  3.720000e+02,  2.452000e+03,  8.466000e+03,
        7.124000e+03,  2.842000e+03,  3.870000e+02,  1.630000e+02,
        2.779000e+03,  1.200000e+01,  7.570000e+02,  1.461300e+04,
        5.650000e+02,  6.210000e+02,  5.856000e+03,  2.810000e+02,
        3.540000e+02, -6.200000e+01,  3.860000e+02,  4.310000e+02,
        5.655000e+03,  1.980000e+02,  6.970000e+02,  2.080000e+02,
        1.760000e+02,  2.420000e+02,  4.520000e+02,  7.300000e+01,
        1.940000e+02,  1.072000e+03,  1.580000e+02,  2.480000e+02,
        3.889000e+03,  2.680000e+02,  9.200000e+02,  2.869000e+03,
        1.205000e+03,  3.570000e+02,  7.850000e+03,  3.590000e+02,
        2.770000e+02,  1.361000e+03,  1.620000e+02,  3.270000e+02,
        5.550000e+02,  8.530000e+02,  4.700000e+01,  8.000000e+02,
        2.730000e+02,  6.200000e+02,  2.330000e+02,  1.600000e+02,
        6.630000e+02,  8.152200e+04,  5.500000e+02,  2.020000e+02,
        2.160000e+02,  4.000000e+01,  4.590000e+02,  4.490000e+02,
        1.383000e+03,  3.170000e+02,  6.690000e+02,  2.990000e+02,
        2.490000e+02,  3.330000e+02,  3.600000e+02,  1.083000e+03,
        1.890000e+02,  1.670000e+02,  1.820000e+02,  3.290000e+02,
        1.850000e+02,  6.320000e+02,  1.400000e+02,  4.582000e+03,
        2.280000e+02,  8.240000e+02,  4.400000e+01,  8.360000e+02,
        2.461000e+03,  7.620000e+02,  1.146000e+03,  9.088000e+03,
        2.260000e+02,  1.710000e+02,  4.010000e+02,  1.973000e+03,
        6.570000e+02,  7.374000e+03,  2.100000e+02,  2.360000e+02,
        2.900000e+01,  3.195000e+03,  6.770000e+02,  2.841000e+03,
        7.350000e+02,  2.870000e+02,  2.300000e+01,  1.410000e+02,
        2.270000e+02,  3.578000e+03,  2.580000e+02,  3.950000e+02,
        2.165000e+03,  1.531700e+04,  7.652000e+03,  1.496300e+04,
        6.550000e+02,  6.288000e+03,  1.700000e+01,  1.318000e+03,
        5.040000e+02,  3.420000e+02,  3.080000e+02,  5.740000e+02,
        3.850000e+02,  1.970000e+02,  9.500000e+03, -3.000000e+00,
        1.009000e+03,  7.610000e+02,  1.900000e+02,  4.700000e+02,
        2.346000e+03,  1.001640e+05,  1.841000e+03,  1.741600e+04,
        2.520000e+02,  5.145000e+03,  1.041500e+04,  4.360000e+02,
        4.170000e+02,  1.720000e+02,  1.350000e+02,  6.600000e+02,
        3.830000e+02,  6.080000e+02,  2.542000e+03,  2.620000e+02,
        3.379000e+03,  2.210000e+02,  4.680000e+02,  4.140000e+02,
        3.550000e+02, -2.010000e+02,  4.350000e+02,  3.510000e+02,
        3.920000e+02,  3.116000e+03,  1.027000e+03,  2.740000e+02,
        3.380000e+02,  2.110000e+02,  1.775000e+03,  6.590000e+02,
       -5.800000e+01,  4.880000e+02,  8.110000e+02,  1.920000e+02,
        2.410000e+02,  1.860000e+02,  2.920000e+02,  1.038000e+03,
        1.570000e+02,  2.190000e+02, -2.100000e+01,  3.060000e+02,
        1.814900e+04,  1.795000e+03,  7.060000e+02,  2.059000e+03,
        1.780000e+02,  6.931000e+03,  3.742720e+05,  1.893000e+03,
        6.480000e+02,  4.000000e+02,  1.365000e+03,  6.750000e+02,
        2.910000e+02,  3.790000e+02,  2.090000e+02,  1.214360e+05,
        1.373530e+05,  2.120000e+02,  8.160000e+02,  2.550000e+02,
        6.650000e+02,  7.200000e+02,  6.520000e+02,  3.580000e+02,
        1.352000e+03,  1.950000e+02,  4.380000e+02,  6.000000e+02,
        3.210000e+02,  9.212000e+03,  6.890000e+02,  6.900000e+02,
        4.550000e+02,  1.991620e+05,  9.680000e+02,  4.120000e+02,
        5.860000e+02,  4.970000e+02,  6.591300e+04,  3.650000e+02,
        5.910000e+02,  5.180000e+02,  1.605449e+06,  2.340000e+02,
        1.174000e+03,  8.230000e+02,  2.479000e+03,  2.341000e+03,
        3.020000e+02,  4.100000e+02])

Los 10 PORCENTAJE_REALIZADO que MAS aparecen son:

                      count  Porcentaje_recuento
PORCENTAJE_REALIZADO
0.00                   2320                51.58
1.00                     30                 0.67
96.00                    26                 0.58
100.00                   21                 0.47
111.00                   21                 0.47
86.00                    21                 0.47
103.00                   20                 0.44
93.00                    20                 0.44
80.00                    19                 0.42
75.00                    19                 0.42

Los 10 PORCENTAJE_REALIZADO que MENOS aparecen son:

                      count  Porcentaje_recuento
PORCENTAJE_REALIZADO
591.00                    1                 0.02
365.00                    1                 0.02
65913.00                  1                 0.02
497.00                    1                 0.02
586.00                    1                 0.02
412.00                    1                 0.02
968.00                    1                 0.02
199162.00                 1                 0.02
455.00                    1                 0.02
899.00                    1                 0.02

 Las distribución de las repeticiones de los PORCENTAJE_REALIZADO son:

       count  % repetición
count
1        320         55.36
2         54          9.34
3         31          5.36
4         25          4.33
7         19          3.29
8         18          3.11
9         15          2.60
12        13          2.25
5         13          2.25
10        12          2.08
13        10          1.73
6         10          1.73
11         8          1.38
19         6          1.04
14         4          0.69
16         4          0.69
21         3          0.52
18         3          0.52
15         3          0.52
20         2          0.35
17         2          0.35
30         1          0.17
26         1          0.17
2320       1          0.17

None
La categoría FECHA_REGISTRO tiene 1 elementos diferentes:

Los elementos de la categoría son:

<DatetimeArray>
['2013-12-31 00:00:00']
Length: 1, dtype: datetime64[ns]

Los 10 FECHA_REGISTRO que MAS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2013-12-31       4498               100.00

Los 10 FECHA_REGISTRO que MENOS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2013-12-31       4498               100.00

 Las distribución de las repeticiones de los FECHA_REGISTRO son:

       count  % repetición
count
4498       1        100.00

None
La categoría AÑO_EJERCICIO tiene 1 elementos diferentes:

Los elementos de la categoría son:

array([2013])

Los 10 AÑO_EJERCICIO que MAS aparecen son:

               count  Porcentaje_recuento
AÑO_EJERCICIO
2013            4498               100.00

Los 10 AÑO_EJERCICIO que MENOS aparecen son:

               count  Porcentaje_recuento
AÑO_EJERCICIO
2013            4498               100.00

 Las distribución de las repeticiones de los AÑO_EJERCICIO son:

       count  % repetición
count
4498       1        100.00

None

## Año 2014

In [392]:
for columna in df_datos_2014.columns:
    print(se.analisis_individual_columnas(df_datos_2014, columna))

La categoría CÓDIGO_ÓRGANO_SUPERIOR tiene 25 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '37000', '22000', '55000', '24000', '52000', '25000',
       '26000', '39000', '30000', '81000', '58000', '33000', '36000',
       '41000', '57000', '35000', '32000', '49000', '53000', '51000',
       '44000', '38000', '54000', '20000'], dtype=object)

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MAS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
26000                    1841                40.43
25000                     900                19.77
53000                     308                 6.76
52000                     238                 5.23
22000                     156                 3.43
30000                     133                 2.92
54000                     126                 2.77
24000                     125                 2.75
39000                     124                 2.72
32000                     122                 2.68

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MENOS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
35000                      17                 0.37
38000                      17                 0.37
49000                      14                 0.31
63000                      14                 0.31
57000                      11                 0.24
58000                      11                 0.24
37000                       9                 0.20
51000                       8                 0.18
33000                       7                 0.15
81000                       5                 0.11

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO_SUPERIOR son:

       count  % repetición
count
11         2          8.00
14         2          8.00
17         2          8.00
308        1          4.00
1841       1          4.00
900        1          4.00
133        1          4.00
156        1          4.00
238        1          4.00
126        1          4.00
113        1          4.00
125        1          4.00
124        1          4.00
122        1          4.00
48         1          4.00
76         1          4.00
86         1          4.00
44         1          4.00
9          1          4.00
8          1          4.00
7          1          4.00
5          1          4.00

None
La categoría NOMBRE_ÓRGANO_SUPERIOR tiene 25 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União', 'Controladoria-Geral da União',
       'Ministério da Agricultura, Pecuária e Abastec',
       'Ministério da Cidadania',
       'Ministério da Ciência, Tecnologia, Inovações ',
       'Ministério da Defesa', 'Ministério da Economia',
       'Ministério da Educação', 'Ministério da Infraestrutura',
       'Ministério da Justiça e Segurança Pública',
       'Ministério da Mulher, Família e Direitos Huma',
       'Ministério da Pesca e Aquicultura',
       'Ministério da Previdência Social', 'Ministério da Saúde',
       'Ministério das Comunicações',
       'Ministério das Mulheres, Igualdade Racial, da',
       'Ministério das Relações Exteriores',
       'Ministério de Minas e Energia',
       'Ministério do Desenvolvimento Agrário',
       'Ministério do Desenvolvimento Regional', 'Ministério do Esporte',
       'Ministério do Meio Ambiente', 'Ministério do Trabalho e Emprego',
       'Ministério do Turismo', 'Presidência da República'], dtype=object)

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MAS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério da Educação                          1841                40.43
Ministério da Economia                           900                19.77
Ministério do Desenvolvimento Regional           308                 6.76
Ministério da Defesa                             238                 5.23
Ministério da Agricultura, Pecuária e Abastec    156                 3.43
Ministério da Justiça e Segurança Pública        133                 2.92
Ministério do Turismo                            126                 2.77
Ministério da Ciência, Tecnologia, Inovações     125                 2.75
Ministério da Infraestrutura                     124                 2.72
Ministério de Minas e Energia                    122                 2.68

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MENOS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério das Relações Exteriores                17                 0.37
Ministério do Trabalho e Emprego                  17                 0.37
Ministério do Desenvolvimento Agrário             14                 0.31
Advocacia-Geral da União                          14                 0.31
Ministério das Mulheres, Igualdade Racial, da     11                 0.24
Ministério da Pesca e Aquicultura                 11                 0.24
Controladoria-Geral da União                       9                 0.20
Ministério do Esporte                              8                 0.18
Ministério da Previdência Social                   7                 0.15
Ministério da Mulher, Família e Direitos Huma      5                 0.11

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO_SUPERIOR son:

       count  % repetición
count
11         2          8.00
14         2          8.00
17         2          8.00
308        1          4.00
1841       1          4.00
900        1          4.00
133        1          4.00
156        1          4.00
238        1          4.00
126        1          4.00
113        1          4.00
125        1          4.00
124        1          4.00
122        1          4.00
48         1          4.00
76         1          4.00
86         1          4.00
44         1          4.00
9          1          4.00
8          1          4.00
7          1          4.00
5          1          4.00

None
La categoría CÓDIGO_ÓRGANO tiene 268 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '66000', '22905', '22202', '22000', '22211', '22201',
       '44208', '49001', '55000', '55001', '20501', '24901', '24000',
       '20301', '20502', '20402', '24209', '49280', '52121', '52132',
       '52911', '52133', '52904', '31280', '52211', '52221', '52111',
       '52912', '52000', '52222', '52131', '52233', '25000', '30204',
       '30203', '37904', '38901', '20202', '25207', '25916', '25205',
       '37202', '25211', '25208', '33206', '25201', '37201', '25915',
       '28500', '61201', '20603', '25203', '25904', '22500', '25914',
       '20924', '71902', '25905', '25901', '26237', '26246', '26234',
       '26267', '26000', '26428', '26409', '26238', '26405', '26427',
       '26350', '26285', '26241', '26270', '26433', '26250', '26245',
       '26294', '26431', '26283', '26244', '26278', '26239', '26282',
       '26242', '26243', '26421', '26232', '26235', '26408', '26272',
       '26233', '26271', '26414', '26279', '26249', '26420', '26268',
       '26412', '26260', '26280', '26251', '26257', '26263', '26422',
       '26423', '26240', '26258', '26406', '26439', '26410', '26231',
       '26417', '26256', '26292', '26435', '26407', '26424', '26434',
       '26419', '26281', '26404', '26449', '26442', '26413', '26277',
       '26411', '26275', '26247', '26416', '26276', '26253', '26236',
       '26418', '26440', '26430', '26298', '26274', '26201', '26432',
       '26252', '26230', '26264', '26269', '26352', '26254', '26273',
       '26262', '26291', '26255', '26284', '26443', '26402', '26436',
       '26290', '26437', '26248', '26441', '26351', '26286', '26426',
       '26403', '26429', '26415', '26261', '26266', '26438', '26425',
       '26448', '49901', '56901', '39252', '62901', '68000', '62201',
       '39000', '68201', '39250', '39253', '39816', '39811', '39815',
       '39813', '39817', '39814', '39812', '29209', '62000', '30108',
       '30802', '30202', '30911', '30000', '30211', '30907', '30905',
       '30912', '30205', '20122', '58000', '33000', '36201', '36211',
       '36210', '36000', '36212', '36213', '41231', '41903', '41232',
       '20415', '41000', '64901', '64902', '35000', '35201', '32205',
       '29208', '20303', '32000', '32210', '32263', '32314', '20302',
       '49000', '29214', '22204', '29205', '22203', '53901', '53902',
       '53903', '44205', '53202', '53203', '53000', '74917', '74918',
       '53207', '56902', '91214', '20701', '44207', '44206', '44204',
       '44000', '44902', '38000', '20203', '34902', '20604', '20412',
       '54000', '20411', '20404', '42207', '20408', '20403', '54901',
       '64000', '20101', '67000', '20116', '24208', '20117', '69000',
       '61000', '60000'], dtype=object)

Los 10 CÓDIGO_ÓRGANO que MAS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
25000            482                10.59
37904            115                 2.53
26000             98                 2.15
53901             52                 1.14
53903             52                 1.14
53902             52                 1.14
22202             49                 1.08
52132             45                 0.99
52904             42                 0.92
34902             42                 0.92

Los 10 CÓDIGO_ÓRGANO que MENOS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
39816              1                 0.02
52233              1                 0.02
39812              1                 0.02
39814              1                 0.02
39817              1                 0.02
39813              1                 0.02
39811              1                 0.02
49280              1                 0.02
61000              1                 0.02
60000              1                 0.02

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO son:

       count  % repetición
count
4         16          5.97
13        14          5.22
9         14          5.22
10        13          4.85
1         13          4.85
17        12          4.48
11        12          4.48
16        12          4.48
7         11          4.10
15        11          4.10
12        10          3.73
8         10          3.73
14         9          3.36
22         9          3.36
20         9          3.36
3          8          2.99
24         7          2.61
6          7          2.61
19         7          2.61
2          6          2.24
5          6          2.24
18         6          2.24
25         5          1.87
26         4          1.49
28         4          1.49
33         4          1.49
27         3          1.12
52         3          1.12
30         3          1.12
29         3          1.12
21         3          1.12
42         2          0.75
23         2          0.75
32         2          0.75
36         1          0.37
37         1          0.37
41         1          0.37
45         1          0.37
98         1          0.37
49         1          0.37
482        1          0.37
115        1          0.37

None
La categoría NOMBRE_ÓRGANO tiene 267 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União - Unidades com vínculo direto',
       'Controladoria-Geral da União',
       'Fundo de Defesa da Economia Cafeeira',
       'Empresa Brasileira de Pesquisa Agropecuária',
       'Ministério da Agricultura, Pecuária e Abastecimento - Unidades com vínculo direto',
       'Companhia Nacional de Abastecimento',
       'Instituto Nacional de Colonização e Reforma Agrária',
       'Serviço Florestal Brasileiro',
       'Fundo de Terras e da Reforma Agrária',
       'Ministério da Cidadania - Unidades com vínculo direto',
       'Fundo Nacional de Assistência Social',
       'Conselho Nacional de Desenvolvimento Científico e Tecnológico',
       'Fundo Nacional de Desenvolvimento Científico e Tecnológico',
       'Ministério da Ciência, Tecnologia, Inovações e Comunicações - Unidades com vínculo direto',
       'Comissão Nacional de Energia Nuclear',
       'Financiadora de Estudos e Projetos',
       'Agência Espacial Brasileira',
       'Centro Nacional de Tecnologia Eletrônica Avançada S.A.',
       'Empresa Brasileira de Correios e Telégrafos',
       'Comando do Exército', 'Comando da Marinha - Fundo Naval',
       'Fundo Aeronáutico',
       'Fundo de Desenvolvimento do Ensino Profissional Marítimo',
       'Fundo do Exército',
       'Caixa de Construções de Casas para o Pessoal da Marinha do Brasil',
       'Caixa de Financiamento Imobiliário da Aeronáutica',
       'Indústria de Material Bélico do Brasil', 'Comando da Aeronáutica',
       'Fundo Aeroviário',
       'Ministério da Defesa - Unidades com vínculo direto',
       'Fundação Osório', 'Comando da Marinha',
       'Amazônia Azul Tecnologia de Defesa S.A.',
       'Ministério da Economia - Unidades com vínculo direto',
       'Instituto Nacional da Propriedade Industrial',
       'Instituto Nacional de Metrologia, Qualidade e Tecnologia',
       'Fundo do Regime Geral da Previdência Social',
       'Fundo de Amparo ao Trabalhador',
       'Fundação Escola Nacional de Administração Pública',
       'Serviço Federal de Processamento de Dados',
       'Fundo Contingente da Extinta RFFSA-FCMP',
       'Fundação Instituto Brasileiro de Geografia e Estatística',
       'Instituto Nacional do Seguro Social', 'Casa da Moeda do Brasil',
       'Superintendência de Seguros Privados',
       'Superintendência Nacional de Previdência Complementar',
       'Banco Central do Brasil - Orçamento Fiscal e Seguridade Social',
       'Fundação Jorge Duprat Figueiredo, de Segurança e Medicina do Trabalho',
       'Fundo Constitucional do Distrito Federal',
       'Fundo de Garantia para a Promoção da Competitividade',
       'Instituto de Pesquisa Econômica Aplicada',
       'Superintendência da Zona Franca de Manaus',
       'Comissão de Valores Mobiliários',
       'Fundo de Estabilidade do Seguro Rural',
       'Companhia de Entrepostos e Armazéns Gerais de São Paulo',
       'Fundo de Garantia à Exportação',
       'Fundo Nacional de Desenvolvimento', 'Fundo Soberano do Brasil',
       'Fundo de Apoio ao Desenvolvimento Social',
       'Fundo de Compensação de Variações Salariais',
       'Universidade Federal de Juiz de Fora',
       'Universidade Federal de Santa Catarina',
       'Universidade Federal do Espírito Santo',
       'Universidade Federal da Integração Latino-Americana',
       'Ministério da Educação - Unidades com vínculo direto',
       'Instituto Federal de Brasília',
       'Instituto Federal de Minas Gerais',
       'Universidade Federal de Minas Gerais',
       'Instituto Federal do Ceará', 'Instituto Federal da Bahia',
       'Fundação Universidade Federal da Grande Dourados',
       'Fundação Universidade Federal de São João Del-Rei',
       'Universidade Federal do Paraná',
       'Fundação Universidade do Amazonas',
       'Instituto Federal do Rio de Janeiro',
       'Universidade Federal de Roraima',
       'Universidade Federal do Rio de Janeiro',
       'Hospital de Clínicas de Porto Alegre',
       'Instituto Federal do Piauí',
       'Fundação Universidade Federal do Mato Grosso do Sul',
       'Universidade Federal do Rio Grande do Sul',
       'Fundação Universidade Federal de Pelotas',
       'Universidade Federal do Pará', 'Universidade Federal de Viçosa',
       'Universidade Federal de Pernambuco',
       'Universidade Federal do Rio Grande do Norte',
       'Instituto Federal de Rondônia', 'Universidade Federal da Bahia',
       'Universidade Federal de Goiás', 'Instituto Federal do Maranhão',
       'Fundação Universidade do Maranhão',
       'Universidade Federal do Ceará',
       'Fundação Universidade de Brasília',
       'Instituto Federal do Mato Grosso',
       'Fundação Universidade Federal do Piauí',
       'Universidade Federal Rural do Rio de Janeiro',
       'Instituto Federal Farroupilha',
       'Fundação Universidade Federal de Rondônia',
       'Instituto Federal do Sul de Minas Gerais',
       'Universidade Federal de Alfenas',
       'Fundação Universidade Federal de São Carlos',
       'Fundação Universidade Federal do Tocantins',
       'Centro Federal de Educação Tecnológica de Minas Gerais',
       'Universidade Federal de Lavras', 'Instituto Federal Catarinense',
       'Instituto Federal de Sergipe', 'Universidade Federal da Paraíba',
       'Universidade Tecnológica Federal do Paraná',
       'Instituto Federal do Espírito Santo',
       'Instituto Federal de São Paulo',
       'Instituto Federal do Norte de Minas Gerais',
       'Universidade Federal de Alagoas', 'Instituto Federal da Paraíba',
       'Centro Federal de Educação Tecnológica Celso Suckow da Fonseca',
       'Fundação Joaquim Nabuco',
       'Instituto Federal do Rio Grande do Norte',
       'Instituto Federal Goiano', 'Instituto Federal do Tocantins',
       'Instituto Federal Fluminense',
       'Instituto Federal do Rio Grande do Sul',
       'Fundação Universidade Federal de Sergipe',
       'Instituto Federal Baiano', 'Universidade Federal do Cariri',
       'Universidade da Integração Internacional da Lusofonia Afro-Brasileira',
       'Instituto Federal do Triângulo Mineiro',
       'Universidade Federal de Ouro Preto',
       'Instituto Federal do Sudeste de Minas Gerais',
       'Fundação Universidade Federal do Acre',
       'Universidade Federal de Santa Maria', 'Instituto Federal do Pará',
       'Fundação Universidade Federal do Mato Grosso',
       'Universidade Federal Rural da Amazônia',
       'Universidade Federal Fluminense',
       'Instituto Federal de Pernambuco',
       'Universidade Federal da Fronteira Sul',
       'Instituto Federal do Sertão de Pernambuco',
       'Fundo Nacional de Desenvolvimento da Educação',
       'Fundação Universidade Federal de Uberlândia', 'Colégio Pedro II',
       'Instituto Federal do Paraná',
       'Universidade Federal de Campina Grande',
       'Fundação Universidade Federal do Vale do São Francisco',
       'Universidade Federal Rural do Semi-Árido',
       'Universidade Federal do Estado do Rio de Janeiro',
       'Fundação Universidade Federal do ABC',
       'Universidade Federal do Triângulo Mineiro',
       'Universidade Federal do Rio Grande',
       'Universidade Federal de São Paulo',
       'Fundação Coordenação de Aperfeiçoamento de Pessoal de Nível Superior',
       'Universidade Federal dos Vales do Jequitinhonha e Mucuri',
       'Fundação Universidade Federal de Ciências da Saúde de Porto Alegre',
       'Empresa Brasileira de Serviços Hospitalares',
       'Instituto Federal de Alagoas',
       'Instituto Federal Sul-rio-grandense',
       'Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira',
       'Instituto Federal de Roraima',
       'Universidade Federal Rural de Pernambuco',
       'Universidade Federal do Oeste do Pará',
       'Universidade Federal do Recôncavo da Bahia',
       'Fundação Universidade Federal do Amapá',
       'Instituto Federal do Amapá', 'Instituto Federal do Amazonas',
       'Instituto Federal de Educação, Ciência e Tecnologia de Goiás',
       'Instituto Federal do Mato Grosso do Sul',
       'Universidade Federal de Itajubá',
       'Fundação Universidade Federal do Pampa',
       'Instituto Federal de Santa Catarina', 'Instituto Federal do Acre',
       'Universidade Federal do Sul e Sudeste do Pará',
       'Departamento do Fundo da Marinha Mercante',
       'Fundo Nacional de Segurança e Educação de Trânsito',
       'Departamento Nacional de Infraestrutura de Transportes',
       'Fundo Nacional de Aviação Civil', 'Secretaria de Portos',
       'Agência Nacional de Aviação Civil',
       'Ministério da Infraestrutura - Unidades com vínculo direto',
       'Agência Nacional de Transportes Aquaviários',
       'Agência Nacional de Transportes Terrestres',
       'Empresa de Planejamento e Logística S.A.',
       'Companhia Docas do Estado de São Paulo',
       'Companhia Docas do Rio de Janeiro',
       'Companhia Docas do Rio Grande do Norte',
       'Companhia Docas do Ceará', 'Companhia Docas do Espírito Santo',
       'Companhia Docas do Pará', 'Companhia Docas do Estado da Bahia',
       'VALEC Engenharia, Construções e Ferrovias S.A.',
       'Secretaria de Aviação Civil', 'Departamento de Polícia Federal',
       'Departamento de Polícia Rodoviária Federal',
       'Fundação Nacional do Índio',
       'Fundo Nacional de Segurança Pública',
       'Ministério da Justiça e Segurança Pública - Unidades com vínculo direto',
       'Conselho Administrativo de Defesa Econômica',
       'Fundo Penitenciário Nacional',
       'Secretaria Nacional do Consumidor Fundo',
       'Fundo Nacional Antidrogas',
       'Fundação Nacional do Índio - Patrimônio Indígena',
       'Secretaria Nacional de Políticas para Mulheres',
       'Ministério da Pesca e Aquicultura - Unidades com vínculo direto',
       'Ministério da Previdência Social - Unidades com vínculo direto',
       'Fundação Oswaldo Cruz', 'Fundação Nacional de Saúde',
       'Hospital Nossa Senhora da Conceição S.A.',
       'Ministério da Saúde - Unidades com vínculo direto',
       'Agência Nacional de Vigilância Sanitária',
       'Agência Nacional de Saúde Suplementar',
       'Agêncial Nacional de Telecomunicações',
       'Fundo para o Desenvolvimento Tecnológico das Telecomunicações',
       'Fundo de Universalização dos Serviços de Telecomunicações',
       'Empresa Brasil de Comunicação',
       'Ministério das Comunicações - Unidades com vínculo direto',
       'Fundo Nacional para a Criança e o Adolescente',
       'Fundo Nacional do Idoso',
       'Ministério das Relações Exteriores - Unidades com vínculo direto',
       'Fundação Alexandre de Gusmão',
       'Agência Nacional do Petróleo, Gás Natural e Biocombustíveis',
       'Companhia de Pesquisa de Recursos Minerais',
       'Indústrias Nucleares do Brasil',
       'Ministério de Minas e Energia - Unidades com vínculo direto',
       'Agência Nacional de Energia Elétrica',
       'Departamento Nacional de Produção Mineral',
       'Empresa de Pesquisa Energética',
       'Nuclebrás Equipamentos Pesados S.A.',
       'Ministério do Desenvolvimento Agrário - Unidades com vínculo direto',
       'Companhia Brasileira de Trens Urbanos',
       'Departamento Nacional de Obras Contra as Secas',
       'Empresa de Trens Urbanos de Porto Alegre',
       'Companhia de Desenvolvimento dos Vales do São Francisco e do Parnaíba',
       'Fundo Constitucional de Financiamento do Norte',
       'Fundo Constitucional de Financiamento do Centro-Oeste',
       'Fundo Constitucional de Financiamento do Nordeste',
       'Agência Nacional de Águas',
       'Superintendência do Desenvolvimento da Amazônia',
       'Superintendência do Desenvolvimento do Nordeste',
       'Ministério do Desenvolvimento Regional - Unidades com vínculo direto',
       'Fundo de Desenvolvimento da Amazônia',
       'Fundo de Desenvolvimento do Nordeste',
       'Superintendência de Desenvolvimento do Centro-Oeste',
       'Fundo Nacional de Habitação de Interesse Social',
       'Autoridade Pública Olímpica',
       'Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renováveis',
       'Instituto Chico Mendes de Conservação da Biodiversidade',
       'Instituto de Pesquisas Jardim Botânico do Rio de Janeiro',
       'Fundo Nacional do Meio Ambiente',
       'Ministério do Meio Ambiente - Unidades com vínculo direto',
       'Fundo Nacional sobre Mudança no Clima',
       'Ministério do Trabalho e Emprego - Unidades com vínculo direto',
       'Agência Nacional do Cinema', 'Fundo Nacional de Cultura',
       'Instituto Brasileiro de Turismo', 'Fundação Nacional de Artes',
       'Ministério do Turismo - Unidades com vínculo direto',
       'Instituto do Patrimônio Histórico e Artístico Nacional',
       'Fundação Biblioteca Nacional', 'Instituto Brasileiro de Museus',
       'Fundação Cultural Palmares', 'Fundação Casa de Rui Barbosa',
       'Fundo Geral de Turismo', 'Secretaria de Direitos Humanos',
       'Presidência da República',
       'Secretaria de Políticas de Promoção da Igualdade Racial',
       'Fundo de Imprensa Nacional',
       'Instituto Nacional de Tecnologia da Informação',
       'Secretaria da Micro e Pequena Empresa',
       'Secretaria de Assuntos Estratégicos',
       'Gabinete da Vice-Presidência da República'], dtype=object)

Los 10 NOMBRE_ÓRGANO que MAS aparecen son:

                                                    count  Porcentaje_recuento
NOMBRE_ÓRGANO
Ministério da Economia - Unidades com vínculo d...    482                10.59
Fundo do Regime Geral da Previdência Social           115                 2.53
Ministério da Educação - Unidades com vínculo d...     98                 2.15
Fundo Constitucional de Financiamento do Nordeste      52                 1.14
Fundo Constitucional de Financiamento do Norte         52                 1.14
Fundo Constitucional de Financiamento do Centro...     52                 1.14
Empresa Brasileira de Pesquisa Agropecuária            49                 1.08
Comando da Marinha - Fundo Naval                       45                 0.99
Fundo do Exército                                      42                 0.92
Fundo Nacional de Cultura                              42                 0.92

Los 10 NOMBRE_ÓRGANO que MENOS aparecen son:

                                             count  Porcentaje_recuento
NOMBRE_ÓRGANO
Companhia Docas do Ceará                         1                 0.02
Companhia Docas do Rio Grande do Norte           1                 0.02
Companhia Docas do Pará                          1                 0.02
Fundo de Apoio ao Desenvolvimento Social         1                 0.02
Companhia Docas do Estado da Bahia               1                 0.02
Fundo Soberano do Brasil                         1                 0.02
Amazônia Azul Tecnologia de Defesa S.A.          1                 0.02
Empresa Brasileira de Correios e Telégrafos      1                 0.02
Secretaria de Assuntos Estratégicos              1                 0.02
Gabinete da Vice-Presidência da República        1                 0.02

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO son:

       count  % repetición
count
4         16          5.99
13        14          5.24
9         14          5.24
1         13          4.87
11        12          4.49
17        12          4.49
10        12          4.49
16        12          4.49
7         11          4.12
15        11          4.12
12        11          4.12
8         10          3.75
14         9          3.37
22         9          3.37
20         9          3.37
3          8          3.00
24         7          2.62
6          7          2.62
19         7          2.62
18         6          2.25
5          6          2.25
25         5          1.87
2          5          1.87
26         4          1.50
28         4          1.50
33         4          1.50
27         3          1.12
52         3          1.12
30         3          1.12
29         3          1.12
21         3          1.12
42         2          0.75
23         2          0.75
32         2          0.75
36         1          0.37
37         1          0.37
41         1          0.37
45         1          0.37
98         1          0.37
49         1          0.37
482        1          0.37
115        1          0.37

None
La categoría CÓDIGO_UNIDAD_GESTORA tiene 281 elementos diferentes:

Los elementos de la categoría son:

array(['110060', '110174', '130137', '135037', '130101', '135100',
       '373001', '440088', '490003', '420002', '550002', '330013',
       '180077', '364001', '240901', '240102', '113209', '365001',
       '203001', '245209', '364999', '415001', '160075', '673001',
       '121002', '873001', '167086', '773008', '123001', '168002',
       '120002', '699999', '122002', '110407', '164204', '773001',
       '773009', '211999', '120999', '170013', '183038', '183023',
       '513001', '380910', '114702', '201002', '806001', '173065',
       '114601', '510001', '170010', '179083', '173039', '333001',
       '173057', '264001', '170392', '287001', '113601', '193028',
       '173030', '179103', '225001', '280102', '170356', '201924',
       '170474', '170380', '170381', '179999', '153061', '153163',
       '153046', '158658', '150014', '158143', '158122', '153062',
       '158133', '158145', '154502', '154069', '153079', '154039',
       '158157', '154080', '153115', '155001', '158146', '154054',
       '153114', '154047', '153063', '154051', '153080', '153103',
       '158148', '153038', '153052', '158128', '154041', '153045',
       '154040', '158144', '154048', '153166', '158127', '154055',
       '158137', '153028', '154049', '154419', '153015', '153032',
       '158125', '158134', '153065', '153019', '158151', '158154',
       '158121', '153037', '158138', '153010', '344002', '158155',
       '158124', '158131', '158139', '158141', '154050', '158129',
       '158719', '158565', '158099', '154046', '158123', '154044',
       '153164', '158135', '154045', '153034', '153056', '158136',
       '158517', '158149', '153173', '154043', '153167', '158009',
       '158195', '154421', '153033', '154034', '154503', '153035',
       '154042', '153031', '154003', '153036', '154032', '155007',
       '158147', '158126', '153978', '158152', '153165', '158515',
       '158092', '154215', '158150', '158142', '158153', '158132',
       '153030', '154359', '158516', '158156', '154999', '158718',
       '277001', '200320', '393003', '110591', '110680', '113214',
       '390002', '682010', '393001', '395001', '396006', '396001',
       '396005', '396003', '399002', '396004', '396002', '275075',
       '110590', '200336', '200109', '194088', '200331', '200094',
       '303001', '200333', '200401', '200246', '194040', '200021',
       '110008', '330002', '254420', '255000', '366003', '250088',
       '253002', '253003', '413001', '410007', '413047', '115406',
       '410002', '110244', '207001', '240005', '240999', '244001',
       '323030', '495001', '113206', '320002', '323028', '323002',
       '325001', '113208', '490002', '275068', '113802', '275060',
       '195006', '537002', '537003', '537001', '443003', '533013',
       '533014', '530002', '560003', '533008', '533009', '533018',
       '560015', '913001', '193034', '443032', '443019', '443045',
       '440002', '447001', '380010', '203003', '340002', '185001',
       '403201', '540001', '403101', '344042', '423001', '344041',
       '344001', '187002', '200016', '110005', '238012', '110245',
       '243001', '110246', '690001', '110355', '110101'], dtype=object)

Los 10 CÓDIGO_UNIDAD_GESTORA que MAS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
170013                   382                 8.39
513001                   115                 2.53
150014                    98                 2.15
170010                    64                 1.41
537002                    52                 1.14
537003                    52                 1.14
537001                    52                 1.14
135037                    49                 1.08
167086                    42                 0.92
340002                    42                 0.92

Los 10 CÓDIGO_UNIDAD_GESTORA que MENOS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
396001                     1                 0.02
396005                     1                 0.02
396002                     1                 0.02
773009                     1                 0.02
120999                     1                 0.02
211999                     1                 0.02
240999                     1                 0.02
415001                     1                 0.02
110355                     1                 0.02
110101                     1                 0.02

 Las distribución de las repeticiones de los CÓDIGO_UNIDAD_GESTORA son:

       count  % repetición
count
1         17          6.05
4         16          5.69
9         15          5.34
11        14          4.98
13        13          4.63
17        13          4.63
10        13          4.63
16        12          4.27
8         12          4.27
15        12          4.27
12        11          3.91
7         11          3.91
14         9          3.20
22         9          3.20
2          8          2.85
3          8          2.85
20         8          2.85
24         7          2.49
6          7          2.49
19         7          2.49
5          7          2.49
25         6          2.14
18         5          1.78
26         4          1.42
28         4          1.42
33         4          1.42
27         3          1.07
52         3          1.07
30         3          1.07
29         3          1.07
21         3          1.07
42         2          0.71
23         2          0.71
32         2          0.71
36         1          0.36
40         1          0.36
41         1          0.36
49         1          0.36
98         1          0.36
64         1          0.36
382        1          0.36
115        1          0.36

None
La categoría NOMBRE_UNIDAD_GESTORA tiene 278 elementos diferentes:

Los elementos de la categoría son:

array(['COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU',
       'DIRETORIA DE GESTAO INTERNA/SE/CGU',
       'FUNDO DE DEFESA DA ECON.CAFEEIRA/FUNCAFE/SPA', 'EMBRAPA-SETORIAL',
       'COORD.-GERAL DE ORCAMENTO E FINANCAS-MAPA',
       'COMPANHIA NACIONAL DE ABASTECIMENTO',
       'DPTO. DE ADMINISTRACAO FINANCEIRA-DAF - INCRA',
       'SETORIAL PROG.ORCAMENTARIA E FINANCEIRA-SFB', 'CREDITO FUNDIARIO',
       'COORD.GERAL DE PLAN. ORC. FIN. E CONTAB./MINC',
       'SETORIAL DE ORCAMENTO E FINANCAS/MC',
       'FUNDO NACIONAL DE ASSISTENCIA SOCIAL',
       'SETORIAL ORCAMENTARIA E FINANCEIRA - (ME)',
       'CNPQ - ADMINISTRACAO CENTRAL',
       'FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS',
       'CNEN-ORCAMENTO E FINANCAS', 'FINANCIADORA DE ESTUDOS E PROJETOS',
       'AGENCIA ESPACIAL BRASILEIRA/AEB',
       'CENTRO NACIONAL DE TECNOLOGIA ELETRONICA AVAN',
       'CNPQ - DIFERENCIA CAMBIAL',
       'EMPRESA BRASILEIRA DE CORREIOS E TELEGRAFOS',
       'D CONT - SETORIAL FINANCEIRA',
       'DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM',
       'SECRETARIA DE ECON. E FIN.DA AER.- F.AER.', 'FUNDO DO EXERCITO',
       'DIRETORIA DE FINANCAS DA MARINHA - CCCPM',
       'CAIXA FINANCIAMENTO IMOBILIARIO AERONAUTICA',
       'INDUSTRIA DE MATERIAL BELICO DO BRASIL/GESTOR',
       'DIRETORIA DE ECON E FINANCAS DA AERONAUTICA',
       'FUNDO NAVAL - DIFERENCA CAMBIAL',
       'AGENCIA NACIONAL DE AVIACAO CIVIL - F. AEROV.',
       'DEPARTAMENTO DE PLANEJ, ORC E FINANCAS (MD)', 'FUNDACAO OSORIO',
       'DIRETORIA DE FINANCAS DA MARINHA-SISTEMA-PAIS',
       'DIRETORIA DE FINANCAS DA MARINHA - AMAZUL',
       'MARINHA - DIFERENCA CAMBIAL', 'MAER - DIFERENCA CAMBIAL',
       'SETORIAL ORCAMENTARIA E FINANCEIRA / ME',
       'INSTITUTO NACIONAL DA PROPRIEDADE INDUSTRIAL',
       'INSTITUTO NAC.DE METROLOG. QUALID. E TECNOLOG',
       'COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS',
       'COORD-GERAL DE ORCAMENTO, FIN. E CONT.- CGOFC',
       'FUNDACAO ESCOLA NACIONAL DE ADM. PUBLICA',
       'COORDENACAO-GERAL DE ORC. E FINANCAS/MP',
       'SERPRO-SEDE - DEPARTAMENTO FINANCEIRO',
       'FUNDO CONTINGENTE DA EXTINTA RFFSA-FC',
       'FUNDACAO IBGE-ADMINISTRACAO CENTRAL/RJ',
       'COORD.GERAL DE ORCAMENTO, FINANCAS E CONTAB.',
       'SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB',
       'CASA DA MOEDA DO BRASIL',
       'SUPERINTENDENCIA DE SEGUROS PRIVADOS - RJ',
       'COORD.GERAL DE ORC. FIN. E CONTABILIDADE',
       'BANCO CENTRAL DO BRASIL',
       'FUNDACENTRO - FUND.JORGE DUPRAT/CTN/SEDE - SP',
       'FUNDO CONSTITUCIONAL DO DISTRITO FEDERAL',
       'FUNDO DE GAR.P/PROMOC.DA COMPETITIVIDADE±FGPC',
       'INSTITUTO DE PESQUISA ECONOMICA APLICADA',
       'SUPERINTENDENCIA DA ZONA FRANCA DE MANAUS/AM',
       'COMISSAO DE VALORES MOBILIARIOS',
       'FUNDO DE ESTABILIDADE DO SEGURO RURAL',
       'CIA.DE ENTREPOSTOS E ARMAZENS GER.DE S.PAULO',
       'COORDENACAO-GERAL DE ORCAM.FINAN.CONTAB/MDIC',
       'FUNDO DE GARANTIA A EXPORTACAO-BNDES',
       'FUNDO NACIONAL DE DESENVOLVIMENTO', 'FUNDO SOBERANO DO BRASIL',
       'FUNDO DE APOIO AO DESENVOLVIMENTO SOCIAL',
       'FUNDO DE COMPENSACAO E VARIACAO SALARIAL',
       'STN - EXTERIOR - DIF.CAMBIAL',
       'UNIVERSIDADE FEDERAL DE JUIZ DE FORA',
       'UNIVERSIDADE FEDERAL DE SANTA CATARINA',
       'UNIVERSIDADE FEDERAL DO ESPIRITO SANTO',
       'UNIV. FEDERAL DA INTEGRACAO LATINO-AMERICANA',
       'SUBSECRETARIA DE PLANEJ. E ORCAMENTO SPO(MEC)',
       'IFB - REITORIA - BRASILIA-DF',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE MINAS GERAIS',
       'UNIVERSIDADE FEDERAL DE MINAS GERAIS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO CEARA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DA BAHIA',
       'FUNDACAO UNIVERSIDADE FED. DA GRANDE DOURADOS',
       'FUNDACAO UNIVERSIDADE FEDERAL DE S.J.DEL-REI',
       'UNIVERSIDADE FEDERAL DO PARANA',
       'FUNDACAO UNIVERSIDADE DO AMAZONAS', 'REITORIA',
       'UNIVERSIDADE FEDERAL DE RORAIMA',
       'UNIVERSIDADE FEDERAL DO RIO DE JANEIRO',
       'HOSPITAL DE CLINICAS DE PORTO ALEGRE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PIAUI',
       'FUNDACAO UNIVERS.FED. DE MATO GROSSO DO SUL',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO SUL',
       'FUNDACAO UNIVERSIDADE FEDERAL DE PELOTAS',
       'UNIVERSIDADE FEDERAL DO PARA', 'UNIVERSIDADE FEDERAL DE VICOSA',
       'UNIVERSIDADE FEDERAL DE PERNAMBUCO',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO NORTE',
       'INST. FED. DE EDUC.,CIENC. E TEC. DE RONDONIA',
       'UNIVERSIDADE FEDERAL DA BAHIA', 'UNIVERSIDADE FEDERAL DE GOIAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MARANHAO',
       'FUNDACAO UNIVERSIDADE DO MARANHAO',
       'UNIVERSIDADE FEDERAL DO CEARA',
       'FUNDACAO UNIVERSIDADE DE BRASILIA - FUB',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MATO GROSSO',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PIAUI',
       'UNIVERSIDADE FEDERAL RURAL DO RIO DE JANEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.FARROUPILHA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE RONDONIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO SUL DE MG',
       'UNIVERSIDADE FEDERAL DE ALFENAS',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SAO CARLOS',
       'FUNDACAO UNIVERSIDADE FEDERAL DO TOCANTINS',
       'CENTRO FEDERAL DE EDUCACAO TECNOLOGICA DE MG',
       'UNIVERSIDADE FEDERAL DE LAVRAS',
       'INSTITUTO FEDERAL CATARINENSE - REITORIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE SERGIPE',
       'UNIVERSIDADE FEDERAL DA PARAIBA',
       'UNIVERSIDADE TECNOLOGICA FEDERAL DO PARANA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ESP.SANTO',
       'INSTITUTO FEDERAL DE SAO PAULO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO NORTE DE MG',
       'UNIVERSIDADE FEDERAL DE ALAGOAS', 'IFPB - REITORIA',
       'CENTRO FED.DE EDUC.TECNOL.CELSO S.DA FONSECA',
       'FUNDACAO JOAQUIM NABUCO', 'INST.FED.DE EDUC.,CIENC.E TEC.DO RN',
       'IF GOIANO', 'INST.FED.DE EDUC.,CIENC.E TEC.DO TOCANTINS',
       'INST.FED.DE EDUC.,CIENC.E TEC.FLUMINENSE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RS',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SERGIPE',
       'INST FED DE EDUC CIENC E TECNOLOGIA BAIANO',
       'UNIVERSIDADE FEDERAL DO CARIRI',
       'UNIV.DA INTEG.INTERN.DA LUSOF.AFRO-BRASILEIRA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TRIA.MINEIRO',
       'UNIVERSIDADE FEDERAL DE OURO PRETO',
       'INSTITUTO FED CIENCIA TECNOL SUDESTE MG',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ACRE',
       'UNIVERSIDADE FEDERAL DE SANTA MARIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PARA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE MATO GROSSO',
       'UNIVERSIDADE FEDERAL RURAL DA AMAZONIA',
       'UNIVERSIDADE FEDERAL FLUMINENSE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE PERNAMBUCO',
       'UNIVERSIDADE FEDERAL DA FRONTEIRA SUL',
       'INST.FED.DE ED.,CIENC.E TEC.DO S.PERNAMBUCANO',
       'FUNDO NACIONAL DE DESENVOLVIMENTO DA EDUCACAO',
       'FUNDACAO UNIVERSIDADE FEDERAL DE UBERLANDIA', 'COLEGIO PEDRO II',
       'INST. FED. DO PARANA/ REITORIA',
       'UNIVERSIDADE FEDERAL DE CAMPINA GRANDE',
       'FUND. UNIVERSIDADE FEDERAL VALE SAO FRANCISCO',
       'UNIVERSIDADE FEDERAL RURAL DO SEMI-ARIDO - RN',
       'UNIRIO UNIVERSIDADE FEDERAL DO ESTADO RJ',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ABC',
       'UNIVERSIDADE FEDERAL DO TRIANGULO MINEIRO',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE - FURG',
       'UNIFESP-UNIVERSIDADE FEDERAL DE SAO PAULO',
       'FUND.COORD.DE APERF.DE PESSOAL NIVEL SUPERIOR',
       'UNIVERSIDADE FED.VALES JEQUITINHONHA E MUCURI',
       'FUND.UNIV.FED.DE.CIENC.DA SAUDE DE P.ALEGRE',
       'EMPRESA BRASILEIRA DE SERVICOS HOSPITALARES',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE ALAGOAS',
       'INST.FED.DE EDUC.,CIE.E TEC.SUL-RIO-GRANDENSE',
       'INST.NACIONAL DE EST.E PESQUISAS EDUCACIONAIS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE RORAIMA',
       'UNIVERSIDADE FEDERAL RURAL DE PERNAMBUCO',
       'UNIVERSIDADE FEDERAL DO OESTE DO PARA',
       'UNIVERSIDADE FEDERAL DO RECONCAVO DA BAHIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DO AMAPA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAPA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAZONAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE GOIAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MAT.G.DO SUL',
       'UNIVERSIDADE FEDERAL DE ITAJUBA',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PAMPA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE STA.CAT/IFSC',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ACRE',
       'CAPES - DIFERENCA CAMBIAL',
       'UNIVERSIDADE FEDERAL DO SUL E SUDESTE DO PARA',
       'FUNDO DA MARINHA MERCANTE',
       'FUNDO NACIONAL DE SEG. E EDUCACAO DE TRANSITO',
       'DEPART.NAC.INFRA ESTRUTURA TRANSPORTES.',
       'FUNDO NACIONAL DE AVIACAO CIVIL', 'SECRETARIA DE PORTOS/PR',
       'AGENCIA NACIONAL DE AVIACAO CIVIL',
       'SUBSECRETARIA DE PLAN.,ORCAM.E ADMIN.SETORIAL',
       'AGENCIA NACIONAL DE TRANSPORTES AQUAVIARIOS',
       'AGENCIA NACIONAL DE TRANSPORTES TERRESTRES',
       'EMPRESA DE PLANEJAMENTO E LOGISTICA S.A - EPL',
       'COMPANHIA DOCAS DO ESTADO DE SAO PAULO',
       'COMPANHIA DOCAS DO RIO DE JANEIRO',
       'COMPANHIA DOCA DO RIO GRANDE DO NORTE',
       'COMPANHIA DOCAS DO CEARA', 'COMPANHIA DOCAS DO ESPIRITO SANTO',
       'COMPANHIA DOCAS DO PARA', 'COMPANHIA DOCAS DO ESTADO DA BAHIA',
       'VALEC ENGENHARIA CONSTRUCOES E FERROVIAS S/A.',
       'SECRETARIA DE AVIACAO CIVIL/PR',
       'COORDENACAO DE ORCAMENTO FINANCAS CONTABILIDA',
       'DEPTO.DE POLICIA RODOVIARIA FEDERAL',
       'FUNDACAO NACIONAL DO INDIO - U.O.',
       'FUNDO NACIONAL DE SEGURANCA PUBLICA - FNSP',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MJ',
       'CONSELHO ADMINISTRATIVO DE DEFESA ECONOMICA',
       'DEPEN - DIRETORIA EXECUTIVA',
       'FUNDO DE DEFESA DOS DIREITOS DIFUSOS',
       'FUNDO NACIONAL ANTIDROGAS', 'RENDA DO PATRIMONIO INDIGENA',
       'SECRETARIA DE POLITICAS PARA AS MULHERES',
       'SECRETARIA EXECUTIVA-MPA',
       'COORDENACAO-GERAL DE ORC. FIN.E CONTABILIDADE',
       'FUNDACAO OSWALDO CRUZ', 'FUNDACAO NACIONAL DE SAUDE - DF',
       'HOSPITAL NOSSA SENHORA DA CONCEICAO S/A',
       'SPO-COORD.-GERAL DE ORC.E FINANCAS/MS',
       'AGENCIA NACIONAL DE VIGILANCIA SANITARIA',
       'AGENCIA NACIONAL DE SAUDE SUPLEMENTAR',
       'AGENCIA NACIONAL DE TELECOMUNICACOES-SEDE',
       'FUNDO P/O DESENV.TECNOL.DAS TELECOMUNICACOES',
       'FUNDO DE UNIVERS.DOS SERV.TELECOMUNICACOES',
       'EMPRESA BRASIL DE COMUNICACAO S.A',
       'FUNDO NACIONAL PARA A CRIANCA E O ADOLESCENTE',
       'FUNDO NACIONAL DO IDOSO',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MRE',
       'MRE - DIFERENCA CAMBIAL', 'FUNDACAO ALEXANDRE DE GUSMAO',
       'AG. NAC.DO PETROLEO GAS NAT.E BIOCOM',
       'COMPANHIA DE PESQUISA DE RECURSOS MINERAIS',
       'INDUSTRIAS NUCLEARES DO BRASIL S/A - INB',
       'COORD.GERAL DE ORCAM.E FIN./M.M.E',
       'AGENCIA NACIONAL DE ENERGIA ELETRICA',
       'DEPARTAMENTO NAC. DE PRODUCAO MINERAL - SEDE',
       'EMPRESA DE PESQUISA ENERGETICA',
       'NUCLEBRAS EQUIPAMENTOS PESADOS S/A-NUCLEP',
       'SUBSEC. DE PLANEJ., ORCAMENTO E ADMINISTRACAO',
       'CIA BRASILEIRA DE TRENS URBANOS-ADM.CENTRAL',
       'DEPARTAMENTO NAC. DE OBRAS CONTRA AS SECAS/UO',
       'EMPRESA DE TRENS URBANOS DE PORTO ALEGRE S/A',
       'CIA DE DES.DOS VALES DO S.FRANC.E DO PARNAIBA',
       'FUNDO CONSTITUCIONAL FINANCIAMENTO NORTE',
       'FUNDO CONSTITUCIONL DO CENTRO OESTE',
       'FUNDO CONSTITUCIONAL DE FINANCIAM.DO NORDESTE',
       'COORDENACAO DE ORCAMENTO E FINANCAS.',
       'SUPERINTEND. DO DESENVOLVIMENTO DA AMAZONIA',
       'SUPERINTENDENCIA DO DESENVOLV. DO NORDESTE',
       'ORCAMENTO E FINANCAS/MDR',
       'SECRETARIA EXECUTIVA - MINISTERIO DAS CIDADES',
       'FUNDO DE DESENVOLVIMENTO DA AMAZONIA',
       'FUNDO DE DESENVOLVIMENTO DO NORDESTE',
       'SUPERINT. DO DESENVOLVIMENTO DO CENTRO-OESTE',
       'FUNDO NACIONAL DE HABIT. DE INTERESSE SOCIAL',
       'AUTORIDADE PUBLICA OLIMPICA',
       'IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ',
       'INST.CHICO MENDES DE CONSER.DA BIODIVERSIDADE',
       'COORD. DE PLAN. ORCAMENTO E FIN./COPLAN/JBRJ',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMA',
       'SUBSECRET.PLANEJAM.ORCAM.E ADMINIST±SPOA(MMA)',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMC',
       'COORD-GERAL DE ORCAM., FIN. E CONTABILIDADE',
       'AGENCIA NACIONAL DO CINEMA',
       'COORD.GERAL DE PLAN. ORC. FIN. E CONTAB/FNC',
       'INSTITUTO BRASILEIRO DE TURISMO - EM EXTINCAO',
       'FUNDACAO NACIONAL DE ARTES', 'CGOFC - SETORIAL/MTUR',
       'INSTITUTO DO PATRIMONIO HIST. E ART. NACIONAL',
       'FUNDACAO BIBLIOTECA NACIONAL',
       'INSTITUTO BRASILEIRO DE MUSEUS - IBRAM',
       'FUNDACAO CULTURAL PALMARES', 'FUNDACAO CASA DE RUI BARBOSA',
       'FUNDO GERAL DE TURISMO-FUNGETUR',
       'SECRETARIA DE DIREITOS HUMANOS/PR',
       'SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR',
       'SECRETARIA DE POLIT. DE PROM.DA IGUALD.RACIAL',
       'FUNDO DE IMPRENSA NACIONAL/EXEC.ORC.FINANC.',
       'INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI',
       'SECRETARIA DA MICRO E PEQUENA EMPRESA',
       'SECRETARIA DE ASSUNTOS ESTRATEGICOS-SAE/PR',
       'GABINETE DA VICE-PRESIDENCIA DA REPUBLICA'], dtype=object)

Los 10 NOMBRE_UNIDAD_GESTORA que MAS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
SETORIAL ORCAMENTARIA E FINANCEIRA / ME          382                 8.39
COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS     115                 2.53
SUBSECRETARIA DE PLANEJ. E ORCAMENTO SPO(MEC)     98                 2.15
SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB       64                 1.41
FUNDO CONSTITUCIONAL FINANCIAMENTO NORTE          52                 1.14
FUNDO CONSTITUCIONAL DE FINANCIAM.DO NORDESTE     52                 1.14
FUNDO CONSTITUCIONL DO CENTRO OESTE               52                 1.14
DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM      51                 1.12
EMBRAPA-SETORIAL                                  49                 1.08
COORD.GERAL DE PLAN. ORC. FIN. E CONTAB/FNC       42                 0.92

Los 10 NOMBRE_UNIDAD_GESTORA que MENOS aparecen son:

                                             count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
DIRETORIA DE FINANCAS DA MARINHA - AMAZUL        1                 0.02
MARINHA - DIFERENCA CAMBIAL                      1                 0.02
COMPANHIA DOCAS DO ESTADO DE SAO PAULO           1                 0.02
COMPANHIA DOCA DO RIO GRANDE DO NORTE            1                 0.02
CAPES - DIFERENCA CAMBIAL                        1                 0.02
COMPANHIA DOCAS DO CEARA                         1                 0.02
MRE - DIFERENCA CAMBIAL                          1                 0.02
EMPRESA BRASILEIRA DE CORREIOS E TELEGRAFOS      1                 0.02
SECRETARIA DE ASSUNTOS ESTRATEGICOS-SAE/PR       1                 0.02
GABINETE DA VICE-PRESIDENCIA DA REPUBLICA        1                 0.02

 Las distribución de las repeticiones de los NOMBRE_UNIDAD_GESTORA son:

       count  % repetición
count
1         17          6.12
4         16          5.76
9         15          5.40
17        13          4.68
13        13          4.68
11        13          4.68
15        12          4.32
12        12          4.32
16        12          4.32
10        12          4.32
8         11          3.96
7         11          3.96
14         9          3.24
22         9          3.24
20         8          2.88
3          8          2.88
24         7          2.52
5          7          2.52
6          7          2.52
2          7          2.52
19         7          2.52
25         6          2.16
18         5          1.80
26         4          1.44
28         4          1.44
33         4          1.44
52         3          1.08
21         3          1.08
30         3          1.08
29         3          1.08
27         3          1.08
42         2          0.72
32         2          0.72
115        1          0.36
98         1          0.36
36         1          0.36
41         1          0.36
51         1          0.36
49         1          0.36
64         1          0.36
382        1          0.36
23         1          0.36
31         1          0.36

None
La categoría CATEGORÍA_ECONÓMICA tiene 5 elementos diferentes:

Los elementos de la categoría son:

array(['Receitas Correntes', 'Receitas Correntes - intra-orçamentárias',
       'Receitas de Capital', 'Receitas de Capital - intra-orçamentárias',
       'Sem informação'], dtype=object)

Los 10 CATEGORÍA_ECONÓMICA que MAS aparecen son:

                                           count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                          4095                89.94
Receitas Correntes - intra-orçamentárias     230                 5.05
Receitas de Capital                          226                 4.96
Receitas de Capital - intra-orçamentárias      1                 0.02
Sem informação                                 1                 0.02

Los 10 CATEGORÍA_ECONÓMICA que MENOS aparecen son:

                                           count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                          4095                89.94
Receitas Correntes - intra-orçamentárias     230                 5.05
Receitas de Capital                          226                 4.96
Receitas de Capital - intra-orçamentárias      1                 0.02
Sem informação                                 1                 0.02

 Las distribución de las repeticiones de los CATEGORÍA_ECONÓMICA son:

       count  % repetición
count
1          2         40.00
4095       1         20.00
230        1         20.00
226        1         20.00

None
La categoría ORIGEN_INGRESO tiene 15 elementos diferentes:

Los elementos de la categoría son:

array(['Outras Receitas Correntes', 'Receita de Serviços',
       'Operações de Crédito', 'Transferências de Capital',
       'Outras Receitas de Capital', 'Transferências Correntes',
       'Alienação de Bens', 'Receita Patrimonial', 'Receita Industrial',
       'Impostos, Taxas e Contribuições de Melhoria', 'Contribuições',
       'Receita Agropecuária', 'Amortizações de Empréstimos',
       'Receitas Correntes - a classificar', 'Sem informação'],
      dtype=object)

Los 10 ORIGEN_INGRESO que MAS aparecen son:

                                             count  Porcentaje_recuento
ORIGEN_INGRESO
Outras Receitas Correntes                     2050                45.03
Receita de Serviços                            973                21.37
Receita Patrimonial                            614                13.49
Contribuições                                  197                 4.33
Impostos, Taxas e Contribuições de Melhoria    185                 4.06
Alienação de Bens                              150                 3.29
Transferências Correntes                       130                 2.86
Receita Agropecuária                           108                 2.37
Receita Industrial                              56                 1.23
Operações de Crédito                            25                 0.55

Los 10 ORIGEN_INGRESO que MENOS aparecen son:

                                    count  Porcentaje_recuento
ORIGEN_INGRESO
Alienação de Bens                     150                 3.29
Transferências Correntes              130                 2.86
Receita Agropecuária                  108                 2.37
Receita Industrial                     56                 1.23
Operações de Crédito                   25                 0.55
Amortizações de Empréstimos            23                 0.51
Transferências de Capital              19                 0.42
Receitas Correntes - a classificar     12                 0.26
Outras Receitas de Capital             10                 0.22
Sem informação                          1                 0.02

 Las distribución de las repeticiones de los ORIGEN_INGRESO son:

       count  % repetición
count
2050       1          6.67
973        1          6.67
614        1          6.67
197        1          6.67
185        1          6.67
150        1          6.67
130        1          6.67
108        1          6.67
56         1          6.67
25         1          6.67
23         1          6.67
19         1          6.67
12         1          6.67
10         1          6.67
1          1          6.67

None
La categoría TIPO_INGRESO tiene 46 elementos diferentes:

Los elementos de la categoría son:

array(['Demais receitas correntes',
       'Multas administrativas, contratuais e judicia',
       'Indenizações e restituições', 'Receita de Serviços',
       'Bens, Direitos e Valores Incorporados ao Patr',
       'Indenizações, restituições e ressarcimentos',
       'Operações de crédito - mercado externo',
       'Transferências de Instituições Privadas',
       'Receita dívida ativa proveniente de amortizaç',
       'Transferências de Convênios', 'Alienação de bens móveis',
       'Exploração do patrimônio imobiliário do Estad',
       'Operações de crédito - mercado interno',
       'Delegação de Serviços Públicos Mediante Conce',
       'Receitas da indústria de transformação', 'Valores Mobiliários',
       'Taxas', 'Transferências dos Estados e do Distrito Fede',
       'Contribuições sociais', 'Alienação de bens imóveis',
       'Receita da produção animal e derivados',
       'Transferências de Pessoas Físicas', 'Amortizações de Empréstimos',
       'Transferências dos Municípios e de suas Entid',
       'Contribuições econômicas', 'Receita da produção vegetal',
       'Receita dívida ativa alienação de estoques de',
       'Receita de concessões e permissões',
       'Receitas Correntes - a classificar',
       'Exploração de recursos naturais', 'Outras receitas',
       'Transferências de Outras Instituições Pública',
       'Integralização do capital social', 'Demais receitas patrimoniais',
       'Cessão de direitos', 'Impostos',
       'Remuneração das Disponibilidades do Tesouro N',
       'Receita títulos do tesouro nacional resgatado',
       'Receitas decorrentes de compensações ao Regim', 'Sem informação',
       'Resultado do Banco Central do Brasil', 'Receita da dívida ativa',
       'Receitas decorrentes de aportes periódicos pa',
       'Transferências do Exterior', 'Outras receitas agropecuárias',
       'Receitas de valores mobiliários'], dtype=object)

Los 10 TIPO_INGRESO que MAS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Receita de Serviços                              973                21.37
Multas administrativas, contratuais e judicia    966                21.22
Indenizações, restituições e ressarcimentos      667                14.65
Exploração do patrimônio imobiliário do Estad    308                 6.76
Demais receitas correntes                        236                 5.18
Valores Mobiliários                              170                 3.73
Bens, Direitos e Valores Incorporados ao Patr    159                 3.49
Contribuições sociais                            135                 2.97
Impostos                                         135                 2.97
Alienação de bens móveis                         128                 2.81

Los 10 TIPO_INGRESO que MENOS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Outras receitas                                    2                 0.04
Receita dívida ativa proveniente de amortizaç      1                 0.02
Receita dívida ativa alienação de estoques de      1                 0.02
Integralização do capital social                   1                 0.02
Remuneração das Disponibilidades do Tesouro N      1                 0.02
Receitas decorrentes de compensações ao Regim      1                 0.02
Receita da dívida ativa                            1                 0.02
Sem informação                                     1                 0.02
Receitas decorrentes de aportes periódicos pa      1                 0.02
Receitas de valores mobiliários                    1                 0.02

 Las distribución de las repeticiones de los TIPO_INGRESO son:

       count  % repetición
count
1          9         19.57
2          4          8.70
135        2          4.35
7          2          4.35
19         2          4.35
8          2          4.35
966        1          2.17
159        1          2.17
128        1          2.17
90         1          2.17
973        1          2.17
308        1          2.17
236        1          2.17
170        1          2.17
667        1          2.17
51         1          2.17
52         1          2.17
55         1          2.17
56         1          2.17
62         1          2.17
50         1          2.17
23         1          2.17
49         1          2.17
15         1          2.17
16         1          2.17
18         1          2.17
22         1          2.17
12         1          2.17
9          1          2.17
5          1          2.17
6          1          2.17

None
La categoría DETALLE tiene 708 elementos diferentes:

Los elementos de la categoría son:

array(['RECEITA DE HONORÁRIOS DE ADVOGADOS',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS',
       'OUTRAS MULTAS E JUROS DE MORA',
       'RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES',
       'TAR.INSCR.CONCURSOS E PROCESSOS SELETIVOS', 'OUTRAS RECEITAS',
       'REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC',
       'REC.DIV.ATIVA POR INFRAÇÃO ADMINISTRATIVA', 'OUTRAS RESTITUICOES',
       'OPERACOES DE CREDITOS EXTERNAS - CONTRATUAIS',
       'OUTRAS INDENIZACOES', 'OUTRAS MULTAS',
       'RECEITA DE ÔNUS DE SUCUMBÊNCIA', 'OUTROS SERVICOS FINANCEIROS',
       'RESTITUICOES DE CONVENIOS - PRIMARIAS',
       'SERVICOS ADMINISTRATIVOS',
       'Transferências de Instituições Privadas',
       'Receita dívida ativa proveniente de amortizaç',
       'TRANSFER. CONVENIOS DE INSTITUICOES PRIVADAS',
       'SERVICOS DE TRANSFERENCIA DE TECNOLOGIA', 'ALIENACAO DE VEICULOS',
       'TAXA DE OCUPACAO DE TERRENOS DA UNIAO',
       'SERVICOS DE HOSPEDAGEM E ALIMENTACAO',
       'TITULOS DA DIVIDA AGRARIA - TDA',
       'ALIENACAO DE OUTROS BENS MOVEIS',
       'REC.SEGUROS DECOR. INDENIZAÇÃO POR SINISTRO',
       'RESTITUICOES DE CONVENIOS', 'TAXA DE OCUPACAO DE OUTROS IMOVEIS',
       'ARRENDAMENTOS', 'MULTAS S/ FISCALIZACAO REDE DE PROD.ORGANICA',
       'REC. CONCESS. FLOREST. NACION. - DEMAIS VALOR',
       'RECEITA DA INDUSTRIA DE BEBIDAS E DESTILADOS',
       'SERV.CONS,ASS.TEC.E AN.PROJ-APLICAÇÕES LIVRES',
       'MULTA E JURO DE MORA DIV.ATIV.OUTRAS CONTRIB.',
       'ALIENACAO DE EQUIPAMENTOS', 'SERVICOS DE ARMAZENAGEM',
       'ALIENACAO DE ESTOQUES REGULADORES - PGPM',
       'MUL.JUR.MORA CONT. S/ APOSTA COMPET. HIPICAS',
       'JUROS DE TITULOS DE RENDA', 'TAXAS DE SERVICOS CADASTRAIS',
       'SERVICOS AGROPECUARIOS', 'OUTRAS TRANSFERENCIAS DOS MUNICIPIOS',
       'TRANSFERENCIAS CONVENIOS DA UNIAO E ENTIDADES',
       'CONTRIBUICAO INDUSTRIAL RURAL',
       'ALIENACAO DE ESTOQUES PROPRIOS DO FUNCAFE',
       'RESTIT.BENEF.NAO DESEMB. - RECURSOS PROPRIOS',
       'SERVICOS DE ESTUDOS E PESQUISAS', 'SERVICOS DE METEOROLOGIA',
       'CERTIFICACAO DE PRODUTOS E SERVICOS',
       'MULTAS E JUROS DE MORA DE TAXAS DE OCUPACAO',
       'ALIENACAO DE IMOVEIS URBANOS',
       'SERVICO DE INFORMACOES CIENTIFICAS E TECNOLOG',
       'Receita da produção animal e derivados', 'SERVICOS DE TECNOLOGIA',
       'ALUGUEIS', 'JUROS DE EMPRESTIMOS',
       'ALIENACAO IMOV.RURAIS P/ COLON. E REF.AGRARIA',
       'TRANSF.DE CONVENIOS DA UNIAO DE S/ENTIDADES',
       'OUTROS RECEITAS DE SERVICOS',
       'RECEITA DIVIDA ATIVA DE OUTRAS CONTRIBUICOES',
       'ALIENACAO DE ANIMAIS REPRODUTORES E MATRIZES',
       'TRANSF.DOS ESTADOS DF E SUAS ENTIDADES',
       'REC. CONCESS. FLORESTAS NACIONAIS - VALOR MIN',
       'ADICIONAL A CONTRIBUICAO PREVIDENCIARIA',
       'AMORTIZACOES DE CONTRATOS',
       'RECEITA DA INDUSTRIA EDITORIAL E GRAFICA',
       'Transferências dos Municípios e de suas Entid',
       'REC.DIV.ATIVA RESSARCIMENTO AO ERARIO',
       'REMUNERACAO DE DEPOSITOS BANCARIOS',
       'MULTAS E JUROS DE MORA  OUTRAS CONTRIBUICOES',
       'TRANSF.DE CONV.DOS ESTADOS,DF E S/ENTIDADES',
       'CONTRIBUICAO S/ APOSTAS EM COMPET. HIPICAS',
       'MUL.JUR. MORA ALIEN. DE OUTROS BENS IMOVEIS',
       'REC.DIV.ATIVA MULTAS POR INFRAÇÃO-CONT. ADMIN',
       'Receita da produção vegetal',
       'Receita dívida ativa alienação de estoques de',
       'OUTRAS RECEITAS EVENTUAIS', 'MULTAS POR AUTOS DE INFRACAO',
       'MULTAS E JUROS DE MORA DE ALUGUEIS',
       'PARCEL-OUTRAS MULTA/J DE MORA DIV AT OUT REC',
       'REC.DIV.ATIVA RESSARC.ERARIO-DECISAO TCU', 'DIVIDENDOS',
       'SERV.DE COM.LIVROS PERIOD.MAT.ESC.E PUBLICID.',
       'AMORTIZACOES DE EMPRESTIMOS DIVERSOS',
       'REC. CUSTOS DE EDITAL DE CONCESSAO FLORESTAL',
       'AMORTIZACOES DE PROJETOS',
       'INDENIZ. POR  DANOS CAUSADOS AO PATR. PUBLICO',
       'TAXA DE CLASSIFICACAO DE PRODUTOS VEGETAIS',
       'SERVICOS DE COMERC. E DISTRIB. PROD. AGROPEC.',
       'ALIENACAO DE MOVEIS E UTENSILIOS',
       'TRANSF.DE CONVENIOS DE INSTITUICOES PRIVADAS',
       'MULT. JUROS MORA REC.DECORR. BENS APREENDIDOS',
       'PROVENIENTES DE PESSOAS FISICAS',
       'CONTRIBUICAO S/RECEITA DA LOTERIAL FEDERAL',
       'CONTRIBUICAO S/RECEITA LOTERIA ESPORTIVA',
       'PROVENIENTES DE DEPOSITOS NAO IDENTIFICADOS',
       'REMUNERACAO DE SALDOS NAO DESEMBOLSADOS',
       'PROVENIENTES DE PESSOAS JURIDICAS',
       'CONTR.S/REC.CONC.PROG.DEST.PRAT.DESP-MOD.FUTE',
       'PRODUTO DEP.ABANDONADO(DINHEIRO/OBJETO VALOR)',
       'CONTRIBUICAO S/RECEITA LOTERIAS DE NUMEROS',
       'ALIENACAO ESTOQUES ADQUIR. AGRICUL. FAMILIAR',
       'REC. DE LEILOES DE MERCADORIAS APREENDIDAS',
       'CONTR-EMP.INSTALADAS DEMAIS REGIOES-RESIDUAL',
       'MULT.J.MORA DIV.AT.COTA ADIC.FR.MARINHA MERC.',
       'CON. S/REC.OPER.BRUTA EMPR.PREST.SERV.TELECOM',
       'MULT.JUR.MOR OUTORGA DIR USO RADIOFREQUENCIA',
       'RECEITA DA INDUSTRIA DE PROD. FARMOQUIMICOS',
       'OUTRAS MULT.JUR.MORA DIV.ATIV.OUTR.RECEITAS',
       'CONTR.-EMP.INSTALADAS NA AMAZONIA - EXCEDENTE',
       'METROLOGIA CIENTIFICA E INDUSTRIAL',
       'OPERACOES DE CREDITO INTERNAS - CONTRATUAIS',
       'MULT.J.MORA REC. EXPLORACAO RECURSOS MINERAIS',
       'SERV.COMERCIAIS DE PROD.DADOS E MAT.INFORMATI',
       'REC. OUTORG. DIREITO DE USO RADIODIFREQUENCIA',
       'Receitas Correntes - a classificar',
       'COTA-PARTE ADIC.FRETE P/ RENOV.MARIN.MERCANTE',
       'UTIL.RECURSO HIDRICOS - ITAIPU',
       'CONTR.-EMP.INSTALADAS NA AMAZONIA - PRINCIPAL',
       'CONTR-EMP.INSTALADAS DEMAIS REGIOES-EXCEDENTE',
       'REC.DIVIDA ATIVA EXPLORACAO RECURSOS MINERAIS',
       'CONTRIBUIçãO P/ LIC.USO,AQUIS.OU TRANSF.TECN.',
       'SERVICOS RECREATIVOS E CULTURAIS',
       'MULT.J.MORA DIV.AT. EXPLOR. RECURSOS MINERAIS',
       'EXPLORACAO DE RECURSOS MINERAIS',
       'CONTR-EMP.INSTALADAS DEMAIS REGIOES-PRINCIPAL',
       'RECEITA DA INDÚST. DE PRODUTOS FARMACÊUTICOS',
       'SERVICOS DE INSPECAO E FISCALIZACAO',
       'CONTRIBUIçãO S/REC.CONCESS.PERMISS.ENERG.ELET',
       'RECEITA DA INDUSTRIA DE PROD.FARMOQUIMICOS',
       'CONTR.-EMP.INSTALADAS NA AMAZONIA - RESIDUAL',
       'SERVICOS DE REMUNERACAO REP. PROG.DES.ECONOM.',
       'CONTR-EMP.INSTAL.DEMAIS REGIOES-PARCELAMENTO',
       'UTIL.RECURSO HIDRICOS - DEMAIS EMPRESAS',
       'CONTR-EMP.INSTALADAS NA AMAZONIA-PARCELAMENTO',
       'REC.DIV.AT. COTA-PARTE AD.FR.P/REN MAR. MERC.',
       'MUL.JUR.MORA CONT.REC.CONCES.ENERGIA ELETRICA',
       'RECEITA DA INDUSTRIA ELETRONICA',
       'OUTORG DIREITO EXPLORACAO SATELITE BRASILEIRO',
       'MULT.JUR MOR DA CONTRIB S/REC OP BRT SERV TEL',
       'TX.LIC.,CONTR, FISC.MAT NUC.RADIOATIVO INSTAL',
       'MULTAS E JUROS DE MORA DE ARRENDAMENTOS',
       'TAXA DE FISCALIZACAO PROD.CONTR.MIN.EXERCITO',
       'SERV.FINANC.DE COMPENS.DE VARIACOES SALARIAIS',
       'MUL.APLIC.PELOS TRIBUNAIS DE CONTAS', 'Outras receitas',
       'SERV ASSIST SAUDE SUPLEMENTAR SERVIDOR CIVIL',
       'TARIFA AEROPORTUARIA',
       'TRANSF.CONV.DOS MUNICIPIOS E SUAS ENTIDADEDES',
       'SERVICOS EDUCACIONAIS', 'RECEITA DA INDUSTRIA MECANICA',
       'TARIFA DE UTILIZACAO DE FAROIS', 'SERVICOS DE TRANSPORTE AEREO',
       'TARIF USO COMUN E AUX.NAVEGACAO AEREA EM ROTA',
       'Transferências de Outras Instituições Pública',
       'TAXA OCUPACAO IMOVEIS FUN. PROP. NAC. RESID.',
       'RECEITA DE COMERCIALIZAÇÃO DE FARDAMENTOS',
       'INTEGRALIZACAO COM RECURSOS DE OUTRAS FONTES',
       'OUTRAS RECEITAS DA INDUSTRIA DE TRANSFORMACAO',
       'SERVICO DE REPARACAO, MANUTENCAO E INSTALACAO',
       'MULTAS DO REGULAMENTO  P/  O TRAFEGO MARITIMO',
       'SERVICOS PORTUARIOS',
       'SERVICOS DE COMERCIALIZACAO DE MEDICAMENTOS',
       'SERVICOS DE REPARACAO,MANUTENCAO E INSTALACAO',
       'MULTAS PREVISTAS NO COD.BRAS. DE AERONAUTICA',
       'EMOLUMENTOS E CUSTAS JUDICIAIS',
       'COTA-PARTE DO SERV.NO FUNDO DE SAUDE MILITAR',
       'AMORTIZACOES DE BENS',
       'ADICIONAL S/ TARIFA USO COM E AUX NAVEG AEREA',
       'CONTRIBUICAO PARA DESENV.ENS.PROFIS.MARITIMO',
       'CONTRIB.PARA CUSTEIO DAS PENSOES MILITARES',
       'SERVICOS DE TRANSPORTE HIDROVIARIO', 'SERVICOS HOSPITALARES',
       'Demais receitas patrimoniais',
       'MULTAS E JUROS DE MORA TAXA FISC. PROD. MEX',
       'ALIENACAO DE EMBARCACOES', 'RECEITA DA INDUSTRIA QUIMICA',
       'REC. CONCESS. DE DIREITO REAL USO AREA PUBLIC',
       'OUTRAS OPERACOES DE CREDITO EXTERNAS',
       'SERVICOS DE TRANSPORTE RODOVIARIO',
       'MULTAS PREVISTAS NA LEI DO SERVICO MILITAR',
       'SERVICOS DE PROCESSAMENTO DE DADOS', 'TAXA MILITAR',
       'OUTROS SERV.REGIST.MARCAS,PATENTES,TRANSF.TEC',
       'SERVICOS DE SOCORRO MARITIMO',
       'RECEITA CESSAO DIR.OPERACIONALIZACAO FOPAG',
       'REC.DIVIDA ATIVA DO ITR-MUNIC.NAO CONVENIADOS',
       'REC. DA DIV.AT. MULT.COD.ELEIT. E LEIS CONEX.',
       'RECEITA DIV.ATIV TX FISCALIZ DE INSTALACAO',
       'REC.DIV.ATIVA CONT.PREV.EMPRESA SOBRE REC.BRT',
       'SERVICOS DE REGISTRO PROGRAMA DE COMPUTADOR',
       'RESTIT.PARC.SEGURO DESEMPREGO RECEB INDEVIDAM',
       'REC PARC - MULTA/JUROS DE MORA DIV ATIVA CPMF',
       'REVERSAO DE GARANTIAS EM FAVOR DA UNIAO',
       'RECEITA VEICULACAO DE OBRAS CINEMATOGRAFICAS',
       'RECEITA DE PARCELAMENTOS - CSSL PJ', 'OUTROS PREMIOS PRESCRITOS',
       'TAXA DE FISCALIZACAO DE INSTALACAO',
       'CONTRIBUICAO DO SALARIO-EDUCACAO',
       'MULTAS E JUROS DE MORA DE LAUDEMIOS',
       'RESTIT.BENEF.PAGOS INDEV. P/BANCO DEPOSITARIO',
       'MULTAS E J. MORA DE OUTRAS CONTR. PREVIDENC.',
       'RESSARC. ACOES REGRES. ORIUNDAS DA REL. TRAB.',
       'RECEITA DE PARCELAMENTOS - IMPOSTO EXPORTACAO',
       'OUTRAS TAXAS PELA PRESTACAO DE SERVICOS',
       'SELO ESPECIAL DE CONTROLE',
       'REC. MULTA E JUROS MORA IMP PROD IND - IPI',
       'CONTRIBUICOES DO SEGURADO - ASSALARIADO',
       'REC.MULTA/MORA DIV ATIVA IMP S/IMPORTACAO.',
       'MULTAS PREVISTA NA LEGISLACAO  DE METROLOGIA', 'IPI - BEBIDAS',
       'TX DE FISCALIZ.S/ DISTRIB. GRAT.PREM. SORTEIO',
       'MULT.JUR.MOR.OUTRAS RECEITAS CONCES E PERMISS',
       'REC.DIV.ATIVA CONT.PREV.SEG.ACIDENTE DO TRAB.',
       'OUTRAS RESTITUICOES DE BENEFICIOS PREVIDENC.',
       'ROY.EXCED.PROD.PETRO.COM.A PARTIR DE 3/12/12',
       'RECEITA DE PARCELAMENTOS - DIV ATIVA DA CIDE',
       'PERMISSAO DE USO AREA DA UNIAO CURTA DURACAO',
       'REC.MULTA/MORA DIV ATIVA IMP S/PROD INDUS-IPI',
       'RECEITA DE PARCELAMENTOS - DIV ATIVA DO IRRF',
       'JUROS MORA DO FUNDAF - REC PARCELAM PIS/PASEP',
       'MULT.PREV. LEG. S/ REG. PREV. PRIV. COMPLEM.',
       'SERVICOS DE REGISTRO DE MARCAS',
       'REC DE PARC - MULTA/JUROS DE MORA IR FONTE',
       'CONTRIBUICOES P/O FUNDO DE SAUDE - PMDF',
       'Remuneração das Disponibilidades do Tesouro N',
       'MULTAS/J.MORA CONTR.PREV.S/ RECLAM. TRABALH.',
       'BONUS DE ASSINATURA DE CONTRATO DE CONCESSAO',
       'OUTRAS RECEITAS CONC. PERM. - SERV. COMUNIC',
       'REC DE PARC - MULTA/JUROS DE MORA OUTROS TRIB',
       'MULTA POR ATO ATENTATORIO AO EXERC JURISDICAO',
       'OUTRAS CONTRIBUICOES SOCIAIS',
       'REC.DIV.ATIVA CONT.PREV.ORGAOS DO PODER PUBL.',
       'RECEITA DE PARCELAMENTOS - IRRF',
       'RECEITA DE PARCELAMENTOS - PIS/PASEP',
       'RETIDO NAS FONTES - OUTROS RENDIMENTOS',
       'MULTA E JUROS DE MORA-SIMPLES FED. E NAC.-IPI',
       'CONTRIBUICAO SOBRE PRODUCAO RURAL',
       'CONTRIBUICAO DE PENSIONISTA CIVIL - RPPS',
       'PART.ESP.PROD.PETR.PLATA.COM A PARTIR 3/12/12',
       'MULTAS JUR.MORA.DIV.ATIV.-AUTO DE INFRACAO',
       'AMORTIZACAO DE EMPRESTIMOS-ESTADOS/MUNICIPIOS',
       'REC. DO PRINCIPAL DO IMPOSTO S/ A EXPORTACAO',
       'CONTRIBUICAO PARA O SESI',
       'RECEITA REMESSA DE REND. EXPLORACAO DE OBRAS',
       'CONCESSAO GARANTIA DA ATIVIDADE AGROPECUARIA',
       'REC.RECOL E TRANSF.DEP.JUDICIAL/EXTRAJUDICIAL',
       'CONTRIBUICAO PREVID.SEGURADO OBRIG.-EMPRESAR.',
       'MULT.J.MORA REC.SUSPENSAO DIR.PROPR.INTELEC',
       'REC PARC - MULTA/JUROS DE MORA DIV ATIVA IRPF',
       'TARIFA PELO USO DO SISTEMA DE INFORM.DO BACEN',
       'JUROS MORA FUNDAF - REC PARC DIV ATIV DA CSLL',
       'Receita títulos do tesouro nacional resgatado',
       'MULTAS/J.MORA DA CONTR.PREV. DEP.JUD/REC/CUST',
       'RECEITA DE PARCELAMENTOS - IOF',
       'CONTR.REL.ATIV.IMP.PETR.DER. GAS NAT.ALC.CARB',
       'RECEITA DE PARCELAMENTOS - IRPF',
       'MULTAS/J.MORA CONTR.PREV.DO SEG. FACULTATIVO',
       'METROLOGIA LEGAL E CERTIFICATORIA DELEGADA',
       'IOF - DEMAIS OPERACOES',
       'REC.DO PRINCIPAL DO IMPOSTO S/ A IMPORT.',
       'MULTA E JUROS DE MORA - IRPJ',
       'JUROS MORA DO FUNDAF - DIV. ATIVA DA COFINS',
       'REC.DIV.ATIVA MULTAS DECOR.SENTENCA.JUDICIAIS',
       'TIT.RESP.T.N.-REFINANC.DIVIDA PUBLICA FEDERAL',
       'RECEITA DE PARCELAMENTOS - CIDE COMBUSTIVEL',
       'ARRECADACAO FIES-CERTIFICADOS FINANC.TES.NAC.',
       'TAXA DE SERVICOS ADMINISTRATIVOS - TSA',
       'CONTRIBUICAO SOBRE JOGOS DE BINGO',
       'REC.DIV.ATIVA CONT.PREV.REG. DE PARC.DEBITOS',
       'MULTAS/J.MORA CONTR.PREV.SEG.OBRIGAT.C.INDIV.',
       'REC DE PARC - MULTA E JUROS DE MORA DO IRPF',
       'MULTAS PREVISTAS LEGIS.DE REGISTRO COMERCIO',
       'REC.DIV.ATIV.S/REC.OP.BRT PRESTACAO SERV TELE',
       'CONTR.PATRONAL - PAGTO SENTENCAS JUDICIAIS',
       'REC. MULTA E JUROS DA DIVIDA ATIVA DO IE',
       'Receitas decorrentes de compensações ao Regim',
       'RESTIT.BENEF.PREVIDENCIARIOS - ORIUNDOS ERROS',
       'TITULOS TESOURO NACIONAL - OUTRAS APLICACOES',
       'ROYAL.MIN.PROD.PETRO EM TERRA - CONTR CONCESS',
       'REC DE PARC - MULTA E JUROS DE MORA DO IOF',
       'REC.DIV.ATIVA CONT.PREV-RET. S/ N.F.- SUBROG.',
       'IOF - COMERCIALIZACAO DO OURO',
       'MULTAS E MORA DA CONTR. FINAC.PREV. - COFINS',
       'RECEITA DIV.ATIV OUTRAS REC CONCES/PERMISSAO',
       'MULT.JUR MORA DA OUTORGA DOS SERV DE TELECOM',
       'REC.DIV.ATIVA CONT.PREV.EMPR.OPTANTE-SIMPLES',
       'MULTAS JUR. MORA DIV.ATIVA IR-RETIDO NA FONTE',
       'RESTIT.BENEF.PREVIDENCIARIOS - ORIUNDOS FRAUD',
       'CONTRIB.PREVID. DAS COOP.TRAB. DESC.COOPERADO',
       'MULTAS E JUROS - AUTO DE INFRACAO PREV COMPL',
       'REC. DA DIVIDA ATIVA CONTRIB. P/PIS E PASEP',
       'RECEITA PARCELAMENTOS - DIV ATIV DO PIS/PASEP',
       'RESTIT.BENEF.ASSISTEN. PREST. CONTINUADA REND',
       'AMORT. REFINANC. - DIVIDAS E OP MEDIO E DE LP',
       'RETIDO NAS FONTES - CAPITAL',
       'MULT.JUROS MORA REC.DIR.ANTIDUMPING DIR.COMP',
       'RESSARC PGTO DE HONORARIOS TECNICO-PERICIAIS',
       'IRPJ - SIMPLES FEDERAL E NACIONAL',
       'MULTAS/J.MORA CONTR.PREV.EMPRESA S/SEG.ASSAL.',
       'REC.DIST.AUDIOVISUAIS POR PRESTADOR DE SERV.',
       'CONTRIB. PATRONAL DE SERVIDOR AT.CIVIL - RPPS',
       'REC DE PARC - MULTA/JUROS DE MORA DO IMP EXP',
       'MULTA A TITULAR CARTORIO DAS OBRIG LEG PREV.',
       'RECEITA DE PARCELAMENTOS - IMPOSTO IMPORTACAO',
       'REC.DIVIDA ATIVA IOF - PRINCIPAL',
       'REC PARC - MULTA/JUROS DE MORA DIV ATIVA IPI',
       'RECEITA DE PARCELAMENTOS - DIV ATIVA DA CSLL',
       'MULTAS/JUROS CONTR.PATRONAL REGIME PROP.PREV',
       'JUROS MORA DO FUNDAF - CONTR. P/ PIS/PASEP',
       'MUL.JUR.MORA CONTR.S/REC.SORTEIOS ENT.FILANTR',
       'CONTRIBUICAO PARA O SENAR', 'RECEITA DE PARCELAMENTOS - IPI',
       'RECEITA DE PARCELAMENTOS - DIV ATIVA DO II',
       'MULTAS E JUROS DE MORA DE PARCELAMENTO',
       'MULTAS/JUROS CONTR.SERVIDOR REGIME PROP.PREV',
       'MULTAS E JUROS DE MORA - IRPF',
       'MULTAS/J.MORA CONTR.PREV.DO SEGURADO ESPECIAL',
       'JUROS MORA PELA CESSAO DE USO DE BENS UNIAO',
       'REC.DO PRINCIPAL DA CONTR. S/ MOV. FINANCEIRA',
       'MULTAS/J.MORA CONTR.PREV.P/SEG.ACIDENTE TRAB.',
       'PREMIOS PRESCRITOS DE LOTERIAS FEDERAIS',
       'MULTA ALIEN.BENS IMOVEIS DOM.UNIAO',
       'PARC - MULTAS/JUROS MORA DIV ATI OUTRAS CONTR',
       'COTA-PARTE DA CONTRIBUICAO SINDICAL',
       'CONTRIBUICAO PATRONAL DE SERVIDOR ATIVO CIVIL',
       'REC.DIV.ATIVA MULTAS-REGIME PREV.COMPLEMENTAR',
       'ALIENACAO DE IMOVEIS RURAIS',
       'JUROS ALIEN.BENS IMOVEIS DOM.UNIAO',
       'MULT.J.MORA DIV.AT. MULTAS INFR.A LEG. TRAB.',
       'REC.DA DIV.AT.DAS MULTAS P/INFR.A LEG.TRAB.',
       'JUROS MORA DO FUNDAF - CONTR. FIN. SEG.SOCIAL',
       'MULTAS JUR.MORA DIV.AT.CONTR.PREV.SEG.ACI.TRA',
       'CONTRIBUICAO PREVID. DO SEG.OBRIG.-EMP.DOMEST',
       'PROGRAMAS DAS OPERACOES OFICIAIS DE CREDITO',
       'RECUPERACAO DE SINISTROS',
       'CONTRIBUICAO VOLUNTARIA - MONTEPIO CIVIL',
       'REC.DIV.ATIVA CONT.PREV.SOBRE ESPETAC.ESPORT.',
       'CONTR. SOBRE REMUNERACAO DEVIDA AO TRABALH.',
       'CONTRIBUICAO PARA O PROTERRA',
       'MULTAS J.M.DIV.AT.CONTR.PREV.SEG.ORG.POD.PUBL',
       'MULTAS PREVISTAS NA LEI GERAL DAS TELECOMUN.',
       'IPI - OUTROS PRODUTOS',
       'CONTR.SERV.ATIVO CIVIL-PAGTO SENT. JUDICIAIS',
       'SERVICOS DE PATENTES', 'Sem informação',
       'MULTAS JUR.MORA DIV.AT.CONTR.PREV.EMPR-SIMPLE',
       'SEGURO DE ACIDENTE DO TRABALHO',
       'RES.BCO CENTRAL-OPER.C/RESERV.E DER.CAMBIAIS',
       'CONTR.PREV.REG.PARCELAMENTO DE DEBITOS - RGPS',
       'ALIEN. BENS IMOVEIS DE DOM DA UNIAO-DOM PLENO',
       'CONTRIBUICAO PARA O SENAT',
       'MULTAS JUR. MORA DIV.ATIVA DE OUTROS TRIBUTOS',
       'MULTAS JUR.MORA DIV.AT.CONTR.PREV.SEG.ASSALAR',
       'MULTAS JUR.MORA DIV.AT.CONTR.PREV.EMPR.SEG.AS',
       'REC.DIV.ATIVA CONT.PREV.-DEP.JUD,REC.E C.JUD.',
       'CONTRIBUICAO S/ARREC.FUNDOS INVEST.REGIONAIS',
       'CONTR.REL.A DESPED.DE EMPREG. S/ JUSTA CAUSA',
       'MULTA E JUROS DE MORA SIMPLES FED. E NAC-IRPJ',
       'ROY.EXCED.PROD.PETRO.PLATA.COM.ANTES 3/12/12',
       'MULTAS J.M.DIV.AT.CONTR.PREV.SEG.OBR.-EMP.DOM',
       'REC.ALIEN.IMOV. RESID. DA UNIAO FRHB',
       'RECEITA DA DIVIDA ATIVA DO IPI - PRINCIPAL',
       'REC.DIV.ATIVA CONT.PREV. DO SEGURADO ESPECIAL',
       'TAXA DE FISCALIZACAO DE FUNCIONAMENTO',
       'MULT.JUR MOR DIV ATIV TAXA FISC DE INSTALACAO',
       'TIT. RESP. DO TES.NAC. - OUTRAS APLICACOES',
       'REC.DO PRINCIPAL DA CONTR. P FIN. SEG. SOCIAL',
       'RECEITA PARCELAMENTOS - DIV AT OUTRAS CONTRIB',
       'MULTAS/J.MORA CONTR.PREV. ENTIDADES FILANTR.',
       'SERVICOS DE REMESSA DE DEPOSITOS OFICIAIS',
       'OUTRAS CONTRIBUICOES PREVIDENCIARIAS',
       'CONTRIB.PARA SERV.NACIONAL APREND.COM.-SENAC',
       'MULT.JUR MOR CONTRIB P/ FOMENTO RADIODIFUSAO',
       'REC.DIVIDA ATIVA COFINS - PRINCIPAL',
       'RESTIT.BENEF.PREVIDENCIARIOS - ORIUNDOS PARC.',
       'RESTITUICOES DE CONVENIOS - FINANCEIRAS',
       'ROYAL.MIN.PROD.PETRO.PLATA.COM.ANTES 3/12/12',
       'MULTA E JUROS DE MORA DO ITR - MUNIC NAO CONV',
       'SERVICOS DE REGISTRO DE DESENHO INDUSTRIAL',
       'CONTRIBUICAO PARA FOMENTO DA RADIODIFUSAO PUB',
       'MULTAS J.MORA DIV.ATIVA ITR-MUNIC.NAO CONVEN.',
       'REC.COMPENS.FINANC.ENTRE RG/RPPS-PARCELAMENTO',
       'ALIENACAO DE OUTROS BENS IMOVEIS',
       'TARIFA PELO USO DO SIST.DE TRANSF. RES. BACEN',
       'PARC - MULTAS/JUROS DE MORA OUTRAS CONTRIB',
       'PRESTACAO DE CONTAS ELEITORAIS - FTE NAO IDEN',
       'MULT.JUR MOR DA TAXA DE FISC DE FUNCIONAMENTO',
       'CONTRIBUICAO PREVID. DO SEGURADO FACULTATIVO',
       'PART.ESP.PROD.PETRO.PLATA.COM.ANTES 3/12/12',
       'REC PARC - MULTA/JUROS DE MORA DIV ATIVA II',
       'RECEITA DA DIVIDA ATIVA DE OUTROS TRIBUTOS',
       'REC. MULTA E JUROS MORA IMP OP CRED - IOF',
       'TX SIST.CONTR. ARREC.ADIC.FRETE REN.MAR.MERC.',
       'ALIEN. BENS IMOVEIS DE DOM DA UNIAO-DOM UTIL',
       'JUROS MORA DO FUNDAF - REC PARC DIV ATIV CPMF',
       'REC PARC - MULTA/JUROS MORA DIV ATI PIS/PASEP',
       'MULTAS/J.MORA DA CONTR.PREV.EMPRESA S/ASSALAR',
       'MULTAS/J.MORA CONTR.PREV.EMPRESA OPT. SIMPLES',
       'OUTRAS RECEITAS DE BENS IMOVEIS',
       'IPI - SIMPLES FEDERAL E NACIONAL',
       'MULTAS E JUROS DE MORA DE FOROS',

Los 10 DETALLE que MAS aparecen son:

                                              count  Porcentaje_recuento
DETALLE
RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES    216                 4.74
SERVICOS ADMINISTRATIVOS                        202                 4.44
OUTRAS RECEITAS                                 172                 3.78
OUTRAS RESTITUICOES                             169                 3.71
ALUGUEIS                                        150                 3.29
OUTRAS MULTAS E JUROS DE MORA                   149                 3.27
OUTRAS MULTAS                                   140                 3.07
TAR.INSCR.CONCURSOS E PROCESSOS SELETIVOS       134                 2.94
MULTAS E JUROS PREVISTOS EM CONTRATOS           130                 2.86
REMUNERACAO DE DEPOSITOS BANCARIOS              126                 2.77

Los 10 DETALLE que MENOS aparecen son:

                                               count  Porcentaje_recuento
DETALLE
REC.DIVIDA ATIVA MULTAS PREV.LEGIS.MINERARIA       1                 0.02
MULT.J.MORA OUTORG.DIR.EXPLOR.E PESQU.MINERAL      1                 0.02
CERTIFICACAO E HOMOLOGACAO ATIVIDADE MINERAL       1                 0.02
REC. OUTORGA DIREITOS DE EXPL. E PRESQ. MINER      1                 0.02
REC.DIV.ATIV.-MULTA PREV. LEG. LUB. E COMBUST      1                 0.02
REC.DIV.ATIV.SERVIC.INSP.FISC.ATIV.MINERAL         1                 0.02
REC.DIV.ATIV.OUTORG.DIREIT.EXPL.PESQ.MINERAL       1                 0.02
DEMAIS RECEITAS DO INDESP                          1                 0.02
MULTAS PREVISTAS NA LEGISLACAO MINERARIA           1                 0.02
RESERVA GLOBAL DE REVERSAO                         1                 0.02

 Las distribución de las repeticiones de los DETALLE son:

       count  % repetición
count
1        322         45.48
2        149         21.05
3         53          7.49
5         42          5.93
4         41          5.79
6         23          3.25
10         7          0.99
8          6          0.85
7          6          0.85
15         5          0.71
11         3          0.42
12         3          0.42
13         3          0.42
20         3          0.42
21         3          0.42
16         3          0.42
33         2          0.28
9          2          0.28
51         2          0.28
57         1          0.14
80         1          0.14
92         1          0.14
97         1          0.14
110        1          0.14
126        1          0.14
130        1          0.14
134        1          0.14
140        1          0.14
149        1          0.14
150        1          0.14
169        1          0.14
172        1          0.14
202        1          0.14
216        1          0.14
64         1          0.14
66         1          0.14
22         1          0.14
18         1          0.14
19         1          0.14
23         1          0.14
36         1          0.14
50         1          0.14
49         1          0.14
41         1          0.14
44         1          0.14
25         1          0.14
29         1          0.14
38         1          0.14
14         1          0.14

None
La categoría VALOR_PREVISTO_ACTUALIZADO tiene 2740 elementos diferentes:

Los elementos de la categoría son:

array([0.00000000e+00, 2.30000000e+06, 4.83600000e+06, ...,
       8.00000000e+05, 1.50362972e+08, 4.08367580e+07])

Los 10 VALOR_PREVISTO_ACTUALIZADO que MAS aparecen son:

                            count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
0.00                         1706                37.47
50000.00                        5                 0.11
1000000.00                      4                 0.09
6000000.00                      4                 0.09
180000.00                       3                 0.07
2000000.00                      3                 0.07
720000.00                       3                 0.07
820.00                          3                 0.07
8585102.00                      2                 0.04
2300000.00                      2                 0.04

Los 10 VALOR_PREVISTO_ACTUALIZADO que MENOS aparecen son:

                            count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
635000000.00                    1                 0.02
134484.00                       1                 0.02
203458.00                       1                 0.02
113363.00                       1                 0.02
100749.00                       1                 0.02
28750.00                        1                 0.02
443427.00                       1                 0.02
10341.00                        1                 0.02
289053.00                       1                 0.02
30731.00                        1                 0.02

 Las distribución de las repeticiones de los VALOR_PREVISTO_ACTUALIZADO son:

       count  % repetición
count
1       2642         96.42
2         90          3.28
3          4          0.15
4          2          0.07
5          1          0.04
1706       1          0.04

None
La categoría VALOR_REGISTRADO tiene 72 elementos diferentes:

Los elementos de la categoría son:

array([0.00000000e+00, 8.39413144e+09, 6.84058616e+09, 3.45112906e+09,
       2.14790408e+07, 1.91011610e+05, 2.70669216e+10, 1.46740125e+09,
       4.21858705e+09, 4.31279234e+09, 8.25277300e+04, 3.09364402e+08,
       9.09747571e+08, 2.54055459e+08, 8.93380100e+04, 1.20249240e+10,
       6.56419239e+07, 1.05641552e+10, 4.50362024e+07, 4.68338705e+06,
       1.75292466e+10, 2.58004435e+08, 4.36754400e+04, 1.61609153e+08,
       2.07522741e+08, 3.93472818e+09, 4.39921329e+09, 5.73672516e+08,
       4.12286926e+08, 3.72799767e+10, 1.02534233e+08, 5.44338029e+09,
       2.19646876e+11, 8.79779816e+08, 4.35904934e+07, 6.50190603e+07,
       1.40464392e+10, 6.32684797e+10, 1.35640780e+09, 1.67386078e+10,
       2.78436960e+05, 2.64004832e+09, 8.56449998e+10, 1.29194810e+09,
       1.09233303e+06, 6.59252760e+09, 3.91251920e+10, 1.22111810e+08,
       1.10791772e+10, 5.53262331e+07, 8.55931000e+03, 1.36260624e+08,
       1.57597179e+09, 1.71801557e+11, 4.02614910e+10, 8.65502500e+09,
       3.57160678e+11, 8.48032143e+09, 1.60326518e+06, 8.30343127e+09,
       9.26945729e+07, 3.61350000e+02, 1.60561360e+08, 1.23185953e+10,
       3.69130566e+10, 7.17188786e+09, 6.33712986e+08, 1.59089350e+05,
       1.27089750e+05, 1.68134349e+06, 3.80944183e+07, 2.98257728e+06])

Los 10 VALOR_REGISTRADO que MAS aparecen son:

                  count  Porcentaje_recuento
VALOR_REGISTRADO
0.00               4482                98.44
8394131444.29         1                 0.02
6840586156.02         1                 0.02
3451129055.23         1                 0.02
21479040.84           1                 0.02
191011.61             1                 0.02
27066921571.96        1                 0.02
1467401254.10         1                 0.02
4218587049.57         1                 0.02
4312792337.75         1                 0.02

Los 10 VALOR_REGISTRADO que MENOS aparecen son:

                  count  Porcentaje_recuento
VALOR_REGISTRADO
160561360.09          1                 0.02
12318595338.14        1                 0.02
36913056609.58        1                 0.02
7171887855.93         1                 0.02
633712985.50          1                 0.02
159089.35             1                 0.02
127089.75             1                 0.02
1681343.49            1                 0.02
38094418.33           1                 0.02
2982577.28            1                 0.02

 Las distribución de las repeticiones de los VALOR_REGISTRADO son:

       count  % repetición
count
1         71         98.61
4482       1          1.39

None
La categoría VALOR_REALIZADO tiene 3726 elementos diferentes:

Los elementos de la categoría son:

array([4.66999481e+07, 1.59208300e+04, 2.19589992e+06, ...,
       1.52346000e+04, 1.08900000e+01, 2.90936000e+03])

Los 10 VALOR_REALIZADO que MAS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
0.00               757                16.63
10.00                5                 0.11
300.00               5                 0.11
20.00                4                 0.09
50000.00             3                 0.07
95.00                3                 0.07
50.00                3                 0.07
90.00                3                 0.07
5000.00              3                 0.07
150.00               3                 0.07

Los 10 VALOR_REALIZADO que MENOS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
748.50               1                 0.02
2347119.36           1                 0.02
1153231.82           1                 0.02
14889251.22          1                 0.02
1329278.84           1                 0.02
545631.01            1                 0.02
16120.00             1                 0.02
20833.44             1                 0.02
2952.00              1                 0.02
32.20                1                 0.02

 Las distribución de las repeticiones de los VALOR_REALIZADO son:

       count  % repetición
count
1       3676         98.66
2         32          0.86
3         14          0.38
5          2          0.05
757        1          0.03
4          1          0.03

None
La categoría PORCENTAJE_REALIZADO tiene 546 elementos diferentes:

Los elementos de la categoría son:

array([ 0.0000000e+00,  1.1400000e+02,  1.2200000e+02,  1.4000000e+02,
        2.7000000e+02,  1.0910000e+03,  1.0400000e+02,  8.2000000e+01,
        1.3000000e+02,  6.5700000e+02,  1.3100000e+02,  3.9000000e+01,
        1.4300000e+02,  1.9500000e+02,  3.1100000e+02,  1.1500000e+02,
        1.9000000e+01,  1.2900000e+02,  1.1600000e+02,  1.2300000e+02,
        7.4000000e+01,  1.2800000e+02,  1.4700000e+02,  9.2000000e+01,
        7.2200000e+02,  1.2000000e+01,  3.6000000e+01,  4.5500000e+02,
        1.1200000e+02,  1.0000000e+00,  1.0770000e+03,  1.2670000e+03,
        2.0100000e+02,  2.1600000e+02,  1.3500000e+02,  3.0000000e+00,
        6.7000000e+01,  9.3000000e+01,  5.6000000e+01,  2.8000000e+01,
        1.1000000e+02,  3.8000000e+01,  2.0000000e+01,  8.4000000e+01,
        4.3700000e+02,  7.5000000e+01,  1.0600000e+02,  1.6400000e+02,
        1.7900000e+02,  4.0000000e+00,  1.9210000e+03,  1.7000000e+01,
        2.3900000e+02,  7.9000000e+01,  1.6800000e+02,  5.5580000e+03,
        2.2110000e+03,  1.8860000e+03,  1.0300000e+02,  7.6000000e+01,
        1.2600000e+02,  9.8000000e+01,  2.3000000e+01,  6.0000000e+01,
        4.3000000e+01,  6.3000000e+02,  8.5000000e+01,  1.2400000e+02,
        2.2610000e+03,  5.9000000e+01,  3.0200000e+02,  1.6600000e+02,
        1.1900000e+02,  1.3600000e+02,  8.0000000e+01,  1.4000000e+01,
        6.2000000e+01,  8.1800000e+02,  4.8000000e+01,  1.7600000e+02,
        4.5000000e+01,  7.7000000e+01,  1.0000000e+02,  7.0000000e+00,
        2.1300000e+02,  8.9000000e+01,  2.0900000e+02,  7.3000000e+01,
        2.0600000e+02,  1.0200000e+02,  8.0000000e+00,  7.2000000e+01,
        1.4100000e+02,  1.0800000e+02,  7.1000000e+01,  1.1800000e+02,
        4.2000000e+01,  1.6100000e+02,  1.5200000e+02,  1.7500000e+02,
        1.8400000e+02,  1.3800000e+02,  5.0000000e+00,  3.3000000e+01,
        1.2100000e+02,  4.7800000e+02,  6.3000000e+01,  3.2300000e+02,
        3.4000000e+01,  1.5900000e+02,  5.5000000e+01,  9.1000000e+01,
        1.9010000e+03,  8.6000000e+01,  3.0700000e+02,  1.2365000e+04,
        1.8250000e+03,  2.7380000e+03,  1.4250000e+03,  1.2700000e+02,
        2.4000000e+01,  1.2810000e+03,  1.6700000e+02,  1.1300000e+02,
        4.8000000e+02,  4.4600000e+02,  1.6890000e+03,  2.1800000e+02,
        1.2423000e+04,  5.1000000e+01,  1.7800000e+02,  8.1000000e+01,
        6.6000000e+01,  9.0000000e+01,  1.0900000e+02,  1.3550000e+03,
        1.4600000e+02,  1.8900000e+02,  3.2900000e+02,  5.4000000e+01,
        7.8000000e+01,  6.1000000e+01,  1.6200000e+02,  8.3000000e+01,
        2.6050000e+03,  1.4900000e+02,  9.4000000e+01,  1.0500000e+02,
        1.0700000e+02,  1.7100000e+02,  6.8000000e+01,  3.5700000e+02,
        9.5000000e+01,  9.9000000e+01,  1.0100000e+02,  5.7000000e+01,
        3.5000000e+01,  1.6900000e+02,  7.0000000e+01,  8.8000000e+01,
        2.7800000e+02,  1.1100000e+02,  2.1900000e+02,  4.1100000e+02,
        9.6000000e+01,  2.5200000e+02,  8.2700000e+02,  1.6300000e+02,
        1.5000000e+02,  1.7700000e+02,  2.6100000e+02,  3.2000000e+01,
        9.7000000e+01,  1.3900000e+02,  5.0000000e+01,  1.4800000e+02,
        6.0000000e+00,  4.9000000e+01,  1.3940000e+03,  1.3000000e+01,
        5.6500000e+02,  2.3600000e+02,  1.7400000e+02,  5.3200000e+02,
        1.3200000e+02,  1.3400000e+02,  6.4500000e+02,  2.5880000e+03,
        3.6200000e+02,  3.1300000e+02,  7.9000000e+02,  1.4400000e+02,
        1.7000000e+02,  1.8000000e+02, -1.1000000e+01,  2.7000000e+01,
        6.5400000e+02,  1.2500000e+02,  3.0000000e+01,  4.4000000e+01,
        4.7000000e+01,  2.0000000e+02,  2.2000000e+01,  2.9000000e+01,
        7.2363772e+07,  7.5600000e+02,  3.1200000e+02,  4.6200000e+02,
        4.7200000e+02,  1.1210000e+03,  1.3700000e+02,  1.8800000e+02,
        2.2100000e+02, -1.2500000e+02,  2.5900000e+02,  5.3000000e+01,
        2.3100000e+02,  5.4800000e+02,  2.1100000e+02,  7.1805000e+04,
        2.0000000e+00,  2.3700000e+02,  3.2400000e+02,  1.3300000e+02,
        3.6600000e+02,  2.6600000e+02,  1.5800000e+02,  1.8600000e+02,
        1.1000000e+01,  3.6463000e+04,  5.5400000e+02,  4.6000000e+01,
        1.0000000e+01,  4.0000000e+01,  1.7200000e+02,  5.8100000e+02,
        1.5700000e+02,  6.4000000e+01,  2.5000000e+01,  6.9000000e+01,
        5.0900000e+02,  1.5100000e+02,  2.7300000e+02,  3.6900000e+02,
        3.8500000e+02,  2.5400000e+02,  9.0000000e+00, -1.2600000e+02,
        3.2200000e+02,  1.3062000e+04,  2.4000000e+02,  2.8600000e+02,
        1.8000000e+01, -1.1700000e+02,  2.5100000e+02,  1.4100000e+03,
        5.4500000e+02,  3.3400000e+02,  2.6900000e+02,  5.2000000e+01,
        4.5800000e+02,  5.3400000e+02,  1.0410000e+03,  4.8500000e+02,
        8.7000000e+01,  7.0800000e+02,  3.1000000e+01,  1.4500000e+02,
        1.5500000e+02,  3.1000000e+02, -2.1800000e+02,  1.4393000e+05,
        2.6700000e+02,  8.3900000e+02,  7.7200000e+02,  6.8260000e+03,
        9.5440000e+03,  4.4070000e+03,  1.5300000e+02,  2.1000000e+02,
        4.2000000e+02,  3.7000000e+01,  5.5125000e+04,  2.3800000e+02,
        1.1700000e+02,  1.8300000e+02,  2.2700000e+02,  4.6100000e+02,
        3.7814300e+05,  3.7740000e+03,  6.7200000e+02,  3.4690000e+03,
        5.9800000e+02,  5.1200000e+02,  3.9740000e+03, -1.0700000e+02,
        2.6000000e+02,  5.3100000e+02,  1.9200000e+02,  3.4700000e+02,
        9.5300000e+02,  4.9200000e+02,  3.2600000e+02,  2.9800000e+02,
        2.2000000e+02,  5.6300000e+02,  7.8400000e+02,  5.1421000e+04,
        3.0600000e+02,  1.6000000e+01,  4.0000000e+02,  2.9500000e+02,
        6.5000000e+01,  4.2820000e+03,  2.0500000e+02,  1.2090000e+03,
        1.9100000e+02,  1.1400000e+03,  1.5400000e+02, -1.0000000e+00,
        1.9300000e+02,  3.3200000e+02,  2.2740000e+03,  1.8731590e+06,
        4.4500000e+02,  3.5000000e+02,  5.1100000e+02,  1.7900000e+03,
        2.6000000e+01,  2.2980000e+03,  2.5500000e+02,  3.4800000e+03,
        5.7100000e+02,  2.9000000e+02,  8.2600000e+02,  1.4916000e+04,
        9.1700000e+02,  4.0400000e+02,  3.9590000e+04,  3.4490000e+03,
        5.7300000e+02,  1.8950000e+03,  8.2900000e+02,  7.7190000e+03,
        2.0300000e+02,  2.4100000e+02,  2.5890000e+03,  2.2300000e+02,
        1.9400000e+02,  5.8000000e+01,  2.9300000e+02,  2.2900000e+02,
        3.0900000e+02,  2.8800000e+02,  1.0220000e+03,  4.1300000e+02,
        9.6940000e+03,  2.4600000e+02,  1.7330000e+03,  4.8100000e+02,
        1.8200000e+02,  1.3430000e+03,  1.8830000e+03,  2.1000000e+01,
        5.9200000e+02,  1.4200000e+02,  2.0360000e+03,  4.7300000e+02,
        2.0200000e+02,  1.3080000e+03,  1.3001000e+04,  1.0888000e+04,
        9.3900000e+02,  1.7300000e+02,  4.0100000e+02,  2.3400000e+02,
        4.7000000e+02, -2.6000000e+01,  2.0800000e+02,  4.7100000e+02,
        7.7700000e+02,  3.4200000e+02,  2.5800000e+02,  1.6000000e+02,
        2.2200000e+02,  1.0432500e+05, -1.7300000e+02,  4.3500000e+02,
        8.6000000e+02,  3.0000000e+02,  1.9900000e+02,  2.2600000e+02,
        7.3100000e+02,  4.1900000e+02,  6.5380000e+03,  3.8800000e+02,
        3.2000000e+02,  3.7200000e+02,  2.5000000e+02,  6.8229000e+04,
        1.8500000e+02,  1.8100000e+02,  3.9920000e+03,  2.5950000e+03,
        4.6700000e+02,  1.5000000e+01,  2.0700000e+02,  2.6360000e+03,
        2.0860000e+03,  4.6600000e+02,  2.6500000e+02,  5.0700000e+02,
        7.2600000e+02,  6.7230000e+03,  3.9000000e+02,  1.9320000e+03,
        2.2060000e+03,  1.3100000e+03,  3.1400000e+02,  5.4150000e+03,
        4.1000000e+01,  1.2000000e+02,  3.3060000e+03, -1.1455200e+05,
        3.1700000e+02,  7.9100000e+02,  3.0500000e+02,  9.5200000e+02,
        1.6740000e+03,  1.9000000e+02,  1.0600000e+03,  1.9800000e+02,
        4.9000000e+02,  5.4400000e+02,  1.6310000e+03,  7.5200000e+02,
        1.7352600e+05,  3.5111000e+04,  1.1855000e+04,  1.5600000e+02,
        1.3890000e+03,  2.4400000e+02,  2.1700000e+02,  1.4740000e+03,
        2.8100000e+02,  1.8700000e+02,  3.3900000e+02,  2.2800000e+02,
        2.6300000e+02,  1.5380000e+03,  2.3420000e+03,  3.5400000e+02,
        3.0800000e+02,  3.0100000e+02,  2.1200000e+02,  2.5700000e+02,
        2.8900000e+02,  5.9600000e+02,  5.0600000e+02,  1.9250000e+03,
        3.3000000e+02,  2.9680000e+03,  8.5800000e+02,  6.9290000e+03,
        3.9850000e+03,  3.1671000e+04,  1.2410000e+03,  1.0210000e+03,
        9.8560000e+03,  2.5300000e+02,  2.1576000e+04,  7.6900000e+02,
        7.7000000e+02,  1.2510000e+03,  9.0620000e+03,  5.8300000e+02,
        2.0040000e+03,  3.1800000e+02,  1.3981000e+04,  1.1142900e+05,
        5.9500000e+02,  2.8400000e+02,  4.5200000e+02,  2.2530000e+03,
        2.3500000e+02,  3.3100000e+02,  8.1300000e+02,  1.6200000e+03,
        1.0660000e+03,  4.1890000e+03,  8.8200000e+02,  2.1500000e+02,
        6.2962000e+04,  1.4230000e+03,  2.5010000e+03,  2.8200000e+02,
        8.7100000e+02,  1.2940000e+03,  3.5800000e+02,  6.1600000e+02,
        6.8000000e+02,  7.9930000e+03,  2.3040000e+03,  2.4500000e+02,
        8.4310000e+03,  1.2700000e+03,  2.8500000e+02,  4.8300000e+02,
        5.1920000e+03,  4.0200000e+02,  1.5130000e+03,  5.3900000e+02,
        1.6780000e+03,  6.8700000e+02,  1.3074000e+04,  1.3060000e+04,
        2.8680000e+03,  1.5730000e+03,  1.1410000e+03,  9.1100000e+02,
        2.7200000e+02,  1.9780000e+03,  3.5870000e+03,  3.5200000e+02,
        6.3200000e+02,  1.6240000e+03,  1.8975000e+04,  2.3010000e+03,
        2.7305000e+04,  6.2200000e+02,  1.2060000e+03,  1.1858000e+04,
        2.9600000e+02,  3.4300000e+02,  7.9020000e+03,  6.4800000e+02,
        2.3550000e+03,  5.4163000e+04,  5.6600000e+02,  5.8900000e+02,
        3.1250000e+04,  2.3200000e+02,  2.8970000e+03,  1.4000000e+03,
        6.8900000e+02,  2.7590000e+03])

Los 10 PORCENTAJE_REALIZADO que MAS aparecen son:

                      count  Porcentaje_recuento
PORCENTAJE_REALIZADO
0.00                   2428                53.33
1.00                     26                 0.57
88.00                    24                 0.53
92.00                    23                 0.51
89.00                    21                 0.46
94.00                    20                 0.44
22.00                    19                 0.42
106.00                   19                 0.42
103.00                   19                 0.42
110.00                   19                 0.42

Los 10 PORCENTAJE_REALIZADO que MENOS aparecen son:

                      count  Porcentaje_recuento
PORCENTAJE_REALIZADO
708.00                    1                 0.02
485.00                    1                 0.02
1041.00                   1                 0.02
534.00                    1                 0.02
269.00                    1                 0.02
545.00                    1                 0.02
1400.00                   1                 0.02
2897.00                   1                 0.02
232.00                    1                 0.02
31250.00                  1                 0.02

 Las distribución de las repeticiones de los PORCENTAJE_REALIZADO son:

       count  % repetición
count
1        285         52.20
2         65         11.90
3         28          5.13
4         21          3.85
5         17          3.11
6         16          2.93
10        13          2.38
9         13          2.38
8         13          2.38
11        11          2.01
7         10          1.83
12         9          1.65
13         9          1.65
14         9          1.65
15         7          1.28
19         5          0.92
17         4          0.73
18         3          0.55
16         2          0.37
20         1          0.18
24         1          0.18
26         1          0.18
2428       1          0.18
23         1          0.18
21         1          0.18

None
La categoría FECHA_REGISTRO tiene 1 elementos diferentes:

Los elementos de la categoría son:

<DatetimeArray>
['2014-12-31 00:00:00']
Length: 1, dtype: datetime64[ns]

Los 10 FECHA_REGISTRO que MAS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2014-12-31       4553               100.00

Los 10 FECHA_REGISTRO que MENOS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2014-12-31       4553               100.00

 Las distribución de las repeticiones de los FECHA_REGISTRO son:

       count  % repetición
count
4553       1        100.00

None
La categoría AÑO_EJERCICIO tiene 1 elementos diferentes:

Los elementos de la categoría son:

array([2014])

Los 10 AÑO_EJERCICIO que MAS aparecen son:

               count  Porcentaje_recuento
AÑO_EJERCICIO
2014            4553               100.00

Los 10 AÑO_EJERCICIO que MENOS aparecen son:

               count  Porcentaje_recuento
AÑO_EJERCICIO
2014            4553               100.00

 Las distribución de las repeticiones de los AÑO_EJERCICIO son:

       count  % repetición
count
4553       1        100.00

None

## Año 2015

In [393]:
for columna in df_datos_2015.columns:
    print(se.analisis_individual_columnas(df_datos_2015, columna))

La categoría CÓDIGO_ÓRGANO_SUPERIOR tiene 25 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '37000', '22000', '55000', '24000', '52000', '25000',
       '26000', '39000', '30000', '81000', '58000', '33000', '36000',
       '41000', '57000', '35000', '32000', '49000', '53000', '51000',
       '44000', '38000', '54000', '20000'], dtype=object)

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MAS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
26000                    1803                39.86
25000                     890                19.68
53000                     316                 6.99
52000                     235                 5.20
22000                     154                 3.40
54000                     144                 3.18
30000                     130                 2.87
39000                     124                 2.74
24000                     119                 2.63
36000                     116                 2.56

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MENOS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
38000                      16                 0.35
35000                      15                 0.33
49000                      15                 0.33
63000                      14                 0.31
57000                      12                 0.27
37000                      10                 0.22
58000                       9                 0.20
33000                       8                 0.18
81000                       7                 0.15
51000                       6                 0.13

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO_SUPERIOR son:

       count  % repetición
count
15         2          8.00
1803       1          4.00
316        1          4.00
890        1          4.00
154        1          4.00
144        1          4.00
130        1          4.00
235        1          4.00
124        1          4.00
119        1          4.00
108        1          4.00
116        1          4.00
76         1          4.00
52         1          4.00
48         1          4.00
96         1          4.00
16         1          4.00
14         1          4.00
12         1          4.00
10         1          4.00
9          1          4.00
8          1          4.00
7          1          4.00
6          1          4.00

None
La categoría NOMBRE_ÓRGANO_SUPERIOR tiene 25 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União', 'Controladoria-Geral da União',
       'Ministério da Agricultura, Pecuária e Abastec',
       'Ministério da Cidadania',
       'Ministério da Ciência, Tecnologia, Inovações ',
       'Ministério da Defesa', 'Ministério da Economia',
       'Ministério da Educação', 'Ministério da Infraestrutura',
       'Ministério da Justiça e Segurança Pública',
       'Ministério da Mulher, Família e Direitos Huma',
       'Ministério da Pesca e Aquicultura',
       'Ministério da Previdência Social', 'Ministério da Saúde',
       'Ministério das Comunicações',
       'Ministério das Mulheres, Igualdade Racial, da',
       'Ministério das Relações Exteriores',
       'Ministério de Minas e Energia',
       'Ministério do Desenvolvimento Agrário',
       'Ministério do Desenvolvimento Regional', 'Ministério do Esporte',
       'Ministério do Meio Ambiente', 'Ministério do Trabalho e Emprego',
       'Ministério do Turismo', 'Presidência da República'], dtype=object)

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MAS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério da Educação                          1803                39.86
Ministério da Economia                           890                19.68
Ministério do Desenvolvimento Regional           316                 6.99
Ministério da Defesa                             235                 5.20
Ministério da Agricultura, Pecuária e Abastec    154                 3.40
Ministério do Turismo                            144                 3.18
Ministério da Justiça e Segurança Pública        130                 2.87
Ministério da Infraestrutura                     124                 2.74
Ministério da Ciência, Tecnologia, Inovações     119                 2.63
Ministério da Saúde                              116                 2.56

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MENOS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério do Trabalho e Emprego                  16                 0.35
Ministério das Relações Exteriores                15                 0.33
Ministério do Desenvolvimento Agrário             15                 0.33
Advocacia-Geral da União                          14                 0.31
Ministério das Mulheres, Igualdade Racial, da     12                 0.27
Controladoria-Geral da União                      10                 0.22
Ministério da Pesca e Aquicultura                  9                 0.20
Ministério da Previdência Social                   8                 0.18
Ministério da Mulher, Família e Direitos Huma      7                 0.15
Ministério do Esporte                              6                 0.13

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO_SUPERIOR son:

       count  % repetición
count
15         2          8.00
1803       1          4.00
316        1          4.00
890        1          4.00
154        1          4.00
144        1          4.00
130        1          4.00
235        1          4.00
124        1          4.00
119        1          4.00
108        1          4.00
116        1          4.00
76         1          4.00
52         1          4.00
48         1          4.00
96         1          4.00
16         1          4.00
14         1          4.00
12         1          4.00
10         1          4.00
9          1          4.00
8          1          4.00
7          1          4.00
6          1          4.00

None
La categoría CÓDIGO_ÓRGANO tiene 272 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '66000', '22202', '22905', '44208', '22201', '22000',
       '22211', '49001', '55000', '55001', '24000', '20501', '24901',
       '20402', '20502', '20301', '24209', '49280', '52131', '52121',
       '52000', '52222', '52133', '52221', '52904', '52911', '52132',
       '31280', '52211', '52111', '37201', '25203', '25000', '20603',
       '38901', '30203', '37202', '30204', '37904', '25201', '25207',
       '25914', '25208', '61201', '25205', '20202', '33206', '22500',
       '71902', '25904', '25211', '90000', '25905', '28500', '25901',
       '20924', '25915', '25916', '26351', '26276', '26241', '26432',
       '26279', '26294', '26269', '26000', '26238', '26278', '26273',
       '26275', '26267', '26268', '26418', '26262', '26417', '26290',
       '26274', '26406', '26436', '26230', '26250', '26270', '26266',
       '26242', '26291', '26245', '26236', '26430', '26233', '26298',
       '26285', '26258', '26234', '26243', '26271', '26249', '26244',
       '26408', '26409', '26413', '26410', '26246', '26439', '26231',
       '26257', '26235', '26201', '26256', '26232', '26280', '26263',
       '26277', '26240', '26239', '26247', '26281', '26252', '26292',
       '26253', '26264', '26251', '26420', '26248', '26282', '26407',
       '26421', '26405', '26416', '26402', '26428', '26411', '26255',
       '26424', '26404', '26433', '26412', '26422', '26435', '26350',
       '26423', '26434', '26419', '26403', '26414', '26448', '26254',
       '26237', '26427', '26283', '26447', '26352', '26261', '26449',
       '26437', '26429', '26440', '26441', '26284', '26450', '26443',
       '26438', '26426', '26260', '26442', '26431', '26286', '26425',
       '26415', '26272', '68000', '62901', '29209', '62201', '39252',
       '56901', '39816', '39811', '39817', '39814', '39815', '39813',
       '39812', '39250', '49901', '39000', '62000', '68201', '39253',
       '29201', '30907', '30912', '30911', '30202', '30905', '30000',
       '30108', '30205', '30802', '30211', '20122', '58000', '33000',
       '36212', '36201', '36000', '36211', '36210', '36213', '20415',
       '41903', '41000', '41232', '41231', '64902', '64901', '35000',
       '35201', '32000', '32210', '32205', '32263', '29208', '20303',
       '20302', '32314', '49000', '53202', '53000', '53207', '53903',
       '44205', '53901', '22203', '53203', '53902', '22204', '56902',
       '29205', '29214', '74917', '74918', '74919', '91214', '44207',
       '44902', '44000', '44204', '20701', '44206', '20605', '38000',
       '20408', '34902', '42207', '20404', '20411', '54000', '20403',
       '20604', '20412', '54901', '20203', '24208', '20117', '67000',
       '20101', '69000', '64000', '20116', '61000', '60000'], dtype=object)

Los 10 CÓDIGO_ÓRGANO que MAS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
25000            481                10.63
37904            106                 2.34
26000            101                 2.23
53903             54                 1.19
53901             54                 1.19
53902             54                 1.19
34902             50                 1.11
22202             48                 1.06
52904             43                 0.95
26238             43                 0.95

Los 10 CÓDIGO_ÓRGANO que MENOS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
39813              1                 0.02
39812              1                 0.02
25905              1                 0.02
39816              1                 0.02
39811              1                 0.02
39817              1                 0.02
39814              1                 0.02
35201              1                 0.02
49280              1                 0.02
20605              1                 0.02

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO son:

       count  % repetición
count
15        17          6.25
10        16          5.88
9         15          5.51
8         14          5.15
4         13          4.78
14        13          4.78
16        12          4.41
1         12          4.41
12        11          4.04
21        11          4.04
11        10          3.68
13        10          3.68
6          9          3.31
3          9          3.31
5          9          3.31
18         8          2.94
7          8          2.94
24         7          2.57
20         7          2.57
2          7          2.57
17         6          2.21
23         6          2.21
27         5          1.84
29         5          1.84
19         5          1.84
26         3          1.10
54         3          1.10
43         2          0.74
30         2          0.74
33         2          0.74
31         2          0.74
35         1          0.37
50         1          0.37
48         1          0.37
106        1          0.37
101        1          0.37
481        1          0.37
36         1          0.37
38         1          0.37
41         1          0.37
22         1          0.37
32         1          0.37
28         1          0.37
25         1          0.37

None
La categoría NOMBRE_ÓRGANO tiene 271 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União - Unidades com vínculo direto',
       'Controladoria-Geral da União',
       'Empresa Brasileira de Pesquisa Agropecuária',
       'Fundo de Defesa da Economia Cafeeira',
       'Serviço Florestal Brasileiro',
       'Instituto Nacional de Colonização e Reforma Agrária',
       'Ministério da Agricultura, Pecuária e Abastecimento - Unidades com vínculo direto',
       'Companhia Nacional de Abastecimento',
       'Fundo de Terras e da Reforma Agrária',
       'Ministério da Cidadania - Unidades com vínculo direto',
       'Fundo Nacional de Assistência Social',
       'Ministério da Ciência, Tecnologia, Inovações e Comunicações - Unidades com vínculo direto',
       'Conselho Nacional de Desenvolvimento Científico e Tecnológico',
       'Fundo Nacional de Desenvolvimento Científico e Tecnológico',
       'Agência Espacial Brasileira',
       'Financiadora de Estudos e Projetos',
       'Comissão Nacional de Energia Nuclear',
       'Centro Nacional de Tecnologia Eletrônica Avançada S.A.',
       'Empresa Brasileira de Correios e Telégrafos',
       'Comando da Marinha', 'Comando do Exército',
       'Ministério da Defesa - Unidades com vínculo direto',
       'Fundação Osório',
       'Fundo de Desenvolvimento do Ensino Profissional Marítimo',
       'Indústria de Material Bélico do Brasil', 'Fundo do Exército',
       'Fundo Aeronáutico', 'Comando da Marinha - Fundo Naval',
       'Caixa de Construções de Casas para o Pessoal da Marinha do Brasil',
       'Caixa de Financiamento Imobiliário da Aeronáutica',
       'Comando da Aeronáutica',
       'Fundação Jorge Duprat Figueiredo, de Segurança e Medicina do Trabalho',
       'Comissão de Valores Mobiliários',
       'Ministério da Economia - Unidades com vínculo direto',
       'Superintendência da Zona Franca de Manaus',
       'Fundo de Amparo ao Trabalhador',
       'Instituto Nacional de Metrologia, Qualidade e Tecnologia',
       'Instituto Nacional do Seguro Social',
       'Instituto Nacional da Propriedade Industrial',
       'Fundo do Regime Geral da Previdência Social',
       'Banco Central do Brasil - Orçamento Fiscal e Seguridade Social',
       'Serviço Federal de Processamento de Dados',
       'Fundo de Garantia à Exportação',
       'Superintendência de Seguros Privados',
       'Instituto de Pesquisa Econômica Aplicada',
       'Fundação Instituto Brasileiro de Geografia e Estatística',
       'Fundação Escola Nacional de Administração Pública',
       'Superintendência Nacional de Previdência Complementar',
       'Companhia de Entrepostos e Armazéns Gerais de São Paulo',
       'Fundo Soberano do Brasil',
       'Fundo de Estabilidade do Seguro Rural', 'Casa da Moeda do Brasil',
       'Reserva de Contingência',
       'Fundo de Apoio ao Desenvolvimento Social',
       'Fundo de Garantia para a Promoção da Competitividade',
       'Fundo de Compensação de Variações Salariais',
       'Fundo Nacional de Desenvolvimento',
       'Fundo Constitucional do Distrito Federal',
       'Fundo Contingente da Extinta RFFSA-FCMP',
       'Universidade Federal do Recôncavo da Bahia',
       'Fundação Universidade Federal do Mato Grosso',
       'Universidade Federal do Paraná', 'Instituto Federal do Paraná',
       'Fundação Universidade Federal do Piauí',
       'Hospital de Clínicas de Porto Alegre',
       'Universidade Federal do Estado do Rio de Janeiro',
       'Ministério da Educação - Unidades com vínculo direto',
       'Universidade Federal de Minas Gerais',
       'Fundação Universidade Federal de Pelotas',
       'Universidade Federal do Rio Grande',
       'Fundação Universidade Federal do Acre',
       'Universidade Federal da Integração Latino-Americana',
       'Fundação Universidade Federal de Rondônia',
       'Instituto Federal de Pernambuco',
       'Universidade Federal de São Paulo',
       'Instituto Federal da Paraíba',
       'Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira',
       'Fundação Universidade Federal de Uberlândia',
       'Instituto Federal do Espírito Santo',
       'Instituto Federal Sul-rio-grandense',
       'Fundação Universidade Federal do Vale do São Francisco',
       'Universidade Federal de Roraima',
       'Fundação Universidade do Amazonas',
       'Fundação Universidade Federal do Pampa',
       'Universidade Federal de Pernambuco',
       'Fundação Coordenação de Aperfeiçoamento de Pessoal de Nível Superior',
       'Universidade Federal do Rio de Janeiro',
       'Universidade Federal Fluminense',
       'Instituto Federal do Sertão de Pernambuco',
       'Universidade Federal do Ceará',
       'Fundo Nacional de Desenvolvimento da Educação',
       'Fundação Universidade Federal de São João Del-Rei',
       'Universidade Tecnológica Federal do Paraná',
       'Universidade Federal do Espírito Santo',
       'Universidade Federal do Rio Grande do Norte',
       'Fundação Universidade de Brasília',
       'Universidade Federal Rural do Rio de Janeiro',
       'Universidade Federal do Rio Grande do Sul',
       'Instituto Federal do Maranhão',
       'Instituto Federal de Minas Gerais',
       'Instituto Federal do Triângulo Mineiro',
       'Instituto Federal do Norte de Minas Gerais',
       'Universidade Federal de Santa Catarina',
       'Instituto Federal de São Paulo',
       'Universidade Federal de Alagoas',
       'Centro Federal de Educação Tecnológica de Minas Gerais',
       'Universidade Federal de Goiás', 'Colégio Pedro II',
       'Centro Federal de Educação Tecnológica Celso Suckow da Fonseca',
       'Universidade Federal da Bahia',
       'Fundação Universidade Federal de São Carlos',
       'Universidade Federal de Lavras',
       'Universidade Federal de Ouro Preto',
       'Universidade Federal da Paraíba', 'Universidade Federal do Pará',
       'Universidade Federal de Santa Maria',
       'Fundação Universidade Federal de Sergipe',
       'Universidade Federal de Campina Grande',
       'Fundação Joaquim Nabuco',
       'Universidade Federal Rural da Amazônia',
       'Universidade Federal Rural do Semi-Árido',
       'Fundação Universidade Federal do Tocantins',
       'Instituto Federal Farroupilha',
       'Universidade Federal Rural de Pernambuco',
       'Universidade Federal de Viçosa', 'Instituto Federal Goiano',
       'Instituto Federal de Rondônia', 'Instituto Federal do Ceará',
       'Instituto Federal do Pará', 'Instituto Federal de Alagoas',
       'Instituto Federal de Brasília',
       'Instituto Federal do Sudeste de Minas Gerais',
       'Universidade Federal dos Vales do Jequitinhonha e Mucuri',
       'Instituto Federal do Tocantins', 'Instituto Federal Baiano',
       'Instituto Federal do Rio de Janeiro',
       'Instituto Federal do Sul de Minas Gerais',
       'Instituto Federal Catarinense',
       'Instituto Federal do Rio Grande do Norte',
       'Fundação Universidade Federal da Grande Dourados',
       'Instituto Federal de Sergipe', 'Instituto Federal Fluminense',
       'Instituto Federal do Rio Grande do Sul',
       'Instituto Federal do Amazonas',
       'Instituto Federal do Mato Grosso',
       'Universidade Federal do Sul e Sudeste do Pará',
       'Universidade Federal do Triângulo Mineiro',
       'Universidade Federal de Juiz de Fora',
       'Instituto Federal da Bahia',
       'Fundação Universidade Federal do Mato Grosso do Sul',
       'Universidade Federal do Oeste da Bahia',
       'Fundação Universidade Federal do ABC',
       'Universidade Federal de Itajubá',
       'Universidade Federal do Cariri', 'Instituto Federal de Roraima',
       'Instituto Federal de Educação, Ciência e Tecnologia de Goiás',
       'Universidade Federal da Fronteira Sul',
       'Universidade Federal do Oeste do Pará',
       'Fundação Universidade Federal de Ciências da Saúde de Porto Alegre',
       'Universidade Federal do Sul da Bahia',
       'Empresa Brasileira de Serviços Hospitalares',
       'Instituto Federal de Santa Catarina',
       'Instituto Federal do Amapá', 'Universidade Federal de Alfenas',
       'Universidade da Integração Internacional da Lusofonia Afro-Brasileira',
       'Instituto Federal do Piauí',
       'Fundação Universidade Federal do Amapá',
       'Instituto Federal do Acre',
       'Instituto Federal do Mato Grosso do Sul',
       'Fundação Universidade do Maranhão', 'Secretaria de Portos',
       'Fundo Nacional de Aviação Civil',
       'VALEC Engenharia, Construções e Ferrovias S.A.',
       'Agência Nacional de Aviação Civil',
       'Departamento Nacional de Infraestrutura de Transportes',
       'Fundo Nacional de Segurança e Educação de Trânsito',
       'Companhia Docas do Estado de São Paulo',
       'Companhia Docas do Rio de Janeiro',
       'Companhia Docas do Espírito Santo', 'Companhia Docas do Pará',
       'Companhia Docas do Rio Grande do Norte',
       'Companhia Docas do Ceará', 'Companhia Docas do Estado da Bahia',
       'Agência Nacional de Transportes Terrestres',
       'Departamento do Fundo da Marinha Mercante',
       'Ministério da Infraestrutura - Unidades com vínculo direto',
       'Secretaria de Aviação Civil',
       'Agência Nacional de Transportes Aquaviários',
       'Empresa de Planejamento e Logística S.A.',
       'Departamento Nacional de Estradas de Rodagem',
       'Fundo Penitenciário Nacional', 'Fundo Nacional Antidrogas',
       'Fundo Nacional de Segurança Pública',
       'Fundação Nacional do Índio',
       'Secretaria Nacional do Consumidor Fundo',
       'Ministério da Justiça e Segurança Pública - Unidades com vínculo direto',
       'Departamento de Polícia Federal',
       'Fundação Nacional do Índio - Patrimônio Indígena',
       'Departamento de Polícia Rodoviária Federal',
       'Conselho Administrativo de Defesa Econômica',
       'Secretaria Nacional de Políticas para Mulheres',
       'Ministério da Pesca e Aquicultura - Unidades com vínculo direto',
       'Ministério da Previdência Social - Unidades com vínculo direto',
       'Agência Nacional de Vigilância Sanitária',
       'Fundação Oswaldo Cruz',
       'Ministério da Saúde - Unidades com vínculo direto',
       'Fundação Nacional de Saúde',
       'Hospital Nossa Senhora da Conceição S.A.',
       'Agência Nacional de Saúde Suplementar',
       'Empresa Brasil de Comunicação',
       'Fundo para o Desenvolvimento Tecnológico das Telecomunicações',
       'Ministério das Comunicações - Unidades com vínculo direto',
       'Fundo de Universalização dos Serviços de Telecomunicações',
       'Agêncial Nacional de Telecomunicações', 'Fundo Nacional do Idoso',
       'Fundo Nacional para a Criança e o Adolescente',
       'Ministério das Relações Exteriores - Unidades com vínculo direto',
       'Fundação Alexandre de Gusmão',
       'Ministério de Minas e Energia - Unidades com vínculo direto',
       'Agência Nacional de Energia Elétrica',
       'Agência Nacional do Petróleo, Gás Natural e Biocombustíveis',
       'Departamento Nacional de Produção Mineral',
       'Companhia de Pesquisa de Recursos Minerais',
       'Indústrias Nucleares do Brasil',
       'Nuclebrás Equipamentos Pesados S.A.',
       'Empresa de Pesquisa Energética',
       'Ministério do Desenvolvimento Agrário - Unidades com vínculo direto',
       'Superintendência do Desenvolvimento da Amazônia',
       'Ministério do Desenvolvimento Regional - Unidades com vínculo direto',
       'Superintendência de Desenvolvimento do Centro-Oeste',
       'Fundo Constitucional de Financiamento do Nordeste',
       'Agência Nacional de Águas',
       'Fundo Constitucional de Financiamento do Norte',
       'Companhia de Desenvolvimento dos Vales do São Francisco e do Parnaíba',
       'Superintendência do Desenvolvimento do Nordeste',
       'Fundo Constitucional de Financiamento do Centro-Oeste',
       'Departamento Nacional de Obras Contra as Secas',
       'Fundo Nacional de Habitação de Interesse Social',
       'Empresa de Trens Urbanos de Porto Alegre',
       'Companhia Brasileira de Trens Urbanos',
       'Fundo de Desenvolvimento da Amazônia',
       'Fundo de Desenvolvimento do Nordeste',
       'Fundo de Desenvolvimento do Centro-Oeste',
       'Autoridade Pública Olímpica',
       'Instituto Chico Mendes de Conservação da Biodiversidade',
       'Fundo Nacional sobre Mudança no Clima',
       'Ministério do Meio Ambiente - Unidades com vínculo direto',
       'Fundo Nacional do Meio Ambiente',
       'Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renováveis',
       'Instituto de Pesquisas Jardim Botânico do Rio de Janeiro',
       'Companhia de Desenvolvimento de Barcarena',
       'Ministério do Trabalho e Emprego - Unidades com vínculo direto',
       'Fundação Cultural Palmares', 'Fundo Nacional de Cultura',
       'Instituto Brasileiro de Museus', 'Fundação Biblioteca Nacional',
       'Instituto do Patrimônio Histórico e Artístico Nacional',
       'Ministério do Turismo - Unidades com vínculo direto',
       'Fundação Casa de Rui Barbosa', 'Instituto Brasileiro de Turismo',
       'Fundação Nacional de Artes', 'Fundo Geral de Turismo',
       'Agência Nacional do Cinema',
       'Instituto Nacional de Tecnologia da Informação',
       'Secretaria de Políticas de Promoção da Igualdade Racial',
       'Presidência da República',
       'Secretaria da Micro e Pequena Empresa',
       'Secretaria de Direitos Humanos', 'Fundo de Imprensa Nacional',
       'Secretaria de Assuntos Estratégicos',
       'Gabinete da Vice-Presidência da República'], dtype=object)

Los 10 NOMBRE_ÓRGANO que MAS aparecen son:

                                                    count  Porcentaje_recuento
NOMBRE_ÓRGANO
Ministério da Economia - Unidades com vínculo d...    481                10.63
Fundo do Regime Geral da Previdência Social           106                 2.34
Ministério da Educação - Unidades com vínculo d...    101                 2.23
Fundo Constitucional de Financiamento do Norte         54                 1.19
Fundo Constitucional de Financiamento do Nordeste      54                 1.19
Fundo Constitucional de Financiamento do Centro...     54                 1.19
Fundo Nacional de Cultura                              50                 1.11
Empresa Brasileira de Pesquisa Agropecuária            48                 1.06
Fundo do Exército                                      43                 0.95
Universidade Federal de Minas Gerais                   43                 0.95

Los 10 NOMBRE_ÓRGANO que MENOS aparecen son:

                                              count  Porcentaje_recuento
NOMBRE_ÓRGANO
Companhia Docas do Espírito Santo                 1                 0.02
Companhia Docas do Pará                           1                 0.02
Departamento Nacional de Estradas de Rodagem      1                 0.02
Companhia Docas do Estado da Bahia                1                 0.02
Companhia Docas do Rio Grande do Norte            1                 0.02
Companhia Docas do Ceará                          1                 0.02
Companhia Docas do Estado de São Paulo            1                 0.02
Companhia Docas do Rio de Janeiro                 1                 0.02
Empresa Brasileira de Correios e Telégrafos       1                 0.02
Fundação Alexandre de Gusmão                      1                 0.02

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO son:

       count  % repetición
count
15        17          6.27
9         15          5.54
10        15          5.54
8         14          5.17
4         13          4.80
14        13          4.80
12        12          4.43
16        12          4.43
1         12          4.43
21        11          4.06
11        10          3.69
13        10          3.69
6          9          3.32
3          9          3.32
5          9          3.32
18         8          2.95
7          8          2.95
24         7          2.58
20         7          2.58
23         6          2.21
17         6          2.21
2          6          2.21
27         5          1.85
29         5          1.85
19         5          1.85
26         3          1.11
54         3          1.11
43         2          0.74
30         2          0.74
33         2          0.74
31         2          0.74
35         1          0.37
50         1          0.37
48         1          0.37
106        1          0.37
101        1          0.37
481        1          0.37
36         1          0.37
38         1          0.37
41         1          0.37
22         1          0.37
32         1          0.37
28         1          0.37
25         1          0.37

None
La categoría CÓDIGO_UNIDAD_GESTORA tiene 291 elementos diferentes:

Los elementos de la categoría son:

array(['110060', '110174', '135037', '130137', '440088', '373001',
       '130101', '135100', '490003', '550002', '330013', '420002',
       '180077', '240102', '364001', '240901', '203001', '365001',
       '113209', '245209', '415001', '364102', '364999', '773001',
       '160075', '110407', '164204', '873001', '168002', '167086',
       '121002', '673001', '773008', '123001', '699999', '120002',
       '211999', '120999', '264001', '173030', '170013', '201002',
       '170010', '193028', '380910', '280102', '183023', '510001',
       '183038', '513001', '173057', '806001', '170356', '173039',
       '113601', '114601', '114702', '333001', '225001', '170474',
       '179103', '179083', '390001', '170380', '287001', '170381',
       '201924', '170392', '173065', '158092', '154045', '153079',
       '158009', '154048', '155001', '154034', '150014', '153062',
       '154047', '154042', '154044', '158658', '154055', '158136',
       '153031', '158138', '153978', '154043', '158151', '158126',
       '154421', '154080', '154039', '154359', '153080', '154003',
       '153115', '153056', '158149', '153045', '153173', '154069',
       '153019', '153046', '153103', '154040', '153166', '153114',
       '158128', '158122', '158099', '158121', '153163', '158154',
       '153037', '153015', '153052', '153167', '153010', '153038',
       '154049', '153032', '154046', '153065', '153063', '153164',
       '154050', '158195', '344002', '153034', '153033', '154419',
       '158127', '153165', '154051', '158124', '158148', '158133',
       '158135', '158147', '158143', '158123', '153036', '158131',
       '158129', '158157', '158137', '158125', '158155', '154502',
       '158134', '158139', '158141', '158142', '158144', '158718',
       '153035', '153061', '158145', '154054', '158717', '154503',
       '153030', '158719', '158152', '158153', '158517', '158515',
       '154032', '158720', '155007', '158516', '158150', '153028',
       '158565', '158146', '154215', '158156', '158132', '154041',
       '158274', '110680', '110591', '275075', '113214', '393003',
       '200320', '396006', '396001', '399002', '396004', '396005',
       '396003', '396002', '393001', '277001', '390002', '110590',
       '682010', '395001', '273087', '200333', '200246', '200331',
       '194088', '200401', '200094', '200336', '194040', '200109',
       '303001', '200021', '110008', '330002', '253002', '254420',
       '250088', '255000', '366003', '253003', '255015', '255014',
       '255008', '255003', '255011', '115406', '410007', '410002',
       '413047', '413001', '410003', '207001', '110244', '240005',
       '244001', '320002', '323028', '323030', '323002', '495001',
       '113206', '113208', '325001', '490002', '533013', '560003',
       '533018', '537001', '530002', '443003', '537002', '195006',
       '533014', '537003', '113802', '560015', '275060', '275068',
       '533008', '533009', '537004', '913001', '443032', '447001',
       '440002', '443045', '193034', '443019', '195008', '193107',
       '380010', '344041', '340002', '423001', '344042', '403101',
       '540001', '344001', '185001', '403201', '187002', '203003',
       '243001', '110246', '238012', '110005', '690001', '200016',
       '110245', '110355', '110101'], dtype=object)

Los 10 CÓDIGO_UNIDAD_GESTORA que MAS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
170013                   385                 8.51
513001                   106                 2.34
150014                   101                 2.23
170010                    63                 1.39
537001                    54                 1.19
537003                    54                 1.19
537002                    54                 1.19
340002                    50                 1.11
135037                    48                 1.06
167086                    43                 0.95

Los 10 CÓDIGO_UNIDAD_GESTORA que MENOS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
211999                     1                 0.02
255011                     1                 0.02
255014                     1                 0.02
244001                     1                 0.02
255008                     1                 0.02
415001                     1                 0.02
364999                     1                 0.02
364102                     1                 0.02
193107                     1                 0.02
195008                     1                 0.02

 Las distribución de las repeticiones de los CÓDIGO_UNIDAD_GESTORA son:

       count  % repetición
count
1         24          8.25
8         17          5.84
15        16          5.50
9         15          5.15
10        15          5.15
16        14          4.81
14        13          4.47
4         13          4.47
13        12          4.12
12        12          4.12
11        11          3.78
5         10          3.44
3         10          3.44
21         9          3.09
18         8          2.75
20         8          2.75
6          8          2.75
7          8          2.75
24         7          2.41
2          7          2.41
17         6          2.06
27         5          1.72
29         5          1.72
23         5          1.72
19         5          1.72
26         3          1.03
54         3          1.03
43         2          0.69
30         2          0.69
33         2          0.69
25         2          0.69
31         2          0.69
35         1          0.34
106        1          0.34
101        1          0.34
63         1          0.34
385        1          0.34
36         1          0.34
38         1          0.34
48         1          0.34
50         1          0.34
22         1          0.34
32         1          0.34
28         1          0.34

None
La categoría NOMBRE_UNIDAD_GESTORA tiene 288 elementos diferentes:

Los elementos de la categoría son:

array(['COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU',
       'DIRETORIA DE GESTAO INTERNA/SE/CGU', 'EMBRAPA-SETORIAL',
       'FUNDO DE DEFESA DA ECON.CAFEEIRA/FUNCAFE/SPA',
       'SETORIAL PROG.ORCAMENTARIA E FINANCEIRA-SFB',
       'DPTO. DE ADMINISTRACAO FINANCEIRA-DAF - INCRA',
       'COORD.-GERAL DE ORCAMENTO E FINANCAS-MAPA',
       'COMPANHIA NACIONAL DE ABASTECIMENTO', 'CREDITO FUNDIARIO',
       'SETORIAL DE ORCAMENTO E FINANCAS/MC',
       'FUNDO NACIONAL DE ASSISTENCIA SOCIAL',
       'COORD.GERAL DE PLAN. ORC. FIN. E CONTAB./MINC',
       'SETORIAL ORCAMENTARIA E FINANCEIRA - (ME)',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS',
       'CNPQ - ADMINISTRACAO CENTRAL',
       'FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO',
       'AGENCIA ESPACIAL BRASILEIRA/AEB',
       'FINANCIADORA DE ESTUDOS E PROJETOS', 'CNEN-ORCAMENTO E FINANCAS',
       'CENTRO NACIONAL DE TECNOLOGIA ELETRONICA AVAN',
       'EMPRESA BRASILEIRA DE CORREIOS E TELEGRAFOS',
       'CONSELHO NAC DE DESENV CIENT E TECNOLOGICO',
       'CNPQ - DIFERENCIA CAMBIAL',
       'DIRETORIA DE FINANCAS DA MARINHA-SISTEMA-PAIS',
       'D CONT - SETORIAL FINANCEIRA',
       'DEPARTAMENTO DE PLANEJ, ORC E FINANCAS (MD)', 'FUNDACAO OSORIO',
       'DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM',
       'INDUSTRIA DE MATERIAL BELICO DO BRASIL/GESTOR',
       'FUNDO DO EXERCITO', 'SECRETARIA DE ECON. E FIN.DA AER.- F.AER.',
       'DIRETORIA DE FINANCAS DA MARINHA - CCCPM',
       'CAIXA FINANCIAMENTO IMOBILIARIO AERONAUTICA',
       'FUNDO NAVAL - DIFERENCA CAMBIAL',
       'DIRETORIA DE ECON E FINANCAS DA AERONAUTICA',
       'MARINHA - DIFERENCA CAMBIAL', 'MAER - DIFERENCA CAMBIAL',
       'FUNDACENTRO - FUND.JORGE DUPRAT/CTN/SEDE - SP',
       'COMISSAO DE VALORES MOBILIARIOS',
       'SETORIAL ORCAMENTARIA E FINANCEIRA / ME',
       'COORDENACAO-GERAL DE ORC. E FINANCAS/MP',
       'SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB',
       'SUPERINTENDENCIA DA ZONA FRANCA DE MANAUS/AM',
       'COORD-GERAL DE ORCAMENTO, FIN. E CONT.- CGOFC',
       'COORDENACAO-GERAL DE ORCAM.FINAN.CONTAB/MDIC',
       'INSTITUTO NAC.DE METROLOG. QUALID. E TECNOLOG',
       'COORD.GERAL DE ORCAMENTO, FINANCAS E CONTAB.',
       'INSTITUTO NACIONAL DA PROPRIEDADE INDUSTRIAL',
       'COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS',
       'BANCO CENTRAL DO BRASIL', 'SERPRO-SEDE - DEPARTAMENTO FINANCEIRO',
       'FUNDO DE GARANTIA A EXPORTACAO-BNDES',
       'SUPERINTENDENCIA DE SEGUROS PRIVADOS - RJ',
       'INSTITUTO DE PESQUISA ECONOMICA APLICADA',
       'FUNDACAO IBGE-ADMINISTRACAO CENTRAL/RJ',
       'FUNDACAO ESCOLA NACIONAL DE ADM. PUBLICA',
       'COORD.GERAL DE ORC. FIN. E CONTABILIDADE',
       'CIA.DE ENTREPOSTOS E ARMAZENS GER.DE S.PAULO',
       'FUNDO SOBERANO DO BRASIL',
       'FUNDO DE ESTABILIDADE DO SEGURO RURAL', 'CASA DA MOEDA DO BRASIL',
       'RESERVA DE CONTINGENCIA/MEFP',
       'FUNDO DE APOIO AO DESENVOLVIMENTO SOCIAL',
       'FUNDO DE GAR.P/PROMOC.DA COMPETITIVIDADE±FGPC',
       'FUNDO DE COMPENSACAO E VARIACAO SALARIAL',
       'FUNDO NACIONAL DE DESENVOLVIMENTO',
       'FUNDO CONSTITUCIONAL DO DISTRITO FEDERAL',
       'FUNDO CONTINGENTE DA EXTINTA RFFSA-FC',
       'UNIVERSIDADE FEDERAL DO RECONCAVO DA BAHIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE MATO GROSSO',
       'UNIVERSIDADE FEDERAL DO PARANA', 'INST. FED. DO PARANA/ REITORIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PIAUI',
       'HOSPITAL DE CLINICAS DE PORTO ALEGRE',
       'UNIRIO UNIVERSIDADE FEDERAL DO ESTADO RJ',
       'SUBSECRETARIA DE PLANEJ. E ORCAMENTO SPO(MEC)',
       'UNIVERSIDADE FEDERAL DE MINAS GERAIS',
       'FUNDACAO UNIVERSIDADE FEDERAL DE PELOTAS',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE - FURG',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ACRE',
       'UNIV. FEDERAL DA INTEGRACAO LATINO-AMERICANA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE RONDONIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE PERNAMBUCO',
       'UNIFESP-UNIVERSIDADE FEDERAL DE SAO PAULO', 'IFPB - REITORIA',
       'INST.NACIONAL DE EST.E PESQUISAS EDUCACIONAIS',
       'FUNDACAO UNIVERSIDADE FEDERAL DE UBERLANDIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ESP.SANTO',
       'INST.FED.DE EDUC.,CIE.E TEC.SUL-RIO-GRANDENSE',
       'FUND. UNIVERSIDADE FEDERAL VALE SAO FRANCISCO',
       'UNIVERSIDADE FEDERAL DE RORAIMA',
       'FUNDACAO UNIVERSIDADE DO AMAZONAS',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PAMPA',
       'UNIVERSIDADE FEDERAL DE PERNAMBUCO',
       'FUND.COORD.DE APERF.DE PESSOAL NIVEL SUPERIOR',
       'UNIVERSIDADE FEDERAL DO RIO DE JANEIRO',
       'UNIVERSIDADE FEDERAL FLUMINENSE',
       'INST.FED.DE ED.,CIENC.E TEC.DO S.PERNAMBUCANO',
       'UNIVERSIDADE FEDERAL DO CEARA',
       'FUNDO NACIONAL DE DESENVOLVIMENTO DA EDUCACAO',
       'FUNDACAO UNIVERSIDADE FEDERAL DE S.J.DEL-REI',
       'UNIVERSIDADE TECNOLOGICA FEDERAL DO PARANA',
       'UNIVERSIDADE FEDERAL DO ESPIRITO SANTO',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO NORTE',
       'FUNDACAO UNIVERSIDADE DE BRASILIA - FUB',
       'UNIVERSIDADE FEDERAL RURAL DO RIO DE JANEIRO',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO SUL',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MARANHAO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE MINAS GERAIS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TRIA.MINEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO NORTE DE MG',
       'UNIVERSIDADE FEDERAL DE SANTA CATARINA',
       'INSTITUTO FEDERAL DE SAO PAULO',
       'UNIVERSIDADE FEDERAL DE ALAGOAS',
       'CENTRO FEDERAL DE EDUCACAO TECNOLOGICA DE MG',
       'UNIVERSIDADE FEDERAL DE GOIAS', 'COLEGIO PEDRO II',
       'CENTRO FED.DE EDUC.TECNOL.CELSO S.DA FONSECA',
       'UNIVERSIDADE FEDERAL DA BAHIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SAO CARLOS',
       'UNIVERSIDADE FEDERAL DE LAVRAS',
       'UNIVERSIDADE FEDERAL DE OURO PRETO',
       'UNIVERSIDADE FEDERAL DA PARAIBA', 'UNIVERSIDADE FEDERAL DO PARA',
       'UNIVERSIDADE FEDERAL DE SANTA MARIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SERGIPE',
       'UNIVERSIDADE FEDERAL DE CAMPINA GRANDE',
       'FUNDACAO JOAQUIM NABUCO',
       'UNIVERSIDADE FEDERAL RURAL DA AMAZONIA',
       'UNIVERSIDADE FEDERAL RURAL DO SEMI-ARIDO - RN',
       'FUNDACAO UNIVERSIDADE FEDERAL DO TOCANTINS',
       'INST.FED.DE EDUC.,CIENC.E TEC.FARROUPILHA',
       'UNIVERSIDADE FEDERAL RURAL DE PERNAMBUCO',
       'UNIVERSIDADE FEDERAL DE VICOSA', 'IF GOIANO',
       'INST. FED. DE EDUC.,CIENC. E TEC. DE RONDONIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO CEARA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PARA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE ALAGOAS',
       'IFB - REITORIA - BRASILIA-DF',
       'INSTITUTO FED CIENCIA TECNOL SUDESTE MG',
       'UNIVERSIDADE FED.VALES JEQUITINHONHA E MUCURI',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TOCANTINS',
       'INST FED DE EDUC CIENC E TECNOLOGIA BAIANO', 'REITORIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO SUL DE MG',
       'INSTITUTO FEDERAL CATARINENSE - REITORIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RN',
       'FUNDACAO UNIVERSIDADE FED. DA GRANDE DOURADOS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE SERGIPE',
       'INST.FED.DE EDUC.,CIENC.E TEC.FLUMINENSE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAZONAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MATO GROSSO',
       'UNIVERSIDADE FEDERAL DO SUL E SUDESTE DO PARA',
       'UNIVERSIDADE FEDERAL DO TRIANGULO MINEIRO',
       'UNIVERSIDADE FEDERAL DE JUIZ DE FORA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DA BAHIA',
       'FUNDACAO UNIVERS.FED. DE MATO GROSSO DO SUL',
       'UNIVERSIDADE FEDERAL DO OESTE DA BAHIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ABC',
       'UNIVERSIDADE FEDERAL DE ITAJUBA',
       'UNIVERSIDADE FEDERAL DO CARIRI',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE RORAIMA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE GOIAS',
       'UNIVERSIDADE FEDERAL DA FRONTEIRA SUL',
       'UNIVERSIDADE FEDERAL DO OESTE DO PARA',
       'FUND.UNIV.FED.DE.CIENC.DA SAUDE DE P.ALEGRE',
       'UNIVERSIDADE FEDERAL DO SUL DA BAHIA',
       'EMPRESA BRASILEIRA DE SERVICOS HOSPITALARES',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE STA.CAT/IFSC',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAPA',
       'UNIVERSIDADE FEDERAL DE ALFENAS',
       'UNIV.DA INTEG.INTERN.DA LUSOF.AFRO-BRASILEIRA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PIAUI',
       'FUNDACAO UNIVERSIDADE FEDERAL DO AMAPA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ACRE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MAT.G.DO SUL',
       'FUNDACAO UNIVERSIDADE DO MARANHAO',
       'INST.FED. FLUMINENSE/CAMPUS CAMPOS-CENTRO',
       'SECRETARIA DE PORTOS/PR', 'FUNDO NACIONAL DE AVIACAO CIVIL',
       'VALEC ENGENHARIA CONSTRUCOES E FERROVIAS S/A.',
       'AGENCIA NACIONAL DE AVIACAO CIVIL',
       'DEPART.NAC.INFRA ESTRUTURA TRANSPORTES.',
       'FUNDO NACIONAL DE SEG. E EDUCACAO DE TRANSITO',
       'COMPANHIA DOCAS DO ESTADO DE SAO PAULO',
       'COMPANHIA DOCAS DO RIO DE JANEIRO',
       'COMPANHIA DOCAS DO ESPIRITO SANTO', 'COMPANHIA DOCAS DO PARA',
       'COMPANHIA DOCA DO RIO GRANDE DO NORTE',
       'COMPANHIA DOCAS DO CEARA', 'COMPANHIA DOCAS DO ESTADO DA BAHIA',
       'AGENCIA NACIONAL DE TRANSPORTES TERRESTRES',
       'FUNDO DA MARINHA MERCANTE',
       'SUBSECRETARIA DE PLAN.,ORCAM.E ADMIN.SETORIAL',
       'SECRETARIA DE AVIACAO CIVIL/PR',
       'AGENCIA NACIONAL DE TRANSPORTES AQUAVIARIOS',
       'EMPRESA DE PLANEJAMENTO E LOGISTICA S.A - EPL',
       'DEPARTAMENTO NAC. ESTRADAS E RODAGEM-EXTINCAO',
       'DEPEN - DIRETORIA EXECUTIVA', 'FUNDO NACIONAL ANTIDROGAS',
       'FUNDO NACIONAL DE SEGURANCA PUBLICA - FNSP',
       'FUNDACAO NACIONAL DO INDIO - U.O.',
       'FUNDO DE DEFESA DOS DIREITOS DIFUSOS',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MJ',
       'COORDENACAO DE ORCAMENTO FINANCAS CONTABILIDA',
       'RENDA DO PATRIMONIO INDIGENA',
       'DEPTO.DE POLICIA RODOVIARIA FEDERAL',
       'CONSELHO ADMINISTRATIVO DE DEFESA ECONOMICA',
       'SECRETARIA DE POLITICAS PARA AS MULHERES',
       'SECRETARIA EXECUTIVA-MPA',
       'COORDENACAO-GERAL DE ORC. FIN.E CONTABILIDADE',
       'AGENCIA NACIONAL DE VIGILANCIA SANITARIA',
       'FUNDACAO OSWALDO CRUZ', 'SPO-COORD.-GERAL DE ORC.E FINANCAS/MS',
       'FUNDACAO NACIONAL DE SAUDE - DF',
       'HOSPITAL NOSSA SENHORA DA CONCEICAO S/A',
       'AGENCIA NACIONAL DE SAUDE SUPLEMENTAR',
       'FUNDACAO NACIONAL DE SAUDE - PB',
       'FUNDACAO NACIONAL DE SAUDE - PA',
       'FUNDACAO NACIONAL DE SAUDE - ES',
       'FUNDACAO NACIONAL DE SAUDE - AP',
       'FUNDACAO NACIONAL DE SAUDE - MT',
       'EMPRESA BRASIL DE COMUNICACAO S.A',
       'FUNDO P/O DESENV.TECNOL.DAS TELECOMUNICACOES',
       'FUNDO DE UNIVERS.DOS SERV.TELECOMUNICACOES',
       'AGENCIA NACIONAL DE TELECOMUNICACOES-SEDE',
       'COORDENACAO-GERAL DE RECURSOS LOGISTICOS',
       'FUNDO NACIONAL DO IDOSO',
       'FUNDO NACIONAL PARA A CRIANCA E O ADOLESCENTE',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MRE',
       'FUNDACAO ALEXANDRE DE GUSMAO',
       'COORD.GERAL DE ORCAM.E FIN./M.M.E',
       'AGENCIA NACIONAL DE ENERGIA ELETRICA',
       'AG. NAC.DO PETROLEO GAS NAT.E BIOCOM',
       'DEPARTAMENTO NAC. DE PRODUCAO MINERAL - SEDE',
       'COMPANHIA DE PESQUISA DE RECURSOS MINERAIS',
       'INDUSTRIAS NUCLEARES DO BRASIL S/A - INB',
       'NUCLEBRAS EQUIPAMENTOS PESADOS S/A-NUCLEP',
       'EMPRESA DE PESQUISA ENERGETICA',
       'SUBSEC. DE PLANEJ., ORCAMENTO E ADMINISTRACAO',
       'SUPERINTEND. DO DESENVOLVIMENTO DA AMAZONIA',
       'SECRETARIA EXECUTIVA - MINISTERIO DAS CIDADES',
       'SUPERINT. DO DESENVOLVIMENTO DO CENTRO-OESTE',
       'FUNDO CONSTITUCIONAL DE FINANCIAM.DO NORDESTE',
       'ORCAMENTO E FINANCAS/MDR', 'COORDENACAO DE ORCAMENTO E FINANCAS.',
       'FUNDO CONSTITUCIONAL FINANCIAMENTO NORTE',
       'CIA DE DES.DOS VALES DO S.FRANC.E DO PARNAIBA',
       'SUPERINTENDENCIA DO DESENVOLV. DO NORDESTE',
       'FUNDO CONSTITUCIONL DO CENTRO OESTE',
       'DEPARTAMENTO NAC. DE OBRAS CONTRA AS SECAS/UO',
       'FUNDO NACIONAL DE HABIT. DE INTERESSE SOCIAL',
       'EMPRESA DE TRENS URBANOS DE PORTO ALEGRE S/A',
       'CIA BRASILEIRA DE TRENS URBANOS-ADM.CENTRAL',
       'FUNDO DE DESENVOLVIMENTO DA AMAZONIA',
       'FUNDO DE DESENVOLVIMENTO DO NORDESTE',
       'FUNDO DE DESENVOLVIMENTO DO CENTRO-OESTE',
       'AUTORIDADE PUBLICA OLIMPICA',
       'INST.CHICO MENDES DE CONSER.DA BIODIVERSIDADE',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMC',
       'SUBSECRET.PLANEJAM.ORCAM.E ADMINIST±SPOA(MMA)',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMA',
       'IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ',
       'COORD. DE PLAN. ORCAMENTO E FIN./COPLAN/JBRJ',
       'COMPANHIA DE DESENVOLVIMENTO DE BARCARENA',
       'IBAMA - SUPERINTENDENCIA DO ESPIRITO SANTO/ES',
       'COORD-GERAL DE ORCAM., FIN. E CONTABILIDADE',
       'FUNDACAO CULTURAL PALMARES',
       'COORD.GERAL DE PLAN. ORC. FIN. E CONTAB/FNC',
       'INSTITUTO BRASILEIRO DE MUSEUS - IBRAM',
       'FUNDACAO BIBLIOTECA NACIONAL',
       'INSTITUTO DO PATRIMONIO HIST. E ART. NACIONAL',
       'CGOFC - SETORIAL/MTUR', 'FUNDACAO CASA DE RUI BARBOSA',
       'INSTITUTO BRASILEIRO DE TURISMO - EM EXTINCAO',
       'FUNDACAO NACIONAL DE ARTES', 'FUNDO GERAL DE TURISMO-FUNGETUR',
       'AGENCIA NACIONAL DO CINEMA',
       'INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI',
       'SECRETARIA DE POLIT. DE PROM.DA IGUALD.RACIAL',
       'SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR',
       'SECRETARIA DA MICRO E PEQUENA EMPRESA',
       'SECRETARIA DE DIREITOS HUMANOS/PR',
       'FUNDO DE IMPRENSA NACIONAL/EXEC.ORC.FINANC.',
       'SECRETARIA DE ASSUNTOS ESTRATEGICOS-SAE/PR',
       'GABINETE DA VICE-PRESIDENCIA DA REPUBLICA'], dtype=object)

Los 10 NOMBRE_UNIDAD_GESTORA que MAS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
SETORIAL ORCAMENTARIA E FINANCEIRA / ME          385                 8.51
COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS     106                 2.34
SUBSECRETARIA DE PLANEJ. E ORCAMENTO SPO(MEC)    101                 2.23
SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB       63                 1.39
FUNDO CONSTITUCIONL DO CENTRO OESTE               54                 1.19
FUNDO CONSTITUCIONAL FINANCIAMENTO NORTE          54                 1.19
FUNDO CONSTITUCIONAL DE FINANCIAM.DO NORDESTE     54                 1.19
DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM      51                 1.13
COORD.GERAL DE PLAN. ORC. FIN. E CONTAB/FNC       50                 1.11
EMBRAPA-SETORIAL                                  48                 1.06

Los 10 NOMBRE_UNIDAD_GESTORA que MENOS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
FUNDACAO NACIONAL DE SAUDE - PA                    1                 0.02
FUNDACAO NACIONAL DE SAUDE - MT                    1                 0.02
FUNDACAO NACIONAL DE SAUDE - PB                    1                 0.02
MAER - DIFERENCA CAMBIAL                           1                 0.02
MARINHA - DIFERENCA CAMBIAL                        1                 0.02
EMPRESA BRASILEIRA DE CORREIOS E TELEGRAFOS        1                 0.02
CONSELHO NAC DE DESENV CIENT E TECNOLOGICO         1                 0.02
CNPQ - DIFERENCIA CAMBIAL                          1                 0.02
IBAMA - SUPERINTENDENCIA DO ESPIRITO SANTO/ES      1                 0.02
COMPANHIA DE DESENVOLVIMENTO DE BARCARENA          1                 0.02

 Las distribución de las repeticiones de los NOMBRE_UNIDAD_GESTORA son:

       count  % repetición
count
1         24          8.33
15        16          5.56
8         16          5.56
9         15          5.21
10        14          4.86
16        14          4.86
12        13          4.51
14        13          4.51
4         13          4.51
13        11          3.82
11        11          3.82
5         10          3.47
3         10          3.47
21         9          3.12
18         8          2.78
20         8          2.78
6          8          2.78
7          8          2.78
24         7          2.43
17         6          2.08
2          6          2.08
27         5          1.74
29         5          1.74
23         5          1.74
19         5          1.74
26         3          1.04
54         3          1.04
33         3          1.04
30         2          0.69
43         2          0.69
31         2          0.69
35         1          0.35
51         1          0.35
106        1          0.35
101        1          0.35
63         1          0.35
385        1          0.35
36         1          0.35
50         1          0.35
48         1          0.35
22         1          0.35
32         1          0.35
28         1          0.35
25         1          0.35

None
La categoría CATEGORÍA_ECONÓMICA tiene 4 elementos diferentes:

Los elementos de la categoría son:

array(['Receitas Correntes', 'Receitas Correntes - intra-orçamentárias',
       'Receitas de Capital', 'Receitas de Capital - intra-orçamentárias'],
      dtype=object)

Los 10 CATEGORÍA_ECONÓMICA que MAS aparecen son:

                                           count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                          4088                90.38
Receitas de Capital                          222                 4.91
Receitas Correntes - intra-orçamentárias     212                 4.69
Receitas de Capital - intra-orçamentárias      1                 0.02

Los 10 CATEGORÍA_ECONÓMICA que MENOS aparecen son:

                                           count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                          4088                90.38
Receitas de Capital                          222                 4.91
Receitas Correntes - intra-orçamentárias     212                 4.69
Receitas de Capital - intra-orçamentárias      1                 0.02

 Las distribución de las repeticiones de los CATEGORÍA_ECONÓMICA son:

       count  % repetición
count
4088       1         25.00
222        1         25.00
212        1         25.00
1          1         25.00

None
La categoría ORIGEN_INGRESO tiene 14 elementos diferentes:

Los elementos de la categoría son:

array(['Outras Receitas Correntes', 'Receita de Serviços',
       'Impostos, Taxas e Contribuições de Melhoria',
       'Transferências Correntes', 'Receita Patrimonial',
       'Receita Agropecuária', 'Transferências de Capital',
       'Amortizações de Empréstimos', 'Alienação de Bens',
       'Contribuições', 'Outras Receitas de Capital',
       'Receita Industrial', 'Operações de Crédito',
       'Receitas Correntes - a classificar'], dtype=object)

Los 10 ORIGEN_INGRESO que MAS aparecen son:

                                             count  Porcentaje_recuento
ORIGEN_INGRESO
Outras Receitas Correntes                     2076                45.90
Receita de Serviços                            939                20.76
Receita Patrimonial                            608                13.44
Contribuições                                  196                 4.33
Impostos, Taxas e Contribuições de Melhoria    194                 4.29
Alienação de Bens                              142                 3.14
Transferências Correntes                       124                 2.74
Receita Agropecuária                           102                 2.26
Receita Industrial                              45                 0.99
Operações de Crédito                            36                 0.80

Los 10 ORIGEN_INGRESO que MENOS aparecen son:

                                             count  Porcentaje_recuento
ORIGEN_INGRESO
Impostos, Taxas e Contribuições de Melhoria    194                 4.29
Alienação de Bens                              142                 3.14
Transferências Correntes                       124                 2.74
Receita Agropecuária                           102                 2.26
Receita Industrial                              45                 0.99
Operações de Crédito                            36                 0.80
Amortizações de Empréstimos                     23                 0.51
Receitas Correntes - a classificar              16                 0.35
Transferências de Capital                       15                 0.33
Outras Receitas de Capital                       7                 0.15

 Las distribución de las repeticiones de los ORIGEN_INGRESO son:

       count  % repetición
count
2076       1          7.14
939        1          7.14
608        1          7.14
196        1          7.14
194        1          7.14
142        1          7.14
124        1          7.14
102        1          7.14
45         1          7.14
36         1          7.14
23         1          7.14
16         1          7.14
15         1          7.14
7          1          7.14

None
La categoría TIPO_INGRESO tiene 41 elementos diferentes:

Los elementos de la categoría son:

array(['Demais receitas correntes', 'Receita de Serviços',
       'Indenizações, restituições e ressarcimentos',
       'Multas administrativas, contratuais e judicia',
       'Bens, Direitos e Valores Incorporados ao Patr', 'Taxas',
       'Transferências de Instituições Privadas',
       'Exploração do patrimônio imobiliário do Estad',
       'Outras receitas agropecuárias',
       'Transferências de Pessoas Físicas',
       'Delegação de Serviços Públicos Mediante Conce',
       'Receita da produção vegetal', 'Transferências de Convênios',
       'Amortizações de Empréstimos', 'Alienação de bens imóveis',
       'Alienação de bens móveis', 'Valores Mobiliários',
       'Contribuições econômicas',
       'Receita da produção animal e derivados',
       'Receita dívida ativa alienação de estoques de',
       'Contribuições sociais',
       'Transferências dos Municípios e de suas Entid',
       'Receita dívida ativa proveniente de amortizaç',
       'Receitas da indústria de transformação',
       'Operações de crédito - mercado interno',
       'Indenizações e restituições', 'Exploração de recursos naturais',
       'Receitas Correntes - a classificar',
       'Demais receitas patrimoniais',
       'Receita de concessões e permissões',
       'Transferências de Outras Instituições Pública',
       'Cessão de direitos', 'Operações de crédito - mercado externo',
       'Impostos', 'Resultado do Banco Central do Brasil',
       'Receitas de valores mobiliários',
       'Receitas decorrentes de aportes periódicos pa',
       'Remuneração das Disponibilidades do Tesouro N',
       'Receita títulos do tesouro nacional resgatado',
       'Transferências do Exterior',
       'Transferências dos Estados e do Distrito Fede'], dtype=object)

Los 10 TIPO_INGRESO que MAS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Multas administrativas, contratuais e judicia    962                21.27
Receita de Serviços                              939                20.76
Indenizações, restituições e ressarcimentos      682                15.08
Exploração do patrimônio imobiliário do Estad    288                 6.37
Demais receitas correntes                        229                 5.06
Bens, Direitos e Valores Incorporados ao Patr    180                 3.98
Valores Mobiliários                              168                 3.71
Impostos                                         143                 3.16
Contribuições sociais                            135                 2.98
Alienação de bens móveis                         119                 2.63

Los 10 TIPO_INGRESO que MENOS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Transferências dos Estados e do Distrito Fede      5                 0.11
Transferências de Outras Instituições Pública      4                 0.09
Receitas de valores mobiliários                    4                 0.09
Receita dívida ativa proveniente de amortizaç      2                 0.04
Resultado do Banco Central do Brasil               2                 0.04
Receita dívida ativa alienação de estoques de      1                 0.02
Receitas decorrentes de aportes periódicos pa      1                 0.02
Remuneração das Disponibilidades do Tesouro N      1                 0.02
Receita títulos do tesouro nacional resgatado      1                 0.02
Transferências do Exterior                         1                 0.02

 Las distribución de las repeticiones de los TIPO_INGRESO son:

       count  % repetición
count
1          5         12.20
4          2          4.88
7          2          4.88
22         2          4.88
16         2          4.88
23         2          4.88
2          2          4.88
143        1          2.44
962        1          2.44
939        1          2.44
682        1          2.44
288        1          2.44
229        1          2.44
180        1          2.44
168        1          2.44
51         1          2.44
53         1          2.44
60         1          2.44
61         1          2.44
88         1          2.44
119        1          2.44
135        1          2.44
48         1          2.44
20         1          2.44
21         1          2.44
46         1          2.44
45         1          2.44
6          1          2.44
8          1          2.44
13         1          2.44
5          1          2.44

None
La categoría DETALLE tiene 707 elementos diferentes:

Los elementos de la categoría son:

array(['RECEITA DE HONORARIOS DE ADVOGADOS',
       'TAR.INSCR.CONCURSOS E PROCESSOS SELETIVOS',
       'RECEITA DE ONUS DE SUCUMBENCIA', 'OUTRAS RESTITUICOES',
       'OUTRAS MULTAS E JUROS DE MORA',
       'REC.DIV.ATIVA POR INFRACAO ADMINISTRATIVA',
       'RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES', 'OUTRAS RECEITAS',
       'MULTAS ADMINISTRATIVAS POR DANOS AMBIENTAIS',
       'OUTRAS INDENIZACOES', 'MULTAS E JUROS PREVISTOS EM CONTRATOS',
       'REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC', 'OUTRAS MULTAS',
       'TAXA DE CONTROLE E FISCALIZACAO AMBIENTAL',
       'RESTITUICOES DE CONVENIOS - PRIMARIAS',
       'TRANSFERENCIAS DO EXTERIOR',
       'INDENIZ. POR  DANOS CAUSADOS AO PATR. PUBLICO',
       'SERVICOS ADMINISTRATIVOS', 'OUTROS SERVICOS FINANCEIROS',
       'TAXA DE OCUPACAO DE OUTROS IMOVEIS',
       'OUTRAS RECEITAS AGROPECUARIAS',
       'CERTIFICACAO DE PRODUTOS E SERVICOS',
       'MULTAS E JUROS DE MORA DE ARRENDAMENTOS',
       'SERVICOS DE TRANSFERENCIA DE TECNOLOGIA',
       'MULTAS S/ FISCALIZACAO REDE DE PROD.ORGANICA',
       'SERV.DE COM.LIVROS PERIOD.MAT.ESC.E PUBLICID.',
       'TRANSF.DE CONVENIOS DE INSTITUICOES PRIVADAS',
       'SERVICOS DE ARMAZENAGEM', 'SERVICOS AGROPECUARIOS',
       'REC. CONCESS. FLOREST. NACION. - DEMAIS VALOR',
       'RECEITA DA PRODUCAO VEGETAL',
       'TRANSF.DOS ESTADOS DF E SUAS ENTIDADES',
       'REC.DIV.ATIVA RESSARCIMENTO AO ERARIO',
       'OUTROS RECEITAS DE SERVICOS',
       'AMORTIZACOES DE EMPRESTIMOS DIVERSOS',
       'SERVICOS DE COMERC. E DISTRIB. PROD. AGROPEC.',
       'REC. CUSTOS DE EDITAL DE CONCESSAO FLORESTAL',
       'ALIENACAO DE IMOVEIS URBANOS', 'ALIENACAO DE OUTROS BENS MOVEIS',
       'PARCELAMENTOS - DIV ATIV NAO TRIB OUTRAS REC',
       'ALIENACAO DE MOVEIS E UTENSILIOS',
       'MULTAS E JUROS DE MORA DE TAXAS DE OCUPACAO',
       'RECEITA DIVIDA ATIVA DE OUTRAS CONTRIBUICOES',
       'SERVICOS DE HOSPEDAGEM E ALIMENTACAO',
       'MULTAS E JUROS DE MORA  OUTRAS CONTRIBUICOES',
       'SERVICOS DE TECNOLOGIA', 'REMUNERACAO DE DEPOSITOS BANCARIOS',
       'ALUGUEIS', 'TRANSFERENCIAS CONVENIOS DA UNIAO E ENTIDADES',
       'ALIENACAO IMOV.RURAIS P/ COLON. E REF.AGRARIA',
       'SERV.CONS,ASS.TEC.E AN.PROJ-APLICACOES LIVRES',
       'SERVICOS DE ESTUDOS E PESQUISAS', 'MULTAS POR AUTOS DE INFRACAO',
       'TAXAS DE SERVICOS CADASTRAIS', 'ALIENACAO DE IMOVEIS RURAIS',
       'SERVICOS DE METEOROLOGIA',
       'MUL.JUR.MORA CONT. S/ APOSTA COMPET. HIPICAS',
       'CONTRIBUICAO S/ APOSTAS EM COMPET. HIPICAS',
       'RECEITA DA PRODUCAO ANIMAL E DERIVADOS',
       'MULTAS E JUROS DE MORA DE ALUGUEIS', 'ARRENDAMENTOS',
       'TAXA DE OCUPACAO DE TERRENOS DA UNIAO',
       'REC.SEGUROS DECOR. INDENIZACAO POR SINISTRO',
       'RECEITA DIV ATIVA ALIENACAO ESTOQUES DE CAFE',
       'ALIENACAO DE ANIMAIS REPRODUTORES E MATRIZES',
       'MULTA E JURO DE MORA DIV.ATIV.OUTRAS CONTRIB.',
       'TAXA DE CLASSIFICACAO DE PRODUTOS VEGETAIS',
       'TRANSFER. CONVENIOS DE INSTITUICOES PRIVADAS',
       'JUROS DE TITULOS DE RENDA',
       'ALIENACAO DE ESTOQUES REGULADORES - PGPM',
       'ADICIONAL A CONTRIBUICAO PREVIDENCIARIA',
       'MUL.APLIC.PELOS TRIBUNAIS DE CONTAS',
       'REC.DIV.AT. CONTR. S/ APOSTA EM COMP. HIPICAS',
       'TRANSFERENCIAS DE INSTITUICOES PRIVADAS',
       'CONTRIBUICAO INDUSTRIAL RURAL',
       'REC. DE LEILOES DE MERCADORIAS APREENDIDAS',
       'REC.DIV.ATIVA PROV.DE AMORTIZ.EMPREST.FINANC.',
       'ALIENACAO DE ESTOQUES PROPRIOS DO FUNCAFE', 'DIVIDENDOS',
       'ALIENACAO DE EQUIPAMENTOS',
       'REC. CONCESS. FLORESTAS NACIONAIS - VALOR MIN',
       'RECEITA DA INDUSTRIA DE BEBIDAS E DESTILADOS',
       'REVERSAO DE GARANTIAS EM FAVOR DA UNIAO',
       'AMORTIZACOES DE PROJETOS', 'TITULOS DA DIVIDA AGRARIA - TDA',
       'INFORMACAO TECNOLOGICA',
       'REC.DIV.ATIVA RESSARC.ERARIO-DECISAO TCU',
       'AMORTIZACOES DE CONTRATOS', 'OUTRAS RECEITAS EVENTUAIS',
       'ALIENACAO DE VEICULOS',
       'PARCEL-OUTRAS MULTA/J DE MORA DIV AT OUT REC',
       'JUROS DE EMPRESTIMOS',
       'SERVICO DE INFORMACOES CIENTIFICAS E TECNOLOG',
       'CONTRIBUICAO S/RECEITA LOTERIAS DE NUMEROS',
       'PROVENIENTES DE DEPOSITOS NAO IDENTIFICADOS',
       'PROVENIENTES DE PESSOAS FISICAS',
       'REMUNERACAO DE SALDOS NAO DESEMBOLSADOS',
       'SERVICOS RADIOLOGICOS E LABORATORIAIS',
       'CONTRIBUICAO S/RECEITA LOTERIA ESPORTIVA',
       'MULT. JUROS MORA REC.DECORR. BENS APREENDIDOS',
       'CONTR.S/REC.CONC.PROG.DEST.PRAT.DESP-MOD.FUTE',
       'PROVENIENTES DE PESSOAS JURIDICAS',
       'ALIENACAO ESTOQUES ADQUIR. AGRICUL. FAMILIAR',
       'CONTRIBUICAO S/RECEITA DA LOTERIAL FEDERAL',
       'SERV.COMERCIAIS DE PROD.DADOS E MAT.INFORMATI',
       'RECEITA DA INDUST. DE PRODUTOS FARMACEUTICOS',
       'CONTRIBUICAO P/ LIC.USO,AQUIS.OU TRANSF.TECN.',
       'UTIL.RECURSO HIDRICOS - DEMAIS EMPRESAS',
       'MULT.J.MORA REC. EXPLORACAO RECURSOS MINERAIS',
       'REC. OUTORG. DIREITO DE USO RADIODIFREQUENCIA',
       'EXPLORACAO DE RECURSOS MINERAIS',
       'MUL.JUR.MORA CONT.REC.CONCES.ENERGIA ELETRICA',
       'RECEITA DA INDUSTRIA ELETRONICA',
       'CONTR.-EMP.INSTALADAS NA AMAZONIA - RESIDUAL',
       'OUTRAS MULT.JUR.MORA DIV.ATIV.OUTR.RECEITAS',
       'RECEITA DIV.ATIV DA OUTORGA DIREITO USO RADIO',
       'RECEITAS CORRENTES A CLASSIFICAR',
       'UTIL.RECURSO HIDRICOS - ITAIPU',
       'RECEITA DA INDUSTRIA DE PROD. FARMOQUIMICOS',
       'CONTRIBUICAO S/REC.CONCESS.PERMISS.ENERG.ELET',
       'MULT.JUR.MOR OUTORGA DIR USO RADIOFREQUENCIA',
       'SERVICOS RECREATIVOS E CULTURAIS',
       'RECEITA DA INDUSTRIA DE PROD.FARMOQUIMICOS',
       'TX.LIC.,CONTR, FISC.MAT NUC.RADIOATIVO INSTAL',
       'REC.DIV.AT. COTA-PARTE AD.FR.P/REN MAR. MERC.',
       'CONTR-EMP.INSTALADAS DEMAIS REGIOES-EXCEDENTE',
       'CONTR-EMP.INSTALADAS DEMAIS REGIOES-RESIDUAL',
       'METROLOGIA CIENTIFICA E INDUSTRIAL', 'EMPRESTIMOS COMPULSORIOS',
       'MULT.JUR MOR DA CONTRIB S/REC OP BRT SERV TEL',
       'CONTR-EMP.INSTAL.DEMAIS REGIOES-PARCELAMENTO',
       'SERVICOS DE REMUNERACAO REP. PROG.DES.ECONOM.',
       'CON. S/REC.OPER.BRUTA EMPR.PREST.SERV.TELECOM',
       'OUTORG DIREITO EXPLORACAO SATELITE BRASILEIRO',
       'CONTR-EMP.INSTALADAS DEMAIS REGIOES-PRINCIPAL',
       'CONTR.-EMP.INSTALADAS NA AMAZONIA - PRINCIPAL',
       'OUTRAS RECEITAS PATRIMONIAIS',
       'CONTR.-EMP.INSTALADAS NA AMAZONIA - EXCEDENTE',
       'CONTR-EMP.INSTALADAS NA AMAZONIA-PARCELAMENTO',
       'MULT.J.MORA DIV.AT.COTA ADIC.FR.MARINHA MERC.',
       'REC.DIVIDA ATIVA EXPLORACAO RECURSOS MINERAIS',
       'COTA-PARTE ADIC.FRETE P/ RENOV.MARIN.MERCANTE',
       'MULTAS E JUROS DE MORA DE PARCELAMENTO',
       'EMOLUMENTOS E CUSTAS JUDICIAIS',
       'TRANSF.DE CONV.DOS MUNICIPIOS E S/ENTIDADES',
       'TRANSFERENCIAS DE PESSOAS', 'RECEITA DA INDUSTRIA MECANICA',
       'TAXA DE FISCALIZACAO PROD.CONTR.MIN.EXERCITO',
       'SERVICOS HOSPITALARES',
       'ADICIONAL S/ TARIFA USO COM E AUX NAVEG AEREA',
       'TARIFA DE UTILIZACAO DE FAROIS',
       'SERVICOS DE TRANSPORTE HIDROVIARIO',
       'CONTRIB.PARA CUSTEIO DAS PENSOES MILITARES',
       'ROYALTIES - PROPRIEDADE INTELECTUAL',
       'SERV.FINANC.DE COMPENS.DE VARIACOES SALARIAIS',
       'SERV ASSIST SAUDE SUPLEMENTAR SERVIDOR CIVIL',
       'CONTRIBUICAO PARA DESENV.ENS.PROFIS.MARITIMO',
       'TARIF USO COMUN E AUX.NAVEGACAO AEREA EM ROTA',
       'OUTROS SERV.REGIST.MARCAS,PATENTES,TRANSF.TEC',
       'SERVICOS DE TRANSPORTE AEREO',
       'RECEITA CESSAO DIR.OPERACIONALIZACAO FOPAG',
       'RECEITA DE COMERCIALIZACAO DE FARDAMENTOS',
       'SERVICO DE REPARACAO, MANUTENCAO E INSTALACAO',
       'MULTAS DO REGULAMENTO  P/  O TRAFEGO MARITIMO',
       'AMORTIZACOES DE BENS',
       'SERVICOS DE REPARACAO,MANUTENCAO E INSTALACAO',
       'MULTAS E JUROS DE MORA TAXA FISC. PROD. MEX',
       'OUTROS SERVICOS COMERCIAIS',
       'TRANSF.CONV.DOS MUNICIPIOS E SUAS ENTIDADEDES',
       'MULTAS PREVISTAS NA LEI DO SERVICO MILITAR',
       'OPERACOES DE CREDITOS EXTERNAS - CONTRATUAIS',
       'RECEITA DA INDUSTRIA QUIMICA',
       'SERVICOS DE COMERCIALIZACAO DE MEDICAMENTOS',
       'SERVICOS PORTUARIOS',
       'REC. CONCESS. DE DIREITO REAL USO AREA PUBLIC',
       'OUTRAS OPERACOES DE CREDITO EXTERNAS',
       'MULTAS PREVISTAS NO COD.BRAS. DE AERONAUTICA',
       'ALIENACAO DE EMBARCACOES', 'TAXA MILITAR',
       'OUTRAS RECEITAS DA INDUSTRIA DE TRANSFORMACAO',
       'SERVICOS DE PROCESSAMENTO DE DADOS',
       'TAXA OCUPACAO IMOVEIS FUN. PROP. NAC. RESID.',
       'TRANSF.DE CONVENIOS DA UNIAO DE S/ENTIDADES',
       'SERVICOS DE TRANSPORTE RODOVIARIO', 'TARIFA AEROPORTUARIA',
       'OPERACOES DE CREDITO INTERNAS - CONTRATUAIS',
       'SERVICOS EDUCACIONAIS',
       'TRANSF.DE CONV.DOS ESTADOS,DF E S/ENTIDADES',
       'COTA-PARTE DO SERV.NO FUNDO DE SAUDE MILITAR',
       'MUL.JUR.MORA TX FISC.MERC.TIT. E VAL. MOBILI.',
       'RECEITA DA DIVIDA ATIVA CIDE COMBUSTIVEL',
       'REC.MULTA/MORA CONTR SOCIAL S/LUCRO PJ', 'IPI - PRODUTOS DO FUMO',
       'RECEITA DE PARCELAMENTOS - DIV ATIVA DO IRPF',
       'MUL. PREVISTAS NA LEG.SEG.DESEMP.AB. SALAR.',
       'REMUNERACAO DE DEPOSITOS ESPECIAIS',
       'RESSARC PGTO DE HONORARIOS TECNICO-PERICIAIS',
       'MULTA E JUROS DE MORA DO ITR MUNICIPIOS CONVE',
       'PARCELAMENTOS - RECEITA DIV ATIV OUTROS TRIB',
       'RECEITA DE PARCELAMENTOS - IPI',
       'PESSOAS JURIDICAS - LIQUIDA DE INCENTIVOS',
       'SERVICOS DE PATENTES', 'CONTRIBUICAO SOBRE JOGOS DE BINGO',
       'REC DE PARC - MULTA/JUROS DE MORA DO IMP EXP',
       'REC.DIV.ATIVA CONT.PREV.SOBRE ESPETAC.ESPORT.',
       'OUTRAS RECEITAS DE BENS IMOVEIS',
       'RECEITA DE PARCELAMENTOS - IMPOSTO EXPORTACAO',
       'REC PARC - MULTA/JUROS DE MORA DIV ATIVA IRRF',
       'REC PARC - MULTA/JUROS DE MORA DIV ATIVA IRPF',
       'REC PARC - MULTA/JUROS MORA DIV ATIVA COFINS',
       'CONTRIBUICAO S/RECEITA LOTERIA INSTANTANEA',
       'CONTR.PREV.REG.PARCELAMENTO DE DEBITOS - RGPS',
       'RESTIT.PARC.SEGURO DESEMPREGO RECEB INDEVIDAM',
       'IOF - COMERCIALIZACAO DO OURO',
       'RECEITA DE SEGURO DE CREDITO AA EXPORTACAO',
       'TAXA FISCAL.MERC.SEG.CAP.PREVID.PRIV.ABERTA',
       'REC.DIVIDA ATIVA IOF - PRINCIPAL',
       'MULT.JUR MORA DA OUTORGA DOS SERV DE TELECOM',
       'OUTRAS RECEITAS CONC. PERM. - SERV. COMUNIC',
       'MULTAS/JUROS CONTR.SERVIDOR REGIME PROP.PREV',
       'REC DIREITOS ANTIDUMPING E DIREITOS COMPENSAT',
       'MULTA AUSENCIA DESC.FOLHA BENEF PAGOS INDEV.',
       'REC.DIV.ATIVA CONT.PREV.EMPR.S/SEG.ASSALARIAD',
       'MULTAS/J.MORA CONTR.PREV.S/ PRODUCAO RURAL',
       'CONTRIB. PATRONAL DE SERVIDOR AT.CIVIL - RPPS',
       'REC. DA DIVIDA ATIVA CONTRIB. P/PIS E PASEP',
       'REC.DIV.ATIVA MULTAS DECOR.SENTENCA.JUDICIAIS',
       'COTA-PARTE DA CONTRIBUICAO SINDICAL',
       'MULTAS JUR.MORA.DIV.ATIV.-AUTO DE INFRACAO',
       'CONTR.SERV.INAT.CIVIL - PAGTO SENT. JUDICIAIS',
       'TX UTIL. SISTEMA INT.COM.EXTER.-SISCOMEX',
       'RECLAMATORIA TRABALHISTA',
       'RECEITA DE PARCELAMENTOS - DIV ATIVA DO II',
       'REC DE PARC - MULTA E JUROS DE MORA IMP IMP',
       'ALIENACAO DE ESTOQUES ESTRATEGICOS - PGPM',
       'MULTAS/J.MORA CONTR.PREV. ORGAOS PODER PUBL.',
       'ALIEN. BENS IMOVEIS DE DOM DA UNIAO-DOM UTIL',
       'RETIDO NAS FONTES - OUTROS RENDIMENTOS',
       'REC.DIVIDA ATIVA COFINS - PRINCIPAL',
       'RECEITA DE PARCELAMENTOS - COFINS',
       'REC. MULTA E JUROS MORA IMP PROD IND - IPI',
       'MULTAS JUR.MORA DIV.AT.CONTR.PREV.SEG.OBR.EMP',
       'TIT. RESP. REFINAN. DIVIDA PUBLICA FEDERAL',
       'MULTAS PREVISTA NA LEGISLACAO  DE METROLOGIA',
       'ALIENACAO DE TITULOS MOBILIARIOS',
       'MULTAS/J.MORA CONTR.PREV.DO SEG. FACULTATIVO',
       'MULTAS/J.MORA CONTR.PREV. ENTIDADES FILANTR.',
       'MULTA E JUROS DE MORA - IRPJ',
       'CONTRIBUICAO DO SERVIDOR INATIVO CIVIL - RPPS',
       'CONTRIB.PREVID. DAS COOP.TRAB. DESC.COOPERADO',
       'RESULTADO DO BANCO CENTRAL-DEMAIS OPERACOES',
       'CONTR.DO SERV. ATIVO CIVIL P/ REGIME PROPRIO',
       'CONTRIB. PREV. SEGURADO OBRIG. -CONTR. INDIV.',
       'REC.COMPENS.FINANC.ENTRE RG/RPPS-PARCELAMENTO',
       'MUL.JUR.MORA TX FISC.MERC.SEG.CAPIT.PREV.ABER',
       'PRODUTO DEP.ABANDONADO(DINHEIRO/OBJETO VALOR)',
       'AMORTIZACAO DE EMPRESTIMOS-ESTADOS/MUNICIPIOS',
       'SERVICOS DE REMESSA DE DEPOSITOS OFICIAIS',
       'REC. MULTA E JUROS MORA IMPOSTO S/ IMPORTACAO',
       'CONTRIBUICAO PARA FOMENTO DA RADIODIFUSAO PUB',
       'CONCESSAO GARANTIA DA ATIVIDADE AGROPECUARIA',
       'RECEITA PARCELAMENTOS - DIVIDA ATIVA DO IRPJ',
       'CONTR.PREV.NA FORMA DE DEP.JUD.,REC. E CUSTAS',
       'METROLOGIA LEGAL',
       'MULTAS/J.MORA CONTR.PREV.SEG.OBRIGAT.C.INDIV.',
       'TIT. RESP. DO TES.NAC. - OUTRAS APLICACOES',
       'REC.DA DIV.AT.DAS MULTAS P/INFR.A LEG.TRAB.',
       'REC.COMPENS.FINANC.ENTRE O RG/RPPS-PRINCIPAL',
       'JUROS ALIEN.BENS IMOVEIS DOM.UNIAO',
       'ROY.EXCED.PROD.PETRO.COM.A PARTIR DE 3/12/12',
       'REC PARC - MULTA/JUROS DE MORA DIV ATIVA IPI',
       'REC.DIV.ATIVA CONT.PREV-RET. S/ N.F.- SUBROG.',
       'RECUPERACAO DE SINISTROS',
       'REC.MULTA/MORA DIV ATIVA IMP S/PROD INDUS-IPI',
       'INDENIZ. POSSE OU OCUPACAO ILIC. BENS UNIAO',
       'MULTAS JUR.MORA DIV.AT.CONTR.PREV.EMPR-SIMPLE',
       'MULTA E JUROS DE MORA DO ITR - MUNIC NAO CONV',
       'MULTAS J.MORA DIV.ATIVA-CONTR. S/ MOV. FINANC',
       'MULTAS/J.MORA CONTR.PREV.EMPRESA OPT. SIMPLES',
       'RECEITA DE OUTORGA DOS SERV. TRANSP. FERROV.',
       'REC DE PARC - MULTA E JUROS DE MORA DA COFINS',
       'CONTRIBUICAO PREVID. DO SEG.OBRIG.-EMP.DOMEST',
       'CONT. SERV. NAC. DE APRENDIZ. COOPER.-SESCOOP',
       'RECEITA DE PARCELAMENTOS - IOF',
       'REC.DO PRINCIPAL DAS CONTR. P/ O PIS/PASEP',
       'ROY.EXCED.PROD.PETRO.PLATA.COM.ANTES 3/12/12',
       'MULTAS E J. MORA DE OUTRAS CONTR. PREVIDENC.',
       'SERVICOS DE REGISTRO DE DESENHO INDUSTRIAL',
       'AMORT. REFINANC. - DIVIDAS E OP MEDIO E DE LP',
       'JUROS MORA DO FUNDAF - REC PARCELAMENTO CSLL',
       'MULTAS JUR.MORA DA CONTR. SOBRE OUT.CONC.PROG',
       'RECEITA DIVIDA ATIVA IMP. RENDA PESS.JURIDICA',
       'CONTRIBUICAO PREVID. DO SEGURADO FACULTATIVO',
       'REC DE PARC - MULTA/JUROS DE MORA PIS/PASEP', 'LAUDEMIOS',
       'REC. DO PRINCIPAL DO IMPOSTO S/ A EXPORTACAO',
       'REC DE PARC - MULTA E JUROS DE MORA DO IOF',
       'MULTAS/JUROS CONTR.PATRONAL REGIME PROP.PREV',
       'MULTA E JUROS DE MORA SIMPLES FED. E NAC-IRPJ',
       'MULTAS J.M.DIV.AT.CONTR.PREV-RET.N.F.-SUBROGA',
       'CONTRIB.PREV.-RET. S/NOTA FISCAL- SUBROGACAO',
       'MULTAS JUR.MORA DIV.AT.CONTR.PREV.SEG.ACI.TRA',
       'TX SIST.CONTR. ARREC.ADIC.FRETE REN.MAR.MERC.',
       'REC.DIV.ATIVA CONT.PREV. SEG.OBRIG.EMPR. DOM.',
       'RESSARC. ACOES REGRES. ORIUNDAS DA REL. TRAB.',
       'SERVICOS DE REGISTRO INDICACOES GEOGRAFICAS',
       'REC.DIVIDA ATIVA CPMF - PRINCIPAL',
       'MULTA E JUROS DE MORA - IRRF', 'RETIDO NAS FONTES - TRABALHO',
       'MULTAS/J.MORA CONTR.PREV.EMPRESA S/SEG.ASSAL.',
       'JUROS MORA DIVIDA ATIVA IRPJ SIMPLES NACIONAL',
       'JUROS MORA DO FUNDAF - REC PARC DIV ATIV CPMF',
       'REC.DIV.ATIV.S/REC.OP.BRT PRESTACAO SERV TELE',
       'ROYAL.MIN.PROD.PETRO EM TERRA - CONTR CONCESS',
       'REC.DIV.ATIVA CONT.PREV.- PARCELAMENTOS',
       'CONTRIBUICAO PARA O PIN',
       'MULTAS/J.MORA CONTR.PREV.P/SEG.ACIDENTE TRAB.',
       'REC. DA DIV.AT. MULT.COD.ELEIT. E LEIS CONEX.',
       'MUL.JU.MORA COTA-PARTE FRETE REN.MAR.MERCANTE',
       'REC PARC - MULTA/JUROS DE MORA DIV ATIVA CSLL',
       'ROYAL.EXCED.PROD.PETRO.TERRA QQ SITUACAO',
       'PARC - MULTAS/JUROS DE MORA OUTRAS CONTRIB',
       'PART.ESP.PROD.PETRO.PLATA.COM.ANTES 3/12/12',
       'SERVICO DE COMPENSACAO DE VARIACOES SALARIAIS',
       'MULTAS JUR. MORA DIV.ATIVA IR-RETIDO NA FONTE',
       'RECEITA DE PARCELAMENTOS - CSSL PJ',
       'ALIEN. BENS IMOVEIS DE DOM DA UNIAO-DOM DIRET',
       'MULTAS J.MORA DIV.ATIVA-CONTR. P/ PIS/PASEP',
       'JUROS MORA DO FUNDAF - REC PARCELAM PIS/PASEP',
       'JUROS MORA DO FUNDAF - CONTR. P/ PIS/PASEP',
       'CONTRIBUICAO DE PENSIONISTA CIVIL - RPPS',
       'MULTAS DIVIDA ATIVA IRPJ - SIMPLES NACIONAL',
       'MULTAS/J.MORA CONTR.PREV. RET.S/NF-SUBROGACAO',
       'MUL.JUR.MORA CONTR.S/REC.SORTEIOS ENT.FILANTR',
       'RECEITAS DECOR.APORTE PER.P/COMP.RGPS',
       'REC. DE ALIENACAO DE BENS APREENDIDOS',
       'MULTAS DIVIDA ATIVA DO IPI - SIMPLES NACIONAL',
       'REC.MULTA/MORA CONTR PIS/PASEP', 'IPI - VINCULADOS A IMPORTACAO',
       'RESTIT.BENEF.NAO DESEMB. - RECURSOS PROPRIOS',
       'SERVICOS DE REGISTRO DE MARCAS',
       'REC. DIV. ATIVA DA CSLL DAS PESSOAS JURIDICAS',
       'CONTRIB. DEBITOS / PARCELAMENTOS - MUNICIPIOS',
       'JUROS MORA DO FUNDAF - CONTR.SOC. S/LUCRO PJ',
       'MULTAS PREVISTAS LEGIS.DE REGISTRO COMERCIO',
       'BONUS DE ASSINATURA DE CONTRATO DE CONCESSAO',
       'MULT.JUR.MOR.S/MULTAS - LEI GERAL DAS TELECOM',
       'RECEITA DIV.ATIV OUTRAS REC CONCES/PERMISSAO',
       'ALIEN. BENS IMOVEIS DE DOM DA UNIAO-DOM PLENO',
       'REC. MULTA E JUROS MORA IMP EXPORTACAO',
       'RECEITA DIV.ATIV DA OUTORGA SERV RADIODIFUSAO',
       'MULT.J.MORA DIV.AT. MULTAS INFR.A LEG. TRAB.',
       'MULTAS/J.MORA CONTR.PREV. SEG.OBRIG.-EMPR.DOM',
       'MULT.J.MORA RESSARC.DE ACOES REGRES.REL.TRAB.',
       'CONTRIBUICAO PARA O PROTERRA',
       'SERVICOS DE REGISTRO PROGRAMA DE COMPUTADOR',
       'MULTAS E JUROS DE MORA DE DIVIDENDOS',
       'REC DE PARC - MULTA E JUROS DE MORA DO IPI',
       'PERMISSAO DE USO AREA DA UNIAO CURTA DURACAO',
       'MULTAS E JUROS DE MORA DE OUTROS TRIBUTOS',
       'REC.DIV.ATIVA CONT.PREV.EMPR.OPTANTE-SIMPLES',
       'MULT.JUR MORA DA OUTORGA DOS SERV DE RADIODIF',
       'METROLOGIA LEGAL E CERTIFICATORIA DELEGADA',
       'MULTAS/J.MORA CONTR.PREV.S/ ESPET. DESPORTIVO',
       'REC PARC - MULTA/JUROS DE MORA DIV ATIVA IRPJ',
       'MULTAS J.M.DIV.AT.DE OUTRA CONTRIB.PREVIDENC.',
       'CONTRIB. DE EMPRESAS S/SEGURADOS ASSALARIADOS',
       'MULTAS E JUROS DE MORA - IRPF',
       'REC.DIV.ATIVA OUTRAS CONTRIBUICOES PREVIDENC.',
       'REC DE PARC - MULTA/JUROS DE MORA IR FONTE',
       'CONTRIBUICAO PARA O SESC',
       'CONTR.PREV. EMPRESA S/ SEGURADO S/REC.BRUTA',
       'RESTITUICOES DE CONVENIOS',
       'REC.DIV.ATIVA CONT.PREV.-DEP.JUD,REC.E C.JUD.',
       'PART.ESPECIAL.PROD.PETRO.TERRA QQ SITUACAO',
       'REC  SUSPENSAO DE DIREITOS PROP. INTELECTUAL',
       'TIT.RESP.T.N.-REFINANC.DIVIDA PUBLICA FEDERAL',
       'MULTAS POR INFRACAO A LEGIS. TRABALHISTA',
       'RESTIT.BENEF. - ORIUNDOS ENC PREVID DA UNIAO',
       'MULTAS J.MORA DIV.ATIVA ITR-MUNIC.NAO CONVEN.',
       'TARIFA PELO USO DO SIST.DE TRANSF. RES. BACEN',
       'RECEITA DE PARCELAMENTOS - DIV ATIVA DO IOF',
       'CONTR.PATRONAL - PAGTO SENTENCAS JUDICIAIS',
       'CONTR. SOBRE REMUNERACAO DEVIDA AO TRABALH.',
       'REMUNERACAO DAS DISPONIBILIDADES TES.NACIONAL',
       'MULTAS JUR.MORA DIV.ATIVA CIDE - COMBUSTIVEL',
       'CONTR.SERV.ATIVO CIVIL-PAGTO SENT. JUDICIAIS',
       'IRPJ - SIMPLES FEDERAL E NACIONAL',
       'TITULOS TESOURO NACIONAL - OUTRAS APLICACOES',
       'RECEITA PARCELAMENTOS - DIV ATIV DO PIS/PASEP',
       'REC DE PARCELAMENTOS - DIV ATIVA DO IMP EXP', 'IPI - VEICULOS',
       'MULTAS E JUROS DE MORA DE FOROS',
       'RECEITA DE PARCELAMENTOS - DIV ATIVA DO IPI',
       'RECEITA DE PARCELAMENTOS - DIV ATIVA DA CPMF',
       'MULTAS JUR.MORA DIV.AT.CONTR.PREV.SEG.ESPECIA',
       'TX.FISCALIZ. E CONTR. DA PREV.COMPL - TAFIC',
       'REC.OUT.SERV.RADIODIFUSAO SONORA SONS IMAGENS',
       'CONTRIBUICAO PATRONAL DE SERVIDOR ATIVO CIVIL',
       'ALIENACAO DE ESTOQ. DEST. VENDA BALCAO - PGPM',
       'RETIDO NAS FONTES - REMESSA AO EXTERIOR',
       'CONTRIB. PREV. DAS ENTIDADES FILANTROPICAS',

Los 10 DETALLE que MAS aparecen son:

                                              count  Porcentaje_recuento
DETALLE
RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES    225                 4.97
SERVICOS ADMINISTRATIVOS                        203                 4.49
OUTRAS RESTITUICOES                             174                 3.85
OUTRAS RECEITAS                                 162                 3.58
OUTRAS MULTAS E JUROS DE MORA                   143                 3.16
MULTAS E JUROS PREVISTOS EM CONTRATOS           140                 3.10
OUTRAS MULTAS                                   136                 3.01
ALUGUEIS                                        133                 2.94
REMUNERACAO DE DEPOSITOS BANCARIOS              128                 2.83
TAR.INSCR.CONCURSOS E PROCESSOS SELETIVOS       128                 2.83

Los 10 DETALLE que MENOS aparecen son:

                                               count  Porcentaje_recuento
DETALLE
CONTR.PATRONAL - PAGTO SENTENCAS JUDICIAIS         1                 0.02
TARIFA PELO USO DO SIST.DE TRANSF. RES. BACEN      1                 0.02
RESTIT.BENEF. - ORIUNDOS ENC PREVID DA UNIAO       1                 0.02
MULTAS POR INFRACAO A LEGIS. TRABALHISTA           1                 0.02
REC  SUSPENSAO DE DIREITOS PROP. INTELECTUAL       1                 0.02
REC.DIV.ATIVA CONT.PREV.-DEP.JUD,REC.E C.JUD.      1                 0.02
CONTR.PREV. EMPRESA S/ SEGURADO S/REC.BRUTA        1                 0.02
CONTRIBUICAO PARA O SESC                           1                 0.02
REC.DIV.ATIVA OUTRAS CONTRIBUICOES PREVIDENC.      1                 0.02
REC.DEC.NAO APLIC.INC.FISC-LEI DO AUDIOVISUAL      1                 0.02

 Las distribución de las repeticiones de los DETALLE son:

       count  % repetición
count
1        332         46.96
2        135         19.09
3         52          7.36
5         48          6.79
4         40          5.66
6         22          3.11
10         7          0.99
11         6          0.85
7          5          0.71
9          5          0.71
8          4          0.57
21         3          0.42
23         3          0.42
17         3          0.42
13         3          0.42
18         2          0.28
22         2          0.28
31         2          0.28
12         2          0.28
16         2          0.28
20         2          0.28
36         2          0.28
128        2          0.28
203        1          0.14
162        1          0.14
174        1          0.14
225        1          0.14
143        1          0.14
136        1          0.14
140        1          0.14
64         1          0.14
88         1          0.14
89         1          0.14
102        1          0.14
112        1          0.14
133        1          0.14
34         1          0.14
42         1          0.14
62         1          0.14
25         1          0.14
52         1          0.14
58         1          0.14
48         1          0.14
46         1          0.14
45         1          0.14
14         1          0.14

None
La categoría VALOR_PREVISTO_ACTUALIZADO tiene 2648 elementos diferentes:

Los elementos de la categoría son:

array([0.0000000e+00, 6.3600000e+05, 3.1156000e+05, ..., 4.1985672e+07,
       8.3166569e+07, 2.0935347e+08])

Los 10 VALOR_PREVISTO_ACTUALIZADO que MAS aparecen son:

                            count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
0.00                         1785                39.46
100000.00                       3                 0.07
10000000.00                     3                 0.07
5000000.00                      3                 0.07
900000.00                       2                 0.04
180000.00                       2                 0.04
3159.00                         2                 0.04
230000.00                       2                 0.04
764810457.00                    2                 0.04
4179.00                         2                 0.04

Los 10 VALOR_PREVISTO_ACTUALIZADO que MENOS aparecen son:

                            count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
2191075.00                      1                 0.02
161564.00                       1                 0.02
893220.00                       1                 0.02
99494.00                        1                 0.02
14000000.00                     1                 0.02
48564.00                        1                 0.02
546001.00                       1                 0.02
1974975.00                      1                 0.02
155954.00                       1                 0.02
10000.00                        1                 0.02

 Las distribución de las repeticiones de los VALOR_PREVISTO_ACTUALIZADO son:

       count  % repetición
count
1       2559         96.64
2         85          3.21
3          3          0.11
1785       1          0.04

None
La categoría VALOR_REGISTRADO tiene 83 elementos diferentes:

Los elementos de la categoría son:

array([0.00000000e+00, 3.66572200e+04, 1.62505906e+09, 3.50698951e+09,
       3.52474793e+10, 3.28716859e+07, 3.05804012e+08, 3.76082566e+10,
       2.49022960e+05, 1.67200000e+01, 3.86123456e+08, 1.39327878e+10,
       1.12775400e+04, 4.46217100e+04, 1.73373276e+07, 2.24278206e+08,
       1.06266900e+07, 5.99946658e+08, 3.02090411e+07, 3.82644427e+09,
       9.80094658e+09, 3.17876000e+03, 4.37298084e+09, 1.64576858e+10,
       2.84995700e+08, 3.00519189e+09, 1.31112728e+09, 1.53391973e+10,
       8.55931000e+03, 4.61253089e+08, 1.59697009e+08, 1.39332266e+08,
       2.25500000e+01, 3.62878426e+09, 1.75318081e+09, 1.00427594e+09,
       1.67811651e+08, 1.08002954e+06, 1.87585199e+07, 1.66191611e+08,
       7.72230099e+08, 1.01788557e+08, 5.45549386e+09, 2.99515389e+10,
       1.35932921e+07, 8.81751081e+07, 3.64583552e+08, 1.14538088e+10,
       7.63232870e+08, 3.26934895e+09, 3.80607369e+07, 2.95359527e+07,
       1.24856385e+09, 1.91669533e+10, 5.42119371e+10, 5.98823147e+09,
       1.21379809e+09, 1.15264462e+08, 7.53123728e+07, 8.11838291e+08,
       1.53619347e+10, 2.38011600e+08, 9.60980082e+08, 6.24420447e+07,
       3.85561000e+03, 2.39351900e+04, 4.15068000e+04, 8.55990000e+02,
       1.98100900e+05, 1.59089350e+05, 1.68848700e+04, 4.92076000e+03,
       3.77186280e+05, 5.73156000e+03, 5.90288300e+04, 2.92707000e+03,
       6.03507160e+07, 1.27089750e+05, 5.91582000e+03, 1.68134349e+06,
       4.47716617e+07, 9.00000000e+02, 5.07434478e+06])

Los 10 VALOR_REGISTRADO que MAS aparecen son:

                  count  Porcentaje_recuento
VALOR_REGISTRADO
0.00               4441                98.19
36657.22              1                 0.02
1625059063.53         1                 0.02
3506989507.12         1                 0.02
35247479300.03        1                 0.02
32871685.87           1                 0.02
305804011.89          1                 0.02
37608256631.77        1                 0.02
249022.96             1                 0.02
16.72                 1                 0.02

Los 10 VALOR_REGISTRADO que MENOS aparecen son:

                  count  Porcentaje_recuento
VALOR_REGISTRADO
5731.56               1                 0.02
59028.83              1                 0.02
2927.07               1                 0.02
60350716.05           1                 0.02
127089.75             1                 0.02
5915.82               1                 0.02
1681343.49            1                 0.02
44771661.72           1                 0.02
900.00                1                 0.02
5074344.78            1                 0.02

 Las distribución de las repeticiones de los VALOR_REGISTRADO son:

       count  % repetición
count
1         82         98.80
4441       1          1.20

None
La categoría VALOR_REALIZADO tiene 3744 elementos diferentes:

Los elementos de la categoría son:

array([6.38298534e+07, 4.48696441e+06, 1.30604012e+07, ...,
       1.28210132e+08, 2.31663000e+03, 1.03960000e+02])

Los 10 VALOR_REALIZADO que MAS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
0.00               711                15.72
10.00                6                 0.13
1.00                 5                 0.11
40.00                4                 0.09
100.00               4                 0.09
2.00                 4                 0.09
500.00               4                 0.09
20.00                4                 0.09
450.00               3                 0.07
90.00                3                 0.07

Los 10 VALOR_REALIZADO que MENOS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
4085135.44           1                 0.02
2120665.41           1                 0.02
-63111.28            1                 0.02
11546322.86          1                 0.02
38959.87             1                 0.02
-609.37              1                 0.02
955512.29            1                 0.02
-51922.63            1                 0.02
5875.67              1                 0.02
362752970.43         1                 0.02

 Las distribución de las repeticiones de los VALOR_REALIZADO son:

       count  % repetición
count
1       3698         98.77
2         31          0.83
3          7          0.19
4          5          0.13
5          1          0.03
711        1          0.03
6          1          0.03

None
La categoría PORCENTAJE_REALIZADO tiene 457 elementos diferentes:

Los elementos de la categoría son:

array([ 0.00000e+00,  7.05000e+02,  8.40000e+01,  5.00000e+01,
        6.70000e+01,  3.00000e+00,  1.11000e+02,  4.40000e+01,
        1.22000e+02,  9.40000e+01,  1.45000e+02, -1.00000e+00,
        1.60000e+01,  1.87900e+03,  2.25000e+02,  7.10000e+01,
        3.70000e+01,  8.08000e+03,  1.70000e+01,  1.49000e+02,
        1.81000e+02,  1.07000e+02,  1.26000e+02,  3.30000e+02,
        2.80000e+01,  3.03000e+02,  6.60000e+01,  8.00000e+00,
        6.40000e+01,  1.75000e+02,  2.23000e+02,  4.50000e+01,
        1.63000e+02,  2.20000e+01,  1.55600e+03,  9.00000e+00,
        9.60000e+01,  5.30000e+01,  4.20000e+01,  4.00000e+00,
        5.10000e+01,  1.98000e+02,  2.29000e+02,  3.17000e+02,
        1.10000e+02,  4.00000e+01,  8.90000e+01,  1.93000e+02,
        1.16000e+02,  7.30000e+01,  2.10000e+01,  1.88200e+03,
        1.04000e+02,  5.99000e+02,  7.00000e+01,  1.30000e+01,
        4.42000e+02,  7.36000e+02,  8.70000e+01,  1.10000e+01,
        9.20000e+01,  8.10000e+01,  1.00000e+00,  1.20000e+02,
        2.40000e+01,  6.90000e+01,  2.16000e+02,  8.60000e+01,
        1.33000e+02,  8.50000e+01,  1.21000e+02,  9.80000e+01,
        3.01000e+02,  5.50000e+01,  7.20000e+01,  7.60000e+01,
        1.70000e+02,  6.52000e+02,  1.41000e+02,  1.24000e+02,
        6.80000e+01,  2.60000e+01,  6.50000e+01,  6.10000e+01,
        2.22000e+02,  1.56000e+02,  1.43000e+02,  1.28000e+02,
        1.50000e+02,  1.35000e+02,  1.12000e+02,  9.90000e+01,
        4.30000e+01,  2.00000e+00,  4.32000e+02,  1.32000e+02,
        4.57000e+02,  2.30000e+02,  2.00000e+02,  5.70000e+01,
        4.90000e+01,  8.36000e+02,  9.10000e+01,  2.13000e+02,
        1.55000e+02,  1.14000e+02,  1.83000e+02,  4.60000e+01,
        3.50000e+01,  5.00000e+00,  1.00903e+05,  6.00000e+00,
        1.00000e+02,  1.57000e+02,  1.13000e+02,  1.06000e+02,
        8.80000e+01,  9.30000e+01,  3.90000e+01,  6.00000e+01,
        6.27000e+02,  1.80000e+01,  1.90000e+01,  1.31000e+02,
        7.69000e+02,  1.15000e+02,  2.40000e+02,  6.30000e+01,
        1.01000e+02,  1.89000e+02,  3.10000e+01,  6.65000e+02,
        9.00000e+01,  1.02000e+02,  1.18000e+02,  1.50000e+01,
        1.46000e+02,  1.77000e+02,  1.62000e+02,  1.44000e+02,
        1.67000e+02,  1.39000e+02,  1.79000e+02,  5.90000e+01,
        7.40000e+01,  1.84000e+02,  8.30000e+01,  1.80000e+02,
        2.98000e+02,  2.65000e+02,  1.20000e+01,  3.34000e+02,
        1.09000e+02,  1.71000e+02,  1.29000e+02,  1.61000e+02,
        2.70000e+01,  7.50000e+01,  1.66000e+02,  1.17000e+02,
        7.00000e+00,  2.00000e+01,  9.50000e+01,  1.03000e+02,
        4.10000e+01,  8.20000e+01,  3.20000e+01,  1.99000e+02,
        4.69000e+02,  5.75000e+02,  1.08000e+02,  2.10000e+02,
        4.80000e+01,  4.68000e+02,  4.34000e+02,  5.80000e+01,
        5.69000e+02,  2.39000e+02,  2.59000e+02,  1.72000e+02,
        9.70000e+01,  1.05000e+02,  2.26000e+02,  2.52000e+02,
        5.63000e+02,  1.94000e+02,  2.50000e+01,  1.36000e+02,
        2.03000e+02,  3.30000e+01,  4.00000e+02,  2.55000e+02,
        6.73000e+02,  5.40000e+01,  1.47000e+02,  1.53000e+02,
        4.97000e+02,  5.61000e+02,  5.76000e+02,  3.84000e+02,
        2.21000e+02,  2.77000e+02,  1.88000e+02,  7.80000e+01,
        2.30000e+01,  4.39000e+02,  6.91000e+02,  2.09900e+03,
        3.60000e+01,  2.46000e+02,  2.22760e+04,  2.73700e+03,
        3.11000e+02,  1.74000e+02,  1.40000e+02,  2.99000e+02,
        2.33000e+02,  5.06000e+02,  4.89000e+02,  7.70000e+01,
        1.01500e+03,  1.15660e+04,  1.40000e+01,  2.07000e+02,
        1.52400e+03,  1.48000e+02,  7.44670e+04,  1.19000e+02,
        5.60000e+01,  2.88000e+02,  2.14000e+02,  4.63000e+02,
        3.49000e+02,  1.43500e+03,  5.57000e+02,  2.89000e+02,
       -4.02000e+02,  1.37740e+04,  1.25000e+02,  3.80000e+01,
       -6.00000e+00,  4.84300e+03,  4.12610e+04,  4.17000e+02,
        2.53000e+02,  7.22700e+03,  1.37000e+02,  3.99000e+02,
        6.13000e+02,  6.20000e+01, -1.00000e+01,  9.86000e+02,
        4.22000e+02,  1.82000e+02,  2.28000e+02,  3.12000e+02,
        3.35000e+02,  5.74000e+02,  8.00000e+01,  5.04000e+02,
       -3.90000e+01,  1.27000e+02,  8.79000e+02,  1.38000e+02,
        8.44000e+02, -5.00000e+00,  4.55000e+02,  4.86000e+02,
        1.86000e+02,  2.67000e+02,  7.14000e+02,  6.12000e+02,
        3.00000e+01,  4.70000e+01,  5.32000e+02,  7.45465e+05,
        2.91000e+02,  1.95000e+02,  4.79000e+02,  7.52000e+02,
        3.16000e+02,  1.00000e+01,  4.58900e+03,  1.12400e+03,
        1.35500e+03,  2.32000e+02,  1.16780e+04,  1.51000e+02,
        3.39000e+02,  4.49000e+02,  4.47000e+02,  2.80000e+02,
       -2.50000e+01,  2.73000e+02,  5.52000e+02,  9.93000e+02,
        1.69000e+02,  5.89100e+03,  1.76000e+02,  2.44000e+02,
        3.40000e+01,  1.78000e+02,  2.02000e+02,  5.20000e+01,
        1.54000e+02,  8.54000e+02,  2.34000e+02,  1.92000e+02,
        3.54000e+02,  2.15000e+02,  1.34000e+02,  4.84000e+03,
        7.28000e+02,  1.96000e+02,  1.60000e+02,  1.90000e+02,
        1.40000e+03,  1.59000e+02,  1.68000e+02,  5.02800e+03,
        1.30000e+02,  9.12000e+02,  4.03000e+02,  7.90000e+01,
        2.76000e+02,  2.04000e+02,  2.63000e+02,  3.81000e+02,
        3.47000e+02,  1.13400e+03,  3.66900e+03,  5.56000e+02,
        2.02800e+03,  2.87000e+02,  5.83600e+03,  1.19800e+03,
        5.49000e+02,  9.09000e+02,  5.03000e+02,  1.66400e+03,
        3.88000e+02,  7.45000e+03,  3.44500e+03,  2.04600e+03,
        4.09800e+03,  2.84000e+02,  3.02000e+02,  2.31000e+02,
        1.81000e+03,  9.93200e+03,  1.42000e+02,  4.01600e+03,
        1.52000e+02,  2.18000e+02,  4.26000e+02,  4.21000e+02,
        5.36000e+02,  3.18000e+02,  6.66700e+03,  6.10000e+02,
        1.10000e+03,  1.00650e+04,  6.19000e+02,  2.12400e+03,
        1.82000e+03,  2.12000e+02,  2.58000e+02,  4.99000e+02,
        2.05000e+02,  2.24000e+02,  4.59000e+02,  1.58000e+02,
        5.35000e+02,  1.23000e+02,  2.50000e+02,  7.26900e+03,
        1.22300e+03,  3.73000e+02,  1.04700e+03,  4.13000e+02,
        2.38000e+02, -2.00000e+01,  1.27100e+03,  1.73000e+03,
        2.82000e+02,  1.18200e+03,  2.90000e+01,  1.73800e+03,
        3.27200e+03, -2.46000e+02,  6.54000e+02,  2.71000e+02,
        2.60000e+02,  7.86000e+02,  1.97000e+02,  2.01000e+02,
        5.45000e+02,  3.08000e+02,  7.58000e+02,  4.02000e+02,
        2.48000e+02,  1.42300e+03,  7.74000e+02, -3.60000e+01,
        1.05200e+03,  6.04000e+02,  1.01160e+04,  2.37000e+02,
        4.82000e+02,  3.65000e+02,  6.42000e+02,  5.01000e+02,
        4.82700e+04,  4.44000e+02,  2.66000e+02,  3.04000e+02,
        2.09000e+02,  3.53000e+02,  1.03970e+04,  7.62700e+03,
        1.85000e+02,  2.09000e+03,  1.24700e+03,  4.71000e+02,
        2.45000e+02,  4.15000e+02,  2.47000e+02,  2.08000e+02,
        1.65000e+02,  1.79300e+03,  4.04000e+02, -5.90000e+01,
        7.65000e+02,  4.91000e+02,  4.20000e+02,  3.89500e+03,
        2.75000e+02,  6.53000e+02,  3.31000e+02,  3.46000e+02,
        2.62000e+02,  5.33000e+02,  3.10000e+02,  2.51000e+03,
        7.19000e+02,  6.89000e+02,  2.84700e+03,  2.27000e+02,
        6.29600e+03,  4.09000e+02,  1.90200e+03,  2.50330e+04,
        3.32000e+02,  3.55000e+02,  8.19000e+02,  4.83000e+02,
        2.35000e+02])

Los 10 PORCENTAJE_REALIZADO que MAS aparecen son:

                      count  Porcentaje_recuento
PORCENTAJE_REALIZADO
0.00                   2455                54.28
1.00                     33                 0.73
9.00                     25                 0.55
82.00                    24                 0.53
4.00                     23                 0.51
81.00                    21                 0.46
86.00                    20                 0.44
2.00                     20                 0.44
50.00                    20                 0.44
73.00                    19                 0.42

Los 10 PORCENTAJE_REALIZADO que MENOS aparecen son:

                      count  Porcentaje_recuento
PORCENTAJE_REALIZADO
304.00                    1                 0.02
209.00                    1                 0.02
353.00                    1                 0.02
10397.00                  1                 0.02
25033.00                  1                 0.02
332.00                    1                 0.02
355.00                    1                 0.02
819.00                    1                 0.02
483.00                    1                 0.02
235.00                    1                 0.02

 Las distribución de las repeticiones de los PORCENTAJE_REALIZADO son:

       count  % repetición
count
1        227         49.67
2         44          9.63
3         22          4.81
10        15          3.28
4         15          3.28
5         14          3.06
8         14          3.06
9         13          2.84
6         13          2.84
7         12          2.63
11        11          2.41
14        11          2.41
13         8          1.75
12         7          1.53
15         6          1.31
16         6          1.31
19         5          1.09
17         4          0.88
20         3          0.66
18         1          0.22
23         1          0.22
24         1          0.22
25         1          0.22
33         1          0.22
2455       1          0.22
21         1          0.22

None
La categoría FECHA_REGISTRO tiene 1 elementos diferentes:

Los elementos de la categoría son:

<DatetimeArray>
['2015-12-31 00:00:00']
Length: 1, dtype: datetime64[ns]

Los 10 FECHA_REGISTRO que MAS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2015-12-31       4523               100.00

Los 10 FECHA_REGISTRO que MENOS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2015-12-31       4523               100.00

 Las distribución de las repeticiones de los FECHA_REGISTRO son:

       count  % repetición
count
4523       1        100.00

None
La categoría AÑO_EJERCICIO tiene 1 elementos diferentes:

Los elementos de la categoría son:

array([2015])

Los 10 AÑO_EJERCICIO que MAS aparecen son:

               count  Porcentaje_recuento
AÑO_EJERCICIO
2015            4523               100.00

Los 10 AÑO_EJERCICIO que MENOS aparecen son:

               count  Porcentaje_recuento
AÑO_EJERCICIO
2015            4523               100.00

 Las distribución de las repeticiones de los AÑO_EJERCICIO son:

       count  % repetición
count
4523       1        100.00

None

## Año 2016

In [394]:
for columna in df_datos_2016.columns:
    print(se.analisis_individual_columnas(df_datos_2016, columna))

La categoría CÓDIGO_ÓRGANO_SUPERIOR tiene 25 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '37000', '22000', '55000', '24000', '52000', '25000',
       '26000', '39000', '30000', '81000', '58000', '33000', '36000',
       '41000', '57000', '35000', '32000', '49000', '53000', '51000',
       '44000', '38000', '54000', '20000'], dtype=object)

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MAS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
26000                   71840                36.93
25000                   30019                15.43
52000                   17742                 9.12
22000                    9321                 4.79
30000                    7551                 3.88
39000                    7188                 3.70
36000                    7082                 3.64
53000                    6912                 3.55
41000                    6338                 3.26
32000                    6098                 3.13

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MENOS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
20000                    1471                 0.76
35000                     857                 0.44
38000                     561                 0.29
49000                     425                 0.22
58000                     345                 0.18
57000                     207                 0.11
81000                     145                 0.07
37000                     121                 0.06
33000                      62                 0.03
51000                      49                 0.03

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO_SUPERIOR son:

       count  % repetición
count
71840      1          4.00
30019      1          4.00
17742      1          4.00
9321       1          4.00
7551       1          4.00
7188       1          4.00
7082       1          4.00
6912       1          4.00
6338       1          4.00
6098       1          4.00
5933       1          4.00
5626       1          4.00
4721       1          4.00
2003       1          4.00
1916       1          4.00
1471       1          4.00
857        1          4.00
561        1          4.00
425        1          4.00
345        1          4.00
207        1          4.00
145        1          4.00
121        1          4.00
62         1          4.00
49         1          4.00

None
La categoría NOMBRE_ÓRGANO_SUPERIOR tiene 25 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União', 'Controladoria-Geral da União',
       'Ministério da Agricultura, Pecuária e Abastec',
       'Ministério da Cidadania',
       'Ministério da Ciência, Tecnologia, Inovações ',
       'Ministério da Defesa', 'Ministério da Economia',
       'Ministério da Educação', 'Ministério da Infraestrutura',
       'Ministério da Justiça e Segurança Pública',
       'Ministério da Mulher, Família e Direitos Huma',
       'Ministério da Pesca e Aquicultura',
       'Ministério da Previdência Social', 'Ministério da Saúde',
       'Ministério das Comunicações',
       'Ministério das Mulheres, Igualdade Racial, da',
       'Ministério das Relações Exteriores',
       'Ministério de Minas e Energia',
       'Ministério do Desenvolvimento Agrário',
       'Ministério do Desenvolvimento Regional', 'Ministério do Esporte',
       'Ministério do Meio Ambiente', 'Ministério do Trabalho e Emprego',
       'Ministério do Turismo', 'Presidência da República'], dtype=object)

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MAS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério da Educação                         71840                36.93
Ministério da Economia                         30019                15.43
Ministério da Defesa                           17742                 9.12
Ministério da Agricultura, Pecuária e Abastec   9321                 4.79
Ministério da Justiça e Segurança Pública       7551                 3.88
Ministério da Infraestrutura                    7188                 3.70
Ministério da Saúde                             7082                 3.64
Ministério do Desenvolvimento Regional          6912                 3.55
Ministério das Comunicações                     6338                 3.26
Ministério de Minas e Energia                   6098                 3.13

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MENOS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Presidência da República                        1471                 0.76
Ministério das Relações Exteriores               857                 0.44
Ministério do Trabalho e Emprego                 561                 0.29
Ministério do Desenvolvimento Agrário            425                 0.22
Ministério da Pesca e Aquicultura                345                 0.18
Ministério das Mulheres, Igualdade Racial, da    207                 0.11
Ministério da Mulher, Família e Direitos Huma    145                 0.07
Controladoria-Geral da União                     121                 0.06
Ministério da Previdência Social                  62                 0.03
Ministério do Esporte                             49                 0.03

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO_SUPERIOR son:

       count  % repetición
count
71840      1          4.00
30019      1          4.00
17742      1          4.00
9321       1          4.00
7551       1          4.00
7188       1          4.00
7082       1          4.00
6912       1          4.00
6338       1          4.00
6098       1          4.00
5933       1          4.00
5626       1          4.00
4721       1          4.00
2003       1          4.00
1916       1          4.00
1471       1          4.00
857        1          4.00
561        1          4.00
425        1          4.00
345        1          4.00
207        1          4.00
145        1          4.00
121        1          4.00
62         1          4.00
49         1          4.00

None
La categoría CÓDIGO_ÓRGANO tiene 270 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '66000', '22202', '22000', '22201', '22211', '44208',
       '22905', '49001', '55001', '55000', '24901', '20301', '20402',
       '24000', '20501', '49280', '24209', '20502', '52904', '52000',
       '52911', '52132', '52133', '52131', '52111', '52221', '52121',
       '52211', '31280', '52233', '52222', '25201', '30203', '25000',
       '25207', '25916', '37904', '20924', '37202', '38901', '25203',
       '25205', '28500', '25211', '22500', '61201', '25905', '25904',
       '71902', '20603', '20202', '25915', '25901', '30204', '37201',
       '90000', '33206', '25914', '25208', '26243', '26294', '26412',
       '26238', '26242', '26271', '26241', '26443', '26246', '26263',
       '26424', '26234', '26236', '26410', '26277', '26298', '26245',
       '26426', '26406', '26244', '26268', '26411', '26350', '26276',
       '26421', '26284', '26233', '26447', '26413', '26442', '26408',
       '26441', '26260', '26420', '26352', '26250', '26270', '26402',
       '26255', '26273', '26416', '26247', '26254', '26232', '26448',
       '26431', '26283', '26249', '26434', '26433', '26239', '26419',
       '26404', '26291', '26405', '26439', '26278', '26450', '26258',
       '26248', '26279', '26436', '26440', '26201', '26257', '26262',
       '26237', '26403', '26292', '26407', '26264', '26261', '26275',
       '26230', '26267', '26415', '26428', '26274', '26269', '26285',
       '26266', '26231', '26435', '26418', '26438', '26240', '26423',
       '26251', '26449', '26252', '26256', '26272', '26351', '26282',
       '26409', '26417', '26432', '26281', '26290', '26429', '26235',
       '26427', '26422', '26280', '26000', '26437', '26253', '26430',
       '26414', '26286', '26425', '39250', '56901', '62201', '39252',
       '29209', '39815', '39811', '68000', '39816', '68201', '39813',
       '39253', '49901', '39814', '39000', '62901', '39812', '39817',
       '62000', '30907', '30912', '30108', '30911', '30211', '30905',
       '30202', '30205', '30000', '30802', '20122', '58000', '33000',
       '36211', '36000', '36213', '36201', '36210', '36212', '41231',
       '41903', '41232', '41000', '20415', '64901', '64902', '35201',
       '35000', '32205', '32314', '32263', '29208', '32210', '32000',
       '20302', '20303', '49000', '22204', '53901', '22203', '74918',
       '53203', '29214', '53902', '74919', '53000', '44205', '53903',
       '53202', '53207', '74917', '29205', '56902', '91214', '44207',
       '20701', '44206', '44204', '44000', '44902', '38000', '34902',
       '54901', '20404', '20203', '20408', '42207', '20411', '20604',
       '54000', '20412', '20403', '20101', '20116', '64000', '67000',
       '60000', '20117', '24208', '69000'], dtype=object)

Los 10 CÓDIGO_ÓRGANO que MAS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
25000          13749                 7.07
52904           4468                 2.30
52132           3510                 1.80
34902           3087                 1.59
22202           2739                 1.41
20701           2372                 1.22
41232           2335                 1.20
41231           2323                 1.19
52911           2259                 1.16
36000           2191                 1.13

Los 10 CÓDIGO_ÓRGANO que MENOS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
69000             16                 0.01
52233             15                 0.01
32314             14                 0.01
74919             13                 0.01
44902             13                 0.01
39814              9                 0.00
90000              8                 0.00
39815              6                 0.00
60000              5                 0.00
20117              2                 0.00

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO son:

       count  % repetición
count
26         4          1.48
432        3          1.11
209        3          1.11
451        3          1.11
131        3          1.11
...      ...           ...
9          1          0.37
8          1          0.37
6          1          0.37
5          1          0.37
2          1          0.37

[237 rows x 2 columns]

None
La categoría NOMBRE_ÓRGANO tiene 269 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União - Unidades com vínculo direto',
       'Controladoria-Geral da União',
       'Empresa Brasileira de Pesquisa Agropecuária',
       'Ministério da Agricultura, Pecuária e Abastecimento - Unidades com vínculo direto',
       'Instituto Nacional de Colonização e Reforma Agrária',
       'Companhia Nacional de Abastecimento',
       'Serviço Florestal Brasileiro',
       'Fundo de Defesa da Economia Cafeeira',
       'Fundo de Terras e da Reforma Agrária',
       'Fundo Nacional de Assistência Social',
       'Ministério da Cidadania - Unidades com vínculo direto',
       'Fundo Nacional de Desenvolvimento Científico e Tecnológico',
       'Comissão Nacional de Energia Nuclear',
       'Agência Espacial Brasileira',
       'Ministério da Ciência, Tecnologia, Inovações e Comunicações - Unidades com vínculo direto',
       'Conselho Nacional de Desenvolvimento Científico e Tecnológico',
       'Empresa Brasileira de Correios e Telégrafos',
       'Centro Nacional de Tecnologia Eletrônica Avançada S.A.',
       'Financiadora de Estudos e Projetos', 'Fundo do Exército',
       'Ministério da Defesa - Unidades com vínculo direto',
       'Fundo Aeronáutico', 'Comando da Marinha - Fundo Naval',
       'Fundo de Desenvolvimento do Ensino Profissional Marítimo',
       'Comando da Marinha', 'Comando da Aeronáutica',
       'Indústria de Material Bélico do Brasil', 'Comando do Exército',
       'Caixa de Financiamento Imobiliário da Aeronáutica',
       'Caixa de Construções de Casas para o Pessoal da Marinha do Brasil',
       'Amazônia Azul Tecnologia de Defesa S.A.', 'Fundação Osório',
       'Banco Central do Brasil - Orçamento Fiscal e Seguridade Social',
       'Instituto Nacional de Metrologia, Qualidade e Tecnologia',
       'Ministério da Economia - Unidades com vínculo direto',
       'Serviço Federal de Processamento de Dados',
       'Fundo Contingente da Extinta RFFSA-FCMP',
       'Fundo do Regime Geral da Previdência Social',
       'Fundo Nacional de Desenvolvimento',
       'Instituto Nacional do Seguro Social',
       'Fundo de Amparo ao Trabalhador',
       'Comissão de Valores Mobiliários',
       'Fundação Instituto Brasileiro de Geografia e Estatística',
       'Fundo de Garantia para a Promoção da Competitividade',
       'Casa da Moeda do Brasil',
       'Companhia de Entrepostos e Armazéns Gerais de São Paulo',
       'Instituto de Pesquisa Econômica Aplicada',
       'Fundo de Apoio ao Desenvolvimento Social',
       'Fundo de Estabilidade do Seguro Rural',
       'Fundo Soberano do Brasil',
       'Superintendência da Zona Franca de Manaus',
       'Fundação Escola Nacional de Administração Pública',
       'Fundo Constitucional do Distrito Federal',
       'Fundo de Compensação de Variações Salariais',
       'Instituto Nacional da Propriedade Industrial',
       'Fundação Jorge Duprat Figueiredo, de Segurança e Medicina do Trabalho',
       'Reserva de Contingência',
       'Superintendência Nacional de Previdência Complementar',
       'Fundo de Garantia à Exportação',
       'Superintendência de Seguros Privados',
       'Universidade Federal do Rio Grande do Norte',
       'Hospital de Clínicas de Porto Alegre',
       'Instituto Federal do Sul de Minas Gerais',
       'Universidade Federal de Minas Gerais',
       'Universidade Federal de Pernambuco',
       'Fundação Universidade de Brasília',
       'Universidade Federal do Paraná',
       'Empresa Brasileira de Serviços Hospitalares',
       'Universidade Federal de Santa Catarina',
       'Universidade Federal de Lavras', 'Instituto Federal do Tocantins',
       'Universidade Federal do Espírito Santo',
       'Universidade Federal Fluminense',
       'Instituto Federal do Norte de Minas Gerais',
       'Universidade Federal de Ouro Preto',
       'Fundo Nacional de Desenvolvimento da Educação',
       'Universidade Federal do Rio de Janeiro',
       'Instituto Federal do Amapá',
       'Instituto Federal do Espírito Santo',
       'Universidade Federal do Rio Grande do Sul',
       'Fundação Universidade Federal de Rondônia',
       'Instituto Federal do Sudeste de Minas Gerais',
       'Fundação Universidade Federal da Grande Dourados',
       'Fundação Universidade Federal do Mato Grosso',
       'Instituto Federal de Rondônia',
       'Fundação Universidade Federal de Ciências da Saúde de Porto Alegre',
       'Universidade Federal do Ceará',
       'Universidade Federal do Oeste da Bahia',
       'Instituto Federal do Triângulo Mineiro',
       'Universidade da Integração Internacional da Lusofonia Afro-Brasileira',
       'Instituto Federal do Maranhão',
       'Universidade Federal do Oeste do Pará',
       'Universidade Federal de Alfenas', 'Instituto Federal Farroupilha',
       'Fundação Universidade Federal do ABC',
       'Universidade Federal de Roraima',
       'Fundação Universidade do Amazonas',
       'Instituto Federal de Alagoas',
       'Universidade Federal dos Vales do Jequitinhonha e Mucuri',
       'Universidade Federal do Rio Grande', 'Instituto Federal do Pará',
       'Universidade Federal de Santa Maria',
       'Universidade Federal do Triângulo Mineiro',
       'Universidade Federal da Bahia',
       'Universidade Federal do Sul e Sudeste do Pará',
       'Instituto Federal do Piauí',
       'Fundação Universidade Federal do Mato Grosso do Sul',
       'Universidade Federal Rural do Rio de Janeiro',
       'Instituto Federal Fluminense',
       'Instituto Federal do Rio de Janeiro',
       'Universidade Federal do Pará',
       'Instituto Federal do Rio Grande do Sul',
       'Instituto Federal Baiano',
       'Fundação Coordenação de Aperfeiçoamento de Pessoal de Nível Superior',
       'Instituto Federal do Ceará', 'Instituto Federal de São Paulo',
       'Fundação Universidade Federal de Pelotas',
       'Universidade Federal do Sul da Bahia',
       'Universidade Tecnológica Federal do Paraná',
       'Universidade Federal Rural de Pernambuco',
       'Fundação Universidade Federal do Piauí',
       'Instituto Federal Sul-rio-grandense',
       'Universidade Federal da Fronteira Sul', 'Colégio Pedro II',
       'Centro Federal de Educação Tecnológica de Minas Gerais',
       'Universidade Federal de São Paulo',
       'Universidade Federal de Juiz de Fora',
       'Instituto Federal do Amazonas', 'Fundação Joaquim Nabuco',
       'Instituto Federal Goiano',
       'Universidade Federal Rural do Semi-Árido',
       'Universidade Federal de Itajubá',
       'Fundação Universidade Federal do Acre',
       'Fundação Universidade Federal do Vale do São Francisco',
       'Universidade Federal da Integração Latino-Americana',
       'Instituto Federal do Mato Grosso do Sul',
       'Instituto Federal de Brasília',
       'Fundação Universidade Federal de Uberlândia',
       'Universidade Federal do Estado do Rio de Janeiro',
       'Fundação Universidade Federal de São João Del-Rei',
       'Fundação Universidade Federal do Pampa',
       'Universidade Federal de Alagoas',
       'Instituto Federal do Rio Grande do Norte',
       'Instituto Federal de Pernambuco',
       'Instituto Federal de Santa Catarina',
       'Universidade Federal da Paraíba', 'Instituto Federal de Sergipe',
       'Fundação Universidade Federal do Tocantins',
       'Universidade Federal do Cariri',
       'Universidade Federal de Campina Grande',
       'Centro Federal de Educação Tecnológica Celso Suckow da Fonseca',
       'Fundação Universidade do Maranhão',
       'Universidade Federal do Recôncavo da Bahia',
       'Universidade Federal de Viçosa',
       'Instituto Federal de Minas Gerais',
       'Instituto Federal da Paraíba', 'Instituto Federal do Paraná',
       'Fundação Universidade Federal de Sergipe',
       'Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira',
       'Instituto Federal de Educação, Ciência e Tecnologia de Goiás',
       'Universidade Federal de Goiás', 'Instituto Federal da Bahia',
       'Instituto Federal Catarinense',
       'Fundação Universidade Federal de São Carlos',
       'Ministério da Educação - Unidades com vínculo direto',
       'Instituto Federal de Roraima',
       'Universidade Federal Rural da Amazônia',
       'Instituto Federal do Sertão de Pernambuco',
       'Instituto Federal do Mato Grosso',
       'Fundação Universidade Federal do Amapá',
       'Instituto Federal do Acre',
       'Agência Nacional de Transportes Terrestres',
       'Fundo Nacional de Segurança e Educação de Trânsito',
       'Agência Nacional de Aviação Civil',
       'Departamento Nacional de Infraestrutura de Transportes',
       'VALEC Engenharia, Construções e Ferrovias S.A.',
       'Companhia Docas do Rio Grande do Norte',
       'Companhia Docas do Rio de Janeiro', 'Secretaria de Portos',
       'Companhia Docas do Estado de São Paulo',
       'Agência Nacional de Transportes Aquaviários',
       'Companhia Docas do Ceará',
       'Empresa de Planejamento e Logística S.A.',
       'Departamento do Fundo da Marinha Mercante',
       'Companhia Docas do Pará',
       'Ministério da Infraestrutura - Unidades com vínculo direto',
       'Fundo Nacional de Aviação Civil',
       'Companhia Docas do Estado da Bahia',
       'Companhia Docas do Espírito Santo', 'Secretaria de Aviação Civil',
       'Fundo Penitenciário Nacional', 'Fundo Nacional Antidrogas',
       'Departamento de Polícia Federal',
       'Fundo Nacional de Segurança Pública',
       'Conselho Administrativo de Defesa Econômica',
       'Secretaria Nacional do Consumidor Fundo',
       'Fundação Nacional do Índio',
       'Fundação Nacional do Índio - Patrimônio Indígena',
       'Ministério da Justiça e Segurança Pública - Unidades com vínculo direto',
       'Departamento de Polícia Rodoviária Federal',
       'Secretaria Nacional de Políticas para Mulheres',
       'Ministério da Pesca e Aquicultura - Unidades com vínculo direto',
       'Ministério da Previdência Social - Unidades com vínculo direto',
       'Fundação Nacional de Saúde',
       'Ministério da Saúde - Unidades com vínculo direto',
       'Agência Nacional de Saúde Suplementar', 'Fundação Oswaldo Cruz',
       'Hospital Nossa Senhora da Conceição S.A.',
       'Agência Nacional de Vigilância Sanitária',
       'Agêncial Nacional de Telecomunicações',
       'Fundo para o Desenvolvimento Tecnológico das Telecomunicações',
       'Fundo de Universalização dos Serviços de Telecomunicações',
       'Ministério das Comunicações - Unidades com vínculo direto',
       'Empresa Brasil de Comunicação',
       'Fundo Nacional para a Criança e o Adolescente',
       'Fundo Nacional do Idoso', 'Fundação Alexandre de Gusmão',
       'Ministério das Relações Exteriores - Unidades com vínculo direto',
       'Agência Nacional do Petróleo, Gás Natural e Biocombustíveis',
       'Empresa de Pesquisa Energética',
       'Departamento Nacional de Produção Mineral',
       'Companhia de Pesquisa de Recursos Minerais',
       'Agência Nacional de Energia Elétrica',
       'Ministério de Minas e Energia - Unidades com vínculo direto',
       'Nuclebrás Equipamentos Pesados S.A.',
       'Indústrias Nucleares do Brasil',
       'Ministério do Desenvolvimento Agrário - Unidades com vínculo direto',
       'Departamento Nacional de Obras Contra as Secas',
       'Fundo Constitucional de Financiamento do Norte',
       'Companhia de Desenvolvimento dos Vales do São Francisco e do Parnaíba',
       'Fundo de Desenvolvimento do Nordeste',
       'Superintendência do Desenvolvimento do Nordeste',
       'Companhia Brasileira de Trens Urbanos',
       'Fundo Constitucional de Financiamento do Centro-Oeste',
       'Fundo de Desenvolvimento do Centro-Oeste',
       'Ministério do Desenvolvimento Regional - Unidades com vínculo direto',
       'Agência Nacional de Águas',
       'Fundo Constitucional de Financiamento do Nordeste',
       'Superintendência do Desenvolvimento da Amazônia',
       'Superintendência de Desenvolvimento do Centro-Oeste',
       'Fundo de Desenvolvimento da Amazônia',
       'Empresa de Trens Urbanos de Porto Alegre',
       'Fundo Nacional de Habitação de Interesse Social',
       'Autoridade Pública Olímpica',
       'Instituto Chico Mendes de Conservação da Biodiversidade',
       'Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renováveis',
       'Instituto de Pesquisas Jardim Botânico do Rio de Janeiro',
       'Fundo Nacional do Meio Ambiente',
       'Ministério do Meio Ambiente - Unidades com vínculo direto',
       'Fundo Nacional sobre Mudança no Clima',
       'Ministério do Trabalho e Emprego - Unidades com vínculo direto',
       'Fundo Nacional de Cultura', 'Fundo Geral de Turismo',
       'Fundação Biblioteca Nacional', 'Agência Nacional do Cinema',
       'Fundação Cultural Palmares', 'Instituto Brasileiro de Museus',
       'Instituto do Patrimônio Histórico e Artístico Nacional',
       'Instituto Brasileiro de Turismo',
       'Ministério do Turismo - Unidades com vínculo direto',
       'Fundação Nacional de Artes', 'Fundação Casa de Rui Barbosa',
       'Presidência da República', 'Fundo de Imprensa Nacional',
       'Secretaria de Direitos Humanos',
       'Secretaria de Políticas de Promoção da Igualdade Racial',
       'Gabinete da Vice-Presidência da República',
       'Instituto Nacional de Tecnologia da Informação',
       'Secretaria da Micro e Pequena Empresa'], dtype=object)

Los 10 NOMBRE_ÓRGANO que MAS aparecen son:

                                                    count  Porcentaje_recuento
NOMBRE_ÓRGANO
Ministério da Economia - Unidades com vínculo d...  13749                 7.07
Fundo do Exército                                    4468                 2.30
Comando da Marinha - Fundo Naval                     3510                 1.80
Fundo Nacional de Cultura                            3087                 1.59
Empresa Brasileira de Pesquisa Agropecuária          2739                 1.41
Instituto Brasileiro do Meio Ambiente e dos Rec...   2372                 1.22
Fundo de Universalização dos Serviços de Teleco...   2335                 1.20
Agêncial Nacional de Telecomunicações                2323                 1.19
Fundo Aeronáutico                                    2259                 1.16
Ministério da Saúde - Unidades com vínculo direto    2191                 1.13

Los 10 NOMBRE_ÓRGANO que MENOS aparecen son:

                                           count  Porcentaje_recuento
NOMBRE_ÓRGANO
Secretaria de Aviação Civil                   16                 0.01
Secretaria da Micro e Pequena Empresa         16                 0.01
Amazônia Azul Tecnologia de Defesa S.A.       15                 0.01
Empresa de Pesquisa Energética                14                 0.01
Fundo Nacional sobre Mudança no Clima         13                 0.01
Fundo de Desenvolvimento do Centro-Oeste      13                 0.01
Companhia Docas do Pará                        9                 0.00
Reserva de Contingência                        8                 0.00
Companhia Docas do Rio Grande do Norte         6                 0.00
Gabinete da Vice-Presidência da República      5                 0.00

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO son:

       count  % repetición
count
26         4          1.49
451        3          1.12
432        3          1.12
209        3          1.12
36         3          1.12
...      ...           ...
14         1          0.37
9          1          0.37
8          1          0.37
6          1          0.37
5          1          0.37

[236 rows x 2 columns]

None
La categoría CÓDIGO_UNIDAD_GESTORA tiene 296 elementos diferentes:

Los elementos de la categoría son:

array(['110060', '110174', '135037', '130101', '373001', '135100',
       '440088', '130137', '490003', '330013', '180077', '420002',
       '550002', '240901', '113209', '203001', '240102', '364001',
       '364999', '415001', '245209', '365001', '364102', '167086',
       '110407', '121002', '673001', '873001', '211999', '120002',
       '168002', '773001', '160075', '120999', '123001', '773008',
       '699999', '773009', '164204', '173057', '183023', '170010',
       '806001', '170013', '173065', '513001', '201924', '510001',
       '380910', '173030', '114601', '287001', '179083', '400042',
       '201002', '225001', '280102', '113601', '170380', '179103',
       '170474', '193028', '114702', '170392', '170381', '183038',
       '264001', '390001', '333001', '170356', '173039', '153103',
       '155001', '158137', '153062', '153080', '154040', '153079',
       '155007', '153163', '153032', '158131', '153046', '153056',
       '158121', '154046', '153173', '153115', '158150', '158151',
       '153114', '154055', '158123', '154502', '154045', '158148',
       '154032', '153045', '158717', '158099', '158565', '158128',
       '158515', '153028', '158127', '154503', '154080', '154039',
       '158147', '153036', '154042', '158135', '153164', '153035',
       '153038', '158718', '158146', '154054', '153166', '158139',
       '158157', '153063', '158141', '158129', '154999', '158133',
       '158154', '154047', '158720', '153019', '153165', '154048',
       '158126', '158517', '153167', '153015', '153031', '153061',
       '158142', '344002', '158124', '153033', '153030', '154044',
       '154421', '158658', '158132', '154003', '158143', '154043',
       '154034', '154069', '154359', '153037', '158155', '158136',
       '158516', '153065', '158274', '158134', '154419', '158719',
       '158195', '153010', '154041', '158092', '154051', '158122',
       '158138', '158009', '154050', '153978', '158153', '153052',
       '158145', '158125', '154049', '150014', '158152', '153034',
       '158149', '158144', '154215', '158156', '393001', '200320',
       '113214', '393003', '275075', '396005', '396001', '110680',
       '396006', '682010', '396003', '395001', '277001', '396004',
       '390002', '110591', '396002', '399002', '110590', '200333',
       '200246', '200336', '200331', '303001', '200401', '194088',
       '194040', '200094', '200109', '200021', '110008', '330002',
       '255014', '250088', '253003', '255011', '254420', '255000',
       '366003', '255003', '253002', '255008', '255015', '413001',
       '410007', '413047', '410002', '410003', '115406', '110244',
       '570903', '570901', '207001', '244001', '240005', '323030',
       '325001', '323002', '495001', '323028', '320002', '113208',
       '113206', '490002', '113802', '537002', '195006', '533009',
       '533014', '275068', '537003', '537004', '560003', '443003',
       '537001', '533013', '530002', '533018', '533008', '275060',
       '560015', '913001', '443032', '193034', '443019', '193116',
       '443045', '440002', '193125', '447001', '193113', '193107',
       '380010', '340002', '187002', '344042', '203003', '344041',
       '423001', '403101', '185001', '540001', '403201', '344001',
       '110005', '110245', '200016', '238012', '110101', '110246',
       '243001', '690001'], dtype=object)

Los 10 CÓDIGO_UNIDAD_GESTORA que MAS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
170013                 11126                 5.72
167086                  4468                 2.30
340002                  3087                 1.59
673001                  3008                 1.55
135037                  2739                 1.41
193034                  2363                 1.21
413047                  2335                 1.20
413001                  2323                 1.19
121002                  2259                 1.16
250088                  2191                 1.13

Los 10 CÓDIGO_UNIDAD_GESTORA que MENOS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
154999                     1                 0.00
158274                     1                 0.00
255011                     1                 0.00
255014                     1                 0.00
193107                     1                 0.00
410003                     1                 0.00
255008                     1                 0.00
255015                     1                 0.00
255003                     1                 0.00
364102                     1                 0.00

 Las distribución de las repeticiones de los CÓDIGO_UNIDAD_GESTORA son:

       count  % repetición
count
1         10          3.38
26         4          1.35
2          3          1.01
36         3          1.01
209        3          1.01
...      ...           ...
9          1          0.34
6          1          0.34
8          1          0.34
4          1          0.34
5          1          0.34

[250 rows x 2 columns]

None
La categoría NOMBRE_UNIDAD_GESTORA tiene 293 elementos diferentes:

Los elementos de la categoría son:

array(['COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU',
       'DIRETORIA DE GESTAO INTERNA/SE/CGU', 'EMBRAPA-SETORIAL',
       'COORD.-GERAL DE ORCAMENTO E FINANCAS-MAPA',
       'DPTO. DE ADMINISTRACAO FINANCEIRA-DAF - INCRA',
       'COMPANHIA NACIONAL DE ABASTECIMENTO',
       'SETORIAL PROG.ORCAMENTARIA E FINANCEIRA-SFB',
       'FUNDO DE DEFESA DA ECON.CAFEEIRA/FUNCAFE/SPA',
       'CREDITO FUNDIARIO', 'FUNDO NACIONAL DE ASSISTENCIA SOCIAL',
       'SETORIAL ORCAMENTARIA E FINANCEIRA - (ME)',
       'COORD.GERAL DE PLAN. ORC. FIN. E CONTAB./MINC',
       'SETORIAL DE ORCAMENTO E FINANCAS/MC',
       'FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO',
       'CNEN-ORCAMENTO E FINANCAS', 'AGENCIA ESPACIAL BRASILEIRA/AEB',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS',
       'CNPQ - ADMINISTRACAO CENTRAL', 'CNPQ - DIFERENCIA CAMBIAL',
       'EMPRESA BRASILEIRA DE CORREIOS E TELEGRAFOS',
       'CENTRO NACIONAL DE TECNOLOGIA ELETRONICA AVAN',
       'FINANCIADORA DE ESTUDOS E PROJETOS',
       'CONSELHO NAC DE DESENV CIENT E TECNOLOGICO', 'FUNDO DO EXERCITO',
       'DEPARTAMENTO DE PLANEJ, ORC E FINANCAS (MD)',
       'SECRETARIA DE ECON. E FIN.DA AER.- F.AER.',
       'DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM',
       'MARINHA - DIFERENCA CAMBIAL',
       'DIRETORIA DE ECON E FINANCAS DA AERONAUTICA',
       'INDUSTRIA DE MATERIAL BELICO DO BRASIL/GESTOR',
       'DIRETORIA DE FINANCAS DA MARINHA-SISTEMA-PAIS',
       'D CONT - SETORIAL FINANCEIRA', 'MAER - DIFERENCA CAMBIAL',
       'CAIXA FINANCIAMENTO IMOBILIARIO AERONAUTICA',
       'DIRETORIA DE FINANCAS DA MARINHA - CCCPM',
       'FUNDO NAVAL - DIFERENCA CAMBIAL',
       'DIRETORIA DE FINANCAS DA MARINHA - AMAZUL', 'FUNDACAO OSORIO',
       'BANCO CENTRAL DO BRASIL',
       'INSTITUTO NAC.DE METROLOG. QUALID. E TECNOLOG',
       'SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB',
       'SERPRO-SEDE - DEPARTAMENTO FINANCEIRO',
       'SETORIAL ORCAMENTARIA E FINANCEIRA / ME',
       'FUNDO CONTINGENTE DA EXTINTA RFFSA-FC',
       'COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS',
       'FUNDO NACIONAL DE DESENVOLVIMENTO',
       'COORD.GERAL DE ORCAMENTO, FINANCAS E CONTAB.',
       'COORD-GERAL DE ORCAMENTO, FIN. E CONT.- CGOFC',
       'COMISSAO DE VALORES MOBILIARIOS',
       'FUNDACAO IBGE-ADMINISTRACAO CENTRAL/RJ',
       'FUNDO DE GAR.P/PROMOC.DA COMPETITIVIDADE±FGPC',
       'CASA DA MOEDA DO BRASIL',
       'COORD-GERAL DE ORC., FIN. E CONT.-CGOFC (MTP)',
       'COORDENACAO-GERAL DE ORC. E FINANCAS/MP',
       'CIA.DE ENTREPOSTOS E ARMAZENS GER.DE S.PAULO',
       'COORDENACAO-GERAL DE ORCAM.FINAN.CONTAB/MDIC',
       'INSTITUTO DE PESQUISA ECONOMICA APLICADA',
       'FUNDO DE APOIO AO DESENVOLVIMENTO SOCIAL',
       'FUNDO DE ESTABILIDADE DO SEGURO RURAL',
       'FUNDO SOBERANO DO BRASIL',
       'SUPERINTENDENCIA DA ZONA FRANCA DE MANAUS/AM',
       'FUNDACAO ESCOLA NACIONAL DE ADM. PUBLICA',
       'FUNDO CONSTITUCIONAL DO DISTRITO FEDERAL',
       'FUNDO DE COMPENSACAO E VARIACAO SALARIAL',
       'INSTITUTO NACIONAL DA PROPRIEDADE INDUSTRIAL',
       'FUNDACENTRO - FUND.JORGE DUPRAT/CTN/SEDE - SP',
       'RESERVA DE CONTINGENCIA/MEFP',
       'COORD.GERAL DE ORC. FIN. E CONTABILIDADE',
       'FUNDO DE GARANTIA A EXPORTACAO-BNDES',
       'SUPERINTENDENCIA DE SEGUROS PRIVADOS - RJ',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO NORTE',
       'HOSPITAL DE CLINICAS DE PORTO ALEGRE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO SUL DE MG',
       'UNIVERSIDADE FEDERAL DE MINAS GERAIS',
       'UNIVERSIDADE FEDERAL DE PERNAMBUCO',
       'FUNDACAO UNIVERSIDADE DE BRASILIA - FUB',
       'UNIVERSIDADE FEDERAL DO PARANA',
       'EMPRESA BRASILEIRA DE SERVICOS HOSPITALARES',
       'UNIVERSIDADE FEDERAL DE SANTA CATARINA',
       'UNIVERSIDADE FEDERAL DE LAVRAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TOCANTINS',
       'UNIVERSIDADE FEDERAL DO ESPIRITO SANTO',
       'UNIVERSIDADE FEDERAL FLUMINENSE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO NORTE DE MG',
       'UNIVERSIDADE FEDERAL DE OURO PRETO',
       'FUNDO NACIONAL DE DESENVOLVIMENTO DA EDUCACAO',
       'UNIVERSIDADE FEDERAL DO RIO DE JANEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAPA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ESP.SANTO',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO SUL',
       'FUNDACAO UNIVERSIDADE FEDERAL DE RONDONIA',
       'INSTITUTO FED CIENCIA TECNOL SUDESTE MG',
       'FUNDACAO UNIVERSIDADE FED. DA GRANDE DOURADOS',
       'FUNDACAO UNIVERSIDADE FEDERAL DE MATO GROSSO',
       'INST. FED. DE EDUC.,CIENC. E TEC. DE RONDONIA',
       'FUND.UNIV.FED.DE.CIENC.DA SAUDE DE P.ALEGRE',
       'UNIVERSIDADE FEDERAL DO CEARA',
       'UNIVERSIDADE FEDERAL DO OESTE DA BAHIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TRIA.MINEIRO',
       'UNIV.DA INTEG.INTERN.DA LUSOF.AFRO-BRASILEIRA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MARANHAO',
       'UNIVERSIDADE FEDERAL DO OESTE DO PARA',
       'UNIVERSIDADE FEDERAL DE ALFENAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.FARROUPILHA',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ABC',
       'UNIVERSIDADE FEDERAL DE RORAIMA',
       'FUNDACAO UNIVERSIDADE DO AMAZONAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE ALAGOAS',
       'UNIVERSIDADE FED.VALES JEQUITINHONHA E MUCURI',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE - FURG',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PARA',
       'UNIVERSIDADE FEDERAL DE SANTA MARIA',
       'UNIVERSIDADE FEDERAL DO TRIANGULO MINEIRO',
       'UNIVERSIDADE FEDERAL DA BAHIA',
       'UNIVERSIDADE FEDERAL DO SUL E SUDESTE DO PARA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PIAUI',
       'FUNDACAO UNIVERS.FED. DE MATO GROSSO DO SUL',
       'UNIVERSIDADE FEDERAL RURAL DO RIO DE JANEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.FLUMINENSE', 'REITORIA',
       'UNIVERSIDADE FEDERAL DO PARA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RS',
       'INST FED DE EDUC CIENC E TECNOLOGIA BAIANO',
       'CAPES - DIFERENCA CAMBIAL',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO CEARA',
       'INSTITUTO FEDERAL DE SAO PAULO',
       'FUNDACAO UNIVERSIDADE FEDERAL DE PELOTAS',
       'UNIVERSIDADE FEDERAL DO SUL DA BAHIA',
       'UNIVERSIDADE TECNOLOGICA FEDERAL DO PARANA',
       'UNIVERSIDADE FEDERAL RURAL DE PERNAMBUCO',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PIAUI',
       'INST.FED.DE EDUC.,CIE.E TEC.SUL-RIO-GRANDENSE',
       'UNIVERSIDADE FEDERAL DA FRONTEIRA SUL', 'COLEGIO PEDRO II',
       'CENTRO FEDERAL DE EDUCACAO TECNOLOGICA DE MG',
       'UNIFESP-UNIVERSIDADE FEDERAL DE SAO PAULO',
       'UNIVERSIDADE FEDERAL DE JUIZ DE FORA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAZONAS',
       'FUNDACAO JOAQUIM NABUCO', 'IF GOIANO',
       'UNIVERSIDADE FEDERAL RURAL DO SEMI-ARIDO - RN',
       'UNIVERSIDADE FEDERAL DE ITAJUBA',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ACRE',
       'FUND. UNIVERSIDADE FEDERAL VALE SAO FRANCISCO',
       'UNIV. FEDERAL DA INTEGRACAO LATINO-AMERICANA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MAT.G.DO SUL',
       'FUND.COORD.DE APERF.DE PESSOAL NIVEL SUPERIOR',
       'IFB - REITORIA - BRASILIA-DF',
       'FUNDACAO UNIVERSIDADE FEDERAL DE UBERLANDIA',
       'UNIRIO UNIVERSIDADE FEDERAL DO ESTADO RJ',
       'FUNDACAO UNIVERSIDADE FEDERAL DE S.J.DEL-REI',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PAMPA',
       'UNIVERSIDADE FEDERAL DE ALAGOAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RN',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE PERNAMBUCO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE STA.CAT/IFSC',
       'UNIVERSIDADE FEDERAL DA PARAIBA',
       'INST.FED. FLUMINENSE/CAMPUS CAMPOS-CENTRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE SERGIPE',
       'FUNDACAO UNIVERSIDADE FEDERAL DO TOCANTINS',
       'UNIVERSIDADE FEDERAL DO CARIRI',
       'UNIVERSIDADE FEDERAL DE CAMPINA GRANDE',
       'CENTRO FED.DE EDUC.TECNOL.CELSO S.DA FONSECA',
       'FUNDACAO UNIVERSIDADE DO MARANHAO',
       'UNIVERSIDADE FEDERAL DO RECONCAVO DA BAHIA',
       'UNIVERSIDADE FEDERAL DE VICOSA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE MINAS GERAIS', 'IFPB - REITORIA',
       'INST. FED. DO PARANA/ REITORIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SERGIPE',
       'INST.NACIONAL DE EST.E PESQUISAS EDUCACIONAIS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE GOIAS',
       'UNIVERSIDADE FEDERAL DE GOIAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DA BAHIA',
       'INSTITUTO FEDERAL CATARINENSE - REITORIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SAO CARLOS',
       'SUBSECRETARIA DE PLANEJ. E ORCAMENTO SPO(MEC)',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE RORAIMA',
       'UNIVERSIDADE FEDERAL RURAL DA AMAZONIA',
       'INST.FED.DE ED.,CIENC.E TEC.DO S.PERNAMBUCANO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MATO GROSSO',
       'FUNDACAO UNIVERSIDADE FEDERAL DO AMAPA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ACRE',
       'AGENCIA NACIONAL DE TRANSPORTES TERRESTRES',
       'FUNDO NACIONAL DE SEG. E EDUCACAO DE TRANSITO',
       'AGENCIA NACIONAL DE AVIACAO CIVIL',
       'DEPART.NAC.INFRA ESTRUTURA TRANSPORTES.',
       'VALEC ENGENHARIA CONSTRUCOES E FERROVIAS S/A.',
       'COMPANHIA DOCA DO RIO GRANDE DO NORTE',
       'COMPANHIA DOCAS DO RIO DE JANEIRO', 'SECRETARIA DE PORTOS/PR',
       'COMPANHIA DOCAS DO ESTADO DE SAO PAULO',
       'AGENCIA NACIONAL DE TRANSPORTES AQUAVIARIOS',
       'COMPANHIA DOCAS DO CEARA',
       'EMPRESA DE PLANEJAMENTO E LOGISTICA S.A - EPL',
       'FUNDO DA MARINHA MERCANTE', 'COMPANHIA DOCAS DO PARA',
       'SUBSECRETARIA DE PLAN.,ORCAM.E ADMIN.SETORIAL',
       'FUNDO NACIONAL DE AVIACAO CIVIL',
       'COMPANHIA DOCAS DO ESTADO DA BAHIA',
       'COMPANHIA DOCAS DO ESPIRITO SANTO',
       'SECRETARIA DE AVIACAO CIVIL/PR', 'DEPEN - DIRETORIA EXECUTIVA',
       'FUNDO NACIONAL ANTIDROGAS',
       'COORDENACAO DE ORCAMENTO FINANCAS CONTABILIDA',
       'FUNDO NACIONAL DE SEGURANCA PUBLICA - FNSP',
       'CONSELHO ADMINISTRATIVO DE DEFESA ECONOMICA',
       'FUNDO DE DEFESA DOS DIREITOS DIFUSOS',
       'FUNDACAO NACIONAL DO INDIO - U.O.',
       'RENDA DO PATRIMONIO INDIGENA',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MJ',
       'DEPTO.DE POLICIA RODOVIARIA FEDERAL',
       'SECRETARIA DE POLITICAS PARA AS MULHERES',
       'SECRETARIA EXECUTIVA-MPA',
       'COORDENACAO-GERAL DE ORC. FIN.E CONTABILIDADE',
       'FUNDACAO NACIONAL DE SAUDE - PA',
       'SPO-COORD.-GERAL DE ORC.E FINANCAS/MS',
       'AGENCIA NACIONAL DE SAUDE SUPLEMENTAR',
       'FUNDACAO NACIONAL DE SAUDE - MT', 'FUNDACAO OSWALDO CRUZ',
       'FUNDACAO NACIONAL DE SAUDE - DF',
       'HOSPITAL NOSSA SENHORA DA CONCEICAO S/A',
       'FUNDACAO NACIONAL DE SAUDE - AP',
       'AGENCIA NACIONAL DE VIGILANCIA SANITARIA',
       'FUNDACAO NACIONAL DE SAUDE - ES',
       'FUNDACAO NACIONAL DE SAUDE - PB',
       'AGENCIA NACIONAL DE TELECOMUNICACOES-SEDE',
       'FUNDO P/O DESENV.TECNOL.DAS TELECOMUNICACOES',
       'FUNDO DE UNIVERS.DOS SERV.TELECOMUNICACOES',
       'COORDENACAO-GERAL DE RECURSOS LOGISTICOS',
       'EMPRESA BRASIL DE COMUNICACAO S.A',
       'FUNDO NACIONAL PARA A CRIANCA E O ADOLESCENTE',
       'FUNDO NACIONAL DO IDOSO - SET.ORC/FIN',
       'FUNDO NAC.P/A CRIANCA E O ADOLESC.SET.ORC/FIN',
       'FUNDO NACIONAL DO IDOSO', 'FUNDACAO ALEXANDRE DE GUSMAO',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MRE',
       'AG. NAC.DO PETROLEO GAS NAT.E BIOCOM',
       'EMPRESA DE PESQUISA ENERGETICA',
       'DEPARTAMENTO NAC. DE PRODUCAO MINERAL - SEDE',
       'COMPANHIA DE PESQUISA DE RECURSOS MINERAIS',
       'AGENCIA NACIONAL DE ENERGIA ELETRICA',
       'COORD.GERAL DE ORCAM.E FIN./M.M.E',
       'NUCLEBRAS EQUIPAMENTOS PESADOS S/A-NUCLEP',
       'INDUSTRIAS NUCLEARES DO BRASIL S/A - INB',
       'SUBSEC. DE PLANEJ., ORCAMENTO E ADMINISTRACAO',
       'DEPARTAMENTO NAC. DE OBRAS CONTRA AS SECAS/UO',
       'FUNDO CONSTITUCIONAL FINANCIAMENTO NORTE',
       'CIA DE DES.DOS VALES DO S.FRANC.E DO PARNAIBA',
       'FUNDO DE DESENVOLVIMENTO DO NORDESTE',
       'SUPERINTENDENCIA DO DESENVOLV. DO NORDESTE',
       'CIA BRASILEIRA DE TRENS URBANOS-ADM.CENTRAL',
       'FUNDO CONSTITUCIONL DO CENTRO OESTE',
       'FUNDO DE DESENVOLVIMENTO DO CENTRO-OESTE',
       'SECRETARIA EXECUTIVA - MINISTERIO DAS CIDADES',
       'COORDENACAO DE ORCAMENTO E FINANCAS.',
       'FUNDO CONSTITUCIONAL DE FINANCIAM.DO NORDESTE',
       'SUPERINTEND. DO DESENVOLVIMENTO DA AMAZONIA',
       'ORCAMENTO E FINANCAS/MDR',
       'SUPERINT. DO DESENVOLVIMENTO DO CENTRO-OESTE',
       'FUNDO DE DESENVOLVIMENTO DA AMAZONIA',
       'EMPRESA DE TRENS URBANOS DE PORTO ALEGRE S/A',
       'FUNDO NACIONAL DE HABIT. DE INTERESSE SOCIAL',
       'AUTORIDADE PUBLICA OLIMPICA',
       'INST.CHICO MENDES DE CONSER.DA BIODIVERSIDADE',
       'IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ',
       'COORD. DE PLAN. ORCAMENTO E FIN./COPLAN/JBRJ',
       'IBAMA - SUPERINTENDENCIA DE PERNAMBUCO/PE',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMA',
       'SUBSECRET.PLANEJAM.ORCAM.E ADMINIST±SPOA(MMA)',
       'IBAMA - SUPERINTENDENCIA DE SANTA CATARINA/SC',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMC',
       'IBAMA - SUPERINTENDENCIA DO MATO GROSSO/MT',
       'IBAMA - SUPERINTENDENCIA DO ESPIRITO SANTO/ES',
       'COORD-GERAL DE ORCAM., FIN. E CONTABILIDADE',
       'COORD.GERAL DE PLAN. ORC. FIN. E CONTAB/FNC',
       'FUNDO GERAL DE TURISMO-FUNGETUR', 'FUNDACAO BIBLIOTECA NACIONAL',
       'AGENCIA NACIONAL DO CINEMA', 'FUNDACAO CULTURAL PALMARES',
       'INSTITUTO BRASILEIRO DE MUSEUS - IBRAM',
       'INSTITUTO DO PATRIMONIO HIST. E ART. NACIONAL',
       'INSTITUTO BRASILEIRO DE TURISMO - EM EXTINCAO',
       'CGOFC - SETORIAL/MTUR', 'FUNDACAO NACIONAL DE ARTES',
       'FUNDACAO CASA DE RUI BARBOSA',
       'SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR',
       'FUNDO DE IMPRENSA NACIONAL/EXEC.ORC.FINANC.',
       'SECRETARIA DE DIREITOS HUMANOS/PR',
       'SECRETARIA DE POLIT. DE PROM.DA IGUALD.RACIAL',
       'GABINETE DA VICE-PRESIDENCIA DA REPUBLICA',
       'INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI',
       'SECRETARIA DA MICRO E PEQUENA EMPRESA'], dtype=object)

Los 10 NOMBRE_UNIDAD_GESTORA que MAS aparecen son:

                                              count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
SETORIAL ORCAMENTARIA E FINANCEIRA / ME       11126                 5.72
FUNDO DO EXERCITO                              4468                 2.30
DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM   3672                 1.89
COORD.GERAL DE PLAN. ORC. FIN. E CONTAB/FNC    3087                 1.59
EMBRAPA-SETORIAL                               2739                 1.41
IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ   2363                 1.21
FUNDO DE UNIVERS.DOS SERV.TELECOMUNICACOES     2335                 1.20
AGENCIA NACIONAL DE TELECOMUNICACOES-SEDE      2323                 1.19
SECRETARIA DE ECON. E FIN.DA AER.- F.AER.      2259                 1.16
SPO-COORD.-GERAL DE ORC.E FINANCAS/MS          2191                 1.13

Los 10 NOMBRE_UNIDAD_GESTORA que MENOS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
CONSELHO NAC DE DESENV CIENT E TECNOLOGICO         1                 0.00
IBAMA - SUPERINTENDENCIA DO ESPIRITO SANTO/ES      1                 0.00
CAPES - DIFERENCA CAMBIAL                          1                 0.00
INST.FED. FLUMINENSE/CAMPUS CAMPOS-CENTRO          1                 0.00
FUNDACAO NACIONAL DE SAUDE - AP                    1                 0.00
COORDENACAO-GERAL DE RECURSOS LOGISTICOS           1                 0.00
FUNDACAO NACIONAL DE SAUDE - ES                    1                 0.00
FUNDACAO NACIONAL DE SAUDE - PB                    1                 0.00
FUNDACAO NACIONAL DE SAUDE - PA                    1                 0.00
FUNDACAO NACIONAL DE SAUDE - MT                    1                 0.00

 Las distribución de las repeticiones de los NOMBRE_UNIDAD_GESTORA son:

       count  % repetición
count
1         10          3.41
26         4          1.37
16         3          1.02
36         3          1.02
451        3          1.02
...      ...           ...
9          1          0.34
6          1          0.34
8          1          0.34
4          1          0.34
5          1          0.34

[248 rows x 2 columns]

None
La categoría CATEGORÍA_ECONÓMICA tiene 4 elementos diferentes:

Los elementos de la categoría son:

array(['Receitas Correntes', 'Receitas de Capital',
       'Receitas Correntes - intra-orçamentárias',
       'Receitas de Capital - intra-orçamentárias'], dtype=object)

Los 10 CATEGORÍA_ECONÓMICA que MAS aparecen son:

                                            count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                         186687                95.97
Receitas de Capital                          5194                 2.67
Receitas Correntes - intra-orçamentárias     2638                 1.36
Receitas de Capital - intra-orçamentárias      14                 0.01

Los 10 CATEGORÍA_ECONÓMICA que MENOS aparecen son:

                                            count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                         186687                95.97
Receitas de Capital                          5194                 2.67
Receitas Correntes - intra-orçamentárias     2638                 1.36
Receitas de Capital - intra-orçamentárias      14                 0.01

 Las distribución de las repeticiones de los CATEGORÍA_ECONÓMICA son:

        count  % repetición
count
186687      1         25.00
5194        1         25.00
2638        1         25.00
14          1         25.00

None
La categoría ORIGEN_INGRESO tiene 14 elementos diferentes:

Los elementos de la categoría son:

array(['Outras Receitas Correntes',
       'Impostos, Taxas e Contribuições de Melhoria',
       'Receitas Correntes - a classificar', 'Contribuições',
       'Receita Patrimonial', 'Receita de Serviços',
       'Operações de Crédito', 'Receita Agropecuária',
       'Transferências Correntes', 'Alienação de Bens',
       'Amortizações de Empréstimos', 'Receita Industrial',
       'Transferências de Capital', 'Outras Receitas de Capital'],
      dtype=object)

Los 10 ORIGEN_INGRESO que MAS aparecen son:

                                             count  Porcentaje_recuento
ORIGEN_INGRESO
Outras Receitas Correntes                    70647                36.32
Receita de Serviços                          62598                32.18
Receita Patrimonial                          28339                14.57
Impostos, Taxas e Contribuições de Melhoria  10538                 5.42
Contribuições                                 8536                 4.39
Receita Industrial                            3864                 1.99
Receita Agropecuária                          2380                 1.22
Alienação de Bens                             2298                 1.18
Amortizações de Empréstimos                   1981                 1.02
Transferências Correntes                      1330                 0.68

Los 10 ORIGEN_INGRESO que MENOS aparecen son:

                                    count  Porcentaje_recuento
ORIGEN_INGRESO
Contribuições                        8536                 4.39
Receita Industrial                   3864                 1.99
Receita Agropecuária                 2380                 1.22
Alienação de Bens                    2298                 1.18
Amortizações de Empréstimos          1981                 1.02
Transferências Correntes             1330                 0.68
Receitas Correntes - a classificar   1093                 0.56
Operações de Crédito                  681                 0.35
Outras Receitas de Capital            190                 0.10
Transferências de Capital              58                 0.03

 Las distribución de las repeticiones de los ORIGEN_INGRESO son:

       count  % repetición
count
70647      1          7.14
62598      1          7.14
28339      1          7.14
10538      1          7.14
8536       1          7.14
3864       1          7.14
2380       1          7.14
2298       1          7.14
1981       1          7.14
1330       1          7.14
1093       1          7.14
681        1          7.14
190        1          7.14
58         1          7.14

None
La categoría TIPO_INGRESO tiene 44 elementos diferentes:

Los elementos de la categoría son:

array(['Demais receitas correntes', 'Taxas',
       'Indenizações, restituições e ressarcimentos',
       'Multas administrativas, contratuais e judicia',
       'Receitas Correntes - a classificar', 'Contribuições econômicas',
       'Exploração do patrimônio imobiliário do Estad',
       'Serviços Administrativos e Comerciais Gerais',
       'Operações de crédito - mercado externo', 'Outros serviços',
       'Receita Agropecuária',
       'Transferências dos Estados e do Distrito Fede',
       'Bens, Direitos e Valores Incorporados ao Patr',
       'Alienação de bens imóveis',
       'Operações de crédito - mercado interno',
       'Exploração de recursos naturais', 'Alienação de bens móveis',
       'Transferências de Instituições Privadas',
       'Transferências Correntes',
       'Transferências da União e de suas Entidades',
       'Valores Mobiliários', 'Amortizações de Empréstimos',
       'Receita Industrial', 'Contribuições sociais', 'Impostos',
       'Serviços e Atividades Financeiras', 'Transferências de Capital',
       'Indenizações e restituições',
       'Delegação de Serviços Públicos Mediante Conce',
       'Serviços e Atividades Referentes à Saúde',
       'Serviços e Atividades Referentes à Navegação ',
       'Cessão de direitos', 'Demais receitas patrimoniais',
       'Transferências dos Municípios e de suas Entid',
       'Transferências de Pessoas Físicas',
       'Resultado do Banco Central do Brasil',
       'Receitas de valores mobiliários',
       'Remuneração das Disponibilidades do Tesouro',
       'Contribuições para Entidades Privadas de Serv',
       'Receita de concessões e permissões',
       'Alienação de bens intangíveis', 'Transferências de Convênios',
       'Resgate de Títulos do Tesouro',
       'Exploração do patrimônio intangível'], dtype=object)

Los 10 TIPO_INGRESO que MAS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Serviços Administrativos e Comerciais Gerais   54941                28.24
Indenizações, restituições e ressarcimentos    36471                18.75
Multas administrativas, contratuais e judicia  21059                10.83
Exploração do patrimônio imobiliário do Estad  16225                 8.34
Demais receitas correntes                      11798                 6.06
Taxas                                           8025                 4.13
Valores Mobiliários                             5508                 2.83
Contribuições econômicas                        5117                 2.63
Receita Industrial                              3864                 1.99
Contribuições sociais                           3403                 1.75

Los 10 TIPO_INGRESO que MENOS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Transferências de Capital                         39                 0.02
Receita de concessões e permissões                30                 0.02
Transferências da União e de suas Entidades       20                 0.01
Contribuições para Entidades Privadas de Serv     16                 0.01
Exploração do patrimônio intangível               14                 0.01
Resgate de Títulos do Tesouro                      9                 0.00
Resultado do Banco Central do Brasil               4                 0.00
Receitas de valores mobiliários                    3                 0.00
Alienação de bens intangíveis                      2                 0.00
Transferências de Convênios                        1                 0.00

 Las distribución de las repeticiones de los TIPO_INGRESO son:

       count  % repetición
count
150        2          4.55
36471      1          2.27
54941      1          2.27
16225      1          2.27
11798      1          2.27
8025       1          2.27
5508       1          2.27
5117       1          2.27
3864       1          2.27
3403       1          2.27
21059      1          2.27
3290       1          2.27
2891       1          2.27
2513       1          2.27
2784       1          2.27
1981       1          2.27
1969       1          2.27
1511       1          2.27
2380       1          2.27
1393       1          2.27
1197       1          2.27
1093       1          2.27
993        1          2.27
831        1          2.27
361        1          2.27
320        1          2.27
1465       1          2.27
228        1          2.27
177        1          2.27
122        1          2.27
82         1          2.27
54         1          2.27
49         1          2.27
39         1          2.27
30         1          2.27
20         1          2.27
16         1          2.27
14         1          2.27
9          1          2.27
4          1          2.27
3          1          2.27
2          1          2.27
1          1          2.27

None
La categoría DETALLE tiene 525 elementos diferentes:

Los elementos de la categoría son:

array(['ENCARGOS LEGAIS PELA INSCR.EM DIV.ATIVA-PRINC',
       'ONUS DE SUCUMBENCIA-MULTAS E JUROS',
       'OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL',
       'TAXA DE CONTROLE E FISC.AMBIENTAL-MUL.JUR.',
       'ONUS DE SUCUMBENCIA-PRINCIPAL',
       'RESTIT.DE DESPESAS DE EXERC.ANTERIORES-PRINC.',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-DIV.AT.',
       'OUTROS RESSARCIMENTOS-PRINCIPAL',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-PRINC.',
       'Receitas Correntes - a classificar',
       'MULTAS ADMINIST.POR DANOS AMBIENTAIS-PRINC.',
       'ENCARGOS LEGAIS PELA INSCR.EM DIV.AT.-MUL.JUR',
       'OUTRAS INDENIZACOES-PRINCIPAL',
       'MULTAS ADMINIST.POR DANOS AMBIENTAIS-MUL.JUR.',
       'TAXA DE CONTROLE E FISC.AMBIENTAL-PRINCIPAL',
       'OUTRAS INDENIZACOES-MULTAS E JUROS',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-MUL.JUR',
       'OUTRAS RECEITAS-PRIMARIAS-DIVIDA ATIVA',
       'CONDECINE-DIVIDA ATIVA-MULTAS E JUROS',
       'RESTIT.DE DESPESAS EXERC.ANTERIORES-MUL.JUR.',
       'OUTRAS RESTITUICOES-PRINCIPAL',
       'OUTRAS RECEITAS IMOBILIARIAS-PRINCIPAL',
       'INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS-PRINC.',
       'MULTAS PREV.EM LEG.ESPECIFICA-DIV.AT-MUL.JUR.',
       'OUTRAS RECEITAS-PRIMARIAS-MULTAS E JUROS',
       'SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.',
       'OP.DE CREDITO CONTRATUAIS-MERC.EXTERNO-PRINC.',
       'INDENIZ.P/DANOS CAUSADOS AO PATR.PUB.-PRINC.',
       'OUTROS SERVICOS-PRINCIPAL',
       'CONTR.S/APOSTAS EM COMPETICOES HIPICAS-PRINC.',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS-DIV.AT.',
       'RECEITA AGROPECUARIA-PRINCIPAL',
       'TRANSF.DOS ESTADOS,DF E SUAS ENTIDADES-PRINC.',
       'TAXAS PELA PRESTACAO DE SERVICOS-MULT.E JUROS',
       'ALIEN.DE BENS E MERCADORIAS APREENDIDOS-PRINC',
       'TAXAS INSPECAO,CONTROLE E FISCALIZACAO-PRINC.',
       'OUTROS RESSARCIMENTOS-DIVIDA ATIVA',
       'TX.CONTR.E FISC.PESCA E AQUICULTURA-MUL.JUR.',
       'ALUGUEIS E ARRENDAMENTOS-PRINCIPAL',
       'ALIENACAO DE BENS IMOVEIS-MULTAS E JUROS',
       'CONC/PERM/AUT/CESSAO DIR.USO IMOV.PUB-PRINC.',
       'INDENIZACAO POR SINISTRO-PRINCIPAL',
       'TITULOS DA DIVIDA AGRARIA-TDA-PRINCIPAL',
       'CONCESSAO FLOREST.NACIONAIS-VAL.MIN.-MUL.JUR.',
       'SERV.ADMINISTRAT.E COMERCIAIS GERAIS-MUL.JUR.',
       'ALIENACAO DE BENS MOVEIS E SEMOVENTES-MUL.JUR',
       'CONCESSAO FLORESTAS NACIONAIS-DEM.VAL.-PRINC.',
       'SERVICOS DE INFORMACAO E TECNOLOGIA-PRINCIPAL',
       'CONCESSAO FLORESTAS NACIONAIS-VAL.MIN.-PRINC.',
       'CONCESSAO FLOREST.NACIONAIS-DEM.VAL.-MUL.JUR.',
       'TRANSFERENCIAS DE INSTITUICOES PRIVADAS-PRINC',
       'TRANSFERENCIAS DO EXTERIOR-PRINCIPAL',
       'CUSTOS EDITAL DE CONCESSAO FLORESTAL-PRINC.',
       'SERV.DE REGIST.,CERTIF.E FISCALIZ.-MUL.JUR.',
       'TRANSFER.DA UNIAO E DE SUAS ENTIDADES-PRINC.',
       'ALIENACAO DE TITULOS MOBILIARIOS-PRINCIPAL',
       'ALIENACAO DE BENS MOVEIS E SEMOVENTES-PRINC.',
       'JUROS DE TITULOS DE RENDA-PRINCIPAL',
       'AMORT.EMPREST.-PROG.OP.OFICIAIS CRED.-PRINC.',
       'ALUGUEIS E ARRENDAMENTOS-MULTAS E JUROS',
       'RECEITA INDUSTRIAL-PRINCIPAL',
       'OUTRAS RESTITUICOES-MULTAS E JUROS',
       'RESTIT.PARCELAS SEGURO DESEMPR.RECEB.INDEVID.',
       'TX.CONTR.E FISC.PESCA E AQUICULTURA-PRINC.',
       'CONT.S/APOSTAS EM COMPETICOES HIPICAS-DIV.AT.',
       'SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL',
       'TAXAS PELA PRESTACAO DE SERVICOS-PRINCIPAL',
       'CONTRIBUICAO INDUSTRIAL RURAL-DIV.AT-MUL.JUR.',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS-MUL.JUR',
       'RECEITA INDUSTRIAL-MULTAS E JUROS', 'OUTROS IMPOSTOS-PRINCIPAL',
       'AMORTIZACAO EMPRESTIMOS CONTRATUAIS-MUL.JUR.',
       'DIVIDENDOS-PRINCIPAL', 'CONTRIBUICAO INDUSTRIAL RURAL-PRINCIPAL',
       'RESTITUICAO DE CONVENIOS-PRIMARIAS-PRINCIPAL',
       'ALIENACAO DE BENS IMOVEIS-PRINCIPAL',
       'REMUNERACAO DE DEPOSITOS BANCARIOS-PRINCIPAL',
       'AMORTIZACAO DE EMPRESTIMOS CONTRATUAIS-PRINC.',
       'RETORNO DE OP.,JUR.E ENC.FINANCEIROS-PRINC.',
       'OUTRAS RECEITAS-PRIMARIAS-DIV.ATIVA-MUL.JUR.',
       'OUTRAS RECEITAS-FINANCEIRAS-DIVIDA ATIVA',
       'ALIENACAO DE ESTOQUES DE CAFE-FUNCAFE-PRINC.',
       'ALIENACAO DE ESTOQUES DE CAFE-FUNCAFE-DIV.AT.',
       'ALIENACAO DE BENS IMOVEIS-JUROS',
       'AMORTIZACAO DE FINANCIAMENTOS-PRINCIPAL',
       'TAXAS INSPECAO,CONTROLE E FISCALIZ.-MUL.JUR.',
       'CONTRIBUICAO INDUSTRIAL RURAL-DIVIDA ATIVA',
       'CONTRIBUICAO INDUSTRIAL RURAL-MULTAS E JUROS',
       'OUTROS SERVICOS-MULTAS E JUROS',
       'ADICIONAL A CONTR.PREVIDENCIARIA RURAL-PRINC.',
       'ALIENACAO DE BENS IMOVEIS-MULTAS',
       'RECEITA AGROPECUARIA-MULTAS E JUROS',
       'RESTITUICAO DE CONVENIOS-PRIMARIAS-MUL.JUR.',
       'CONT.S/APOSTAS EM COMPETICOES HIPICAS-MUL.JUR',
       'REMUN.SALDOS RECURSOS NAO-DESEMBOLSADOS-PRINC',
       'CONTRIBUICAO SOBRE A LOTERIA FEDERAL-PRINCIP.',
       'ALIEN.BENS E MERCADORIAS APREENDIDOS-MUL.JUR.',
       'CONTRIBUICAO SOBRE LOTERIAS DE NUMEROS-PRINC.',
       'RESSARCIMENTO DE CUSTOS-PRINCIPAL',
       'CONTRIBUICAO SOBRE LOTERIAS ESPORTIVAS-PRINC.',
       'CONTRIB.S/CONCURS.PROGNOST.-MOD.FUT-PRINCIPAL',
       'TRANSF.PROVENIENTES DEP.NAO IDENTIFIC.-PRINC.',
       'TRANSFERENCIAS DE PESSOAS FISICAS-PRINCIPAL',
       'ALIEN.ESTOQ.PROG.AQUIS.ALIMENTOS-PAA-PRINC.',
       'OUTROS RESSARCIMENTOS-MULTAS E JUROS',
       'CONTR.S/REC.CONCESS.PERM.ENERG.ELETR.-PRINC.',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELEC.-MUL.JUR',
       'COMPENS.FINANC.EXPL.RECURSOS MINERAIS-PRINC.',
       'COMPENS.FINAN.EXPL.RECURSOS MINERAIS-MUL.JUR.',
       'CIDE-REMESSAS AO EXTERIOR-PRINCIPAL',
       'COTA-PARTE DO AFRMM-MULTAS E JUROS',
       'COTA-PARTE DO AFRMM-DIVIDA ATIVA',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-PRINC.',
       'COTA-PARTE DO AFRMM-PRINCIPAL',
       'UTILIZACAO DE RECURSOS HIDRICOS-ITAIPU-PRINC.',
       'CESSAO DIREITO USO DE RADIOFREQUENCIA-PRINC.',
       'CONTR.S/FATUR.EMPR.INFO.INST.AMAZONIA-MUL.JUR',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-MUL.JUR.',
       'CONTR.S/FATUR.EMPR.INFO.INST.DEM.REG.-MUL.JUR',
       'CESSAO DIR.EXPLOR.SATELITE BRASILEIRO-PRINC.',
       'SERVICOS DE INFORMACAO E TECNOLOGIA-MUL.JUR.',
       'CESSAO DIREITO USO DE RADIOFREQUENCIA-MUL.JUR',
       'COTA-PARTE DO AFRMM-DIVIDA ATIVA-MUL.JUR.',
       'EMPRÉSTIMOS COMPULSÓRIOS',
       'CONTR.S/FATUR.EMPR.INFO.INST.DEM.REG.-PRINC.',
       'CONTR.S/FATUR.EMPR.INFO.INST.AMAZONIA-PRINC.',
       'COMPENS.FINANC.EXPL.RECURSOS MINERAIS-DIV.AT.',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELECOM-PRINC.',
       'CONTR.S/REC.CONCESS.PERM.ENERG.ELETR.-MUL.JUR',
       'COMPENS.FIN.EXPL.REC.MINERAIS-DIV.AT.-MUL.JUR',
       'SERVICOS DE ATENDIMENTO A SAUDE-PRINCIPAL',
       'CONTR.P/DESENV.ENSINO PROF.MARITIMO-MUL.JUR.',
       'CONTR.P/DESENV.ENSINO PROF.MARITIMO-PRINCIPAL',
       'CONTR.P/DESENV.ENSINO PROF.MARITIMO-DIV.ATIVA',
       'CONTR.P/DES.ENS.PROF.MARITIMO-DIV.AT-MUL.JUR.',
       'SERV.ASSIST.MEDICO-HOSP.DO MILITAR-PRINCIPAL',
       'INDENIZ.P/DANOS CAUSADOS AO PATR.PUB.-MUL.JUR',
       'SERV.ASSIST.SAUDE SUPLEM.SERV.CIVIL-PRINC.',
       'SERVICOS PORTUARIOS-PRINCIPAL', 'REVERSAO DE GARANTIAS-PRINCIPAL',
       'TARIFA AEROPORTUARIA-PRINCIPAL',
       'CONTR.P/CUSTEIO DAS PENSOES MILITARES-MUL.JUR',
       'CESSAO DO DIR.OPERACIONALIZACAO PAGTOS-PRINC.',
       'DEMAIS RECEITAS PATRIMONIAIS-PRINCIPAL',
       'SERVICOS DE NAVEGACAO-MULTAS E JUROS',
       'TRANSF.DOS MUNICIPIOS E SUAS ENTIDADES-PRINC.',
       'OUTRAS OP.DE CREDITO-MERCADO EXTERNO-PRINC.',
       'SERVICOS DE ATENDIMENTO A SAUDE-MUL.JUR.',
       'CESSAO DIR.OPERACIONALIZACAO PAGTOS-MUL.JUR.',
       'SERV.ASSIST.MEDICO-HOSP.DO MILITAR-MUL.JUR.',
       'SERVICOS DE NAVEGACAO-PRINCIPAL',
       'OP.CREDITO CONTRATUAIS-MERCADO INTERNO-PRINC.',
       'REMUNERACAO DE DEPOSITOS BANCARIOS-MUL.JUR.',
       'INSCR.EM CONCURSOS E PROC.SELETIVOS-MUL.JUR.',
       'CONTR.P/CUSTEIO DAS PENSOES MILITARES-PRINC.',
       'SERVICOS DE TRANSPORTE-PRINCIPAL',
       'IRPJ-LIQUIDA DE INCENTIVOS-MULTAS E JUROS',
       'CONTR.S/REMUN.DEVIDA AO TRABALHADOR-PRINCIPAL',
       'IRRF-OUTROS RENDIMENTOS-INTRA ORÇAMENTÁRIA',
       'IOF - COMERCIALIZACAO DO OURO',
       'ROY.PETR.PLAT.-PARTILHA-COM.A P.3/12/12-PRINC',
       'CIDE-REMESSAS AO EXTERIOR-DIVIDA ATIVA',
       'CONTRIB.SOCIAL SOBRE LUCRO LIQ.-CSLL-MUL.JUR.',
       'TAXA DE FISCALIZACAO DE FUNCIONAMENTO-DIV.AT.',
       'RECEITA DE PARCELAMENTOS - IMPOSTO EXPORTACAO',
       'OUTRAS CONTRIBUICOES SOCIAIS-DIV.AT.-MUL.JUR.',
       'IRRF-REMESSA AO EXTERIOR-MULTAS E JUROS',
       'DELEG.P/PREST.SERV.TRANSP.FERROVIARIO-PRINC.',
       'CONTRIB.SOCIAL SOBRE LUCRO LIQ.-CSLL-DIL.AT.',
       'JUROS SOBRE O CAPITAL PROPRIO-MULTAS E JUROS',
       'IRRF-OUTROS RENDIMENTOS-PRINCIPAL',
       'MUL.P/DESCUMP.OBRIG.PREVID.ACESSORIA-PRINC.',
       'CONTRIBUICAO PARA O PIS/PASEP-DIV.AT-MUL.JUR.',
       'TAXAS INSPECAO,CONTROLE E FISCALIZACAO-DIV.AT',
       'OUTROS IMPOSTOS-DIVIDA ATIVA',
       'CONTRIB.S/SORT.REALIZ.POR ENT.FILANT.-MUL.JUR',
       'P.ESP.PETRO.PLAT-COM.ANT.3/12/12-DEMAIS-PRINC',
       'TAXA DE FISCALIZACAO DE INSTALACAO-PRINCIPAL',
       'RETIDO NAS FONTES - CAPITAL', 'COFINS-MULTAS E JUROS',
       'COFINS-PRINCIPAL', 'CONTRIB.PATR.P/RPPS ORIUNDA SENT.JUD.-PRINC.',
       'IRRF-TRABALHO', 'CONTRIB.PARA SERV.NACIONAL APREND.COM.-SENAC',
       'TITULOS DE RESPONS.TES.NAC.-MERC.INT.-PRINC.',
       'CONTRIB.PATR.DE SERV.ATIVO CIV.P/RPPS-DIV.AT.',
       'IPI - PRODUTOS DO FUMO',
       'RES.BACEN-OP.C/RESERV.E DERIV.CAMBIAIS-PRINC.',
       'CONTRIBUICAO PARA O ENSINO AEROVIARIO-PRINC.',
       'IOF-OURO-PRINCIPAL',
       'CONTRIB.P/ASSIST.MEDICO-HOSPITALAR-PMDF/CBMDF',
       'OUTROS RESSARCIMENTOS-DIVIDA ATIVA-MUL.JUR.',
       'ITR-MUNICIPIOS CONVENIADOS-PRINCIPAL', 'IRPF-PRINCIPAL',
       'IRPF-DIVIDA ATIVA-MULTAS E JUROS',
       'CONTRIB.SOCIAL DO SALARIO-EDUCACAO-MUL.JUR.',
       'IPI-BEBIDAS-MULTAS E JUROS', 'CONDECINE-MULTAS E JUROS',
       'PRESTACAO DE CONTAS ELEITORAIS-PRINCIPAL',
       'CONTR.REL.ATIV.IMP.PETR.DER. GAS NAT.ALC.CARB',
       'ITR - MUNICIPIOS NAO-CONVENIADOS',
       'RESTITUICAO DE RECURSOS DE FOMENTO-PRINCIPAL',
       'REMUNER.DISPONIBILIDADES TES.NACIONAL-PRINC.',
       'IRRF-TRABALHO-MULTAS/JUROS-INTRA ORÇAMENTÁRIA',
       'IRRF-TRABALHO-DIVIDA ATIVA-MULTAS E JUROS',
       'OUTRAS DELEG.DOS SERVICOS DE TELECOM-DIV.AT.',
       'CONTR.REL.DESPED.EMPREG.S/JUSTA CAUSA-PRINC.',
       'CONTRIBUICOES P/O RGPS-MULTAS E JUROS',
       'CIDE-COMBUSTIVEIS-COMERCIALIZACAO-DIV.ATIVA',
       'RETIDO NAS FONTES - OUTROS RENDIMENTOS',
       'CONTRIB.SERV.INAT.E PENS.CIV.P/RPPS-PRINCIPAL',
       'RETORNO DE OP.,JUR.E ENC.FINANCEIROS-MUL.JUR.',
       'CONCESSAO DE AVAIS,GARANTIAS E SEGUROS-PRINC.',
       'ITR-MUNICIPIOS NAO CONVENIADOS-PRINCIPAL',
       'CONTRIBUICAO PARA O ENSINO AEROVIARIO-MUL.JUR',
       'IPI-OUTROS PRODUTOS-REC.INTRA ORÇAMENTÁRIA',
       'OUTRAS CONTRIBUICOES SOCIAIS-PRINCIPAL',
       'PARTICIPACOES-PRINCIPAL', 'CONTRIBUICAO PARA O SENAT',
       'CONTRIB.SERV.INAT.E PENS.CIV.P/RPPS-MUL.JUR.',
       'CONTRIB.PATR.DE SERV.ATIVO CIV.P/RPPS-PRINC.',
       'IRRF-REMESSA AO EXTERIOR-INTRA ORÇAMENTÁRIA',
       'CONT.P/ENT.PRIV.SERV.SOC.E FORM.PROFIS.-PRINC',
       'IPI - VINCULADOS A IMPORTACAO',
       'RESTIT.DE BENEFICIOS PREVIDENCIARIOS-PRINC.',
       'IOF - DEMAIS OPERACOES',
       'REC.DO PRINCIPAL DO IMPOSTO S/ A IMPORT.',
       'BONUS ASSINAT.CONTRATO PARTILHA PRODUC.-PRINC',
       'OUTRAS RECEITAS-FINANCEIRAS-PRINCIPAL',
       'TAXA DE FISCALIZACAO DE FUNCIONAMENTO-PRINC.',
       'CONTRIB.S/SORT.REALIZ.POR ENT.FILANT.-PRINC.',
       'IPI-OUTROS PRODUTOS-DIVIDA ATIVA-MUL.JUR.',
       'CONTRIBUIçãO P/ LIC.USO,AQUIS.OU TRANSF.TECN.',
       'REC. DO PRINCIPAL DO IMPOSTO S/ A EXPORTACAO',
       'RESTIT.DE BENEFICIOS PREVIDENCIARIOS-MUL.JUR.',
       'TX.INSP,CONTROL.E FISCALIZ.-DIV.AT.-MUL.JUR.',
       'OUTROS IMPOSTOS-DIVIDA ATIVA-MULTAS E JUROS',
       'MULTAS PREV.NA LEI GERAL DAS TELECOM.-MUL.JUR',
       'IMPOSTO SOBRE A EXPORTACAO-MULTAS E JUROS',
       'CONTRIB.PATR.DE SERV.ATIVO CIV.P/RPPS-MUL.JUR',
       'TX.FISCALIZACAO DE INSTALACAO-DIV.AT-MUL.JUR.',
       'IMPOSTO SOBRE A IMPORTACAO-DIV.AT.-MUL.JUR.',
       'CONTR.DO SERV. ATIVO CIVIL P/ REGIME PROPRIO',
       'REMUN.S/REPASSE P/PROG.DESENV.ECONOMICO-PRINC',
       'CONC/PERM/AUT/CESSAO DIR.USO IMOV.PUB-MUL.JUR',
       'IMPOSTO SOBRE A IMPORTACAO-MULTAS E JUROS', 'IRPF-DIVIDA ATIVA',
       'CONTRIB.P/ASSIST.MEDICO-HOSPIT.-CBMDF-PRINC.',
       'CIDE-COMBUSTIVEIS-COMERCIALIZACAO-PRINCIPAL',
       'IPI-FUMO-PRINCIPAL', 'TAXAS PELA PRESTACAO DE SERVICOS-DIV.ATIVA',
       'CONTRIBUICAO PARA O PIS/PASEP-MULTAS E JUROS',
       'RESSARCIMENTO DE CUSTOS-MULTAS E JUROS',
       'IPI-FUMO-MULTAS E JUROS',
       'CONTRIBUICAO PARA O PIS/PASEP-DIVIDA ATIVA',
       'ITR-MUNICIPIOS NAO CONVENIADOS-MULTAS E JUROS',
       'CONTRIBUICAO PARA O PIS/PASEP-PRINCIPAL',
       'RECEITA DE PARC - CONTR. EMP/TRAB SEG. SOCIAL',
       'IRRF-REMESSA AO EXTERIOR-PRINCIPAL',
       'COMPENS.FIN.ENTRE RGPS E RPPS-DIV.AT-MUL.JUR.',
       'RESSARCIMENTO AO RGPS-MULTAS E JUROS',
       'BONUS ASSINAT.CONTRATO DE CONCESSAO-MUL.JUR.',
       'COFINS-DIVIDA ATIVA-MULTAS E JUROS',
       'MULTAS E J. MORA DE OUTRAS CONTR. PREVIDENC.',
       'CONT. SERV. NAC. DE APRENDIZ. COOPER.-SESCOOP',
       'IPI-BEBIDAS-REC.INTRA ORÇAMENTÁRIA',
       'MULTAS APLICADAS PELOS TRIB.DE CONTAS-PRINC.',
       'INDENIZ.POSSE/OCUP.ILICITA BENS PUB.-MUL.JUR.',
       'RESTITUICAO DE BENEFICIOS ASSISTENCIAIS-PRINC',
       'IRPJ-LIQUIDA DE INCENTIVOS-PRINCIPAL',
       'MUL.P/DESCUMP.OBRIG.PREVID.ACESSORIA-MUL.JUR.',
       'IMPOSTO SOBRE A RENDA DE PESSOA FISICA-IRPF',
       'FOROS,LAUDEMIOS,TARIFAS DE OCUPACAO-PRINCIPAL',
       'CONTR.REL.ATIV.COM.PETR.DER. GAS NAT.ALC.CARB',
       'MULTAS PREV.LEG.SEG.DESEMP.AB.SALAR.-DIV.AT.',
       'REC.DO PRINCIPAL DA CONTR. P FIN. SEG. SOCIAL',
       'BARREIRAS TECNICAS AO COMERC.EXTERIOR-MUL.JUR',
       'BARREIRAS TECNICAS AO COMERCIO EXTERIOR-PRINC',
       'IOF-OURO-MULTAS E JUROS',
       'TAXA DE FISCALIZACAO DE INSTALACAO-DIV.ATIVA',
       'CONTR.S/REC.OP.BRT DECOR.SERV.TELECOM-PRINC.',
       'CONTRIBUICAO DE PENSIONISTA CIVIL - RPPS',
       'APORTES PERIÓD.P/AMORT.DÉFICIT ATUARIAL RPPS',
       'CONTRIBUICOES P/O RGPS-PRINCIPAL',
       'IMPOSTO SOBRE A IMPORTACAO-PRINCIPAL',
       'CONTRIB.SOC.S/LUCRO LIQ.-CSLL-DIV.AT-MUL.JUR.',
       'RESTIT.PARCELAS SEG.DESEMP.REC.INDEV.-MUL.JUR',
       'DEL.SERV.RADIODIF.SONORA E SOM/IMAGEM-MUL.JUR',
       'FOROS,LAUDEMIOS,TARIFAS DE OCUPACAO-MUL.JUR.',
       'ITR - MUNICIPIOS CONVENIADOS',
       'ALIENACAO DE BENS INTANGIVEIS-PRINCIPAL',
       'CONTRIB.P/FOMENTO RADIODIFUSAO PUBLICA-PRINC.',
       'SELO ESPECIAL DE CONTROLE', 'CONTRIBUICAO PARA O SEBRAE',
       'PESSOAS JURIDICAS - LIQUIDA DE INCENTIVOS', 'IPI-BEBIDAS',
       'TITULOS DE RESPONS.TES.NAC.-MERC.EXT.-PRINC.', 'IPI - BEBIDAS',
       'RESTIT.CONTRIB.PREVID.COMPLEMENTARES-PRINC.',
       'TIT.RESP.TN-REFIN.DIV.PUB.FED.MERC.INT.-PRINC',
       'DELEG.SERV.TELEC.-POD.CONC.NO REG.PUB.-PRINC.',
       'IRRF-CAPITAL-MULTAS E JUROS',
       'CONTRIB.P/ASSIST.MEDICO-HOSPIT.-PMDF-PRINC.',
       'IPI-BEBIDAS-MULTAS E JUROS-INTRA ORÇAMENTÁRIA',
       'CONTR.MOV.TRANSM.VAL.CRED.DIR.NAT.FIN.-PRINC.',
       'MULTAS PREV.LEG.SEG.DESEMP.AB.SALAR.-MUL.JUR.',
       'CONTRIB.SERV.AT.CIV.P/RPPS-SENT.JUD.-PRINC.',
       'IMPOSTO SOBRE A EXPORTACAO-PRINCIPAL',
       'CONTRIB.P/O RGPS INCIDENTES SOBRE A REC.BRUTA',
       'PREMIOS PRESCRITOS CONC.PROGNOSTICOS-MUL.JUR.',
       'CONTRIB.SOCIAL SOBRE O LUCRO LIQUIDO-CSLL',
       'IPI-OUTROS PRODUTOS-PRINCIPAL',
       'CONTRIBUICAO PARA O PROTERRA-PRINCIPAL',
       'IRRF-TRABALHO-PRINCIPAL',
       'IPI-VINCULADOS A IMPORTACAO-MULTAS E JUROS',
       'CONTRIB.SOCIAL SOBRE LUCRO LIQ.-CSLL-PRINC.',
       'CONTRIB. PARA O CUSTEIO DAS PENSOES MILITARES',
       'CIDE-COMBUSTIVEIS-IMPORTACAO-PRINCIPAL',
       'TX.PELA PRESTACAO DE SERVICOS-DIV.AT-MUL.JUR.',
       'IOF-DEMAIS OPERACOES-MULTAS E JUROS',
       'LOJAS FRANCAS ENTREP.ADUAN. DEP.ALFANDEGADOS',
       'RESTIT.BENEFICIOS NAO DESEMBOLSADOS-PRINCIPAL',
       'CONTRIBUICOES DO SEGURADO - ASSALARIADO',
       'COMPENS.FINANCEIRAS ENTRE RGPS E RPPS-MUL.JUR',
       'DIVIDENDOS-MULTAS E JUROS',
       'CONTRIB.SERVIDOR ATIVO CIVIL P/RPPS-PRINCIPAL',
       'IMPOSTO SOBRE A EXPORTACAO-DIVIDA ATIVA',
       'ROY.EXC.PETRO.PLAT-COM.A PARTIR 3/12/12-PRINC',
       'CONTRIBUICOES P/O RGPS-DIVIDA ATIVA',
       'ROY.EXC.PETRO.PLAT-COM.ANT.3/12/12-DEM.-PRINC',
       'CONTRIBUICAO PARA O SESI',
       'DEL.SERV.RADIODIF.SONORA E SOM/IMAGEM-PRINC.',
       'APORTES PERIOD.P/COMPENSACOES AO RGPS-PRINC.',
       'PREMIOS PRESCRITOS CONCUR.PROGNOSTICOS-PRINC.',
       'IPI-VINCULADOS IMPORTAÇÃO-MULTAS/JUROS-INTRA',
       'DEL.SERV.TELEC.-POD.CONC.NO REG.PUB.-MUL.JUR.',
       'IPI-AUTOMOVEIS-MULTAS E JUROS', 'RECEITA DE PARCELAMENTOS - IRPJ',
       'CONTRIB.PARA SERV.NAC.APRENDIZ.INDUS.-SENAI',
       'REMUNERACAO DE DEPOSITOS ESPECIAIS-PRINCIPAL',
       'IPI-OUTROS PRODUTOS-DIVIDA ATIVA',
       'RECEITA DE PARCELAMENTOS - IRPF',
       'ITR-MUNICIPIOS NAO CONVENIADOS-DIV.AT-MUL.JUR',
       'OUTRAS CONTRIBUICOES SOCIAIS-DIVIDA ATIVA',
       'ITR-MUNICIPIOS NAO CONVENIADOS-DIVIDA ATIVA',
       'IPI-VINCULADOS A IMPORTACAO-PRINCIPAL',
       'CONTRIBUICOES P/O RGPS-DIVIDA ATIVA-MUL.JUR.',
       'IPI-AUTOMOVEIS-PRINCIPAL',
       'CIDE-REMESSAS AO EXTERIOR-MULTAS E JUROS',
       'RECEITA DE PARCELAMENTOS - COFINS',
       'ALIENACAO DE ESTOQUES DA PGPM-PRINCIPAL',
       'CONTRIBUICAO SOBRE LOTERIA INSTANTANEA-PRINC.',
       'RESULTADO DO BACEN-DEMAIS OPERACOES-PRINCIPAL',
       'IOF-DEMAIS OPERACOES-PRINCIPAL',
       'DEP.ABANDONADOS(DINHEIRO/OBJ.DE VALOR)-PRINC.',
       'CONTRIB.SERVIDOR ATIVO CIVIL P/RPPS-MUL.JUR.',
       'OUTRAS DELEG.DOS SERVICOS DE TELECOM-PRINC.',
       'COMPENS.FINANCEIRAS ENTRE RGPS E RPPS-PRINC.',
       'REC.DO PRINCIPAL DAS CONTR. P/ O PIS/PASEP',
       'IPI-OUTROS PRODUTOS-MULTAS E JUROS',
       'AMORTIZ.PROV.EXEC.DE GARANTIA-OP.CRED.-PRINC.',
       'CIDE-REMESSAS AO EXTERIOR-DIV.AT.-MUL.JUR.',
       'REC. DO PRINCIPAL DA CONTRIB S/LUCRO PJ',
       'CONTRIBUICAO PARA O SESC', 'SIMPLES',
       'IRPJ-LIQUIDA DE INCENTIVOS-DIV.AT.-MUL.JUR.',
       'CONTRIB.P/RGPS DECORRENTES DE ACOES JUDICIAIS',
       'REC.DO PRINCIPAL DA CONTR. S/ MOV. FINANCEIRA',
       'IOF-DEMAIS OPERACOES-DIVIDA ATIVA-MUL.JUR.',
       'MULTAS PREV.NA LEI GERAL DAS TELECOM.-PRINC.',
       'INDENIZ.POSSE/OCUP.ILICITA BENS PUB.-PRINC.',
       'IRRF-OUTROS RENDIMENTOS-MULTAS E JUROS', 'IPI - VEICULOS',
       'CIDE-COMBUSTIVEIS-IMPORTACAO-MULTAS E JUROS',
       'TX.CONTROLE E FISCALIZ.PROD.QUIMICOS-PRINC.',
       'RESTIT.PARCELAS SEG.DESEMPR.REC.INDEV.-PRINC.',
       'VARIACAO CAMBIAL-PRINCIPAL',
       'BONUS ASSINAT.DE CONTRATO DE CONCESSAO-PRINC.',
       'CONT.MOV.TRANSM.VAL.CRED.DIR.NAT.FIN.-MUL.JUR',
       'MULTAS DECORRENTES DE SENTENCAS JUD.-DIV.AT.',
       'IPI-OUTROS PRODUTOS-MULTAS/JUROS-INTRA ORÇAM.',
       'CONTR.S/APOSTAS COMPET.HIPICAS-DIV.AT-MUL.JUR',
       'CONTR.MOV.TRANSM.VAL.CRED.DIR.NAT.FIN.-DIV.AT',
       'COTA-PARTE DA CONTRIBUICAO SINDICAL-MUL.JUR.',
       'CONTRIBUICAO DO SERVIDOR INATIVO CIVIL - RPPS',
       'CONTR.LOJ.FR.ENTREP.ADUAN.DEP.ALFAND.-PRINC.',
       'ROYAL.EXCED.PROD.PETRO.TERRA(QQ SIT.)-PRINC.',
       'IMPOSTO SOBRE A EXPORTACAO-DIV.AT.-MUL.JUR.',
       'ROY.PETRO.PLAT-COM.ANTES 3/12/12-DEMAIS-PRINC',
       'CONTR.S/ARREC.FUNDOS INVEST.REGIONAIS-PRINC.',
       'IRPJ-LIQUIDA DE INCENTIVOS-DIVIDA ATIVA',
       'CONTRIB. DE EMPRESAS S/SEGURADOS ASSALARIADOS',
       'P.ESP.PETRO.PLAT-COM.ANT.3/12/12-P.SAL-PRINC.',

Los 10 DETALLE que MAS aparecen son:

                                               count  Porcentaje_recuento
DETALLE
SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.    30237                15.54
INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL  15044                 7.73
ALUGUEIS E ARRENDAMENTOS-PRINCIPAL             13405                 6.89
RESTIT.DE DESPESAS DE EXERC.ANTERIORES-PRINC.  11882                 6.11
MULTAS PREVISTAS EM LEGISL.ESPECIFICA-PRINC.    9541                 4.90
OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL             6392                 3.29
OUTRAS RESTITUICOES-PRINCIPAL                   6278                 3.23
OUTROS RESSARCIMENTOS-PRINCIPAL                 5339                 2.74
REMUNERACAO DE DEPOSITOS BANCARIOS-PRINCIPAL    5202                 2.67
RESTITUICAO DE CONVENIOS-PRIMARIAS-PRINCIPAL    4645                 2.39

Los 10 DETALLE que MENOS aparecen son:

                                               count  Porcentaje_recuento
DETALLE
MULTAS JUDICIAIS POR DANOS AMBIENTAIS-MUL.JUR      1                 0.00
TAXA DE CONTROLE E FISCALIZACAO AMBIENTAL          1                 0.00
SERV.ADMINISTRAT.E COMERCIAIS GERAIS-DIV.AT.       1                 0.00
OUTRAS OP.DE CREDITO-MERCADO EXTERNO-PRINC.        1                 0.00
RESTIT.CONTRIB.PREVID.COMPLEMENTARES-PRINC.        1                 0.00
OP.CREDITO CONTRATUAIS-MERCADO INTERNO-PRINC.      1                 0.00
IPI-BEBIDAS-REC.INTRA ORÇAMENTÁRIA                 1                 0.00
OUTRAS RECEITAS-FINANCEIRAS-MULTAS E JUROS         1                 0.00
BONUS ASSINAT.CONTRATO PARTILHA PRODUC.-PRINC      1                 0.00
TAXA POR PLANO DE ASSISTENCIA A SAUDE              1                 0.00

 Las distribución de las repeticiones de los DETALLE son:

       count  % repetición
count
2         77         14.67
1         17          3.24
38        13          2.48
7         11          2.10
4         11          2.10
...      ...           ...
51         1          0.19
48         1          0.19
64         1          0.19
23         1          0.19
22         1          0.19

[197 rows x 2 columns]

None
La categoría VALOR_PREVISTO_ACTUALIZADO tiene 1835 elementos diferentes:

Los elementos de la categoría son:

array([0.00000000e+00, 5.26500000e+06, 5.75870900e+06, ...,
       1.40000021e+08, 5.00000000e+04, 4.18794320e+07])

Los 10 VALOR_PREVISTO_ACTUALIZADO que MAS aparecen son:

                             count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
0.00                        192639                99.03
2665287.00                       4                 0.00
60000000.00                      3                 0.00
2500000.00                       3                 0.00
8800597.00                       3                 0.00
10000000.00                      3                 0.00
45575.00                         2                 0.00
600000.00                        2                 0.00
25000000.00                      2                 0.00
300000.00                        2                 0.00

Los 10 VALOR_PREVISTO_ACTUALIZADO que MENOS aparecen son:

                            count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
368.00                          1                 0.00
13821.00                        1                 0.00
5500.00                         1                 0.00
4419255.00                      1                 0.00
293994.00                       1                 0.00
208146.00                       1                 0.00
836613.00                       1                 0.00
19460.00                        1                 0.00
652761.00                       1                 0.00
144593.00                       1                 0.00

 Las distribución de las repeticiones de los VALOR_PREVISTO_ACTUALIZADO son:

        count  % repetición
count
1        1780         97.00
2          49          2.67
3           4          0.22
192639      1          0.05
4           1          0.05

None
La categoría VALOR_REGISTRADO tiene 1003 elementos diferentes:

Los elementos de la categoría son:

array([ 0.00000000e+00,  3.66572200e+04,  1.72007883e+10, ...,
       -6.68250000e+02,  9.00000000e+02,  5.07434478e+06])

Los 10 VALOR_REGISTRADO que MAS aparecen son:

                   count  Porcentaje_recuento
VALOR_REGISTRADO
0.00              193450                99.44
-0.01                 29                 0.01
0.01                  24                 0.01
0.02                   8                 0.00
0.11                   4                 0.00
10626690.04            2                 0.00
599946657.90           2                 0.00
3855.61                2                 0.00
13593292.06            2                 0.00
-88175108.14           2                 0.00

Los 10 VALOR_REGISTRADO que MENOS aparecen son:

                  count  Porcentaje_recuento
VALOR_REGISTRADO
270.00                1                 0.00
-1.00                 1                 0.00
-270.00               1                 0.00
1.00                  1                 0.00
689.04                1                 0.00
-689.04               1                 0.00
668.25                1                 0.00
-668.25               1                 0.00
900.00                1                 0.00
-2697527523.87        1                 0.00

 Las distribución de las repeticiones de los VALOR_REGISTRADO son:

        count  % repetición
count
1         978         97.51
2          20          1.99
193450      1          0.10
24          1          0.10
29          1          0.10
4           1          0.10
8           1          0.10

None
La categoría VALOR_REALIZADO tiene 129122 elementos diferentes:

Los elementos de la categoría son:

array([1.5494898e+05, 8.0840000e+01, 4.9961100e+03, ..., 1.1527000e+04,
       3.9661000e+04, 5.4122400e+03])

Los 10 VALOR_REALIZADO que MAS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
0.00              2972                 1.53
100.00             745                 0.38
20.00              667                 0.34
30.00              563                 0.29
200.00             551                 0.28
60.00              550                 0.28
10.00              522                 0.27
50.00              501                 0.26
300.00             482                 0.25
150.00             444                 0.23

Los 10 VALOR_REALIZADO que MENOS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
254.29               1                 0.00
319.17               1                 0.00
238.31               1                 0.00
661.38               1                 0.00
142118.70            1                 0.00
508.81               1                 0.00
480245.49            1                 0.00
122590.76            1                 0.00
374898.82            1                 0.00
139083.93            1                 0.00

 Las distribución de las repeticiones de los VALOR_REALIZADO son:

        count  % repetición
count
1      115189         89.21
2        7410          5.74
3        2458          1.90
4        1155          0.89
5         668          0.52
...       ...           ...
124         1          0.00
123         1          0.00
122         1          0.00
65          1          0.00
62          1          0.00

[145 rows x 2 columns]

None
La categoría PORCENTAJE_REALIZADO tiene 29 elementos diferentes:

Los elementos de la categoría son:

array([  0.,   1., 101.,   2.,   4.,   5., 385.,  28.,  21., 125.,  50.,
        -3.,   3.,   6.,  86.,  35.,  46.,  -8.,  14.,  22.,  26.,  23.,
        -1.,  65., 312.,   7.,  33.,  17.,  13.])

Los 10 PORCENTAJE_REALIZADO que MAS aparecen son:

                       count  Porcentaje_recuento
PORCENTAJE_REALIZADO
0.00                  194412                99.94
1.00                      67                 0.03
2.00                      16                 0.01
3.00                       5                 0.00
4.00                       4                 0.00
21.00                      3                 0.00
5.00                       3                 0.00
6.00                       2                 0.00
101.00                     1                 0.00
28.00                      1                 0.00

Los 10 PORCENTAJE_REALIZADO que MENOS aparecen son:

                      count  Porcentaje_recuento
PORCENTAJE_REALIZADO
22.00                     1                 0.00
26.00                     1                 0.00
23.00                     1                 0.00
-1.00                     1                 0.00
65.00                     1                 0.00
312.00                    1                 0.00
7.00                      1                 0.00
33.00                     1                 0.00
17.00                     1                 0.00
13.00                     1                 0.00

 Las distribución de las repeticiones de los PORCENTAJE_REALIZADO son:

        count  % repetición
count
1          21         72.41
3           2          6.90
194412      1          3.45
67          1          3.45
5           1          3.45
16          1          3.45
4           1          3.45
2           1          3.45

None
La categoría FECHA_REGISTRO tiene 360 elementos diferentes:

Los elementos de la categoría son:

<DatetimeArray>
['2016-04-04 00:00:00', '2016-12-08 00:00:00', '2016-08-22 00:00:00',
 '2016-03-21 00:00:00', '2016-11-04 00:00:00', '2016-04-27 00:00:00',
 '2016-02-11 00:00:00', '2016-07-29 00:00:00', '2016-11-23 00:00:00',
 '2016-02-19 00:00:00',
 ...
 '2016-07-03 00:00:00', '2016-11-13 00:00:00', '2016-05-22 00:00:00',
 '2016-10-09 00:00:00', '2016-08-21 00:00:00', '2016-08-28 00:00:00',
 '2016-12-11 00:00:00', '2016-06-26 00:00:00', '2016-10-16 00:00:00',
 '2016-03-13 00:00:00']
Length: 361, dtype: datetime64[ns]

Los 10 FECHA_REGISTRO que MAS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2016-01-21       2095                 1.08
2016-02-29       1341                 0.69
2016-06-30       1271                 0.65
2016-10-31       1249                 0.64
2016-09-30       1245                 0.64
2016-11-30       1229                 0.63
2016-03-31       1218                 0.63
2016-05-31       1200                 0.62
2016-08-31       1196                 0.61
2016-01-29       1166                 0.60

Los 10 FECHA_REGISTRO que MENOS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2016-07-17          1                 0.00
2016-05-15          1                 0.00
2016-05-22          1                 0.00
2016-10-09          1                 0.00
2016-08-21          1                 0.00
2016-08-28          1                 0.00
2016-12-11          1                 0.00
2016-06-26          1                 0.00
2016-10-16          1                 0.00
2016-03-13          1                 0.00

 Las distribución de las repeticiones de los FECHA_REGISTRO son:

       count  % repetición
count
1         37         10.28
10         9          2.50
2          9          2.50
7          8          2.22
5          7          1.94
...      ...           ...
595        1          0.28
19         1          0.28
155        1          0.28
18         1          0.28
6          1          0.28

[197 rows x 2 columns]

None
La categoría AÑO_EJERCICIO tiene 1 elementos diferentes:

Los elementos de la categoría son:

array([2016])

Los 10 AÑO_EJERCICIO que MAS aparecen son:

                count  Porcentaje_recuento
AÑO_EJERCICIO
2016           194533               100.00

Los 10 AÑO_EJERCICIO que MENOS aparecen son:

                count  Porcentaje_recuento
AÑO_EJERCICIO
2016           194533               100.00

 Las distribución de las repeticiones de los AÑO_EJERCICIO son:

        count  % repetición
count
194533      1        100.00

None

## Año 2017

In [395]:
for columna in df_datos_2017.columns:
    print(se.analisis_individual_columnas(df_datos_2017, columna))

La categoría CÓDIGO_ÓRGANO_SUPERIOR tiene 24 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '37000', '22000', '55000', '24000', '52000', '25000',
       '26000', '39000', '30000', '81000', '33000', '36000', '41000',
       '57000', '35000', '32000', '49000', '53000', '51000', '44000',
       '38000', '54000', '20000'], dtype=object)

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MAS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
26000                   70837                37.19
25000                   30592                16.06
52000                   17644                 9.26
22000                    9018                 4.73
30000                    7229                 3.80
36000                    7183                 3.77
39000                    6842                 3.59
53000                    6628                 3.48
24000                    6076                 3.19
32000                    5947                 3.12

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MENOS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
55000                    1599                 0.84
20000                    1274                 0.67
35000                     841                 0.44
49000                     197                 0.10
81000                     166                 0.09
37000                      85                 0.04
38000                      75                 0.04
51000                      39                 0.02
57000                      25                 0.01
33000                      24                 0.01

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO_SUPERIOR son:

       count  % repetición
count
70837      1          4.17
30592      1          4.17
17644      1          4.17
9018       1          4.17
7229       1          4.17
7183       1          4.17
6842       1          4.17
6628       1          4.17
6076       1          4.17
5947       1          4.17
5920       1          4.17
5748       1          4.17
4778       1          4.17
1712       1          4.17
1599       1          4.17
1274       1          4.17
841        1          4.17
197        1          4.17
166        1          4.17
85         1          4.17
75         1          4.17
39         1          4.17
25         1          4.17
24         1          4.17

None
La categoría NOMBRE_ÓRGANO_SUPERIOR tiene 24 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União', 'Controladoria-Geral da União',
       'Ministério da Agricultura, Pecuária e Abastec',
       'Ministério da Cidadania',
       'Ministério da Ciência, Tecnologia, Inovações ',
       'Ministério da Defesa', 'Ministério da Economia',
       'Ministério da Educação', 'Ministério da Infraestrutura',
       'Ministério da Justiça e Segurança Pública',
       'Ministério da Mulher, Família e Direitos Huma',
       'Ministério da Previdência Social', 'Ministério da Saúde',
       'Ministério das Comunicações',
       'Ministério das Mulheres, Igualdade Racial, da',
       'Ministério das Relações Exteriores',
       'Ministério de Minas e Energia',
       'Ministério do Desenvolvimento Agrário',
       'Ministério do Desenvolvimento Regional', 'Ministério do Esporte',
       'Ministério do Meio Ambiente', 'Ministério do Trabalho e Emprego',
       'Ministério do Turismo', 'Presidência da República'], dtype=object)

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MAS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério da Educação                         70837                37.19
Ministério da Economia                         30592                16.06
Ministério da Defesa                           17644                 9.26
Ministério da Agricultura, Pecuária e Abastec   9018                 4.73
Ministério da Justiça e Segurança Pública       7229                 3.80
Ministério da Saúde                             7183                 3.77
Ministério da Infraestrutura                    6842                 3.59
Ministério do Desenvolvimento Regional          6628                 3.48
Ministério da Ciência, Tecnologia, Inovações    6076                 3.19
Ministério de Minas e Energia                   5947                 3.12

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MENOS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério da Cidadania                         1599                 0.84
Presidência da República                        1274                 0.67
Ministério das Relações Exteriores               841                 0.44
Ministério do Desenvolvimento Agrário            197                 0.10
Ministério da Mulher, Família e Direitos Huma    166                 0.09
Controladoria-Geral da União                      85                 0.04
Ministério do Trabalho e Emprego                  75                 0.04
Ministério do Esporte                             39                 0.02
Ministério das Mulheres, Igualdade Racial, da     25                 0.01
Ministério da Previdência Social                  24                 0.01

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO_SUPERIOR son:

       count  % repetición
count
70837      1          4.17
30592      1          4.17
17644      1          4.17
9018       1          4.17
7229       1          4.17
7183       1          4.17
6842       1          4.17
6628       1          4.17
6076       1          4.17
5947       1          4.17
5920       1          4.17
5748       1          4.17
4778       1          4.17
1712       1          4.17
1599       1          4.17
1274       1          4.17
841        1          4.17
197        1          4.17
166        1          4.17
85         1          4.17
75         1          4.17
39         1          4.17
25         1          4.17
24         1          4.17

None
La categoría CÓDIGO_ÓRGANO tiene 271 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '66000', '37000', '22211', '22201', '22000', '22202',
       '44208', '20129', '22905', '49001', '55001', '55000', '20301',
       '24000', '24901', '20402', '20501', '49280', '24209', '20502',
       '52904', '52000', '52132', '52133', '52911', '52131', '52111',
       '52221', '52121', '52211', '31280', '52233', '52222', '25000',
       '30203', '25203', '37904', '37202', '38901', '25916', '20924',
       '25201', '25207', '25205', '28500', '25211', '22500', '61201',
       '25905', '25904', '71902', '20603', '20202', '25915', '25901',
       '30204', '37201', '90000', '33206', '25914', '25208', '26443',
       '26263', '26424', '26410', '26277', '26298', '26234', '26245',
       '26238', '26236', '26242', '26412', '26246', '26271', '26294',
       '26241', '26243', '26426', '26406', '26244', '26268', '26411',
       '26350', '26276', '26421', '26284', '26447', '26233', '26442',
       '26413', '26408', '26441', '26260', '26420', '26352', '26250',
       '26402', '26270', '26255', '26247', '26273', '26416', '26232',
       '26254', '26431', '26448', '26283', '26249', '26434', '26433',
       '26239', '26419', '26291', '26404', '26405', '26439', '26278',
       '26450', '26258', '26248', '26279', '26440', '26436', '26201',
       '26257', '26262', '26237', '26403', '26292', '26264', '26407',
       '26275', '26261', '26230', '26267', '26415', '26428', '26274',
       '26269', '26285', '26266', '26231', '26435', '26418', '26438',
       '26240', '26423', '26251', '26449', '26252', '26256', '26272',
       '26351', '26282', '26409', '26417', '26281', '26432', '26290',
       '26429', '26235', '26427', '26422', '26000', '26280', '26437',
       '26253', '26430', '26414', '26286', '26425', '62201', '39252',
       '39250', '29209', '39815', '56901', '39811', '39816', '68201',
       '39813', '39253', '49901', '39814', '39000', '62901', '39812',
       '39817', '30907', '30108', '30912', '30911', '30211', '30905',
       '30202', '30205', '30000', '30802', '30914', '30913', '20122',
       '81000', '33000', '36213', '36211', '36000', '36201', '36210',
       '36212', '41903', '41231', '41232', '41000', '20415', '64901',
       '64902', '35201', '35000', '32205', '32314', '32263', '29208',
       '32210', '32000', '20302', '20303', '49000', '53901', '22204',
       '22203', '29214', '74918', '53203', '53902', '74919', '53000',
       '44205', '53903', '53202', '53207', '74917', '29205', '56902',
       '91214', '20701', '44207', '44206', '44204', '44000', '44902',
       '38000', '34902', '54901', '20404', '20203', '20408', '42207',
       '20411', '20604', '54000', '20412', '20403', '20101', '20116',
       '64000', '67000', '60000', '20117', '24208'], dtype=object)

Los 10 CÓDIGO_ÓRGANO que MAS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
25000          14158                 7.43
52904           4506                 2.37
52132           3946                 2.07
34902           3240                 1.70
22202           2605                 1.37
41231           2339                 1.23
20701           2305                 1.21
52000           2236                 1.17
36000           2198                 1.15
32263           2144                 1.13

Los 10 CÓDIGO_ÓRGANO que MENOS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
32314             12                 0.01
39812             11                 0.01
64901             10                 0.01
81000              9                 0.00
90000              8                 0.00
60000              6                 0.00
20122              3                 0.00
39815              2                 0.00
39814              2                 0.00
67000              1                 0.00

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO son:

       count  % repetición
count
36         3          1.11
27         3          1.11
1033       2          0.74
711        2          0.74
418        2          0.74
...      ...           ...
10         1          0.37
8          1          0.37
6          1          0.37
3          1          0.37
1          1          0.37

[248 rows x 2 columns]

None
La categoría NOMBRE_ÓRGANO tiene 268 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União - Unidades com vínculo direto',
       'Controladoria-Geral da União',
       'Controladoria-Geral da União - Unidades com vínculo direto',
       'Companhia Nacional de Abastecimento',
       'Instituto Nacional de Colonização e Reforma Agrária',
       'Ministério da Agricultura, Pecuária e Abastecimento - Unidades com vínculo direto',
       'Empresa Brasileira de Pesquisa Agropecuária',
       'Serviço Florestal Brasileiro',
       'Secretaria Especial de Agricultura Familiar e do Desenvolvimento Agrário',
       'Fundo de Defesa da Economia Cafeeira',
       'Fundo de Terras e da Reforma Agrária',
       'Fundo Nacional de Assistência Social',
       'Ministério da Cidadania - Unidades com vínculo direto',
       'Comissão Nacional de Energia Nuclear',
       'Ministério da Ciência, Tecnologia, Inovações e Comunicações - Unidades com vínculo direto',
       'Fundo Nacional de Desenvolvimento Científico e Tecnológico',
       'Agência Espacial Brasileira',
       'Conselho Nacional de Desenvolvimento Científico e Tecnológico',
       'Empresa Brasileira de Correios e Telégrafos',
       'Centro Nacional de Tecnologia Eletrônica Avançada S.A.',
       'Financiadora de Estudos e Projetos', 'Fundo do Exército',
       'Ministério da Defesa - Unidades com vínculo direto',
       'Comando da Marinha - Fundo Naval',
       'Fundo de Desenvolvimento do Ensino Profissional Marítimo',
       'Fundo Aeronáutico', 'Comando da Marinha',
       'Comando da Aeronáutica', 'Indústria de Material Bélico do Brasil',
       'Comando do Exército',
       'Caixa de Financiamento Imobiliário da Aeronáutica',
       'Caixa de Construções de Casas para o Pessoal da Marinha do Brasil',
       'Amazônia Azul Tecnologia de Defesa S.A.', 'Fundação Osório',
       'Ministério da Economia - Unidades com vínculo direto',
       'Instituto Nacional de Metrologia, Qualidade e Tecnologia',
       'Comissão de Valores Mobiliários',
       'Fundo do Regime Geral da Previdência Social',
       'Instituto Nacional do Seguro Social',
       'Fundo de Amparo ao Trabalhador',
       'Fundo Contingente da Extinta RFFSA-FCMP',
       'Fundo Nacional de Desenvolvimento',
       'Banco Central do Brasil - Orçamento Fiscal e Seguridade Social',
       'Serviço Federal de Processamento de Dados',
       'Fundação Instituto Brasileiro de Geografia e Estatística',
       'Fundo de Garantia para a Promoção da Competitividade',
       'Casa da Moeda do Brasil',
       'Companhia de Entrepostos e Armazéns Gerais de São Paulo',
       'Instituto de Pesquisa Econômica Aplicada',
       'Fundo de Apoio ao Desenvolvimento Social',
       'Fundo de Estabilidade do Seguro Rural',
       'Fundo Soberano do Brasil',
       'Superintendência da Zona Franca de Manaus',
       'Fundação Escola Nacional de Administração Pública',
       'Fundo Constitucional do Distrito Federal',
       'Fundo de Compensação de Variações Salariais',
       'Instituto Nacional da Propriedade Industrial',
       'Fundação Jorge Duprat Figueiredo, de Segurança e Medicina do Trabalho',
       'Reserva de Contingência',
       'Superintendência Nacional de Previdência Complementar',
       'Fundo de Garantia à Exportação',
       'Superintendência de Seguros Privados',
       'Empresa Brasileira de Serviços Hospitalares',
       'Universidade Federal de Lavras', 'Instituto Federal do Tocantins',
       'Instituto Federal do Norte de Minas Gerais',
       'Universidade Federal de Ouro Preto',
       'Fundo Nacional de Desenvolvimento da Educação',
       'Universidade Federal do Espírito Santo',
       'Universidade Federal do Rio de Janeiro',
       'Universidade Federal de Minas Gerais',
       'Universidade Federal Fluminense',
       'Universidade Federal de Pernambuco',
       'Instituto Federal do Sul de Minas Gerais',
       'Universidade Federal de Santa Catarina',
       'Fundação Universidade de Brasília',
       'Hospital de Clínicas de Porto Alegre',
       'Universidade Federal do Paraná',
       'Universidade Federal do Rio Grande do Norte',
       'Instituto Federal do Amapá',
       'Instituto Federal do Espírito Santo',
       'Universidade Federal do Rio Grande do Sul',
       'Fundação Universidade Federal de Rondônia',
       'Instituto Federal do Sudeste de Minas Gerais',
       'Fundação Universidade Federal da Grande Dourados',
       'Fundação Universidade Federal do Mato Grosso',
       'Instituto Federal de Rondônia',
       'Fundação Universidade Federal de Ciências da Saúde de Porto Alegre',
       'Universidade Federal do Oeste da Bahia',
       'Universidade Federal do Ceará',
       'Universidade da Integração Internacional da Lusofonia Afro-Brasileira',
       'Instituto Federal do Triângulo Mineiro',
       'Instituto Federal do Maranhão',
       'Universidade Federal do Oeste do Pará',
       'Universidade Federal de Alfenas', 'Instituto Federal Farroupilha',
       'Fundação Universidade Federal do ABC',
       'Universidade Federal de Roraima', 'Instituto Federal de Alagoas',
       'Fundação Universidade do Amazonas',
       'Universidade Federal dos Vales do Jequitinhonha e Mucuri',
       'Universidade Federal de Santa Maria',
       'Universidade Federal do Rio Grande', 'Instituto Federal do Pará',
       'Universidade Federal da Bahia',
       'Universidade Federal do Triângulo Mineiro',
       'Instituto Federal do Piauí',
       'Universidade Federal do Sul e Sudeste do Pará',
       'Fundação Universidade Federal do Mato Grosso do Sul',
       'Universidade Federal Rural do Rio de Janeiro',
       'Instituto Federal Fluminense',
       'Instituto Federal do Rio de Janeiro',
       'Universidade Federal do Pará',
       'Instituto Federal do Rio Grande do Sul',
       'Fundação Coordenação de Aperfeiçoamento de Pessoal de Nível Superior',
       'Instituto Federal Baiano', 'Instituto Federal do Ceará',
       'Instituto Federal de São Paulo',
       'Fundação Universidade Federal de Pelotas',
       'Universidade Federal do Sul da Bahia',
       'Universidade Tecnológica Federal do Paraná',
       'Universidade Federal Rural de Pernambuco',
       'Fundação Universidade Federal do Piauí',
       'Universidade Federal da Fronteira Sul',
       'Instituto Federal Sul-rio-grandense', 'Colégio Pedro II',
       'Centro Federal de Educação Tecnológica de Minas Gerais',
       'Universidade Federal de São Paulo',
       'Universidade Federal de Juiz de Fora',
       'Instituto Federal do Amazonas', 'Fundação Joaquim Nabuco',
       'Universidade Federal Rural do Semi-Árido',
       'Instituto Federal Goiano',
       'Fundação Universidade Federal do Acre',
       'Universidade Federal de Itajubá',
       'Fundação Universidade Federal do Vale do São Francisco',
       'Universidade Federal da Integração Latino-Americana',
       'Instituto Federal do Mato Grosso do Sul',
       'Instituto Federal de Brasília',
       'Fundação Universidade Federal de Uberlândia',
       'Universidade Federal do Estado do Rio de Janeiro',
       'Fundação Universidade Federal de São João Del-Rei',
       'Fundação Universidade Federal do Pampa',
       'Universidade Federal de Alagoas',
       'Instituto Federal do Rio Grande do Norte',
       'Instituto Federal de Pernambuco',
       'Instituto Federal de Santa Catarina',
       'Universidade Federal da Paraíba', 'Instituto Federal de Sergipe',
       'Fundação Universidade Federal do Tocantins',
       'Universidade Federal do Cariri',
       'Universidade Federal de Campina Grande',
       'Centro Federal de Educação Tecnológica Celso Suckow da Fonseca',
       'Fundação Universidade do Maranhão',
       'Universidade Federal do Recôncavo da Bahia',
       'Universidade Federal de Viçosa',
       'Instituto Federal de Minas Gerais',
       'Instituto Federal da Paraíba',
       'Fundação Universidade Federal de Sergipe',
       'Instituto Federal do Paraná',
       'Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira',
       'Instituto Federal de Educação, Ciência e Tecnologia de Goiás',
       'Universidade Federal de Goiás', 'Instituto Federal da Bahia',
       'Instituto Federal Catarinense',
       'Ministério da Educação - Unidades com vínculo direto',
       'Fundação Universidade Federal de São Carlos',
       'Instituto Federal de Roraima',
       'Universidade Federal Rural da Amazônia',
       'Instituto Federal do Sertão de Pernambuco',
       'Instituto Federal do Mato Grosso',
       'Fundação Universidade Federal do Amapá',
       'Instituto Federal do Acre', 'Agência Nacional de Aviação Civil',
       'Departamento Nacional de Infraestrutura de Transportes',
       'Agência Nacional de Transportes Terrestres',
       'VALEC Engenharia, Construções e Ferrovias S.A.',
       'Companhia Docas do Rio Grande do Norte',
       'Fundo Nacional de Segurança e Educação de Trânsito',
       'Companhia Docas do Rio de Janeiro',
       'Companhia Docas do Estado de São Paulo',
       'Agência Nacional de Transportes Aquaviários',
       'Companhia Docas do Ceará',
       'Empresa de Planejamento e Logística S.A.',
       'Departamento do Fundo da Marinha Mercante',
       'Companhia Docas do Pará',
       'Ministério da Infraestrutura - Unidades com vínculo direto',
       'Fundo Nacional de Aviação Civil',
       'Companhia Docas do Estado da Bahia',
       'Companhia Docas do Espírito Santo',
       'Fundo Penitenciário Nacional', 'Departamento de Polícia Federal',
       'Fundo Nacional Antidrogas', 'Fundo Nacional de Segurança Pública',
       'Conselho Administrativo de Defesa Econômica',
       'Secretaria Nacional do Consumidor Fundo',
       'Fundação Nacional do Índio',
       'Fundação Nacional do Índio - Patrimônio Indígena',
       'Ministério da Justiça e Segurança Pública - Unidades com vínculo direto',
       'Departamento de Polícia Rodoviária Federal',
       'Fundo Nacional do Idoso',
       'Fundo Nacional para a Criança e o Adolescente',
       'Secretaria Nacional de Políticas para Mulheres',
       'Ministério da Mulher, Família e Direitos Humanos - Unidades com vínculo direto',
       'Ministério da Previdência Social - Unidades com vínculo direto',
       'Agência Nacional de Saúde Suplementar',
       'Fundação Nacional de Saúde',
       'Ministério da Saúde - Unidades com vínculo direto',
       'Fundação Oswaldo Cruz',
       'Hospital Nossa Senhora da Conceição S.A.',
       'Agência Nacional de Vigilância Sanitária',
       'Fundo para o Desenvolvimento Tecnológico das Telecomunicações',
       'Agêncial Nacional de Telecomunicações',
       'Fundo de Universalização dos Serviços de Telecomunicações',
       'Ministério das Comunicações - Unidades com vínculo direto',
       'Empresa Brasil de Comunicação', 'Fundação Alexandre de Gusmão',
       'Ministério das Relações Exteriores - Unidades com vínculo direto',
       'Agência Nacional do Petróleo, Gás Natural e Biocombustíveis',
       'Empresa de Pesquisa Energética',
       'Departamento Nacional de Produção Mineral',
       'Companhia de Pesquisa de Recursos Minerais',
       'Agência Nacional de Energia Elétrica',
       'Ministério de Minas e Energia - Unidades com vínculo direto',
       'Nuclebrás Equipamentos Pesados S.A.',
       'Indústrias Nucleares do Brasil',
       'Ministério do Desenvolvimento Agrário - Unidades com vínculo direto',
       'Fundo Constitucional de Financiamento do Norte',
       'Departamento Nacional de Obras Contra as Secas',
       'Companhia de Desenvolvimento dos Vales do São Francisco e do Parnaíba',
       'Companhia Brasileira de Trens Urbanos',
       'Fundo de Desenvolvimento do Nordeste',
       'Superintendência do Desenvolvimento do Nordeste',
       'Fundo Constitucional de Financiamento do Centro-Oeste',
       'Fundo de Desenvolvimento do Centro-Oeste',
       'Ministério do Desenvolvimento Regional - Unidades com vínculo direto',
       'Agência Nacional de Águas',
       'Fundo Constitucional de Financiamento do Nordeste',
       'Superintendência do Desenvolvimento da Amazônia',
       'Superintendência de Desenvolvimento do Centro-Oeste',
       'Fundo de Desenvolvimento da Amazônia',
       'Empresa de Trens Urbanos de Porto Alegre',
       'Fundo Nacional de Habitação de Interesse Social',
       'Autoridade Pública Olímpica',
       'Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renováveis',
       'Instituto Chico Mendes de Conservação da Biodiversidade',
       'Instituto de Pesquisas Jardim Botânico do Rio de Janeiro',
       'Fundo Nacional do Meio Ambiente',
       'Ministério do Meio Ambiente - Unidades com vínculo direto',
       'Fundo Nacional sobre Mudança no Clima',
       'Ministério do Trabalho e Emprego - Unidades com vínculo direto',
       'Fundo Nacional de Cultura', 'Fundo Geral de Turismo',
       'Fundação Biblioteca Nacional', 'Agência Nacional do Cinema',
       'Fundação Cultural Palmares', 'Instituto Brasileiro de Museus',
       'Instituto do Patrimônio Histórico e Artístico Nacional',
       'Instituto Brasileiro de Turismo',
       'Ministério do Turismo - Unidades com vínculo direto',
       'Fundação Nacional de Artes', 'Fundação Casa de Rui Barbosa',
       'Presidência da República', 'Fundo de Imprensa Nacional',
       'Secretaria de Direitos Humanos',
       'Secretaria de Políticas de Promoção da Igualdade Racial',
       'Gabinete da Vice-Presidência da República',
       'Instituto Nacional de Tecnologia da Informação'], dtype=object)

Los 10 NOMBRE_ÓRGANO que MAS aparecen son:

                                                    count  Porcentaje_recuento
NOMBRE_ÓRGANO
Ministério da Economia - Unidades com vínculo d...  14158                 7.43
Fundo do Exército                                    4506                 2.37
Comando da Marinha - Fundo Naval                     3946                 2.07
Fundo Nacional de Cultura                            3240                 1.70
Empresa Brasileira de Pesquisa Agropecuária          2605                 1.37
Agêncial Nacional de Telecomunicações                2339                 1.23
Instituto Brasileiro do Meio Ambiente e dos Rec...   2305                 1.21
Ministério da Defesa - Unidades com vínculo direto   2236                 1.17
Ministério da Saúde - Unidades com vínculo direto    2198                 1.15
Departamento Nacional de Produção Mineral            2144                 1.13

Los 10 NOMBRE_ÓRGANO que MENOS aparecen son:

                                                    count  Porcentaje_recuento
NOMBRE_ÓRGANO
Companhia Docas do Espírito Santo                      14                 0.01
Empresa de Pesquisa Energética                         12                 0.01
Companhia Docas do Estado da Bahia                     11                 0.01
Ministério da Mulher, Família e Direitos Humano...      9                 0.00
Reserva de Contingência                                 8                 0.00
Gabinete da Vice-Presidência da República               6                 0.00
Secretaria Nacional de Políticas para Mulheres          3                 0.00
Companhia Docas do Rio Grande do Norte                  2                 0.00
Companhia Docas do Pará                                 2                 0.00
Secretaria de Políticas de Promoção da Igualdad...      1                 0.00

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO son:

       count  % repetición
count
27         3          1.12
36         3          1.12
712        2          0.75
711        2          0.75
1033       2          0.75
...      ...           ...
11         1          0.37
8          1          0.37
6          1          0.37
3          1          0.37
1          1          0.37

[246 rows x 2 columns]

None
La categoría CÓDIGO_UNIDAD_GESTORA tiene 324 elementos diferentes:

Los elementos de la categoría son:

array(['110060', '110174', '370001', '135100', '373001', '130101',
       '135037', '440088', '110690', '130137', '490003', '330013',
       '180077', '420002', '550002', '113209', '240102', '240101',
       '240901', '203001', '364001', '364999', '415001', '245209',
       '365001', '364102', '167086', '110407', '673001', '873001',
       '121002', '211999', '120002', '168002', '773001', '160075',
       '120999', '123001', '773008', '699999', '773009', '164204',
       '170010', '183023', '170013', '173030', '513001', '510001',
       '380910', '173065', '201924', '170196', '173057', '170266',
       '806001', '170358', '170204', '170073', '114601', '287001',
       '170229', '170086', '170232', '179083', '170167', '170107',
       '400042', '170285', '201002', '225001', '280102', '170233',
       '113601', '170033', '170238', '170380', '170268', '170154',
       '170215', '179103', '170474', '193028', '114702', '170392',
       '170381', '170101', '183038', '170076', '264001', '170237',
       '170231', '170267', '390001', '170234', '170265', '333001',
       '170356', '170026', '170230', '173039', '170357', '155007',
       '153032', '158131', '158121', '154046', '153173', '153046',
       '153115', '153062', '153056', '153080', '158137', '153163',
       '154040', '155001', '153079', '153103', '158150', '158151',
       '153114', '154055', '158123', '154502', '154045', '158148',
       '154032', '158717', '153045', '158565', '158099', '158128',
       '158515', '153028', '158127', '154503', '154080', '158147',
       '154039', '153036', '153164', '154042', '158135', '153038',
       '153035', '158146', '158718', '154054', '153166', '158139',
       '158157', '153063', '158141', '154999', '158129', '158133',
       '158154', '154047', '158720', '153019', '153165', '154048',
       '158517', '158126', '153167', '153015', '153031', '153061',
       '158142', '344002', '153033', '158124', '154044', '153030',
       '154421', '158658', '158132', '154003', '158143', '154043',
       '154034', '154069', '154359', '153037', '158155', '158136',
       '158516', '153065', '158274', '158134', '154419', '158719',
       '158195', '153010', '154041', '158092', '154051', '158122',
       '158138', '154050', '158009', '153978', '158153', '153052',
       '158145', '158125', '150014', '154049', '158152', '153034',
       '158149', '158144', '154215', '158156', '113214', '393003',
       '393001', '275075', '396005', '200320', '396001', '396006',
       '682010', '396003', '395001', '277001', '396004', '390002',
       '110591', '396002', '399002', '200333', '200336', '200246',
       '200331', '303001', '200401', '194088', '194040', '200094',
       '200109', '307002', '307001', '200021', '810002', '330002',
       '253003', '255014', '250088', '255011', '254420', '255000',
       '366003', '255003', '253002', '255008', '255015', '410007',
       '413001', '413047', '410002', '410003', '115406', '110244',
       '207001', '244001', '240005', '323030', '325001', '323002',
       '495001', '323028', '320002', '113208', '113206', '490002',
       '537002', '113802', '195006', '275068', '533009', '533014',
       '537003', '537004', '560003', '443003', '537001', '533013',
       '530002', '533018', '533008', '275060', '560015', '913001',
       '193034', '443032', '193129', '193120', '443019', '443045',
       '440002', '193125', '447001', '193112', '193107', '380010',
       '340002', '187002', '344042', '203003', '344041', '423001',
       '403101', '185001', '540001', '403201', '344001', '110005',
       '110245', '200016', '238012', '110101', '110246', '243001'],
      dtype=object)

Los 10 CÓDIGO_UNIDAD_GESTORA que MAS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
170013                 11227                 5.89
167086                  4506                 2.37
340002                  3240                 1.70
673001                  3013                 1.58
135037                  2605                 1.37
413001                  2339                 1.23
193034                  2296                 1.21
110407                  2236                 1.17
250088                  2198                 1.15
323002                  2144                 1.13

Los 10 CÓDIGO_UNIDAD_GESTORA que MENOS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
158274                     1                 0.00
255014                     1                 0.00
255011                     1                 0.00
255008                     1                 0.00
255015                     1                 0.00
255003                     1                 0.00
240101                     1                 0.00
193129                     1                 0.00
193120                     1                 0.00
238012                     1                 0.00

 Las distribución de las repeticiones de los CÓDIGO_UNIDAD_GESTORA son:

       count  % repetición
count
5         27          8.33
1         11          3.40
2          5          1.54
36         3          0.93
27         3          0.93
...      ...           ...
1965       1          0.31
1952       1          0.31
1905       1          0.31
1850       1          0.31
3013       1          0.31

[260 rows x 2 columns]

None
La categoría NOMBRE_UNIDAD_GESTORA tiene 318 elementos diferentes:

Los elementos de la categoría son:

array(['COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU',
       'DIRETORIA DE GESTAO INTERNA/SE/CGU',
       'DIRETORIA DE GESTAO INTERNA(CGU)',
       'COMPANHIA NACIONAL DE ABASTECIMENTO',
       'DPTO. DE ADMINISTRACAO FINANCEIRA-DAF - INCRA',
       'COORD.-GERAL DE ORCAMENTO E FINANCAS-MAPA', 'EMBRAPA-SETORIAL',
       'SETORIAL PROG.ORCAMENTARIA E FINANCEIRA-SFB',
       'SEC.ESPEC.DE AGRIC.FAMIL.E DO DESENV.AGRARIO',
       'FUNDO DE DEFESA DA ECON.CAFEEIRA/FUNCAFE/SPA',
       'CREDITO FUNDIARIO', 'FUNDO NACIONAL DE ASSISTENCIA SOCIAL',
       'SETORIAL ORCAMENTARIA E FINANCEIRA - (ME)',
       'COORD.GERAL DE PLAN. ORC. FIN. E CONTAB./MINC',
       'SETORIAL DE ORCAMENTO E FINANCAS/MC', 'CNEN-ORCAMENTO E FINANCAS',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS',
       'COORDENACAO-GERAL DE RECURSOS LOGISTICOS',
       'FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO',
       'AGENCIA ESPACIAL BRASILEIRA/AEB', 'CNPQ - ADMINISTRACAO CENTRAL',
       'CNPQ - DIFERENCIA CAMBIAL',
       'EMPRESA BRASILEIRA DE CORREIOS E TELEGRAFOS',
       'CENTRO NACIONAL DE TECNOLOGIA ELETRONICA AVAN',
       'FINANCIADORA DE ESTUDOS E PROJETOS',
       'CONSELHO NAC DE DESENV CIENT E TECNOLOGICO', 'FUNDO DO EXERCITO',
       'DEPARTAMENTO DE PLANEJ, ORC E FINANCAS (MD)',
       'DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM',
       'SECRETARIA DE ECON. E FIN.DA AER.- F.AER.',
       'MARINHA - DIFERENCA CAMBIAL',
       'DIRETORIA DE ECON E FINANCAS DA AERONAUTICA',
       'INDUSTRIA DE MATERIAL BELICO DO BRASIL/GESTOR',
       'DIRETORIA DE FINANCAS DA MARINHA-SISTEMA-PAIS',
       'D CONT - SETORIAL FINANCEIRA', 'MAER - DIFERENCA CAMBIAL',
       'CAIXA FINANCIAMENTO IMOBILIARIO AERONAUTICA',
       'DIRETORIA DE FINANCAS DA MARINHA - CCCPM',
       'FUNDO NAVAL - DIFERENCA CAMBIAL',
       'DIRETORIA DE FINANCAS DA MARINHA - AMAZUL', 'FUNDACAO OSORIO',
       'SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB',
       'INSTITUTO NAC.DE METROLOG. QUALID. E TECNOLOG',
       'SETORIAL ORCAMENTARIA E FINANCEIRA / ME',
       'COMISSAO DE VALORES MOBILIARIOS',
       'COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS',
       'COORD.GERAL DE ORCAMENTO, FINANCAS E CONTAB.',
       'COORD-GERAL DE ORCAMENTO, FIN. E CONT.- CGOFC',
       'FUNDO CONTINGENTE DA EXTINTA RFFSA-FC',
       'FUNDO NACIONAL DE DESENVOLVIMENTO',
       'PROCURADORIA DA FAZENDA NACI0NAL/GO', 'BANCO CENTRAL DO BRASIL',
       'PROCURADORIA-REGIONAL DA FAZENDA NACIONAL/PE',
       'SERPRO-SEDE - DEPARTAMENTO FINANCEIRO',
       'PROCURADORIA DA FAZ.NAC. NO ESTADO DO AMAPA',
       'PROCURADORIA-REGIONAL DA FAZ.NAC.1A.REGIAO/DF',
       'PROCURADORIA DA FAZENDA NACIONAL-SE',
       'FUNDACAO IBGE-ADMINISTRACAO CENTRAL/RJ',
       'FUNDO DE GAR.P/PROMOC.DA COMPETITIVIDADE±FGPC',
       'PROCURADORIA DA FAZENDA NACIONAL/MT',
       'PROCURADORIA DA FAZENDA NACIONAL - MG',
       'PROCURADORIA DA FAZENDA NACIONAL/AL', 'CASA DA MOEDA DO BRASIL',
       'PROCURADORIA DA FAZENDA NACIONAL/SC',
       'PROCURADORIA DA FAZENDA NACIONAL-MS',
       'COORD-GERAL DE ORC., FIN. E CONT.-CGOFC (MTP)',
       'PROCURADORIA FAZ.NACIONAL NO EST.TOCANTINS',
       'COORDENACAO-GERAL DE ORC. E FINANCAS/MP',
       'CIA.DE ENTREPOSTOS E ARMAZENS GER.DE S.PAULO',
       'COORDENACAO-GERAL DE ORCAM.FINAN.CONTAB/MDIC',
       'PROCURADORIA DA FAZENDA NACIONAL/AM',
       'INSTITUTO DE PESQUISA ECONOMICA APLICADA',
       'PROCURADORIA DA FAZENDA NACIONAL - PI',
       'PROCURADORIA DA FAZENDA NACIONAL/RR',
       'FUNDO DE APOIO AO DESENVOLVIMENTO SOCIAL',
       'PROCURADORIA-REGIONAL DA FAZENDA NACIONAL/SP',
       'PROCURADORIA DA FAZENDA NACIONAL-PR',
       'PROCURADORIA DA FAZENDA NACIONAL/PA',
       'FUNDO DE ESTABILIDADE DO SEGURO RURAL',
       'FUNDO SOBERANO DO BRASIL',
       'SUPERINTENDENCIA DA ZONA FRANCA DE MANAUS/AM',
       'FUNDACAO ESCOLA NACIONAL DE ADM. PUBLICA',
       'FUNDO CONSTITUCIONAL DO DISTRITO FEDERAL',
       'FUNDO DE COMPENSACAO E VARIACAO SALARIAL',
       'PROCURADORIA DA FAZENDA NACIONAL-ES',
       'INSTITUTO NACIONAL DA PROPRIEDADE INDUSTRIAL',
       'PROCURADORIA DA FAZENDA NACIONAL - BA',
       'FUNDACENTRO - FUND.JORGE DUPRAT/CTN/SEDE - SP',
       'PROCURADORIA DA FAZENDA NACIONAL/AC',
       'PROCURADORIA DA FAZENDA NACIONAL/PB',
       'PROCURADORIA-REGIONAL DA FAZENDA NACIONAL/RJ',
       'RESERVA DE CONTINGENCIA/MEFP',
       'PROCURADORIA DA FAZENDA NACIONAL/RN',
       'PROCURADORIA REGIONAL DA F.NACIONAL/4A REGIAO',
       'COORD.GERAL DE ORC. FIN. E CONTABILIDADE',
       'FUNDO DE GARANTIA A EXPORTACAO-BNDES',
       'PROCURADORIA DA FAZENDA NACIONAL - MA',
       'PROCURADORIA DA FAZENDA NACIONAL/CE',
       'SUPERINTENDENCIA DE SEGUROS PRIVADOS - RJ',
       'PROCURADORIA DA FAZENDA NACIONAL EM RONDONIA',
       'EMPRESA BRASILEIRA DE SERVICOS HOSPITALARES',
       'UNIVERSIDADE FEDERAL DE LAVRAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TOCANTINS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO NORTE DE MG',
       'UNIVERSIDADE FEDERAL DE OURO PRETO',
       'FUNDO NACIONAL DE DESENVOLVIMENTO DA EDUCACAO',
       'UNIVERSIDADE FEDERAL DO ESPIRITO SANTO',
       'UNIVERSIDADE FEDERAL DO RIO DE JANEIRO',
       'UNIVERSIDADE FEDERAL DE MINAS GERAIS',
       'UNIVERSIDADE FEDERAL FLUMINENSE',
       'UNIVERSIDADE FEDERAL DE PERNAMBUCO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO SUL DE MG',
       'UNIVERSIDADE FEDERAL DE SANTA CATARINA',
       'FUNDACAO UNIVERSIDADE DE BRASILIA - FUB',
       'HOSPITAL DE CLINICAS DE PORTO ALEGRE',
       'UNIVERSIDADE FEDERAL DO PARANA',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO NORTE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAPA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ESP.SANTO',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO SUL',
       'FUNDACAO UNIVERSIDADE FEDERAL DE RONDONIA',
       'INSTITUTO FED CIENCIA TECNOL SUDESTE MG',
       'FUNDACAO UNIVERSIDADE FED. DA GRANDE DOURADOS',
       'FUNDACAO UNIVERSIDADE FEDERAL DE MATO GROSSO',
       'INST. FED. DE EDUC.,CIENC. E TEC. DE RONDONIA',
       'FUND.UNIV.FED.DE.CIENC.DA SAUDE DE P.ALEGRE',
       'UNIVERSIDADE FEDERAL DO OESTE DA BAHIA',
       'UNIVERSIDADE FEDERAL DO CEARA',
       'UNIV.DA INTEG.INTERN.DA LUSOF.AFRO-BRASILEIRA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TRIA.MINEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MARANHAO',
       'UNIVERSIDADE FEDERAL DO OESTE DO PARA',
       'UNIVERSIDADE FEDERAL DE ALFENAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.FARROUPILHA',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ABC',
       'UNIVERSIDADE FEDERAL DE RORAIMA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE ALAGOAS',
       'FUNDACAO UNIVERSIDADE DO AMAZONAS',
       'UNIVERSIDADE FED.VALES JEQUITINHONHA E MUCURI',
       'UNIVERSIDADE FEDERAL DE SANTA MARIA',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE - FURG',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PARA',
       'UNIVERSIDADE FEDERAL DA BAHIA',
       'UNIVERSIDADE FEDERAL DO TRIANGULO MINEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PIAUI',
       'UNIVERSIDADE FEDERAL DO SUL E SUDESTE DO PARA',
       'FUNDACAO UNIVERS.FED. DE MATO GROSSO DO SUL',
       'UNIVERSIDADE FEDERAL RURAL DO RIO DE JANEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.FLUMINENSE', 'REITORIA',
       'UNIVERSIDADE FEDERAL DO PARA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RS', 'CAPES - DIFERENCA CAMBIAL',
       'INST FED DE EDUC CIENC E TECNOLOGIA BAIANO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO CEARA',
       'INSTITUTO FEDERAL DE SAO PAULO',
       'FUNDACAO UNIVERSIDADE FEDERAL DE PELOTAS',
       'UNIVERSIDADE FEDERAL DO SUL DA BAHIA',
       'UNIVERSIDADE TECNOLOGICA FEDERAL DO PARANA',
       'UNIVERSIDADE FEDERAL RURAL DE PERNAMBUCO',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PIAUI',
       'UNIVERSIDADE FEDERAL DA FRONTEIRA SUL',
       'INST.FED.DE EDUC.,CIE.E TEC.SUL-RIO-GRANDENSE',
       'COLEGIO PEDRO II', 'CENTRO FEDERAL DE EDUCACAO TECNOLOGICA DE MG',
       'UNIFESP-UNIVERSIDADE FEDERAL DE SAO PAULO',
       'UNIVERSIDADE FEDERAL DE JUIZ DE FORA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAZONAS',
       'FUNDACAO JOAQUIM NABUCO',
       'UNIVERSIDADE FEDERAL RURAL DO SEMI-ARIDO - RN', 'IF GOIANO',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ACRE',
       'UNIVERSIDADE FEDERAL DE ITAJUBA',
       'FUND. UNIVERSIDADE FEDERAL VALE SAO FRANCISCO',
       'UNIV. FEDERAL DA INTEGRACAO LATINO-AMERICANA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MAT.G.DO SUL',
       'FUND.COORD.DE APERF.DE PESSOAL NIVEL SUPERIOR',
       'IFB - REITORIA - BRASILIA-DF',
       'FUNDACAO UNIVERSIDADE FEDERAL DE UBERLANDIA',
       'UNIRIO UNIVERSIDADE FEDERAL DO ESTADO RJ',
       'FUNDACAO UNIVERSIDADE FEDERAL DE S.J.DEL-REI',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PAMPA',
       'UNIVERSIDADE FEDERAL DE ALAGOAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RN',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE PERNAMBUCO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE STA.CAT/IFSC',
       'UNIVERSIDADE FEDERAL DA PARAIBA',
       'INST.FED. FLUMINENSE/CAMPUS CAMPOS-CENTRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE SERGIPE',
       'FUNDACAO UNIVERSIDADE FEDERAL DO TOCANTINS',
       'UNIVERSIDADE FEDERAL DO CARIRI',
       'UNIVERSIDADE FEDERAL DE CAMPINA GRANDE',
       'CENTRO FED.DE EDUC.TECNOL.CELSO S.DA FONSECA',
       'FUNDACAO UNIVERSIDADE DO MARANHAO',
       'UNIVERSIDADE FEDERAL DO RECONCAVO DA BAHIA',
       'UNIVERSIDADE FEDERAL DE VICOSA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE MINAS GERAIS', 'IFPB - REITORIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SERGIPE',
       'INST. FED. DO PARANA/ REITORIA',
       'INST.NACIONAL DE EST.E PESQUISAS EDUCACIONAIS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE GOIAS',
       'UNIVERSIDADE FEDERAL DE GOIAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DA BAHIA',
       'INSTITUTO FEDERAL CATARINENSE - REITORIA',
       'SUBSECRETARIA DE PLANEJ. E ORCAMENTO SPO(MEC)',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SAO CARLOS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE RORAIMA',
       'UNIVERSIDADE FEDERAL RURAL DA AMAZONIA',
       'INST.FED.DE ED.,CIENC.E TEC.DO S.PERNAMBUCANO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MATO GROSSO',
       'FUNDACAO UNIVERSIDADE FEDERAL DO AMAPA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ACRE',
       'AGENCIA NACIONAL DE AVIACAO CIVIL',
       'DEPART.NAC.INFRA ESTRUTURA TRANSPORTES.',
       'AGENCIA NACIONAL DE TRANSPORTES TERRESTRES',
       'VALEC ENGENHARIA CONSTRUCOES E FERROVIAS S/A.',
       'COMPANHIA DOCA DO RIO GRANDE DO NORTE',
       'FUNDO NACIONAL DE SEG. E EDUCACAO DE TRANSITO',
       'COMPANHIA DOCAS DO RIO DE JANEIRO',
       'COMPANHIA DOCAS DO ESTADO DE SAO PAULO',
       'AGENCIA NACIONAL DE TRANSPORTES AQUAVIARIOS',
       'COMPANHIA DOCAS DO CEARA',
       'EMPRESA DE PLANEJAMENTO E LOGISTICA S.A - EPL',
       'FUNDO DA MARINHA MERCANTE', 'COMPANHIA DOCAS DO PARA',
       'SUBSECRETARIA DE PLAN.,ORCAM.E ADMIN.SETORIAL',
       'FUNDO NACIONAL DE AVIACAO CIVIL',
       'COMPANHIA DOCAS DO ESTADO DA BAHIA',
       'COMPANHIA DOCAS DO ESPIRITO SANTO', 'DEPEN - DIRETORIA EXECUTIVA',
       'COORDENACAO DE ORCAMENTO FINANCAS CONTABILIDA',
       'FUNDO NACIONAL ANTIDROGAS',
       'FUNDO NACIONAL DE SEGURANCA PUBLICA - FNSP',
       'CONSELHO ADMINISTRATIVO DE DEFESA ECONOMICA',
       'FUNDO DE DEFESA DOS DIREITOS DIFUSOS',
       'FUNDACAO NACIONAL DO INDIO - U.O.',
       'RENDA DO PATRIMONIO INDIGENA',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MJ',
       'DEPTO.DE POLICIA RODOVIARIA FEDERAL', 'FUNDO NACIONAL DO IDOSO',
       'FUNDO NACIONAL PARA A CRIANCA E O ADOLESCENTE',
       'SECRETARIA DE POLITICAS PARA AS MULHERES',
       'SETORIAL ORCAMENTARIA E FINANCEIRA - MDH',
       'COORDENACAO-GERAL DE ORC. FIN.E CONTABILIDADE',
       'AGENCIA NACIONAL DE SAUDE SUPLEMENTAR',
       'FUNDACAO NACIONAL DE SAUDE - PA',
       'SPO-COORD.-GERAL DE ORC.E FINANCAS/MS',
       'FUNDACAO NACIONAL DE SAUDE - MT', 'FUNDACAO OSWALDO CRUZ',
       'FUNDACAO NACIONAL DE SAUDE - DF',
       'HOSPITAL NOSSA SENHORA DA CONCEICAO S/A',
       'FUNDACAO NACIONAL DE SAUDE - AP',
       'AGENCIA NACIONAL DE VIGILANCIA SANITARIA',
       'FUNDACAO NACIONAL DE SAUDE - ES',
       'FUNDACAO NACIONAL DE SAUDE - PB',
       'FUNDO P/O DESENV.TECNOL.DAS TELECOMUNICACOES',
       'AGENCIA NACIONAL DE TELECOMUNICACOES-SEDE',
       'FUNDO DE UNIVERS.DOS SERV.TELECOMUNICACOES',
       'EMPRESA BRASIL DE COMUNICACAO S.A',
       'FUNDACAO ALEXANDRE DE GUSMAO',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MRE',
       'AG. NAC.DO PETROLEO GAS NAT.E BIOCOM',
       'EMPRESA DE PESQUISA ENERGETICA',
       'DEPARTAMENTO NAC. DE PRODUCAO MINERAL - SEDE',
       'COMPANHIA DE PESQUISA DE RECURSOS MINERAIS',
       'AGENCIA NACIONAL DE ENERGIA ELETRICA',
       'COORD.GERAL DE ORCAM.E FIN./M.M.E',
       'NUCLEBRAS EQUIPAMENTOS PESADOS S/A-NUCLEP',
       'INDUSTRIAS NUCLEARES DO BRASIL S/A - INB',
       'SUBSEC. DE PLANEJ., ORCAMENTO E ADMINISTRACAO',
       'FUNDO CONSTITUCIONAL FINANCIAMENTO NORTE',
       'DEPARTAMENTO NAC. DE OBRAS CONTRA AS SECAS/UO',
       'CIA DE DES.DOS VALES DO S.FRANC.E DO PARNAIBA',
       'CIA BRASILEIRA DE TRENS URBANOS-ADM.CENTRAL',
       'FUNDO DE DESENVOLVIMENTO DO NORDESTE',
       'SUPERINTENDENCIA DO DESENVOLV. DO NORDESTE',
       'FUNDO CONSTITUCIONL DO CENTRO OESTE',
       'FUNDO DE DESENVOLVIMENTO DO CENTRO-OESTE',
       'SECRETARIA EXECUTIVA - MINISTERIO DAS CIDADES',
       'COORDENACAO DE ORCAMENTO E FINANCAS.',
       'FUNDO CONSTITUCIONAL DE FINANCIAM.DO NORDESTE',
       'SUPERINTEND. DO DESENVOLVIMENTO DA AMAZONIA',
       'ORCAMENTO E FINANCAS/MDR',
       'SUPERINT. DO DESENVOLVIMENTO DO CENTRO-OESTE',
       'FUNDO DE DESENVOLVIMENTO DA AMAZONIA',
       'EMPRESA DE TRENS URBANOS DE PORTO ALEGRE S/A',
       'FUNDO NACIONAL DE HABIT. DE INTERESSE SOCIAL',
       'AUTORIDADE PUBLICA OLIMPICA',
       'IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ',
       'INST.CHICO MENDES DE CONSER.DA BIODIVERSIDADE',
       'IBAMA - SUPERINTENDENCIA DE SAO PAULO/SP',
       'IBAMA - SUPERINTENDENCIA RIO GRANDE NORTE/RN',
       'COORD. DE PLAN. ORCAMENTO E FIN./COPLAN/JBRJ',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMA',
       'SUBSECRET.PLANEJAM.ORCAM.E ADMINIST±SPOA(MMA)',
       'IBAMA - SUPERINTENDENCIA DE SANTA CATARINA/SC',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMC',
       'IBAMA - SUPERINTENDENCIA MATO GROSSO SUL/MS',
       'IBAMA - SUPERINTENDENCIA DO ESPIRITO SANTO/ES',
       'COORD-GERAL DE ORCAM., FIN. E CONTABILIDADE',
       'COORD.GERAL DE PLAN. ORC. FIN. E CONTAB/FNC',
       'FUNDO GERAL DE TURISMO-FUNGETUR', 'FUNDACAO BIBLIOTECA NACIONAL',
       'AGENCIA NACIONAL DO CINEMA', 'FUNDACAO CULTURAL PALMARES',
       'INSTITUTO BRASILEIRO DE MUSEUS - IBRAM',
       'INSTITUTO DO PATRIMONIO HIST. E ART. NACIONAL',
       'INSTITUTO BRASILEIRO DE TURISMO - EM EXTINCAO',
       'CGOFC - SETORIAL/MTUR', 'FUNDACAO NACIONAL DE ARTES',
       'FUNDACAO CASA DE RUI BARBOSA',
       'SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR',
       'FUNDO DE IMPRENSA NACIONAL/EXEC.ORC.FINANC.',
       'SECRETARIA DE DIREITOS HUMANOS/PR',
       'SECRETARIA DE POLIT. DE PROM.DA IGUALD.RACIAL',
       'GABINETE DA VICE-PRESIDENCIA DA REPUBLICA',
       'INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI'], dtype=object)

Los 10 NOMBRE_UNIDAD_GESTORA que MAS aparecen son:

                                              count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
SETORIAL ORCAMENTARIA E FINANCEIRA / ME       11227                 5.89
FUNDO DO EXERCITO                              4506                 2.37
DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM   3714                 1.95
COORD.GERAL DE PLAN. ORC. FIN. E CONTAB/FNC    3240                 1.70
EMBRAPA-SETORIAL                               2605                 1.37
AGENCIA NACIONAL DE TELECOMUNICACOES-SEDE      2339                 1.23
IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ   2296                 1.21
DEPARTAMENTO DE PLANEJ, ORC E FINANCAS (MD)    2236                 1.17
SPO-COORD.-GERAL DE ORC.E FINANCAS/MS          2198                 1.15
DEPARTAMENTO NAC. DE PRODUCAO MINERAL - SEDE   2144                 1.13

Los 10 NOMBRE_UNIDAD_GESTORA que MENOS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
IBAMA - SUPERINTENDENCIA DO ESPIRITO SANTO/ES      1                 0.00
IBAMA - SUPERINTENDENCIA DE SAO PAULO/SP           1                 0.00
IBAMA - SUPERINTENDENCIA RIO GRANDE NORTE/RN       1                 0.00
INST.FED. FLUMINENSE/CAMPUS CAMPOS-CENTRO          1                 0.00
FUNDACAO NACIONAL DE SAUDE - MT                    1                 0.00
FUNDACAO NACIONAL DE SAUDE - PA                    1                 0.00
FUNDACAO NACIONAL DE SAUDE - PB                    1                 0.00
FUNDACAO NACIONAL DE SAUDE - AP                    1                 0.00
FUNDACAO NACIONAL DE SAUDE - ES                    1                 0.00
SECRETARIA DE POLIT. DE PROM.DA IGUALD.RACIAL      1                 0.00

 Las distribución de las repeticiones de los NOMBRE_UNIDAD_GESTORA son:

       count  % repetición
count
5         27          8.49
1         10          3.14
2          4          1.26
418        3          0.94
27         3          0.94
...      ...           ...
18         1          0.31
6          1          0.31
8          1          0.31
9          1          0.31
4          1          0.31

[256 rows x 2 columns]

None
La categoría CATEGORÍA_ECONÓMICA tiene 5 elementos diferentes:

Los elementos de la categoría son:

array(['Receitas Correntes', 'Receitas de Capital',
       'Receitas Correntes - intra-orçamentárias', 'Sem informação',
       'Receitas de Capital - intra-orçamentárias'], dtype=object)

Los 10 CATEGORÍA_ECONÓMICA que MAS aparecen son:

                                            count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                         182668                95.90
Receitas de Capital                          5081                 2.67
Receitas Correntes - intra-orçamentárias     2585                 1.36
Sem informação                                135                 0.07
Receitas de Capital - intra-orçamentárias      10                 0.01

Los 10 CATEGORÍA_ECONÓMICA que MENOS aparecen son:

                                            count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                         182668                95.90
Receitas de Capital                          5081                 2.67
Receitas Correntes - intra-orçamentárias     2585                 1.36
Sem informação                                135                 0.07
Receitas de Capital - intra-orçamentárias      10                 0.01

 Las distribución de las repeticiones de los CATEGORÍA_ECONÓMICA son:

        count  % repetición
count
182668      1         20.00
5081        1         20.00
2585        1         20.00
135         1         20.00
10          1         20.00

None
La categoría ORIGEN_INGRESO tiene 15 elementos diferentes:

Los elementos de la categoría son:

array(['Outras Receitas Correntes', 'Receitas Correntes - a classificar',
       'Receita Patrimonial', 'Receita de Serviços',
       'Operações de Crédito', 'Alienação de Bens', 'Contribuições',
       'Transferências de Capital', 'Amortizações de Empréstimos',
       'Transferências Correntes',
       'Impostos, Taxas e Contribuições de Melhoria',
       'Receita Agropecuária', 'Receita Industrial', 'Sem informação',
       'Outras Receitas de Capital'], dtype=object)

Los 10 ORIGEN_INGRESO que MAS aparecen son:

                                             count  Porcentaje_recuento
ORIGEN_INGRESO
Outras Receitas Correntes                    68818                36.13
Receita de Serviços                          58896                30.92
Receita Patrimonial                          29357                15.41
Impostos, Taxas e Contribuições de Melhoria  11938                 6.27
Contribuições                                 8429                 4.43
Receita Industrial                            3412                 1.79
Receita Agropecuária                          2273                 1.19
Alienação de Bens                             2150                 1.13
Amortizações de Empréstimos                   1968                 1.03
Transferências Correntes                      1204                 0.63

Los 10 ORIGEN_INGRESO que MENOS aparecen son:

                                    count  Porcentaje_recuento
ORIGEN_INGRESO
Receita Industrial                   3412                 1.79
Receita Agropecuária                 2273                 1.19
Alienação de Bens                    2150                 1.13
Amortizações de Empréstimos          1968                 1.03
Transferências Correntes             1204                 0.63
Receitas Correntes - a classificar    926                 0.49
Operações de Crédito                  690                 0.36
Outras Receitas de Capital            173                 0.09
Sem informação                        135                 0.07
Transferências de Capital             110                 0.06

 Las distribución de las repeticiones de los ORIGEN_INGRESO son:

       count  % repetición
count
68818      1          6.67
58896      1          6.67
29357      1          6.67
11938      1          6.67
8429       1          6.67
3412       1          6.67
2273       1          6.67
2150       1          6.67
1968       1          6.67
1204       1          6.67
926        1          6.67
690        1          6.67
173        1          6.67
135        1          6.67
110        1          6.67

None
La categoría TIPO_INGRESO tiene 47 elementos diferentes:

Los elementos de la categoría son:

array(['Demais receitas correntes',
       'Multas administrativas, contratuais e judicia',
       'Indenizações, restituições e ressarcimentos',
       'Receitas Correntes - a classificar',
       'Exploração do patrimônio imobiliário do Estad',
       'Serviços Administrativos e Comerciais Gerais',
       'Operações de crédito - mercado externo',
       'Alienação de bens móveis', 'Contribuições sociais',
       'Contribuições econômicas', 'Outros serviços',
       'Transferências da União e de suas Entidades',
       'Alienação de bens imóveis', 'Amortizações de Empréstimos',
       'Transferências de Outras Instituições Pública',
       'Exploração de recursos naturais', 'Transferências de Convênios',
       'Transferências de Instituições Privadas',
       'Transferências dos Estados e do Distrito Fede', 'Taxas',
       'Receita Agropecuária', 'Serviços e Atividades Financeiras',
       'Valores Mobiliários', 'Receita Industrial',
       'Transferências dos Municípios e de suas Entid',
       'Operações de crédito - mercado interno',
       'Indenizações e restituições',
       'Bens, Direitos e Valores Incorporados ao Patr',
       'Transferências de Pessoas Físicas',
       'Transferências Provenientes de Depósito Não I',
       'Delegação de Serviços Públicos Mediante Conce',
       'Serviços e Atividades Referentes à Saúde',
       'Serviços e Atividades Referentes à Navegação ',
       'Exploração do patrimônio intangível', 'Cessão de direitos',
       'Transferências Correntes', 'Demais receitas patrimoniais',
       'Impostos', 'Sem informação', 'Receita de concessões e permissões',
       'Resultado do Banco Central do Brasil',
       'Transferências do Exterior',
       'Contribuições para Entidades Privadas de Serv',
       'Remuneração das Disponibilidades do Tesouro',
       'Alienação de bens intangíveis', 'Receitas de valores mobiliários',
       'Resgate de Títulos do Tesouro'], dtype=object)

Los 10 TIPO_INGRESO que MAS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Serviços Administrativos e Comerciais Gerais   51633                27.11
Indenizações, restituições e ressarcimentos    35364                18.57
Multas administrativas, contratuais e judicia  21473                11.27
Exploração do patrimônio imobiliário do Estad  16766                 8.80
Demais receitas correntes                      10611                 5.57
Taxas                                           9196                 4.83
Valores Mobiliários                             5513                 2.89
Contribuições econômicas                        4895                 2.57
Contribuições sociais                           3521                 1.85
Exploração de recursos naturais                 3424                 1.80

Los 10 TIPO_INGRESO que MENOS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Exploração do patrimônio intangível               20                 0.01
Transferências Correntes                          15                 0.01
Contribuições para Entidades Privadas de Serv     13                 0.01
Transferências de Convênios                        8                 0.00
Resultado do Banco Central do Brasil               4                 0.00
Transferências de Outras Instituições Pública      3                 0.00
Transferências do Exterior                         3                 0.00
Receitas de valores mobiliários                    3                 0.00
Alienação de bens intangíveis                      2                 0.00
Resgate de Títulos do Tesouro                      1                 0.00

 Las distribución de las repeticiones de los TIPO_INGRESO son:

       count  % repetición
count
3          3          6.38
35364      1          2.13
21473      1          2.13
16766      1          2.13
51633      1          2.13
9196       1          2.13
5513       1          2.13
4895       1          2.13
3521       1          2.13
3424       1          2.13
3412       1          2.13
3221       1          2.13
10611      1          2.13
2742       1          2.13
2464       1          2.13
1968       1          2.13
2273       1          2.13
1567       1          2.13
1394       1          2.13
1284       1          2.13
1838       1          2.13
926        1          2.13
864        1          2.13
599        1          2.13
351        1          2.13
339        1          2.13
253        1          2.13
194        1          2.13
1239       1          2.13
185        1          2.13
168        1          2.13
146        1          2.13
153        1          2.13
131        1          2.13
72         1          2.13
54         1          2.13
135        1          2.13
39         1          2.13
20         1          2.13
13         1          2.13
15         1          2.13
8          1          2.13
4          1          2.13
2          1          2.13
1          1          2.13

None
La categoría DETALLE tiene 516 elementos diferentes:

Los elementos de la categoría son:

array(['OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-PRINC.',
       'OUTROS RESSARCIMENTOS-PRINCIPAL',
       'ENCARGOS LEGAIS PELA INSCR.EM DIV.AT.-MUL.JUR',
       'MULTAS APLICADAS PELOS TRIB.DE CONTAS-PRINC.',
       'Receitas Correntes - a classificar',
       'OUTRAS RESTITUICOES-PRINCIPAL',
       'OUTRAS RECEITAS IMOBILIARIAS-MULTAS E JUROS',
       'RESSARCIMENTO DE CUSTOS-MULTAS E JUROS',
       'INDENIZ.P/DANOS CAUSADOS AO PATR.PUB.-PRINC.',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-MUL.JUR',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS-PRINC.',
       'ONUS DE SUCUMBENCIA-PRINCIPAL',
       'ENCARGOS LEGAIS PELA INSCR.EM DIV.ATIVA-PRINC',
       'RESTIT.DE DESPESAS DE EXERC.ANTERIORES-PRINC.',
       'ONUS DE SUCUMBENCIA-MULTAS E JUROS',
       'OUTRAS INDENIZACOES-PRINCIPAL',
       'OUTRAS RECEITAS IMOBILIARIAS-PRINCIPAL',
       'OUTRAS INDENIZACOES-MULTAS E JUROS',
       'RESTIT.DE DESPESAS EXERC.ANTERIORES-MUL.JUR.',
       'RESSARCIMENTO DE CUSTOS-PRINCIPAL',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-DIV.AT.',
       'OUTRAS RESTITUICOES-MULTAS E JUROS',
       'OUTRAS RECEITAS-PRIMARIAS-MULTAS E JUROS',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS-DIV.AT.',
       'SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.',
       'OP.DE CREDITO CONTRATUAIS-MERC.EXTERNO-PRINC.',
       'ALIENACAO DE ESTOQUES DA PGPM-PRINCIPAL',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-PRINCIPAL',
       'ADICIONAL À CONTR.PREVIDENCIÁRIA RURAL-PRINC.',
       'CONT.S/APOSTAS EM COMPETICOES HIPICAS-DIV.AT.',
       'OUTROS SERVICOS-PRINCIPAL',
       'TRANSFER.DA UNIAO E DE SUAS ENTIDADES-PRINC.',
       'ALIENACAO DE BENS IMOVEIS-MULTAS E JUROS',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS-MUL.JUR',
       'AMORTIZACAO DE EMPRESTIMOS CONTRATUAIS-PRINC.',
       'TRANSF.DE OUTRAS INSTITUICOES PUBLICAS-PRINC.',
       'CONCESSAO FLOREST.NACIONAIS-VAL.MIN.-MUL.JUR.',
       'CONCESSAO FLOREST.NACIONAIS-DEM.VAL.-MUL.JUR.',
       'CONCESSAO FLORESTAS NACIONAIS-VAL.MIN.-PRINC.',
       'RESTITUICAO DE CONVENIOS-PRIMARIAS-PRINCIPAL',
       'CONCESSAO FLORESTAS NACIONAIS-DEM.VAL.-PRINC.',
       'SERVICOS DE INFORMACAO E TECNOLOGIA-PRINCIPAL',
       'TRANSFERENCIAS DO EXTERIOR-PRINCIPAL',
       'TRANSFERENCIAS DE INSTITUICOES PRIVADAS-PRINC',
       'TRANSF.DOS ESTADOS,DF E SUAS ENTIDADES-PRINC.',
       'TX.CONTR.E FISC.PESCA E AQUICULTURA-PRINC.',
       'RECEITA AGROPECUÁRIA-PRINCIPAL',
       'ALUGUEIS E ARRENDAMENTOS-MULTAS E JUROS',
       'TX.CONTR.E FISC.PESCA E AQUICULTURA-MUL.JUR.',
       'OUTRAS INDENIZACOES-DIVIDA ATIVA',
       'ALIENACAO DE BENS IMOVEIS-JUROS',
       'AMORTIZACAO DE FINANCIAMENTOS-PRINCIPAL',
       'RETORNO DE OP.,JUR.E ENC.FINANCEIROS-PRINC.',
       'RESTITUICAO DE RECURSOS DE FOMENTO-PRINCIPAL',
       'ALIEN.ESTOQ.PROG.AQUIS.ALIMENTOS-PAA-PRINC.',
       'RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-MUL.JUR.',
       'ALIENACAO DE BENS IMOVEIS-MULTAS',
       'ALIENACAO DE BENS IMOVEIS-PRINCIPAL',
       'REMUNERACAO DE DEPOSITOS BANCARIOS-PRINCIPAL',
       'RECEITA INDUSTRIAL-PRINCIPAL',
       'SERV.DE REGIST.,CERTIF.E FISCALIZ.-MUL.JUR.',
       'TRANSF.DOS MUNICIPIOS E SUAS ENTIDADES-PRINC.',
       'INDENIZACAO POR SINISTRO-PRINCIPAL',
       'CONTRIBUICAO INDUSTRIAL RURAL-DIV.AT-MUL.JUR.',
       'TITULOS DA DIVIDA AGRARIA-TDA-PRINCIPAL',
       'CONTR.S/APOSTAS EM COMPETIÇÕES HÍPICAS-PRINC.',
       'CONTRIBUICAO INDUSTRIAL RURAL-DIVIDA ATIVA',
       'AMORTIZACAO EMPRESTIMOS CONTRATUAIS-MUL.JUR.',
       'SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL',
       'SERV.ADMINISTRAT.E COMERCIAIS GERAIS-MUL.JUR.',
       'ALUGUEIS E ARRENDAMENTOS-PRINCIPAL',
       'OUTRAS RECEITAS-FINANCEIRAS-DIVIDA ATIVA',
       'OUTRAS RECEITAS-PRIMARIAS-DIV.ATIVA-MUL.JUR.',
       'ALIENACAO DE ESTOQUES DE CAFE-FUNCAFE-DIV.AT.',
       'ALIENACAO DE ESTOQUES DE CAFE-FUNCAFE-PRINC.',
       'RESTIT.PARCELAS SEGURO DESEMPR.RECEB.INDEVID.',
       'ALIENACAO DE BENS MOVEIS E SEMOVENTES-PRINC.',
       'CONTRIBUICAO INDUSTRIAL RURAL-MULTAS E JUROS',
       'RECEITA INDUSTRIAL-MULTAS E JUROS',
       'TAXAS INSPEÇÃO,CONTROLE E FISCALIZ.-MUL.JUR.',
       'CONT.S/APOSTAS EM COMPETICOES HIPICAS-MUL.JUR',
       'RECEITA AGROPECUÁRIA-MULTAS E JUROS',
       'OUTROS RESSARCIMENTOS-DIVIDA ATIVA', 'OUTRAS RESTITUIÇÕES',
       'TAXAS INSPEÇÃO,CONTROLE E FISCALIZAÇÃO-PRINC.',
       'REMUN.SALDOS RECURSOS NAO-DESEMBOLSADOS-PRINC',
       'REMUN.SALDOS RECUR.NAO-DESEMBOLSADOS-MUL.JUR.',
       'ALIEN.BENS E MERCADORIAS APREENDIDOS-MUL.JUR.',
       'CONTRIBUIÇÃO SOBRE A LOTERIA FEDERAL-PRINCIP.',
       'ALIEN.DE BENS E MERCADORIAS APREENDIDOS-PRINC',
       'CONTRIBUIÇÃO SOBRE LOTERIAS ESPORTIVAS-PRINC.',
       'CONTRIB.S/CONCURS.PROGNÓST.-MOD.FUT-PRINCIPAL',
       'CONTRIBUIÇÃO SOBRE LOTERIAS DE NÚMEROS-PRINC.',
       'TRANSFERENCIAS DE PESSOAS FISICAS-PRINCIPAL',
       'OUTROS RESSARCIMENTOS-MULTAS E JUROS',
       'TRANSF.PROVENIENTES DEP.NAO IDENTIFIC.-PRINC.',
       'EMPRÉSTIMOS COMPULSÓRIOS',
       'COMPENS.FINAN.EXPL.RECURSOS MINERAIS-MUL.JUR.',
       'CONTR.S/REC.CONCESS.PERM.ENERG.ELETR.-MUL.JUR',
       'COMPENS.FINANC.EXPL.RECURSOS MINERAIS-DIV.AT.',
       'OUTROS RESSARCIMENTOS-DIVIDA ATIVA-MUL.JUR.',
       'SERVICOS DE INFORMACAO E TECNOLOGIA-MUL.JUR.',
       'CONTR.S/FATUR.EMPR.INFO.INST.AMAZONIA-PRINC.',
       'CESSAO DIR.EXPLOR.SATELITE BRASILEIRO-PRINC.',
       'COTA-PARTE DO AFRMM-MULTAS E JUROS',
       'UTILIZACAO DE RECURSOS HIDRICOS-ITAIPU-PRINC.',
       'CONTR.S/FATUR.EMPR.INFO.INST.AMAZONIA-MUL.JUR',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELEC.-MUL.JUR',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-MUL.JUR.',
       'COMPENS.FINANC.EXPL.RECURSOS MINERAIS-PRINC.',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-DIV.AT.',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-PRINC.',
       'CONTR.S/FATUR.EMPR.INFO.INST.DEM.REG.-MUL.JUR',
       'CONTR.S/REC.CONCESS.PERM.ENERG.ELÉTR.-PRINC.',
       'COTA-PARTE DO AFRMM-PRINCIPAL',
       'COMPENS.FIN.EXPL.REC.MINERAIS-DIV.AT.-MUL.JUR',
       'CESSAO DIREITO USO DE RADIOFREQUENCIA-PRINC.',
       'TAXAS INSPECAO,CONTROLE E FISCALIZACAO-PRINC.',
       'CONTR.S/FATUR.EMPR.INFO.INST.DEM.REG.-PRINC.',
       'CIDE-REMESSAS AO EXTERIOR-PRINCIPAL',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELECOM-PRINC.',
       'CONTR.P/DES.ENS.PROF.MARITIMO-DIV.AT-MUL.JUR.',
       'CONTR.P/DESENV.ENSINO PROF.MARITIMO-MUL.JUR.',
       'CONTR.P/DESENV.ENSINO PROF.MARÍTIMO-PRINCIPAL',
       'CONTR.P/DESENV.ENSINO PROF.MARITIMO-DIV.ATIVA',
       'OUTROS SERVICOS-MULTAS E JUROS',
       'INDENIZ.P/DANOS CAUSADOS AO PATR.PUB.-MUL.JUR',
       'SERV.ASSIST.SAUDE SUPLEM.SERV.CIVIL-PRINC.',
       'REVERSAO DE GARANTIAS-PRINCIPAL',
       'SERV.ASSIST.MEDICO-HOSP.DO MILITAR-MUL.JUR.',
       'CONTR.P/PREV.MIL.E CUST.PENSÕES MILIT-PRINC.',
       'SERVICOS DE NAVEGACAO-PRINCIPAL',
       'OUTORGA DIR.USO OU EXPL.CRIACAO PROTEG.-PRINC',
       'CESSAO DO DIR.OPERACIONALIZACAO PAGTOS-PRINC.',
       'JUROS DE TITULOS DE RENDA-PRINCIPAL',
       'SERVICOS DE ATENDIMENTO A SAUDE-MUL.JUR.', 'DIVIDENDOS-PRINCIPAL',
       'TAXAS PELA PRESTAÇÃO DE SERVIÇOS-PRINCIPAL',
       'EMOLUMENTOS E CUSTAS JUDICIAIS-PRINCIPAL',
       'SERVICOS DE ATENDIMENTO A SAUDE-PRINCIPAL',
       'SERVICOS PORTUARIOS-PRINCIPAL', 'TARIFA AEROPORTUARIA-PRINCIPAL',
       'INSCR.EM CONCURSOS E PROC.SELETIVOS-MUL.JUR.',
       'REMUNERACAO DE DEPOSITOS BANCARIOS-MUL.JUR.',
       'SERVICOS DE TRANSPORTE-PRINCIPAL',
       'DEMAIS RECEITAS PATRIMONIAIS-PRINCIPAL',
       'TAXAS PELA PRESTAÇÃO DE SERVIÇOS-MULT.E JUROS',
       'CONC/PERM/AUT/CESSAO DIR.USO IMOV.PUB-PRINC.',
       'OP.CREDITO CONTRATUAIS-MERCADO INTERNO-PRINC.',
       'SERV.ASSIST.MEDICO-HOSP.DO MILITAR-PRINCIPAL',
       'INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL',
       'CONTR.P/PREV.MIL.E CUST.PENSÕES MILIT-MUL.JUR',
       'CONTRIB.PATR.DE SERV.ATIVO CIV.P/RPPS-MUL.JUR',
       'TX.INSP,CONTROL.E FISCALIZ.-DÍV.AT.-MUL.JUR.',
       'IRRF-TRABALHO-MULTAS/JUROS-INTRA ORÇAMENTÁRIA',
       'MUL.P/DESCUMP.OBRIG.PREVID.ACESSORIA-MUL.JUR.',
       'CONTRIB.S/SORT.REALIZ.POR ENT.FILANT.-MUL.JUR',
       'IRPF-JUROS DA DÍVIDA ATIVA',
       'IMPOSTO SOBRE A IMPORTAÇÃO-MULTAS DÍV.ATIVA',
       'CONTRIBUIÇÃO PARA O PIS/PASEP-MULTAS E JUROS',
       'CONDECINE-PRINCIPAL',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELECOM-DIV.AT',
       'CONTR.P/FUNDOS ASSIST.MÉD-BOMB.MILIT.-PRINC.',
       'IOF-DEMAIS OPERAÇÕES-DÍVIDA ATIVA',
       'CONTRIB.DO PENSIONISTA PARA O RPPS-PRINC.',
       'IMPOSTO SOBRE A IMPORTACAO-DIV.AT.-MUL.JUR.',
       'CONTR.MOV.TRANSM.VAL.CRED.DIR.NAT.FIN.-DIV.AT',
       'CONTR.S/APOSTAS COMPET.HIPICAS-DIV.AT-MUL.JUR', 'Sem informação',
       'TAXA DE CONTROLE E FISC.AMBIENTAL-PRINCIPAL',
       'CONTRIBUIÇÕES P/O RGPS-DÍVIDA ATIVA',
       'RESTIT.PARCELAS SEG.DESEMP.REC.INDEV.-MUL.JUR',
       'TAXAS INSPEÇÃO,CONTROLE E FISCALIZAÇÃO-DÍV.AT',
       'CONTRIB.PATR.DE SERV.ATIVO CIV.P/RPPS-PRINC.',
       'IRRF-TRABALHO-PRINCIPAL',
       'ROY.PETRO.PLAT-COM.ANTES 3/12/12-P.SAL-PRINC.',
       'ROY.PETR.PLAT.-PARTILHA-COM.A P.3/12/12-PRINC',
       'CONTRIB.DO SERVIDOR INATIVO P/RPPS-MUL.JUR.',
       'RESTITUIÇÃO DE BENEFÍCIOS PREVIDENCIÁRIOS',
       'RESTIT.PARCELAS SEG.DESEMPR.REC.INDEV.-PRINC.',
       'IMPOSTO SOBRE A EXPORTAÇÃO-MULTAS E JUROS', 'COFINS-DÍVIDA ATIVA',
       'CONTR.SERV.INAT.P/RPPS ORIG SENT.JUD-PRINC.',
       'IPI-OUTROS PRODUTOS-DIVIDA ATIVA-MUL.JUR.',
       'CONDECINE-MULTAS E JUROS',
       'RES.BACEN-OP.C/RESERV.E DERIV.CAMBIAIS-PRINC.',
       'CONTRIB.SERVIDOR ATIVO CIVIL P/RPPS-MUL.JUR.',
       'COTA-PARTE DO AFRMM-JUROS DA DÍVIDA ATIVA',
       'RESTIT.DEP.DE SENTENÇAS JUD.Ñ SACADOS-PRINC.',
       'RESTIT.DEP.DE SENTENÇAS JUD.Ñ SACADOS-MUL.JUR',
       'IMPOSTO SOBRE A EXPORTAÇÃO-MULTAS DÍV.ATIVA',
       'CONTRIBUICOES P/O RGPS-DIVIDA ATIVA-MUL.JUR.',
       'CONTRIB.SOCIAL DO SALÁRIO-EDUCAÇÃO-PRINCIPAL',
       'ITR-MUNICIPIOS NAO CONVENIADOS-DIV.AT-MUL.JUR',
       'CONTRIB.SERVIDOR ATIVO CIVIL P/RPPS-PRINCIPAL',
       'CONTRIB.PATR.P/RPPS ORIUNDA SENT.JUD.-PRINC.',
       'OUTRAS DELEG.DOS SERVICOS DE TELECOM-PRINC.',
       'MUL.P/DESCUMP.OBRIG.PREVID.ACESSORIA-PRINC.',
       'IRPJ-LÍQUIDA DE INCENTIVOS-DÍVIDA ATIVA',
       'CONTRIB.SOCIAL SOBRE LUCRO LÍQ.-CSLL-MUL.JUR.',
       'DIVIDENDOS-MULTAS E JUROS',
       'IRPJ-LIQUIDA DE INCENTIVOS-DIV.AT.-MUL.JUR.',
       'IRRF-OUTROS RENDIMENTOS-PRINCIPAL',
       'RETORNO DE OP.,JUR.E ENC.FINANCEIROS-MUL.JUR.',
       'DELEG.P/PREST.SERV.TRANSP.FERROVIARIO-PRINC.',
       'CONTR.P/FUNDOS ASSIST.MÉD-POLIC.MILIT-PRINC.',
       'CONTRIB.SOCIAL SOBRE LUCRO LÍQ.-CSLL-PRINC.',
       'IRRF-REMESSA AO EXTERIOR-MULTAS E JUROS',
       'EMOLUMENTOS E CUSTAS JUDICIAIS-DÍVIDA ATIVA',
       'IPI-BEBIDAS-MULTAS E JUROS',
       'ROY.EXC.PETRO.PLAT-COM.A PARTIR 3/12/12-PRINC',
       'ITR-MUNICÍPIOS NÃO CONVENIADOS-DÍVIDA ATIVA',
       'CONTR.S/REC.OP.BRT DECOR.SERV.TELECOM-PRINC.',
       'TAXAS PELA PRESTACAO DE SERVICOS-PRINCIPAL',
       'IPI-OUTROS PRODUTOS-MULTAS/JUROS-INTRA ORÇAM.',
       'IMPOSTO SOBRE A EXPORTAÇÃO-PRINCIPAL',
       'IRRF-OUTROS RENDIMENTOS-INTRA ORÇAMENTÁRIA',
       'CONTRAPART.DE SUBVENCOES OU SUBSIDIOS-PRINC.',
       'RESTIT.DE BENEFICIOS PREVIDENCIARIOS-PRINC.',
       'IPI-FUMO-MULTAS E JUROS', 'COTA-PARTE DO AFRMM-DIVIDA ATIVA',
       'IRPF-DÍVIDA ATIVA', 'RESSARCIMENTO AO RGPS-PRINCIPAL',
       'CESSAO DIREITO USO DE RADIOFREQUENCIA-MUL.JUR',
       'OUTRAS CONTRIBUIÇÕES SOCIAIS-DÍV.AT.-MUL.JUR.',
       'IMPOSTO SOBRE A IMPORTAÇÃO-JUROS DÍVIDA ATIVA',
       'JUROS SOBRE O CAPITAL PROPRIO-MULTAS E JUROS',
       'CONT.MOV.TRANSM.VAL.CR.DIR.FIN-JUROS DÍV.AT.',
       'CONDECINE-DIVIDA ATIVA',
       'MULTAS PREV.NA LEI GERAL DAS TELECOM.-PRINC.',
       'RESTIT.CONTRIB.PREVIDENCIÁRIAS COMPLEMENTARES',
       'IPI-FUMO-PRINCIPAL',
       'RESTITUICAO DE BENEFICIOS ASSISTENCIAIS-PRINC',
       'IPI-AUTOMÓVEIS-PRINCIPAL', 'COFINS-PRINCIPAL',
       'CIDE-REMESSAS AO EXTERIOR-DIV.AT.-MUL.JUR.',
       'IPI-VINCULADOS IMPORTAÇÃO-MULTAS/JUROS-INTRA',
       'OUTROS IMPOSTOS-MULTAS E JUROS',
       'CONTRIB.DO SERVIDOR INATIVO P/RPPS-PRINCIPAL',
       'IPI-OUTROS PRODUTOS-JUROS DA DÍVIDA ATIVA',
       'FOROS,LAUDEMIOS,TARIFAS DE OCUPACAO-DIV.ATIVA',
       'CONTR.S/ARREC.FUNDOS INVEST.REGIONAIS-PRINC.',
       'VARIACAO CAMBIAL-PRINCIPAL',
       'BARREIRAS TECNICAS AO COMERCIO EXTERIOR-PRINC',
       'CONTR.REL.DESPED.EMPREG.S/JUSTA CAUSA-PRINC.',
       'CONTR.S/REMUN.DEVIDA AO TRABALHADOR-PRINCIPAL',
       'MULTAS PREV.EM LEG.ESPECIFICA-DIV.AT-MUL.JUR.',
       'IOF-DEMAIS OPERACOES-DIVIDA ATIVA-MUL.JUR.',
       'FOROS,LAUDEMIOS,TARIFAS DE OCUPACAO-MUL.JUR.',
       'CONTRIB.P/FOMENTO RADIODIFUSAO PUBLICA-PRINC.',
       'OUTRAS OPER.DE CREDITO-MERCADO INTERNO-PRINC.',
       'RESSARCIMENTO AO RGPS-MULTAS E JUROS',
       'CONTRIBUIÇÃO PARA O PIS/PASEP-MULTAS DÍV.AT.',
       'FOROS,LAUDEMIOS,TARIFAS DE OCUPACAO-PRINCIPAL',
       'P.ESP.PETRO.PLAT-COM.ANT.3/12/12-DEMAIS-PRINC',
       'IRRF-CAPITAL-MULTAS E JUROS',
       'IPI-OUTROS PRODUTOS-MULTAS DA DÍVIDA ATIVA',
       'CONTRIBUIÇÃO PARA O PIN-PRINCIPAL',
       'CONCESSAO DE AVAIS,GARANTIAS E SEGUROS-PRINC.',
       'OUTRAS RECEITAS-PRIMARIAS-DIVIDA ATIVA',
       'INDENIZ.POSSE/OCUP.ILICITA BENS PUB.-MUL.JUR.',
       'CONC/PERM/AUT/CESSAO DIR.USO IMOV.PUB-MUL.JUR',
       'ITR-MUNICÍPIOS CONVENIADOS-PRINCIPAL',
       'IRRF-REMESSA AO EXTERIOR-PRINCIPAL',
       'COMPENS.FINANCEIRAS ENTRE RGPS E RPPS-PRINC.',
       'IPI-BEBIDAS-REC.INTRA ORÇAMENTÁRIA',
       'BARREIRAS TECNICAS AO COMERC.EXTERIOR-MUL.JUR',
       'COFINS-MULTAS DA DÍVIDA ATIVA',
       'TITULOS DE RESPONS.TES.NAC.-MERC.INT.-PRINC.',
       'IOF-DEMAIS OPERAÇÕES-MULTAS DA DÍVIDA ATIVA',
       'DEL.SERV.TELEC.-POD.CONC.NO REG.PUB.-MUL.JUR.',
       'APORTES PERIOD.P/COMPENSACOES AO RGPS-PRINC.',
       'AMORT.EMPR.-REFIN.DIV.MED.E LONGO PRAZO-PRINC',
       'RESTITUICAO DE GARANTIAS PRESTADAS-PRINCIPAL',
       'PREMIOS PRESCRITOS CONCUR.PROGNOSTICOS-PRINC.',
       'IRRF-TRABALHO-MULTAS DA DÍVIDA ATIVA',
       'ROY.EXC.PETRO.PLAT-COM.ANT.3/12/12-DEM.-PRINC',
       'ITR-MUNICÍPIOS NÃO-CONVENIADOS-MULTAS DÍV.AT.',
       'CONTRIBUIÇÃO PARA O ENSINO AEROVIÁRIO-PRINC.',
       'PARTICIPACOES-PRINCIPAL', 'IRPF-MULTAS DA DÍVIDA ATIVA',
       'OUTRAS CONTRIBUIÇÕES SOCIAIS-DÍVIDA ATIVA',
       'CONT.MOV.TRANSM.VAL.CRED.DIR.NAT.FIN.-MUL.JUR',
       'ROYAL.EXCED.PROD.PETRO.TERRA(QQ SIT.)-PRINC.',
       'IPI-OUTROS PRODUTOS-MULTAS E JUROS', 'COFINS-MULTAS E JUROS',
       'IRRF-OUTROS RENDIMENTOS-MULTAS E JUROS',
       'CONTRIBUIÇÃO PARA O PIS/PASEP-JUROS DÍV.ATIVA',
       'REMUN.S/REPASSE P/PROG.DESENV.ECONOMICO-PRINC',
       'IMPOSTO SOBRE A IMPORTAÇÃO-DÍVIDA ATIVA',
       'IRRF-CAPITAL-PRINCIPAL',
       'CIDE-COMBUSTIVEIS-IMPORTACAO-MULTAS E JUROS',
       'CONTRIBUIÇÃO PARA O PROTERRA-PRINCIPAL',
       'IMPOSTO SOBRE A IMPORTACAO-MULTAS E JUROS',
       'CONTR.S/REC.OP.BRT DECOR.SERV.TELECOM-DIV.AT.',
       'CONTRIBUICAO PARA O ENSINO AEROVIARIO-MUL.JUR',
       'IPI-OUTROS PRODUTOS-DÍVIDA ATIVA',
       'AMORTIZ.PROV.EXEC.DE GARANTIA-OP.CRED.-PRINC.',
       'IRPJ-LÍQUIDA DE INCENTIVOS-PRINCIPAL',
       'CIDE COMBUSTIVEIS-COMERCIALIZACAO-MUL.JUR.',
       'IMPOSTO SOBRE A IMPORTAÇÃO-MULTAS E JUROS',
       'OUTRAS CONTRIBUICOES ECONOMICAS-MULTAS/JUROS',
       'CONCESSAO AVAIS,GARANTIAS E SEGUROS-MUL.JUR.',
       'IOF-DEMAIS OPERAÇÕES-PRINCIPAL',
       'CONTRIBUIÇÕES PARA O RGPS-MULTAS DÍVIDA ATIVA',
       'CONTRIB.SOCIAL DO SALARIO-EDUCACAO-MUL.JUR.',
       'AMORT.EMPREST.-PROG.OP.OFICIAIS CRED.-PRINC.',
       'IRRF-TRABALHO-DÍVIDA ATIVA',
       'CONTRIBUIÇÃO PARA O PIS/PASEP-DÍVIDA ATIVA',
       'IRRF-TRABALHO-DIVIDA ATIVA-MULTAS E JUROS', 'IPI-BEBIDAS',
       'IRRF-REMESSA AO EXTERIOR-INTRA ORÇAMENTÁRIA',
       'IMPOSTO SOBRE A IMPORTAÇÃO-PRINCIPAL',
       'IMPOSTO SOBRE A EXPORTAÇÃO-DÍV.AT.-MUL.JUR.',
       'CONT.MOV.TRANSM.VAL.CR.DIR.FIN-MULTAS DÍV.AT.',
       'CONTRIBUICAO PARA O PIS/PASEP-DIV.AT-MUL.JUR.',
       'CONTR.MOV.TRANSM.VAL.CRÉD.DIR.NAT.FIN.-PRINC.',
       'CONTRIB.SOC.S/LUCRO LÍQ.-CSLL-MULTAS DÍV.AT.',
       'COMPENS.FINANCEIRAS ENTRE RGPS E RPPS-MUL.JUR',
       'CIDE-REMESSAS AO EXTERIOR-MULTAS E JUROS',
       'RESTITUIÇÃO DESPESAS DE EXERCÍCIOS ANTERIORES',
       'TX.CONTROLE E FISCALIZ.PROD.QUÍMICOS-PRINC.',
       'CONT.P/ENT.PRIV.SERV.SOC.E FORM.PROFIS.-PRINC',
       'CIDE-REMESSAS AO EXTERIOR-DIVIDA ATIVA',
       'TIT.RESP.TN-REFIN.DIV.PUB.FED.MERC.INT.-PRINC',
       'ALIENACAO DE TITULOS MOBILIARIOS-PRINCIPAL',
       'IPI-AUTOMÓVEIS-MULTAS E JUROS',
       'IPI-BEBIDAS-MULTAS E JUROS-INTRA ORÇAMENTÁRIA',
       'IRRF-TRABALHO-MULTAS E JUROS',
       'CONTRIB.SOCIAL SOBRE LUCRO LÍQ.-CSLL-DÍV.AT.',
       'IRPF-DIVIDA ATIVA-MULTAS E JUROS',
       'CONTR.LOJ.FR.ENTREP.ADUAN.DEP.ALFAND.-PRINC.',
       'MULTAS PREV.LEG.SEG.DESEMP.AB.SALAR.-MUL.JUR.',
       'CIDE-COMBUST.-COMERCIALIZACAO-JUROS DÍV.ATIVA',
       'ROYALT.PROD.PETRO.EM TERRA-CONCESSAO-PRINC.',
       'AMORTIZACAO DE EMPRESTIMOS-EST/MUN-MUL.JUR.',
       'COTA-PARTE DO AFRMM-DIVIDA ATIVA-MUL.JUR.',
       'CIDE-COMBUST.-COMERCIALIZACAO-MULTAS DÍV.AT.',
       'CONTRIBUIÇÕES PARA O RGPS-JUROS DÍVIDA ATIVA',
       'TX.PELA PRESTAÇÃO DE SERVIÇOS-DÍV.AT-MUL.JUR.',
       'RESTIT.BENEFICIOS NAO DESEMBOLSADOS-PRINCIPAL',
       'DEL.SERV.RADIODIF.SONORA E SOM/IMAGEM-PRINC.', 'IRPF-PRINCIPAL',
       'IRPJ-LÍQUIDA DE INCENTIVOS-MULTAS E JUROS',
       'ROY.PETRO.PLAT-COM.ANTES 3/12/12-DEMAIS-PRINC',
       'ROYAL.PETRO.PLAT.-COM.A PARTIR 3/12/12-PRINC.',
       'CONTRIBUIÇÕES P/O RGPS-MULTAS E JUROS',
       'REMUNER.DISPONIBILIDADES TES.NACIONAL-PRINC.',
       'INDENIZ.POSSE/OCUP.ILICITA BENS PUB.-PRINC.',
       'OUTRAS DELEG.DOS SERVICOS DE TELECOM-MUL.JUR.',
       'CONTR.PENSIONISTA P/RPPS ORIG SENT.JUD-PRINC.',
       'COTA-PARTE DA CONTRIBUICAO SINDICAL-MUL.JUR.',
       'OUTRAS CONTRIBUIÇÕES SOCIAIS-PRINCIPAL',
       'CONTRIB.SOC.S/LUCRO LÍQ.-CSLL-JUROS DÍV.ATIVA',
       'CONTRIB.SERV.ATIVO P/RPPS-SENT.JUD.-PRINC.',
       'COFINS-DIVIDA ATIVA-MULTAS E JUROS',
       'TIT.RESP.TN-REFIN.DIV.PUB.FED.MERC.EXT.-PRINC',
       'ITR-MUNICÍPIOS NÃO-CONVENIADOS-MULTAS E JUROS',
       'CIDE-COMBUSTÍVEIS-COMERCIALIZAÇÃO-PRINCIPAL',
       'RESULTADO DO BACEN-DEMAIS OPERACOES-PRINCIPAL',
       'CONTRIBUICAO PARA O PIS/PASEP-PRINCIPAL',
       'COTA-PARTE DA CONTRIBUIÇÃO SINDICAL-PRINCIPAL',
       'IPI-VINCULADOS À IMPORTAÇÃO-PRINCIPAL',
       'IPI-VINCULADOS À IMPORTAÇÃO-MULTAS E JUROS',
       'CIDE-COMBUSTIVEIS-COMERCIALIZACAO-DIV.ATIVA',
       'CONTRIBUICAO AO MONTEPIO CIVIL-PRINCIPAL',
       'MULTAS PREV.LEG.SEG.DESEMP.AB.SALAR.-DIV.AT.',
       'IOF-OURO-MULTAS E JUROS', 'IRPF-MULTAS E JUROS',
       'RESTIT.DE BENEFICIOS PREVIDENCIARIOS-MUL.JUR.',
       'ITR-MUNICÍPIOS NÃO-CONVENIADOS-JUROS DÍV.AT.',
       'COTA-PARTE DO AFRMM-MULTAS DA DÍVIDA ATIVA',
       'MULTAS PREV.NA LEI GERAL DAS TELECOM.-DIV.AT.',
       'CIDE-COMBUSTÍVEIS-IMPORTAÇÃO-PRINCIPAL',
       'IRPJ-LÍQUIDA DE INCENTIVOS-JUROS DÍV.ATIVA',
       'ROY.EXC.PETRO.PLAT-CM.ANT.3/12/12-P.SAL-PRINC',
       'P.ESP.PETRO.PLAT-COM.A PARTIR 3/12/12-PRINC.',
       'PART.ESP.PETRO.TERRA(QQ SIT)-CONCESSAO-PRINC.',
       'P.ESP.PETRO.PLAT-COM.ANT.3/12/12-P.SAL-PRINC.',
       'ROY.EXC.PETR.PLAT-CESS.-COM.A P.3/12/12-PRINC',
       'CONTRIBUIÇÕES P/O RGPS-PRINCIPAL',
       'REMUNERACAO DE DEPOSITOS ESPECIAIS-PRINCIPAL',
       'TAXA DE FISCALIZAÇÃO DE INSTALAÇÃO-PRINCIPAL',
       'ALIENACAO DE BENS INTANGIVEIS-PRINCIPAL',
       'IRRF-TRABALHO-JUROS DA DÍVIDA ATIVA',
       'COFINS-JUROS DA DÍVIDA ATIVA',
       'COMPENS.FINANCEIRAS ENTRE RGPS E RPPS-DIV.AT.',
       'MUL.PREV.LEG.S/REG.PREV.PRIV.COMPLEM.-DIV.AT.',
       'MUL.PREV.LEG.S/REG.PREV.PRIV.COMPLEM.-PRINC.',
       'MUL.PREV.LEG.S/REG.PREV.PRIV.COMPLEM.-MUL.JUR',

Los 10 DETALLE que MAS aparecen son:

                                               count  Porcentaje_recuento
DETALLE
SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.    29841                15.67
ALUGUEIS E ARRENDAMENTOS-PRINCIPAL             13745                 7.22
INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL  13636                 7.16
RESTIT.DE DESPESAS DE EXERC.ANTERIORES-PRINC.  11981                 6.29
MULTAS PREVISTAS EM LEGISL.ESPECIFICA-PRINC.    9473                 4.97
OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL             6144                 3.23
OUTRAS RESTITUICOES-PRINCIPAL                   5726                 3.01
REMUNERACAO DE DEPOSITOS BANCARIOS-PRINCIPAL    5213                 2.74
OUTROS RESSARCIMENTOS-PRINCIPAL                 4721                 2.48
RESTITUICAO DE CONVENIOS-PRIMARIAS-PRINCIPAL    4208                 2.21

Los 10 DETALLE que MENOS aparecen son:

                                               count  Porcentaje_recuento
DETALLE
CIDE-COMBUSTIVEIS-IMPORTACAO-DIVIDA ATIVA          1                 0.00
IMPOSTO SOBRE A IMPORTACAO-DIV.AT.-MUL.JUR.        1                 0.00
RESTITUIÇÃO DE BENEFÍCIOS PREVIDENCIÁRIOS          1                 0.00
RESTITUIÇÃO DE CONVÊNIOS - PRIMÁRIAS               1                 0.00
MULTAS PREV.LEG.S/DEF.DIR.DIFUS.DIV AT-MUL JU      1                 0.00
CONCESSAO FLOREST.NACIONAIS-VAL.MIN.-MUL.JUR.      1                 0.00
MULTAS PREV.LEG.S/DEFESA DIR.DIFUSOS-DIV ATIV      1                 0.00
CONTR.S/FATUR.EMPR.INFO.INST.DEM.REG.-MUL.JUR      1                 0.00
TAXAS INSPECAO,CONTROLE E FISCALIZ.-MUL.JUR.       1                 0.00
TAXA DE FISCALIZACAO DE FUNCIONAMENTO-MUL.JUR      1                 0.00

 Las distribución de las repeticiones de los DETALLE son:

       count  % repetición
count
1         32          6.20
36        27          5.23
2         21          4.07
13        18          3.49
54        16          3.10
...      ...           ...
63         1          0.19
66         1          0.19
20         1          0.19
29         1          0.19
21         1          0.19

[197 rows x 2 columns]

None
La categoría VALOR_PREVISTO_ACTUALIZADO tiene 1827 elementos diferentes:

Los elementos de la categoría son:

array([0.00000000e+00, 6.18478200e+06, 1.90043543e+09, ...,
       1.34018339e+08, 6.71722960e+07, 4.60839000e+05])

Los 10 VALOR_PREVISTO_ACTUALIZADO que MAS aparecen son:

                             count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
0.00                        188589                99.01
17125146.00                      4                 0.00
1000000.00                       4                 0.00
7812351.00                       3                 0.00
19264302.00                      2                 0.00
5136971.00                       2                 0.00
49471218.00                      2                 0.00
100000.00                        2                 0.00
2520000.00                       2                 0.00
3000000.00                       2                 0.00

Los 10 VALOR_PREVISTO_ACTUALIZADO que MENOS aparecen son:

                            count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
1819584.00                      1                 0.00
325716.00                       1                 0.00
4302315.00                      1                 0.00
30368.00                        1                 0.00
196471.00                       1                 0.00
2426.00                         1                 0.00
9331.00                         1                 0.00
565928.00                       1                 0.00
372471.00                       1                 0.00
244596.00                       1                 0.00

 Las distribución de las repeticiones de los VALOR_PREVISTO_ACTUALIZADO son:

        count  % repetición
count
1        1767         96.72
2          56          3.07
4           2          0.11
188589      1          0.05
3           1          0.05

None
La categoría VALOR_REGISTRADO tiene 1043 elementos diferentes:

Los elementos de la categoría son:

array([ 0.00000000e+00,  5.91582000e+03,  3.66572200e+04, ...,
       -3.00000000e+00,  9.00000000e+02,  5.07434478e+06])

Los 10 VALOR_REGISTRADO que MAS aparecen son:

                   count  Porcentaje_recuento
VALOR_REGISTRADO
0.00              189434                99.45
5915.82                2                 0.00
0.09                   2                 0.00
0.11                   2                 0.00
4960915.37             1                 0.00
4826200.91             1                 0.00
44771661.72            1                 0.00
1634470671.36          1                 0.00
90005153.21            1                 0.00
1800.00                1                 0.00

Los 10 VALOR_REGISTRADO que MENOS aparecen son:

                  count  Porcentaje_recuento
VALOR_REGISTRADO
35.39                 1                 0.00
971.95                1                 0.00
1589.57               1                 0.00
1402.39               1                 0.00
1447.43               1                 0.00
1115.68               1                 0.00
5731.56               1                 0.00
4920.76               1                 0.00
-5915.82              1                 0.00
96677.57              1                 0.00

 Las distribución de las repeticiones de los VALOR_REGISTRADO son:

        count  % repetición
count
1        1039         99.62
2           3          0.29
189434      1          0.10

None
La categoría VALOR_REALIZADO tiene 128532 elementos diferentes:

Los elementos de la categoría son:

array([ 198.  , 2093.5 , 9329.4 , ..., 1564.91,  439.2 ,   45.31])

Los 10 VALOR_REALIZADO que MAS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
0.00              2800                 1.47
100.00             664                 0.35
50.00              555                 0.29
20.00              538                 0.28
200.00             527                 0.28
30.00              496                 0.26
60.00              493                 0.26
150.00             472                 0.25
300.00             463                 0.24
10.00              462                 0.24

Los 10 VALOR_REALIZADO que MENOS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
1411.03              1                 0.00
121637.11            1                 0.00
4115017.41           1                 0.00
2477.55              1                 0.00
42381.15             1                 0.00
508.25               1                 0.00
2072.27              1                 0.00
3254.46              1                 0.00
802.75               1                 0.00
13701.24             1                 0.00

 Las distribución de las repeticiones de los VALOR_REALIZADO son:

        count  % repetición
count
1      115236         89.66
2        7151          5.56
3        2330          1.81
4        1118          0.87
5         613          0.48
...       ...           ...
43          1          0.00
57          1          0.00
59          1          0.00
61          1          0.00
56          1          0.00

[140 rows x 2 columns]

None
La categoría PORCENTAJE_REALIZADO tiene 24 elementos diferentes:

Los elementos de la categoría son:

array([  0.,   4.,   7., 742.,   2.,   1.,   3.,   9.,   6.,  82.,   5.,
        13.,  71., 103.,  24., 257.,  18.,   8.,  22.,  10.,  61.,  54.,
        16.,  15.])

Los 10 PORCENTAJE_REALIZADO que MAS aparecen son:

                       count  Porcentaje_recuento
PORCENTAJE_REALIZADO
0.00                  190295                99.90
1.00                      70                 0.04
2.00                      46                 0.02
3.00                      26                 0.01
4.00                      11                 0.01
6.00                       5                 0.00
5.00                       3                 0.00
7.00                       3                 0.00
22.00                      2                 0.00
9.00                       2                 0.00

Los 10 PORCENTAJE_REALIZADO que MENOS aparecen son:

                      count  Porcentaje_recuento
PORCENTAJE_REALIZADO
71.00                     1                 0.00
82.00                     1                 0.00
257.00                    1                 0.00
24.00                     1                 0.00
18.00                     1                 0.00
10.00                     1                 0.00
61.00                     1                 0.00
54.00                     1                 0.00
16.00                     1                 0.00
15.00                     1                 0.00

 Las distribución de las repeticiones de los PORCENTAJE_REALIZADO son:

        count  % repetición
count
1          12         50.00
2           4         16.67
3           2          8.33
190295      1          4.17
70          1          4.17
11          1          4.17
26          1          4.17
46          1          4.17
5           1          4.17

None
La categoría FECHA_REGISTRO tiene 365 elementos diferentes:

Los elementos de la categoría son:

<DatetimeArray>
['2017-08-29 00:00:00', '2017-02-10 00:00:00', '2017-11-27 00:00:00',
 '2017-11-13 00:00:00', '2017-05-03 00:00:00', '2017-02-13 00:00:00',
 '2017-08-22 00:00:00', '2017-12-01 00:00:00', '2017-10-10 00:00:00',
 '2017-12-28 00:00:00',
 ...
 '2017-03-05 00:00:00', '2017-03-12 00:00:00', '2017-10-08 00:00:00',
 '2017-08-06 00:00:00', '2017-07-16 00:00:00', '2017-07-23 00:00:00',
 '2017-04-23 00:00:00', '2017-01-22 00:00:00', '2017-06-18 00:00:00',
 '2017-03-19 00:00:00']
Length: 366, dtype: datetime64[ns]

Los 10 FECHA_REGISTRO que MAS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2017-01-19       2111                 1.11
2017-08-31       1308                 0.69
2017-10-31       1305                 0.69
2017-07-31       1288                 0.68
2017-03-31       1284                 0.67
2017-01-31       1241                 0.65
2017-05-31       1241                 0.65
2017-11-30       1224                 0.64
2017-06-30       1179                 0.62
2017-09-29       1095                 0.57

Los 10 FECHA_REGISTRO que MENOS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2017-03-05          1                 0.00
2017-09-24          1                 0.00
2017-03-12          1                 0.00
2017-10-08          1                 0.00
2017-07-16          1                 0.00
2017-07-23          1                 0.00
2017-04-23          1                 0.00
2017-01-22          1                 0.00
2017-06-18          1                 0.00
2017-03-19          1                 0.00

 Las distribución de las repeticiones de los FECHA_REGISTRO son:

       count  % repetición
count
1         38         10.41
2         16          4.38
5          7          1.92
676        5          1.37
11         5          1.37
...      ...           ...
281        1          0.27
291        1          0.27
13         1          0.27
18         1          0.27
14         1          0.27

[189 rows x 2 columns]

None
La categoría AÑO_EJERCICIO tiene 1 elementos diferentes:

Los elementos de la categoría son:

array([2017])

Los 10 AÑO_EJERCICIO que MAS aparecen son:

                count  Porcentaje_recuento
AÑO_EJERCICIO
2017           190479               100.00

Los 10 AÑO_EJERCICIO que MENOS aparecen son:

                count  Porcentaje_recuento
AÑO_EJERCICIO
2017           190479               100.00

 Las distribución de las repeticiones de los AÑO_EJERCICIO son:

        count  % repetición
count
190479      1        100.00

None

## Año 2018

In [396]:
for columna in df_datos_2018.columns:
    print(se.analisis_individual_columnas(df_datos_2018, columna))

La categoría CÓDIGO_ÓRGANO_SUPERIOR tiene 22 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '37000', '22000', '55000', '24000', '52000', '25000',
       '26000', '39000', '30000', '81000', '33000', '36000', '41000',
       '57000', '35000', '32000', '53000', '51000', '44000', '54000',
       '20000'], dtype=object)

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MAS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
26000                   65876                37.87
25000                   36688                21.09
52000                   15387                 8.85
22000                    7655                 4.40
30000                    6155                 3.54
39000                    5964                 3.43
32000                    5570                 3.20
24000                    5278                 3.03
53000                    5049                 2.90
36000                    4967                 2.86

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MENOS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
54000                    4395                 2.53
20000                     617                 0.35
55000                     512                 0.29
35000                     490                 0.28
81000                     162                 0.09
63000                      99                 0.06
51000                      38                 0.02
37000                      16                 0.01
33000                       1                 0.00
57000                       1                 0.00

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO_SUPERIOR son:

       count  % repetición
count
1          2          9.09
36688      1          4.55
15387      1          4.55
7655       1          4.55
65876      1          4.55
6155       1          4.55
5964       1          4.55
5278       1          4.55
5570       1          4.55
4967       1          4.55
4546       1          4.55
4478       1          4.55
5049       1          4.55
4395       1          4.55
617        1          4.55
490        1          4.55
512        1          4.55
162        1          4.55
99         1          4.55
38         1          4.55
16         1          4.55

None
La categoría NOMBRE_ÓRGANO_SUPERIOR tiene 22 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União', 'Controladoria-Geral da União',
       'Ministério da Agricultura, Pecuária e Abastec',
       'Ministério da Cidadania',
       'Ministério da Ciência, Tecnologia, Inovações ',
       'Ministério da Defesa', 'Ministério da Economia',
       'Ministério da Educação', 'Ministério da Infraestrutura',
       'Ministério da Justiça e Segurança Pública',
       'Ministério da Mulher, Família e Direitos Huma',
       'Ministério da Previdência Social', 'Ministério da Saúde',
       'Ministério das Comunicações',
       'Ministério das Mulheres, Igualdade Racial, da',
       'Ministério das Relações Exteriores',
       'Ministério de Minas e Energia',
       'Ministério do Desenvolvimento Regional', 'Ministério do Esporte',
       'Ministério do Meio Ambiente', 'Ministério do Turismo',
       'Presidência da República'], dtype=object)

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MAS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério da Educação                         65876                37.87
Ministério da Economia                         36688                21.09
Ministério da Defesa                           15387                 8.85
Ministério da Agricultura, Pecuária e Abastec   7655                 4.40
Ministério da Justiça e Segurança Pública       6155                 3.54
Ministério da Infraestrutura                    5964                 3.43
Ministério de Minas e Energia                   5570                 3.20
Ministério da Ciência, Tecnologia, Inovações    5278                 3.03
Ministério do Desenvolvimento Regional          5049                 2.90
Ministério da Saúde                             4967                 2.86

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MENOS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério do Turismo                           4395                 2.53
Presidência da República                         617                 0.35
Ministério da Cidadania                          512                 0.29
Ministério das Relações Exteriores               490                 0.28
Ministério da Mulher, Família e Direitos Huma    162                 0.09
Advocacia-Geral da União                          99                 0.06
Ministério do Esporte                             38                 0.02
Controladoria-Geral da União                      16                 0.01
Ministério da Previdência Social                   1                 0.00
Ministério das Mulheres, Igualdade Racial, da      1                 0.00

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO_SUPERIOR son:

       count  % repetición
count
1          2          9.09
36688      1          4.55
15387      1          4.55
7655       1          4.55
65876      1          4.55
6155       1          4.55
5964       1          4.55
5278       1          4.55
5570       1          4.55
4967       1          4.55
4546       1          4.55
4478       1          4.55
5049       1          4.55
4395       1          4.55
617        1          4.55
490        1          4.55
512        1          4.55
162        1          4.55
99         1          4.55
38         1          4.55
16         1          4.55

None
La categoría CÓDIGO_ÓRGANO tiene 261 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '37000', '22211', '22201', '22202', '22000', '44208',
       '20129', '22905', '49001', '55001', '55000', '24901', '20301',
       '24000', '20402', '20501', '49280', '24209', '20502', '52904',
       '52132', '52911', '52133', '52000', '52131', '52111', '52221',
       '52121', '52211', '31280', '52233', '52222', '25000', '38901',
       '37202', '37904', '25201', '25916', '30203', '20924', '25203',
       '25207', '25205', '28500', '25211', '22500', '61201', '25905',
       '25904', '71902', '20603', '20202', '25915', '25901', '30204',
       '37201', '90000', '33206', '25914', '25208', '26443', '26412',
       '26263', '26298', '26241', '26424', '26271', '26246', '26410',
       '26238', '26243', '26242', '26277', '26245', '26426', '26268',
       '26406', '26244', '26411', '26276', '26350', '26421', '26236',
       '26294', '26234', '26447', '26284', '26233', '26442', '26413',
       '26408', '26441', '26260', '26352', '26420', '26250', '26270',
       '26402', '26255', '26416', '26247', '26273', '26232', '26254',
       '26448', '26431', '26283', '26249', '26434', '26239', '26433',
       '26419', '26291', '26404', '26405', '26439', '26278', '26450',
       '26258', '26248', '26279', '26436', '26440', '26201', '26257',
       '26262', '26237', '26403', '26292', '26264', '26407', '26275',
       '26261', '26230', '26267', '26415', '26274', '26428', '26269',
       '26285', '26266', '26231', '26435', '26418', '26240', '26438',
       '26423', '26251', '26449', '26252', '26256', '26272', '26351',
       '26409', '26282', '26417', '26281', '26432', '26290', '26429',
       '26235', '26427', '26422', '26280', '26000', '26437', '26253',
       '26430', '26414', '26286', '26425', '39250', '62201', '56901',
       '39252', '29209', '39815', '39811', '39816', '68201', '39813',
       '39253', '49901', '39814', '39000', '62901', '39812', '39817',
       '30907', '30108', '30912', '30911', '30211', '30905', '30202',
       '30205', '30000', '30802', '30914', '30913', '81000', '33000',
       '36211', '36213', '36000', '36201', '36210', '36212', '41232',
       '41231', '41903', '20415', '64901', '35201', '35000', '32396',
       '32205', '32314', '32263', '29208', '32210', '32000', '20302',
       '20303', '22204', '53901', '22203', '74918', '53203', '29214',
       '53902', '74919', '53000', '44205', '53903', '53202', '53207',
       '74917', '29205', '56902', '91214', '20701', '44207', '44206',
       '44204', '44000', '44902', '34902', '54901', '20404', '20203',
       '42207', '20411', '20604', '54000', '20412', '20403', '20101',
       '20116', '24208'], dtype=object)

Los 10 CÓDIGO_ÓRGANO que MAS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
25000          22844                13.13
52904           4319                 2.48
52132           4042                 2.32
34902           2786                 1.60
22202           2505                 1.44
20701           2243                 1.29
52911           2002                 1.15
24901           1924                 1.11
30203           1885                 1.08
37904           1755                 1.01

Los 10 CÓDIGO_ÓRGANO que MENOS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
39000              9                 0.01
39814              5                 0.00
32314              5                 0.00
39815              2                 0.00
20402              1                 0.00
90000              1                 0.00
64901              1                 0.00
81000              1                 0.00
33000              1                 0.00
30911              1                 0.00

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO son:

       count  % repetición
count
1          6          2.30
33         3          1.15
657        2          0.77
754        2          0.77
757        2          0.77
...      ...           ...
16         1          0.38
10         1          0.38
11         1          0.38
9          1          0.38
2          1          0.38

[232 rows x 2 columns]

None
La categoría NOMBRE_ÓRGANO tiene 260 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União - Unidades com vínculo direto',
       'Controladoria-Geral da União - Unidades com vínculo direto',
       'Companhia Nacional de Abastecimento',
       'Instituto Nacional de Colonização e Reforma Agrária',
       'Empresa Brasileira de Pesquisa Agropecuária',
       'Ministério da Agricultura, Pecuária e Abastecimento - Unidades com vínculo direto',
       'Serviço Florestal Brasileiro',
       'Secretaria Especial de Agricultura Familiar e do Desenvolvimento Agrário',
       'Fundo de Defesa da Economia Cafeeira',
       'Fundo de Terras e da Reforma Agrária',
       'Fundo Nacional de Assistência Social',
       'Ministério da Cidadania - Unidades com vínculo direto',
       'Fundo Nacional de Desenvolvimento Científico e Tecnológico',
       'Comissão Nacional de Energia Nuclear',
       'Ministério da Ciência, Tecnologia, Inovações e Comunicações - Unidades com vínculo direto',
       'Agência Espacial Brasileira',
       'Conselho Nacional de Desenvolvimento Científico e Tecnológico',
       'Empresa Brasileira de Correios e Telégrafos',
       'Centro Nacional de Tecnologia Eletrônica Avançada S.A.',
       'Financiadora de Estudos e Projetos', 'Fundo do Exército',
       'Comando da Marinha - Fundo Naval', 'Fundo Aeronáutico',
       'Fundo de Desenvolvimento do Ensino Profissional Marítimo',
       'Ministério da Defesa - Unidades com vínculo direto',
       'Comando da Marinha', 'Comando da Aeronáutica',
       'Indústria de Material Bélico do Brasil', 'Comando do Exército',
       'Caixa de Financiamento Imobiliário da Aeronáutica',
       'Caixa de Construções de Casas para o Pessoal da Marinha do Brasil',
       'Amazônia Azul Tecnologia de Defesa S.A.', 'Fundação Osório',
       'Ministério da Economia - Unidades com vínculo direto',
       'Fundo de Amparo ao Trabalhador',
       'Instituto Nacional do Seguro Social',
       'Fundo do Regime Geral da Previdência Social',
       'Banco Central do Brasil - Orçamento Fiscal e Seguridade Social',
       'Fundo Contingente da Extinta RFFSA-FCMP',
       'Instituto Nacional de Metrologia, Qualidade e Tecnologia',
       'Fundo Nacional de Desenvolvimento',
       'Comissão de Valores Mobiliários',
       'Serviço Federal de Processamento de Dados',
       'Fundação Instituto Brasileiro de Geografia e Estatística',
       'Fundo de Garantia para a Promoção da Competitividade',
       'Casa da Moeda do Brasil',
       'Companhia de Entrepostos e Armazéns Gerais de São Paulo',
       'Instituto de Pesquisa Econômica Aplicada',
       'Fundo de Apoio ao Desenvolvimento Social',
       'Fundo de Estabilidade do Seguro Rural',
       'Fundo Soberano do Brasil',
       'Superintendência da Zona Franca de Manaus',
       'Fundação Escola Nacional de Administração Pública',
       'Fundo Constitucional do Distrito Federal',
       'Fundo de Compensação de Variações Salariais',
       'Instituto Nacional da Propriedade Industrial',
       'Fundação Jorge Duprat Figueiredo, de Segurança e Medicina do Trabalho',
       'Reserva de Contingência',
       'Superintendência Nacional de Previdência Complementar',
       'Fundo de Garantia à Exportação',
       'Superintendência de Seguros Privados',
       'Empresa Brasileira de Serviços Hospitalares',
       'Instituto Federal do Sul de Minas Gerais',
       'Universidade Federal de Lavras',
       'Fundo Nacional de Desenvolvimento da Educação',
       'Universidade Federal do Paraná', 'Instituto Federal do Tocantins',
       'Fundação Universidade de Brasília',
       'Universidade Federal de Santa Catarina',
       'Instituto Federal do Norte de Minas Gerais',
       'Universidade Federal de Minas Gerais',
       'Universidade Federal do Rio Grande do Norte',
       'Universidade Federal de Pernambuco',
       'Universidade Federal de Ouro Preto',
       'Universidade Federal do Rio de Janeiro',
       'Instituto Federal do Amapá',
       'Fundação Universidade Federal de Rondônia',
       'Instituto Federal do Espírito Santo',
       'Universidade Federal do Rio Grande do Sul',
       'Instituto Federal do Sudeste de Minas Gerais',
       'Fundação Universidade Federal do Mato Grosso',
       'Fundação Universidade Federal da Grande Dourados',
       'Instituto Federal de Rondônia', 'Universidade Federal Fluminense',
       'Hospital de Clínicas de Porto Alegre',
       'Universidade Federal do Espírito Santo',
       'Universidade Federal do Oeste da Bahia',
       'Fundação Universidade Federal de Ciências da Saúde de Porto Alegre',
       'Universidade Federal do Ceará',
       'Universidade da Integração Internacional da Lusofonia Afro-Brasileira',
       'Instituto Federal do Triângulo Mineiro',
       'Instituto Federal do Maranhão',
       'Universidade Federal do Oeste do Pará',
       'Universidade Federal de Alfenas',
       'Fundação Universidade Federal do ABC',
       'Instituto Federal Farroupilha', 'Universidade Federal de Roraima',
       'Fundação Universidade do Amazonas',
       'Instituto Federal de Alagoas',
       'Universidade Federal dos Vales do Jequitinhonha e Mucuri',
       'Instituto Federal do Pará', 'Universidade Federal de Santa Maria',
       'Universidade Federal do Rio Grande',
       'Universidade Federal da Bahia',
       'Universidade Federal do Triângulo Mineiro',
       'Universidade Federal do Sul e Sudeste do Pará',
       'Instituto Federal do Piauí',
       'Fundação Universidade Federal do Mato Grosso do Sul',
       'Universidade Federal Rural do Rio de Janeiro',
       'Instituto Federal Fluminense', 'Universidade Federal do Pará',
       'Instituto Federal do Rio de Janeiro',
       'Instituto Federal do Rio Grande do Sul',
       'Fundação Coordenação de Aperfeiçoamento de Pessoal de Nível Superior',
       'Instituto Federal Baiano', 'Instituto Federal do Ceará',
       'Instituto Federal de São Paulo',
       'Fundação Universidade Federal de Pelotas',
       'Universidade Federal do Sul da Bahia',
       'Universidade Tecnológica Federal do Paraná',
       'Universidade Federal Rural de Pernambuco',
       'Fundação Universidade Federal do Piauí',
       'Instituto Federal Sul-rio-grandense',
       'Universidade Federal da Fronteira Sul', 'Colégio Pedro II',
       'Centro Federal de Educação Tecnológica de Minas Gerais',
       'Universidade Federal de São Paulo',
       'Universidade Federal de Juiz de Fora',
       'Instituto Federal do Amazonas', 'Fundação Joaquim Nabuco',
       'Universidade Federal Rural do Semi-Árido',
       'Instituto Federal Goiano',
       'Fundação Universidade Federal do Acre',
       'Universidade Federal de Itajubá',
       'Fundação Universidade Federal do Vale do São Francisco',
       'Universidade Federal da Integração Latino-Americana',
       'Instituto Federal do Mato Grosso do Sul',
       'Fundação Universidade Federal de Uberlândia',
       'Instituto Federal de Brasília',
       'Universidade Federal do Estado do Rio de Janeiro',
       'Fundação Universidade Federal de São João Del-Rei',
       'Fundação Universidade Federal do Pampa',
       'Universidade Federal de Alagoas',
       'Instituto Federal do Rio Grande do Norte',
       'Instituto Federal de Pernambuco',
       'Universidade Federal da Paraíba',
       'Instituto Federal de Santa Catarina',
       'Instituto Federal de Sergipe',
       'Fundação Universidade Federal do Tocantins',
       'Universidade Federal do Cariri',
       'Universidade Federal de Campina Grande',
       'Centro Federal de Educação Tecnológica Celso Suckow da Fonseca',
       'Fundação Universidade do Maranhão',
       'Universidade Federal do Recôncavo da Bahia',
       'Instituto Federal de Minas Gerais',
       'Universidade Federal de Viçosa', 'Instituto Federal da Paraíba',
       'Fundação Universidade Federal de Sergipe',
       'Instituto Federal do Paraná',
       'Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira',
       'Instituto Federal de Educação, Ciência e Tecnologia de Goiás',
       'Universidade Federal de Goiás', 'Instituto Federal da Bahia',
       'Instituto Federal Catarinense',
       'Fundação Universidade Federal de São Carlos',
       'Ministério da Educação - Unidades com vínculo direto',
       'Instituto Federal de Roraima',
       'Universidade Federal Rural da Amazônia',
       'Instituto Federal do Sertão de Pernambuco',
       'Instituto Federal do Mato Grosso',
       'Fundação Universidade Federal do Amapá',
       'Instituto Federal do Acre',
       'Agência Nacional de Transportes Terrestres',
       'Agência Nacional de Aviação Civil',
       'Fundo Nacional de Segurança e Educação de Trânsito',
       'Departamento Nacional de Infraestrutura de Transportes',
       'VALEC Engenharia, Construções e Ferrovias S.A.',
       'Companhia Docas do Rio Grande do Norte',
       'Companhia Docas do Rio de Janeiro',
       'Companhia Docas do Estado de São Paulo',
       'Agência Nacional de Transportes Aquaviários',
       'Companhia Docas do Ceará',
       'Empresa de Planejamento e Logística S.A.',
       'Departamento do Fundo da Marinha Mercante',
       'Companhia Docas do Pará',
       'Ministério da Infraestrutura - Unidades com vínculo direto',
       'Fundo Nacional de Aviação Civil',
       'Companhia Docas do Estado da Bahia',
       'Companhia Docas do Espírito Santo',
       'Fundo Penitenciário Nacional', 'Departamento de Polícia Federal',
       'Fundo Nacional Antidrogas', 'Fundo Nacional de Segurança Pública',
       'Conselho Administrativo de Defesa Econômica',
       'Secretaria Nacional do Consumidor Fundo',
       'Fundação Nacional do Índio',
       'Fundação Nacional do Índio - Patrimônio Indígena',
       'Ministério da Justiça e Segurança Pública - Unidades com vínculo direto',
       'Departamento de Polícia Rodoviária Federal',
       'Fundo Nacional do Idoso',
       'Fundo Nacional para a Criança e o Adolescente',
       'Ministério da Mulher, Família e Direitos Humanos - Unidades com vínculo direto',
       'Ministério da Previdência Social - Unidades com vínculo direto',
       'Fundação Nacional de Saúde',
       'Agência Nacional de Saúde Suplementar',
       'Ministério da Saúde - Unidades com vínculo direto',
       'Fundação Oswaldo Cruz',
       'Hospital Nossa Senhora da Conceição S.A.',
       'Agência Nacional de Vigilância Sanitária',
       'Fundo de Universalização dos Serviços de Telecomunicações',
       'Agêncial Nacional de Telecomunicações',
       'Fundo para o Desenvolvimento Tecnológico das Telecomunicações',
       'Empresa Brasil de Comunicação', 'Fundação Alexandre de Gusmão',
       'Ministério das Relações Exteriores - Unidades com vínculo direto',
       'Agência Nacional de Mineração',
       'Agência Nacional do Petróleo, Gás Natural e Biocombustíveis',
       'Empresa de Pesquisa Energética',
       'Departamento Nacional de Produção Mineral',
       'Companhia de Pesquisa de Recursos Minerais',
       'Agência Nacional de Energia Elétrica',
       'Ministério de Minas e Energia - Unidades com vínculo direto',
       'Nuclebrás Equipamentos Pesados S.A.',
       'Indústrias Nucleares do Brasil',
       'Departamento Nacional de Obras Contra as Secas',
       'Fundo Constitucional de Financiamento do Norte',
       'Companhia de Desenvolvimento dos Vales do São Francisco e do Parnaíba',
       'Fundo de Desenvolvimento do Nordeste',
       'Superintendência do Desenvolvimento do Nordeste',
       'Companhia Brasileira de Trens Urbanos',
       'Fundo Constitucional de Financiamento do Centro-Oeste',
       'Fundo de Desenvolvimento do Centro-Oeste',
       'Ministério do Desenvolvimento Regional - Unidades com vínculo direto',
       'Agência Nacional de Águas',
       'Fundo Constitucional de Financiamento do Nordeste',
       'Superintendência do Desenvolvimento da Amazônia',
       'Superintendência de Desenvolvimento do Centro-Oeste',
       'Fundo de Desenvolvimento da Amazônia',
       'Empresa de Trens Urbanos de Porto Alegre',
       'Fundo Nacional de Habitação de Interesse Social',
       'Autoridade Pública Olímpica',
       'Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renováveis',
       'Instituto Chico Mendes de Conservação da Biodiversidade',
       'Instituto de Pesquisas Jardim Botânico do Rio de Janeiro',
       'Fundo Nacional do Meio Ambiente',
       'Ministério do Meio Ambiente - Unidades com vínculo direto',
       'Fundo Nacional sobre Mudança no Clima',
       'Fundo Nacional de Cultura', 'Fundo Geral de Turismo',
       'Fundação Biblioteca Nacional', 'Agência Nacional do Cinema',
       'Instituto Brasileiro de Museus',
       'Instituto do Patrimônio Histórico e Artístico Nacional',
       'Instituto Brasileiro de Turismo',
       'Ministério do Turismo - Unidades com vínculo direto',
       'Fundação Nacional de Artes', 'Fundação Casa de Rui Barbosa',
       'Presidência da República', 'Fundo de Imprensa Nacional',
       'Instituto Nacional de Tecnologia da Informação'], dtype=object)

Los 10 NOMBRE_ÓRGANO que MAS aparecen son:

                                                    count  Porcentaje_recuento
NOMBRE_ÓRGANO
Ministério da Economia - Unidades com vínculo d...  22844                13.13
Fundo do Exército                                    4319                 2.48
Comando da Marinha - Fundo Naval                     4042                 2.32
Fundo Nacional de Cultura                            2786                 1.60
Empresa Brasileira de Pesquisa Agropecuária          2505                 1.44
Instituto Brasileiro do Meio Ambiente e dos Rec...   2243                 1.29
Fundo Aeronáutico                                    2002                 1.15
Fundo Nacional de Desenvolvimento Científico e ...   1924                 1.11
Instituto Nacional de Metrologia, Qualidade e T...   1885                 1.08
Fundo do Regime Geral da Previdência Social          1755                 1.01

Los 10 NOMBRE_ÓRGANO que MENOS aparecen son:

                                                    count  Porcentaje_recuento
NOMBRE_ÓRGANO
Companhia Docas do Espírito Santo                      10                 0.01
Ministério da Infraestrutura - Unidades com vín...      9                 0.01
Empresa de Pesquisa Energética                          5                 0.00
Companhia Docas do Pará                                 5                 0.00
Companhia Docas do Rio Grande do Norte                  2                 0.00
Reserva de Contingência                                 1                 0.00
Agência Espacial Brasileira                             1                 0.00
Ministério da Previdência Social - Unidades com...      1                 0.00
Fundo Nacional de Segurança Pública                     1                 0.00
Ministério da Mulher, Família e Direitos Humano...      1                 0.00

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO son:

       count  % repetición
count
1          5          1.92
33         3          1.15
657        2          0.77
754        2          0.77
757        2          0.77
...      ...           ...
16         1          0.38
10         1          0.38
11         1          0.38
9          1          0.38
2          1          0.38

[232 rows x 2 columns]

None
La categoría CÓDIGO_UNIDAD_GESTORA tiene 314 elementos diferentes:

Los elementos de la categoría son:

array(['110060', '370001', '135100', '373001', '135037', '130101',
       '440088', '110745', '110690', '130137', '490003', '330013',
       '180077', '420002', '550002', '240901', '113209', '240101',
       '203001', '240102', '364001', '415001', '245209', '365001',
       '167086', '673001', '121002', '873001', '110407', '211999',
       '120002', '168002', '773001', '160075', '120999', '123001',
       '773008', '699999', '773009', '164204', '170010', '170013',
       '380910', '510001', '513001', '173057', '173065', '183023',
       '201924', '170196', '170266', '170358', '173030', '170073',
       '170204', '806001', '114601', '287001', '170086', '170229',
       '170232', '179083', '170167', '170107', '400042', '170285',
       '201002', '225001', '280102', '170233', '113601', '170033',
       '170238', '170380', '170268', '170154', '170008', '170215',
       '179103', '170474', '193028', '114702', '170392', '170381',
       '170101', '183038', '170076', '264001', '170237', '170231',
       '170267', '390001', '170234', '170265', '333001', '170356',
       '170026', '170230', '173039', '170357', '155007', '158137',
       '153032', '153173', '153079', '158131', '154040', '153163',
       '158121', '153062', '153103', '153080', '154046', '153115',
       '158150', '154055', '158151', '153114', '158123', '154045',
       '154502', '158148', '153056', '155001', '153046', '158717',
       '154032', '153045', '158565', '158099', '158128', '158515',
       '153028', '154503', '158127', '154080', '154039', '158147',
       '153036', '158135', '153164', '154042', '153038', '153035',
       '158718', '158146', '154054', '153166', '158139', '153063',
       '158157', '158141', '154999', '158129', '158133', '158154',
       '154047', '158720', '153019', '153165', '154048', '158126',
       '158517', '153167', '153015', '153031', '153061', '158142',
       '344002', '153033', '158124', '154044', '153030', '154421',
       '158658', '158132', '154043', '154003', '158143', '154034',
       '154069', '154359', '153037', '158155', '158136', '153065',
       '158516', '158274', '158134', '154419', '158719', '158195',
       '153010', '154041', '158092', '158122', '154051', '158138',
       '154050', '158009', '153978', '158153', '153052', '158145',
       '158125', '154049', '150014', '158152', '153034', '158149',
       '158144', '154215', '158156', '393001', '113214', '200320',
       '393003', '275075', '396005', '396001', '396006', '682010',
       '396003', '395001', '277001', '396004', '390002', '110591',
       '396002', '399002', '200333', '200336', '200246', '200331',
       '303001', '200401', '194088', '194040', '200094', '200109',
       '307002', '307001', '810002', '330002', '255014', '253003',
       '250088', '255011', '254420', '255000', '366003', '255003',
       '253002', '255008', '255015', '413047', '413001', '410007',
       '115406', '110244', '244001', '240005', '323100', '323030',
       '325001', '323002', '495001', '323028', '320002', '113208',
       '113206', '113802', '537002', '195006', '533009', '533014',
       '275068', '537003', '537004', '560003', '443003', '537001',
       '533013', '530002', '533018', '533008', '275060', '560015',
       '913001', '193034', '443032', '193129', '193120', '443019',
       '193114', '443045', '440002', '193125', '447001', '193112',
       '193107', '340002', '187002', '344042', '203003', '423001',
       '403101', '185001', '540001', '403201', '344001', '110005',
       '110245', '243001'], dtype=object)

Los 10 CÓDIGO_UNIDAD_GESTORA que MAS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
170013                 21206                12.19
167086                  4319                 2.48
673001                  3329                 1.91
340002                  2786                 1.60
135037                  2505                 1.44
193034                  2229                 1.28
121002                  2002                 1.15
240901                  1924                 1.11
183023                  1885                 1.08
513001                  1755                 1.01

Los 10 CÓDIGO_UNIDAD_GESTORA que MENOS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
810002                     1                 0.00
200331                     1                 0.00
255011                     1                 0.00
255003                     1                 0.00
330002                     1                 0.00
255014                     1                 0.00
255008                     1                 0.00
255015                     1                 0.00
110244                     1                 0.00
560003                     1                 0.00

 Las distribución de las repeticiones de los CÓDIGO_UNIDAD_GESTORA son:

       count  % repetición
count
2         34         10.83
1         13          4.14
33         3          0.96
657        2          0.64
757        2          0.64
...      ...           ...
19         1          0.32
9          1          0.32
10         1          0.32
11         1          0.32
13         1          0.32

[243 rows x 2 columns]

None
La categoría NOMBRE_UNIDAD_GESTORA tiene 312 elementos diferentes:

Los elementos de la categoría son:

array(['COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU',
       'DIRETORIA DE GESTAO INTERNA(CGU)',
       'COMPANHIA NACIONAL DE ABASTECIMENTO',
       'DPTO. DE ADMINISTRACAO FINANCEIRA-DAF - INCRA',
       'EMBRAPA-SETORIAL', 'COORD.-GERAL DE ORCAMENTO E FINANCAS-MAPA',
       'SETORIAL PROG.ORCAMENTARIA E FINANCEIRA-SFB',
       'SECRETARIA ESPECIAL DE AQUICULTURA E PESCA/PR',
       'SEC.ESPEC.DE AGRIC.FAMIL.E DO DESENV.AGRARIO',
       'FUNDO DE DEFESA DA ECON.CAFEEIRA/FUNCAFE/SPA',
       'CREDITO FUNDIARIO', 'FUNDO NACIONAL DE ASSISTENCIA SOCIAL',
       'SETORIAL ORCAMENTARIA E FINANCEIRA - (ME)',
       'COORD.GERAL DE PLAN. ORC. FIN. E CONTAB./MINC',
       'SETORIAL DE ORCAMENTO E FINANCAS/MC',
       'FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO',
       'CNEN-ORCAMENTO E FINANCAS',
       'COORDENACAO-GERAL DE RECURSOS LOGISTICOS',
       'AGENCIA ESPACIAL BRASILEIRA/AEB',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS',
       'CNPQ - ADMINISTRACAO CENTRAL',
       'EMPRESA BRASILEIRA DE CORREIOS E TELEGRAFOS',
       'CENTRO NACIONAL DE TECNOLOGIA ELETRONICA AVAN',
       'FINANCIADORA DE ESTUDOS E PROJETOS', 'FUNDO DO EXERCITO',
       'DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM',
       'SECRETARIA DE ECON. E FIN.DA AER.- F.AER.',
       'DEPARTAMENTO DE PLANEJ, ORC E FINANCAS (MD)',
       'MARINHA - DIFERENCA CAMBIAL',
       'DIRETORIA DE ECON E FINANCAS DA AERONAUTICA',
       'INDUSTRIA DE MATERIAL BELICO DO BRASIL/GESTOR',
       'DIRETORIA DE FINANCAS DA MARINHA-SISTEMA-PAIS',
       'D CONT - SETORIAL FINANCEIRA', 'MAER - DIFERENCA CAMBIAL',
       'CAIXA FINANCIAMENTO IMOBILIARIO AERONAUTICA',
       'DIRETORIA DE FINANCAS DA MARINHA - CCCPM',
       'FUNDO NAVAL - DIFERENCA CAMBIAL',
       'DIRETORIA DE FINANCAS DA MARINHA - AMAZUL', 'FUNDACAO OSORIO',
       'SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB',
       'SETORIAL ORCAMENTARIA E FINANCEIRA / ME',
       'COORD-GERAL DE ORCAMENTO, FIN. E CONT.- CGOFC',
       'COORD.GERAL DE ORCAMENTO, FINANCAS E CONTAB.',
       'COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS',
       'BANCO CENTRAL DO BRASIL', 'FUNDO CONTINGENTE DA EXTINTA RFFSA-FC',
       'INSTITUTO NAC.DE METROLOG. QUALID. E TECNOLOG',
       'FUNDO NACIONAL DE DESENVOLVIMENTO',
       'PROCURADORIA DA FAZENDA NACI0NAL/GO',
       'PROCURADORIA-REGIONAL DA FAZENDA NACIONAL/PE',
       'PROCURADORIA DA FAZ.NAC. NO ESTADO DO AMAPA',
       'COMISSAO DE VALORES MOBILIARIOS',
       'PROCURADORIA DA FAZENDA NACIONAL-SE',
       'PROCURADORIA-REGIONAL DA FAZ.NAC.1A.REGIAO/DF',
       'SERPRO-SEDE - DEPARTAMENTO FINANCEIRO',
       'FUNDACAO IBGE-ADMINISTRACAO CENTRAL/RJ',
       'FUNDO DE GAR.P/PROMOC.DA COMPETITIVIDADE±FGPC',
       'PROCURADORIA DA FAZENDA NACIONAL - MG',
       'PROCURADORIA DA FAZENDA NACIONAL/MT',
       'PROCURADORIA DA FAZENDA NACIONAL/AL', 'CASA DA MOEDA DO BRASIL',
       'PROCURADORIA DA FAZENDA NACIONAL/SC',
       'PROCURADORIA DA FAZENDA NACIONAL-MS',
       'COORD-GERAL DE ORC., FIN. E CONT.-CGOFC (MTP)',
       'PROCURADORIA FAZ.NACIONAL NO EST.TOCANTINS',
       'COORDENACAO-GERAL DE ORC. E FINANCAS/MP',
       'CIA.DE ENTREPOSTOS E ARMAZENS GER.DE S.PAULO',
       'COORDENACAO-GERAL DE ORCAM.FINAN.CONTAB/MDIC',
       'PROCURADORIA DA FAZENDA NACIONAL/AM',
       'INSTITUTO DE PESQUISA ECONOMICA APLICADA',
       'PROCURADORIA DA FAZENDA NACIONAL - PI',
       'PROCURADORIA DA FAZENDA NACIONAL/RR',
       'FUNDO DE APOIO AO DESENVOLVIMENTO SOCIAL',
       'PROCURADORIA-REGIONAL DA FAZENDA NACIONAL/SP',
       'PROCURADORIA DA FAZENDA NACIONAL-PR',
       'PROCURADORIA GERAL DA FAZENDA NACIONAL',
       'PROCURADORIA DA FAZENDA NACIONAL/PA',
       'FUNDO DE ESTABILIDADE DO SEGURO RURAL',
       'FUNDO SOBERANO DO BRASIL',
       'SUPERINTENDENCIA DA ZONA FRANCA DE MANAUS/AM',
       'FUNDACAO ESCOLA NACIONAL DE ADM. PUBLICA',
       'FUNDO CONSTITUCIONAL DO DISTRITO FEDERAL',
       'FUNDO DE COMPENSACAO E VARIACAO SALARIAL',
       'PROCURADORIA DA FAZENDA NACIONAL-ES',
       'INSTITUTO NACIONAL DA PROPRIEDADE INDUSTRIAL',
       'PROCURADORIA DA FAZENDA NACIONAL - BA',
       'FUNDACENTRO - FUND.JORGE DUPRAT/CTN/SEDE - SP',
       'PROCURADORIA DA FAZENDA NACIONAL/AC',
       'PROCURADORIA DA FAZENDA NACIONAL/PB',
       'PROCURADORIA-REGIONAL DA FAZENDA NACIONAL/RJ',
       'RESERVA DE CONTINGENCIA/MEFP',
       'PROCURADORIA DA FAZENDA NACIONAL/RN',
       'PROCURADORIA REGIONAL DA F.NACIONAL/4A REGIAO',
       'COORD.GERAL DE ORC. FIN. E CONTABILIDADE',
       'FUNDO DE GARANTIA A EXPORTACAO-BNDES',
       'PROCURADORIA DA FAZENDA NACIONAL - MA',
       'PROCURADORIA DA FAZENDA NACIONAL/CE',
       'SUPERINTENDENCIA DE SEGUROS PRIVADOS - RJ',
       'PROCURADORIA DA FAZENDA NACIONAL EM RONDONIA',
       'EMPRESA BRASILEIRA DE SERVICOS HOSPITALARES',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO SUL DE MG',
       'UNIVERSIDADE FEDERAL DE LAVRAS',
       'FUNDO NACIONAL DE DESENVOLVIMENTO DA EDUCACAO',
       'UNIVERSIDADE FEDERAL DO PARANA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TOCANTINS',
       'FUNDACAO UNIVERSIDADE DE BRASILIA - FUB',
       'UNIVERSIDADE FEDERAL DE SANTA CATARINA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO NORTE DE MG',
       'UNIVERSIDADE FEDERAL DE MINAS GERAIS',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO NORTE',
       'UNIVERSIDADE FEDERAL DE PERNAMBUCO',
       'UNIVERSIDADE FEDERAL DE OURO PRETO',
       'UNIVERSIDADE FEDERAL DO RIO DE JANEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAPA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE RONDONIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ESP.SANTO',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO SUL',
       'INSTITUTO FED CIENCIA TECNOL SUDESTE MG',
       'FUNDACAO UNIVERSIDADE FEDERAL DE MATO GROSSO',
       'FUNDACAO UNIVERSIDADE FED. DA GRANDE DOURADOS',
       'INST. FED. DE EDUC.,CIENC. E TEC. DE RONDONIA',
       'UNIVERSIDADE FEDERAL FLUMINENSE',
       'HOSPITAL DE CLINICAS DE PORTO ALEGRE',
       'UNIVERSIDADE FEDERAL DO ESPIRITO SANTO',
       'UNIVERSIDADE FEDERAL DO OESTE DA BAHIA',
       'FUND.UNIV.FED.DE.CIENC.DA SAUDE DE P.ALEGRE',
       'UNIVERSIDADE FEDERAL DO CEARA',
       'UNIV.DA INTEG.INTERN.DA LUSOF.AFRO-BRASILEIRA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TRIA.MINEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MARANHAO',
       'UNIVERSIDADE FEDERAL DO OESTE DO PARA',
       'UNIVERSIDADE FEDERAL DE ALFENAS',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ABC',
       'INST.FED.DE EDUC.,CIENC.E TEC.FARROUPILHA',
       'UNIVERSIDADE FEDERAL DE RORAIMA',
       'FUNDACAO UNIVERSIDADE DO AMAZONAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE ALAGOAS',
       'UNIVERSIDADE FED.VALES JEQUITINHONHA E MUCURI',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PARA',
       'UNIVERSIDADE FEDERAL DE SANTA MARIA',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE - FURG',
       'UNIVERSIDADE FEDERAL DA BAHIA',
       'UNIVERSIDADE FEDERAL DO TRIANGULO MINEIRO',
       'UNIVERSIDADE FEDERAL DO SUL E SUDESTE DO PARA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PIAUI',
       'FUNDACAO UNIVERS.FED. DE MATO GROSSO DO SUL',
       'UNIVERSIDADE FEDERAL RURAL DO RIO DE JANEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.FLUMINENSE',
       'UNIVERSIDADE FEDERAL DO PARA', 'REITORIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RS', 'CAPES - DIFERENCA CAMBIAL',
       'INST FED DE EDUC CIENC E TECNOLOGIA BAIANO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO CEARA',
       'INSTITUTO FEDERAL DE SAO PAULO',
       'FUNDACAO UNIVERSIDADE FEDERAL DE PELOTAS',
       'UNIVERSIDADE FEDERAL DO SUL DA BAHIA',
       'UNIVERSIDADE TECNOLOGICA FEDERAL DO PARANA',
       'UNIVERSIDADE FEDERAL RURAL DE PERNAMBUCO',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PIAUI',
       'INST.FED.DE EDUC.,CIE.E TEC.SUL-RIO-GRANDENSE',
       'UNIVERSIDADE FEDERAL DA FRONTEIRA SUL', 'COLEGIO PEDRO II',
       'CENTRO FEDERAL DE EDUCACAO TECNOLOGICA DE MG',
       'UNIFESP-UNIVERSIDADE FEDERAL DE SAO PAULO',
       'UNIVERSIDADE FEDERAL DE JUIZ DE FORA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAZONAS',
       'FUNDACAO JOAQUIM NABUCO',
       'UNIVERSIDADE FEDERAL RURAL DO SEMI-ARIDO - RN', 'IF GOIANO',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ACRE',
       'UNIVERSIDADE FEDERAL DE ITAJUBA',
       'FUND. UNIVERSIDADE FEDERAL VALE SAO FRANCISCO',
       'UNIV. FEDERAL DA INTEGRACAO LATINO-AMERICANA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MAT.G.DO SUL',
       'FUNDACAO UNIVERSIDADE FEDERAL DE UBERLANDIA',
       'FUND.COORD.DE APERF.DE PESSOAL NIVEL SUPERIOR',
       'IFB - REITORIA - BRASILIA-DF',
       'UNIRIO UNIVERSIDADE FEDERAL DO ESTADO RJ',
       'FUNDACAO UNIVERSIDADE FEDERAL DE S.J.DEL-REI',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PAMPA',
       'UNIVERSIDADE FEDERAL DE ALAGOAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RN',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE PERNAMBUCO',
       'UNIVERSIDADE FEDERAL DA PARAIBA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE STA.CAT/IFSC',
       'INST.FED. FLUMINENSE/CAMPUS CAMPOS-CENTRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE SERGIPE',
       'FUNDACAO UNIVERSIDADE FEDERAL DO TOCANTINS',
       'UNIVERSIDADE FEDERAL DO CARIRI',
       'UNIVERSIDADE FEDERAL DE CAMPINA GRANDE',
       'CENTRO FED.DE EDUC.TECNOL.CELSO S.DA FONSECA',
       'FUNDACAO UNIVERSIDADE DO MARANHAO',
       'UNIVERSIDADE FEDERAL DO RECONCAVO DA BAHIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE MINAS GERAIS',
       'UNIVERSIDADE FEDERAL DE VICOSA', 'IFPB - REITORIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SERGIPE',
       'INST. FED. DO PARANA/ REITORIA',
       'INST.NACIONAL DE EST.E PESQUISAS EDUCACIONAIS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE GOIAS',
       'UNIVERSIDADE FEDERAL DE GOIAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DA BAHIA',
       'INSTITUTO FEDERAL CATARINENSE - REITORIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SAO CARLOS',
       'SUBSECRETARIA DE PLANEJ. E ORCAMENTO SPO(MEC)',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE RORAIMA',
       'UNIVERSIDADE FEDERAL RURAL DA AMAZONIA',
       'INST.FED.DE ED.,CIENC.E TEC.DO S.PERNAMBUCANO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MATO GROSSO',
       'FUNDACAO UNIVERSIDADE FEDERAL DO AMAPA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ACRE',
       'AGENCIA NACIONAL DE TRANSPORTES TERRESTRES',
       'AGENCIA NACIONAL DE AVIACAO CIVIL',
       'FUNDO NACIONAL DE SEG. E EDUCACAO DE TRANSITO',
       'DEPART.NAC.INFRA ESTRUTURA TRANSPORTES.',
       'VALEC ENGENHARIA CONSTRUCOES E FERROVIAS S/A.',
       'COMPANHIA DOCA DO RIO GRANDE DO NORTE',
       'COMPANHIA DOCAS DO RIO DE JANEIRO',
       'COMPANHIA DOCAS DO ESTADO DE SAO PAULO',
       'AGENCIA NACIONAL DE TRANSPORTES AQUAVIARIOS',
       'COMPANHIA DOCAS DO CEARA',
       'EMPRESA DE PLANEJAMENTO E LOGISTICA S.A - EPL',
       'FUNDO DA MARINHA MERCANTE', 'COMPANHIA DOCAS DO PARA',
       'SUBSECRETARIA DE PLAN.,ORCAM.E ADMIN.SETORIAL',
       'FUNDO NACIONAL DE AVIACAO CIVIL',
       'COMPANHIA DOCAS DO ESTADO DA BAHIA',
       'COMPANHIA DOCAS DO ESPIRITO SANTO', 'DEPEN - DIRETORIA EXECUTIVA',
       'COORDENACAO DE ORCAMENTO FINANCAS CONTABILIDA',
       'FUNDO NACIONAL ANTIDROGAS',
       'FUNDO NACIONAL DE SEGURANCA PUBLICA - FNSP',
       'CONSELHO ADMINISTRATIVO DE DEFESA ECONOMICA',
       'FUNDO DE DEFESA DOS DIREITOS DIFUSOS',
       'FUNDACAO NACIONAL DO INDIO - U.O.',
       'RENDA DO PATRIMONIO INDIGENA',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MJ',
       'DEPTO.DE POLICIA RODOVIARIA FEDERAL', 'FUNDO NACIONAL DO IDOSO',
       'FUNDO NACIONAL PARA A CRIANCA E O ADOLESCENTE',
       'SETORIAL ORCAMENTARIA E FINANCEIRA - MDH',
       'COORDENACAO-GERAL DE ORC. FIN.E CONTABILIDADE',
       'FUNDACAO NACIONAL DE SAUDE - PA',
       'AGENCIA NACIONAL DE SAUDE SUPLEMENTAR',
       'SPO-COORD.-GERAL DE ORC.E FINANCAS/MS',
       'FUNDACAO NACIONAL DE SAUDE - MT', 'FUNDACAO OSWALDO CRUZ',
       'FUNDACAO NACIONAL DE SAUDE - DF',
       'HOSPITAL NOSSA SENHORA DA CONCEICAO S/A',
       'FUNDACAO NACIONAL DE SAUDE - AP',
       'AGENCIA NACIONAL DE VIGILANCIA SANITARIA',
       'FUNDACAO NACIONAL DE SAUDE - ES',
       'FUNDACAO NACIONAL DE SAUDE - PB',
       'FUNDO DE UNIVERS.DOS SERV.TELECOMUNICACOES',
       'AGENCIA NACIONAL DE TELECOMUNICACOES-SEDE',
       'FUNDO P/O DESENV.TECNOL.DAS TELECOMUNICACOES',
       'EMPRESA BRASIL DE COMUNICACAO S.A',
       'FUNDACAO ALEXANDRE DE GUSMAO',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MRE',
       'SETORIAL ORCAMENTARIA E FINANCEIRA - ANM',
       'AG. NAC.DO PETROLEO GAS NAT.E BIOCOM',
       'EMPRESA DE PESQUISA ENERGETICA',
       'DEPARTAMENTO NAC. DE PRODUCAO MINERAL - SEDE',
       'COMPANHIA DE PESQUISA DE RECURSOS MINERAIS',
       'AGENCIA NACIONAL DE ENERGIA ELETRICA',
       'COORD.GERAL DE ORCAM.E FIN./M.M.E',
       'NUCLEBRAS EQUIPAMENTOS PESADOS S/A-NUCLEP',
       'INDUSTRIAS NUCLEARES DO BRASIL S/A - INB',
       'DEPARTAMENTO NAC. DE OBRAS CONTRA AS SECAS/UO',
       'FUNDO CONSTITUCIONAL FINANCIAMENTO NORTE',
       'CIA DE DES.DOS VALES DO S.FRANC.E DO PARNAIBA',
       'FUNDO DE DESENVOLVIMENTO DO NORDESTE',
       'SUPERINTENDENCIA DO DESENVOLV. DO NORDESTE',
       'CIA BRASILEIRA DE TRENS URBANOS-ADM.CENTRAL',
       'FUNDO CONSTITUCIONL DO CENTRO OESTE',
       'FUNDO DE DESENVOLVIMENTO DO CENTRO-OESTE',
       'SECRETARIA EXECUTIVA - MINISTERIO DAS CIDADES',
       'COORDENACAO DE ORCAMENTO E FINANCAS.',
       'FUNDO CONSTITUCIONAL DE FINANCIAM.DO NORDESTE',
       'SUPERINTEND. DO DESENVOLVIMENTO DA AMAZONIA',
       'ORCAMENTO E FINANCAS/MDR',
       'SUPERINT. DO DESENVOLVIMENTO DO CENTRO-OESTE',
       'FUNDO DE DESENVOLVIMENTO DA AMAZONIA',
       'EMPRESA DE TRENS URBANOS DE PORTO ALEGRE S/A',
       'FUNDO NACIONAL DE HABIT. DE INTERESSE SOCIAL',
       'AUTORIDADE PUBLICA OLIMPICA',
       'IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ',
       'INST.CHICO MENDES DE CONSER.DA BIODIVERSIDADE',
       'IBAMA - SUPERINTENDENCIA DE SAO PAULO/SP',
       'IBAMA - SUPERINTENDENCIA RIO GRANDE NORTE/RN',
       'COORD. DE PLAN. ORCAMENTO E FIN./COPLAN/JBRJ',
       'IBAMA - SUPERINTENDENCIA DO PARA/PA',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMA',
       'SUBSECRET.PLANEJAM.ORCAM.E ADMINIST±SPOA(MMA)',
       'IBAMA - SUPERINTENDENCIA DE SANTA CATARINA/SC',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMC',
       'IBAMA - SUPERINTENDENCIA MATO GROSSO SUL/MS',
       'IBAMA - SUPERINTENDENCIA DO ESPIRITO SANTO/ES',
       'COORD.GERAL DE PLAN. ORC. FIN. E CONTAB/FNC',
       'FUNDO GERAL DE TURISMO-FUNGETUR', 'FUNDACAO BIBLIOTECA NACIONAL',
       'AGENCIA NACIONAL DO CINEMA',
       'INSTITUTO BRASILEIRO DE MUSEUS - IBRAM',
       'INSTITUTO DO PATRIMONIO HIST. E ART. NACIONAL',
       'INSTITUTO BRASILEIRO DE TURISMO - EM EXTINCAO',
       'CGOFC - SETORIAL/MTUR', 'FUNDACAO NACIONAL DE ARTES',
       'FUNDACAO CASA DE RUI BARBOSA',
       'SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR',
       'FUNDO DE IMPRENSA NACIONAL/EXEC.ORC.FINANC.',
       'INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI'], dtype=object)

Los 10 NOMBRE_UNIDAD_GESTORA que MAS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
SETORIAL ORCAMENTARIA E FINANCEIRA / ME        21206                12.19
FUNDO DO EXERCITO                               4319                 2.48
DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM    4049                 2.33
COORD.GERAL DE PLAN. ORC. FIN. E CONTAB/FNC     2786                 1.60
EMBRAPA-SETORIAL                                2505                 1.44
IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ    2229                 1.28
SECRETARIA DE ECON. E FIN.DA AER.- F.AER.       2002                 1.15
FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO       1924                 1.11
INSTITUTO NAC.DE METROLOG. QUALID. E TECNOLOG   1885                 1.08
COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS    1755                 1.01

Los 10 NOMBRE_UNIDAD_GESTORA que MENOS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
FUNDO NACIONAL DE SEGURANCA PUBLICA - FNSP         1                 0.00
FUNDACAO NACIONAL DE SAUDE - MT                    1                 0.00
FUNDACAO NACIONAL DE SAUDE - AP                    1                 0.00
FUNDACAO NACIONAL DE SAUDE - PB                    1                 0.00
FUNDACAO NACIONAL DE SAUDE - ES                    1                 0.00
FUNDACAO NACIONAL DE SAUDE - PA                    1                 0.00
COORDENACAO-GERAL DE ORC. FIN.E CONTABILIDADE      1                 0.00
SETORIAL ORCAMENTARIA E FINANCEIRA - MDH           1                 0.00
SECRETARIA EXECUTIVA - MINISTERIO DAS CIDADES      1                 0.00
AGENCIA ESPACIAL BRASILEIRA/AEB                    1                 0.00

 Las distribución de las repeticiones de los NOMBRE_UNIDAD_GESTORA son:

       count  % repetición
count
2         34         10.90
1         12          3.85
33         3          0.96
657        2          0.64
612        2          0.64
...      ...           ...
19         1          0.32
9          1          0.32
10         1          0.32
11         1          0.32
13         1          0.32

[242 rows x 2 columns]

None
La categoría CATEGORÍA_ECONÓMICA tiene 5 elementos diferentes:

Los elementos de la categoría son:

array(['Receitas Correntes', 'Receitas de Capital',
       'Receitas Correntes - intra-orçamentárias', 'Sem informação',
       'Receitas de Capital - intra-orçamentárias'], dtype=object)

Los 10 CATEGORÍA_ECONÓMICA que MAS aparecen son:

                                            count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                         165585                95.19
Receitas de Capital                          5308                 3.05
Receitas Correntes - intra-orçamentárias     2968                 1.71
Sem informação                                 67                 0.04
Receitas de Capital - intra-orçamentárias      16                 0.01

Los 10 CATEGORÍA_ECONÓMICA que MENOS aparecen son:

                                            count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                         165585                95.19
Receitas de Capital                          5308                 3.05
Receitas Correntes - intra-orçamentárias     2968                 1.71
Sem informação                                 67                 0.04
Receitas de Capital - intra-orçamentárias      16                 0.01

 Las distribución de las repeticiones de los CATEGORÍA_ECONÓMICA son:

        count  % repetición
count
165585      1         20.00
5308        1         20.00
2968        1         20.00
67          1         20.00
16          1         20.00

None
La categoría ORIGEN_INGRESO tiene 15 elementos diferentes:

Los elementos de la categoría son:

array(['Receitas Correntes - a classificar', 'Transferências Correntes',
       'Receita de Serviços', 'Outras Receitas Correntes',
       'Operações de Crédito', 'Alienação de Bens', 'Contribuições',
       'Receita Patrimonial',
       'Impostos, Taxas e Contribuições de Melhoria',
       'Amortizações de Empréstimos', 'Transferências de Capital',
       'Receita Agropecuária', 'Receita Industrial', 'Sem informação',
       'Outras Receitas de Capital'], dtype=object)

Los 10 ORIGEN_INGRESO que MAS aparecen son:

                                             count  Porcentaje_recuento
ORIGEN_INGRESO
Receita de Serviços                          58581                33.68
Outras Receitas Correntes                    47838                27.50
Receita Patrimonial                          29273                16.83
Impostos, Taxas e Contribuições de Melhoria  13887                 7.98
Contribuições                                11216                 6.45
Receita Industrial                            3488                 2.01
Receita Agropecuária                          2357                 1.36
Alienação de Bens                             2282                 1.31
Amortizações de Empréstimos                   1832                 1.05
Transferências Correntes                      1155                 0.66

Los 10 ORIGEN_INGRESO que MENOS aparecen son:

                                    count  Porcentaje_recuento
ORIGEN_INGRESO
Receita Industrial                   3488                 2.01
Receita Agropecuária                 2357                 1.36
Alienação de Bens                    2282                 1.31
Amortizações de Empréstimos          1832                 1.05
Transferências Correntes             1155                 0.66
Operações de Crédito                 1005                 0.58
Receitas Correntes - a classificar    758                 0.44
Outras Receitas de Capital            158                 0.09
Sem informação                         67                 0.04
Transferências de Capital              47                 0.03

 Las distribución de las repeticiones de los ORIGEN_INGRESO son:

       count  % repetición
count
58581      1          6.67
47838      1          6.67
29273      1          6.67
13887      1          6.67
11216      1          6.67
3488       1          6.67
2357       1          6.67
2282       1          6.67
1832       1          6.67
1155       1          6.67
1005       1          6.67
758        1          6.67
158        1          6.67
67         1          6.67
47         1          6.67

None
La categoría TIPO_INGRESO tiene 47 elementos diferentes:

Los elementos de la categoría son:

array(['Receitas Correntes - a classificar',
       'Transferências dos Estados e do Distrito Fede',
       'Serviços Administrativos e Comerciais Gerais',
       'Multas administrativas, contratuais e judicia',
       'Indenizações, restituições e ressarcimentos',
       'Operações de crédito - mercado externo',
       'Alienação de bens imóveis', 'Demais receitas correntes',
       'Contribuições econômicas',
       'Exploração do patrimônio imobiliário do Estad',
       'Contribuições sociais', 'Taxas', 'Amortizações de Empréstimos',
       'Transferências de Convênios', 'Exploração de recursos naturais',
       'Transferências de Instituições Privadas', 'Valores Mobiliários',
       'Transferências da União e de suas Entidades',
       'Receita Agropecuária', 'Alienação de bens móveis',
       'Receita Industrial', 'Indenizações e restituições',
       'Outros serviços', 'Operações de crédito - mercado interno',
       'Serviços e Atividades Financeiras',
       'Transferências dos Municípios e de suas Entid',
       'Bens, Direitos e Valores Incorporados ao Patr',
       'Transferências de Outras Instituições Pública',
       'Transferências Provenientes de Depósito Não I',
       'Transferências de Pessoas Físicas',
       'Delegação de Serviços Públicos Mediante Conce',
       'Cessão de direitos',
       'Serviços e Atividades Referentes à Navegação ',
       'Serviços e Atividades Referentes à Saúde',
       'Exploração do patrimônio intangível', 'Impostos',
       'Demais receitas patrimoniais', 'Sem informação',
       'Receita de concessões e permissões', 'Transferências do Exterior',
       'Resultado do Banco Central do Brasil',
       'Demais receitas de capital',
       'Remuneração das Disponibilidades do Tesouro',
       'Alienação de bens intangíveis',
       'Contribuições para Entidades Privadas de Serv',
       'Receitas de valores mobiliários', 'Resgate de Títulos do Tesouro'],
      dtype=object)

Los 10 TIPO_INGRESO que MAS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Serviços Administrativos e Comerciais Gerais   51444                29.58
Multas administrativas, contratuais e judicia  19262                11.07
Indenizações, restituições e ressarcimentos    18339                10.54
Exploração do patrimônio imobiliário do Estad  16935                 9.74
Taxas                                          11271                 6.48
Demais receitas correntes                       8725                 5.02
Contribuições econômicas                        6318                 3.63
Valores Mobiliários                             5603                 3.22
Contribuições sociais                           4887                 2.81
Exploração de recursos naturais                 3856                 2.22

Los 10 TIPO_INGRESO que MENOS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Exploração do patrimônio intangível               18                 0.01
Contribuições para Entidades Privadas de Serv     11                 0.01
Alienação de bens intangíveis                      9                 0.01
Transferências do Exterior                         7                 0.00
Transferências de Convênios                        5                 0.00
Receitas de valores mobiliários                    4                 0.00
Transferências de Outras Instituições Pública      3                 0.00
Resultado do Banco Central do Brasil               3                 0.00
Demais receitas de capital                         1                 0.00
Resgate de Títulos do Tesouro                      1                 0.00

 Las distribución de las repeticiones de los TIPO_INGRESO son:

       count  % repetición
count
3          2          4.26
1          2          4.26
18339      1          2.13
19262      1          2.13
51444      1          2.13
8725       1          2.13
6318       1          2.13
5603       1          2.13
4887       1          2.13
3856       1          2.13
3488       1          2.13
16935      1          2.13
11271      1          2.13
2462       1          2.13
2616       1          2.13
2363       1          2.13
2357       1          2.13
1485       1          2.13
1466       1          2.13
1832       1          2.13
1752       1          2.13
807        1          2.13
758        1          2.13
557        1          2.13
468        1          2.13
448        1          2.13
337        1          2.13
1438       1          2.13
1366       1          2.13
182        1          2.13
216        1          2.13
153        1          2.13
151        1          2.13
96         1          2.13
67         1          2.13
146        1          2.13
140        1          2.13
35         1          2.13
56         1          2.13
18         1          2.13
11         1          2.13
7          1          2.13
9          1          2.13
4          1          2.13
5          1          2.13

None
La categoría DETALLE tiene 608 elementos diferentes:

Los elementos de la categoría son:

array(['Receitas Correntes - a classificar',
       'TRANSF.DOS ESTADOS,DF E SUAS ENTIDADES-PRINC.',
       'INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-DIV.AT.',
       'OUTRAS RESTITUICOES-PRINCIPAL',
       'OP.DE CREDITO CONTRATUAIS-MERC.EXTERNO-PRINC.',
       'OUTROS RESSARCIMENTOS-PRINCIPAL',
       'ALIENACAO DE BENS IMOVEIS-MULTAS',
       'OUTRAS RECEITAS-PRIMARIAS-MULTAS E JUROS',
       'CONT.S/APOSTAS EM COMPETICOES HIPICAS-DIV.AT.',
       'ALIENACAO DE BENS IMOVEIS-PRINCIPAL',
       'ALUGUÉIS E ARRENDAMENTOS-PRINCIPAL-INTRA',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-PARCEL.-PRINC.',
       'ADICIONAL À CONTR.PREVIDENCIÁRIA RURAL-PRINC.',
       'TAXAS INSPEÇÃO,CONTROLE E FISCALIZ.-MUL.JUR.',
       'CONTRIBUICAO INDUSTRIAL RURAL-MULTAS E JUROS',
       'AMORTIZACAO DE EMPRESTIMOS CONTRATUAIS-PRINC.',
       'RESTIT.DE DESPESAS DE EXERC.ANTERIORES-PRINC.',
       'TRANSFERENCIAS DO EXTERIOR-PRINCIPAL',
       'CONCESSAO FLORESTAS NACIONAIS-VAL.MIN.-PRINC.',
       'CONCESSAO FLOREST.NACIONAIS-DEM.VAL.-MUL.JUR.',
       'CONCESSAO FLOREST.NACIONAIS-VAL.MIN.-MUL.JUR.',
       'CONCESSAO FLORESTAS NACIONAIS-DEM.VAL.-PRINC.',
       'SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.',
       'OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL',
       'SERVICOS DE INFORMACAO E TECNOLOGIA-PRINCIPAL',
       'TRANSFERENCIAS DE INSTITUICOES PRIVADAS-PRINC',
       'REMUNERACAO DE DEPOSITOS BANCARIOS-PRINCIPAL',
       'TX.CONTR.E FISC.PESCA E AQUICULTURA-PRINC.',
       'ALUGUEIS E ARRENDAMENTOS-PRINCIPAL',
       'TX.CONTR.E FISC.PESCA E AQUICULTURA-MUL.JUR.',
       'TRANSFER.DA UNIAO E DE SUAS ENTIDADES-PRINC.',
       'CONTRIBUICAO INDUSTRIAL RURAL-DIVIDA ATIVA',
       'RECEITA AGROPECUÁRIA-PRINCIPAL',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-PRINCIPAL',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-PRINC.',
       'TAXAS INSPEÇÃO,CONTROLE E FISCALIZAÇÃO-PRINC.',
       'INDENIZ.P/DANOS CAUSADOS AO PATR.PUB.-PRINC.',
       'SERV.DE REGIST.,CERTIF.E FISCALIZ.-MUL.JUR.',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-DIV.AT-MUL.JUR.',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS-MUL.JUR',
       'ALIENACAO DE BENS IMOVEIS-JUROS',
       'ALIEN.ESTOQ.PROG.AQUIS.ALIMENTOS-PAA-PRINC.',
       'RECEITA INDUSTRIAL-MULTAS E JUROS',
       'RESTIT.DE DESPESAS EXERC.ANTERIORES-MUL.JUR.',
       'OUTRAS RESTITUIÇÕES-PRINCIPAL-INTRA',
       'RECEITA AGROPECUÁRIA-MULTAS E JUROS',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-PARCEL.-MUL.JUR',
       'ALIENACAO DE TITULOS MOBILIARIOS-PRINCIPAL',
       'ALIENACAO DE BENS MOVEIS E SEMOVENTES-PRINC.',
       'ALUGUEIS E ARRENDAMENTOS-MULTAS E JUROS',
       'OUTROS RESSARCIMENTOS-MULTAS E JUROS',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS-PRINC.',
       'RESTITUICAO DE CONVENIOS-PRIMARIAS-PRINCIPAL',
       'RECEITA INDUSTRIAL-PRINCIPAL', 'OUTROS SERVICOS-PRINCIPAL',
       'INDENIZACAO POR SINISTRO-PRINCIPAL',
       'SERV.ADMINISTRAT.E COMERCIAIS GERAIS-MUL.JUR.',
       'CONTRIBUICAO INDUSTRIAL RURAL-DIV.AT-MUL.JUR.',
       'DIVIDENDOS-PRINCIPAL',
       'CONTR.S/APOSTAS EM COMPETIÇÕES HÍPICAS-PRINC.',
       'INDENIZ.P/DANOS CAUSADOS AO PATR.PUB.-MUL.JUR',
       'AMORTIZACAO EMPRESTIMOS CONTRATUAIS-MUL.JUR.',
       'TITULOS DA DIVIDA AGRARIA-TDA-PRINCIPAL',
       'RETORNO DE OP.,JUR.E ENC.FINANCEIROS-PRINC.',
       'OUTRAS RECEITAS-FINANCEIRAS-DIVIDA ATIVA',
       'ALIENACAO DE ESTOQUES DE CAFE-FUNCAFE-DIV.AT.',
       'OUTRAS RECEITAS-PRIMARIAS-DIV.ATIVA-MUL.JUR.',
       'ALIENACAO DE ESTOQUES DE CAFE-FUNCAFE-PRINC.',
       'OUTRAS RECEITAS-PRIMÁRIAS-PRINCIPAL-INTRA',
       'OUTRAS RESTITUICOES-MULTAS E JUROS',
       'AMORTIZACAO DE FINANCIAMENTOS-PRINCIPAL',
       'CONT.S/APOSTAS EM COMPETICOES HIPICAS-MUL.JUR',
       'SERV.ADMIN.E COMERCIAIS GERAIS-PRINC.-INTRA',
       'SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-MUL.JUR',
       'OUTROS SERVIÇOS-PRINCIPAL-INTRA',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-DIVIDA ATIVA',
       'ALIENACAO DE ESTOQUES DA PGPM-PRINCIPAL',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-MULTAS E JUROS',
       'OUTRAS INDENIZACOES-PRINCIPAL',
       'TRANSF.DOS MUNICIPIOS E SUAS ENTIDADES-PRINC.',
       'RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-MUL.JUR.',
       'ALIEN.BENS E MERCADORIAS APREENDIDOS-MUL.JUR.',
       'REMUN.SALDOS RECURSOS NAO-DESEMBOLSADOS-PRINC',
       'ALIEN.DE BENS E MERCADORIAS APREENDIDOS-PRINC',
       'CONC/PERM/AUT/CESSAO DIR.USO IMOV.PUB-PRINC.',
       'TRANSF.DE OUTRAS INSTITUICOES PUBLICAS-PRINC.',
       'CONTRIB.S/CONCURS.PROGNÓST.-MOD.FUT-PRINCIPAL',
       'CONTRIBUIÇÃO SOBRE LOTERIAS ESPORTIVAS-PRINC.',
       'CONTRIBUIÇÃO SOBRE LOTERIAS DE NÚMEROS-PRINC.',
       'TRANSF.PROVENIENTES DEP.NAO IDENTIFIC.-PRINC.',
       'TRANSFERENCIAS DE PESSOAS FISICAS-PRINCIPAL',
       'CONTR.S/REC.CONCESS.PERM.ENERG.ELETR.-MUL.JUR',
       'CESSAO DIREITO USO DE RADIOFREQUENCIA-PRINC.',
       'EMPRÉSTIMOS COMPULSÓRIOS',
       'COMPENS.FINAN.EXPL.RECURSOS MINERAIS-MUL.JUR.',
       'REVERSAO DE GARANTIAS-PRINCIPAL',
       'CONTR.S/REC.CONCESS.PERM.ENERG.ELÉTR.-PRINC.',
       'RESTITUIÇÃO CONVÊNIOS-PRIMÁRIAS-PRINC.-INTRA',
       'ALUGUEIS E ARRENDAMENTOS-DIVIDA ATIVA',
       'COMPENS.FINANC.EXPL.RECURSOS MINERAIS-DIV.AT.',
       'SERV.DE INFORMAÇÃO E TECNOLOGIA-PRINC.-INTRA',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-DIV.AT.',
       'UTILIZACAO DE RECURSOS HIDRICOS-ITAIPU-PRINC.',
       'COMPENS.FIN.EXPL.REC.MINERAIS-DIV.AT.-MUL.JUR',
       'CIDE-REMESSAS AO EXTERIOR-PRINCIPAL',
       'CONTR.S/FATUR.EMPR.INFO.INST.AMAZONIA-PRINC.',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELEC.-MUL.JUR',
       'CONTR.S/FATUR.EMPR.INFO.INST.DEM.REG.-PRINC.',
       'ROY.EXC.PETRO.PLAT-COM.ANT.3/12/12-DEM.-PRINC',
       'SERVICOS DE INFORMACAO E TECNOLOGIA-MUL.JUR.',
       'COTA-PARTE DO AFRMM-PRINCIPAL',
       'CONTR.S/FATUR.EMPR.INFO.INST.AMAZONIA-MUL.JUR',
       'SERV.REGIST.,CERTIF.E FISCALIZ.-PRINC.-INTRA',
       'COTA-PARTE DO AFRMM-DIVIDA ATIVA',
       'RECEITA INDUSTRIAL-PRINCIPAL-INTRA',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-PRINC.',
       'COTA-PARTE DO AFRMM-DIVIDA ATIVA-MUL.JUR.',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELECOM-PRINC.',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-MUL.JUR.',
       'COMPENS.FINANC.EXPL.RECURSOS MINERAIS-PRINC.',
       'OUTRAS INDENIZAÇÕES-PRINCIPAL-INTRA',
       'CONTR.P/DES.ENS.PROF.MARITIMO-DIV.AT-MUL.JUR.',
       'CONTR.P/DESENV.ENSINO PROF.MARITIMO-MUL.JUR.',
       'CONTR.DESENV.ENSINO PROF.MARIT.-PARCEL-PRINC.',
       'CONTR.P/DESENV.ENSINO PROF.MARITIMO-DIV.ATIVA',
       'CONTR.DESENV.ENSINO PROF.MARIT-PARCEL-MUL.JUR',
       'CONTR.P/DESENV.ENSINO PROF.MARÍTIMO-PRINCIPAL',
       'CESSAO DO DIR.OPERACIONALIZACAO PAGTOS-PRINC.',
       'OUTRAS INDENIZACOES-MULTAS E JUROS',
       'SERVICOS DE TRANSPORTE-PRINCIPAL',
       'SERVIÇOS DE ATENDIMENTO À SAÚDE-PRINC.-INTRA',
       'CESSAO DIR.OPERACIONALIZACAO PAGTOS-MUL.JUR.',
       'CONTR.P/CUST.PENS.MIL.FORÇAS ARMADAS-MUL/JUR.',
       'TX.INSPEÇÃO,CONTROLE E FISCALIZ.-PRINC.-INTRA',
       'CONTR.P/CUST.PENS.MILIT.FORÇAS ARMADAS-PRINC.',
       'SERV.ASSIST.SAUDE SUPLEM.SERV.CIVIL-PRINC.',
       'ROY.PETRO.PLAT-COM.ANTES 3/12/12-DEMAIS-PRINC',
       'EMOLUMENTOS E CUSTAS JUDICIAIS-PRINCIPAL',
       'TAXAS PELA PRESTAÇÃO DE SERVIÇOS-MULT.E JUROS',
       'SERVICOS DE NAVEGACAO-MULTAS E JUROS',
       'SERVICOS DE ATENDIMENTO A SAUDE-MUL.JUR.',
       'INSCR.EM CONCURSOS E PROC.SELETIVOS-MUL.JUR.',
       'TAXAS PELA PRESTAÇÃO DE SERVIÇOS-PRINCIPAL',
       'SERVICOS DE NAVEGACAO-PRINCIPAL',
       'SERV.ASSIST.MEDICO-HOSP.DO MILITAR-PRINCIPAL',
       'ROYAL.COMERC.PROD.RESULT.CRIAÇÃO PROTEG-PRINC',
       'TARIFA AEROPORTUARIA-PRINCIPAL', 'SERVICOS PORTUARIOS-PRINCIPAL',
       'SERVICOS DE ATENDIMENTO A SAUDE-PRINCIPAL',
       'SERV.ASSIST.MEDICO-HOSP.DO MILITAR-MUL.JUR.',
       'CONTRIB.SERVIDOR ATIVO CIVIL P/RPPS-MUL.JUR.',
       'CIDE-COMBUST.-COMERCIALIZACAO-MULTAS DÍV.AT.',
       'CONTRIB.S/SORT.REALIZ.POR ENT.FILANT.-MUL.JUR',
       'OUTRAS DELEG.DOS SERVICOS DE TELECOM-MUL.JUR.',
       'CIDE-COMBUSTÍVEIS-IMPORTAÇÃO-PRINCIPAL',
       'RESTITUICAO DE RECURSOS DE FOMENTO-MUL.JUR.',
       'IRRF-CAPITAL-PRINCIPAL',
       'CIDE-REMESSAS AO EXTERIOR-MULTAS E JUROS',
       'CONTRIBUIÇÃO SOBRE A LOTERIA FEDERAL-PRINCIP.',
       'IMPOSTO SOBRE A EXPORTAÇÃO-MULTAS DÍV.ATIVA',
       'DEMAIS RECEITAS PATRIMONIAIS-PRINCIPAL',
       'TAXA FISCALIZ.DE FUNCIONAMENTO-PRINC.-INTRA',
       'CONTRIB.P/FOMENTO RADIODIF.PÚB.-PRINC.-INTRA',
       'P.ESP.PETRO.PLAT-COM.A PARTIR 3/12/12-PRINC.',
       'CONTRIB.DO SERVIDOR INATIVO P/RPPS-PRINCIPAL', 'Sem informação',
       'OUTRAS RECEITAS-PRIMARIAS-DIVIDA ATIVA',
       'IRRF-TRABALHO-JUROS DA DÍVIDA ATIVA',
       'COFINS SOBRE O FATURAMENTO-SIMPLES-MUL.JUR.',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELECOM-DIV.AT',
       'RESSARCIMENTO AO RGPS-MULTAS E JUROS',
       'JUROS DE TITULOS DE RENDA-PRINCIPAL',
       'IPI-BEBIDAS-MULTAS E JUROS',
       'AMORT.EMPR.-REFIN.DIV.MED.E LONGO PRAZO-PRINC',
       'CONTRIBUIÇÃO PIS/PASEP-PARCELAMENTOS-MUL.JUR.',
       'CONT.MOV.TRANSM.VAL.CRÉD.DIR.NAT.FIN.-MUL.JUR',
       'CONTRIB.PIS/PASEP SOBRE FATURAMENTO-DÍV.ATIVA',
       'IRPF-DIVIDA ATIVA-MULTAS E JUROS',
       'MULTAS PREV.LEI GERAL TELECOM.-PRINC.-INTRA',
       'ITR-MUNICÍPIOS NÃO-CONVENIADOS-MULTAS E JUROS',
       'IOF-DEMAIS OPERAÇÕES-MULTAS E JUROS',
       'CONTR.REL.DESPED.EMPREG.S/JUSTA CAUSA-PRINC.',
       'AMORT.EMPREST.-PROG.OP.OFICIAIS CRED.-PRINC.',
       'OUTRAS CONTRIBUIÇÕES SOCIAIS-DÍV.AT.-MUL.JUR.',
       'OUTRAS CONTRIBUIÇÕES SOCIAIS-MULTAS E JUROS',
       'OUTRAS DELEG.SERVIÇOS TELECOM.-PRINC.-INTRA',
       'COFINS-MULTAS E JUROS',
       'CONT.MOV.TRANSM.VL.CR.FIN-PARC-DÍV.AT-MUL.JUR',
       'IMPOSTO SOBRE A IMPORTAÇÃO-MULTAS DÍV.ATIVA',
       'CONTRIB.PIS/PASEP SOBRE FATURAMENTO-MUL.JUR.',
       'OUTRAS DELEG.DOS SERVICOS DE TELECOM-DIV.AT.',
       'JUROS SOBRE O CAPITAL PROPRIO-MULTAS E JUROS',
       'ITR-MUNICÍPIOS NÃO-CONVENIADOS-MULTAS DÍV.AT.',
       'COFINS-DIVIDA ATIVA-MULTAS E JUROS',
       'CONTR.PIS/PASEP S/FATURAMENTO-DÍV.AT-MUL.JUR.',
       'RESSARCIMENTO DE CUSTOS-MULTAS E JUROS',
       'IPI-BEBIDAS-MULTAS E JUROS-INTRA',
       'CONTRIBUIÇÃO PARA O ENSINO AEROVIÁRIO-PRINC.',
       'CONTRIB.DO PENSIONISTA PARA O RPPS-PRINC.',
       'CONTRIB.SOC.S/LUCRO LÍQ.-CSLL-JUROS DÍV.ATIVA',
       'REC.POR FORÇA DEC.JUD.E DE TRIB.ADM.-PRINC.',
       'MULTAS APLICADAS PELOS TRIB.DE CONTAS-MUL.JUR',
       'IPI-OUTROS PRODUTOS-DIVIDA ATIVA-MUL.JUR.',
       'CIDE-COMBUSTÍVEIS-COMERCIALIZAÇÃO-PRINCIPAL',
       'BÔNUS ASS.CONTR.PARTILHA PRODUÇÃO-UNIÃO-PRINC',
       'RETORNO DE OP.,JUR.E ENC.FINANCEIROS-MUL.JUR.',
       'IMPOSTO SOBRE A IMPORTAÇÃO-DÍVIDA ATIVA',
       'IMPOSTO SOBRE A EXPORTAÇÃO-PRINCIPAL',
       'MUL.P/DESCUMP.OBRIG.PREVID.ACESSORIA-PRINC.',
       'RESSARCIMENTO DE CUSTOS-PRINCIPAL',
       'RESTITUICAO DE RECURSOS DE FOMENTO-PRINCIPAL',
       'IOF-OURO-MULTAS E JUROS', 'OUTROS IMPOSTOS-MULTAS E JUROS',
       'MULTAS DECORRENTES DE SENTENCAS JUD.-DIV.AT.',
       'CONTR.PIS/PASEP-PARCELAMENTOS-DÍV.AT-MUL.JUR.',
       'CONTR.SERV.INAT.P/RPPS ORIG SENT.JUD-PRINC.',
       'CONTR.S/REMUN.DEVIDA AO TRABALHADOR-PRINCIPAL',
       'IPI-OUTROS PRODUTOS-MULTAS E JUROS',
       'MULTAS PREVISTAS LEG.ESPECÍFICA-PRINC.-INTRA',
       'EMOLUMENTOS E CUSTAS JUDICIAIS-MULTAS E JUROS',
       'CONTRIB.SERVIDOR ATIVO CIVIL P/RPPS-PRINCIPAL',
       'CONTRIB.DO SERVIDOR INATIVO P/RPPS-MUL.JUR.',
       'PARTICIPACOES-PRINCIPAL',
       'CPSSS-SERVIDOR CIVIL INATIVO-PRINCIPAL',
       'COFINS SOBRE O FATURAMENTO-PARCELAM.-MUL.JUR.',
       'TAXA DE FISCALIZAÇÃO DE FUNCIONAMENTO-DÍV.AT.',
       'CONCESSAO DE AVAIS,GARANTIAS E SEGUROS-PRINC.',
       'CONTR.PIS/PASEP SOBRE FATURAM.-PRINC.-INTRA',
       'IOF-DEMAIS OPERAÇÕES-DÍVIDA ATIVA',
       'FOROS,LAUDEMIOS,TARIFAS DE OCUPACAO-MUL.JUR.',
       'AMORTIZ.PROV.EXEC.DE GARANTIA-OP.CRED.-PRINC.',
       'BONUS ASSINAT.DE CONTRATO DE CONCESSAO-PRINC.',
       'TAXA DE CONTROLE E FISC.AMBIENTAL-DÍV.ATIVA',
       'MUL.P/DESCUMP.OBRIG.PREVID.ACESSORIA-MUL.JUR.',
       'CONTRIB.SOCIAL SOBRE LUCRO LÍQ.-CSLL-MUL.JUR.',
       'CONTRIBUIÇÃO PIS/PASEP-PARCELAMENTOS-PRINC.',
       'ONUS DE SUCUMBENCIA-MULTAS E JUROS',
       'CIDE-COMBUSTIVEIS-IMPORTACAO-MULTAS E JUROS',
       'IMPOSTO SOBRE A IMPORTAÇÃO-MUL.JUR.-INTRA',
       'BENS,DIR.E VAL.PERD.EM FAVOR PODER PUB.-PRINC',
       'ROY.EXC.PETRO.PLAT-COM.A PARTIR 3/12/12-PRINC',
       'IPI-VINCULADOS À IMPORTAÇÃO-MUL.JUR.-INTRA',
       'IRPJ-LÍQUIDA DE INCENTIVOS-MULTAS E JUROS',
       'IPI-VINCULADOS À IMPORTAÇÃO-MULTAS E JUROS',
       'DEMAIS CONTRIBUIÇÕES SOCIAIS-DÍVIDA ATIVA',
       'TX.CONTROLE E FISCALIZ.PROD.QUÍMICOS-PRINC.',
       'CONTR.LOJ.FR.ENTREP.ADUAN.DEP.ALFAND.-PRINC.',
       'DELEG.P/PREST.SERV.TRANSP.FERROVIARIO-MUL.JUR',
       'CONDECINE-PRINCIPAL', 'COFINS SOBRE O FATURAMENTO-DÍVIDA ATIVA',
       'REMUN.S/REPASSE P/PROG.DESENV.ECONOMICO-PRINC',
       'IRRF-OUTROS RENDIMENTOS-PRINCIPAL',
       'P.ESP.PETRO.PLAT-COM.ANT.3/12/12-DEMAIS-PRINC',
       'CPSSS PATRONAL-SERVIDOR CIVIL-MUL.JUR.-INTRA',
       'COFINS SOBRE O FATURAMENTO-PARCELAM.-DÍV.AT.',
       'IRPJ-LÍQUIDA DE INCENTIVOS-MULTAS DÍV.ATIVA',
       'ITR-MUNICÍPIOS NÃO CONVENIADOS-PRINCIPAL',
       'RESTIT.PARCELAS SEG.DESEMP.REC.INDEV.-MUL.JUR',
       'CONTRIB.SOCIAL SOBRE LUCRO LÍQ.-CSLL-DÍV.AT.',
       'EMOLUMENTOS E CUSTAS JUDICIAIS-PRINC.-INTRA',
       'COFINS-JUROS DA DÍVIDA ATIVA',
       'CONTRIB.S/LOTERIA PROGNÓST.ESPECÍFICO-PRINC.',
       'MULTAS PREV.NA LEI GERAL DAS TELECOM.-DIV.AT.',
       'DELEG.P/PREST.SERV.TRANSP.FERROVIARIO-PRINC.',
       'CONTRIBUIÇÃO PARA O PIS/PASEP-DÍVIDA ATIVA',
       'TAXA FISCALIZAÇÃO DE INSTALAÇÃO-PRINC.-INTRA',
       'TIT.RESP.TN-REFIN.DIV.PUB.FED.MERC.INT.-PRINC',
       'MULTAS PREV.NA LEI GERAL DAS TELECOM.-MUL.JUR',
       'CONTR.P/FUNDOS ASSIST.MÉD-POLIC.MILIT-PRINC.',
       'CONTR.PATR.SERV.ATIVO CIV.P/RPPS-PRINC.-INTRA',
       'CONTRIBUIÇÃO PARA O PROTERRA-PRINCIPAL',
       'ALIENACAO DE BENS IMOVEIS-MULTAS E JUROS',
       'MULTAS PREV.EM LEG.ESPECIFICA-DIV.AT-MUL.JUR.',
       'ROYAL.PETRO.PLAT.-COM.A PARTIR 3/12/12-PRINC.',
       'RESTIT.BENEFICIOS NAO DESEMBOLSADOS-PRINCIPAL',
       'IRRF-TRABALHO-MULTAS DA DÍVIDA ATIVA',
       'CONTRIBUICAO AO MONTEPIO CIVIL-MULTAS E JUROS',
       'CONTRIBUIÇÕES P/O RGPS-PARCELAMENTOS-PRINC.',
       'TX.INSP,CONTROL.E FISCALIZ.-DÍV.AT.-MUL.JUR.',
       'COTA-PARTE DO AFRMM-MULTAS E JUROS',
       'CONTR.P/FUNDOS ASSIST.MÉD-BOMB.MILIT.-PRINC.',
       'ROYAL.EXCED.PROD.PETRO.TERRA(QQ SIT.)-PRINC.',
       'RESULTADO DO BACEN-DEMAIS OPERACOES-PRINCIPAL',
       'MULTAS PREV.LEG.SEG.DESEMP.AB.SALAR.-DIV.AT.',
       'CONTRIB.PREVID.TRABALHADOR AVULSO-PRINCIPAL',
       'CONTRIB.SERV.ATIVO P/RPPS-SENT.JUD.-PRINC.',
       'CESSÃO DIR.USO RADIOFREQUÊNCIA-PRINC.-INTRA',
       'CONTR.MOV.TRANSM.VAL.CRÉD.DIR.NAT.FIN.-DÍV.AT',
       'CONTRIBUIÇÕES P/O RGPS-DÍVIDA ATIVA',
       'FOROS,LAUDEMIOS,TARIFAS DE OCUPACAO-PRINCIPAL',
       'CONC/PERM/AUT/CESSAO DIR.USO IMOV.PUB-MUL.JUR',
       'INDENIZ.POSSE/OCUP.ILICITA BENS PUB.-MUL.JUR.',
       'FOROS,LAUDEMIOS,TARIFAS DE OCUPACAO-DIV.ATIVA',
       'CONTR.PIS/PASEP SOBRE FATURAM.-MUL.JUR-INTRA',
       'AMORTIZACAO DE EMPRESTIMOS-EST/MUN-PRINCIPAL',
       'DEL.SERV.RADIODIF.SONORA E SOM/IMAGEM-PRINC.',
       'DEL.SERV.RADIODIF.SONORA E SOM/IMAGEM-MUL.JUR',
       'BARREIRAS TECNICAS AO COMERCIO EXTERIOR-PRINC',
       'BARREIRAS TECNICAS AO COMERC.EXTERIOR-MUL.JUR',
       'IRRF-TRABALHO-PRINCIPAL',
       'RESTIT.DEC.APLIC.IRREG.REC.ELEITORAIS-MUL.JUR',
       'IRRF-REMESSA AO EXTERIOR-PRINCIPAL-INTRA',
       'ITR-MUNICÍPIOS NÃO CONVENIADOS-DÍVIDA ATIVA',
       'JUROS SOBRE O CAPITAL PROPRIO-PRINCIPAL',
       'ITR-MUNICÍPIOS CONVENIADOS-PRINCIPAL',
       'TAXAS INSPEÇÃO,CONTROLE E FISCALIZAÇÃO-DÍV.AT',
       'CONTRIBUICAO PARA O PIS/PASEP-DIV.AT-MUL.JUR.',
       'RESTIT.DESPESAS EXERC.ANTERIORES-PRINC-INTRA',
       'DEP.ABANDONADOS(DINHEIRO/OBJ.DE VALOR)-PRINC.',
       'IRRF-TRABALHO-MULTAS E JUROS-INTRA',
       'CONTRIBUICAO AO MONTEPIO CIVIL-PRINCIPAL',
       'VARIACAO CAMBIAL-PRINCIPAL',
       'AMORTIZACAO DE EMPRESTIMOS-EST/MUN-MUL.JUR.',
       'CONTR.S/REC.OP.BRT DECOR.SERV.TELECOM-PRINC.',
       'IRPF-JUROS DA DÍVIDA ATIVA',
       'DEMAIS CONTRIBUIÇÕES SOCIAIS-DÍV.AT.-MUL.JUR.',
       'ITR-MUNICÍPIOS NÃO-CONVENIADOS-JUROS DÍV.AT.',
       'IMPOSTO SOBRE A IMPORTAÇÃO-PRINCIPAL',
       'CONTRIB.PIS/PASEP FATURAMENTO-SIMPLES-MUL.JUR',
       'CONTR.MOV.TRANSM.VAL.CRÉD.DIR.NAT.FIN.-PRINC.',
       'CONT.MOV.TRANSM.VAL.CR.DIR.FIN-JUROS DÍV.AT.',
       'CONTR.S/ARREC.FUNDOS INVEST.REGIONAIS-PRINC.',
       'OUTRAS RECEITAS IMOBILIARIAS-PRINCIPAL',
       'CONTR.S/APOSTAS COMPET.HIPICAS-DIV.AT-MUL.JUR',
       'DEMAIS RECEITAS DE CAPITAL-PRINCIPAL',
       'REMUNER.DISPONIBILIDADES TES.NACIONAL-PRINC.',
       'INDENIZ.POSSE/OCUP.ILICITA BENS PUB.-PRINC.',
       'CIDE-COMBUST.-COMERCIALIZACAO-JUROS DÍV.ATIVA',
       'COFINS SOBRE O FATURAMENTO-SIMPLES-PRINCIPAL',
       'DELEG.SERV.TELEC.-POD.CONC.NO REG.PUB.-PRINC.',
       'ENCARGOS LEGAIS PELA INSCR.EM DIV.AT.-MUL.JUR',
       'CONTR.PATR.SERV.AT.CIV.P/RPPS-MUL.JUR-INTRA',
       'ROY.EXC.PETRO.PLAT-CM.ANT.3/12/12-P.SAL-PRINC',
       'CONTRIB.PATR.DE SERV.ATIVO CIV.P/RPPS-MUL.JUR',
       'DEMAIS CONTRIBUIÇÕES SOCIAIS-PRINCIPAL',
       'CONTRIB.SOC.S/LUCRO LIQ.-CSLL-DIV.AT-MUL.JUR.',
       'MULTAS APLICADAS PELOS TRIB.DE CONTAS-PRINC.',
       'CONTRIBUIÇÃO PARA O PIS/PASEP-JUROS DÍV.ATIVA',
       'IRPJ-LIQUIDA DE INCENTIVOS-DIV.AT.-MUL.JUR.',
       'PRESTACAO DE CONTAS ELEITORAIS-MULTAS E JUROS',
       'ALIENACAO DE BENS INTANGIVEIS-PRINCIPAL',
       'CPSSS-SERVIDOR CIVIL ATIVO-SENT.JUD.-PRINC.',
       'CESSAO DIREITO USO DE RADIOFREQUENCIA-MUL.JUR',
       'IOF-DEMAIS OPERACOES-DIVIDA ATIVA-MUL.JUR.',
       'ROY.PETRO.PLAT-COM.ANTES 3/12/12-P.SAL-PRINC.',
       'OUTRAS CONTRIBUICOES ECONOMICAS-MULTAS/JUROS',
       'CONTRIB.P/FOMENTO RADIODIFUSAO PUBLICA-DIV.AT',
       'CONTR.PENSIONISTA P/RPPS ORIG SENT.JUD-PRINC.',
       'COFINS-PRINCIPAL', 'OUTRAS RECEITAS-FINANCEIRAS-PRINCIPAL',
       'RESSARCIMENTO DE CUSTOS-PRINCIPAL-INTRA',
       'CONC.SERV.GER.TRANSM.DISTR.ENER.ELÉT-PRINC.',
       'CONTRAPART.DE SUBVENCOES OU SUBSIDIOS-PRINC.',
       'BONUS ASSINAT.CONTRATO DE CONCESSAO-MUL.JUR.',
       'CONTRIBUIÇÃO PARA O PIS/PASEP-MULTAS E JUROS',
       'CPSSS-SERVIDOR CIVIL ATIVO-MULTAS E JUROS',
       'TAXA DE FISCALIZAÇÃO DE INSTALAÇÃO-DÍV.ATIVA',
       'CONT.MOV.TRANSM.VAL.CRED.DIR.FIN-PARC-DÍV.AT.',
       'CONTRIBUIÇÃO PARA O PIN-PRINCIPAL',
       'PRESTACAO DE CONTAS ELEITORAIS-PRINCIPAL',
       'CONDECINE-PRINCIPAL-INTRA',
       'TAXA DE FISCALIZAÇÃO DE FUNCIONAMENTO-PRINC.',
       'COFINS-MULTAS DA DÍVIDA ATIVA',
       'RESTIT.DEP.DE SENTENÇAS JUD.Ñ SACADOS-MUL.JUR',
       'RESTIT.DE BENEFICIOS PREVIDENCIARIOS-MUL.JUR.',
       'IRRF-TRABALHO-MULTAS E JUROS',
       'CONTRIB.S/SORT.REALIZ.POR ENT.FILANT.-PRINC.',
       'CONTRIBUIÇÕES P/O RGPS-MULTAS E JUROS',
       'IOF-DEMAIS OPERAÇÕES-MULTAS DA DÍVIDA ATIVA',
       'OUTRAS INDENIZACOES-DIVIDA ATIVA',
       'COMPENS.FINANCEIRAS ENTRE RGPS E RPPS-MUL.JUR',
       'DIVIDENDOS-MULTAS E JUROS',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS-DIV.AT.',
       'OUTRAS RECEITAS IMOBILIARIAS-MULTAS E JUROS',
       'MULTAS E JUROS PREV.CONTRATOS-DIV.AT-MUL.JUR.',
       'IRRF-TRABALHO-DÍVIDA ATIVA',
       'COTA-PARTE DA CONTRIBUIÇÃO SINDICAL-PRINCIPAL',
       'CONT.P/ENT.PRIV.SERV.SOC.E FORM.PROFIS.-PRINC',
       'MULT.LEG.ANTICORRUP.ACORDOS LENIÊNCIA-PRINC.',
       'CONT.MOV.TRANSM.VAL.CR.DIR.FIN-DÍV.AT-MUL.JUR',
       'IPI-OUTROS PRODUTOS-PRINCIPAL',
       'APORTES PERIÓD.COMPENSAÇÕES RGPS-PRINC-INTRA',

Los 10 DETALLE que MAS aparecen son:

                                               count  Porcentaje_recuento
DETALLE
SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.    29257                16.82
INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL  13689                 7.87
ALUGUEIS E ARRENDAMENTOS-PRINCIPAL             13618                 7.83
MULTAS PREVISTAS EM LEGISL.ESPECIFICA-PRINC.    7809                 4.49
REMUNERACAO DE DEPOSITOS BANCARIOS-PRINCIPAL    5272                 3.03
TAXAS INSPEÇÃO,CONTROLE E FISCALIZAÇÃO-PRINC.   4314                 2.48
OUTRAS RESTITUICOES-PRINCIPAL                   4231                 2.43
OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL             3943                 2.27
RESTIT.DE DESPESAS DE EXERC.ANTERIORES-PRINC.   3895                 2.24
SERVICOS DE INFORMACAO E TECNOLOGIA-PRINCIPAL   3422                 1.97

Los 10 DETALLE que MENOS aparecen son:

                                               count  Porcentaje_recuento
DETALLE
CONTRIB.SOC.S/LUCRO LIQ.-CSLL-DIV.AT-MUL.JUR.      1                 0.00
ADICIONAL SOBRE TARIFA AEROPORTUARIA-MUL.JUR.      1                 0.00
AMORTIZACAO DE EMPRESTIMOS-EST/MUN-MUL.JUR.        1                 0.00
DEMAIS RECEITAS DE CAPITAL-PRINCIPAL               1                 0.00
PARCELA TARIFA EMBARQUE INTERNACIONAL-MUL.JUR      1                 0.00
TRANSFER.DE INSTITUICOES PRIVADAS-MUL.JUR.         1                 0.00
TAXA FISCAL. DOS SERVICOS DE ENERGIA ELETRICA      1                 0.00
CONTR.S/REC.OP.BRT DECOR.SERV.TELECOM-MUL.JUR      1                 0.00
OUTORGA DIR.EXPLOR.E PESQUISA MINERAL-MUL.JUR      1                 0.00
RESGATE DE TITULOS DO TESOURO-PRINCIPAL            1                 0.00

 Las distribución de las repeticiones de los DETALLE son:

       count  % repetición
count
21        39          6.41
1         38          6.25
40        19          3.12
16        18          2.96
2         18          2.96
...      ...           ...
58         1          0.16
55         1          0.16
57         1          0.16
53         1          0.16
67         1          0.16

[212 rows x 2 columns]

None
La categoría VALOR_PREVISTO_ACTUALIZADO tiene 1846 elementos diferentes:

Los elementos de la categoría son:

array([0.0000000e+00, 1.1444220e+06, 2.5595360e+06, ..., 1.2070276e+08,
       6.2829486e+07, 2.1628600e+05])

Los 10 VALOR_PREVISTO_ACTUALIZADO que MAS aparecen son:

                             count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
0.00                        172042                98.91
150000.00                        3                 0.00
1000000.00                       3                 0.00
300000.00                        3                 0.00
15000000.00                      3                 0.00
800000.00                        2                 0.00
5018796.00                       2                 0.00
360000.00                        2                 0.00
136317.00                        2                 0.00
253355000.00                     2                 0.00

Los 10 VALOR_PREVISTO_ACTUALIZADO que MENOS aparecen son:

                            count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
275335.00                       1                 0.00
774200.00                       1                 0.00
94456.00                        1                 0.00
224708.00                       1                 0.00
21742.00                        1                 0.00
4097781.00                      1                 0.00
240646.00                       1                 0.00
4657.00                         1                 0.00
51817.00                        1                 0.00
5865.00                         1                 0.00

 Las distribución de las repeticiones de los VALOR_PREVISTO_ACTUALIZADO son:

        count  % repetición
count
1        1792         97.07
2          49          2.65
3           4          0.22
172042      1          0.05

None
La categoría VALOR_REGISTRADO tiene 828 elementos diferentes:

Los elementos de la categoría son:

array([ 0.00000000e+00,  5.91582000e+03, -5.91582000e+03, -2.44098000e+03,
       -3.95890000e+04,  2.86949200e+04,  2.05891000e+03,  1.06066000e+03,
        1.10145000e+03,  1.03310000e+03,  8.40490000e+02,  2.09608320e+05,
        1.06082000e+03,  2.94912147e+06,  1.20114471e+07,  2.83062520e+05,
       -1.82453716e+06,  5.57637900e+04, -4.78531488e+06,  5.63915270e+06,
        2.60508094e+07, -2.94508430e+05, -2.23005100e+04,  2.79825550e+06,
        8.56425880e+07, -9.64933170e+06, -2.34301823e+07, -8.13887675e+07,
        2.20557570e+07,  1.42530660e+08,  2.12293003e+07,  2.21598706e+06,
       -8.07657466e+07, -2.41111273e+08, -1.17201844e+07,  1.45147964e+07,
        1.08502933e+07,  1.75247424e+06,  6.62958229e+07, -1.27596650e+07,
        1.61807511e+08,  2.19301760e+09,  1.52797287e+07,  2.54713933e+07,
       -1.94252189e+08,  1.29603184e+07,  7.61386135e+07,  4.97120900e+05,
       -1.03904047e+07, -2.20834998e+07, -2.85487172e+07,  3.08714400e+04,
        4.89992893e+06, -4.30024000e+03, -2.63240000e+02, -4.97120900e+05,
       -2.56633000e+03,  2.51145709e+07,  1.72433943e+08,  6.61308479e+08,
        6.02240557e+06, -6.02240557e+06,  2.41489544e+07, -2.58775488e+07,
       -4.82630776e+06, -3.40779189e+07,  3.89762127e+08,  2.50206295e+07,
        3.08260241e+07,  7.39454114e+06, -1.53027666e+07,  6.15565583e+06,
       -6.93404000e+04,  6.93404000e+04,  3.17065799e+06, -1.21985528e+07,
        2.35213866e+07, -4.29273208e+07,  2.07149389e+07,  9.00951756e+06,
        5.06435979e+06, -8.82574540e+05,  1.68977516e+06,  1.56909814e+08,
       -1.56099816e+07,  1.00582673e+08,  7.45150895e+07, -8.00007016e+07,
        7.50919504e+07,  8.68312303e+07,  4.39856964e+07, -4.36220830e+06,
        6.37242650e+07,  6.02934571e+08, -3.53663128e+09,  7.51905275e+08,
        3.47021309e+09,  1.82341560e+09, -2.00935801e+09,  3.91262354e+08,
        2.37778350e+10,  1.86052356e+08, -2.46612163e+09,  1.49250614e+09,
       -1.12277800e+04,  5.61183790e+05,  6.45290000e+03, -7.78803100e+04,
        7.78803100e+04, -7.65165600e+04, -3.40730700e+04, -1.51492450e+05,
        4.47795000e+03,  2.23767000e+03,  1.54872130e+05, -1.54872130e+05,
       -1.08179600e+04,  3.33732300e+04, -6.04527200e+04,  1.84397516e+07,
        1.03362064e+06,  6.93046700e+04,  1.38689010e+05, -3.40766915e+06,
       -3.35049190e+05, -3.68929910e+05, -1.87231438e+06, -4.69195579e+06,
        1.99856240e+05, -1.05529570e+06, -9.89749380e+05, -1.40719245e+06,
        1.63344120e+08, -2.59844140e+05, -1.85934164e+07,  2.85131185e+06,
        1.40478720e+07,  1.60177919e+07, -1.00007108e+06,  1.10234593e+06,
        2.14418463e+07, -8.79354568e+06,  4.60090199e+07, -4.57915170e+05,
        3.06284325e+06,  2.92283740e+05,  2.72735868e+06, -5.65301197e+06,
        1.13385838e+06,  5.99558656e+06,  5.95994720e+05, -2.15591801e+06,
        3.05896590e+05, -7.45488000e+04,  7.96306600e+05,  9.96792200e+04,
        2.74138979e+06,  2.12713050e+05, -4.75324020e+05,  5.05344690e+05,
       -2.05406680e+05,  1.78672160e+05, -1.90544703e+06,  1.90544703e+06,
       -2.10216070e+05,  2.10216070e+05, -1.23547332e+08,  5.12356212e+07,
       -2.84425859e+07,  1.81033449e+08, -1.86262944e+08,  2.45158804e+08,
        1.91412790e+08, -2.36013722e+08,  2.88210232e+09,  4.61802872e+07,
       -1.00000000e-02, -5.47930000e+03, -3.44422000e+03, -3.37840000e+02,
        1.16330000e+02,  1.52450000e+02,  1.79360000e+02,  2.84960000e+02,
        3.63901200e+04,  1.46800000e+02, -1.90195000e+03,  1.77820660e+05,
       -1.85422000e+04,  1.41615500e+04,  1.46790000e+02, -2.83048378e+08,
       -4.13167898e+08,  4.36273086e+08,  8.40083192e+08,  1.99254075e+10,
       -1.16422913e+09,  6.80023363e+08, -3.05709990e+09, -7.44040519e+08,
       -3.44053559e+08,  7.41789870e+05, -4.96093688e+06, -5.40092976e+06,
        9.33579326e+06,  9.37986260e+05, -4.08438331e+06,  4.47484131e+07,
        4.79716861e+06,  2.18453599e+07,  8.98596945e+06,  4.24074634e+10,
       -2.04985773e+09, -2.21033524e+09,  2.02541523e+09, -1.49026462e+09,
       -7.41936161e+07, -9.20528202e+08,  8.99465170e+07,  2.92356679e+09,
        3.10644981e+07,  1.19467337e+08, -1.14601325e+09, -1.31917587e+08,
       -2.75092798e+09, -2.32385774e+07,  1.12376072e+08,  3.66526733e+07,
        9.99419425e+08,  1.35741859e+09, -1.75733029e+08,  1.14972400e+04,
       -2.01880900e+04, -4.21822300e+04,  1.57279480e+05,  4.97678470e+05,
        9.81731000e+04,  6.93659990e+05, -2.12955800e+04, -1.59519300e+04,
       -8.05307800e+04,  2.54704034e+06,  1.09508967e+08,  1.22866218e+06,
        4.26066450e+05,  6.35442065e+06,  8.52622610e+05, -2.05979196e+06,
       -1.71728834e+07, -6.48767310e+06, -2.19098036e+06, -2.88448775e+07,
       -1.15104833e+07, -4.49757736e+07,  1.49340029e+09,  4.59525156e+07,
        2.93030823e+07,  1.56249183e+08, -2.01805877e+07, -2.57351522e+07,
       -1.99310603e+07, -1.88374794e+06, -4.79578207e+07, -5.18668722e+06,
       -8.87352390e+05,  8.87352390e+05, -8.00647546e+06,  3.08292780e+05,
        7.63722873e+07, -3.21838331e+07,  1.52294595e+07, -1.25011580e+07,
        2.26688094e+06, -1.09804540e+05,  3.71333420e+06,  3.76074577e+07,
       -2.83976705e+06,  1.42533510e+08, -7.86030700e+04, -3.43932955e+06,
        6.01373917e+07, -4.38007440e+05, -8.47346717e+07,  1.61109564e+07,
        4.48089636e+06,  1.18110858e+07,  5.35700855e+08, -1.58312597e+07,
        9.61721812e+06, -4.23467430e+05, -9.61721812e+06,  4.23467430e+05,
        2.60276803e+07, -4.92278100e+04,  4.92278100e+04,  4.70598300e+04,
        7.01857300e+05, -7.16575270e+05, -1.27135379e+06,  1.23667999e+07,
       -2.16268310e+06,  9.41737100e+04, -2.47426460e+05, -2.27507760e+05,
        1.35707970e+05, -3.18596910e+06, -4.65610140e+05,  4.65610140e+05,
        3.68357450e+09, -5.24222972e+07,  5.30771482e+06,  2.73579710e+07,
       -4.56226862e+08,  7.60534722e+08,  4.93701183e+07, -1.53676446e+08,
       -1.35845596e+08,  1.62642789e+08,  1.21526509e+08, -5.07220970e+05,
        3.87525228e+06, -1.33966335e+07, -1.16593425e+07,  3.24868467e+06,
        1.54666170e+08, -1.39346220e+06,  1.30638318e+07,  8.82251594e+06,
        1.61459990e+06, -5.64724520e+05, -2.43474107e+06,  2.43474107e+06,
       -3.48085803e+07,  1.56077708e+06, -8.37217413e+06,  7.65882022e+07,
        2.63627581e+08, -3.71473601e+06,  2.84228536e+06,  1.93605554e+06,
       -2.70775830e+07,  4.35783973e+08,  1.15223546e+07, -2.94280000e+03,
        2.94280000e+03, -1.49779247e+07,  3.31686245e+07,  1.58378049e+07,
        3.39327984e+08,  1.72721046e+08,  1.76893835e+06,  1.01847241e+07,
       -9.19809007e+07,  9.19809007e+07, -4.87531877e+06,  7.22387793e+06,
       -1.76298448e+08,  1.37112174e+07,  3.95165902e+06,  2.18721366e+06,
        9.37875100e+04, -2.18988330e+05, -1.89430608e+06,  2.99373937e+06,
        2.81890600e+05,  3.00524678e+07, -5.43663437e+06,  5.16429017e+07,
        7.93309069e+06, -7.93309069e+06,  2.42937734e+07,  3.95348925e+08,
       -3.28848619e+08, -3.75576828e+08,  7.06003301e+08,  3.20644669e+09,
        4.91196031e+07,  1.41073463e+08,  1.88243509e+08,  6.41863810e+08,
       -7.62839935e+08, -3.62686704e+09,  7.00363861e+07,  1.25712751e+06,
       -1.25712751e+06,  6.16861000e+03, -1.55824686e+06,  1.31660000e+02,
        1.52530092e+06,  7.63410000e+02,  3.69492880e+05, -1.43760800e+04,
        8.03820000e+02, -3.13377110e+05,  5.01022000e+03,  4.10359752e+09,
        4.14987923e+09, -2.93161950e+09,  6.76504772e+08,  2.19850857e+09,
       -1.74437565e+09,  9.10405770e+08,  3.42782827e+08, -3.05672256e+09,
        5.18335377e+10,  5.81688556e+08,  7.47060599e+09, -1.90527270e+07,
        4.17913063e+08, -4.85141565e+08,  2.00811703e+08, -1.10180834e+09,
        5.45878105e+08,  9.80838351e+08,  2.79677089e+08, -7.28855891e+08,
        3.45950000e+02,  3.65150397e+09,  8.86510181e+08,  1.73827163e+08,
       -2.63238000e+03, -1.44821000e+03, -7.72398278e+07,  4.86149341e+07,
       -3.43595100e+04, -1.49202607e+08,  7.23841900e+04, -9.27556137e+07,
       -4.67039000e+03, -8.35760000e+02, -4.79663760e+08, -1.55566060e+08,
        1.72870000e+02, -1.17038400e+04,  2.57831000e+03, -1.59069335e+08,
        4.98530000e+02, -8.64378941e+08,  3.46512388e+10,  4.52996074e+08,
        3.41066530e+08, -8.45965760e+08,  3.08334088e+09, -1.52983038e+08,
       -3.49872306e+09, -1.03683602e+10, -2.49528178e+08,  7.14706510e+08,
       -8.27553420e+05,  8.27553420e+05,  1.32048873e+09,  7.66607321e+07,
       -7.82683107e+07, -1.38864285e+08, -3.47989148e+08,  1.48227742e+07,
        5.14013311e+06, -2.64194335e+07, -2.48496549e+07, -2.06544563e+08,
        1.02861736e+07,  9.21170490e+05, -9.21170490e+05, -7.65324578e+07,
        1.06681045e+08, -2.56139803e+08,  6.72628033e+09,  1.47830407e+08,
        3.17928201e+08,  2.08014619e+08,  5.65362954e+08, -2.07751526e+08,
       -6.40145795e+07,  2.30239431e+07, -7.13750759e+06,  3.52325493e+07,
       -2.82784949e+07,  3.64106276e+07,  1.11646772e+07,  9.41492441e+06,
        1.97956676e+08, -2.27425888e+07,  4.32172613e+08, -5.29428863e+07,
        9.85808283e+09, -3.82979058e+09,  1.40472500e+04, -1.40472500e+04,
        2.14420761e+09, -1.78866437e+09,  1.25769983e+11,  3.38805970e+09,
        6.53103059e+08,  3.07365411e+08,  1.03881449e+09,  2.07325787e+09,
       -1.42252328e+08, -1.87990003e+07,  5.45083838e+08,  2.62649313e+07,
        4.20719325e+07, -2.90819839e+06, -3.71540397e+07,  7.41430951e+06,
        1.25543441e+07,  2.40332072e+08, -3.67767717e+07,  3.21602209e+07,
        5.67588440e+07, -1.60937090e+05,  9.16059540e+08,  8.02111459e+06,
        8.37497905e+07,  8.03125235e+06,  1.01692779e+08,  3.74811956e+07,
       -6.71440930e+07,  1.06441495e+08,  2.55680908e+07,  1.38220962e+08,
       -9.37998369e+06,  2.43210916e+07,  8.35402185e+07, -1.22665725e+08,
       -1.71631988e+08,  8.51447046e+07,  4.14559863e+07, -6.16302821e+07,
        2.54878557e+09,  1.05638186e+08,  6.62809210e+05,  9.73782611e+06,
       -4.67348155e+06,  6.68684047e+07, -8.46118308e+06,  1.49953877e+06,
        6.00877834e+06, -8.29294488e+06,  8.97640407e+06,  8.13156993e+07,
       -4.95057125e+07,  2.13434363e+08, -8.34128785e+07, -7.91641679e+07,
        2.91194082e+07, -4.09183507e+07, -7.48425842e+07,  2.17421617e+09,
       -2.53826754e+08,  9.44497163e+07, -1.24454148e+06,  1.24454148e+06,
       -1.35912188e+07,  3.32251394e+08, -8.13482859e+06, -1.53180891e+07,
        1.50172708e+07,  4.38797298e+06, -1.31490405e+07, -6.81571006e+06,
       -4.23638271e+07,  6.98605472e+07,  1.33928096e+09,  5.72279620e+07,
        6.31874129e+08,  3.53185146e+08,  2.26283811e+08,  1.06238673e+08,
        1.24022554e+09,  5.91969199e+08,  1.19591647e+10,  1.63670906e+09,
       -3.02184877e+09,  2.80972662e+07, -1.08355310e+08,  1.67679350e+08,
        3.87437368e+07,  1.19549327e+07, -1.40312949e+07, -3.29762254e+07,
        1.26312043e+06,  6.47675057e+06, -3.64349071e+07,  8.89563816e+08,
        2.86019183e+06, -2.86019183e+06, -4.08342022e+07,  2.90664317e+08,
        1.69527562e+07,  7.87369676e+07,  6.00414224e+08,  1.06136598e+07,
       -4.45826470e+07,  5.65645956e+06, -1.46023301e+07, -3.37716484e+06,
       -3.53206618e+07, -3.65044457e+07, -4.11907744e+07,  1.14670914e+07,
       -8.39262500e+04, -1.83085006e+07, -2.18502659e+07,  4.31037079e+06,
       -1.13799855e+08,  1.99173430e+08,  8.39262500e+04,  4.03289170e+07,
       -4.31037079e+06,  8.81367366e+08,  1.66916044e+08, -1.74645397e+09,
        3.85091012e+08,  7.54496865e+09,  3.13425240e+08, -1.11029679e+06,
       -1.64297751e+08,  7.16947673e+08,  1.69026354e+08,  3.82481799e+08,
        2.58086449e+06,  3.59631475e+06,  2.45866900e+08,  2.63574757e+07,
       -1.56623677e+07, -1.90205597e+07,  1.49669336e+06,  3.57941811e+07,
        2.84411854e+06, -2.07075981e+07,  3.44529282e+07, -2.58086449e+06,
       -1.00000000e+01,  7.70593318e+06,  8.96759900e+04, -1.50337400e+05,
        3.10971600e+04,  7.25610763e+06, -5.90212600e+04,  4.63788140e+05,
        6.22301000e+04, -9.72365340e+05,  7.97945000e+03, -2.10529216e+06,
        8.44807030e+05, -8.40112090e+05, -1.54175030e+05,  1.88040000e+02,
       -7.37603989e+06, -4.73513790e+05, -6.47138950e+05,  5.60268770e+05,
       -3.37094300e+04,  5.39101300e+04, -2.75649428e+07,  1.46553500e+04,
        4.07960000e+02,  4.73484300e+04, -5.61517694e+07,  7.16594000e+03,
        2.20555400e+04, -2.11335140e+05,  4.63618900e+04,  7.71370000e+02,
       -8.69372539e+06, -6.13797964e+07,  4.50739492e+07, -7.86203493e+07,
        1.33194459e+07,  8.45733514e+08,  4.34985065e+07,  1.10876406e+07,
       -3.59479195e+07,  1.39522809e+07, -1.14076688e+08,  1.97283147e+07,
        1.47935459e+08, -3.23981836e+06,  4.37062610e+07,  7.81798399e+08,
       -6.93796610e+05, -2.48494723e+07,  2.52341140e+06,  1.97859427e+06,
       -4.21765142e+06, -3.38931350e+05, -5.79622124e+06,  2.53904341e+07,
        3.91181290e+06,  8.68477910e+05, -8.68477910e+05,  5.25624510e+05,
        5.61361363e+06, -7.14302820e+06,  2.78124126e+07,  2.12700110e+07,
       -2.42529940e+07,  3.27848291e+07, -1.24945405e+07,  1.79495107e+07,
       -2.01191635e+06, -3.36112512e+07,  4.95136895e+08,  4.92057923e+06,
        8.19136392e+06,  8.60009400e+08, -7.92774084e+08,  5.20711000e+03,
       -2.36368800e+04, -5.31631000e+03,  1.05325498e+08,  1.00682000e+03,
        8.57826200e+04, -1.01971200e+04,  3.49150000e+02, -1.71628000e+03,
       -3.17363303e+08,  9.73921180e+08,  1.26858050e+09,  1.10634574e+09,
       -1.43583713e+08, -9.43224000e+03,  6.98680000e+02,  2.49753241e+10,
       -1.68789000e+03, -9.23831096e+08, -6.01460420e+05,  1.09962930e+05,
        7.01447060e+05,  8.91661060e+05,  2.64622080e+05,  1.04797400e+04,
       -7.17102822e+08, -2.31099183e+08,  8.74464474e+07, -3.00445200e+07,
        1.69082516e+07, -1.58401675e+08,  1.17333778e+07, -8.92802028e+07,
       -2.83458556e+07, -3.96949180e+08,  1.50167678e+09,  5.86331968e+06,
        3.37335786e+06, -3.37335786e+06,  1.22565292e+08,  1.09955751e+09,
        1.29937212e+08,  1.67030305e+10, -6.02279319e+08,  2.68496201e+08,
        4.83091128e+08, -8.77457370e+08,  5.09175640e+08,  8.08273411e+08,
       -5.24472701e+08,  3.83125924e+07,  1.07439101e+09, -1.41504209e+09,
       -1.54941864e+08, -2.25059806e+07, -4.36846541e+07,  1.47543270e+07,
        5.00970468e+07, -7.29330592e+07,  4.84866631e+10, -3.62424912e+06,
        2.28149356e+09,  3.23334143e+07, -5.10005610e+08, -1.47077485e+09,
       -1.11084214e+08,  6.05654815e+08,  1.55061622e+09, -5.00425840e+08,
        2.28516039e+08,  8.86324463e+06,  1.56883648e+09,  8.55990000e+02,
        1.59089350e+05,  1.98100900e+05,  4.15068000e+04,  3.77186280e+05,
        2.92707000e+03,  4.50000000e+01, -4.50000000e+01,  5.90288300e+04,
        9.60790000e+02,  9.69060000e+02,  9.55820000e+02,  1.80962720e+05,
        1.00814000e+03,  9.34340000e+02,  9.38920000e+02,  1.04958000e+03,
        8.55460000e+02,  1.06990000e+03,  1.02416000e+03,  9.65780000e+02,
        8.87220000e+02,  5.73156000e+03,  4.92076000e+03,  6.77464490e+06,
        6.50878080e+07, -7.76404300e+04, -8.78502073e+06,  9.78711628e+06,
       -2.50844010e+05,  4.47716617e+07,  1.22039909e+06,  8.08700360e+05,
        2.93280512e+07,  1.72447582e+09,  6.45094872e+06, -7.64043289e+07,
        1.80000000e+03, -1.80000000e+03, -6.00000000e+00,  6.00000000e+00,
       -2.70000000e+02,  2.70000000e+02,  2.75400000e+03, -2.75400000e+03,
        1.00000000e+01, -9.00000000e+02,  9.00000000e+02,  5.07434478e+06])

Los 10 VALOR_REGISTRADO que MAS aparecen son:

                   count  Porcentaje_recuento
VALOR_REGISTRADO
0.00              173114                99.52
-10.00                 2                 0.00
-270.00                2                 0.00
270.00                 2                 0.00
-39589.00              1                 0.00
28694.92               1                 0.00
2058.91                1                 0.00
1060.66                1                 0.00
1101.45                1                 0.00
1033.10                1                 0.00

Los 10 VALOR_REGISTRADO que MENOS aparecen son:

                  count  Porcentaje_recuento
VALOR_REGISTRADO
-6.00                 1                 0.00
6.00                  1                 0.00
-5915.82              1                 0.00
-2440.98              1                 0.00
2754.00               1                 0.00
-2754.00              1                 0.00
10.00                 1                 0.00
-900.00               1                 0.00
900.00                1                 0.00
5074344.78            1                 0.00

 Las distribución de las repeticiones de los VALOR_REGISTRADO son:

        count  % repetición
count
1         824         99.52
2           3          0.36
173114      1          0.12

None
La categoría VALOR_REALIZADO tiene 121803 elementos diferentes:

Los elementos de la categoría son:

array([-1.6937200e+03,  2.6125000e+03, -2.5800000e+02, ...,
        7.3162899e+05,  2.9376394e+05,  5.2050025e+05])

Los 10 VALOR_REALIZADO que MAS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
0.00              2715                 1.56
100.00             609                 0.35
150.00             487                 0.28
200.00             486                 0.28
50.00              483                 0.28
10.00              470                 0.27
300.00             452                 0.26
20.00              450                 0.26
30.00              418                 0.24
60.00              368                 0.21

Los 10 VALOR_REALIZADO que MENOS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
113050.00            1                 0.00
9524.89              1                 0.00
192.14               1                 0.00
138320.00            1                 0.00
819993.37            1                 0.00
455765.29            1                 0.00
554100.14            1                 0.00
266101.02            1                 0.00
69086.64             1                 0.00
-258.00              1                 0.00

 Las distribución de las repeticiones de los VALOR_REALIZADO son:

        count  % repetición
count
1      110794         90.96
2        6288          5.16
3        1725          1.42
4         805          0.66
5         489          0.40
...       ...           ...
170         1          0.00
61          1          0.00
63          1          0.00
53          1          0.00
52          1          0.00

[135 rows x 2 columns]

None
La categoría PORCENTAJE_REALIZADO tiene 12 elementos diferentes:

Los elementos de la categoría son:

array([ 0.,  3.,  1.,  2.,  4.,  5., 16.,  7., 30.,  6., 10., 36.])

Los 10 PORCENTAJE_REALIZADO que MAS aparecen son:

                       count  Porcentaje_recuento
PORCENTAJE_REALIZADO
0.00                  173831                99.94
1.00                      65                 0.04
2.00                      21                 0.01
3.00                       9                 0.01
4.00                       8                 0.00
5.00                       2                 0.00
16.00                      2                 0.00
7.00                       2                 0.00
30.00                      1                 0.00
6.00                       1                 0.00

Los 10 PORCENTAJE_REALIZADO que MENOS aparecen son:

                      count  Porcentaje_recuento
PORCENTAJE_REALIZADO
2.00                     21                 0.01
3.00                      9                 0.01
4.00                      8                 0.00
5.00                      2                 0.00
16.00                     2                 0.00
7.00                      2                 0.00
30.00                     1                 0.00
6.00                      1                 0.00
10.00                     1                 0.00
36.00                     1                 0.00

 Las distribución de las repeticiones de los PORCENTAJE_REALIZADO son:

        count  % repetición
count
1           4         33.33
2           3         25.00
173831      1          8.33
21          1          8.33
65          1          8.33
8           1          8.33
9           1          8.33

None
La categoría FECHA_REGISTRO tiene 365 elementos diferentes:

Los elementos de la categoría son:

<DatetimeArray>
['2018-07-25 00:00:00', '2018-08-02 00:00:00', '2018-02-27 00:00:00',
 '2018-02-26 00:00:00', '2018-03-05 00:00:00', '2018-07-26 00:00:00',
 '2018-03-01 00:00:00', '2018-10-29 00:00:00', '2018-07-05 00:00:00',
 '2018-10-30 00:00:00',
 ...
 '2018-10-28 00:00:00', '2018-06-03 00:00:00', '2018-08-05 00:00:00',
 '2018-01-13 00:00:00', '2018-05-13 00:00:00', '2018-03-18 00:00:00',
 '2018-02-18 00:00:00', '2018-04-22 00:00:00', '2018-11-04 00:00:00',
 '2018-12-16 00:00:00']
Length: 366, dtype: datetime64[ns]

Los 10 FECHA_REGISTRO que MAS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2018-01-12       2032                 1.17
2018-01-31       1137                 0.65
2018-02-28       1102                 0.63
2018-11-30       1098                 0.63
2018-07-31       1075                 0.62
2018-04-30       1054                 0.61
2018-10-31       1020                 0.59
2018-08-31       1012                 0.58
2018-12-20        929                 0.53
2018-09-10        920                 0.53

Los 10 FECHA_REGISTRO que MENOS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2018-07-22          1                 0.00
2018-06-17          1                 0.00
2018-06-03          1                 0.00
2018-10-28          1                 0.00
2018-05-06          1                 0.00
2018-07-08          1                 0.00
2018-05-13          1                 0.00
2018-08-05          1                 0.00
2018-04-22          1                 0.00
2018-11-04          1                 0.00

 Las distribución de las repeticiones de los FECHA_REGISTRO son:

       count  % repetición
count
1         27          7.40
2         23          6.30
6          6          1.64
611        5          1.37
7          5          1.37
...      ...           ...
257        1          0.27
270        1          0.27
382        1          0.27
12         1          0.27
15         1          0.27

[197 rows x 2 columns]

None
La categoría AÑO_EJERCICIO tiene 1 elementos diferentes:

Los elementos de la categoría son:

array([2018])

Los 10 AÑO_EJERCICIO que MAS aparecen son:

                count  Porcentaje_recuento
AÑO_EJERCICIO
2018           173944               100.00

Los 10 AÑO_EJERCICIO que MENOS aparecen son:

                count  Porcentaje_recuento
AÑO_EJERCICIO
2018           173944               100.00

 Las distribución de las repeticiones de los AÑO_EJERCICIO son:

        count  % repetición
count
173944      1        100.00

None

## Año 2019

In [397]:
for columna in df_datos_2019.columns:
    print(se.analisis_individual_columnas(df_datos_2019, columna))

La categoría CÓDIGO_ÓRGANO_SUPERIOR tiene 20 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '22000', '55000', '24000', '52000', '25000', '26000',
       '39000', '30000', '81000', '36000', '41000', '57000', '35000',
       '32000', '53000', '51000', '44000', '54000', '20000'], dtype=object)

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MAS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
26000                   67104                37.95
25000                   37788                21.37
52000                   15750                 8.91
22000                    7361                 4.16
30000                    6529                 3.69
39000                    6066                 3.43
32000                    5516                 3.12
24000                    5413                 3.06
36000                    5157                 2.92
53000                    4962                 2.81

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MENOS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
44000                    4807                 2.72
54000                    4351                 2.46
41000                    4217                 2.38
20000                     589                 0.33
55000                     556                 0.31
35000                     421                 0.24
81000                     217                 0.12
63000                      20                 0.01
57000                       2                 0.00
51000                       2                 0.00

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO_SUPERIOR son:

       count  % repetición
count
2          2         10.00
37788      1          5.00
67104      1          5.00
15750      1          5.00
7361       1          5.00
6066       1          5.00
6529       1          5.00
5413       1          5.00
5157       1          5.00
4962       1          5.00
5516       1          5.00
4807       1          5.00
4351       1          5.00
589        1          5.00
4217       1          5.00
556        1          5.00
421        1          5.00
217        1          5.00
20         1          5.00

None
La categoría NOMBRE_ÓRGANO_SUPERIOR tiene 20 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União',
       'Ministério da Agricultura, Pecuária e Abastec',
       'Ministério da Cidadania',
       'Ministério da Ciência, Tecnologia, Inovações ',
       'Ministério da Defesa', 'Ministério da Economia',
       'Ministério da Educação', 'Ministério da Infraestrutura',
       'Ministério da Justiça e Segurança Pública',
       'Ministério da Mulher, Família e Direitos Huma',
       'Ministério da Saúde', 'Ministério das Comunicações',
       'Ministério das Mulheres, Igualdade Racial, da',
       'Ministério das Relações Exteriores',
       'Ministério de Minas e Energia',
       'Ministério do Desenvolvimento Regional', 'Ministério do Esporte',
       'Ministério do Meio Ambiente', 'Ministério do Turismo',
       'Presidência da República'], dtype=object)

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MAS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério da Educação                         67104                37.95
Ministério da Economia                         37788                21.37
Ministério da Defesa                           15750                 8.91
Ministério da Agricultura, Pecuária e Abastec   7361                 4.16
Ministério da Justiça e Segurança Pública       6529                 3.69
Ministério da Infraestrutura                    6066                 3.43
Ministério de Minas e Energia                   5516                 3.12
Ministério da Ciência, Tecnologia, Inovações    5413                 3.06
Ministério da Saúde                             5157                 2.92
Ministério do Desenvolvimento Regional          4962                 2.81

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MENOS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério do Meio Ambiente                     4807                 2.72
Ministério do Turismo                           4351                 2.46
Ministério das Comunicações                     4217                 2.38
Presidência da República                         589                 0.33
Ministério da Cidadania                          556                 0.31
Ministério das Relações Exteriores               421                 0.24
Ministério da Mulher, Família e Direitos Huma    217                 0.12
Advocacia-Geral da União                          20                 0.01
Ministério das Mulheres, Igualdade Racial, da      2                 0.00
Ministério do Esporte                              2                 0.00

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO_SUPERIOR son:

       count  % repetición
count
2          2         10.00
37788      1          5.00
67104      1          5.00
15750      1          5.00
7361       1          5.00
6066       1          5.00
6529       1          5.00
5413       1          5.00
5157       1          5.00
4962       1          5.00
5516       1          5.00
4807       1          5.00
4351       1          5.00
589        1          5.00
4217       1          5.00
556        1          5.00
421        1          5.00
217        1          5.00
20         1          5.00

None
La categoría CÓDIGO_ÓRGANO tiene 250 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '22201', '22202', '22211', '22000', '49001', '44208',
       '20129', '22905', '55001', '55000', '20301', '24901', '24000',
       '20501', '24209', '20502', '52904', '52132', '52000', '52911',
       '52133', '52131', '52111', '52221', '52121', '52211', '31280',
       '52233', '52222', '37904', '25000', '37202', '25201', '38901',
       '25207', '20924', '30203', '25203', '25205', '28500', '25211',
       '22500', '61201', '25905', '25904', '20603', '20202', '25915',
       '25901', '30204', '37201', '90000', '33206', '25914', '25208',
       '26443', '26242', '26234', '26241', '26243', '26294', '26263',
       '26424', '26298', '26236', '26238', '26412', '26410', '26277',
       '26245', '26246', '26426', '26244', '26268', '26406', '26411',
       '26276', '26350', '26271', '26421', '26233', '26447', '26284',
       '26442', '26413', '26408', '26441', '26260', '26420', '26352',
       '26250', '26270', '26402', '26255', '26273', '26247', '26416',
       '26254', '26232', '26431', '26448', '26283', '26249', '26434',
       '26239', '26433', '26419', '26404', '26405', '26439', '26278',
       '26450', '26258', '26248', '26279', '26436', '26440', '26201',
       '26257', '26262', '26237', '26403', '26292', '26407', '26264',
       '26275', '26261', '26230', '26267', '26415', '26291', '26274',
       '26428', '26269', '26285', '26266', '26231', '26435', '26418',
       '26240', '26438', '26423', '26251', '26449', '26252', '26256',
       '26351', '26272', '26409', '26282', '26417', '26281', '26432',
       '26290', '26429', '26235', '26427', '26422', '26280', '26000',
       '26437', '26253', '26430', '26414', '26286', '26425', '39252',
       '56901', '62201', '39250', '29209', '39816', '68201', '39253',
       '49901', '39000', '62901', '39812', '30108', '30907', '30912',
       '30911', '30211', '30905', '30202', '30205', '30000', '30802',
       '30914', '30913', '81000', '36211', '36000', '36213', '36201',
       '36210', '36212', '41231', '41232', '41903', '20415', '64901',
       '35201', '35000', '32396', '32205', '32314', '32263', '29208',
       '32210', '32000', '20302', '20303', '29214', '53901', '22203',
       '74918', '22204', '53203', '53902', '74919', '44205', '53903',
       '53202', '53000', '53207', '74917', '29205', '56902', '91214',
       '20701', '44207', '44206', '44204', '44000', '44902', '34902',
       '54901', '20404', '20203', '42207', '20411', '20604', '54000',
       '20412', '20403', '20101', '20116', '24208'], dtype=object)

Los 10 CÓDIGO_ÓRGANO que MAS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
25000          23514                13.30
52904           4538                 2.57
52132           4255                 2.41
34902           2720                 1.54
20701           2511                 1.42
22202           2279                 1.29
37904           2279                 1.29
32396           2046                 1.16
52911           1996                 1.13
24901           1960                 1.11

Los 10 CÓDIGO_ÓRGANO que MENOS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
24208             10                 0.01
39000             10                 0.01
32314              6                 0.00
39816              3                 0.00
91214              2                 0.00
52233              2                 0.00
44902              2                 0.00
64901              2                 0.00
90000              1                 0.00
81000              1                 0.00

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO son:

       count  % repetición
count
2          4          1.60
55         3          1.20
33         3          1.20
631        2          0.80
66         2          0.80
...      ...           ...
26         1          0.40
19         1          0.40
20         1          0.40
3          1          0.40
6          1          0.40

[227 rows x 2 columns]

None
La categoría NOMBRE_ÓRGANO tiene 249 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União - Unidades com vínculo direto',
       'Instituto Nacional de Colonização e Reforma Agrária',
       'Empresa Brasileira de Pesquisa Agropecuária',
       'Companhia Nacional de Abastecimento',
       'Ministério da Agricultura, Pecuária e Abastecimento - Unidades com vínculo direto',
       'Fundo de Terras e da Reforma Agrária',
       'Serviço Florestal Brasileiro',
       'Secretaria Especial de Agricultura Familiar e do Desenvolvimento Agrário',
       'Fundo de Defesa da Economia Cafeeira',
       'Fundo Nacional de Assistência Social',
       'Ministério da Cidadania - Unidades com vínculo direto',
       'Comissão Nacional de Energia Nuclear',
       'Fundo Nacional de Desenvolvimento Científico e Tecnológico',
       'Ministério da Ciência, Tecnologia, Inovações e Comunicações - Unidades com vínculo direto',
       'Conselho Nacional de Desenvolvimento Científico e Tecnológico',
       'Centro Nacional de Tecnologia Eletrônica Avançada S.A.',
       'Financiadora de Estudos e Projetos', 'Fundo do Exército',
       'Comando da Marinha - Fundo Naval',
       'Ministério da Defesa - Unidades com vínculo direto',
       'Fundo Aeronáutico',
       'Fundo de Desenvolvimento do Ensino Profissional Marítimo',
       'Comando da Marinha', 'Comando da Aeronáutica',
       'Indústria de Material Bélico do Brasil', 'Comando do Exército',
       'Caixa de Financiamento Imobiliário da Aeronáutica',
       'Caixa de Construções de Casas para o Pessoal da Marinha do Brasil',
       'Amazônia Azul Tecnologia de Defesa S.A.', 'Fundação Osório',
       'Fundo do Regime Geral da Previdência Social',
       'Ministério da Economia - Unidades com vínculo direto',
       'Instituto Nacional do Seguro Social',
       'Banco Central do Brasil - Orçamento Fiscal e Seguridade Social',
       'Fundo de Amparo ao Trabalhador',
       'Serviço Federal de Processamento de Dados',
       'Fundo Nacional de Desenvolvimento',
       'Instituto Nacional de Metrologia, Qualidade e Tecnologia',
       'Comissão de Valores Mobiliários',
       'Fundação Instituto Brasileiro de Geografia e Estatística',
       'Fundo de Garantia para a Promoção da Competitividade',
       'Casa da Moeda do Brasil',
       'Companhia de Entrepostos e Armazéns Gerais de São Paulo',
       'Instituto de Pesquisa Econômica Aplicada',
       'Fundo de Apoio ao Desenvolvimento Social',
       'Fundo de Estabilidade do Seguro Rural',
       'Superintendência da Zona Franca de Manaus',
       'Fundação Escola Nacional de Administração Pública',
       'Fundo Constitucional do Distrito Federal',
       'Fundo de Compensação de Variações Salariais',
       'Instituto Nacional da Propriedade Industrial',
       'Fundação Jorge Duprat Figueiredo, de Segurança e Medicina do Trabalho',
       'Reserva de Contingência',
       'Superintendência Nacional de Previdência Complementar',
       'Fundo de Garantia à Exportação',
       'Superintendência de Seguros Privados',
       'Empresa Brasileira de Serviços Hospitalares',
       'Universidade Federal de Pernambuco',
       'Universidade Federal do Espírito Santo',
       'Universidade Federal do Paraná',
       'Universidade Federal do Rio Grande do Norte',
       'Hospital de Clínicas de Porto Alegre',
       'Universidade Federal de Lavras', 'Instituto Federal do Tocantins',
       'Fundo Nacional de Desenvolvimento da Educação',
       'Universidade Federal Fluminense',
       'Universidade Federal de Minas Gerais',
       'Instituto Federal do Sul de Minas Gerais',
       'Instituto Federal do Norte de Minas Gerais',
       'Universidade Federal de Ouro Preto',
       'Universidade Federal do Rio de Janeiro',
       'Universidade Federal de Santa Catarina',
       'Instituto Federal do Amapá',
       'Universidade Federal do Rio Grande do Sul',
       'Fundação Universidade Federal de Rondônia',
       'Instituto Federal do Espírito Santo',
       'Instituto Federal do Sudeste de Minas Gerais',
       'Fundação Universidade Federal do Mato Grosso',
       'Fundação Universidade Federal da Grande Dourados',
       'Fundação Universidade de Brasília',
       'Instituto Federal de Rondônia', 'Universidade Federal do Ceará',
       'Universidade Federal do Oeste da Bahia',
       'Fundação Universidade Federal de Ciências da Saúde de Porto Alegre',
       'Universidade da Integração Internacional da Lusofonia Afro-Brasileira',
       'Instituto Federal do Triângulo Mineiro',
       'Instituto Federal do Maranhão',
       'Universidade Federal do Oeste do Pará',
       'Universidade Federal de Alfenas', 'Instituto Federal Farroupilha',
       'Fundação Universidade Federal do ABC',
       'Universidade Federal de Roraima',
       'Fundação Universidade do Amazonas',
       'Instituto Federal de Alagoas',
       'Universidade Federal dos Vales do Jequitinhonha e Mucuri',
       'Universidade Federal do Rio Grande',
       'Universidade Federal de Santa Maria', 'Instituto Federal do Pará',
       'Universidade Federal do Triângulo Mineiro',
       'Universidade Federal da Bahia', 'Instituto Federal do Piauí',
       'Universidade Federal do Sul e Sudeste do Pará',
       'Fundação Universidade Federal do Mato Grosso do Sul',
       'Universidade Federal Rural do Rio de Janeiro',
       'Instituto Federal Fluminense', 'Universidade Federal do Pará',
       'Instituto Federal do Rio de Janeiro',
       'Instituto Federal do Rio Grande do Sul',
       'Instituto Federal Baiano', 'Instituto Federal do Ceará',
       'Instituto Federal de São Paulo',
       'Fundação Universidade Federal de Pelotas',
       'Universidade Federal do Sul da Bahia',
       'Universidade Tecnológica Federal do Paraná',
       'Universidade Federal Rural de Pernambuco',
       'Fundação Universidade Federal do Piauí',
       'Instituto Federal Sul-rio-grandense',
       'Universidade Federal da Fronteira Sul', 'Colégio Pedro II',
       'Centro Federal de Educação Tecnológica de Minas Gerais',
       'Universidade Federal de São Paulo',
       'Universidade Federal de Juiz de Fora',
       'Instituto Federal do Amazonas', 'Fundação Joaquim Nabuco',
       'Instituto Federal Goiano',
       'Universidade Federal Rural do Semi-Árido',
       'Fundação Universidade Federal do Acre',
       'Universidade Federal de Itajubá',
       'Fundação Universidade Federal do Vale do São Francisco',
       'Universidade Federal da Integração Latino-Americana',
       'Instituto Federal do Mato Grosso do Sul',
       'Fundação Coordenação de Aperfeiçoamento de Pessoal de Nível Superior',
       'Fundação Universidade Federal de Uberlândia',
       'Instituto Federal de Brasília',
       'Universidade Federal do Estado do Rio de Janeiro',
       'Fundação Universidade Federal de São João Del-Rei',
       'Fundação Universidade Federal do Pampa',
       'Universidade Federal de Alagoas',
       'Instituto Federal do Rio Grande do Norte',
       'Instituto Federal de Pernambuco',
       'Universidade Federal da Paraíba',
       'Instituto Federal de Santa Catarina',
       'Instituto Federal de Sergipe',
       'Fundação Universidade Federal do Tocantins',
       'Universidade Federal do Cariri',
       'Universidade Federal de Campina Grande',
       'Centro Federal de Educação Tecnológica Celso Suckow da Fonseca',
       'Universidade Federal do Recôncavo da Bahia',
       'Fundação Universidade do Maranhão',
       'Instituto Federal de Minas Gerais',
       'Universidade Federal de Viçosa', 'Instituto Federal da Paraíba',
       'Fundação Universidade Federal de Sergipe',
       'Instituto Federal do Paraná',
       'Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira',
       'Instituto Federal de Educação, Ciência e Tecnologia de Goiás',
       'Universidade Federal de Goiás', 'Instituto Federal da Bahia',
       'Instituto Federal Catarinense',
       'Fundação Universidade Federal de São Carlos',
       'Ministério da Educação - Unidades com vínculo direto',
       'Instituto Federal de Roraima',
       'Universidade Federal Rural da Amazônia',
       'Instituto Federal do Sertão de Pernambuco',
       'Instituto Federal do Mato Grosso',
       'Fundação Universidade Federal do Amapá',
       'Instituto Federal do Acre',
       'Departamento Nacional de Infraestrutura de Transportes',
       'Fundo Nacional de Segurança e Educação de Trânsito',
       'Agência Nacional de Aviação Civil',
       'Agência Nacional de Transportes Terrestres',
       'VALEC Engenharia, Construções e Ferrovias S.A.',
       'Companhia Docas do Estado de São Paulo',
       'Agência Nacional de Transportes Aquaviários',
       'Empresa de Planejamento e Logística S.A.',
       'Departamento do Fundo da Marinha Mercante',
       'Ministério da Infraestrutura - Unidades com vínculo direto',
       'Fundo Nacional de Aviação Civil',
       'Companhia Docas do Estado da Bahia',
       'Departamento de Polícia Federal', 'Fundo Penitenciário Nacional',
       'Fundo Nacional Antidrogas', 'Fundo Nacional de Segurança Pública',
       'Conselho Administrativo de Defesa Econômica',
       'Secretaria Nacional do Consumidor Fundo',
       'Fundação Nacional do Índio',
       'Fundação Nacional do Índio - Patrimônio Indígena',
       'Ministério da Justiça e Segurança Pública - Unidades com vínculo direto',
       'Departamento de Polícia Rodoviária Federal',
       'Fundo Nacional do Idoso',
       'Fundo Nacional para a Criança e o Adolescente',
       'Ministério da Mulher, Família e Direitos Humanos - Unidades com vínculo direto',
       'Fundação Nacional de Saúde',
       'Ministério da Saúde - Unidades com vínculo direto',
       'Agência Nacional de Saúde Suplementar', 'Fundação Oswaldo Cruz',
       'Hospital Nossa Senhora da Conceição S.A.',
       'Agência Nacional de Vigilância Sanitária',
       'Agêncial Nacional de Telecomunicações',
       'Fundo de Universalização dos Serviços de Telecomunicações',
       'Fundo para o Desenvolvimento Tecnológico das Telecomunicações',
       'Empresa Brasil de Comunicação', 'Fundação Alexandre de Gusmão',
       'Ministério das Relações Exteriores - Unidades com vínculo direto',
       'Agência Nacional de Mineração',
       'Agência Nacional do Petróleo, Gás Natural e Biocombustíveis',
       'Empresa de Pesquisa Energética',
       'Departamento Nacional de Produção Mineral',
       'Companhia de Pesquisa de Recursos Minerais',
       'Agência Nacional de Energia Elétrica',
       'Ministério de Minas e Energia - Unidades com vínculo direto',
       'Nuclebrás Equipamentos Pesados S.A.',
       'Indústrias Nucleares do Brasil',
       'Companhia Brasileira de Trens Urbanos',
       'Fundo Constitucional de Financiamento do Norte',
       'Companhia de Desenvolvimento dos Vales do São Francisco e do Parnaíba',
       'Fundo de Desenvolvimento do Nordeste',
       'Departamento Nacional de Obras Contra as Secas',
       'Superintendência do Desenvolvimento do Nordeste',
       'Fundo Constitucional de Financiamento do Centro-Oeste',
       'Fundo de Desenvolvimento do Centro-Oeste',
       'Agência Nacional de Águas',
       'Fundo Constitucional de Financiamento do Nordeste',
       'Superintendência do Desenvolvimento da Amazônia',
       'Ministério do Desenvolvimento Regional - Unidades com vínculo direto',
       'Superintendência de Desenvolvimento do Centro-Oeste',
       'Fundo de Desenvolvimento da Amazônia',
       'Empresa de Trens Urbanos de Porto Alegre',
       'Fundo Nacional de Habitação de Interesse Social',
       'Autoridade Pública Olímpica',
       'Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renováveis',
       'Instituto Chico Mendes de Conservação da Biodiversidade',
       'Instituto de Pesquisas Jardim Botânico do Rio de Janeiro',
       'Fundo Nacional do Meio Ambiente',
       'Ministério do Meio Ambiente - Unidades com vínculo direto',
       'Fundo Nacional sobre Mudança no Clima',
       'Fundo Nacional de Cultura', 'Fundo Geral de Turismo',
       'Fundação Biblioteca Nacional', 'Agência Nacional do Cinema',
       'Instituto Brasileiro de Museus',
       'Instituto do Patrimônio Histórico e Artístico Nacional',
       'Instituto Brasileiro de Turismo',
       'Ministério do Turismo - Unidades com vínculo direto',
       'Fundação Nacional de Artes', 'Fundação Casa de Rui Barbosa',
       'Presidência da República', 'Fundo de Imprensa Nacional',
       'Instituto Nacional de Tecnologia da Informação'], dtype=object)

Los 10 NOMBRE_ÓRGANO que MAS aparecen son:

                                                    count  Porcentaje_recuento
NOMBRE_ÓRGANO
Ministério da Economia - Unidades com vínculo d...  23514                13.30
Fundo do Exército                                    4538                 2.57
Comando da Marinha - Fundo Naval                     4255                 2.41
Fundo Nacional de Cultura                            2720                 1.54
Instituto Brasileiro do Meio Ambiente e dos Rec...   2511                 1.42
Fundo do Regime Geral da Previdência Social          2279                 1.29
Empresa Brasileira de Pesquisa Agropecuária          2279                 1.29
Agência Nacional de Mineração                        2046                 1.16
Fundo Aeronáutico                                    1996                 1.13
Fundo Nacional de Desenvolvimento Científico e ...   1960                 1.11

Los 10 NOMBRE_ÓRGANO que MENOS aparecen son:

                                                    count  Porcentaje_recuento
NOMBRE_ÓRGANO
Fundação Casa de Rui Barbosa                           19                 0.01
Ministério da Infraestrutura - Unidades com vín...     10                 0.01
Instituto Nacional de Tecnologia da Informação         10                 0.01
Empresa de Pesquisa Energética                          6                 0.00
Companhia Docas do Estado de São Paulo                  3                 0.00
Amazônia Azul Tecnologia de Defesa S.A.                 2                 0.00
Fundo Nacional sobre Mudança no Clima                   2                 0.00
Autoridade Pública Olímpica                             2                 0.00
Reserva de Contingência                                 1                 0.00
Ministério da Mulher, Família e Direitos Humano...      1                 0.00

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO son:

       count  % repetición
count
33         3          1.20
55         3          1.20
2          3          1.20
631        2          0.80
66         2          0.80
...      ...           ...
26         1          0.40
19         1          0.40
20         1          0.40
3          1          0.40
6          1          0.40

[227 rows x 2 columns]

None
La categoría CÓDIGO_UNIDAD_GESTORA tiene 272 elementos diferentes:

Los elementos de la categoría son:

array(['110060', '373001', '135037', '135100', '130101', '130150',
       '130214', '440088', '110745', '110690', '130137', '490003',
       '330013', '550002', '113209', '240901', '240102', '364001',
       '364999', '245209', '365001', '167999', '673001', '110407',
       '167086', '121002', '873001', '211999', '120002', '168002',
       '773001', '160075', '120999', '123001', '773008', '699999',
       '773009', '164204', '513001', '170013', '170010', '510001',
       '173057', '380910', '806001', '201924', '183023', '173030',
       '114601', '287001', '179083', '400042', '201002', '225001',
       '280102', '113601', '170380', '170008', '179103', '193028',
       '114702', '170392', '170381', '183038', '264001', '390001',
       '333001', '170356', '173039', '155007', '153080', '153046',
       '153079', '153103', '155001', '153032', '158131', '153173',
       '153056', '153062', '158137', '158121', '154046', '153115',
       '153163', '158150', '153114', '154055', '158151', '158123',
       '154045', '154502', '154040', '158148', '153045', '158717',
       '154032', '158565', '158099', '158128', '158515', '153028',
       '158127', '154503', '154080', '154039', '158147', '153036',
       '154042', '153164', '158135', '153035', '153038', '158146',
       '158718', '154054', '153166', '158139', '153063', '158157',
       '158141', '158129', '158133', '158154', '154047', '158720',
       '153019', '153165', '154048', '158126', '158517', '153167',
       '153015', '153031', '153061', '158142', '344002', '158124',
       '153033', '154044', '153030', '154421', '158658', '158132',
       '154003', '154043', '158143', '154034', '154069', '154359',
       '153037', '158155', '158136', '153065', '158516', '158274',
       '158134', '154419', '158719', '158195', '153010', '158092',
       '154041', '158122', '154051', '158138', '154050', '158009',
       '153978', '158153', '153052', '158145', '158125', '154049',
       '150014', '158152', '153034', '158149', '158144', '154215',
       '158156', '393003', '200320', '113214', '393001', '275075',
       '396006', '682010', '395001', '277001', '390002', '110591',
       '396002', '200336', '200333', '200246', '200331', '303001',
       '200401', '194088', '194040', '200094', '200109', '307002',
       '307001', '810002', '255014', '250088', '253003', '255011',
       '254420', '255000', '366003', '255003', '253002', '255008',
       '255015', '413001', '413047', '410007', '115406', '110244',
       '244001', '240005', '323100', '323030', '325001', '323002',
       '495001', '323028', '320002', '113208', '113206', '275068',
       '537002', '195006', '533009', '113802', '533014', '537003',
       '537004', '443003', '537001', '533013', '530002', '533018',
       '533008', '275060', '560015', '913001', '193034', '443032',
       '443019', '443045', '193125', '440002', '447001', '193105',
       '193122', '340002', '187002', '344042', '203003', '423001',
       '403101', '185001', '540001', '403201', '344001', '110005',
       '110245', '243001'], dtype=object)

Los 10 CÓDIGO_UNIDAD_GESTORA que MAS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
170013                 22389                12.66
167086                  4448                 2.52
673001                  3475                 1.97
340002                  2720                 1.54
193034                  2505                 1.42
513001                  2279                 1.29
135037                  2279                 1.29
323100                  2046                 1.16
121002                  1996                 1.13
240901                  1960                 1.11

Los 10 CÓDIGO_UNIDAD_GESTORA que MENOS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
193105                     2                 0.00
193122                     2                 0.00
193125                     2                 0.00
447001                     2                 0.00
913001                     2                 0.00
773009                     2                 0.00
110244                     2                 0.00
390001                     1                 0.00
158274                     1                 0.00
810002                     1                 0.00

 Las distribución de las repeticiones de los CÓDIGO_UNIDAD_GESTORA son:

       count  % repetición
count
3          7          2.57
2          7          2.57
33         3          1.10
55         3          1.10
1          3          1.10
...      ...           ...
29         1          0.37
36         1          0.37
13         1          0.37
8          1          0.37
6          1          0.37

[236 rows x 2 columns]

None
La categoría NOMBRE_UNIDAD_GESTORA tiene 269 elementos diferentes:

Los elementos de la categoría son:

array(['COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU',
       'DPTO. DE ADMINISTRACAO FINANCEIRA-DAF - INCRA',
       'EMBRAPA-SETORIAL', 'COMPANHIA NACIONAL DE ABASTECIMENTO',
       'COORD.-GERAL DE ORCAMENTO E FINANCAS-MAPA',
       'COORDENACAO-GERAL DO FUNDO DE TERRAS',
       'SETORIAL PROG.ORCAMENTARIA E FINANCEIRA-SFB',
       'SECRETARIA ESPECIAL DE AQUICULTURA E PESCA/PR',
       'SEC.ESPEC.DE AGRIC.FAMIL.E DO DESENV.AGRARIO',
       'FUNDO DE DEFESA DA ECON.CAFEEIRA/FUNCAFE/SPA',
       'CREDITO FUNDIARIO', 'FUNDO NACIONAL DE ASSISTENCIA SOCIAL',
       'SETORIAL DE ORCAMENTO E FINANCAS/MC', 'CNEN-ORCAMENTO E FINANCAS',
       'FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS',
       'CNPQ - ADMINISTRACAO CENTRAL', 'CNPQ - DIFERENCIA CAMBIAL',
       'CENTRO NACIONAL DE TECNOLOGIA ELETRONICA AVAN',
       'FINANCIADORA DE ESTUDOS E PROJETOS',
       'FDO EXERCITO - DIFERENCA CAMBIAL',
       'DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM',
       'DEPARTAMENTO DE PLANEJ, ORC E FINANCAS (MD)', 'FUNDO DO EXERCITO',
       'SECRETARIA DE ECON. E FIN.DA AER.- F.AER.',
       'MARINHA - DIFERENCA CAMBIAL',
       'DIRETORIA DE ECON E FINANCAS DA AERONAUTICA',
       'INDUSTRIA DE MATERIAL BELICO DO BRASIL/GESTOR',
       'DIRETORIA DE FINANCAS DA MARINHA-SISTEMA-PAIS',
       'D CONT - SETORIAL FINANCEIRA', 'MAER - DIFERENCA CAMBIAL',
       'CAIXA FINANCIAMENTO IMOBILIARIO AERONAUTICA',
       'DIRETORIA DE FINANCAS DA MARINHA - CCCPM',
       'FUNDO NAVAL - DIFERENCA CAMBIAL',
       'DIRETORIA DE FINANCAS DA MARINHA - AMAZUL', 'FUNDACAO OSORIO',
       'COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS',
       'SETORIAL ORCAMENTARIA E FINANCEIRA / ME',
       'SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB',
       'COORD.GERAL DE ORCAMENTO, FINANCAS E CONTAB.',
       'BANCO CENTRAL DO BRASIL',
       'COORD-GERAL DE ORCAMENTO, FIN. E CONT.- CGOFC',
       'SERPRO-SEDE - DEPARTAMENTO FINANCEIRO',
       'FUNDO NACIONAL DE DESENVOLVIMENTO',
       'INSTITUTO NAC.DE METROLOG. QUALID. E TECNOLOG',
       'COMISSAO DE VALORES MOBILIARIOS',
       'FUNDACAO IBGE-ADMINISTRACAO CENTRAL/RJ',
       'FUNDO DE GAR.P/PROMOC.DA COMPETITIVIDADE±FGPC',
       'CASA DA MOEDA DO BRASIL',
       'COORD-GERAL DE ORC., FIN. E CONT.-CGOFC (MTP)',
       'COORDENACAO-GERAL DE ORC. E FINANCAS/MP',
       'CIA.DE ENTREPOSTOS E ARMAZENS GER.DE S.PAULO',
       'COORDENACAO-GERAL DE ORCAM.FINAN.CONTAB/MDIC',
       'INSTITUTO DE PESQUISA ECONOMICA APLICADA',
       'FUNDO DE APOIO AO DESENVOLVIMENTO SOCIAL',
       'PROCURADORIA GERAL DA FAZENDA NACIONAL',
       'FUNDO DE ESTABILIDADE DO SEGURO RURAL',
       'SUPERINTENDENCIA DA ZONA FRANCA DE MANAUS/AM',
       'FUNDACAO ESCOLA NACIONAL DE ADM. PUBLICA',
       'FUNDO CONSTITUCIONAL DO DISTRITO FEDERAL',
       'FUNDO DE COMPENSACAO E VARIACAO SALARIAL',
       'INSTITUTO NACIONAL DA PROPRIEDADE INDUSTRIAL',
       'FUNDACENTRO - FUND.JORGE DUPRAT/CTN/SEDE - SP',
       'RESERVA DE CONTINGENCIA/MEFP',
       'COORD.GERAL DE ORC. FIN. E CONTABILIDADE',
       'FUNDO DE GARANTIA A EXPORTACAO-BNDES',
       'SUPERINTENDENCIA DE SEGUROS PRIVADOS - RJ',
       'EMPRESA BRASILEIRA DE SERVICOS HOSPITALARES',
       'UNIVERSIDADE FEDERAL DE PERNAMBUCO',
       'UNIVERSIDADE FEDERAL DO ESPIRITO SANTO',
       'UNIVERSIDADE FEDERAL DO PARANA',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO NORTE',
       'HOSPITAL DE CLINICAS DE PORTO ALEGRE',
       'UNIVERSIDADE FEDERAL DE LAVRAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TOCANTINS',
       'FUNDO NACIONAL DE DESENVOLVIMENTO DA EDUCACAO',
       'UNIVERSIDADE FEDERAL FLUMINENSE',
       'UNIVERSIDADE FEDERAL DE MINAS GERAIS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO SUL DE MG',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO NORTE DE MG',
       'UNIVERSIDADE FEDERAL DE OURO PRETO',
       'UNIVERSIDADE FEDERAL DO RIO DE JANEIRO',
       'UNIVERSIDADE FEDERAL DE SANTA CATARINA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAPA',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO SUL',
       'FUNDACAO UNIVERSIDADE FEDERAL DE RONDONIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ESP.SANTO',
       'INSTITUTO FED CIENCIA TECNOL SUDESTE MG',
       'FUNDACAO UNIVERSIDADE FEDERAL DE MATO GROSSO',
       'FUNDACAO UNIVERSIDADE FED. DA GRANDE DOURADOS',
       'FUNDACAO UNIVERSIDADE DE BRASILIA - FUB',
       'INST. FED. DE EDUC.,CIENC. E TEC. DE RONDONIA',
       'UNIVERSIDADE FEDERAL DO CEARA',
       'UNIVERSIDADE FEDERAL DO OESTE DA BAHIA',
       'FUND.UNIV.FED.DE.CIENC.DA SAUDE DE P.ALEGRE',
       'UNIV.DA INTEG.INTERN.DA LUSOF.AFRO-BRASILEIRA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TRIA.MINEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MARANHAO',
       'UNIVERSIDADE FEDERAL DO OESTE DO PARA',
       'UNIVERSIDADE FEDERAL DE ALFENAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.FARROUPILHA',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ABC',
       'UNIVERSIDADE FEDERAL DE RORAIMA',
       'FUNDACAO UNIVERSIDADE DO AMAZONAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE ALAGOAS',
       'UNIVERSIDADE FED.VALES JEQUITINHONHA E MUCURI',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE - FURG',
       'UNIVERSIDADE FEDERAL DE SANTA MARIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PARA',
       'UNIVERSIDADE FEDERAL DO TRIANGULO MINEIRO',
       'UNIVERSIDADE FEDERAL DA BAHIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PIAUI',
       'UNIVERSIDADE FEDERAL DO SUL E SUDESTE DO PARA',
       'FUNDACAO UNIVERS.FED. DE MATO GROSSO DO SUL',
       'UNIVERSIDADE FEDERAL RURAL DO RIO DE JANEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.FLUMINENSE',
       'UNIVERSIDADE FEDERAL DO PARA', 'REITORIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RS',
       'INST FED DE EDUC CIENC E TECNOLOGIA BAIANO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO CEARA',
       'INSTITUTO FEDERAL DE SAO PAULO',
       'FUNDACAO UNIVERSIDADE FEDERAL DE PELOTAS',
       'UNIVERSIDADE FEDERAL DO SUL DA BAHIA',
       'UNIVERSIDADE TECNOLOGICA FEDERAL DO PARANA',
       'UNIVERSIDADE FEDERAL RURAL DE PERNAMBUCO',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PIAUI',
       'INST.FED.DE EDUC.,CIE.E TEC.SUL-RIO-GRANDENSE',
       'UNIVERSIDADE FEDERAL DA FRONTEIRA SUL', 'COLEGIO PEDRO II',
       'CENTRO FEDERAL DE EDUCACAO TECNOLOGICA DE MG',
       'UNIFESP-UNIVERSIDADE FEDERAL DE SAO PAULO',
       'UNIVERSIDADE FEDERAL DE JUIZ DE FORA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAZONAS',
       'FUNDACAO JOAQUIM NABUCO', 'IF GOIANO',
       'UNIVERSIDADE FEDERAL RURAL DO SEMI-ARIDO - RN',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ACRE',
       'UNIVERSIDADE FEDERAL DE ITAJUBA',
       'FUND. UNIVERSIDADE FEDERAL VALE SAO FRANCISCO',
       'UNIV. FEDERAL DA INTEGRACAO LATINO-AMERICANA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MAT.G.DO SUL',
       'FUND.COORD.DE APERF.DE PESSOAL NIVEL SUPERIOR',
       'FUNDACAO UNIVERSIDADE FEDERAL DE UBERLANDIA',
       'IFB - REITORIA - BRASILIA-DF',
       'UNIRIO UNIVERSIDADE FEDERAL DO ESTADO RJ',
       'FUNDACAO UNIVERSIDADE FEDERAL DE S.J.DEL-REI',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PAMPA',
       'UNIVERSIDADE FEDERAL DE ALAGOAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RN',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE PERNAMBUCO',
       'UNIVERSIDADE FEDERAL DA PARAIBA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE STA.CAT/IFSC',
       'INST.FED. FLUMINENSE/CAMPUS CAMPOS-CENTRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE SERGIPE',
       'FUNDACAO UNIVERSIDADE FEDERAL DO TOCANTINS',
       'UNIVERSIDADE FEDERAL DO CARIRI',
       'UNIVERSIDADE FEDERAL DE CAMPINA GRANDE',
       'CENTRO FED.DE EDUC.TECNOL.CELSO S.DA FONSECA',
       'UNIVERSIDADE FEDERAL DO RECONCAVO DA BAHIA',
       'FUNDACAO UNIVERSIDADE DO MARANHAO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE MINAS GERAIS',
       'UNIVERSIDADE FEDERAL DE VICOSA', 'IFPB - REITORIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SERGIPE',
       'INST. FED. DO PARANA/ REITORIA',
       'INST.NACIONAL DE EST.E PESQUISAS EDUCACIONAIS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE GOIAS',
       'UNIVERSIDADE FEDERAL DE GOIAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DA BAHIA',
       'INSTITUTO FEDERAL CATARINENSE - REITORIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SAO CARLOS',
       'SUBSECRETARIA DE PLANEJ. E ORCAMENTO SPO(MEC)',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE RORAIMA',
       'UNIVERSIDADE FEDERAL RURAL DA AMAZONIA',
       'INST.FED.DE ED.,CIENC.E TEC.DO S.PERNAMBUCANO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MATO GROSSO',
       'FUNDACAO UNIVERSIDADE FEDERAL DO AMAPA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ACRE',
       'DEPART.NAC.INFRA ESTRUTURA TRANSPORTES.',
       'FUNDO NACIONAL DE SEG. E EDUCACAO DE TRANSITO',
       'AGENCIA NACIONAL DE AVIACAO CIVIL',
       'AGENCIA NACIONAL DE TRANSPORTES TERRESTRES',
       'VALEC ENGENHARIA CONSTRUCOES E FERROVIAS S/A.',
       'COMPANHIA DOCAS DO ESTADO DE SAO PAULO',
       'AGENCIA NACIONAL DE TRANSPORTES AQUAVIARIOS',
       'EMPRESA DE PLANEJAMENTO E LOGISTICA S.A - EPL',
       'FUNDO DA MARINHA MERCANTE',
       'SUBSECRETARIA DE PLAN.,ORCAM.E ADMIN.SETORIAL',
       'FUNDO NACIONAL DE AVIACAO CIVIL',
       'COMPANHIA DOCAS DO ESTADO DA BAHIA',
       'COORDENACAO DE ORCAMENTO FINANCAS CONTABILIDA',
       'DEPEN - DIRETORIA EXECUTIVA', 'FUNDO NACIONAL ANTIDROGAS',
       'FUNDO NACIONAL DE SEGURANCA PUBLICA - FNSP',
       'CONSELHO ADMINISTRATIVO DE DEFESA ECONOMICA',
       'FUNDO DE DEFESA DOS DIREITOS DIFUSOS',
       'FUNDACAO NACIONAL DO INDIO - U.O.',
       'RENDA DO PATRIMONIO INDIGENA',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MJ',
       'DEPTO.DE POLICIA RODOVIARIA FEDERAL', 'FUNDO NACIONAL DO IDOSO',
       'FUNDO NACIONAL PARA A CRIANCA E O ADOLESCENTE',
       'SETORIAL ORCAMENTARIA E FINANCEIRA - MDH',
       'FUNDACAO NACIONAL DE SAUDE - PA',
       'SPO-COORD.-GERAL DE ORC.E FINANCAS/MS',
       'AGENCIA NACIONAL DE SAUDE SUPLEMENTAR',
       'FUNDACAO NACIONAL DE SAUDE - MT', 'FUNDACAO OSWALDO CRUZ',
       'FUNDACAO NACIONAL DE SAUDE - DF',
       'HOSPITAL NOSSA SENHORA DA CONCEICAO S/A',
       'FUNDACAO NACIONAL DE SAUDE - AP',
       'AGENCIA NACIONAL DE VIGILANCIA SANITARIA',
       'FUNDACAO NACIONAL DE SAUDE - ES',
       'FUNDACAO NACIONAL DE SAUDE - PB',
       'AGENCIA NACIONAL DE TELECOMUNICACOES-SEDE',
       'FUNDO DE UNIVERS.DOS SERV.TELECOMUNICACOES',
       'FUNDO P/O DESENV.TECNOL.DAS TELECOMUNICACOES',
       'EMPRESA BRASIL DE COMUNICACAO S.A',
       'FUNDACAO ALEXANDRE DE GUSMAO',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MRE',
       'SETORIAL ORCAMENTARIA E FINANCEIRA - ANM',
       'AG. NAC.DO PETROLEO GAS NAT.E BIOCOM',
       'EMPRESA DE PESQUISA ENERGETICA',
       'DEPARTAMENTO NAC. DE PRODUCAO MINERAL - SEDE',
       'COMPANHIA DE PESQUISA DE RECURSOS MINERAIS',
       'AGENCIA NACIONAL DE ENERGIA ELETRICA',
       'COORD.GERAL DE ORCAM.E FIN./M.M.E',
       'NUCLEBRAS EQUIPAMENTOS PESADOS S/A-NUCLEP',
       'INDUSTRIAS NUCLEARES DO BRASIL S/A - INB',
       'CIA BRASILEIRA DE TRENS URBANOS-ADM.CENTRAL',
       'FUNDO CONSTITUCIONAL FINANCIAMENTO NORTE',
       'CIA DE DES.DOS VALES DO S.FRANC.E DO PARNAIBA',
       'FUNDO DE DESENVOLVIMENTO DO NORDESTE',
       'DEPARTAMENTO NAC. DE OBRAS CONTRA AS SECAS/UO',
       'SUPERINTENDENCIA DO DESENVOLV. DO NORDESTE',
       'FUNDO CONSTITUCIONL DO CENTRO OESTE',
       'FUNDO DE DESENVOLVIMENTO DO CENTRO-OESTE',
       'COORDENACAO DE ORCAMENTO E FINANCAS.',
       'FUNDO CONSTITUCIONAL DE FINANCIAM.DO NORDESTE',
       'SUPERINTEND. DO DESENVOLVIMENTO DA AMAZONIA',
       'ORCAMENTO E FINANCAS/MDR',
       'SUPERINT. DO DESENVOLVIMENTO DO CENTRO-OESTE',
       'FUNDO DE DESENVOLVIMENTO DA AMAZONIA',
       'EMPRESA DE TRENS URBANOS DE PORTO ALEGRE S/A',
       'FUNDO NACIONAL DE HABIT. DE INTERESSE SOCIAL',
       'AUTORIDADE PUBLICA OLIMPICA',
       'IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ',
       'INST.CHICO MENDES DE CONSER.DA BIODIVERSIDADE',
       'COORD. DE PLAN. ORCAMENTO E FIN./COPLAN/JBRJ',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMA',
       'IBAMA - SUPERINTENDENCIA DE SANTA CATARINA/SC',
       'SUBSECRET.PLANEJAM.ORCAM.E ADMINIST±SPOA(MMA)',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMC',
       'IBAMA - SUPERINTENDENCIA DO ACRE/AC',
       'IBAMA - SUPERINTENDENCIA DE RORAIMA/RR',
       'COORD.GERAL DE PLAN. ORC. FIN. E CONTAB/FNC',
       'FUNDO GERAL DE TURISMO-FUNGETUR', 'FUNDACAO BIBLIOTECA NACIONAL',
       'AGENCIA NACIONAL DO CINEMA',
       'INSTITUTO BRASILEIRO DE MUSEUS - IBRAM',
       'INSTITUTO DO PATRIMONIO HIST. E ART. NACIONAL',
       'INSTITUTO BRASILEIRO DE TURISMO - EM EXTINCAO',
       'CGOFC - SETORIAL/MTUR', 'FUNDACAO NACIONAL DE ARTES',
       'FUNDACAO CASA DE RUI BARBOSA',
       'SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR',
       'FUNDO DE IMPRENSA NACIONAL/EXEC.ORC.FINANC.',
       'INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI'], dtype=object)

Los 10 NOMBRE_UNIDAD_GESTORA que MAS aparecen son:

                                              count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
SETORIAL ORCAMENTARIA E FINANCEIRA / ME       22389                12.66
FUNDO DO EXERCITO                              4448                 2.52
DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM   4261                 2.41
COORD.GERAL DE PLAN. ORC. FIN. E CONTAB/FNC    2720                 1.54
IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ   2505                 1.42
COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS   2279                 1.29
EMBRAPA-SETORIAL                               2279                 1.29
SETORIAL ORCAMENTARIA E FINANCEIRA - ANM       2046                 1.16
SECRETARIA DE ECON. E FIN.DA AER.- F.AER.      1996                 1.13
FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO      1960                 1.11

Los 10 NOMBRE_UNIDAD_GESTORA que MENOS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
FUNDACAO NACIONAL DE SAUDE - PB                    3                 0.00
IBAMA - SUPERINTENDENCIA DE SANTA CATARINA/SC      2                 0.00
DIRETORIA DE FINANCAS DA MARINHA - AMAZUL          2                 0.00
IBAMA - SUPERINTENDENCIA DO ACRE/AC                2                 0.00
IBAMA - SUPERINTENDENCIA DE RORAIMA/RR             2                 0.00
SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMC         2                 0.00
AUTORIDADE PUBLICA OLIMPICA                        2                 0.00
SETORIAL ORCAMENTARIA E FINANCEIRA - MDH           1                 0.00
RESERVA DE CONTINGENCIA/MEFP                       1                 0.00
INST.FED. FLUMINENSE/CAMPUS CAMPOS-CENTRO          1                 0.00

 Las distribución de las repeticiones de los NOMBRE_UNIDAD_GESTORA son:

       count  % repetición
count
3          7          2.60
2          6          2.23
55         3          1.12
33         3          1.12
1          3          1.12
...      ...           ...
29         1          0.37
7          1          0.37
8          1          0.37
13         1          0.37
6          1          0.37

[235 rows x 2 columns]

None
La categoría CATEGORÍA_ECONÓMICA tiene 5 elementos diferentes:

Los elementos de la categoría son:

array(['Receitas Correntes', 'Receitas de Capital',
       'Receitas Correntes - intra-orçamentárias', 'Sem informação',
       'Receitas de Capital - intra-orçamentárias'], dtype=object)

Los 10 CATEGORÍA_ECONÓMICA que MAS aparecen son:

                                            count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                         169210                95.69
Receitas de Capital                          4809                 2.72
Receitas Correntes - intra-orçamentárias     2770                 1.57
Receitas de Capital - intra-orçamentárias      21                 0.01
Sem informação                                 18                 0.01

Los 10 CATEGORÍA_ECONÓMICA que MENOS aparecen son:

                                            count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                         169210                95.69
Receitas de Capital                          4809                 2.72
Receitas Correntes - intra-orçamentárias     2770                 1.57
Receitas de Capital - intra-orçamentárias      21                 0.01
Sem informação                                 18                 0.01

 Las distribución de las repeticiones de los CATEGORÍA_ECONÓMICA son:

        count  % repetición
count
169210      1         20.00
4809        1         20.00
2770        1         20.00
21          1         20.00
18          1         20.00

None
La categoría ORIGEN_INGRESO tiene 15 elementos diferentes:

Los elementos de la categoría son:

array(['Receita de Serviços', 'Transferências Correntes',
       'Alienação de Bens', 'Contribuições', 'Outras Receitas Correntes',
       'Amortizações de Empréstimos', 'Receita Patrimonial',
       'Receitas Correntes - a classificar', 'Operações de Crédito',
       'Receita Industrial',
       'Impostos, Taxas e Contribuições de Melhoria',
       'Receita Agropecuária', 'Transferências de Capital',
       'Outras Receitas de Capital', 'Sem informação'], dtype=object)

Los 10 ORIGEN_INGRESO que MAS aparecen son:

                                             count  Porcentaje_recuento
ORIGEN_INGRESO
Receita de Serviços                          59957                33.91
Outras Receitas Correntes                    47884                27.08
Receita Patrimonial                          29632                16.76
Impostos, Taxas e Contribuições de Melhoria  14216                 8.04
Contribuições                                13256                 7.50
Receita Industrial                            3489                 1.97
Receita Agropecuária                          2540                 1.44
Alienação de Bens                             2046                 1.16
Amortizações de Empréstimos                   1809                 1.02
Transferências Correntes                       839                 0.47

Los 10 ORIGEN_INGRESO que MENOS aparecen son:

                                    count  Porcentaje_recuento
ORIGEN_INGRESO
Receita Industrial                   3489                 1.97
Receita Agropecuária                 2540                 1.44
Alienação de Bens                    2046                 1.16
Amortizações de Empréstimos          1809                 1.02
Transferências Correntes              839                 0.47
Operações de Crédito                  757                 0.43
Outras Receitas de Capital            181                 0.10
Receitas Correntes - a classificar    167                 0.09
Transferências de Capital              37                 0.02
Sem informação                         18                 0.01

 Las distribución de las repeticiones de los ORIGEN_INGRESO son:

       count  % repetición
count
59957      1          6.67
47884      1          6.67
29632      1          6.67
14216      1          6.67
13256      1          6.67
3489       1          6.67
2540       1          6.67
2046       1          6.67
1809       1          6.67
839        1          6.67
757        1          6.67
181        1          6.67
167        1          6.67
37         1          6.67
18         1          6.67

None
La categoría TIPO_INGRESO tiene 46 elementos diferentes:

Los elementos de la categoría son:

array(['Serviços Administrativos e Comerciais Gerais',
       'Transferências dos Estados e do Distrito Fede',
       'Alienação de bens móveis', 'Contribuições sociais',
       'Transferências de Instituições Privadas',
       'Demais receitas correntes',
       'Indenizações, restituições e ressarcimentos',
       'Amortizações de Empréstimos', 'Valores Mobiliários',
       'Serviços e Atividades Financeiras',
       'Exploração de recursos naturais', 'Contribuições econômicas',
       'Receitas Correntes - a classificar',
       'Transferências da União e de suas Entidades',
       'Exploração do patrimônio imobiliário do Estad',
       'Operações de crédito - mercado externo', 'Receita Industrial',
       'Taxas', 'Receita Agropecuária', 'Alienação de bens imóveis',
       'Multas administrativas, contratuais e judicia',
       'Operações de crédito - mercado interno',
       'Indenizações e restituições', 'Outros serviços',
       'Bens, Direitos e Valores Incorporados ao Patr',
       'Transferências Provenientes de Depósito Não I',
       'Demais receitas patrimoniais',
       'Delegação de Serviços Públicos Mediante Conce',
       'Receita de concessões e permissões',
       'Serviços e Atividades Referentes à Saúde',
       'Serviços e Atividades Referentes à Navegação ',
       'Cessão de direitos',
       'Transferências dos Municípios e de suas Entid',
       'Transferências de Pessoas Físicas',
       'Exploração do patrimônio intangível', 'Impostos',
       'Resultado do Banco Central do Brasil',
       'Remuneração das Disponibilidades do Tesouro',
       'Contribuições para Entidades Privadas de Serv',
       'Transferências do Exterior',
       'Transferências de Outras Instituições Pública', 'Sem informação',
       'Demais receitas de capital', 'Receitas de valores mobiliários',
       'Transferências de Convênios', 'Alienação de bens intangíveis'],
      dtype=object)

Los 10 TIPO_INGRESO que MAS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Serviços Administrativos e Comerciais Gerais   52747                29.83
Indenizações, restituições e ressarcimentos    19304                10.92
Multas administrativas, contratuais e judicia  18228                10.31
Exploração do patrimônio imobiliário do Estad  17393                 9.84
Taxas                                          11411                 6.45
Demais receitas correntes                       8883                 5.02
Contribuições sociais                           6839                 3.87
Contribuições econômicas                        6401                 3.62
Valores Mobiliários                             5483                 3.10
Exploração de recursos naturais                 3918                 2.22

Los 10 TIPO_INGRESO que MENOS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Sem informação                                    18                 0.01
Exploração do patrimônio intangível               17                 0.01
Contribuições para Entidades Privadas de Serv     16                 0.01
Alienação de bens intangíveis                      6                 0.00
Resultado do Banco Central do Brasil               3                 0.00
Transferências do Exterior                         2                 0.00
Transferências de Convênios                        2                 0.00
Transferências de Outras Instituições Pública      1                 0.00
Receitas de valores mobiliários                    1                 0.00
Demais receitas de capital                         1                 0.00

 Las distribución de las repeticiones de los TIPO_INGRESO son:

       count  % repetición
count
1          3          6.52
2          2          4.35
52747      1          2.17
17393      1          2.17
11411      1          2.17
8883       1          2.17
6839       1          2.17
6401       1          2.17
5483       1          2.17
19304      1          2.17
18228      1          2.17
3489       1          2.17
3918       1          2.17
2805       1          2.17
2712       1          2.17
1809       1          2.17
1635       1          2.17
2540       1          2.17
2349       1          2.17
1368       1          2.17
1346       1          2.17
666        1          2.17
410        1          2.17
347        1          2.17
274        1          2.17
1495       1          2.17
1374       1          2.17
235        1          2.17
241        1          2.17
178        1          2.17
177        1          2.17
114        1          2.17
113        1          2.17
167        1          2.17
123        1          2.17
58         1          2.17
76         1          2.17
53         1          2.17
18         1          2.17
16         1          2.17
17         1          2.17
3          1          2.17
6          1          2.17

None
La categoría DETALLE tiene 636 elementos diferentes:

Los elementos de la categoría son:

array(['INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL',
       'TRANSF.DOS ESTADOS,DF E SUAS ENTIDADES-PRINC.',
       'ALIENACAO DE BENS MOVEIS E SEMOVENTES-PRINC.',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-DIVIDA ATIVA',
       'TRANSFERENCIAS DE INSTITUICOES PRIVADAS-PRINC',
       'OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL',
       'RESTIT.DE DESPESAS EXERC.ANTERIORES-MUL.JUR.',
       'AMORTIZACAO DE EMPRESTIMOS CONTRATUAIS-PRINC.',
       'REMUNERACAO DE DEPOSITOS BANCARIOS-PRINCIPAL',
       'OUTRAS RECEITAS-FINANCEIRAS-DIVIDA ATIVA',
       'RETORNO DE OP.,JUR.E ENC.FINANCEIROS-PRINC.',
       'AMORTIZACAO DE FINANCIAMENTOS-PRINCIPAL',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-PARCEL.-MUL.JUR',
       'CONCESSAO FLORESTAS NACIONAIS-DEM.VAL.-PRINC.',
       'SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.',
       'SERVICOS DE INFORMACAO E TECNOLOGIA-PRINCIPAL',
       'CONCESSAO FLORESTAS NACIONAIS-VAL.MIN.-PRINC.',
       'RESTITUICAO DE CONVENIOS-PRIMARIAS-PRINCIPAL',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-PRINCIPAL',
       'CONT.S/APOSTAS EM COMPETICOES HIPICAS-MUL.JUR',
       'Receitas Correntes - a classificar',
       'TRANSFER.DA UNIAO E DE SUAS ENTIDADES-PRINC.',
       'ALUGUEIS E ARRENDAMENTOS-PRINCIPAL',
       'CONCESSAO FLOREST.NACIONAIS-VAL.MIN.-MUL.JUR.',
       'CONCESSAO FLOREST.NACIONAIS-DEM.VAL.-MUL.JUR.',
       'CUSTOS EDITAL DE CONCESSAO FLORESTAL-PRINC.',
       'OP.DE CREDITO CONTRATUAIS-MERC.EXTERNO-PRINC.',
       'ALIENACAO DE TITULOS MOBILIARIOS-PRINCIPAL',
       'RECEITA INDUSTRIAL-PRINCIPAL',
       'OUTRAS RECEITAS-PRIMÁRIAS-PRINCIPAL-INTRA',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-PARCEL.-PRINC.',
       'RESTIT.DE DESPESAS DE EXERC.ANTERIORES-PRINC.',
       'TX.CONTR.E FISC.PESCA E AQUICULTURA-PRINC.',
       'SERV.ADMIN.E COMERCIAIS GERAIS-PRINC.-INTRA',
       'CONTR.S/APOSTAS EM COMPETIÇÕES HÍPICAS-PRINC.',
       'RECEITA AGROPECUÁRIA-MULTAS E JUROS',
       'ALIENAÇÃO DE BENS IMÓVEIS-JUROS',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS-PRINC.',
       'ADICIONAL À CONTR.PREVIDENCIÁRIA RURAL-PRINC.',
       'SERV.DE REGIST.,CERTIF.E FISCALIZ.-MUL.JUR.',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-MULTAS E JUROS',
       'OUTRAS RESTITUICOES-MULTAS E JUROS',
       'CONT.S/APOSTAS EM COMPETICOES HIPICAS-DIV.AT.',
       'INDENIZ.P/DANOS CAUSADOS AO PATR.PUB.-PRINC.',
       'ALIENAÇÃO DE BENS IMÓVEIS-PRINCIPAL',
       'SERV.ADMINISTRAT.E COMERCIAIS GERAIS-MUL.JUR.',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-PRINC.',
       'OUTRAS RESTITUICOES-PRINCIPAL',
       'TITULOS DA DIVIDA AGRARIA-TDA-PRINCIPAL',
       'SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL',
       'AMORTIZACAO EMPRESTIMOS CONTRATUAIS-MUL.JUR.',
       'ALIENACAO DE ESTOQUES DA PGPM-PRINCIPAL',
       'ALUGUEIS E ARRENDAMENTOS-MULTAS E JUROS',
       'INDENIZACAO POR SINISTRO-PRINCIPAL',
       'OUTROS RESSARCIMENTOS-MULTAS E JUROS',
       'INDENIZ.P/DANOS CAUSADOS AO PATR.PUB.-MUL.JUR',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS-MUL.JUR',
       'ALIENACAO DE BENS MOVEIS E SEMOVENTES-MUL.JUR',
       'TRANSFERÊNCIAS DE INSTITUIÇÕES PRIVADAS-PRINC',
       'DIVIDENDOS-PRINCIPAL',
       'TAXAS INSPEÇÃO,CONTROLE E FISCALIZAÇÃO-PRINC.',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-DIV.AT-MUL.JUR.',
       'OUTROS RESSARCIMENTOS-PRINCIPAL',
       'ALIENACAO DE ESTOQUES DE CAFE-FUNCAFE-PRINC.',
       'ALIENACAO DE ESTOQUES DE CAFE-FUNCAFE-DIV.AT.',
       'OUTRAS RECEITAS-PRIMARIAS-DIV.ATIVA-MUL.JUR.',
       'RECEITA AGROPECUÁRIA-PRINCIPAL',
       'CONTR.S/APOSTAS COMPET.HIPICAS-DIV.AT-MUL.JUR',
       'RECEITA INDUSTRIAL-MULTAS E JUROS',
       'ALIENACAO DE BENS IMOVEIS-MULTAS',
       'ALUGUÉIS E ARRENDAMENTOS-PRINCIPAL-INTRA',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-MUL.JUR',
       'OUTRAS RECEITAS-PRIMARIAS-MULTAS E JUROS',
       'TAXAS INSPEÇÃO,CONTROLE E FISCALIZ.-MUL.JUR.',
       'OUTRAS RESTITUIÇÕES-PRINCIPAL-INTRA', 'OUTROS SERVICOS-PRINCIPAL',
       'REMUN.SALDOS RECURSOS NAO-DESEMBOLSADOS-PRINC',
       'RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-MUL.JUR.',
       'REMUN.SALDOS RECUR.NAO-DESEMBOLSADOS-MUL.JUR.',
       'ALIEN.DE BENS E MERCADORIAS APREENDIDOS-PRINC',
       'TITULOS DE RESPONS.TES.NAC.-MERC.INT.-PRINC.',
       'ALIEN.BENS E MERCADORIAS APREENDIDOS-MUL.JUR.',
       'TRANSF.PROVENIENTES DEP.NAO IDENTIFIC.-PRINC.',
       'PART.UNIÃO EM REC.LOT.PROGN.NUMÉRICOS-PRINC.',
       'CONTRIBUIÇÃO SOBRE LOTERIAS ESPORTIVAS-PRINC.',
       'CONTRIB.S/LOTERIAS PROGNÓST.NUMÉRICOS-PRINC.',
       'CONTRIB.S/LOTERIA PROGNÓST.ESPECÍFICO-PRINC.',
       'CONC/PERM/AUT/CESSAO DIR.USO IMOV.PUB-PRINC.',
       'PART.UNIÃO EM REC.LOT.PROGN.ESPECÍFICO-PRINC.',
       'DEMAIS CONTRIBUIÇÕES SOCIAIS-PRINCIPAL',
       'PART.UNIÃO EM RECEITA DE LOT.ESPORTIVA-PRINC.',
       'RECEITA INDUSTRIAL-PRINCIPAL-INTRA',
       'COTA-PARTE DO AFRMM-PRINCIPAL',
       'OUTRAS DELEG.DOS SERVICOS DE TELECOM-PRINC.',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-DIV.AT.',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELEC.-MUL.JUR',
       'COMPENS.FINANC.EXPL.RECURSOS MINERAIS-PRINC.',
       'CONTR.S/REC.CONCESS.PERM.ENERG.ELÉTR.-PRINC.',
       'CIDE-REMESSAS AO EXTERIOR-DIVIDA ATIVA',
       'SERV.DE INFORMAÇÃO E TECNOLOGIA-PRINC.-INTRA',
       'CESSAO DIREITO USO DE RADIOFREQUENCIA-PRINC.',
       'CONTR.S/REC.CONCESS.PERM.ENERG.ELETR.-MUL.JUR',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELECOM-PRINC.',
       'CIDE-REMESSAS AO EXTERIOR-MULTAS E JUROS',
       'CIDE-REMESSAS AO EXTERIOR-DIV.AT.-MUL.JUR.',
       'ROY.EXC.PETRO.PLAT-COM.ANT.3/12/12-DEM.-PRINC',
       'COMPENS.FINANC.EXPL.RECURSOS MINERAIS-DIV.AT.',
       'UTILIZACAO DE RECURSOS HIDRICOS-ITAIPU-PRINC.',
       'SERVICOS DE INFORMACAO E TECNOLOGIA-MUL.JUR.',
       'COMPENS.FINAN.EXPL.RECURSOS MINERAIS-MUL.JUR.',
       'CONTR.S/FATUR.EMPR.INFO.INST.AMAZONIA-PRINC.',
       'COTA-PARTE DO AFRMM-DIVIDA ATIVA',
       'COTA-PARTE DO AFRMM-DIVIDA ATIVA-MUL.JUR.',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-MUL.JUR.',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-PRINC.',
       'CONTR.S/FATUR.EMPR.INFO.INST.DEM.REG.-PRINC.',
       'CESSAO DIREITO USO DE RADIOFREQUENCIA-MUL.JUR',
       'CONTR.S/FATUR.EMPR.INFO.INST.AMAZONIA-MUL.JUR',
       'SERV.REGIST.,CERTIF.E FISCALIZ.-PRINC.-INTRA',
       'CESSÃO DIR.USO RADIOFREQUÊNCIA-PRINC.-INTRA',
       'CIDE-REMESSAS AO EXTERIOR-PRINCIPAL',
       'OUTRAS INDENIZACOES-MULTAS E JUROS',
       'SERV.ASSIST.MEDICO-HOSP.DO MILITAR-PRINCIPAL',
       'CONTR.P/DESENV.ENSINO PROF.MARÍTIMO-PRINCIPAL',
       'CONTR.P/DES.ENS.PROF.MARITIMO-DIV.AT-MUL.JUR.',
       'CONTR.DESENV.ENSINO PROF.MARIT-PARCEL-MUL.JUR',
       'CONTR.DESENV.ENSINO PROF.MARIT.-PARCEL-PRINC.',
       'CONTR.P/DESENV.ENSINO PROF.MARITIMO-MUL.JUR.',
       'CONTR.P/DESENV.ENSINO PROF.MARITIMO-DIV.ATIVA',
       'CONTR.P/CUST.PENS.MIL.FORÇAS ARMADAS-MUL/JUR.',
       'TAXAS PELA PRESTAÇÃO DE SERVIÇOS-MULT.E JUROS',
       'SERVICOS DE ATENDIMENTO A SAUDE-PRINCIPAL',
       'SERV.ASSIST.SAUDE SUPLEM.SERV.CIVIL-PRINC.',
       'TARIFA AEROPORTUARIA-PRINCIPAL', 'OUTRAS INDENIZACOES-PRINCIPAL',
       'SERVICOS DE NAVEGACAO-MULTAS E JUROS',
       'TAXAS PELA PRESTAÇÃO DE SERVIÇOS-PRINCIPAL',
       'CESSAO DO DIR.OPERACIONALIZACAO PAGTOS-PRINC.',
       'OUTROS SERVICOS-MULTAS E JUROS',
       'EMOLUMENTOS E CUSTAS JUDICIAIS-PRINCIPAL',
       'ROY.PETRO.PLAT-COM.ANTES 3/12/12-DEMAIS-PRINC',
       'TRANSF.DOS MUNICIPIOS E SUAS ENTIDADES-PRINC.',
       'SERVIÇOS DE ATENDIMENTO À SAÚDE-PRINC.-INTRA',
       'OUTRAS INDENIZAÇÕES-PRINCIPAL-INTRA',
       'CONTR.P/CUST.PENS.MILIT.FORÇAS ARMADAS-PRINC.',
       'SERVICOS PORTUARIOS-PRINCIPAL', 'SERVICOS DE NAVEGACAO-PRINCIPAL',
       'SERV.ASSIST.MEDICO-HOSP.DO MILITAR-MUL.JUR.',
       'TX.INSPEÇÃO,CONTROLE E FISCALIZ.-PRINC.-INTRA',
       'TRANSFERENCIAS DE PESSOAS FISICAS-PRINCIPAL',
       'SERVICOS DE TRANSPORTE-PRINCIPAL',
       'ROYAL.COMERC.PROD.RESULT.CRIAÇÃO PROTEG-PRINC',
       'CONT.PREV.EMPREGADOR-Ñ SIM.NAC-DÍV.AT-MUL.JUR',
       'RESSARCIMENTO DE CUSTOS-MULTAS E JUROS',
       'CONT.MOV.TRANSM.VAL.CR.DIR.FIN-DÍV.AT-MUL.JUR',
       'IRRF-REMESSA AO EXTERIOR-PRINCIPAL',
       'ITR-MUNICÍPIOS NÃO CONVENIADOS-DÍVIDA ATIVA',
       'CONTRIBUICAO AO MONTEPIO CIVIL-PRINCIPAL',
       'COFINS SOBRE O FATURAMENTO-JUROS DÍV.ATIVA',
       'CONTRIBUIÇÕES P/O RGPS-MULTAS E JUROS',
       'RESTIT.DEC.APLIC.IRREG.REC.ELEITORAIS-PRINC.',
       'TIT.RESP.TN-REFIN.DIV.PUB.FED.MERC.EXT.-PRINC',
       'RESULTADO DO BACEN-DEMAIS OPERACOES-PRINCIPAL',
       'OUTRAS CONTRIBUICOES ECONOMICAS-MULTAS/JUROS',
       'MLT.LEI.GER.TELECOM-NÃO.P.ORBITAIS/MLT+JRS',
       'PREMIOS PRESCRITOS CONC.PROGNOSTICOS-MUL.JUR.',
       'CONTRIB.PIS/PASEP-Ñ OPTANTES SIMP.NAC-DÍV.AT.',
       'CONTRIB.DO SERVIDOR INATIVO P/RPPS-MUL.JUR.',
       'MULTAS PREV.LEGISLAÇÃO ANTIDROGAS-DÍV.ATIVA',
       'FOROS,LAUDEMIOS,TARIFAS DE OCUPACAO-DIV.ATIVA',
       'CSLL-PARCELAMENTOS-DÍVIDA ATIVA-MULTAS',
       'CPSSS PATRONAL-SERVIDOR CIVIL-DÍV.ATIVA-INTRA',
       'IRPF-DÍVIDA ATIVA',
       'COFINS S/FATURAMENTO-PARCEL.-DÍV.AT.-MUL.JUR.',
       'IRPJ-LÍQUIDA DE INCENTIVOS-DÍVIDA ATIVA',
       'CONTRIB.SOCIAL SOBRE LUCRO LÍQ.-CSLL-MUL.JUR.',
       'COFINS SOBRE O FATURAMENTO-SIMPLES-JUROS',
       'CONTR.S/REC.OP.BRT DECOR.SERV.TELECOM-PRINC.',
       'CONTR.MOV.TRANSM.VAL.CRÉD.DIR.NAT.FIN.-DÍV.AT',
       'CSLL-JUROS-DÍVIDA ATIVA',
       'CONTRIB.PIS/PASEP-Ñ OPTANTES SIMP.NAC-PRINC.',
       'CPSSS PATRONAL-SERVIDOR CIVIL-PRINC.-INTRA',
       'RESSARCIMENTO DE CUSTOS-PRINCIPAL-INTRA',
       'CONTRIBUIÇÃO PIS/PASEP-PARCELAMENTOS-DÍV.AT.',
       'ITR-MUNICÍPIOS NÃO-CONVENIADOS-MULTAS DÍV.AT.', 'IPI-BEBIDAS',
       'IRPJ-LÍQUIDA DE INCENTIVOS-MULTAS E JUROS',
       'TX.FISC.INST-TFI-NÃO.POSI.ORBITAIS/DA.PRC',
       'CONTRIB.PIS/PASEP-Ñ OPTANTES SIMP.NAC-MULTAS',
       'REMUNERACAO DE DEPOSITOS ESPECIAIS-PRINCIPAL',
       'CONDECINE-DIVIDA ATIVA',
       'CIDE-COMBUSTÍVEIS-COMERCIALIZAÇÃO-PRINCIPAL',
       'ROY.PETRO.PLAT-COM.ANTES 3/12/12-P.SAL-PRINC.',
       'TX.FISC.INST-TFI-NÃO.POSI.ORBITAIS/DA.MLT+JRS',
       'CIDE-COMBUST.-COMERCIALIZACAO-JUROS DÍV.ATIVA',
       'OUTRAS RECEITAS ADMINISTRADAS RFB-DIV.AT.',
       'CONTRIB.PIS/PASEP-Ñ OPTANTES SIMP.NAC-JUROS',
       'ALIENAÇÃO DE BENS IMÓVEIS-MULTAS E JUROS',
       'IMPOSTO SOBRE A IMPORTAÇÃO-MULTAS E JUROS',
       'CPSSS PATRONAL-SERVIDOR CIVIL-MUL.JUR.-INTRA',
       'CONTRIBUIÇÃO PARA O PIS/PASEP-MULTAS E JUROS',
       'CONTRIB.PREVIDENCIÁRIA DO SEGURADO-MUL.JUR.',
       'COFINS SOBRE O FATURAMENTO-PARCELAM.-PRINC.',
       'CONTRIBUIÇÕES P/O RGPS-PRINCIPAL',
       'CONTRIBUIÇÃO PIS/PASEP-PARCELAMENTOS-PRINC.',
       'CONTRIB.PIS/PASEP FATURAMENTO-SIMPLES-JUROS',
       'COFINS SOBRE O FATURAMENTO-MULTAS DÍV.ATIVA',
       'IOF-DEMAIS OPERAÇÕES-MULTAS E JUROS',
       'CPSSS-SERV.CIVIL PENSIONISTA-SENT.JUD-PRINC.',
       'PRESTACAO DE CONTAS ELEITORAIS-PRINCIPAL',
       'COTA-PARTE DO AFRMM-MULTAS E JUROS',
       'MULTAS PREVISTAS LEG.ESPECÍFICA-PRINC.-INTRA',
       'IMPOSTO SOBRE A IMPORTAÇÃO-DÍVIDA ATIVA', 'IPI-FUMO-PRINCIPAL',
       'CSLL-PARCELAMENTOS-JUROS',
       'COFINS S/FATURAMENTO-PARCEL.-JUROS DÍV.ATIVA',
       'IRRF-TRABALHO-DÍVIDA ATIVA',
       'CONTRIBUIÇÕES P/O RGPS-PARCELAMENTOS-MUL.JUR.',
       'RESSARCIMENTO AO RGPS-MULTAS E JUROS',
       'IRRF-CAPITAL-MULTAS E JUROS',
       'CONTRIBUICAO PARA O ENSINO AEROVIARIO-MUL.JUR',
       'COFINS SOBRE O FATURAMENTO-PARCELAM.-MULTAS',
       'CONTR.PIS/PASEP-PARCELAMENTOS-MULTAS DÍV.AT.',
       'RESTIT.DEP.DE SENTENÇAS JUD.Ñ SACADOS-MUL.JUR',
       'CSLL-PARCELAMENTOS-MULTAS',
       'COFINS SOBRE O FATURAMENTO-SIMPLES-MUL.JUR.',
       'CSLL-CONTRIBUINTES OPT.SIMPLES NAC-DÍV.AT-MUL',
       'CONTRIB.PREVIDENCIÁRIA DO SEGURADO-DÍV.ATIVA',
       'CONT.PREVIDENCIÁRIA SEGURADO-DÍV.AT-MUL.JUR',
       'AMORT.EMPREST.-PROG.OP.OFICIAIS CRED.-PRINC.',
       'DELEG.SERV.TELEC.-POD.CONC.NO REG.PUB.-PRINC.',
       'CONT.MOV.TRANSM.VAL.CRED.DIR.FIN-PARC-DÍV.AT.',
       'INSCR.EM CONCURSOS E PROC.SELETIVOS-MUL.JUR.',
       'CSLL-CONTRIBUINTES OPT.SIMPLES NAC.-PRINC',
       'COFINS SOBRE O FATURAMENTO-PARCELAM.-DÍV.AT.',
       'RESTITUICAO DE RECURSOS DE FOMENTO-PRINCIPAL',
       'CONTRIB.SOCIAL SOBRE LUCRO LÍQ.-CSLL-DÍV.AT.',
       'OUTROS IMPOSTOS-DÍVIDA ATIVA',
       'CONTR.REL.DESPED.EMPREG.S/JUSTA CAUSA-PRINC.',
       'CONTRIBUIÇÕES PARA O RGPS-MULTA E JUROS', 'IOF-OURO-PRINCIPAL',
       'IMPOSTO SOBRE A EXPORTAÇÃO-MULTAS E JUROS',
       'COFINS S/FATURAMENTO-PARCEL.-MULTAS DÍV.ATIVA',
       'COMPENS.FIN.ENTRE RGPS E RPPS-DIV.AT-MUL.JUR.',
       'IRRF-REMESSA AO EXTERIOR-PRINCIPAL-INTRA',
       'CPSSS-SERVIDOR CIVIL ATIVO-PRINCIPAL',
       'IOF-DEMAIS OPERAÇÕES-PRINCIPAL',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-DIV.AT.',
       'PRESTACAO DE CONTAS ELEITORAIS-MULTAS E JUROS',
       'MULTAS PREV.LEI GERAL TELECOM.-PRINC.-INTRA',
       'IPI-VINCULADOS À IMPORTAÇÃO-MULTAS E JUROS',
       'ROYALT.PROD.PETRO.EM TERRA-CONCESSAO-PRINC.',
       'CSLL-CONTRIBUINTES OPT.SIMPLES NAC.-MULTAS',
       'DEMAIS RECEITAS PATRIMONIAIS-PRINCIPAL',
       'IRRF-TRABALHO-JUROS DA DÍVIDA ATIVA',
       'COFINS SOBRE O FATURAMENTO-JUROS',
       'CPSSS-SERVIDOR CIVIL ATIVO-DÍVIDA ATIVA',
       'IRPF-MULTAS DA DÍVIDA ATIVA',
       'RESTIT.PARCELAS SEG.DESEMPR.REC.INDEV.-PRINC.',
       'CIDE COMBUSTIVEIS-COMERCIALIZACAO-MUL.JUR.',
       'CONTRIBUIÇÃO PIS/PASEP-PARCELAMENTOS-MUL.JUR.',
       'DEP.ABANDONADOS(DINHEIRO/OBJ.DE VALOR)-PRINC.',
       'CONTR.S/REC.OP.BRT DECOR.SERV.TELECOM-DIV.AT.',
       'CONTR.MOV.TRANSM.VAL.CRÉD.DIR.NAT.FIN.-PRINC.',
       'IMPOSTO SOBRE A IMPORTAÇÃO-JUROS DÍVIDA ATIVA',
       'MLT.LEI.GER.TELECOM-NÃO.P.ORBITAIS/DA.PRC',
       'RESTIT.DE BENEFICIOS PREVIDENCIARIOS-PRINC.',
       'CONTR.P/FUNDOS ASSIST.MÉD-BOMB.MILIT.-PRINC.',
       'RETORNO DE OP.,JUR.E ENC.FINANCEIROS-MUL.JUR.',
       'IRRF-REMESSA AO EXTERIOR-MULTAS E JUROS', 'COFINS-DÍVIDA ATIVA',
       'IPI-OUTROS PRODUTOS-PRINCIPAL',
       'CONTRIBUIÇÕES PARA O RGPS-DÍVIDA ATIVA',
       'IRPJ-LÍQUIDA DE INCENTIVOS-MULTAS DÍV.ATIVA',
       'IRRF-TRABALHO-MULTAS E JUROS-INTRA',
       'MULTAS PREV.LEG.SEG.DESEMP.AB.SALAR.-MUL.JUR.',
       'REMUNER.DISPONIBILIDADES TES.NACIONAL-PRINC.',
       'CPSSS-SERVIDOR CIVIL ATIVO-SENT.JUD.-PRINC.',
       'ITR-MUNICÍPIOS NÃO-CONVENIADOS-JUROS DÍV.AT.', 'CSLL-PRINCIPAL',
       'CESS.DIR.USO.RADFRQ-NÃO.P.ORBITAIS/PRC',
       'TX.INSP,CONTROL.E FISCALIZ.-DÍV.AT.-MUL.JUR.',
       'CONT.P/ENT.PRIV.SERV.SOC.E FORM.PROFIS.-PRINC',
       'MUL.P/DESCUMP.OBRIG.PREVID.ACESSORIA-MUL.JUR.',
       'CIDE-COMBUSTIVEIS-IMPORTACAO-MULTAS E JUROS',
       'CONTRIBUIÇÃO PARA O ENSINO AEROVIÁRIO-PRINC.',
       'CONT.PIS/PASEP-OPT.SIMP.NAC-JUROS DÍV.ATIVA',
       'CONTRIBUIÇÃO PARA O PIS/PASEP-MULTA E JUROS',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELECOM-DIV.AT',
       'COFINS-MULTA E JUROS',
       'CONTR.PREV.EMPREGADOR-Ñ OPT.SIMP.NAC.-DÍV.AT.',
       'CPSSS-SERVIDOR CIVIL INATIVO-PRINCIPAL',
       'CONT.PREVID.EMPREGADOR-OPT.SIMP.NAC.-DÍV.AT.',
       'RESTIT.BENEFÍCIOS NÃO DESEMBOLSADOS-MUL.JUR.',
       'CONTRIB.PREVIDENCIÁRIA DO SEGURADO-PRINC.',
       'RESSARCIMENTO DE CUSTOS-PRINCIPAL',
       'CONTRIBUIÇÃO PIS/PASEP-PARCELAMENTOS-MULTAS',
       'MLT.LEI.GER.TELECOM-NÃO.P.ORBITAIS/PRC',
       'OUTRAS RECEITAS ADMINISTRADAS RFB-MUL.JUR.',
       'OUTRAS RECEITAS ADMINISTR.RFB-DIV.AT-MUL.JUR.',
       'OUTRAS RECEITAS ADMINISTRADAS PELA RFB-PRINC.',
       'COTA-PARTE DA CONTRIBUIÇÃO SINDICAL-PRINCIPAL',
       'TAXAS INSPEÇÃO,CONTROLE E FISCALIZAÇÃO-DÍV.AT',
       'IPI-OUTROS PRODUTOS-MULTAS E JUROS',
       'CSLL-PARCELAMENTOS-DÍVIDA ATIVA-JUROS',
       'CONT.MOV.TRANSM.VL.CR.FIN-PARC-DÍV.AT-MUL.JUR',
       'IRRF-TRABALHO-PRINCIPAL',
       'DEMAIS CONTRIBUIÇÕES SOCIAIS-DÍVIDA ATIVA',
       'CONTR.PIS/PASEP-PARCELAMENTOS-JUROS DÍV.ATIVA',
       'AMORT.EMPR.-REFIN.DIV.MED.E LONGO PRAZO-PRINC',
       'IOF-DEMAIS OPERAÇÕES-MULTAS DA DÍVIDA ATIVA',
       'IRRF-OUTROS RENDIMENTOS-PRINCIPAL-INTRA',
       'MULT.LEG.ANTICORRUP.ACORDOS LENIÊNCIA-PRINC.',
       'IRPF-JUROS DA DÍVIDA ATIVA',
       'TAXA DE CONTROLE E FISC.AMBIENTAL-PRINCIPAL',
       'CONTRIBUIÇÕES P/O RGPS-PARCELAMENTOS-DÍV.AT.',
       'CESSAO DIREITO USO DE RADIOFREQUENCIA-DIV.AT.',
       'CONTRIB.DO SERVIDOR INATIVO P/RPPS-PRINCIPAL',
       'EMOLUMENTOS E CUSTAS JUDICIAIS-DÍV.AT-MUL.JUR',
       'CONTRIB.PIS/PASEP-OPTANTES SIMP.NAC-DÍV.AT.',
       'COFINS-MULTAS E JUROS', 'TRANSFERENCIAS DO EXTERIOR-PRINCIPAL',
       'IMPOSTO SOBRE A EXPORTAÇÃO-PRINCIPAL', 'CONDECINE-PRINCIPAL',
       'COFINS SOBRE O FATURAMENTO-PARCELAM.-JUROS',
       'COFINS SOBRE O FATURAMENTO-PRINCIPAL',
       'DEMAIS CONTRIBUIÇÕES SOCIAIS-MULTAS E JUROS',
       'CONT.PREV.EMPREG.-OPT.SIMP.NAC-DÍV.AT-MUL.JUR',
       'CONTRIB.SOCIAL DO SALÁRIO-EDUCAÇÃO-PRINCIPAL',
       'CONT.PIS/PASEP-Ñ OPT.SIMP.NAC-JUROS DÍV.ATIVA',
       'CSLL-PARCELAMENTOS-DÍVIDA ATIVA',
       'REMUN.S/REPASSE P/PROG.DESENV.ECONOMICO-PRINC',
       'ROYAL.EXCED.PROD.PETRO.TERRA(QQ SIT.)-PRINC.',
       'TRANSF.DE OUTRAS INSTITUIÇÕES PÚBLICAS-PRINC.',
       'CONC/PERM/AUT/CESSAO DIR.USO IMOV.PUB-MUL.JUR',
       'CONTRIBUIÇÃO PARA O PIS/PASEP-JUROS-DÍV.ATIVA',
       'BONUS ASSINAT.DE CONTRATO DE CONCESSAO-PRINC.',
       'CONTRIB.SOCIAL DO SALARIO-EDUCACAO-MUL.JUR.',
       'CONTRIBUICOES P/O RGPS-DIVIDA ATIVA-MUL.JUR.',
       'CPSSS-SERVIDOR CIVIL PENSIONISTA-PRINCIPAL',
       'PARTICIPACOES-PRINCIPAL',
       'CONT.PIS/PASEP-Ñ OPT.SIMP.NAC-DÍV.AT-MUL.JUR',
       'OUTROS IMPOSTOS-MULTAS E JUROS',
       'CESSÃO DIR.USO RADIOFREQUÊNCIA-MUL.JUR-INTRA',
       'P.ESP.PETRO.PLAT-COM.ANT.3/12/12-P.SAL-PRINC.',
       'PART.UNIÃO EM RECEITA LOTERIA FEDERAL-PRINC.',
       'IPI-AUTOMÓVEIS-MULTAS E JUROS',
       'COFINS SOBRE O FATURAMENTO-DÍVIDA ATIVA',
       'JUROS SOBRE O CAPITAL PROPRIO-PRINCIPAL',
       'IMPOSTO SOBRE A IMPORTAÇÃO-MULTAS DÍV.ATIVA',
       'MULTAS PREV.LEG.SEG.DESEMP.AB.SALAR.-PRINC.',
       'RESTIT.BENEFICIOS NAO DESEMBOLSADOS-PRINCIPAL',
       'CONTRIB.P/FOMENTO RADIODIFUSAO PUBLICA-PRINC.',
       'CONTR.S/ARREC.FUNDOS INVEST.REGIONAIS-PRINC.',
       'CONTR.LOJ.FR.ENTREP.ADUAN.DEP.ALFAND.-PRINC.',
       'IPI-FUMO-MULTAS E JUROS',
       'CONTRIBUIÇÕES P/O RGPS-PARCELAMENTOS-PRINC.',
       'ITR-MUNICÍPIOS CONVENIADOS-PRINCIPAL',
       'IPI-OUTROS PRODUTOS-JUROS DA DÍVIDA ATIVA',
       'CONTRIB.SERVIDOR ATIVO CIVIL P/RPPS-MUL.JUR.',
       'RESTIT.DEP.DE SENTENÇAS JUD.Ñ SACADOS-PRINC.',
       'CONTRIBUIÇÃO PIS/PASEP-PARCELAMENTOS-JUROS',
       'IOF-DEMAIS OPERAÇÕES-JUROS DA DÍVIDA ATIVA',
       'ROYAL.PETRO.PLAT.-COM.A PARTIR 3/12/12-PRINC.', 'IRPF-PRINCIPAL',
       'OUTRAS CONTRIBUICOES ECONOMICAS-PRINCIPAL',
       'CONTR.PREV.EMPREGADOR-Ñ OPT.SIMP.NAC.-MUL.JUR',
       'AMORTIZACAO DE EMPRESTIMOS-EST/MUN-PRINCIPAL',
       'CONTR.S/REMUN.DEVIDA AO TRABALHADOR-PRINCIPAL',
       'CONT.MOV.TRANSM.VAL.CRÉD.DIR.NAT.FIN.-MUL.JUR',
       'INDENIZ.POSSE/OCUP.ILICITA BENS PUB.-PRINC.',
       'CONT.PIS/PASEP-Ñ OPT.SIMP.NAC-MULTAS DÍV.AT.',
       'JUROS DE TITULOS DE RENDA-PRINCIPAL',
       'OUTRAS RECEITAS-PRIMARIAS-DIVIDA ATIVA',
       'IRPJ-LÍQUIDA DE INCENTIVOS-JUROS DÍV.ATIVA',
       'CONTRIB.P/FOMENTO RADIODIF.PÚB.-PRINC.-INTRA',
       'CONTR.PIS/PASEP SOBRE FATURAM.-MUL.JUR-INTRA',
       'IMPOSTO SOBRE A EXPORTAÇÃO-JUROS DÍVIDA ATIVA',
       'BONUS ASSINAT.CONTRATO DE CONCESSAO-MUL.JUR.',
       'IRPF-MULTAS E JUROS',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS-DIV.AT.',
       'ROY.EXC.PETRO.PLAT-COM.A PARTIR 3/12/12-PRINC',
       'CONDECINE-MULTAS E JUROS',
       'EMOLUMENTOS E CUSTAS JUDICIAIS-PRINC.-INTRA',
       'OUTRAS RECEITAS IMOBILIARIAS-MULTAS E JUROS', 'COFINS-PRINCIPAL',
       'CONTRIBUIÇÃO SOBRE A LOTERIA FEDERAL-PRINCIP.',
       'IMPOSTO SOBRE A EXPORTAÇÃO-MULTAS DÍV.ATIVA',
       'CSLL-CONTRIBUINTES Ñ OPT.SIMP.NAC.-PRINC.',
       'IRPJ-LÍQUIDA DE INCENTIVOS-PRINCIPAL',

Los 10 DETALLE que MAS aparecen son:

                                               count  Porcentaje_recuento
DETALLE
SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.    29143                16.48
INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL  15436                 8.73
ALUGUEIS E ARRENDAMENTOS-PRINCIPAL             13929                 7.88
MULTAS PREVISTAS EM LEGISL.ESPECIFICA-PRINC.    6348                 3.59
REMUNERACAO DE DEPOSITOS BANCARIOS-PRINCIPAL    5123                 2.90
TAXAS INSPEÇÃO,CONTROLE E FISCALIZAÇÃO-PRINC.   4251                 2.40
OUTRAS RESTITUICOES-PRINCIPAL                   4225                 2.39
OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL             4021                 2.27
RESTIT.DE DESPESAS DE EXERC.ANTERIORES-PRINC.   3755                 2.12
SERVICOS DE INFORMACAO E TECNOLOGIA-PRINCIPAL   3457                 1.96

Los 10 DETALLE que MENOS aparecen son:

                                               count  Porcentaje_recuento
DETALLE
DELEG.P/EXPL.INFRA.TRANSP.FERROVIARIO-PRINC.       1                 0.00
CSLL-PRINCIPAL                                     1                 0.00
COFINS-MULTA E JUROS                               1                 0.00
CONTRIBUIÇÕES PARA O RGPS-DÍVIDA ATIVA             1                 0.00
MULTAS PREV.LEG.SEG.DESEMP.AB.SALAR.-MUL.JUR.      1                 0.00
CPSSS-SERVIDOR CIVIL ATIVO-DÍVIDA ATIVA            1                 0.00
PARCELA TARIFA EMBARQUE INTERNACIONAL-MUL.JUR      1                 0.00
CUSTOS EDITAL DE CONCESSAO FLORESTAL-PRINC.        1                 0.00
RECEITA VEICULACAO DE OBRAS CINEMATOGRAFICAS       1                 0.00
RESTIT.NAO APLIC.INC.FISC.L.AUDIOVIS.-DIV.AT.      1                 0.00

 Las distribución de las repeticiones de los DETALLE son:

       count  % repetición
count
1         37          5.82
36        34          5.35
3         27          4.25
26        19          2.99
16        19          2.99
...      ...           ...
168        1          0.16
43         1          0.16
65         1          0.16
72         1          0.16
68         1          0.16

[207 rows x 2 columns]

None
La categoría VALOR_PREVISTO_ACTUALIZADO tiene 1801 elementos diferentes:

Los elementos de la categoría son:

array([0.00000000e+00, 1.24295300e+06, 8.20630000e+05, ...,
       1.18953385e+08, 8.46406210e+07, 2.50000000e+05])

Los 10 VALOR_PREVISTO_ACTUALIZADO que MAS aparecen son:

                             count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
0.00                        174975                98.95
1000000.00                       2                 0.00
100000.00                        2                 0.00
700000.00                        2                 0.00
2400.00                          2                 0.00
15000.00                         2                 0.00
142500.00                        2                 0.00
5327629.00                       2                 0.00
1500000.00                       2                 0.00
180000.00                        2                 0.00

Los 10 VALOR_PREVISTO_ACTUALIZADO que MENOS aparecen son:

                            count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
4040597.00                      1                 0.00
193120.00                       1                 0.00
15025.00                        1                 0.00
137845.00                       1                 0.00
4597.00                         1                 0.00
323728.00                       1                 0.00
78324.00                        1                 0.00
793905.00                       1                 0.00
226872.00                       1                 0.00
4107909.00                      1                 0.00

 Las distribución de las repeticiones de los VALOR_PREVISTO_ACTUALIZADO son:

        count  % repetición
count
1        1747         97.00
2          53          2.94
174975      1          0.06

None
La categoría VALOR_REGISTRADO tiene 1105 elementos diferentes:

Los elementos de la categoría son:

array([ 0.00000000e+00,  1.91909603e+08, -2.12871122e+09, ...,
        1.80000000e+01, -1.80000000e+01,  5.07434478e+06])

Los 10 VALOR_REGISTRADO que MAS aparecen son:

                   count  Porcentaje_recuento
VALOR_REGISTRADO
0.00              175649                99.33
-15880387.66           2                 0.00
-6.63                  2                 0.00
5731.56                2                 0.00
4920.76                2                 0.00
-12220654.62           2                 0.00
-4694964517.49         2                 0.00
-12602487.98           2                 0.00
476965.74              2                 0.00
36.20                  2                 0.00

Los 10 VALOR_REGISTRADO que MENOS aparecen son:

                  count  Porcentaje_recuento
VALOR_REGISTRADO
1016.40               1                 0.00
1039.80               1                 0.00
967.29                1                 0.00
922.74                1                 0.00
952.44                1                 0.00
192581.89             1                 0.00
928.44                1                 0.00
1060.98               1                 0.00
914.38                1                 0.00
839196.80             1                 0.00

 Las distribución de las repeticiones de los VALOR_REGISTRADO son:

        count  % repetición
count
1        1029         93.12
2          75          6.79
175649      1          0.09

None
La categoría VALOR_REALIZADO tiene 124002 elementos diferentes:

Los elementos de la categoría son:

array([-9.5000000e+01, -3.8000000e+02,  3.8000000e+02, ...,
        4.0764619e+05,  3.7995200e+03,  3.0003160e+04])

Los 10 VALOR_REALIZADO que MAS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
0.00              3107                 1.76
100.00             601                 0.34
10.00              552                 0.31
200.00             512                 0.29
20.00              481                 0.27
30.00              459                 0.26
50.00              453                 0.26
300.00             423                 0.24
40.00              414                 0.23
60.00              408                 0.23

Los 10 VALOR_REALIZADO que MENOS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
250800.19            1                 0.00
181979.18            1                 0.00
108162.42            1                 0.00
255082.04            1                 0.00
293050.26            1                 0.00
321111.52            1                 0.00
459894.27            1                 0.00
294466.69            1                 0.00
176924.29            1                 0.00
252762.44            1                 0.00

 Las distribución de las repeticiones de los VALOR_REALIZADO son:

        count  % repetición
count
1      112972         91.10
2        6152          4.96
3        1842          1.49
4         851          0.69
5         485          0.39
...       ...           ...
159         1          0.00
152         1          0.00
61          1          0.00
50          1          0.00
66          1          0.00

[132 rows x 2 columns]

None
La categoría PORCENTAJE_REALIZADO tiene 48 elementos diferentes:

Los elementos de la categoría son:

array([ 0.0000e+00,  5.0000e+00,  8.0000e+00,  9.0000e+00,  7.0000e+00,
        1.0000e+00,  3.0000e+00,  2.0000e+00,  1.2000e+01,  4.6000e+01,
        4.0000e+00,  4.3500e+02,  1.1000e+01,  1.7000e+01,  1.4000e+01,
        6.0000e+00,  2.0000e+01,  1.1514e+04, -5.0000e+00,  1.3000e+01,
        4.2000e+02,  2.1000e+01,  1.0000e+01,  5.7000e+01,  4.3000e+01,
        4.1000e+01,  6.4000e+01,  7.7000e+01, -1.0000e+00,  3.6000e+01,
        3.9000e+01,  1.5000e+01,  2.2000e+01,  1.7500e+02,  1.6000e+01,
        6.6000e+01,  1.6631e+04,  1.8000e+01,  2.7000e+01,  1.2500e+02,
       -2.8200e+02,  3.8000e+01,  2.1600e+02,  4.6000e+02,  2.6000e+01,
        1.7000e+02,  4.5000e+01,  3.3000e+01])

Los 10 PORCENTAJE_REALIZADO que MAS aparecen son:

                       count  Porcentaje_recuento
PORCENTAJE_REALIZADO
0.00                  176448                99.79
1.00                     100                 0.06
2.00                      54                 0.03
3.00                      39                 0.02
5.00                      29                 0.02
7.00                      29                 0.02
4.00                      29                 0.02
6.00                      21                 0.01
8.00                      13                 0.01
11.00                      8                 0.00

Los 10 PORCENTAJE_REALIZADO que MENOS aparecen son:

                      count  Porcentaje_recuento
PORCENTAJE_REALIZADO
27.00                     1                 0.00
125.00                    1                 0.00
-282.00                   1                 0.00
38.00                     1                 0.00
216.00                    1                 0.00
460.00                    1                 0.00
26.00                     1                 0.00
170.00                    1                 0.00
45.00                     1                 0.00
33.00                     1                 0.00

 Las distribución de las repeticiones de los PORCENTAJE_REALIZADO son:

        count  % repetición
count
1          28         58.33
2           5         10.42
29          3          6.25
3           2          4.17
5           2          4.17
39          1          2.08
54          1          2.08
100         1          2.08
176448      1          2.08
8           1          2.08
13          1          2.08
21          1          2.08
4           1          2.08

None
La categoría FECHA_REGISTRO tiene 365 elementos diferentes:

Los elementos de la categoría son:

<DatetimeArray>
['2019-06-12 00:00:00', '2019-05-07 00:00:00', '2019-03-01 00:00:00',
 '2019-02-27 00:00:00', '2019-04-18 00:00:00', '2019-08-12 00:00:00',
 '2019-03-28 00:00:00', '2019-05-21 00:00:00', '2019-05-09 00:00:00',
 '2019-08-01 00:00:00',
 ...
 '2019-02-16 00:00:00', '2019-06-08 00:00:00', '2019-05-11 00:00:00',
 '2019-03-05 00:00:00', '2019-08-25 00:00:00', '2019-02-02 00:00:00',
 '2019-12-29 00:00:00', '2019-08-04 00:00:00', '2019-05-25 00:00:00',
 '2019-10-27 00:00:00']
Length: 366, dtype: datetime64[ns]

Los 10 FECHA_REGISTRO que MAS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2019-01-31       2212                 1.25
2019-09-30       1137                 0.64
2019-07-31       1116                 0.63
2019-04-30       1093                 0.62
2019-02-28       1092                 0.62
2019-10-31       1080                 0.61
2019-05-31       1066                 0.60
2019-09-10        988                 0.56
2019-06-10        973                 0.55
2019-10-10        957                 0.54

Los 10 FECHA_REGISTRO que MENOS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2019-02-16          1                 0.00
2019-06-08          1                 0.00
2019-05-11          1                 0.00
2019-03-05          1                 0.00
2019-08-25          1                 0.00
2019-02-02          1                 0.00
2019-12-29          1                 0.00
2019-08-04          1                 0.00
2019-05-25          1                 0.00
2019-10-27          1                 0.00

 Las distribución de las repeticiones de los FECHA_REGISTRO son:

       count  % repetición
count
1         49         13.42
2         18          4.93
10         7          1.92
617        6          1.64
3          6          1.64
...      ...           ...
206        1          0.27
12         1          0.27
11         1          0.27
6          1          0.27
8          1          0.27

[187 rows x 2 columns]

None
La categoría AÑO_EJERCICIO tiene 1 elementos diferentes:

Los elementos de la categoría son:

array([2019])

Los 10 AÑO_EJERCICIO que MAS aparecen son:

                count  Porcentaje_recuento
AÑO_EJERCICIO
2019           176828               100.00

Los 10 AÑO_EJERCICIO que MENOS aparecen son:

                count  Porcentaje_recuento
AÑO_EJERCICIO
2019           176828               100.00

 Las distribución de las repeticiones de los AÑO_EJERCICIO son:

        count  % repetición
count
176828      1        100.00

None

## Año 2020

In [398]:
for columna in df_datos_2020.columns:
    print(se.analisis_individual_columnas(df_datos_2020, columna))

La categoría CÓDIGO_ÓRGANO_SUPERIOR tiene 20 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '37000', '22000', '55000', '24000', '52000', '25000',
       '26000', '39000', '30000', '81000', '36000', '41000', '57000',
       '35000', '32000', '53000', '44000', '54000', '20000'], dtype=object)

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MAS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
26000                   40888                28.72
25000                   36037                25.32
52000                   14753                10.36
22000                    6532                 4.59
30000                    6177                 4.34
39000                    5741                 4.03
24000                    5008                 3.52
32000                    4973                 3.49
36000                    4542                 3.19
53000                    4251                 2.99

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MENOS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
41000                    4122                 2.90
44000                    4111                 2.89
54000                    3382                 2.38
55000                     646                 0.45
20000                     518                 0.36
35000                     388                 0.27
81000                     248                 0.17
63000                      24                 0.02
57000                       6                 0.00
37000                       1                 0.00

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO_SUPERIOR son:

       count  % repetición
count
40888      1          5.00
36037      1          5.00
14753      1          5.00
6532       1          5.00
6177       1          5.00
5741       1          5.00
5008       1          5.00
4973       1          5.00
4542       1          5.00
4251       1          5.00
4122       1          5.00
4111       1          5.00
3382       1          5.00
646        1          5.00
518        1          5.00
388        1          5.00
248        1          5.00
24         1          5.00
6          1          5.00
1          1          5.00

None
La categoría NOMBRE_ÓRGANO_SUPERIOR tiene 20 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União', 'Controladoria-Geral da União',
       'Ministério da Agricultura, Pecuária e Abastec',
       'Ministério da Cidadania',
       'Ministério da Ciência, Tecnologia, Inovações ',
       'Ministério da Defesa', 'Ministério da Economia',
       'Ministério da Educação', 'Ministério da Infraestrutura',
       'Ministério da Justiça e Segurança Pública',
       'Ministério da Mulher, Família e Direitos Huma',
       'Ministério da Saúde', 'Ministério das Comunicações',
       'Ministério das Mulheres, Igualdade Racial, da',
       'Ministério das Relações Exteriores',
       'Ministério de Minas e Energia',
       'Ministério do Desenvolvimento Regional',
       'Ministério do Meio Ambiente', 'Ministério do Turismo',
       'Presidência da República'], dtype=object)

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MAS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério da Educação                         40888                28.72
Ministério da Economia                         36037                25.32
Ministério da Defesa                           14753                10.36
Ministério da Agricultura, Pecuária e Abastec   6532                 4.59
Ministério da Justiça e Segurança Pública       6177                 4.34
Ministério da Infraestrutura                    5741                 4.03
Ministério da Ciência, Tecnologia, Inovações    5008                 3.52
Ministério de Minas e Energia                   4973                 3.49
Ministério da Saúde                             4542                 3.19
Ministério do Desenvolvimento Regional          4251                 2.99

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MENOS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério das Comunicações                     4122                 2.90
Ministério do Meio Ambiente                     4111                 2.89
Ministério do Turismo                           3382                 2.38
Ministério da Cidadania                          646                 0.45
Presidência da República                         518                 0.36
Ministério das Relações Exteriores               388                 0.27
Ministério da Mulher, Família e Direitos Huma    248                 0.17
Advocacia-Geral da União                          24                 0.02
Ministério das Mulheres, Igualdade Racial, da      6                 0.00
Controladoria-Geral da União                       1                 0.00

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO_SUPERIOR son:

       count  % repetición
count
40888      1          5.00
36037      1          5.00
14753      1          5.00
6532       1          5.00
6177       1          5.00
5741       1          5.00
5008       1          5.00
4973       1          5.00
4542       1          5.00
4251       1          5.00
4122       1          5.00
4111       1          5.00
3382       1          5.00
646        1          5.00
518        1          5.00
388        1          5.00
248        1          5.00
24         1          5.00
6          1          5.00
1          1          5.00

None
La categoría CÓDIGO_ÓRGANO tiene 255 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '37000', '22201', '22202', '22211', '22000', '44208',
       '22905', '49001', '55001', '55000', '24000', '24901', '20301',
       '20402', '20501', '24209', '20502', '52904', '52911', '52132',
       '52000', '52133', '52131', '52111', '52221', '52121', '52211',
       '31280', '52233', '52222', '30203', '25000', '25201', '25207',
       '37904', '25203', '38901', '37202', '25916', '20924', '25205',
       '28500', '25211', '22500', '61201', '25905', '25904', '20603',
       '20202', '25915', '25901', '30204', '37201', '90000', '33206',
       '25914', '25208', '26443', '26241', '26298', '26243', '26246',
       '26294', '26234', '26236', '26238', '26242', '26263', '26424',
       '26410', '26277', '26412', '26271', '26245', '26426', '26268',
       '26406', '26244', '26411', '26276', '26350', '26421', '26447',
       '26233', '26284', '26442', '26413', '26408', '26441', '26260',
       '26352', '26420', '26250', '26402', '26270', '26255', '26247',
       '26416', '26273', '26254', '26232', '26456', '26448', '26431',
       '26283', '26249', '26434', '26239', '26433', '26419', '26404',
       '26291', '26405', '26439', '26450', '26278', '26258', '26248',
       '26279', '26436', '26440', '26201', '26257', '26262', '26237',
       '26403', '26292', '26407', '26264', '26261', '26275', '26230',
       '26267', '26415', '26274', '26428', '26269', '26285', '26266',
       '26231', '26435', '26418', '26240', '26438', '26423', '26251',
       '26449', '26252', '26256', '26351', '26272', '26282', '26409',
       '26417', '26455', '26432', '26281', '26290', '26429', '26235',
       '26427', '26422', '26280', '26000', '26437', '26253', '26430',
       '26414', '26425', '26286', '62201', '56901', '39250', '39252',
       '29209', '39815', '68201', '39253', '49901', '39000', '62901',
       '39812', '30907', '30912', '30108', '30911', '30211', '30905',
       '30202', '30205', '30000', '30802', '30914', '30913', '81000',
       '36211', '36000', '36213', '36201', '36210', '36212', '41232',
       '41231', '41903', '24216', '20415', '64901', '35201', '35000',
       '32396', '32205', '32314', '29208', '32210', '32000', '20302',
       '20303', '29214', '22203', '53901', '74918', '53203', '22204',
       '53902', '74919', '44205', '53903', '53202', '53000', '53207',
       '74917', '29205', '56902', '20701', '44207', '44206', '44204',
       '44000', '44902', '34902', '54901', '20404', '20203', '20408',
       '42207', '20411', '20604', '54000', '20412', '20403', '20101',
       '20116', '60000', '24208'], dtype=object)

Los 10 CÓDIGO_ÓRGANO que MAS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
25000          22686                15.94
52904           4091                 2.87
52132           3930                 2.76
37904           2455                 1.72
20701           2205                 1.55
32396           2031                 1.43
24901           2013                 1.41
34902           1889                 1.33
52911           1881                 1.32
22202           1847                 1.30

Los 10 CÓDIGO_ÓRGANO que MENOS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
20402              4                 0.00
22500              3                 0.00
81000              2                 0.00
37000              1                 0.00
25916              1                 0.00
90000              1                 0.00
26456              1                 0.00
39815              1                 0.00
20408              1                 0.00
60000              1                 0.00

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO son:

       count  % repetición
count
1          7          2.75
33         3          1.18
6          3          1.18
61         2          0.78
55         2          0.78
...      ...           ...
9          1          0.39
5          1          0.39
4          1          0.39
3          1          0.39
2          1          0.39

[219 rows x 2 columns]

None
La categoría NOMBRE_ÓRGANO tiene 254 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União - Unidades com vínculo direto',
       'Controladoria-Geral da União - Unidades com vínculo direto',
       'Instituto Nacional de Colonização e Reforma Agrária',
       'Empresa Brasileira de Pesquisa Agropecuária',
       'Companhia Nacional de Abastecimento',
       'Ministério da Agricultura, Pecuária e Abastecimento - Unidades com vínculo direto',
       'Serviço Florestal Brasileiro',
       'Fundo de Defesa da Economia Cafeeira',
       'Fundo de Terras e da Reforma Agrária',
       'Fundo Nacional de Assistência Social',
       'Ministério da Cidadania - Unidades com vínculo direto',
       'Ministério da Ciência, Tecnologia, Inovações e Comunicações - Unidades com vínculo direto',
       'Fundo Nacional de Desenvolvimento Científico e Tecnológico',
       'Comissão Nacional de Energia Nuclear',
       'Agência Espacial Brasileira',
       'Conselho Nacional de Desenvolvimento Científico e Tecnológico',
       'Centro Nacional de Tecnologia Eletrônica Avançada S.A.',
       'Financiadora de Estudos e Projetos', 'Fundo do Exército',
       'Fundo Aeronáutico', 'Comando da Marinha - Fundo Naval',
       'Ministério da Defesa - Unidades com vínculo direto',
       'Fundo de Desenvolvimento do Ensino Profissional Marítimo',
       'Comando da Marinha', 'Comando da Aeronáutica',
       'Indústria de Material Bélico do Brasil', 'Comando do Exército',
       'Caixa de Financiamento Imobiliário da Aeronáutica',
       'Caixa de Construções de Casas para o Pessoal da Marinha do Brasil',
       'Amazônia Azul Tecnologia de Defesa S.A.', 'Fundação Osório',
       'Instituto Nacional de Metrologia, Qualidade e Tecnologia',
       'Ministério da Economia - Unidades com vínculo direto',
       'Banco Central do Brasil - Orçamento Fiscal e Seguridade Social',
       'Serviço Federal de Processamento de Dados',
       'Fundo do Regime Geral da Previdência Social',
       'Comissão de Valores Mobiliários',
       'Fundo de Amparo ao Trabalhador',
       'Instituto Nacional do Seguro Social',
       'Fundo Contingente da Extinta RFFSA-FCMP',
       'Fundo Nacional de Desenvolvimento',
       'Fundação Instituto Brasileiro de Geografia e Estatística',
       'Fundo de Garantia para a Promoção da Competitividade',
       'Casa da Moeda do Brasil',
       'Companhia de Entrepostos e Armazéns Gerais de São Paulo',
       'Instituto de Pesquisa Econômica Aplicada',
       'Fundo de Apoio ao Desenvolvimento Social',
       'Fundo de Estabilidade do Seguro Rural',
       'Superintendência da Zona Franca de Manaus',
       'Fundação Escola Nacional de Administração Pública',
       'Fundo Constitucional do Distrito Federal',
       'Fundo de Compensação de Variações Salariais',
       'Instituto Nacional da Propriedade Industrial',
       'Fundação Jorge Duprat Figueiredo, de Segurança e Medicina do Trabalho',
       'Reserva de Contingência',
       'Superintendência Nacional de Previdência Complementar',
       'Fundo de Garantia à Exportação',
       'Superintendência de Seguros Privados',
       'Empresa Brasileira de Serviços Hospitalares',
       'Universidade Federal do Paraná',
       'Fundo Nacional de Desenvolvimento da Educação',
       'Universidade Federal do Rio Grande do Norte',
       'Universidade Federal de Santa Catarina',
       'Hospital de Clínicas de Porto Alegre',
       'Universidade Federal do Espírito Santo',
       'Universidade Federal Fluminense',
       'Universidade Federal de Minas Gerais',
       'Universidade Federal de Pernambuco',
       'Universidade Federal de Lavras', 'Instituto Federal do Tocantins',
       'Instituto Federal do Norte de Minas Gerais',
       'Universidade Federal de Ouro Preto',
       'Instituto Federal do Sul de Minas Gerais',
       'Fundação Universidade de Brasília',
       'Universidade Federal do Rio de Janeiro',
       'Instituto Federal do Amapá',
       'Fundação Universidade Federal de Rondônia',
       'Instituto Federal do Espírito Santo',
       'Universidade Federal do Rio Grande do Sul',
       'Instituto Federal do Sudeste de Minas Gerais',
       'Fundação Universidade Federal do Mato Grosso',
       'Fundação Universidade Federal da Grande Dourados',
       'Instituto Federal de Rondônia',
       'Universidade Federal do Oeste da Bahia',
       'Universidade Federal do Ceará',
       'Fundação Universidade Federal de Ciências da Saúde de Porto Alegre',
       'Universidade da Integração Internacional da Lusofonia Afro-Brasileira',
       'Instituto Federal do Triângulo Mineiro',
       'Instituto Federal do Maranhão',
       'Universidade Federal do Oeste do Pará',
       'Universidade Federal de Alfenas',
       'Fundação Universidade Federal do ABC',
       'Instituto Federal Farroupilha', 'Universidade Federal de Roraima',
       'Instituto Federal de Alagoas',
       'Fundação Universidade do Amazonas',
       'Universidade Federal dos Vales do Jequitinhonha e Mucuri',
       'Universidade Federal de Santa Maria', 'Instituto Federal do Pará',
       'Universidade Federal do Rio Grande',
       'Universidade Federal do Triângulo Mineiro',
       'Universidade Federal da Bahia',
       'UNIVERSIDADE FEDERAL DO AGRESTE DE PERNAMBUCO',
       'Universidade Federal do Sul e Sudeste do Pará',
       'Instituto Federal do Piauí',
       'Fundação Universidade Federal do Mato Grosso do Sul',
       'Universidade Federal Rural do Rio de Janeiro',
       'Instituto Federal Fluminense', 'Universidade Federal do Pará',
       'Instituto Federal do Rio de Janeiro',
       'Instituto Federal do Rio Grande do Sul',
       'Instituto Federal Baiano',
       'Fundação Coordenação de Aperfeiçoamento de Pessoal de Nível Superior',
       'Instituto Federal do Ceará', 'Instituto Federal de São Paulo',
       'Universidade Federal do Sul da Bahia',
       'Fundação Universidade Federal de Pelotas',
       'Universidade Tecnológica Federal do Paraná',
       'Universidade Federal Rural de Pernambuco',
       'Fundação Universidade Federal do Piauí',
       'Instituto Federal Sul-rio-grandense',
       'Universidade Federal da Fronteira Sul', 'Colégio Pedro II',
       'Centro Federal de Educação Tecnológica de Minas Gerais',
       'Universidade Federal de São Paulo',
       'Universidade Federal de Juiz de Fora',
       'Instituto Federal do Amazonas', 'Fundação Joaquim Nabuco',
       'Instituto Federal Goiano',
       'Universidade Federal Rural do Semi-Árido',
       'Universidade Federal de Itajubá',
       'Fundação Universidade Federal do Acre',
       'Fundação Universidade Federal do Vale do São Francisco',
       'Universidade Federal da Integração Latino-Americana',
       'Instituto Federal do Mato Grosso do Sul',
       'Fundação Universidade Federal de Uberlândia',
       'Instituto Federal de Brasília',
       'Universidade Federal do Estado do Rio de Janeiro',
       'Fundação Universidade Federal de São João Del-Rei',
       'Fundação Universidade Federal do Pampa',
       'Universidade Federal de Alagoas',
       'Instituto Federal do Rio Grande do Norte',
       'Instituto Federal de Pernambuco',
       'Universidade Federal da Paraíba',
       'Instituto Federal de Santa Catarina',
       'Instituto Federal de Sergipe',
       'Fundação Universidade Federal do Tocantins',
       'Universidade Federal do Cariri',
       'Universidade Federal de Campina Grande',
       'Centro Federal de Educação Tecnológica Celso Suckow da Fonseca',
       'Universidade Federal do Recôncavo da Bahia',
       'Fundação Universidade do Maranhão',
       'Universidade Federal de Viçosa',
       'Instituto Federal de Minas Gerais',
       'Instituto Federal da Paraíba',
       'UNIVERSIDADE FEDERAL DO DELTA DO PARNAIBA',
       'Instituto Federal do Paraná',
       'Fundação Universidade Federal de Sergipe',
       'Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira',
       'Instituto Federal de Educação, Ciência e Tecnologia de Goiás',
       'Universidade Federal de Goiás', 'Instituto Federal da Bahia',
       'Instituto Federal Catarinense',
       'Fundação Universidade Federal de São Carlos',
       'Ministério da Educação - Unidades com vínculo direto',
       'Instituto Federal de Roraima',
       'Universidade Federal Rural da Amazônia',
       'Instituto Federal do Sertão de Pernambuco',
       'Instituto Federal do Mato Grosso', 'Instituto Federal do Acre',
       'Fundação Universidade Federal do Amapá',
       'Agência Nacional de Aviação Civil',
       'Fundo Nacional de Segurança e Educação de Trânsito',
       'Agência Nacional de Transportes Terrestres',
       'Departamento Nacional de Infraestrutura de Transportes',
       'VALEC Engenharia, Construções e Ferrovias S.A.',
       'Companhia Docas do Rio Grande do Norte',
       'Agência Nacional de Transportes Aquaviários',
       'Empresa de Planejamento e Logística S.A.',
       'Departamento do Fundo da Marinha Mercante',
       'Ministério da Infraestrutura - Unidades com vínculo direto',
       'Fundo Nacional de Aviação Civil',
       'Companhia Docas do Estado da Bahia',
       'Fundo Penitenciário Nacional', 'Fundo Nacional Antidrogas',
       'Departamento de Polícia Federal',
       'Fundo Nacional de Segurança Pública',
       'Conselho Administrativo de Defesa Econômica',
       'Secretaria Nacional do Consumidor Fundo',
       'Fundação Nacional do Índio',
       'Fundação Nacional do Índio - Patrimônio Indígena',
       'Ministério da Justiça e Segurança Pública - Unidades com vínculo direto',
       'Departamento de Polícia Rodoviária Federal',
       'Fundo Nacional do Idoso',
       'Fundo Nacional para a Criança e o Adolescente',
       'Ministério da Mulher, Família e Direitos Humanos - Unidades com vínculo direto',
       'Fundação Nacional de Saúde',
       'Ministério da Saúde - Unidades com vínculo direto',
       'Agência Nacional de Saúde Suplementar', 'Fundação Oswaldo Cruz',
       'Hospital Nossa Senhora da Conceição S.A.',
       'Agência Nacional de Vigilância Sanitária',
       'Fundo de Universalização dos Serviços de Telecomunicações',
       'Agêncial Nacional de Telecomunicações',
       'Fundo para o Desenvolvimento Tecnológico das Telecomunicações',
       'TELECOMUNICACOES BRASILEIRAS S/A',
       'Empresa Brasil de Comunicação', 'Fundação Alexandre de Gusmão',
       'Ministério das Relações Exteriores - Unidades com vínculo direto',
       'Agência Nacional de Mineração',
       'Agência Nacional do Petróleo, Gás Natural e Biocombustíveis',
       'Empresa de Pesquisa Energética',
       'Companhia de Pesquisa de Recursos Minerais',
       'Agência Nacional de Energia Elétrica',
       'Ministério de Minas e Energia - Unidades com vínculo direto',
       'Nuclebrás Equipamentos Pesados S.A.',
       'Indústrias Nucleares do Brasil',
       'Companhia Brasileira de Trens Urbanos',
       'Companhia de Desenvolvimento dos Vales do São Francisco e do Parnaíba',
       'Fundo Constitucional de Financiamento do Norte',
       'Fundo de Desenvolvimento do Nordeste',
       'Superintendência do Desenvolvimento do Nordeste',
       'Departamento Nacional de Obras Contra as Secas',
       'Fundo Constitucional de Financiamento do Centro-Oeste',
       'Fundo de Desenvolvimento do Centro-Oeste',
       'Agência Nacional de Águas',
       'Fundo Constitucional de Financiamento do Nordeste',
       'Superintendência do Desenvolvimento da Amazônia',
       'Ministério do Desenvolvimento Regional - Unidades com vínculo direto',
       'Superintendência de Desenvolvimento do Centro-Oeste',
       'Fundo de Desenvolvimento da Amazônia',
       'Empresa de Trens Urbanos de Porto Alegre',
       'Fundo Nacional de Habitação de Interesse Social',
       'Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renováveis',
       'Instituto Chico Mendes de Conservação da Biodiversidade',
       'Instituto de Pesquisas Jardim Botânico do Rio de Janeiro',
       'Fundo Nacional do Meio Ambiente',
       'Ministério do Meio Ambiente - Unidades com vínculo direto',
       'Fundo Nacional sobre Mudança no Clima',
       'Fundo Nacional de Cultura', 'Fundo Geral de Turismo',
       'Fundação Biblioteca Nacional', 'Agência Nacional do Cinema',
       'Fundação Cultural Palmares', 'Instituto Brasileiro de Museus',
       'Instituto do Patrimônio Histórico e Artístico Nacional',
       'Instituto Brasileiro de Turismo',
       'Ministério do Turismo - Unidades com vínculo direto',
       'Fundação Nacional de Artes', 'Fundação Casa de Rui Barbosa',
       'Presidência da República', 'Fundo de Imprensa Nacional',
       'Gabinete da Vice-Presidência da República',
       'Instituto Nacional de Tecnologia da Informação'], dtype=object)

Los 10 NOMBRE_ÓRGANO que MAS aparecen son:

                                                    count  Porcentaje_recuento
NOMBRE_ÓRGANO
Ministério da Economia - Unidades com vínculo d...  22686                15.94
Fundo do Exército                                    4091                 2.87
Comando da Marinha - Fundo Naval                     3930                 2.76
Fundo do Regime Geral da Previdência Social          2455                 1.72
Instituto Brasileiro do Meio Ambiente e dos Rec...   2205                 1.55
Agência Nacional de Mineração                        2031                 1.43
Fundo Nacional de Desenvolvimento Científico e ...   2013                 1.41
Fundo Nacional de Cultura                            1889                 1.33
Fundo Aeronáutico                                    1881                 1.32
Empresa Brasileira de Pesquisa Agropecuária          1847                 1.30

Los 10 NOMBRE_ÓRGANO que MENOS aparecen son:

                                                    count  Porcentaje_recuento
NOMBRE_ÓRGANO
Agência Espacial Brasileira                             4                 0.00
Companhia de Entrepostos e Armazéns Gerais de S...      3                 0.00
Ministério da Mulher, Família e Direitos Humano...      2                 0.00
Controladoria-Geral da União - Unidades com vín...      1                 0.00
Fundo Contingente da Extinta RFFSA-FCMP                 1                 0.00
Reserva de Contingência                                 1                 0.00
UNIVERSIDADE FEDERAL DO AGRESTE DE PERNAMBUCO           1                 0.00
Companhia Docas do Rio Grande do Norte                  1                 0.00
Fundação Cultural Palmares                              1                 0.00
Gabinete da Vice-Presidência da República               1                 0.00

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO son:

       count  % repetición
count
1          7          2.76
33         3          1.18
61         2          0.79
55         2          0.79
42         2          0.79
...      ...           ...
9          1          0.39
5          1          0.39
4          1          0.39
3          1          0.39
2          1          0.39

[218 rows x 2 columns]

None
La categoría CÓDIGO_UNIDAD_GESTORA tiene 272 elementos diferentes:

Los elementos de la categoría son:

array(['110060', '370001', '373001', '135037', '135100', '130101',
       '440088', '130137', '490003', '330013', '550002', '240102',
       '240901', '113209', '203001', '364001', '364999', '245209',
       '365001', '167086', '121002', '673001', '110407', '873001',
       '211999', '120002', '168002', '773001', '160075', '120999',
       '123001', '773008', '699999', '773009', '164204', '183023',
       '170013', '170010', '173057', '806001', '513001', '173030',
       '380910', '510001', '173065', '201924', '114601', '287001',
       '179083', '225001', '113601', '170380', '170008', '179103',
       '193028', '114702', '170392', '170381', '183038', '264001',
       '390001', '333001', '170356', '173039', '155007', '153079',
       '153173', '153103', '153163', '155001', '153046', '153056',
       '153062', '153080', '153032', '158131', '158121', '154046',
       '158137', '154040', '153115', '158150', '154055', '158151',
       '153114', '158123', '154045', '154502', '158148', '158717',
       '153045', '154032', '158565', '158099', '158128', '158515',
       '153028', '154503', '158127', '154080', '158147', '154039',
       '153036', '153164', '158135', '154042', '153035', '153038',
       '156687', '158718', '158146', '154054', '153166', '158139',
       '153063', '158157', '158141', '158129', '154999', '158133',
       '158154', '158720', '154047', '153019', '153165', '154048',
       '158126', '158517', '153167', '153015', '153031', '153061',
       '158142', '344002', '158124', '153033', '153030', '154044',
       '154421', '158658', '158132', '154043', '154003', '158143',
       '154034', '154069', '154359', '153037', '158155', '158136',
       '153065', '158516', '158274', '158134', '154419', '158719',
       '158195', '153010', '158092', '154041', '154051', '158122',
       '158138', '156680', '158009', '154050', '153978', '158153',
       '153052', '158145', '158125', '154049', '150014', '158152',
       '153034', '158149', '158144', '158156', '154215', '113214',
       '200320', '393001', '393003', '275075', '396005', '682010',
       '395001', '277001', '390002', '110591', '396002', '200333',
       '200246', '200336', '200331', '303001', '200401', '194088',
       '194040', '200094', '200278', '307002', '307001', '810002',
       '255014', '250088', '253003', '255011', '254420', '255000',
       '366003', '255003', '253002', '255008', '255015', '413047',
       '413001', '410007', '242160', '115406', '110244', '244001',
       '240005', '323100', '323030', '325001', '495001', '323028',
       '320002', '113208', '113206', '275068', '195006', '537002',
       '533009', '533014', '113802', '537003', '537004', '443003',
       '537001', '533013', '530002', '533018', '533008', '275060',
       '560015', '193034', '443032', '443019', '193183', '443045',
       '440002', '447001', '193112', '193107', '340002', '540030',
       '187002', '344042', '203003', '344041', '423001', '403101',
       '185001', '540001', '403201', '344001', '110005', '110245',
       '110101', '243001'], dtype=object)

Los 10 CÓDIGO_UNIDAD_GESTORA que MAS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
170013                 21074                14.80
167086                  4091                 2.87
673001                  3288                 2.31
513001                  2455                 1.72
193034                  2197                 1.54
323100                  2031                 1.43
240901                  2013                 1.41
121002                  1881                 1.32
135037                  1847                 1.30
183023                  1817                 1.28

Los 10 CÓDIGO_UNIDAD_GESTORA que MENOS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
370001                     1                 0.00
158274                     1                 0.00
390001                     1                 0.00
396005                     1                 0.00
255015                     1                 0.00
255008                     1                 0.00
255011                     1                 0.00
255014                     1                 0.00
255003                     1                 0.00
173065                     1                 0.00

 Las distribución de las repeticiones de los CÓDIGO_UNIDAD_GESTORA son:

       count  % repetición
count
1         13          4.78
195        3          1.10
6          3          1.10
168        3          1.10
33         3          1.10
...      ...           ...
24         1          0.37
5          1          0.37
9          1          0.37
11         1          0.37
3          1          0.37

[227 rows x 2 columns]

None
La categoría NOMBRE_UNIDAD_GESTORA tiene 270 elementos diferentes:

Los elementos de la categoría son:

array(['COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU',
       'DIRETORIA DE GESTAO INTERNA(CGU)',
       'DPTO. DE ADMINISTRACAO FINANCEIRA-DAF - INCRA',
       'EMBRAPA-SETORIAL', 'COMPANHIA NACIONAL DE ABASTECIMENTO',
       'COORD.-GERAL DE ORCAMENTO E FINANCAS-MAPA',
       'SETORIAL PROG.ORCAMENTARIA E FINANCEIRA-SFB',
       'FUNDO DE DEFESA DA ECON.CAFEEIRA/FUNCAFE/SPA',
       'CREDITO FUNDIARIO', 'FUNDO NACIONAL DE ASSISTENCIA SOCIAL',
       'SETORIAL DE ORCAMENTO E FINANCAS/MC',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS',
       'FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO',
       'CNEN-ORCAMENTO E FINANCAS', 'AGENCIA ESPACIAL BRASILEIRA/AEB',
       'CNPQ - ADMINISTRACAO CENTRAL', 'CNPQ - DIFERENCIA CAMBIAL',
       'CENTRO NACIONAL DE TECNOLOGIA ELETRONICA AVAN',
       'FINANCIADORA DE ESTUDOS E PROJETOS', 'FUNDO DO EXERCITO',
       'SECRETARIA DE ECON. E FIN.DA AER.- F.AER.',
       'DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM',
       'DEPARTAMENTO DE PLANEJ, ORC E FINANCAS (MD)',
       'MARINHA - DIFERENCA CAMBIAL',
       'DIRETORIA DE ECON E FINANCAS DA AERONAUTICA',
       'INDUSTRIA DE MATERIAL BELICO DO BRASIL/GESTOR',
       'DIRETORIA DE FINANCAS DA MARINHA-SISTEMA-PAIS',
       'D CONT - SETORIAL FINANCEIRA', 'MAER - DIFERENCA CAMBIAL',
       'CAIXA FINANCIAMENTO IMOBILIARIO AERONAUTICA',
       'DIRETORIA DE FINANCAS DA MARINHA - CCCPM',
       'FUNDO NAVAL - DIFERENCA CAMBIAL',
       'DIRETORIA DE FINANCAS DA MARINHA - AMAZUL', 'FUNDACAO OSORIO',
       'INSTITUTO NAC.DE METROLOG. QUALID. E TECNOLOG',
       'SETORIAL ORCAMENTARIA E FINANCEIRA / ME',
       'SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB',
       'BANCO CENTRAL DO BRASIL', 'SERPRO-SEDE - DEPARTAMENTO FINANCEIRO',
       'COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS',
       'COMISSAO DE VALORES MOBILIARIOS',
       'COORD-GERAL DE ORCAMENTO, FIN. E CONT.- CGOFC',
       'COORD.GERAL DE ORCAMENTO, FINANCAS E CONTAB.',
       'FUNDO CONTINGENTE DA EXTINTA RFFSA-FC',
       'FUNDO NACIONAL DE DESENVOLVIMENTO',
       'FUNDACAO IBGE-ADMINISTRACAO CENTRAL/RJ',
       'FUNDO DE GAR.P/PROMOC.DA COMPETITIVIDADE±FGPC',
       'CASA DA MOEDA DO BRASIL',
       'CIA.DE ENTREPOSTOS E ARMAZENS GER.DE S.PAULO',
       'INSTITUTO DE PESQUISA ECONOMICA APLICADA',
       'FUNDO DE APOIO AO DESENVOLVIMENTO SOCIAL',
       'PROCURADORIA GERAL DA FAZENDA NACIONAL',
       'FUNDO DE ESTABILIDADE DO SEGURO RURAL',
       'SUPERINTENDENCIA DA ZONA FRANCA DE MANAUS/AM',
       'FUNDACAO ESCOLA NACIONAL DE ADM. PUBLICA',
       'FUNDO CONSTITUCIONAL DO DISTRITO FEDERAL',
       'FUNDO DE COMPENSACAO E VARIACAO SALARIAL',
       'INSTITUTO NACIONAL DA PROPRIEDADE INDUSTRIAL',
       'FUNDACENTRO - FUND.JORGE DUPRAT/CTN/SEDE - SP',
       'RESERVA DE CONTINGENCIA/MEFP',
       'COORD.GERAL DE ORC. FIN. E CONTABILIDADE',
       'FUNDO DE GARANTIA A EXPORTACAO-BNDES',
       'SUPERINTENDENCIA DE SEGUROS PRIVADOS - RJ',
       'EMPRESA BRASILEIRA DE SERVICOS HOSPITALARES',
       'UNIVERSIDADE FEDERAL DO PARANA',
       'FUNDO NACIONAL DE DESENVOLVIMENTO DA EDUCACAO',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO NORTE',
       'UNIVERSIDADE FEDERAL DE SANTA CATARINA',
       'HOSPITAL DE CLINICAS DE PORTO ALEGRE',
       'UNIVERSIDADE FEDERAL DO ESPIRITO SANTO',
       'UNIVERSIDADE FEDERAL FLUMINENSE',
       'UNIVERSIDADE FEDERAL DE MINAS GERAIS',
       'UNIVERSIDADE FEDERAL DE PERNAMBUCO',
       'UNIVERSIDADE FEDERAL DE LAVRAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TOCANTINS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO NORTE DE MG',
       'UNIVERSIDADE FEDERAL DE OURO PRETO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO SUL DE MG',
       'FUNDACAO UNIVERSIDADE DE BRASILIA - FUB',
       'UNIVERSIDADE FEDERAL DO RIO DE JANEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAPA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE RONDONIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ESP.SANTO',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO SUL',
       'INSTITUTO FED CIENCIA TECNOL SUDESTE MG',
       'FUNDACAO UNIVERSIDADE FEDERAL DE MATO GROSSO',
       'FUNDACAO UNIVERSIDADE FED. DA GRANDE DOURADOS',
       'INST. FED. DE EDUC.,CIENC. E TEC. DE RONDONIA',
       'UNIVERSIDADE FEDERAL DO OESTE DA BAHIA',
       'UNIVERSIDADE FEDERAL DO CEARA',
       'FUND.UNIV.FED.DE.CIENC.DA SAUDE DE P.ALEGRE',
       'UNIV.DA INTEG.INTERN.DA LUSOF.AFRO-BRASILEIRA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TRIA.MINEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MARANHAO',
       'UNIVERSIDADE FEDERAL DO OESTE DO PARA',
       'UNIVERSIDADE FEDERAL DE ALFENAS',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ABC',
       'INST.FED.DE EDUC.,CIENC.E TEC.FARROUPILHA',
       'UNIVERSIDADE FEDERAL DE RORAIMA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE ALAGOAS',
       'FUNDACAO UNIVERSIDADE DO AMAZONAS',
       'UNIVERSIDADE FED.VALES JEQUITINHONHA E MUCURI',
       'UNIVERSIDADE FEDERAL DE SANTA MARIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PARA',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE - FURG',
       'UNIVERSIDADE FEDERAL DO TRIANGULO MINEIRO',
       'UNIVERSIDADE FEDERAL DA BAHIA',
       'UNIVERSIDADE FEDERAL DO AGRESTE DE PERNAMBUCO',
       'UNIVERSIDADE FEDERAL DO SUL E SUDESTE DO PARA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PIAUI',
       'FUNDACAO UNIVERS.FED. DE MATO GROSSO DO SUL',
       'UNIVERSIDADE FEDERAL RURAL DO RIO DE JANEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.FLUMINENSE',
       'UNIVERSIDADE FEDERAL DO PARA', 'REITORIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RS',
       'INST FED DE EDUC CIENC E TECNOLOGIA BAIANO',
       'CAPES - DIFERENCA CAMBIAL',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO CEARA',
       'INSTITUTO FEDERAL DE SAO PAULO',
       'UNIVERSIDADE FEDERAL DO SUL DA BAHIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE PELOTAS',
       'UNIVERSIDADE TECNOLOGICA FEDERAL DO PARANA',
       'UNIVERSIDADE FEDERAL RURAL DE PERNAMBUCO',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PIAUI',
       'INST.FED.DE EDUC.,CIE.E TEC.SUL-RIO-GRANDENSE',
       'UNIVERSIDADE FEDERAL DA FRONTEIRA SUL', 'COLEGIO PEDRO II',
       'CENTRO FEDERAL DE EDUCACAO TECNOLOGICA DE MG',
       'UNIFESP-UNIVERSIDADE FEDERAL DE SAO PAULO',
       'UNIVERSIDADE FEDERAL DE JUIZ DE FORA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAZONAS',
       'FUNDACAO JOAQUIM NABUCO', 'IF GOIANO',
       'UNIVERSIDADE FEDERAL RURAL DO SEMI-ARIDO - RN',
       'UNIVERSIDADE FEDERAL DE ITAJUBA',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ACRE',
       'FUND. UNIVERSIDADE FEDERAL VALE SAO FRANCISCO',
       'UNIV. FEDERAL DA INTEGRACAO LATINO-AMERICANA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MAT.G.DO SUL',
       'FUNDACAO UNIVERSIDADE FEDERAL DE UBERLANDIA',
       'FUND.COORD.DE APERF.DE PESSOAL NIVEL SUPERIOR',
       'IFB - REITORIA - BRASILIA-DF',
       'UNIRIO UNIVERSIDADE FEDERAL DO ESTADO RJ',
       'FUNDACAO UNIVERSIDADE FEDERAL DE S.J.DEL-REI',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PAMPA',
       'UNIVERSIDADE FEDERAL DE ALAGOAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RN',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE PERNAMBUCO',
       'UNIVERSIDADE FEDERAL DA PARAIBA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE STA.CAT/IFSC',
       'INST.FED. FLUMINENSE/CAMPUS CAMPOS-CENTRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE SERGIPE',
       'FUNDACAO UNIVERSIDADE FEDERAL DO TOCANTINS',
       'UNIVERSIDADE FEDERAL DO CARIRI',
       'UNIVERSIDADE FEDERAL DE CAMPINA GRANDE',
       'CENTRO FED.DE EDUC.TECNOL.CELSO S.DA FONSECA',
       'UNIVERSIDADE FEDERAL DO RECONCAVO DA BAHIA',
       'FUNDACAO UNIVERSIDADE DO MARANHAO',
       'UNIVERSIDADE FEDERAL DE VICOSA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE MINAS GERAIS', 'IFPB - REITORIA',
       'UNIVERSIDADE FEDERAL DO DELTA DO PARNAIBA',
       'INST. FED. DO PARANA/ REITORIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SERGIPE',
       'INST.NACIONAL DE EST.E PESQUISAS EDUCACIONAIS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE GOIAS',
       'UNIVERSIDADE FEDERAL DE GOIAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DA BAHIA',
       'INSTITUTO FEDERAL CATARINENSE - REITORIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SAO CARLOS',
       'SUBSECRETARIA DE PLANEJ. E ORCAMENTO SPO(MEC)',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE RORAIMA',
       'UNIVERSIDADE FEDERAL RURAL DA AMAZONIA',
       'INST.FED.DE ED.,CIENC.E TEC.DO S.PERNAMBUCANO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MATO GROSSO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ACRE',
       'FUNDACAO UNIVERSIDADE FEDERAL DO AMAPA',
       'AGENCIA NACIONAL DE AVIACAO CIVIL',
       'FUNDO NACIONAL DE SEG. E EDUCACAO DE TRANSITO',
       'AGENCIA NACIONAL DE TRANSPORTES TERRESTRES',
       'DEPART.NAC.INFRA ESTRUTURA TRANSPORTES.',
       'VALEC ENGENHARIA CONSTRUCOES E FERROVIAS S/A.',
       'COMPANHIA DOCA DO RIO GRANDE DO NORTE',
       'AGENCIA NACIONAL DE TRANSPORTES AQUAVIARIOS',
       'EMPRESA DE PLANEJAMENTO E LOGISTICA S.A - EPL',
       'FUNDO DA MARINHA MERCANTE',
       'SUBSECRETARIA DE PLAN.,ORCAM.E ADMIN.SETORIAL',
       'FUNDO NACIONAL DE AVIACAO CIVIL',
       'COMPANHIA DOCAS DO ESTADO DA BAHIA',
       'DEPEN - DIRETORIA EXECUTIVA', 'FUNDO NACIONAL ANTIDROGAS',
       'COORDENACAO DE ORCAMENTO FINANCAS CONTABILIDA',
       'FUNDO NACIONAL DE SEGURANCA PUBLICA - FNSP',
       'CONSELHO ADMINISTRATIVO DE DEFESA ECONOMICA',
       'FUNDO DE DEFESA DOS DIREITOS DIFUSOS',
       'FUNDACAO NACIONAL DO INDIO - U.O.',
       'RENDA DO PATRIMONIO INDIGENA',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MJ',
       'COORDENACAO DE ORCAMENTO E FINANCAS - PRF',
       'FUNDO NACIONAL DO IDOSO',
       'FUNDO NACIONAL PARA A CRIANCA E O ADOLESCENTE',
       'SETORIAL ORCAMENTARIA E FINANCEIRA - MDH',
       'FUNDACAO NACIONAL DE SAUDE - PA',
       'SPO-COORD.-GERAL DE ORC.E FINANCAS/MS',
       'AGENCIA NACIONAL DE SAUDE SUPLEMENTAR',
       'FUNDACAO NACIONAL DE SAUDE - MT', 'FUNDACAO OSWALDO CRUZ',
       'FUNDACAO NACIONAL DE SAUDE - DF',
       'HOSPITAL NOSSA SENHORA DA CONCEICAO S/A',
       'FUNDACAO NACIONAL DE SAUDE - AP',
       'AGENCIA NACIONAL DE VIGILANCIA SANITARIA',
       'FUNDACAO NACIONAL DE SAUDE - ES',
       'FUNDACAO NACIONAL DE SAUDE - PB',
       'FUNDO DE UNIVERS.DOS SERV.TELECOMUNICACOES',
       'AGENCIA NACIONAL DE TELECOMUNICACOES-SEDE',
       'FUNDO P/O DESENV.TECNOL.DAS TELECOMUNICACOES',
       'TELECOMUNICACOES BRASILEIRAS S/A',
       'EMPRESA BRASIL DE COMUNICACAO S.A',
       'FUNDACAO ALEXANDRE DE GUSMAO',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MRE',
       'SETORIAL ORCAMENTARIA E FINANCEIRA - ANM',
       'AG. NAC.DO PETROLEO GAS NAT.E BIOCOM',
       'EMPRESA DE PESQUISA ENERGETICA',
       'COMPANHIA DE PESQUISA DE RECURSOS MINERAIS',
       'AGENCIA NACIONAL DE ENERGIA ELETRICA',
       'COORD.GERAL DE ORCAM.E FIN./M.M.E',
       'NUCLEBRAS EQUIPAMENTOS PESADOS S/A-NUCLEP',
       'INDUSTRIAS NUCLEARES DO BRASIL S/A - INB',
       'CIA BRASILEIRA DE TRENS URBANOS-ADM.CENTRAL',
       'CIA DE DES.DOS VALES DO S.FRANC.E DO PARNAIBA',
       'FUNDO CONSTITUCIONAL FINANCIAMENTO NORTE',
       'FUNDO DE DESENVOLVIMENTO DO NORDESTE',
       'SUPERINTENDENCIA DO DESENVOLV. DO NORDESTE',
       'DEPARTAMENTO NAC. DE OBRAS CONTRA AS SECAS/UO',
       'FUNDO CONSTITUCIONL DO CENTRO OESTE',
       'FUNDO DE DESENVOLVIMENTO DO CENTRO-OESTE',
       'COORDENACAO DE ORCAMENTO E FINANCAS.',
       'FUNDO CONSTITUCIONAL DE FINANCIAM.DO NORDESTE',
       'SUPERINTEND. DO DESENVOLVIMENTO DA AMAZONIA',
       'ORCAMENTO E FINANCAS/MDR',
       'SUPERINT. DO DESENVOLVIMENTO DO CENTRO-OESTE',
       'FUNDO DE DESENVOLVIMENTO DA AMAZONIA',
       'EMPRESA DE TRENS URBANOS DE PORTO ALEGRE S/A',
       'FUNDO NACIONAL DE HABIT. DE INTERESSE SOCIAL',
       'IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ',
       'INST.CHICO MENDES DE CONSER.DA BIODIVERSIDADE',
       'COORD. DE PLAN. ORCAMENTO E FIN./COPLAN/JBRJ',
       'IBAMA - SUPERINTENDENCIA DO TOCANTINS/TO',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMA',
       'SUBSECRET.PLANEJAM.ORCAM.E ADMINIST±SPOA(MMA)',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMC',
       'IBAMA - SUPERINTENDENCIA MATO GROSSO SUL/MS',
       'IBAMA - SUPERINTENDENCIA DO ESPIRITO SANTO/ES',
       'COORD.GERAL DE PLAN. ORC. FIN. E CONTAB/FNC',
       'FUNDO NACIONAL DA CULTURA - FNC',
       'FUNDO GERAL DE TURISMO-FUNGETUR', 'FUNDACAO BIBLIOTECA NACIONAL',
       'AGENCIA NACIONAL DO CINEMA', 'FUNDACAO CULTURAL PALMARES',
       'INSTITUTO BRASILEIRO DE MUSEUS - IBRAM',
       'INSTITUTO DO PATRIMONIO HIST. E ART. NACIONAL',
       'INSTITUTO BRASILEIRO DE TURISMO - EM EXTINCAO',
       'CGOFC - SETORIAL/MTUR', 'FUNDACAO NACIONAL DE ARTES',
       'FUNDACAO CASA DE RUI BARBOSA',
       'SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR',
       'FUNDO DE IMPRENSA NACIONAL/EXEC.ORC.FINANC.',
       'GABINETE DA VICE-PRESIDENCIA DA REPUBLICA',
       'INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI'], dtype=object)

Los 10 NOMBRE_UNIDAD_GESTORA que MAS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
SETORIAL ORCAMENTARIA E FINANCEIRA / ME        21074                14.80
FUNDO DO EXERCITO                               4091                 2.87
DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM    4047                 2.84
COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS    2455                 1.72
IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ    2197                 1.54
SETORIAL ORCAMENTARIA E FINANCEIRA - ANM        2031                 1.43
FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO       2013                 1.41
SECRETARIA DE ECON. E FIN.DA AER.- F.AER.       1881                 1.32
EMBRAPA-SETORIAL                                1847                 1.30
INSTITUTO NAC.DE METROLOG. QUALID. E TECNOLOG   1817                 1.28

Los 10 NOMBRE_UNIDAD_GESTORA que MENOS aparecen son:

                                           count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
FUNDACAO NACIONAL DE SAUDE - PA                1                 0.00
FUNDACAO NACIONAL DE SAUDE - MT                1                 0.00
FUNDACAO NACIONAL DE SAUDE - PB                1                 0.00
FUNDACAO NACIONAL DE SAUDE - ES                1                 0.00
FUNDACAO NACIONAL DE SAUDE - AP                1                 0.00
FUNDO CONTINGENTE DA EXTINTA RFFSA-FC          1                 0.00
RESERVA DE CONTINGENCIA/MEFP                   1                 0.00
FUNDACAO CULTURAL PALMARES                     1                 0.00
DIRETORIA DE GESTAO INTERNA(CGU)               1                 0.00
GABINETE DA VICE-PRESIDENCIA DA REPUBLICA      1                 0.00

 Las distribución de las repeticiones de los NOMBRE_UNIDAD_GESTORA son:

       count  % repetición
count
1         13          4.81
168        3          1.11
33         3          1.11
195        3          1.11
2          3          1.11
...      ...           ...
24         1          0.37
5          1          0.37
9          1          0.37
11         1          0.37
3          1          0.37

[225 rows x 2 columns]

None
La categoría CATEGORÍA_ECONÓMICA tiene 5 elementos diferentes:

Los elementos de la categoría son:

array(['Receitas Correntes', 'Receitas de Capital',
       'Receitas Correntes - intra-orçamentárias',
       'Receitas de Capital - intra-orçamentárias', 'Sem informação'],
      dtype=object)

Los 10 CATEGORÍA_ECONÓMICA que MAS aparecen son:

                                            count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                         135172                94.96
Receitas de Capital                          4725                 3.32
Receitas Correntes - intra-orçamentárias     2416                 1.70
Sem informação                                 19                 0.01
Receitas de Capital - intra-orçamentárias      16                 0.01

Los 10 CATEGORÍA_ECONÓMICA que MENOS aparecen son:

                                            count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                         135172                94.96
Receitas de Capital                          4725                 3.32
Receitas Correntes - intra-orçamentárias     2416                 1.70
Sem informação                                 19                 0.01
Receitas de Capital - intra-orçamentárias      16                 0.01

 Las distribución de las repeticiones de los CATEGORÍA_ECONÓMICA son:

        count  % repetición
count
135172      1         20.00
4725        1         20.00
2416        1         20.00
19          1         20.00
16          1         20.00

None
La categoría ORIGEN_INGRESO tiene 15 elementos diferentes:

Los elementos de la categoría son:

array(['Outras Receitas Correntes', 'Operações de Crédito',
       'Contribuições', 'Receita Patrimonial',
       'Impostos, Taxas e Contribuições de Melhoria',
       'Receita Industrial', 'Alienação de Bens', 'Receita de Serviços',
       'Transferências Correntes', 'Receita Agropecuária',
       'Transferências de Capital', 'Amortizações de Empréstimos',
       'Receitas Correntes - a classificar', 'Outras Receitas de Capital',
       'Sem informação'], dtype=object)

Los 10 ORIGEN_INGRESO que MAS aparecen son:

                                             count  Porcentaje_recuento
ORIGEN_INGRESO
Outras Receitas Correntes                    42127                29.59
Receita de Serviços                          39480                27.73
Receita Patrimonial                          23763                16.69
Impostos, Taxas e Contribuições de Melhoria  13670                 9.60
Contribuições                                13027                 9.15
Receita Industrial                            2551                 1.79
Receita Agropecuária                          1875                 1.32
Amortizações de Empréstimos                   1840                 1.29
Alienação de Bens                             1709                 1.20
Operações de Crédito                           990                 0.70

Los 10 ORIGEN_INGRESO que MENOS aparecen son:

                                    count  Porcentaje_recuento
ORIGEN_INGRESO
Receita Industrial                   2551                 1.79
Receita Agropecuária                 1875                 1.32
Amortizações de Empréstimos          1840                 1.29
Alienação de Bens                    1709                 1.20
Operações de Crédito                  990                 0.70
Transferências Correntes              830                 0.58
Receitas Correntes - a classificar    265                 0.19
Outras Receitas de Capital            174                 0.12
Transferências de Capital              28                 0.02
Sem informação                         19                 0.01

 Las distribución de las repeticiones de los ORIGEN_INGRESO son:

       count  % repetición
count
42127      1          6.67
39480      1          6.67
23763      1          6.67
13670      1          6.67
13027      1          6.67
2551       1          6.67
1875       1          6.67
1840       1          6.67
1709       1          6.67
990        1          6.67
830        1          6.67
265        1          6.67
174        1          6.67
28         1          6.67
19         1          6.67

None
La categoría TIPO_INGRESO tiene 45 elementos diferentes:

Los elementos de la categoría son:

array(['Indenizações, restituições e ressarcimentos',
       'Operações de crédito - mercado interno', 'Contribuições sociais',
       'Demais receitas correntes', 'Valores Mobiliários', 'Taxas',
       'Exploração do patrimônio imobiliário do Estad',
       'Receita Industrial', 'Alienação de bens móveis',
       'Multas administrativas, contratuais e judicia', 'Outros serviços',
       'Exploração de recursos naturais', 'Transferências de Convênios',
       'Serviços Administrativos e Comerciais Gerais',
       'Operações de crédito - mercado externo',
       'Transferências de Instituições Privadas',
       'Alienação de bens imóveis', 'Receita Agropecuária',
       'Contribuições econômicas',
       'Transferências dos Estados e do Distrito Fede',
       'Amortizações de Empréstimos', 'Serviços e Atividades Financeiras',
       'Receitas Correntes - a classificar',
       'Indenizações e restituições',
       'Transferências da União e de suas Entidades',
       'Bens, Direitos e Valores Incorporados ao Patr',
       'Transferências Provenientes de Depósito Não I',
       'Demais receitas patrimoniais',
       'Delegação de Serviços Públicos Mediante Conce',
       'Receita de concessões e permissões',
       'Exploração do patrimônio intangível',
       'Serviços e Atividades Referentes à Saúde', 'Cessão de direitos',
       'Serviços e Atividades Referentes à Navegação ',
       'Transferências dos Municípios e de suas Entid',
       'Transferências de Pessoas Físicas', 'Impostos',
       'Remuneração das Disponibilidades do Tesouro', 'Sem informação',
       'Transferências do Exterior',
       'Contribuições para Entidades Privadas de Serv',
       'Resultado do Banco Central do Brasil',
       'Transferências de Outras Instituições Pública',
       'Alienação de bens intangíveis', 'Resgate de Títulos do Tesouro'],
      dtype=object)

Los 10 TIPO_INGRESO que MAS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Serviços Administrativos e Comerciais Gerais   33271                23.37
Multas administrativas, contratuais e judicia  16656                11.70
Indenizações, restituições e ressarcimentos    16587                11.65
Exploração do patrimônio imobiliário do Estad  11443                 8.04
Taxas                                          11068                 7.78
Demais receitas correntes                       7479                 5.25
Contribuições sociais                           6727                 4.73
Contribuições econômicas                        6285                 4.42
Valores Mobiliários                             5376                 3.78
Exploração de recursos naturais                 3847                 2.70

Los 10 TIPO_INGRESO que MENOS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Transferências da União e de suas Entidades       35                 0.02
Sem informação                                    19                 0.01
Contribuições para Entidades Privadas de Serv     15                 0.01
Alienação de bens intangíveis                     11                 0.01
Transferências de Convênios                        8                 0.01
Exploração do patrimônio intangível                7                 0.00
Transferências do Exterior                         4                 0.00
Resultado do Banco Central do Brasil               2                 0.00
Resgate de Títulos do Tesouro                      2                 0.00
Transferências de Outras Instituições Pública      1                 0.00

 Las distribución de las repeticiones de los TIPO_INGRESO son:

       count  % repetición
count
2          2          4.44
33271      1          2.22
16587      1          2.22
16656      1          2.22
11068      1          2.22
7479       1          2.22
6727       1          2.22
6285       1          2.22
5376       1          2.22
3847       1          2.22
2602       1          2.22
11443      1          2.22
2551       1          2.22
2392       1          2.22
1875       1          2.22
2262       1          2.22
1438       1          2.22
1325       1          2.22
1232       1          2.22
1840       1          2.22
1189       1          2.22
594        1          2.22
466        1          2.22
450        1          2.22
396        1          2.22
317        1          2.22
265        1          2.22
1190       1          2.22
242        1          2.22
180        1          2.22
170        1          2.22
175        1          2.22
80         1          2.22
78         1          2.22
61         1          2.22
135        1          2.22
35         1          2.22
19         1          2.22
11         1          2.22
15         1          2.22
8          1          2.22
7          1          2.22
4          1          2.22
1          1          2.22

None
La categoría DETALLE tiene 625 elementos diferentes:

Los elementos de la categoría son:

array(['RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA',
       'TITULOS DE RESPONS.TES.NAC.-MERC.INT.-PRINC.',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-DIVIDA ATIVA',
       'OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL',
       'OUTRAS RECEITAS-PRIMARIAS-MULTAS E JUROS',
       'REMUNERACAO DE DEPOSITOS BANCARIOS-PRINCIPAL',
       'TAXAS INSPEÇÃO,CONTROLE E FISCALIZAÇÃO-PRINC.',
       'ALUGUÉIS E ARRENDAMENTOS-PRINCIPAL-INTRA',
       'OUTROS RESSARCIMENTOS-PRINCIPAL', 'OUTRAS INDENIZACOES-PRINCIPAL',
       'OUTRAS RESTITUICOES-MULTAS E JUROS',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-PRINCIPAL',
       'TITULOS DA DIVIDA AGRARIA-TDA-PRINCIPAL',
       'RECEITA INDUSTRIAL-PRINCIPAL',
       'OUTRAS RECEITAS-PRIMÁRIAS-PRINCIPAL-INTRA',
       'ALIENACAO DE BENS MOVEIS E SEMOVENTES-PRINC.',
       'OUTROS RESSARCIMENTOS-MULTAS E JUROS',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS-MUL.JUR',
       'OUTROS SERVICOS-PRINCIPAL',
       'CONCESSAO FLOREST.NACIONAIS-DEM.VAL.-MUL.JUR.',
       'CONCESSAO FLORESTAS NACIONAIS-DEM.VAL.-PRINC.',
       'CONCESSAO FLORESTAS NACIONAIS-VAL.MIN.-PRINC.',
       'CONCESSAO FLOREST.NACIONAIS-VAL.MIN.-MUL.JUR.',
       'TRANSFERENCIAS DO EXTERIOR-PRINCIPAL',
       'SERVICOS DE INFORMACAO E TECNOLOGIA-PRINCIPAL',
       'OP.DE CREDITO CONTRATUAIS-MERC.EXTERNO-PRINC.',
       'SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.',
       'TRANSFERENCIAS DE INSTITUICOES PRIVADAS-PRINC',
       'ALIENACAO DE BENS IMOVEIS-MULTAS', 'DIVIDENDOS-PRINCIPAL',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-PARCEL.-PRINC.',
       'TX.CONTR.E FISC.PESCA E AQUICULTURA-MUL.JUR.',
       'RECEITA AGROPECUÁRIA-MULTAS E JUROS',
       'ALIENAÇÃO DE BENS IMÓVEIS-JUROS',
       'ALIENACAO DE ESTOQUES DA PGPM-PRINCIPAL',
       'ALUGUEIS E ARRENDAMENTOS-MULTAS E JUROS',
       'TAXAS INSPEÇÃO,CONTROLE E FISCALIZ.-MUL.JUR.',
       'CONTR.S/APOSTAS EM COMPETIÇÕES HÍPICAS-PRINC.',
       'ADICIONAL À CONTR.PREVIDENCIÁRIA RURAL-PRINC.',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-MULTAS E JUROS',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-MUL.JUR',
       'SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL',
       'OUTRAS RESTITUICOES-PRINCIPAL',
       'SERV.DE REGIST.,CERTIF.E FISCALIZ.-MUL.JUR.',
       'ALUGUEIS E ARRENDAMENTOS-PRINCIPAL',
       'ALIENACAO DE TITULOS MOBILIARIOS-PRINCIPAL',
       'TX.CONTR.E FISC.PESCA E AQUICULTURA-PRINC.',
       'TRANSF.DOS ESTADOS,DF E SUAS ENTIDADES-PRINC.',
       'SERV.ADMINISTRAT.E COMERCIAIS GERAIS-MUL.JUR.',
       'INDENIZ.P/DANOS CAUSADOS AO PATR.PUB.-PRINC.',
       'AMORTIZACAO DE EMPRESTIMOS CONTRATUAIS-PRINC.',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS-PRINC.',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-DIV.AT-MUL.JUR.',
       'RETORNO DE OP.,JUR.E ENC.FINANCEIROS-PRINC.',
       'ALIENACAO DE ESTOQUES DE CAFE-FUNCAFE-DIV.AT.',
       'OUTRAS RECEITAS-FINANCEIRAS-DIVIDA ATIVA',
       'OUTRAS RECEITAS-PRIMARIAS-DIV.ATIVA-MUL.JUR.',
       'ALIENACAO DE ESTOQUES DE CAFE-FUNCAFE-PRINC.',
       'AMORTIZACAO DE FINANCIAMENTOS-PRINCIPAL',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-PRINC.',
       'RECEITA AGROPECUÁRIA-PRINCIPAL',
       'REST.DESPESAS EXERC.ANT.FIN.FTE.PRIM.-PRINC.',
       'CONTR.S/APOSTAS COMPET.HIPICAS-DIV.AT-MUL.JUR',
       'ALIENAÇÃO DE BENS IMÓVEIS-PRINCIPAL',
       'Receitas Correntes - a classificar',
       'INDENIZ.P/DANOS CAUSADOS AO PATR.PUB.-MUL.JUR',
       'OUTRAS RESTITUIÇÕES-PRINCIPAL-INTRA',
       'RESTITUICAO DE CONVENIOS-PRIMARIAS-PRINCIPAL',
       'CONT.S/APOSTAS EM COMPETICOES HIPICAS-DIV.AT.',
       'RECEITA INDUSTRIAL-MULTAS E JUROS',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-PARCEL.-MUL.JUR',
       'CONT.S/APOSTAS EM COMPETICOES HIPICAS-MUL.JUR',
       'TRANSFER.DA UNIAO E DE SUAS ENTIDADES-PRINC.',
       'REST.DESPESAS EXERC.ANT.FIN.FTE.PRIM.-MUL.JUR',
       'SERV.ADMIN.E COMERCIAIS GERAIS-PRINC.-INTRA',
       'REMUN.SALDOS RECURSOS NAO-DESEMBOLSADOS-PRINC',
       'RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-MUL.JUR.',
       'ALIEN.DE BENS E MERCADORIAS APREENDIDOS-PRINC',
       'ALIEN.BENS E MERCADORIAS APREENDIDOS-MUL.JUR.',
       'TRANSF.PROVENIENTES DEP.NAO IDENTIFIC.-PRINC.',
       'CONTRIB.S/LOTERIA PROGNÓST.ESPECÍFICO-PRINC.',
       'PART.UNIÃO EM REC.LOT.PROGN.NUMÉRICOS-PRINC.',
       'CONTRIBUIÇÃO SOBRE LOTERIAS ESPORTIVAS-PRINC.',
       'PART.UNIÃO EM REC.LOT.PROGN.ESPECÍFICO-PRINC.',
       'CONTRIB.S/LOTERIAS PROGNÓST.NUMÉRICOS-PRINC.',
       'PART.UNIÃO EM RECEITA DE LOT.ESPORTIVA-PRINC.',
       'CONC/PERM/AUT/CESSAO DIR.USO IMOV.PUB-PRINC.',
       'DEMAIS CONTRIBUIÇÕES SOCIAIS-PRINCIPAL',
       'PART.UNIÃO EM RECEITA LOT.INSTANTÂNEA-PRINC.',
       'TAXA FISCALIZ.DE FUNCIONAMENTO-PRINC.-INTRA',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELEC.-MUL.JUR',
       'CONTR.S/REC.CONCESS.PERM.ENERG.ELÉTR.-PRINC.',
       'RECEITA INDUSTRIAL-PRINCIPAL-INTRA',
       'CONTR.S/FATUR.EMPR.INFO.INST.AMAZONIA-PRINC.',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELECOM-DIV.AT',
       'TRANSF.DEL.SERV.TELEC.OU DIR.USO RADIOF-PRINC',
       'CESS.DIR.USO.RADFRQ-POSIC.ORBITAIS/DA.PRC',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELECOM-PRINC.',
       'COMPENS.FINANC.EXPL.RECURSOS MINERAIS-DIV.AT.',
       'CESSÃO DIR.USO RADIOFREQUÊNCIA-PRINC.-INTRA',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-DIV.AT.',
       'OUTRAS DELEG.DOS SERVICOS DE TELECOM-PRINC.',
       'CONTR.S/FATUR.EMPR.INFO.INST.DEM.REG.-PRINC.',
       'COTA-PARTE DO AFRMM-DIVIDA ATIVA',
       'CONTR.S/FATUR.EMPR.INFO.INST.AMAZONIA-MUL.JUR',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-MUL.JUR.',
       'OUTRAS.DLG.SV.TELEC-POSIC.ORBITAIS/PRC',
       'CONTR.S/REC.CONCESS.PERM.ENERG.ELETR.-MUL.JUR',
       'UTILIZACAO DE RECURSOS HIDRICOS-ITAIPU-PRINC.',
       'SERV.REGIST.,CERTIF.E FISCALIZ.-PRINC.-INTRA',
       'COTA-PARTE DO AFRMM-DIVIDA ATIVA-MUL.JUR.',
       'SERVICOS DE INFORMACAO E TECNOLOGIA-MUL.JUR.',
       'TX.FISC.FUNC-TFF-POSIÇÕES.ORBITAIS/PRC',
       'TX.FISC.INST-TFI-POSIÇÕES.ORBITAIS/PRC',
       'INDENIZACAO POR SINISTRO-PRINCIPAL',
       'OUTRAS.DLG.SV.TELEC-POSIC.ORBITAIS/DA.PRC',
       'CIDE-REMESSAS AO EXTERIOR-PRINCIPAL',
       'COMPENS.FINANC.EXPL.RECURSOS MINERAIS-PRINC.',
       'ROY.EXC.PETRO.PLAT-COM.ANT.3/12/12-DEM.-PRINC',
       'COTA-PARTE DO AFRMM-PRINCIPAL',
       'OUTRAS.DLG.SV.TELEC-NÃO.P.ORBITAIS/DA.PRC',
       'CESS.DIR.USO.RADFRQ-POSIC.ORBITAIS/DA.MLT+JRS',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-PRINC.',
       'TX.INSPEÇÃO,CONTROLE E FISCALIZ.-PRINC.-INTRA',
       'ROYAL.COMERC.PROD.RESULT.CRIAÇÃO PROTEG-PRINC',
       'CONTR.DESENV.ENSINO PROF.MARIT.-PARCEL-PRINC.',
       'CONTR.P/DESENV.ENSINO PROF.MARITIMO-DIV.ATIVA',
       'CONTR.P/DES.ENS.PROF.MARITIMO-DIV.AT-MUL.JUR.',
       'CONTR.DESENV.ENSINO PROF.MARIT-PARCEL-MUL.JUR',
       'CONTR.P/DESENV.ENSINO PROF.MARITIMO-MUL.JUR.',
       'CONTR.P/DESENV.ENSINO PROF.MARÍTIMO-PRINCIPAL',
       'SERV.ASSIST.MEDICO-HOSP.DO MILITAR-PRINCIPAL',
       'CESSAO DIR.OPERACIONALIZACAO PAGTOS-MUL.JUR.',
       'SERVICOS DE NAVEGACAO-PRINCIPAL',
       'SERVICOS DE TRANSPORTE-PRINCIPAL',
       'SERV.ASSIST.MEDICO-HOSP.DO MILITAR-MUL.JUR.',
       'SERV.ASSIST.SAUDE SUPLEM.SERV.CIVIL-PRINC.',
       'CONTR.P/CUST.PENS.MILIT.FORÇAS ARMADAS-PRINC.',
       'SERVICOS PORTUARIOS-PRINCIPAL', 'OUTROS SERVICOS-MULTAS E JUROS',
       'OUTRAS INDENIZAÇÕES-PRINCIPAL-INTRA',
       'EMOLUMENTOS E CUSTAS JUDICIAIS-PRINCIPAL',
       'ROY.PETRO.PLAT-COM.ANTES 3/12/12-DEMAIS-PRINC',
       'SERVIÇOS DE ATENDIMENTO A SAUDE-PRINCIPAL',
       'TRANSF.DOS MUNICIPIOS E SUAS ENTIDADES-PRINC.',
       'SERVIÇOS DE ATENDIMENTO À SAÚDE-PRINC.-INTRA',
       'DEMAIS RECEITAS PATRIMONIAIS-PRINCIPAL',
       'VARIACAO CAMBIAL-PRINCIPAL', 'OUTRAS INDENIZACOES-MULTAS E JUROS',
       'INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL',
       'CESSAO DO DIR.OPERACIONALIZACAO PAGTOS-PRINC.',
       'TAXAS PELA PRESTAÇÃO DE SERVIÇOS-PRINCIPAL',
       'TARIFA AEROPORTUARIA-PRINCIPAL',
       'TAXAS PELA PRESTAÇÃO DE SERVIÇOS-MULT.E JUROS',
       'CONTR.P/CUST.PENS.MIL.FORÇAS ARMADAS-MUL/JUR.',
       'AMORTIZACAO EMPRESTIMOS CONTRATUAIS-MUL.JUR.',
       'TRANSFERENCIAS DE PESSOAS FISICAS-PRINCIPAL',
       'IRRF-REMESSA AO EXTERIOR-PRINCIPAL',
       'DLG.SRV.TELEC-R.PUB-NÃO.P.ORBITAIS/PRC',
       'TAXA DE CONTROLE E FISC.AMBIENTAL-PRINCIPAL',
       'COFINS SOBRE O FATURAMENTO-JUROS DÍV.ATIVA',
       'DEMAIS CONTRIBUIÇÕES SOCIAIS-DÍV.AT.-MUL.JUR.',
       'CONTRIBUIÇÕES P/O RGPS-MULTAS E JUROS',
       'ONUS DE SUCUMBENCIA-PRINCIPAL',
       'RESTIT.DEC.APLIC.IRREG.REC.ELEITORAIS-MUL.JUR',
       'REVERSAO DE GARANTIAS-MULTAS E JUROS',
       'RESTITUICAO DE RECURSOS DE FOMENTO-MUL.JUR.',
       'DEMAIS CONTRIBUIÇÕES SOCIAIS-MULTAS E JUROS',
       'CSLL-PARCELAMENTOS-DÍVIDA ATIVA-MULTAS', 'IRPF-DÍVIDA ATIVA',
       'FOROS,LAUDEMIOS,TARIFAS DE OCUPACAO-DIV.ATIVA',
       'TAXA FISCALIZAÇÃO DE INSTALAÇÃO-PRINC.-INTRA',
       'CPSSS PATRONAL-SERVIDOR CIVIL-DÍV.ATIVA-INTRA',
       'TAXAS INSPEÇÃO,CONTROLE E FISCALIZAÇÃO-DÍV.AT',
       'COFINS SOBRE O FATURAMENTO-SIMPLES-JUROS',
       'MULTAS PREV.LEG.SEG.DESEMP.AB.SALAR.-MUL.JUR.',
       'CONTRIBUIÇÃO PIS/PASEP-PARCELAMENTOS-DÍV.AT.', 'IPI-BEBIDAS',
       'ITR-MUNICÍPIOS NÃO-CONVENIADOS-MULTAS DÍV.AT.',
       'TX.FISC.INST-TFI-NÃO.POSI.ORBITAIS/DA.PRC',
       'CONC/PERM/AUT/CESSAO DIR.USO IMOV.PUB-MUL.JUR',
       'IRPJ-LÍQUIDA DE INCENTIVOS-MULTAS E JUROS',
       'CONTR.S/REMUN.DEVIDA AO TRABALHADOR-PRINCIPAL',
       'CIDE-COMBUSTÍVEIS-COMERCIALIZAÇÃO-PRINCIPAL',
       'OUTRAS RECEITAS ADMINISTRADAS RFB-DIV.AT.',
       'JUROS SOBRE O CAPITAL PROPRIO-MULTAS E JUROS',
       'TX.FISC.INST-TFI-NÃO.POSI.ORBITAIS/DA.MLT+JRS',
       'CPSSS PATRONAL-SERVIDOR CIVIL-MUL.JUR.-INTRA',
       'IMPOSTO SOBRE A IMPORTAÇÃO-MULTAS E JUROS',
       'ONUS DE SUCUMBENCIA-MULTAS E JUROS',
       'CONT.MOV.TRANSM.VAL.CRED.DIR.FIN-PARC-MUL.JUR',
       'CESS.DIR.USO.RADFRQ-NÃO.P.ORBITAIS/PRC',
       'COFINS SOBRE O FATURAMENTO-PARCELAM.-PRINC.',
       'CONTRIB.PREVIDENCIÁRIA DO SEGURADO-MUL.JUR.',
       'IOF-DEMAIS OPERAÇÕES-MULTAS E JUROS',
       'CPSSS-SERV.CIVIL PENSIONISTA-SENT.JUD-PRINC.',
       'IPI-FUMO-PRINCIPAL',
       'AMORT.EMPR.-REFIN.DIV.MED.E LONGO PRAZO-PRINC',
       'IMPOSTO SOBRE A IMPORTAÇÃO-DÍVIDA ATIVA',
       'EMOLUMENTOS E CUSTAS JUDICIAIS-MULTAS E JUROS',
       'COFINS S/FATURAMENTO-PARCEL.-JUROS DÍV.ATIVA',
       'CONCESSAO DE AVAIS,GARANTIAS E SEGUROS-PRINC.',
       'RESTIT.DEC.APLIC.IRREG.REC.ELEITORAIS-PRINC.',
       'CIDE-REMESSAS AO EXTERIOR-DIVIDA ATIVA',
       'TX.CONTROLE E FISCALIZ.PROD.QUÍMICOS-PRINC.',
       'CONTR.PIS/PASEP-PARCELAMENTOS-MULTAS DÍV.AT.',
       'COFINS SOBRE O FATURAMENTO-PARCELAM.-MULTAS',
       'CONTRIBUICAO PARA O ENSINO AEROVIARIO-MUL.JUR',
       'CONTRIB.PREVIDENCIÁRIA DO SEGURADO-DÍV.ATIVA',
       'CONTRIB.SOCIAL SALÁRIO-EDUCAÇÃO-PARCEL-PRINC.',
       'CSLL-CONTRIBUINTES OPT.SIMPLES NAC-DÍV.AT-MUL',
       'CSLL-CONTRIBUINTES OPT.SIMPLES NAC.-PRINC',
       'CONT.MOV.TRANSM.VAL.CRED.DIR.FIN-PARC-DÍV.AT.',
       'CIDE-COMBUST.-COMERCIALIZACAO-JUROS DÍV.ATIVA',
       'RESSARCIMENTO DE CUSTOS-PRINCIPAL-INTRA',
       'COFINS S/FATURAMENTO-PARCEL.-MULTAS DÍV.ATIVA',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-DIV.AT.',
       'IOF-DEMAIS OPERAÇÕES-PRINCIPAL',
       'CONTR.SOCIAL SALÁRIO-EDUCAÇÃO-PARCEL.-MUL.JUR',
       'COMPENS.FIN.ENTRE RGPS E RPPS-DIV.AT-MUL.JUR.',
       'IPI-VINCULADOS À IMPORTAÇÃO-MULTAS E JUROS',
       'COFINS SOBRE O FATURAMENTO-PARCELAM.-MUL.JUR.',
       'COMPENS.FINANCEIRAS ENTRE RGPS E RPPS-MUL.JUR',
       'RESTITUICAO DE BENEFICIOS ASSISTENCIAIS-PRINC',
       'CONTRIB.PIS/PASEP-Ñ OPTANTES SIMP.NAC-PRINC.',
       'REMUN.S/REPASSE P/PROG.DESENV.ECONOMICO-PRINC',
       'COFINS SOBRE O FATURAMENTO-JUROS', 'IRPF-MULTAS DA DÍVIDA ATIVA',
       'CONTR.MOV.TRANSM.VAL.CRÉD.DIR.NAT.FIN.-PRINC.',
       'COFINS S/FATURAMENTO-SIMPLES-JUROS DÍV.ATIVA',
       'COTA-PARTE DO AFRMM-MULTAS E JUROS',
       'CESS.DIR.USO.RADFRQ-NÃO.P.ORBITAIS/PRC-INTRA',
       'IRRF-CAPITAL-MULTAS E JUROS',
       'RETORNO DE OP.,JUR.E ENC.FINANCEIROS-MUL.JUR.',
       'IRRF-REMESSA AO EXTERIOR-MULTAS E JUROS',
       'CONTRIB.SOCIAL DO SALÁRIO-EDUCAÇÃO-PRINCIPAL',
       'IPI-OUTROS PRODUTOS-PRINCIPAL',
       'CPSSS PATRONAL-SERVIDOR CIVIL-PRINC.-INTRA',
       'DLG.SRV.TELEC-R.PUB-NÃO.P.ORBITAIS/DA.PRC',
       'CPSSS PATRONAL-SENT.JUD-SERV.CIV-PRINC-INTRA',
       'IRPJ-LÍQUIDA DE INCENTIVOS-MULTAS DÍV.ATIVA',
       'REMUNER.DISPONIBILIDADES TES.NACIONAL-PRINC.',
       'RESTIT.DE BENEFICIOS PREVIDENCIARIOS-PRINC.',
       'ITR-MUNICÍPIOS NÃO-CONVENIADOS-JUROS DÍV.AT.',
       'P.ESP.PETRO.PLAT-COM.A PARTIR 3/12/12-PRINC.',
       'CPSSS PATRONAL-SERVIDOR CIVIL-MULTAS E JUROS',
       'EMOLUMENTOS E CUSTAS JUDICIAIS-PRINC.-INTRA',
       'MLT.LEI.GER.TELECOM-NÃO.P.ORBITAIS/DA.MLT+JRS',
       'CONTRIB.DO SERVIDOR INATIVO P/RPPS-MUL.JUR.',
       'IOF-OURO-PRINCIPAL',
       'CONTR.PREV.EMPREGADOR-Ñ OPT.SIMP.NAC.-DÍV.AT.',
       'PRESTACAO DE CONTAS ELEITORAIS-MULTAS E JUROS',
       'IMPOSTO SOBRE A IMPORTAÇÃO-MUL.JUR.-INTRA',
       'CONT.PREVID.EMPREGADOR-OPT.SIMP.NAC.-DÍV.AT.',
       'COFINS SOBRE O FATURAMENTO-SIMPLES-DÍV.ATIVA',
       'CESSAO DIR.OPERACIONALIZ.PGTOS-P.JUD.-PRINC.',
       'CONTRIB.PREVIDENCIÁRIA DO SEGURADO-PRINC.',
       'OUTRAS RECEITAS ADMINISTRADAS RFB-MUL.JUR.',
       'CIDE COMBUSTIVEIS-COMERCIALIZACAO-MUL.JUR.',
       'CONTRIB.P/FOMENTO RADIODIFUSAO PUBLICA-PRINC.',
       'IRRF-TRABALHO-PRINCIPAL',
       'CONT.MOV.TRANSM.VL.CR.FIN-PARC-DÍV.AT-MUL.JUR',
       'IOF-DEMAIS OPERAÇÕES-MULTAS DA DÍVIDA ATIVA',
       'RESTIT.BENEFICIOS NAO DESEMBOLSADOS-PRINCIPAL',
       'IRPF-JUROS DA DÍVIDA ATIVA',
       'OUTRAS RECEITAS IMOBILIARIAS-PRINCIPAL',
       'MULT.LEG.ANTICORRUP.PROC.ADM.RESPONS.-PRINC.',
       'EMOLUMENTOS E CUSTAS JUDICIAIS-DÍV.AT-MUL.JUR',
       'CONTRIBUIÇÃO PIS/PASEP-PARCELAMENTOS-MUL.JUR.',
       'MULTAS PREV.LEGISLAÇÃO ANTIDROGAS-DÍV.ATIVA',
       'COFINS SOBRE O FATURAMENTO-PRINCIPAL',
       'COFINS SOBRE O FATURAMENTO-PARCELAM.-JUROS',
       'CONT.PREV.EMPREG.-OPT.SIMP.NAC-DÍV.AT-MUL.JUR',
       'ROYAL.EXCED.PROD.PETRO.TERRA(QQ SIT.)-PRINC.',
       'CSLL-PARCELAMENTOS-DÍVIDA ATIVA',
       'TIT.RESP.TN-REFIN.DIV.PUB.FED.MERC.EXT.-PRINC',
       'CONTRIB.SOCIAL DO SALARIO-EDUCACAO-MUL.JUR.',
       'CPSSS-SERVIDOR CIVIL PENSIONISTA-PRINCIPAL',
       'DLG.SRV.RAD.SON.IMG-NÃO.P.ORBITAIS/PRC',
       'OUTROS IMPOSTOS-MULTAS E JUROS',
       'CONTRIBUIÇÕES P/O RGPS-PARCELAMENTOS-MUL.JUR.',
       'CSLL-PARCELAMENTOS-DÍVIDA ATIVA-JUROS',
       'TÍT.RESP.TN-REFIN.DÍV.PÚB.FED.INT-PRINC-INTRA',
       'REMUNER.DISPONIBILIDADES TES.NACIONAL-MUL.JUR',
       'OUTRAS.DLG.SV.TELEC-NÃO.P.ORBITAIS/PRC',
       'CONDECINE-PRINCIPAL-INTRA',
       'MULTAS PREV.LEG.SEG.DESEMP.AB.SALAR.-PRINC.',
       'CONTRAPART.DE SUBVENCOES OU SUBSIDIOS-PRINC.',
       'APORTES PERIÓD.COMPENSAÇÕES RGPS-PRINC-INTRA',
       'IMPOSTO SOBRE A IMPORTAÇÃO-MULTAS DÍV.ATIVA',
       'RESSARCIMENTO DE CUSTOS-MULTAS E JUROS',
       'CONTRIBUIÇÕES P/O RGPS-PARCELAMENTOS-PRINC.',
       'IPI-FUMO-MULTAS E JUROS', 'CONDECINE-DIVIDA ATIVA',
       'PREMIOS PRESCRITOS CONC.PROGNOSTICOS-MUL.JUR.',
       'CONT.PREVIDENCIÁRIA SEGURADO-DÍV.AT-MUL.JUR', 'Sem informação',
       'CONTR.S/REC.OP.BRT DECOR.SERV.TELECOM-DIV.AT.',
       'RESTIT.DEP.DE SENTENÇAS JUD.Ñ SACADOS-PRINC.',
       'CONTRIBUIÇÃO PIS/PASEP-PARCELAMENTOS-JUROS',
       'ROYAL.PETRO.PLAT.-COM.A PARTIR 3/12/12-PRINC.',
       'IOF-DEMAIS OPERAÇÕES-JUROS DA DÍVIDA ATIVA', 'IRPF-PRINCIPAL',
       'OUTRAS CONTRIBUICOES ECONOMICAS-PRINCIPAL',
       'CONT.PIS/PASEP-Ñ OPT.SIMP.NAC-JUROS DÍV.ATIVA',
       'CONTR.PREV.EMPREGADOR-Ñ OPT.SIMP.NAC.-MUL.JUR',
       'CSLL-CONTRIBUINTES OPT.SIMPLES NAC.-MULTAS',
       'CSLL-PARCELAMENTOS-JUROS',
       'OUTRAS RECEITAS-PRIMARIAS-DIVIDA ATIVA',
       'CONT.PIS/PASEP-Ñ OPT.SIMP.NAC-MULTAS DÍV.AT.',
       'IRPJ-LÍQUIDA DE INCENTIVOS-JUROS DÍV.ATIVA',
       'COTA-PARTE DA CONTRIBUICAO SINDICAL-MUL.JUR.',
       'IMPOSTO SOBRE A EXPORTAÇÃO-JUROS DÍVIDA ATIVA',
       'ALIENAÇÃO DE BENS IMÓVEIS-MULTAS E JUROS',
       'CONTRIB.SOCIAL DO SALÁRIO-EDUCAÇÃO-MUL.JUR.',
       'ROY.EXC.PETRO.PLAT-COM.A PARTIR 3/12/12-PRINC',
       'COMPENS.FINANCEIRAS ENTRE RGPS E RPPS-DIV.AT.',
       'IPI-VINCULADOS À IMPORTAÇÃO-MUL.JUR.-INTRA',
       'CONTRIB.PIS/PASEP-Ñ OPTANTES SIMP.NAC-MULTAS',
       'CONTRIB.PIS/PASEP-Ñ OPTANTES SIMP.NAC-JUROS',
       'CONTRIBUIÇÃO SOBRE A LOTERIA FEDERAL-PRINCIP.',
       'IRPJ-LÍQUIDA DE INCENTIVOS-PRINCIPAL',
       'CSLL-CONTRIBUINTES Ñ OPT.SIMP.NAC.-PRINC.',
       'CONT.PIS/PASEP-OPT.SIMP.NAC-MULTAS DÍV.AT.',
       'IRRF-REMESSA AO EXTERIOR-PRINCIPAL-INTRA',
       'CSLL-PARCELAMENTOS-MULTA E JUROS',
       'COFINS SOBRE O FATURAMENTO-MULTAS DÍV.ATIVA',
       'REVERSAO DE GARANTIAS-PRINCIPAL', 'IOF-OURO-MULTAS E JUROS',
       'CPSSS PATRONAL-SERVIDOR CIVIL-PRINCIPAL',
       'CONTRIB.SOCIAL SOBRE LUCRO LÍQ.-CSLL-MUL.JUR.',
       'REVERS.PROV.SINISTROS IBNR DO DPVAT-PRINC.',
       'IMPOSTO SOBRE A IMPORTAÇÃO-PRINCIPAL',
       'REMUNERACAO DE DEPOSITOS ESPECIAIS-PRINCIPAL',
       'CESS.DIR.USO.RADFRQ-NÃO.P.ORBITAIS/DA.PRC',
       'COFINS SOBRE O FATURAMENTO-MULTAS',
       'CONT.MOV.TRANSM.VAL.CRED.DIR.FIN-PARC-PRINC.',
       'OUTROS IMPOSTOS-DÍVIDA ATIVA',
       'CPSSS-SERVIDOR CIVIL ATIVO-SENT.JUD.-PRINC.',
       'CSLL-CONTRIBUINTES OPT.SIMPLES NAC.-DÍV.AT.',
       'CONTRIB.P/FOMENTO RADIODIF.PÚB.-PRINC.-INTRA',
       'IMPOSTO SOBRE A EXPORTAÇÃO-MULTAS DÍV.ATIVA',
       'MULTAS PREV.LEG.SEG.DESEMP.AB.SALAR.-DIV.AT.',
       'ITR-MUNICÍPIOS CONVENIADOS-MULTAS E JUROS',
       'CONT.PREV.EMPREGADOR-Ñ SIM.NAC-DÍV.AT-MUL.JUR',
       'CPSSS-SERVIDOR CIVIL INATIVO-SENT.JUD.-PRINC.',
       'COTA-PARTE DA CONTRIBUIÇÃO SINDICAL-PRINCIPAL',
       'BENS,DIR.E VAL.PERD.EM FAVOR PODER PUB.-PRINC',
       'COFINS-MULTAS E JUROS',
       'BARREIRAS TECNICAS AO COMERC.EXTERIOR-MUL.JUR',
       'CONTRIB.PIS/PASEP-OPTANTES SIMP.NAC-PRINC.',
       'CONTR.S/REC.OP.BRT DECOR.SERV.TELECOM-PRINC.',
       'IPI-AUTOMÓVEIS-PRINCIPAL',
       'CONCESSAO AVAIS,GARANTIAS E SEGUROS-MUL.JUR.',
       'JUROS DE TITULOS DE RENDA-PRINCIPAL',
       'CSLL-PARCELAMENTOS-PRINCIPAL',
       'CIDE-COMBUSTÍVEIS-IMPORTAÇÃO-PRINCIPAL',
       'IMPOSTO SOBRE A IMPORTAÇÃO-JUROS DÍVIDA ATIVA',
       'CONTRIB.PIS/PASEP-Ñ OPTANTES SIMP.NAC-DÍV.AT.',
       'MULTAS E JUROS PREV.CONTRATOS-DIV.AT-MUL.JUR.',
       'CPSSS-SERVIDOR CIVIL ATIVO-PRINCIPAL',
       'RESTIT.DE BENEFICIOS PREVIDENCIARIOS-MUL.JUR.',
       'CONTRIBUIÇÕES P/O RGPS-PARCELAMENTOS-DÍV.AT.',
       'CONTRIB.P/O ENSINO AEROVIÁRIO-PARCEL.-PRINC.',
       'IMPOSTO SOBRE A EXPORTAÇÃO-DÍVIDA ATIVA',
       'IRRF-TRABALHO-DÍVIDA ATIVA',
       'RESTITUICAO DE GARANTIAS PRESTADAS-PRINCIPAL',
       'RESTIT.DESPESAS EXERC.ANTERIORES-PRINC-INTRA',
       'TIT.RESP.TN-REFIN.DIV.PUB.FED.MERC.INT.-PRINC',
       'IRRF-TRABALHO-JUROS DA DÍVIDA ATIVA',
       'IRRF-OUTROS RENDIMENTOS-PRINCIPAL-INTRA',
       'ITR-MUNICÍPIOS NÃO-CONVENIADOS-MULTAS E JUROS',
       'CONC.USO POTENCIAL ENERGIA HIDRAULICA-PRINC.',
       'CONT.MOV.TRANSM.VAL.CRED.DIR.NAT.FIN.-MUL.JUR',
       'MULTAS APLICADAS PELOS TRIB.DE CONTAS-PRINC.',
       'ROY.PETR.PLAT.-PARTILHA-COM.A P.3/12/12-PRINC',
       'CONTRIBUIÇÃO PARA O ENSINO AEROVIÁRIO-DÍV.AT.',
       'ITR-MUNICÍPIOS CONVENIADOS-PRINCIPAL',
       'IPI-BEBIDAS-PRINCIPAL-INTRA',
       'CONTR.PREV.EMPREGADOR-Ñ OPT.SIMP.NAC.-PRINC.',
       'CONTRIB.SERVIDOR ATIVO CIVIL P/RPPS-MUL.JUR.',
       'IMPOSTO SOBRE A EXPORTAÇÃO-MULTAS E JUROS',
       'CONTR.P/FUNDOS ASSIST.MÉD-BOMB.MILIT.-PRINC.',
       'RESTIT.PARCELAS SEG.DESEMP.REC.INDEV.-MUL.JUR',
       'CONTR.P/FUNDOS ASSIST.MÉD-POLIC.MILIT-PRINC.',
       'CPSSS-SERVIDOR CIVIL INATIVO-PRINCIPAL',
       'TAXA DE CONTROLE E FISC.AMBIENTAL-DÍV.ATIVA',
       'P.ESP.PETRO.PLAT-COM.ANT.3/12/12-DEMAIS-PRINC',

Los 10 DETALLE que MAS aparecen son:

                                               count  Porcentaje_recuento
DETALLE
SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.    21029                14.77
ALUGUEIS E ARRENDAMENTOS-PRINCIPAL              9114                 6.40
INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL   7069                 4.97
MULTAS PREVISTAS EM LEGISL.ESPECIFICA-PRINC.    5954                 4.18
REMUNERACAO DE DEPOSITOS BANCARIOS-PRINCIPAL    4961                 3.49
TAXAS INSPEÇÃO,CONTROLE E FISCALIZAÇÃO-PRINC.   4274                 3.00
MULTAS PREVISTAS EM LEGISL.ESPECIFICA-DIV.AT.   3233                 2.27
OUTRAS RESTITUICOES-PRINCIPAL                   3162                 2.22
OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL             3136                 2.20
REST.DESPESAS EXERC.ANT.FIN.FTE.PRIM.-PRINC.    2918                 2.05

Los 10 DETALLE que MENOS aparecen son:

                                               count  Porcentaje_recuento
DETALLE
INSCR.EM CONCURSOS E PROC.SELETIVOS-MUL.JUR.       1                 0.00
RESTIT.PARCELAS SEGURO DESEMPR.RECEB.INDEVID.      1                 0.00
ADICIONAL SOBRE TARIFA AEROPORTUARIA-MUL.JUR.      1                 0.00
TX.FISC.FUNC-TFF-NÃO.POSI.ORBITAIS/DA.MLT+JRS      1                 0.00
DELEG.P/PREST.SERV.TRANSP.RODOVIARIO-DIV.AT.       1                 0.00
MULTAS PREV.LEG.SEG.DESEMP.AB.SALAR.-MUL.JUR.      1                 0.00
TX.FISC.INST-TFI-NÃO.POSI.ORBITAIS/MLT+JRS         1                 0.00
BONUS ASSINAT.CONTRATO DE CONCESSAO-MUL.JUR.       1                 0.00
TAXA FISCAL. DOS SERVICOS DE ENERGIA ELETRICA      1                 0.00
RECEITA INDUSTRIAL-MULTAS E JUROS-INTRA            1                 0.00

 Las distribución de las repeticiones de los DETALLE son:

       count  % repetición
count
35        68         10.88
1         32          5.12
2         23          3.68
50        22          3.52
4         21          3.36
...      ...           ...
17         1          0.16
31         1          0.16
23         1          0.16
29         1          0.16
25         1          0.16

[206 rows x 2 columns]

None
La categoría VALOR_PREVISTO_ACTUALIZADO tiene 1951 elementos diferentes:

Los elementos de la categoría son:

array([0.00000000e+00, 1.49143037e+09, 1.03883676e+08, ...,
       2.69831700e+06, 3.24321000e+05, 6.69118500e+06])

Los 10 VALOR_PREVISTO_ACTUALIZADO que MAS aparecen son:

                             count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
0.00                        140352                98.60
108000.00                        3                 0.00
12000.00                         2                 0.00
72800.00                         2                 0.00
6683972846.00                    2                 0.00
3493187.00                       2                 0.00
284500000.00                     2                 0.00
70362903.00                      2                 0.00
1160467411.00                    2                 0.00
28711.00                         2                 0.00

Los 10 VALOR_PREVISTO_ACTUALIZADO que MENOS aparecen son:

                            count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
395338.00                       1                 0.00
1418984.00                      1                 0.00
54230.00                        1                 0.00
38983654.00                     1                 0.00
7763940.00                      1                 0.00
45106341.00                     1                 0.00
138038.00                       1                 0.00
5930.00                         1                 0.00
15301062.00                     1                 0.00
2630866413.00                   1                 0.00

 Las distribución de las repeticiones de los VALOR_PREVISTO_ACTUALIZADO son:

        count  % repetición
count
1        1905         97.64
2          44          2.26
3           1          0.05
140352      1          0.05

None
La categoría VALOR_REGISTRADO tiene 1579 elementos diferentes:

Los elementos de la categoría son:

array([ 0.00000000e+00, -1.73067933e+08, -5.56790585e+07, ...,
       -2.70000000e+01,  1.44000000e+03,  1.01486896e+07])

Los 10 VALOR_REGISTRADO que MAS aparecen son:

                   count  Porcentaje_recuento
VALOR_REGISTRADO
0.00              140661                98.81
0.11                   4                 0.00
0.14                   3                 0.00
0.09                   3                 0.00
3.03                   3                 0.00
0.10                   3                 0.00
1117978.75             2                 0.00
4470793.63             2                 0.00
-1783441.58            2                 0.00
-1322970.79            2                 0.00

Los 10 VALOR_REGISTRADO que MENOS aparecen son:

                  count  Porcentaje_recuento
VALOR_REGISTRADO
23130743.44           1                 0.00
2735234674.66         1                 0.00
9841.52               1                 0.00
145038368.17          1                 0.00
1826281.31            1                 0.00
-4470793.63           1                 0.00
41571554.89           1                 0.00
61173640.04           1                 0.00
-47703615.18          1                 0.00
-55679058.49          1                 0.00

 Las distribución de las repeticiones de los VALOR_REGISTRADO son:

        count  % repetición
count
1        1475         93.41
2          98          6.21
3           4          0.25
140661      1          0.06
4           1          0.06

None
La categoría VALOR_REALIZADO tiene 106992 elementos diferentes:

Los elementos de la categoría son:

array([  5516.9 ,   2946.81,   1541.53, ...,  72656.62, 400211.28,
       281598.64])

Los 10 VALOR_REALIZADO que MAS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
0.00              3837                 2.70
100.00             408                 0.29
20.00              389                 0.27
200.00             383                 0.27
30.00              364                 0.26
50.00              343                 0.24
10.00              331                 0.23
150.00             303                 0.21
300.00             302                 0.21
40.00              294                 0.21

Los 10 VALOR_REALIZADO que MENOS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
339360.78            1                 0.00
268993.64            1                 0.00
241342.14            1                 0.00
203324.88            1                 0.00
169958.54            1                 0.00
1546607.96           1                 0.00
333856.67            1                 0.00
223121.64            1                 0.00
1403644.00           1                 0.00
206757.84            1                 0.00

 Las distribución de las repeticiones de los VALOR_REALIZADO son:

       count  % repetición
count
1      99172         92.69
2       4566          4.27
3       1285          1.20
4        551          0.51
5        318          0.30
...      ...           ...
69         1          0.00
68         1          0.00
41         1          0.00
51         1          0.00
53         1          0.00

[108 rows x 2 columns]

None
La categoría PORCENTAJE_REALIZADO tiene 27 elementos diferentes:

Los elementos de la categoría son:

array([0.0000e+00, 1.0000e+00, 1.0000e+01, 1.6000e+01, 3.0000e+00,
       7.0000e+00, 3.9232e+04, 2.0000e+00, 3.2000e+01, 8.0000e+00,
       1.1000e+01, 4.0000e+00, 9.0000e+00, 1.2000e+01, 6.0000e+00,
       5.0000e+00, 2.4000e+01, 2.3000e+01, 2.7000e+01, 4.3000e+01,
       1.7000e+01, 1.5000e+01, 1.3000e+01, 1.4100e+02, 5.0000e+01,
       1.9000e+01, 1.8000e+01])

Los 10 PORCENTAJE_REALIZADO que MAS aparecen son:

                       count  Porcentaje_recuento
PORCENTAJE_REALIZADO
0.00                  142103                99.83
1.00                     133                 0.09
2.00                      27                 0.02
3.00                      22                 0.02
4.00                      11                 0.01
5.00                       9                 0.01
7.00                       6                 0.00
16.00                      5                 0.00
6.00                       5                 0.00
11.00                      4                 0.00

Los 10 PORCENTAJE_REALIZADO que MENOS aparecen son:

                      count  Porcentaje_recuento
PORCENTAJE_REALIZADO
23.00                     1                 0.00
24.00                     1                 0.00
27.00                     1                 0.00
43.00                     1                 0.00
17.00                     1                 0.00
15.00                     1                 0.00
141.00                    1                 0.00
50.00                     1                 0.00
19.00                     1                 0.00
18.00                     1                 0.00

 Las distribución de las repeticiones de los PORCENTAJE_REALIZADO son:

        count  % repetición
count
1          13         48.15
2           2          7.41
5           2          7.41
3           2          7.41
22          1          3.70
27          1          3.70
133         1          3.70
142103      1          3.70
6           1          3.70
9           1          3.70
11          1          3.70
4           1          3.70

None
La categoría FECHA_REGISTRO tiene 362 elementos diferentes:

Los elementos de la categoría son:

<DatetimeArray>
['2020-04-28 00:00:00', '2020-04-15 00:00:00', '2020-05-27 00:00:00',
 '2020-06-12 00:00:00', '2020-03-19 00:00:00', '2020-03-02 00:00:00',
 '2020-05-28 00:00:00', '2020-05-14 00:00:00', '2020-04-20 00:00:00',
 '2020-03-20 00:00:00',
 ...
 '2020-11-07 00:00:00', '2020-11-29 00:00:00', '2020-03-08 00:00:00',
 '2020-07-19 00:00:00', '2020-02-09 00:00:00', '2020-04-26 00:00:00',
 '2020-07-12 00:00:00', '2020-06-14 00:00:00', '2020-08-02 00:00:00',
 '2020-09-19 00:00:00']
Length: 363, dtype: datetime64[ns]

Los 10 FECHA_REGISTRO que MAS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2020-01-20       2179                 1.53
2020-01-31       1038                 0.73
2020-08-31       1023                 0.72
2020-04-30        988                 0.69
2020-03-31        974                 0.68
2020-11-30        957                 0.67
2020-09-30        950                 0.67
2020-02-10        926                 0.65
2020-03-10        917                 0.64
2020-01-10        889                 0.62

Los 10 FECHA_REGISTRO que MENOS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2020-11-07          1                 0.00
2020-11-29          1                 0.00
2020-03-08          1                 0.00
2020-07-19          1                 0.00
2020-02-09          1                 0.00
2020-04-26          1                 0.00
2020-07-12          1                 0.00
2020-06-14          1                 0.00
2020-08-02          1                 0.00
2020-09-19          1                 0.00

 Las distribución de las repeticiones de los FECHA_REGISTRO son:

       count  % repetición
count
1         78         21.55
2          6          1.66
508        5          1.38
3          4          1.10
472        4          1.10
...      ...           ...
82         1          0.28
88         1          0.28
168        1          0.28
7          1          0.28
4          1          0.28

[195 rows x 2 columns]

None
La categoría AÑO_EJERCICIO tiene 1 elementos diferentes:

Los elementos de la categoría son:

array([2020])

Los 10 AÑO_EJERCICIO que MAS aparecen son:

                count  Porcentaje_recuento
AÑO_EJERCICIO
2020           142348               100.00

Los 10 AÑO_EJERCICIO que MENOS aparecen son:

                count  Porcentaje_recuento
AÑO_EJERCICIO
2020           142348               100.00

 Las distribución de las repeticiones de los AÑO_EJERCICIO son:

        count  % repetición
count
142348      1        100.00

None

In [399]:
df_datos_2020.VALOR_PREVISTO_ACTUALIZADO.sum()

np.float64(3577146718910.25)

In [400]:
df_datos_2020.VALOR_REGISTRADO.sum()

np.float64(706480132443.0701)

In [401]:
df_datos_2020.VALOR_REALIZADO.sum()

np.float64(3631448629524.17)

In [402]:
df_datos_2020.VALOR_REALIZADO.sum()/df_datos_2020.VALOR_PREVISTO_ACTUALIZADO.sum()

np.float64(1.0151802301892896)

In [403]:
df_datos_2020.VALOR_REALIZADO.sum()/df_datos_2020.VALOR_REGISTRADO.sum()

np.float64(5.140199225371425)

## Año 2021

In [404]:
for columna in df_datos_2021.columns:
    print(se.analisis_individual_columnas(df_datos_2021, columna))

La categoría CÓDIGO_ÓRGANO_SUPERIOR tiene 20 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '37000', '22000', '55000', '24000', '52000', '25000',
       '26000', '39000', '30000', '81000', '36000', '41000', '57000',
       '35000', '32000', '53000', '44000', '54000', '20000'], dtype=object)

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MAS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
26000                   39869                29.62
25000                   33787                25.10
52000                   13513                10.04
30000                    5947                 4.42
22000                    5819                 4.32
39000                    5298                 3.94
24000                    4766                 3.54
32000                    4557                 3.39
41000                    4127                 3.07
36000                    4110                 3.05

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MENOS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
53000                    4023                 2.99
44000                    3955                 2.94
54000                    3191                 2.37
55000                     526                 0.39
35000                     517                 0.38
20000                     375                 0.28
81000                     201                 0.15
57000                       9                 0.01
63000                       2                 0.00
37000                       1                 0.00

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO_SUPERIOR son:

       count  % repetición
count
39869      1          5.00
33787      1          5.00
13513      1          5.00
5947       1          5.00
5819       1          5.00
5298       1          5.00
4766       1          5.00
4557       1          5.00
4127       1          5.00
4110       1          5.00
4023       1          5.00
3955       1          5.00
3191       1          5.00
526        1          5.00
517        1          5.00
375        1          5.00
201        1          5.00
9          1          5.00
2          1          5.00
1          1          5.00

None
La categoría NOMBRE_ÓRGANO_SUPERIOR tiene 20 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União', 'Controladoria-Geral da União',
       'Ministério da Agricultura, Pecuária e Abastec',
       'Ministério da Cidadania',
       'Ministério da Ciência, Tecnologia, Inovações ',
       'Ministério da Defesa', 'Ministério da Economia',
       'Ministério da Educação', 'Ministério da Infraestrutura',
       'Ministério da Justiça e Segurança Pública',
       'Ministério da Mulher, Família e Direitos Huma',
       'Ministério da Saúde', 'Ministério das Comunicações',
       'Ministério das Mulheres, Igualdade Racial, da',
       'Ministério das Relações Exteriores',
       'Ministério de Minas e Energia',
       'Ministério do Desenvolvimento Regional',
       'Ministério do Meio Ambiente', 'Ministério do Turismo',
       'Presidência da República'], dtype=object)

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MAS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério da Educação                         39869                29.62
Ministério da Economia                         33787                25.10
Ministério da Defesa                           13513                10.04
Ministério da Justiça e Segurança Pública       5947                 4.42
Ministério da Agricultura, Pecuária e Abastec   5819                 4.32
Ministério da Infraestrutura                    5298                 3.94
Ministério da Ciência, Tecnologia, Inovações    4766                 3.54
Ministério de Minas e Energia                   4557                 3.39
Ministério das Comunicações                     4127                 3.07
Ministério da Saúde                             4110                 3.05

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MENOS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério do Desenvolvimento Regional          4023                 2.99
Ministério do Meio Ambiente                     3955                 2.94
Ministério do Turismo                           3191                 2.37
Ministério da Cidadania                          526                 0.39
Ministério das Relações Exteriores               517                 0.38
Presidência da República                         375                 0.28
Ministério da Mulher, Família e Direitos Huma    201                 0.15
Ministério das Mulheres, Igualdade Racial, da      9                 0.01
Advocacia-Geral da União                           2                 0.00
Controladoria-Geral da União                       1                 0.00

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO_SUPERIOR son:

       count  % repetición
count
39869      1          5.00
33787      1          5.00
13513      1          5.00
5947       1          5.00
5819       1          5.00
5298       1          5.00
4766       1          5.00
4557       1          5.00
4127       1          5.00
4110       1          5.00
4023       1          5.00
3955       1          5.00
3191       1          5.00
526        1          5.00
517        1          5.00
375        1          5.00
201        1          5.00
9          1          5.00
2          1          5.00
1          1          5.00

None
La categoría CÓDIGO_ÓRGANO tiene 257 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '37000', '22211', '22000', '22201', '22202', '44208',
       '22905', '49001', '55001', '55000', '24901', '20402', '20301',
       '20501', '24000', '24209', '20502', '52904', '52132', '52911',
       '52133', '52000', '52131', '52111', '52221', '52121', '52211',
       '31280', '52233', '52222', '25000', '37904', '37202', '38901',
       '30203', '20924', '25207', '25205', '25201', '25203', '28500',
       '25211', '22500', '61201', '25905', '25904', '20603', '20202',
       '25915', '25901', '30204', '37201', '90000', '33206', '25914',
       '25208', '26443', '26263', '26424', '26236', '26271', '26241',
       '26294', '26410', '26277', '26245', '26426', '26268', '26244',
       '26406', '26411', '26298', '26276', '26350', '26421', '26233',
       '26284', '26447', '26413', '26412', '26234', '26442', '26246',
       '26238', '26242', '26243', '26408', '26441', '26260', '26420',
       '26352', '26250', '26270', '26402', '26255', '26247', '26416',
       '26273', '26232', '26254', '26456', '26448', '26431', '26283',
       '26249', '26434', '26239', '26433', '26419', '26291', '26404',
       '26405', '26439', '26278', '26450', '26258', '26453', '26248',
       '26279', '26440', '26436', '26201', '26257', '26262', '26237',
       '26403', '26292', '26407', '26264', '26275', '26261', '26230',
       '26267', '26415', '26454', '26274', '26428', '26269', '26285',
       '26266', '26231', '26435', '26418', '26240', '26438', '26423',
       '26251', '26449', '26252', '26256', '26272', '26351', '26409',
       '26282', '26417', '26455', '26432', '26281', '26290', '26429',
       '26235', '26427', '26457', '26422', '26280', '26000', '26437',
       '26452', '26253', '26430', '26414', '26286', '26425', '39252',
       '39250', '62201', '29209', '56901', '68201', '39253', '49901',
       '39000', '62901', '30907', '30108', '30912', '30911', '30211',
       '30905', '30202', '30205', '30000', '30802', '30914', '30913',
       '81000', '36211', '36000', '36212', '36213', '36201', '36210',
       '41231', '41232', '41903', '41000', '24216', '20415', '64901',
       '35000', '35201', '32205', '32396', '32314', '29208', '32210',
       '32000', '20302', '20303', '53901', '22203', '22204', '74918',
       '53203', '29214', '53902', '74919', '44205', '53903', '53202',
       '53000', '53207', '74917', '29205', '56902', '20701', '44206',
       '44207', '44204', '44000', '44902', '34902', '54901', '20404',
       '20203', '20408', '42207', '20411', '20604', '54000', '20412',
       '20403', '20101', '20116', '60000', '24208'], dtype=object)

Los 10 CÓDIGO_ÓRGANO que MAS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
25000          21403                15.90
52132           3926                 2.92
52904           3506                 2.60
37904           2383                 1.77
34902           2093                 1.56
20701           2042                 1.52
24901           2012                 1.49
32396           1843                 1.37
30203           1786                 1.33
52911           1717                 1.28

Los 10 CÓDIGO_ÓRGANO que MENOS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
24208              5                 0.00
20402              5                 0.00
26454              4                 0.00
63000              2                 0.00
81000              2                 0.00
37000              1                 0.00
20408              1                 0.00
60000              1                 0.00
41000              1                 0.00
90000              1                 0.00

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO son:

       count  % repetición
count
1          5          1.95
63         4          1.56
16         4          1.56
446        3          1.17
19         3          1.17
...      ...           ...
25         1          0.39
29         1          0.39
11         1          0.39
6          1          0.39
4          1          0.39

[216 rows x 2 columns]

None
La categoría NOMBRE_ÓRGANO tiene 256 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União - Unidades com vínculo direto',
       'Controladoria-Geral da União - Unidades com vínculo direto',
       'Companhia Nacional de Abastecimento',
       'Ministério da Agricultura, Pecuária e Abastecimento - Unidades com vínculo direto',
       'Instituto Nacional de Colonização e Reforma Agrária',
       'Empresa Brasileira de Pesquisa Agropecuária',
       'Serviço Florestal Brasileiro',
       'Fundo de Defesa da Economia Cafeeira',
       'Fundo de Terras e da Reforma Agrária',
       'Fundo Nacional de Assistência Social',
       'Ministério da Cidadania - Unidades com vínculo direto',
       'Fundo Nacional de Desenvolvimento Científico e Tecnológico',
       'Agência Espacial Brasileira',
       'Comissão Nacional de Energia Nuclear',
       'Conselho Nacional de Desenvolvimento Científico e Tecnológico',
       'Ministério da Ciência, Tecnologia, Inovações e Comunicações - Unidades com vínculo direto',
       'Centro Nacional de Tecnologia Eletrônica Avançada S.A.',
       'Financiadora de Estudos e Projetos', 'Fundo do Exército',
       'Comando da Marinha - Fundo Naval', 'Fundo Aeronáutico',
       'Fundo de Desenvolvimento do Ensino Profissional Marítimo',
       'Ministério da Defesa - Unidades com vínculo direto',
       'Comando da Marinha', 'Comando da Aeronáutica',
       'Indústria de Material Bélico do Brasil', 'Comando do Exército',
       'Caixa de Financiamento Imobiliário da Aeronáutica',
       'Caixa de Construções de Casas para o Pessoal da Marinha do Brasil',
       'Amazônia Azul Tecnologia de Defesa S.A.', 'Fundação Osório',
       'Ministério da Economia - Unidades com vínculo direto',
       'Fundo do Regime Geral da Previdência Social',
       'Instituto Nacional do Seguro Social',
       'Fundo de Amparo ao Trabalhador',
       'Instituto Nacional de Metrologia, Qualidade e Tecnologia',
       'Fundo Nacional de Desenvolvimento',
       'Serviço Federal de Processamento de Dados',
       'Fundação Instituto Brasileiro de Geografia e Estatística',
       'Banco Central do Brasil - Orçamento Fiscal e Seguridade Social',
       'Comissão de Valores Mobiliários',
       'Fundo de Garantia para a Promoção da Competitividade',
       'Casa da Moeda do Brasil',
       'Companhia de Entrepostos e Armazéns Gerais de São Paulo',
       'Instituto de Pesquisa Econômica Aplicada',
       'Fundo de Apoio ao Desenvolvimento Social',
       'Fundo de Estabilidade do Seguro Rural',
       'Superintendência da Zona Franca de Manaus',
       'Fundação Escola Nacional de Administração Pública',
       'Fundo Constitucional do Distrito Federal',
       'Fundo de Compensação de Variações Salariais',
       'Instituto Nacional da Propriedade Industrial',
       'Fundação Jorge Duprat Figueiredo, de Segurança e Medicina do Trabalho',
       'Reserva de Contingência',
       'Superintendência Nacional de Previdência Complementar',
       'Fundo de Garantia à Exportação',
       'Superintendência de Seguros Privados',
       'Empresa Brasileira de Serviços Hospitalares',
       'Universidade Federal de Lavras', 'Instituto Federal do Tocantins',
       'Universidade Federal Fluminense',
       'Fundação Universidade de Brasília',
       'Universidade Federal do Paraná',
       'Hospital de Clínicas de Porto Alegre',
       'Instituto Federal do Norte de Minas Gerais',
       'Universidade Federal de Ouro Preto',
       'Universidade Federal do Rio de Janeiro',
       'Instituto Federal do Amapá',
       'Fundação Universidade Federal de Rondônia',
       'Universidade Federal do Rio Grande do Sul',
       'Instituto Federal do Espírito Santo',
       'Instituto Federal do Sudeste de Minas Gerais',
       'Fundo Nacional de Desenvolvimento da Educação',
       'Fundação Universidade Federal do Mato Grosso',
       'Fundação Universidade Federal da Grande Dourados',
       'Instituto Federal de Rondônia', 'Universidade Federal do Ceará',
       'Fundação Universidade Federal de Ciências da Saúde de Porto Alegre',
       'Universidade Federal do Oeste da Bahia',
       'Instituto Federal do Triângulo Mineiro',
       'Instituto Federal do Sul de Minas Gerais',
       'Universidade Federal do Espírito Santo',
       'Universidade da Integração Internacional da Lusofonia Afro-Brasileira',
       'Universidade Federal de Santa Catarina',
       'Universidade Federal de Minas Gerais',
       'Universidade Federal de Pernambuco',
       'Universidade Federal do Rio Grande do Norte',
       'Instituto Federal do Maranhão',
       'Universidade Federal do Oeste do Pará',
       'Universidade Federal de Alfenas', 'Instituto Federal Farroupilha',
       'Fundação Universidade Federal do ABC',
       'Universidade Federal de Roraima',
       'Fundação Universidade do Amazonas',
       'Instituto Federal de Alagoas',
       'Universidade Federal dos Vales do Jequitinhonha e Mucuri',
       'Universidade Federal de Santa Maria', 'Instituto Federal do Pará',
       'Universidade Federal do Rio Grande',
       'Universidade Federal da Bahia',
       'Universidade Federal do Triângulo Mineiro',
       'UNIVERSIDADE FEDERAL DO AGRESTE DE PERNAMBUCO',
       'Universidade Federal do Sul e Sudeste do Pará',
       'Instituto Federal do Piauí',
       'Fundação Universidade Federal do Mato Grosso do Sul',
       'Universidade Federal Rural do Rio de Janeiro',
       'Instituto Federal Fluminense', 'Universidade Federal do Pará',
       'Instituto Federal do Rio de Janeiro',
       'Instituto Federal do Rio Grande do Sul',
       'Fundação Coordenação de Aperfeiçoamento de Pessoal de Nível Superior',
       'Instituto Federal Baiano', 'Instituto Federal do Ceará',
       'Instituto Federal de São Paulo',
       'Fundação Universidade Federal de Pelotas',
       'Universidade Federal do Sul da Bahia',
       'Universidade Tecnológica Federal do Paraná',
       'UNIVERSIDADE FEDERAL DE JATAI',
       'Universidade Federal Rural de Pernambuco',
       'Fundação Universidade Federal do Piauí',
       'Universidade Federal da Fronteira Sul',
       'Instituto Federal Sul-rio-grandense', 'Colégio Pedro II',
       'Centro Federal de Educação Tecnológica de Minas Gerais',
       'Universidade Federal de São Paulo',
       'Universidade Federal de Juiz de Fora',
       'Instituto Federal do Amazonas', 'Fundação Joaquim Nabuco',
       'Instituto Federal Goiano',
       'Universidade Federal Rural do Semi-Árido',
       'Fundação Universidade Federal do Acre',
       'Universidade Federal de Itajubá',
       'Fundação Universidade Federal do Vale do São Francisco',
       'Universidade Federal da Integração Latino-Americana',
       'Instituto Federal do Mato Grosso do Sul',
       'UNIVERSIDADE FEDERAL DE RONDONOPOLIS',
       'Fundação Universidade Federal de Uberlândia',
       'Instituto Federal de Brasília',
       'Universidade Federal do Estado do Rio de Janeiro',
       'Fundação Universidade Federal de São João Del-Rei',
       'Fundação Universidade Federal do Pampa',
       'Universidade Federal de Alagoas',
       'Instituto Federal do Rio Grande do Norte',
       'Instituto Federal de Pernambuco',
       'Universidade Federal da Paraíba',
       'Instituto Federal de Santa Catarina',
       'Instituto Federal de Sergipe',
       'Fundação Universidade Federal do Tocantins',
       'Universidade Federal do Cariri',
       'Universidade Federal de Campina Grande',
       'Centro Federal de Educação Tecnológica Celso Suckow da Fonseca',
       'Fundação Universidade do Maranhão',
       'Universidade Federal do Recôncavo da Bahia',
       'Instituto Federal de Minas Gerais',
       'Universidade Federal de Viçosa', 'Instituto Federal da Paraíba',
       'UNIVERSIDADE FEDERAL DO DELTA DO PARNAIBA',
       'Instituto Federal do Paraná',
       'Fundação Universidade Federal de Sergipe',
       'Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira',
       'Instituto Federal de Educação, Ciência e Tecnologia de Goiás',
       'Universidade Federal de Goiás', 'Instituto Federal da Bahia',
       'UNIVERSIDADE FEDERAL DO NORTE DE TOCANTINS',
       'Instituto Federal Catarinense',
       'Fundação Universidade Federal de São Carlos',
       'Ministério da Educação - Unidades com vínculo direto',
       'Instituto Federal de Roraima', 'UNIVERSIDADE FEDERAL DE CATALAO',
       'Universidade Federal Rural da Amazônia',
       'Instituto Federal do Sertão de Pernambuco',
       'Instituto Federal do Mato Grosso',
       'Fundação Universidade Federal do Amapá',
       'Instituto Federal do Acre',
       'Departamento Nacional de Infraestrutura de Transportes',
       'Agência Nacional de Transportes Terrestres',
       'Agência Nacional de Aviação Civil',
       'VALEC Engenharia, Construções e Ferrovias S.A.',
       'Fundo Nacional de Segurança e Educação de Trânsito',
       'Agência Nacional de Transportes Aquaviários',
       'Empresa de Planejamento e Logística S.A.',
       'Departamento do Fundo da Marinha Mercante',
       'Ministério da Infraestrutura - Unidades com vínculo direto',
       'Fundo Nacional de Aviação Civil', 'Fundo Penitenciário Nacional',
       'Departamento de Polícia Federal', 'Fundo Nacional Antidrogas',
       'Fundo Nacional de Segurança Pública',
       'Conselho Administrativo de Defesa Econômica',
       'Secretaria Nacional do Consumidor Fundo',
       'Fundação Nacional do Índio',
       'Fundação Nacional do Índio - Patrimônio Indígena',
       'Ministério da Justiça e Segurança Pública - Unidades com vínculo direto',
       'Departamento de Polícia Rodoviária Federal',
       'Fundo Nacional do Idoso',
       'Fundo Nacional para a Criança e o Adolescente',
       'Ministério da Mulher, Família e Direitos Humanos - Unidades com vínculo direto',
       'Fundação Nacional de Saúde',
       'Ministério da Saúde - Unidades com vínculo direto',
       'Agência Nacional de Vigilância Sanitária',
       'Agência Nacional de Saúde Suplementar', 'Fundação Oswaldo Cruz',
       'Hospital Nossa Senhora da Conceição S.A.',
       'Agêncial Nacional de Telecomunicações',
       'Fundo de Universalização dos Serviços de Telecomunicações',
       'Fundo para o Desenvolvimento Tecnológico das Telecomunicações',
       'Ministério das Comunicações - Unidades com vínculo direto',
       'TELECOMUNICACOES BRASILEIRAS S/A',
       'Empresa Brasil de Comunicação',
       'Ministério das Relações Exteriores - Unidades com vínculo direto',
       'Fundação Alexandre de Gusmão',
       'Agência Nacional do Petróleo, Gás Natural e Biocombustíveis',
       'Agência Nacional de Mineração', 'Empresa de Pesquisa Energética',
       'Companhia de Pesquisa de Recursos Minerais',
       'Agência Nacional de Energia Elétrica',
       'Ministério de Minas e Energia - Unidades com vínculo direto',
       'Nuclebrás Equipamentos Pesados S.A.',
       'Indústrias Nucleares do Brasil',
       'Fundo Constitucional de Financiamento do Norte',
       'Companhia de Desenvolvimento dos Vales do São Francisco e do Parnaíba',
       'Departamento Nacional de Obras Contra as Secas',
       'Fundo de Desenvolvimento do Nordeste',
       'Superintendência do Desenvolvimento do Nordeste',
       'Companhia Brasileira de Trens Urbanos',
       'Fundo Constitucional de Financiamento do Centro-Oeste',
       'Fundo de Desenvolvimento do Centro-Oeste',
       'Agência Nacional de Águas',
       'Fundo Constitucional de Financiamento do Nordeste',
       'Superintendência do Desenvolvimento da Amazônia',
       'Ministério do Desenvolvimento Regional - Unidades com vínculo direto',
       'Superintendência de Desenvolvimento do Centro-Oeste',
       'Fundo de Desenvolvimento da Amazônia',
       'Empresa de Trens Urbanos de Porto Alegre',
       'Fundo Nacional de Habitação de Interesse Social',
       'Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renováveis',
       'Instituto de Pesquisas Jardim Botânico do Rio de Janeiro',
       'Instituto Chico Mendes de Conservação da Biodiversidade',
       'Fundo Nacional do Meio Ambiente',
       'Ministério do Meio Ambiente - Unidades com vínculo direto',
       'Fundo Nacional sobre Mudança no Clima',
       'Fundo Nacional de Cultura', 'Fundo Geral de Turismo',
       'Fundação Biblioteca Nacional', 'Agência Nacional do Cinema',
       'Fundação Cultural Palmares', 'Instituto Brasileiro de Museus',
       'Instituto do Patrimônio Histórico e Artístico Nacional',
       'Instituto Brasileiro de Turismo',
       'Ministério do Turismo - Unidades com vínculo direto',
       'Fundação Nacional de Artes', 'Fundação Casa de Rui Barbosa',
       'Presidência da República', 'Fundo de Imprensa Nacional',
       'Gabinete da Vice-Presidência da República',
       'Instituto Nacional de Tecnologia da Informação'], dtype=object)

Los 10 NOMBRE_ÓRGANO que MAS aparecen son:

                                                    count  Porcentaje_recuento
NOMBRE_ÓRGANO
Ministério da Economia - Unidades com vínculo d...  21403                15.90
Comando da Marinha - Fundo Naval                     3926                 2.92
Fundo do Exército                                    3506                 2.60
Fundo do Regime Geral da Previdência Social          2383                 1.77
Fundo Nacional de Cultura                            2093                 1.56
Instituto Brasileiro do Meio Ambiente e dos Rec...   2042                 1.52
Fundo Nacional de Desenvolvimento Científico e ...   2012                 1.49
Agência Nacional de Mineração                        1843                 1.37
Instituto Nacional de Metrologia, Qualidade e T...   1786                 1.33
Fundo Aeronáutico                                    1717                 1.28

Los 10 NOMBRE_ÓRGANO que MENOS aparecen son:

                                                    count  Porcentaje_recuento
NOMBRE_ÓRGANO
Instituto Nacional de Tecnologia da Informação          5                 0.00
Agência Espacial Brasileira                             5                 0.00
UNIVERSIDADE FEDERAL DE RONDONOPOLIS                    4                 0.00
Ministério da Mulher, Família e Direitos Humano...      2                 0.00
Advocacia-Geral da União - Unidades com vínculo...      2                 0.00
Reserva de Contingência                                 1                 0.00
Controladoria-Geral da União - Unidades com vín...      1                 0.00
Ministério das Comunicações - Unidades com vínc...      1                 0.00
Fundação Cultural Palmares                              1                 0.00
Gabinete da Vice-Presidência da República               1                 0.00

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO son:

       count  % repetición
count
1          5          1.95
63         4          1.56
16         4          1.56
446        3          1.17
19         3          1.17
...      ...           ...
25         1          0.39
29         1          0.39
11         1          0.39
6          1          0.39
4          1          0.39

[216 rows x 2 columns]

None
La categoría CÓDIGO_UNIDAD_GESTORA tiene 271 elementos diferentes:

Los elementos de la categoría son:

array(['110060', '370001', '135100', '130101', '373001', '135037',
       '440088', '130137', '490003', '330013', '550002', '240901',
       '203001', '113209', '364001', '240102', '364999', '245209',
       '365001', '167086', '673001', '121002', '873001', '110407',
       '211999', '120002', '168002', '773001', '160075', '120999',
       '123001', '773008', '699999', '773009', '164204', '170010',
       '170013', '513001', '510001', '380910', '183023', '201924',
       '806001', '114601', '173057', '173030', '287001', '179083',
       '225001', '113601', '170380', '170008', '179103', '193028',
       '114702', '170392', '170381', '183038', '264001', '390001',
       '333001', '170356', '173039', '155007', '153032', '158131',
       '153056', '154040', '153079', '155001', '158121', '154046',
       '153115', '158150', '154055', '153114', '158151', '158123',
       '153173', '154045', '154502', '158148', '153045', '154032',
       '158717', '158099', '158137', '153046', '158565', '153163',
       '153062', '153080', '153103', '158128', '158515', '153028',
       '158127', '154503', '154080', '154039', '158147', '153036',
       '153164', '158135', '154042', '153038', '153035', '156687',
       '158718', '158146', '154054', '153166', '158139', '153063',
       '158157', '158141', '154999', '158129', '158133', '158154',
       '154047', '158720', '153019', '156678', '153165', '154048',
       '158517', '158126', '153167', '153015', '153031', '153061',
       '158142', '344002', '158124', '153033', '154044', '153030',
       '154421', '158658', '158132', '156677', '154003', '154043',
       '158143', '154034', '154069', '154359', '153037', '158155',
       '158136', '153065', '158516', '158274', '158134', '154419',
       '158719', '158195', '153010', '154041', '158092', '158122',
       '154051', '158138', '156680', '158009', '154050', '153978',
       '158153', '153052', '158145', '156763', '158125', '154049',
       '150014', '158152', '156679', '153034', '158149', '158144',
       '154215', '158156', '393003', '393001', '113214', '275075',
       '200320', '682010', '395001', '277001', '390002', '110591',
       '200333', '200336', '200246', '200331', '303001', '200401',
       '194088', '194040', '200094', '200278', '307002', '307001',
       '810002', '255014', '250088', '253002', '253003', '255011',
       '254420', '255000', '366003', '255003', '255008', '255015',
       '413001', '413047', '410007', '410002', '242160', '115406',
       '110244', '240999', '244001', '240005', '323030', '323100',
       '325001', '495001', '323028', '320002', '113208', '113206',
       '537002', '195006', '113802', '533009', '533014', '275068',
       '537003', '537004', '443003', '537001', '533013', '530002',
       '533018', '533008', '275060', '560015', '193034', '443019',
       '443032', '443045', '440002', '447001', '540030', '187002',
       '344042', '203003', '344041', '423001', '403101', '185001',
       '540001', '403201', '344001', '110005', '110245', '110101',
       '243001'], dtype=object)

Los 10 CÓDIGO_UNIDAD_GESTORA que MAS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
170013                 20277                15.07
167086                  3506                 2.60
673001                  2969                 2.21
513001                  2383                 1.77
540030                  2093                 1.56
193034                  2042                 1.52
240901                  2012                 1.49
323100                  1843                 1.37
183023                  1786                 1.33
121002                  1717                 1.28

Los 10 CÓDIGO_UNIDAD_GESTORA que MENOS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
370001                     1                 0.00
158274                     1                 0.00
410002                     1                 0.00
255015                     1                 0.00
255003                     1                 0.00
255008                     1                 0.00
255014                     1                 0.00
255011                     1                 0.00
344041                     1                 0.00
110101                     1                 0.00

 Las distribución de las repeticiones de los CÓDIGO_UNIDAD_GESTORA son:

       count  % repetición
count
1         11          4.06
63         4          1.48
16         4          1.48
19         3          1.11
446        3          1.11
...      ...           ...
23         1          0.37
29         1          0.37
10         1          0.37
6          1          0.37
4          1          0.37

[219 rows x 2 columns]

None
La categoría NOMBRE_UNIDAD_GESTORA tiene 268 elementos diferentes:

Los elementos de la categoría son:

array(['COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU',
       'DIRETORIA DE GESTAO INTERNA(CGU)',
       'COMPANHIA NACIONAL DE ABASTECIMENTO',
       'COORD.-GERAL DE ORCAMENTO E FINANCAS-MAPA',
       'DPTO. DE ADMINISTRACAO FINANCEIRA-DAF - INCRA',
       'EMBRAPA-SETORIAL', 'SETORIAL PROG.ORCAMENTARIA E FINANCEIRA-SFB',
       'FUNDO DE DEFESA DA ECON.CAFEEIRA/FUNCAFE/SPA',
       'CREDITO FUNDIARIO', 'FUNDO NACIONAL DE ASSISTENCIA SOCIAL',
       'SETORIAL DE ORCAMENTO E FINANCAS/MC',
       'FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO',
       'AGENCIA ESPACIAL BRASILEIRA/AEB', 'CNEN-ORCAMENTO E FINANCAS',
       'CNPQ - ADMINISTRACAO CENTRAL',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS',
       'CNPQ - DIFERENCIA CAMBIAL',
       'CENTRO NACIONAL DE TECNOLOGIA ELETRONICA AVAN',
       'FINANCIADORA DE ESTUDOS E PROJETOS', 'FUNDO DO EXERCITO',
       'DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM',
       'SECRETARIA DE ECON. E FIN.DA AER.- F.AER.',
       'DEPARTAMENTO DE PLANEJ, ORC E FINANCAS (MD)',
       'MARINHA - DIFERENCA CAMBIAL',
       'DIRETORIA DE ECON E FINANCAS DA AERONAUTICA',
       'INDUSTRIA DE MATERIAL BELICO DO BRASIL/GESTOR',
       'DIRETORIA DE FINANCAS DA MARINHA-SISTEMA-PAIS',
       'D CONT - SETORIAL FINANCEIRA', 'MAER - DIFERENCA CAMBIAL',
       'CAIXA FINANCIAMENTO IMOBILIARIO AERONAUTICA',
       'DIRETORIA DE FINANCAS DA MARINHA - CCCPM',
       'FUNDO NAVAL - DIFERENCA CAMBIAL',
       'DIRETORIA DE FINANCAS DA MARINHA - AMAZUL', 'FUNDACAO OSORIO',
       'SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB',
       'SETORIAL ORCAMENTARIA E FINANCEIRA / ME',
       'COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS',
       'COORD.GERAL DE ORCAMENTO, FINANCAS E CONTAB.',
       'COORD-GERAL DE ORCAMENTO, FIN. E CONT.- CGOFC',
       'INSTITUTO NAC.DE METROLOG. QUALID. E TECNOLOG',
       'FUNDO NACIONAL DE DESENVOLVIMENTO',
       'SERPRO-SEDE - DEPARTAMENTO FINANCEIRO',
       'FUNDACAO IBGE-ADMINISTRACAO CENTRAL/RJ',
       'BANCO CENTRAL DO BRASIL', 'COMISSAO DE VALORES MOBILIARIOS',
       'FUNDO DE GAR.P/PROMOC.DA COMPETITIVIDADE±FGPC',
       'CASA DA MOEDA DO BRASIL',
       'CIA.DE ENTREPOSTOS E ARMAZENS GER.DE S.PAULO',
       'INSTITUTO DE PESQUISA ECONOMICA APLICADA',
       'FUNDO DE APOIO AO DESENVOLVIMENTO SOCIAL',
       'PROCURADORIA GERAL DA FAZENDA NACIONAL',
       'FUNDO DE ESTABILIDADE DO SEGURO RURAL',
       'SUPERINTENDENCIA DA ZONA FRANCA DE MANAUS/AM',
       'FUNDACAO ESCOLA NACIONAL DE ADM. PUBLICA',
       'FUNDO CONSTITUCIONAL DO DISTRITO FEDERAL',
       'FUNDO DE COMPENSACAO E VARIACAO SALARIAL',
       'INSTITUTO NACIONAL DA PROPRIEDADE INDUSTRIAL',
       'FUNDACENTRO - FUND.JORGE DUPRAT/CTN/SEDE - SP',
       'RESERVA DE CONTINGENCIA/MEFP',
       'COORD.GERAL DE ORC. FIN. E CONTABILIDADE',
       'FUNDO DE GARANTIA A EXPORTACAO-BNDES',
       'SUPERINTENDENCIA DE SEGUROS PRIVADOS - RJ',
       'EMPRESA BRASILEIRA DE SERVICOS HOSPITALARES',
       'UNIVERSIDADE FEDERAL DE LAVRAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TOCANTINS',
       'UNIVERSIDADE FEDERAL FLUMINENSE',
       'FUNDACAO UNIVERSIDADE DE BRASILIA - FUB',
       'UNIVERSIDADE FEDERAL DO PARANA',
       'HOSPITAL DE CLINICAS DE PORTO ALEGRE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO NORTE DE MG',
       'UNIVERSIDADE FEDERAL DE OURO PRETO',
       'UNIVERSIDADE FEDERAL DO RIO DE JANEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAPA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE RONDONIA',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO SUL',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ESP.SANTO',
       'INSTITUTO FED CIENCIA TECNOL SUDESTE MG',
       'FUNDO NACIONAL DE DESENVOLVIMENTO DA EDUCACAO',
       'FUNDACAO UNIVERSIDADE FEDERAL DE MATO GROSSO',
       'FUNDACAO UNIVERSIDADE FED. DA GRANDE DOURADOS',
       'INST. FED. DE EDUC.,CIENC. E TEC. DE RONDONIA',
       'UNIVERSIDADE FEDERAL DO CEARA',
       'FUND.UNIV.FED.DE.CIENC.DA SAUDE DE P.ALEGRE',
       'UNIVERSIDADE FEDERAL DO OESTE DA BAHIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TRIA.MINEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO SUL DE MG',
       'UNIVERSIDADE FEDERAL DO ESPIRITO SANTO',
       'UNIV.DA INTEG.INTERN.DA LUSOF.AFRO-BRASILEIRA',
       'UNIVERSIDADE FEDERAL DE SANTA CATARINA',
       'UNIVERSIDADE FEDERAL DE MINAS GERAIS',
       'UNIVERSIDADE FEDERAL DE PERNAMBUCO',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO NORTE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MARANHAO',
       'UNIVERSIDADE FEDERAL DO OESTE DO PARA',
       'UNIVERSIDADE FEDERAL DE ALFENAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.FARROUPILHA',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ABC',
       'UNIVERSIDADE FEDERAL DE RORAIMA',
       'FUNDACAO UNIVERSIDADE DO AMAZONAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE ALAGOAS',
       'UNIVERSIDADE FED.VALES JEQUITINHONHA E MUCURI',
       'UNIVERSIDADE FEDERAL DE SANTA MARIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PARA',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE - FURG',
       'UNIVERSIDADE FEDERAL DA BAHIA',
       'UNIVERSIDADE FEDERAL DO TRIANGULO MINEIRO',
       'UNIVERSIDADE FEDERAL DO AGRESTE DE PERNAMBUCO',
       'UNIVERSIDADE FEDERAL DO SUL E SUDESTE DO PARA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PIAUI',
       'FUNDACAO UNIVERS.FED. DE MATO GROSSO DO SUL',
       'UNIVERSIDADE FEDERAL RURAL DO RIO DE JANEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.FLUMINENSE',
       'UNIVERSIDADE FEDERAL DO PARA', 'REITORIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RS', 'CAPES - DIFERENCA CAMBIAL',
       'INST FED DE EDUC CIENC E TECNOLOGIA BAIANO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO CEARA',
       'INSTITUTO FEDERAL DE SAO PAULO',
       'FUNDACAO UNIVERSIDADE FEDERAL DE PELOTAS',
       'UNIVERSIDADE FEDERAL DO SUL DA BAHIA',
       'UNIVERSIDADE TECNOLOGICA FEDERAL DO PARANA',
       'UNIVERSIDADE FEDERAL DE JATAI',
       'UNIVERSIDADE FEDERAL RURAL DE PERNAMBUCO',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PIAUI',
       'UNIVERSIDADE FEDERAL DA FRONTEIRA SUL',
       'INST.FED.DE EDUC.,CIE.E TEC.SUL-RIO-GRANDENSE',
       'COLEGIO PEDRO II', 'CENTRO FEDERAL DE EDUCACAO TECNOLOGICA DE MG',
       'UNIFESP-UNIVERSIDADE FEDERAL DE SAO PAULO',
       'UNIVERSIDADE FEDERAL DE JUIZ DE FORA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAZONAS',
       'FUNDACAO JOAQUIM NABUCO', 'IF GOIANO',
       'UNIVERSIDADE FEDERAL RURAL DO SEMI-ARIDO - RN',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ACRE',
       'UNIVERSIDADE FEDERAL DE ITAJUBA',
       'FUND. UNIVERSIDADE FEDERAL VALE SAO FRANCISCO',
       'UNIV. FEDERAL DA INTEGRACAO LATINO-AMERICANA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MAT.G.DO SUL',
       'UNIVERSIDADE FEDERAL DE RONDONOPOLIS',
       'FUND.COORD.DE APERF.DE PESSOAL NIVEL SUPERIOR',
       'FUNDACAO UNIVERSIDADE FEDERAL DE UBERLANDIA',
       'IFB - REITORIA - BRASILIA-DF',
       'UNIRIO UNIVERSIDADE FEDERAL DO ESTADO RJ',
       'FUNDACAO UNIVERSIDADE FEDERAL DE S.J.DEL-REI',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PAMPA',
       'UNIVERSIDADE FEDERAL DE ALAGOAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RN',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE PERNAMBUCO',
       'UNIVERSIDADE FEDERAL DA PARAIBA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE STA.CAT/IFSC',
       'INST.FED. FLUMINENSE/CAMPUS CAMPOS-CENTRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE SERGIPE',
       'FUNDACAO UNIVERSIDADE FEDERAL DO TOCANTINS',
       'UNIVERSIDADE FEDERAL DO CARIRI',
       'UNIVERSIDADE FEDERAL DE CAMPINA GRANDE',
       'CENTRO FED.DE EDUC.TECNOL.CELSO S.DA FONSECA',
       'FUNDACAO UNIVERSIDADE DO MARANHAO',
       'UNIVERSIDADE FEDERAL DO RECONCAVO DA BAHIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE MINAS GERAIS',
       'UNIVERSIDADE FEDERAL DE VICOSA', 'IFPB - REITORIA',
       'UNIVERSIDADE FEDERAL DO DELTA DO PARNAIBA',
       'INST. FED. DO PARANA/ REITORIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SERGIPE',
       'INST.NACIONAL DE EST.E PESQUISAS EDUCACIONAIS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE GOIAS',
       'UNIVERSIDADE FEDERAL DE GOIAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DA BAHIA',
       'UNIVERSIDADE FEDERAL DO NORTE DE TOCANTINS',
       'INSTITUTO FEDERAL CATARINENSE - REITORIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SAO CARLOS',
       'SUBSECRETARIA DE PLANEJ. E ORCAMENTO SPO(MEC)',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE RORAIMA',
       'UNIVERSIDADE FEDERAL DE CATALAO',
       'UNIVERSIDADE FEDERAL RURAL DA AMAZONIA',
       'INST.FED.DE ED.,CIENC.E TEC.DO S.PERNAMBUCANO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MATO GROSSO',
       'FUNDACAO UNIVERSIDADE FEDERAL DO AMAPA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ACRE',
       'DEPART.NAC.INFRA ESTRUTURA TRANSPORTES.',
       'AGENCIA NACIONAL DE TRANSPORTES TERRESTRES',
       'AGENCIA NACIONAL DE AVIACAO CIVIL',
       'VALEC ENGENHARIA CONSTRUCOES E FERROVIAS S/A.',
       'FUNDO NACIONAL DE SEG. E EDUCACAO DE TRANSITO',
       'AGENCIA NACIONAL DE TRANSPORTES AQUAVIARIOS',
       'EMPRESA DE PLANEJAMENTO E LOGISTICA S.A - EPL',
       'FUNDO DA MARINHA MERCANTE',
       'SUBSECRETARIA DE PLAN.,ORCAM.E ADMIN.SETORIAL',
       'FUNDO NACIONAL DE AVIACAO CIVIL', 'DEPEN - DIRETORIA EXECUTIVA',
       'COORDENACAO DE ORCAMENTO FINANCAS CONTABILIDA',
       'FUNDO NACIONAL ANTIDROGAS',
       'FUNDO NACIONAL DE SEGURANCA PUBLICA - FNSP',
       'CONSELHO ADMINISTRATIVO DE DEFESA ECONOMICA',
       'FUNDO DE DEFESA DOS DIREITOS DIFUSOS',
       'FUNDACAO NACIONAL DO INDIO - U.O.',
       'RENDA DO PATRIMONIO INDIGENA',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MJ',
       'COORDENACAO DE ORCAMENTO E FINANCAS - PRF',
       'FUNDO NACIONAL DO IDOSO',
       'FUNDO NACIONAL PARA A CRIANCA E O ADOLESCENTE',
       'SETORIAL ORCAMENTARIA E FINANCEIRA - MDH',
       'FUNDACAO NACIONAL DE SAUDE - PA',
       'SPO-COORD.-GERAL DE ORC.E FINANCAS/MS',
       'AGENCIA NACIONAL DE VIGILANCIA SANITARIA',
       'AGENCIA NACIONAL DE SAUDE SUPLEMENTAR',
       'FUNDACAO NACIONAL DE SAUDE - MT', 'FUNDACAO OSWALDO CRUZ',
       'FUNDACAO NACIONAL DE SAUDE - DF',
       'HOSPITAL NOSSA SENHORA DA CONCEICAO S/A',
       'FUNDACAO NACIONAL DE SAUDE - AP',
       'FUNDACAO NACIONAL DE SAUDE - ES',
       'FUNDACAO NACIONAL DE SAUDE - PB',
       'AGENCIA NACIONAL DE TELECOMUNICACOES-SEDE',
       'FUNDO DE UNIVERS.DOS SERV.TELECOMUNICACOES',
       'FUNDO P/O DESENV.TECNOL.DAS TELECOMUNICACOES',
       'TELECOMUNICACOES BRASILEIRAS S/A',
       'EMPRESA BRASIL DE COMUNICACAO S.A', 'MRE - DIFERENCA CAMBIAL',
       'FUNDACAO ALEXANDRE DE GUSMAO',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MRE',
       'AG. NAC.DO PETROLEO GAS NAT.E BIOCOM',
       'SETORIAL ORCAMENTARIA E FINANCEIRA - ANM',
       'EMPRESA DE PESQUISA ENERGETICA',
       'COMPANHIA DE PESQUISA DE RECURSOS MINERAIS',
       'AGENCIA NACIONAL DE ENERGIA ELETRICA',
       'COORD.GERAL DE ORCAM.E FIN./M.M.E',
       'NUCLEBRAS EQUIPAMENTOS PESADOS S/A-NUCLEP',
       'INDUSTRIAS NUCLEARES DO BRASIL S/A - INB',
       'FUNDO CONSTITUCIONAL FINANCIAMENTO NORTE',
       'CIA DE DES.DOS VALES DO S.FRANC.E DO PARNAIBA',
       'DEPARTAMENTO NAC. DE OBRAS CONTRA AS SECAS/UO',
       'FUNDO DE DESENVOLVIMENTO DO NORDESTE',
       'SUPERINTENDENCIA DO DESENVOLV. DO NORDESTE',
       'CIA BRASILEIRA DE TRENS URBANOS-ADM.CENTRAL',
       'FUNDO CONSTITUCIONL DO CENTRO OESTE',
       'FUNDO DE DESENVOLVIMENTO DO CENTRO-OESTE',
       'COORDENACAO DE ORCAMENTO E FINANCAS.',
       'FUNDO CONSTITUCIONAL DE FINANCIAM.DO NORDESTE',
       'SUPERINTEND. DO DESENVOLVIMENTO DA AMAZONIA',
       'ORCAMENTO E FINANCAS/MDR',
       'SUPERINT. DO DESENVOLVIMENTO DO CENTRO-OESTE',
       'FUNDO DE DESENVOLVIMENTO DA AMAZONIA',
       'EMPRESA DE TRENS URBANOS DE PORTO ALEGRE S/A',
       'FUNDO NACIONAL DE HABIT. DE INTERESSE SOCIAL',
       'IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ',
       'COORD. DE PLAN. ORCAMENTO E FIN./COPLAN/JBRJ',
       'INST.CHICO MENDES DE CONSER.DA BIODIVERSIDADE',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMA',
       'SUBSECRET.PLANEJAM.ORCAM.E ADMINIST±SPOA(MMA)',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMC',
       'FUNDO NACIONAL DA CULTURA - FNC',
       'FUNDO GERAL DE TURISMO-FUNGETUR', 'FUNDACAO BIBLIOTECA NACIONAL',
       'AGENCIA NACIONAL DO CINEMA', 'FUNDACAO CULTURAL PALMARES',
       'INSTITUTO BRASILEIRO DE MUSEUS - IBRAM',
       'INSTITUTO DO PATRIMONIO HIST. E ART. NACIONAL',
       'INSTITUTO BRASILEIRO DE TURISMO - EM EXTINCAO',
       'CGOFC - SETORIAL/MTUR', 'FUNDACAO NACIONAL DE ARTES',
       'FUNDACAO CASA DE RUI BARBOSA',
       'SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR',
       'FUNDO DE IMPRENSA NACIONAL/EXEC.ORC.FINANC.',
       'GABINETE DA VICE-PRESIDENCIA DA REPUBLICA',
       'INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI'], dtype=object)

Los 10 NOMBRE_UNIDAD_GESTORA que MAS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
SETORIAL ORCAMENTARIA E FINANCEIRA / ME        20277                15.07
DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM    3640                 2.70
FUNDO DO EXERCITO                               3506                 2.60
COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS    2383                 1.77
FUNDO NACIONAL DA CULTURA - FNC                 2093                 1.56
IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ    2042                 1.52
FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO       2012                 1.49
SETORIAL ORCAMENTARIA E FINANCEIRA - ANM        1843                 1.37
INSTITUTO NAC.DE METROLOG. QUALID. E TECNOLOG   1786                 1.33
SECRETARIA DE ECON. E FIN.DA AER.- F.AER.       1717                 1.28

Los 10 NOMBRE_UNIDAD_GESTORA que MENOS aparecen son:

                                           count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
DIRETORIA DE GESTAO INTERNA(CGU)               1                 0.00
INST.FED. FLUMINENSE/CAMPUS CAMPOS-CENTRO      1                 0.00
FUNDACAO NACIONAL DE SAUDE - AP                1                 0.00
RESERVA DE CONTINGENCIA/MEFP                   1                 0.00
FUNDACAO NACIONAL DE SAUDE - PA                1                 0.00
FUNDACAO NACIONAL DE SAUDE - MT                1                 0.00
FUNDACAO NACIONAL DE SAUDE - ES                1                 0.00
FUNDACAO NACIONAL DE SAUDE - PB                1                 0.00
FUNDACAO CULTURAL PALMARES                     1                 0.00
GABINETE DA VICE-PRESIDENCIA DA REPUBLICA      1                 0.00

 Las distribución de las repeticiones de los NOMBRE_UNIDAD_GESTORA son:

       count  % repetición
count
1         10          3.73
63         4          1.49
16         4          1.49
19         3          1.12
446        3          1.12
...      ...           ...
23         1          0.37
29         1          0.37
10         1          0.37
6          1          0.37
4          1          0.37

[218 rows x 2 columns]

None
La categoría CATEGORÍA_ECONÓMICA tiene 5 elementos diferentes:

Los elementos de la categoría son:

array(['Receitas de Capital', 'Receitas Correntes',
       'Receitas Correntes - intra-orçamentárias', 'Sem informação',
       'Receitas de Capital - intra-orçamentárias'], dtype=object)

Los 10 CATEGORÍA_ECONÓMICA que MAS aparecen son:

                                            count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                         128090                95.17
Receitas de Capital                          4292                 3.19
Receitas Correntes - intra-orçamentárias     2180                 1.62
Sem informação                                 16                 0.01
Receitas de Capital - intra-orçamentárias      15                 0.01

Los 10 CATEGORÍA_ECONÓMICA que MENOS aparecen son:

                                            count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                         128090                95.17
Receitas de Capital                          4292                 3.19
Receitas Correntes - intra-orçamentárias     2180                 1.62
Sem informação                                 16                 0.01
Receitas de Capital - intra-orçamentárias      15                 0.01

 Las distribución de las repeticiones de los CATEGORÍA_ECONÓMICA son:

        count  % repetición
count
128090      1         20.00
4292        1         20.00
2180        1         20.00
16          1         20.00
15          1         20.00

None
La categoría ORIGEN_INGRESO tiene 15 elementos diferentes:

Los elementos de la categoría son:

array(['Operações de Crédito', 'Receitas Correntes - a classificar',
       'Receita de Serviços', 'Contribuições',
       'Outras Receitas Correntes', 'Alienação de Bens',
       'Receita Patrimonial', 'Transferências Correntes',
       'Impostos, Taxas e Contribuições de Melhoria',
       'Amortizações de Empréstimos', 'Receita Agropecuária',
       'Transferências de Capital', 'Receita Industrial',
       'Outras Receitas de Capital', 'Sem informação'], dtype=object)

Los 10 ORIGEN_INGRESO que MAS aparecen son:

                                             count  Porcentaje_recuento
ORIGEN_INGRESO
Receita de Serviços                          39917                29.66
Outras Receitas Correntes                    39485                29.34
Receita Patrimonial                          20964                15.58
Impostos, Taxas e Contribuições de Melhoria  13536                10.06
Contribuições                                11748                 8.73
Receita Agropecuária                          1902                 1.41
Receita Industrial                            1891                 1.40
Amortizações de Empréstimos                   1818                 1.35
Alienação de Bens                             1457                 1.08
Operações de Crédito                           840                 0.62

Los 10 ORIGEN_INGRESO que MENOS aparecen son:

                                    count  Porcentaje_recuento
ORIGEN_INGRESO
Receita Agropecuária                 1902                 1.41
Receita Industrial                   1891                 1.40
Amortizações de Empréstimos          1818                 1.35
Alienação de Bens                    1457                 1.08
Operações de Crédito                  840                 0.62
Transferências Correntes              647                 0.48
Receitas Correntes - a classificar    180                 0.13
Outras Receitas de Capital            157                 0.12
Transferências de Capital              35                 0.03
Sem informação                         16                 0.01

 Las distribución de las repeticiones de los ORIGEN_INGRESO son:

       count  % repetición
count
39917      1          6.67
39485      1          6.67
20964      1          6.67
13536      1          6.67
11748      1          6.67
1902       1          6.67
1891       1          6.67
1818       1          6.67
1457       1          6.67
840        1          6.67
647        1          6.67
180        1          6.67
157        1          6.67
35         1          6.67
16         1          6.67

None
La categoría TIPO_INGRESO tiene 42 elementos diferentes:

Los elementos de la categoría son:

array(['Operações de crédito - mercado interno',
       'Receitas Correntes - a classificar',
       'Serviços Administrativos e Comerciais Gerais',
       'Contribuições sociais',
       'Multas administrativas, contratuais e judicia',
       'Indenizações, restituições e ressarcimentos',
       'Alienação de bens móveis', 'Exploração de recursos naturais',
       'Transferências de Instituições Privadas',
       'Operações de crédito - mercado externo',
       'Transferências de Convênios', 'Demais receitas correntes',
       'Contribuições econômicas',
       'Exploração do patrimônio imobiliário do Estad', 'Taxas',
       'Amortizações de Empréstimos', 'Outros serviços',
       'Receita Agropecuária', 'Alienação de bens imóveis',
       'Transferências da União e de suas Entidades',
       'Valores Mobiliários', 'Serviços e Atividades Financeiras',
       'Transferências dos Estados e do Distrito Fede',
       'Receita Industrial',
       'Bens, Direitos e Valores Incorporados ao Patr',
       'Transferências Provenientes de Depósito Não I',
       'Demais receitas patrimoniais',
       'Delegação de Serviços Públicos Mediante Conce',
       'Indenizações e restituições',
       'Serviços e Atividades Referentes à Saúde',
       'Serviços e Atividades Referentes à Navegação ',
       'Transferências dos Municípios e de suas Entid',
       'Cessão de direitos', 'Transferências de Pessoas Físicas',
       'Impostos', 'Contribuições para Entidades Privadas de Serv',
       'Transferências do Exterior',
       'Remuneração das Disponibilidades do Tesouro', 'Sem informação',
       'Receita de concessões e permissões',
       'Exploração do patrimônio intangível',
       'Alienação de bens intangíveis'], dtype=object)

Los 10 TIPO_INGRESO que MAS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Serviços Administrativos e Comerciais Gerais   34121                25.35
Multas administrativas, contratuais e judicia  15759                11.71
Indenizações, restituições e ressarcimentos    15509                11.52
Taxas                                          11212                 8.33
Exploração do patrimônio imobiliário do Estad   9202                 6.84
Demais receitas correntes                       6889                 5.12
Contribuições econômicas                        5923                 4.40
Contribuições sociais                           5814                 4.32
Valores Mobiliários                             5056                 3.76
Exploração de recursos naturais                 3560                 2.65

Los 10 TIPO_INGRESO que MENOS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Receita de concessões e permissões                62                 0.05
Indenizações e restituições                       58                 0.04
Transferências dos Municípios e de suas Entid     54                 0.04
Exploração do patrimônio intangível               17                 0.01
Sem informação                                    16                 0.01
Contribuições para Entidades Privadas de Serv     11                 0.01
Transferências da União e de suas Entidades       10                 0.01
Transferências de Convênios                        8                 0.01
Transferências do Exterior                         1                 0.00
Alienação de bens intangíveis                      1                 0.00

 Las distribución de las repeticiones de los TIPO_INGRESO son:

       count  % repetición
count
1          2          4.76
15759      1          2.38
15509      1          2.38
11212      1          2.38
9202       1          2.38
6889       1          2.38
5923       1          2.38
5814       1          2.38
34121      1          2.38
5056       1          2.38
3560       1          2.38
2183       1          2.38
2324       1          2.38
1902       1          2.38
1891       1          2.38
1818       1          2.38
2088       1          2.38
1271       1          2.38
1270       1          2.38
1031       1          2.38
983        1          2.38
576        1          2.38
497        1          2.38
473        1          2.38
1406       1          2.38
343        1          2.38
308        1          2.38
180        1          2.38
219        1          2.38
157        1          2.38
123        1          2.38
103        1          2.38
164        1          2.38
62         1          2.38
58         1          2.38
17         1          2.38
54         1          2.38
16         1          2.38
11         1          2.38
10         1          2.38
8          1          2.38

None
La categoría DETALLE tiene 600 elementos diferentes:

Los elementos de la categoría son:

array(['TITULOS DE RESPONS.TES.NAC.-MERC.INT.-PRINC.',
       'Receitas Correntes - a classificar',
       'SERV.ADMINISTRAT.E COMERCIAIS GERAIS-MUL.JUR.',
       'ADICIONAL A CONTR.PREVIDENCIARIA RURAL-PRINC.',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS-MUL.JUR',
       'INDENIZACAO POR SINISTRO-PRINCIPAL',
       'OUTRAS INDENIZACOES-PRINCIPAL',
       'SERV.ADMIN.E COMERCIAIS GERAIS-PRINC.-INTRA',
       'ALIENACAO DE BENS MOVEIS E SEMOVENTES-PRINC.',
       'CONCESSAO FLORESTAS NACIONAIS-VAL.MIN.-PRINC.',
       'CONCESSAO FLORESTAS NACIONAIS-DEM.VAL.-PRINC.',
       'TRANSFERENCIAS DE INSTITUICOES PRIVADAS-PRINC',
       'CONCESSAO FLOREST.NACIONAIS-DEM.VAL.-MUL.JUR.',
       'OP.DE CREDITO CONTRATUAIS-MERC.EXTERNO-PRINC.',
       'SERVICOS DE INFORMACAO E TECNOLOGIA-PRINCIPAL',
       'SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.',
       'CUSTOS EDITAL DE CONCESSAO FLORESTAL-PRINC.',
       'CONCESSAO FLOREST.NACIONAIS-VAL.MIN.-MUL.JUR.',
       'TRANSFERENCIAS DO EXTERIOR-PRINCIPAL',
       'OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-MUL.JUR',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-PRINC.',
       'CONT.S/APOSTAS EM COMPETICOES HIPICAS-DIV.AT.',
       'ALUGUEIS E ARRENDAMENTOS-MULTAS E JUROS',
       'TAXAS INSPECAO,CONTROLE E FISCALIZ.-MUL.JUR.',
       'TX.CONTR.E FISC.PESCA E AQUICULTURA-PRINC.',
       'CONTRIBUICAO INDUSTRIAL RURAL-PARCEL.-MUL.JUR',
       'AMORTIZACAO DE EMPRESTIMOS CONTRATUAIS-PRINC.',
       'OUTROS SERVICOS-PRINCIPAL',
       'REST.DESPESAS EXERC.ANT.FIN.FTE.PRIM.-MUL.JUR',
       'CONTRIBUICAO INDUSTRIAL RURAL-DIV.AT-MUL.JUR.',
       'SERV.DE REGIST.,CERTIF.E FISCALIZ.-MUL.JUR.',
       'CONTRIBUICAO INDUSTRIAL RURAL-MULTAS E JUROS',
       'OUTRAS RESTITUICOES-MULTAS E JUROS',
       'RESTIT.DESP.PRIMARIAS EX.ANTERIORES-PRINC.',
       'RESTIT.DESP.PRIMARIAS EX.ANTERIORES-MUL.JUR.',
       'RESTITUICAO DE CONVENIOS-FINANCEIRAS-PRINC.',
       'TITULOS DA DIVIDA AGRARIA-TDA-PRINCIPAL',
       'INDENIZ.P/DANOS CAUSADOS AO PATR.PUB.-PRINC.',
       'ALUGUEIS E ARRENDAMENTOS-PRINCIPAL',
       'RECEITA AGROPECUARIA-PRINCIPAL',
       'ALIENACAO DE BENS IMOVEIS-PRINCIPAL',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS-PRINC.',
       'CONTRIBUICAO INDUSTRIAL RURAL-PARCEL.-PRINC.',
       'CONT.S/APOSTAS EM COMPETICOES HIPICAS-MUL.JUR',
       'ALIENACAO DE BENS IMOVEIS-MULTAS',
       'OUTRAS RESTITUICOES-PRINCIPAL',
       'CONTRIBUICAO INDUSTRIAL RURAL-DIVIDA ATIVA',
       'CONTRIBUICAO INDUSTRIAL RURAL-PRINCIPAL',
       'OUTROS RESSARCIMENTOS-PRINCIPAL',
       'TRANSFER.DA UNIAO E DE SUAS ENTIDADES-PRINC.',
       'REMUNERACAO DE DEPOSITOS BANCARIOS-PRINCIPAL',
       'ALUGUEIS E ARRENDAMENTOS-PRINCIPAL-INTRA',
       'OUTROS RESSARCIMENTOS-MULTAS E JUROS',
       'RETORNO DE OP.,JUR.E ENC.FINANCEIROS-PRINC.',
       'ALIENACAO DE ESTOQUES DE CAFE-FUNCAFE-DIV.AT.',
       'OUTRAS RECEITAS-FINANCEIRAS-DIVIDA ATIVA',
       'OUTRAS RECEITAS-PRIMARIAS-DIV.ATIVA-MUL.JUR.',
       'REST.DESPESAS EXERC.ANT.FIN.FTE.PRIM.-PRINC.',
       'ALIENACAO DE ESTOQUES DE CAFE-FUNCAFE-PRINC.',
       'ALIENACAO DE ESTOQUES DA PGPM-PRINCIPAL',
       'CONTR.S/APOSTAS COMPET.HIPICAS-DIV.AT-MUL.JUR',
       'AMORTIZACAO DE FINANCIAMENTOS-PRINCIPAL',
       'TRANSF.DOS ESTADOS,DF E SUAS ENTIDADES-PRINC.',
       'RESTITUICAO DE CONVENIOS-PRIMARIAS-PRINCIPAL',
       'SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL',
       'RECEITA INDUSTRIAL-MULTAS E JUROS',
       'OUTRAS RECEITAS-PRIMARIAS-MULTAS E JUROS',
       'TAXAS INSPECAO,CONTROLE E FISCALIZACAO-PRINC.',
       'CONTR.S/APOSTAS EM COMPETICOES HIPICAS-PRINC.',
       'RECEITA INDUSTRIAL-PRINCIPAL', 'DIVIDENDOS-PRINCIPAL',
       'ALIENACAO DE BENS IMOVEIS-JUROS',
       'REMUN.SALDOS RECURSOS NAO-DESEMBOLSADOS-PRINC',
       'RESTITUICAO DE CONVENIOS-PRIMARIAS-MUL.JUR.',
       'ALIEN.DE BENS E MERCADORIAS APREENDIDOS-PRINC',
       'TRANSF.PROVENIENTES DEP.NAO IDENTIFIC.-PRINC.',
       'PART.UNIAO EM REC.LOT.PROGN.NUMERICOS-PRINC.',
       'PART.UNIAO EM RECEITA DE LOT.ESPORTIVA-PRINC.',
       'PART.UNIAO EM RECEITA LOT.INSTANTANEA-PRINC.',
       'PART.UNIAO EM REC.LOT.PROGN.ESPECIFICO-PRINC.',
       'OUTRAS CONTRIB.SOC.-NAO ARREC.PROJ.RFB-PRINC.',
       'CONC/PERM/AUT/CESSAO DIR.USO IMOV.PUB-PRINC.',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-DIV.AT.',
       'CESS.DIR.USO.RADFRQ-POSIC.ORBITAIS/DA.PRC',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELEC.-MUL.JUR',
       'TX.FISC.FUNC-TFF-POSICOES.ORBITAIS/PRC',
       'CIDE-REMESSAS AO EXTERIOR-DIV.AT.-MUL.JUR.',
       'RECEITA INDUSTRIAL-PRINCIPAL-INTRA',
       'CONTR.S/REC.BRT EMP.SERV.TELEC-DIV.AT-MUL.JUR',
       'COMPENS.FINANC.EXPL.RECURSOS MINERAIS-PRINC.',
       'CIDE-REMESSAS AO EXTERIOR-DIVIDA ATIVA',
       'SERV.DE INFORMACAO E TECNOLOGIA-PRINC.-INTRA',
       'SERV.REGIST.,CERTIF.E FISCALIZ.-PRINC.-INTRA',
       'CIDE-REMESSAS AO EXTERIOR-MULTAS E JUROS',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-MUL.JUR.',
       'CONTR.S/REC.CONCESS.PERM.ENERG.ELETR.-MUL.JUR',
       'COTA-PARTE DO AFRMM-DIVIDA ATIVA',
       'ROY.EXC.PETRO.PLAT-COM.ANT.3/12/12-DEM.-PRINC',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-PRINC.',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELECOM-PRINC.',
       'CONTR.S/FATUR.EMPR.INFO.INST.AMAZONIA-PRINC.',
       'CIDE-REMESSAS AO EXTERIOR-PRINCIPAL',
       'TX.FISC.INST-TFI-POSICOES.ORBITAIS/PRC-INTRA',
       'TX.FISC.INST-TFI-POSICOES.ORBITAIS/PRC',
       'CONTR.S/FATUR.EMPR.INFO.INST.DEM.REG.-PRINC.',
       'CONTR.S/FATUR.EMPR.INFO.INST.AMAZONIA-MUL.JUR',
       'COTA-PARTE DO AFRMM-DIVIDA ATIVA-MUL.JUR.',
       'SERVICOS DE INFORMACAO E TECNOLOGIA-MUL.JUR.',
       'COMPENS.FINANC.EXPL.RECURSOS MINERAIS-DIV.AT.',
       'COTA-PARTE DO AFRMM-PRINCIPAL',
       'OUTRAS.DLG.SV.TELEC-POSIC.ORBITAIS/PRC',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELECOM-DIV.AT',
       'UTILIZACAO DE RECURSOS HIDRICOS-ITAIPU-PRINC.',
       'CONTR.S/REC.CONCESS.PERM.ENERG.ELETR.-PRINC.',
       'CONTR.P/DES.ENS.PROF.MARITIMO-DIV.AT-MUL.JUR.',
       'OUTRAS INDENIZACOES-PRINCIPAL-INTRA',
       'CONTR.P/DESENV.ENSINO PROF.MARITIMO-MUL.JUR.',
       'CONTR.P/DESENV.ENSINO PROF.MARITIMO-PRINCIPAL',
       'CONTR.DESENV.ENSINO PROF.MARIT-PARCEL-MUL.JUR',
       'CONTR.DESENV.ENSINO PROF.MARIT.-PARCEL-PRINC.',
       'CONTR.P/DESENV.ENSINO PROF.MARITIMO-DIV.ATIVA',
       'INSCR.EM CONCURSOS E PROC.SELETIVOS-MUL.JUR.',
       'SERVICOS DE ATENDIMENTO A SAUDE-PRINC.-INTRA',
       'CONC/PERM/AUT/CESSAO DIR.USO IMOV.PUB-MUL.JUR',
       'SERV.ASSIST.SAUDE SUPLEM.SERV.CIVIL-PRINC.',
       'TARIFA AEROPORTUARIA-PRINCIPAL',
       'OUTRAS INDENIZACOES-MULTAS E JUROS',
       'SERV.ASSIST.MEDICO-HOSP.DO MILITAR-MUL.JUR.',
       'SERVICOS DE ATENDIMENTO A SAUDE-PRINCIPAL',
       'OUTROS SERVICOS-MULTAS E JUROS',
       'ROY.PETRO.PLAT-COM.ANTES 3/12/12-DEMAIS-PRINC',
       'TRANSF.DOS MUNICIPIOS E SUAS ENTIDADES-PRINC.',
       'TX.INSPECAO,CONTROLE E FISCALIZ.-PRINC.-INTRA',
       'SERV.ASSIST.MEDICO-HOSP.DO MILITAR-PRINCIPAL',
       'SERVICOS DE ATENDIMENTO A SAUDE-MUL.JUR.',
       'CONTR.P/CUST.PENS.MILIT.FORCAS ARMADAS-PRINC.',
       'INDENIZ.P/DANOS CAUSADOS AO PATR.PUB.-MUL.JUR',
       'TAXAS PELA PRESTACAO DE SERVICOS-MULT.E JUROS',
       'INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL',
       'SERVICOS DE TRANSPORTE-MULTAS E JUROS',
       'SERVICOS DE TRANSPORTE-PRINCIPAL',
       'AMORTIZACAO EMPRESTIMOS CONTRATUAIS-MUL.JUR.',
       'SERVICOS DE NAVEGACAO-PRINCIPAL', 'SERVICOS PORTUARIOS-PRINCIPAL',
       'CESSAO DO DIR.OPERACIONALIZACAO PAGTOS-PRINC.',
       'TRANSFERENCIAS DE PESSOAS FISICAS-PRINCIPAL',
       'TAXAS PELA PRESTACAO DE SERVICOS-PRINCIPAL',
       'CONTR.P/CUST.PENS.MIL.FORCAS ARMADAS-MUL/JUR.',
       'COFINS SOBRE O FATURAMENTO-SIMPLES-PRINCIPAL',
       'CONDECINE-PRINCIPAL-INTRA',
       'EMOLUMENTOS E CUSTAS JUDICIAIS-DIV.AT-MUL.JUR',
       'JUROS SOBRE O CAPITAL PROPRIO-MULTAS E JUROS',
       'CONTRIB.P/FOMENTO RADIODIFUSAO PUBLICA-DIV.AT',
       'CSLL-CONTRIBUINTES Ñ OPT.SIMP.NAC.-JUROS',
       'IPI-FUMO-MULTAS E JUROS',
       'MLT.LEI.GER.TELECOM-NAO.P.ORBITAIS/DA.MLT+JRS',
       'IRRF-REMESSA AO EXTERIOR-PRINCIPAL',
       'CONTR.S/REC.OP.BRT DECOR.SERV.TELECOM-PRINC.',
       'CONTRIB.PIS/PASEP-OPTANTES SIMP.NAC-MULTAS',
       'IRPJ-LIQUIDA DE INCENTIVOS-MULTAS E JUROS',
       'CONTRIBUICOES P/O RGPS-PARCELAMENTOS-MUL.JUR.',
       'CSLL-PARCELAMENTOS-DIVIDA ATIVA-JUROS',
       'OUTRAS RECEITAS ADMINISTR.RFB-DIV.AT-MUL.JUR.',
       'CPSSS PATRONAL-SERVIDOR CIVIL-PRINC.-INTRA',
       'CONDECINE-MULTAS E JUROS',
       'REMUN.SALDOS RECUR.NAO-DESEMBOLSADOS-MUL.JUR.',
       'CONTRIBUICAO PIS/PASEP-PARCELAMENTOS-PRINC.',
       'CPSSS PATRONAL-SERVIDOR CIVIL-MULTAS E JUROS',
       'CONT.MOV.TRANSM.VAL.CRED.DIR.NAT.FIN.-MUL.JUR',
       'CPSSS-SERVIDOR CIVIL INATIVO-SENT.JUD.-PRINC.',
       'CSLL-CONTRIBUINTES OPT.SIMPLES NAC.-DIV.AT.',
       'CESSAO DIR.OPERACIONALIZ.PGTOS-P.JUD.-PRINC.',
       'CIDE COMBUSTIVEIS-COMERCIALIZACAO-MUL.JUR.',
       'CONTRIB.S/SORT.REALIZ.POR ENT.FILANT.-PRINC.',
       'CONTRIBUICAO PARA O ENSINO AEROVIARIO-PRINC.',
       'MUL.P/DESCUMP.OBRIG.PREVID.ACESSORIA-PRINC.',
       'CONTRIB.SOCIAL SALARIO-EDUCACAO-PARCEL-PRINC.',
       'CONTRIB.S/LOTERIAS PROGNOST.NUMERICOS-PRINC.',
       'IMPOSTO SOBRE A EXPORTACAO-JUROS DIVIDA ATIVA',
       'ALIENACAO DE TITULOS MOBILIARIOS-PRINCIPAL',
       'COFINS SOBRE O FATURAMENTO-PARCELAM.-PRINC.',
       'IMPOSTO SOBRE A IMPORTACAO-PRINCIPAL',
       'CONTRIB.P/O ENSINO AEROVIARIO-PARCEL.-MUL.JUR',
       'COFINS SOBRE O FATURAMENTO-DIVIDA ATIVA',
       'CPSSS-SERVIDOR CIVIL INATIVO-PRINCIPAL',
       'CONTRIB.P/O ENSINO AEROVIARIO-PARCEL.-PRINC.',
       'CONT.MOV.TRANSM.VAL.CRED.DIR.FIN-PARC-MUL.JUR',
       'ROY.PETR.PLAT.-PARTILHA-COM.A P.3/12/12-PRINC',
       'IOF-OURO-MULTAS E JUROS',
       'CONTRIBUICOES P/O RGPS-PARCEL.-DIV.AT-MUL.JUR',
       'CIDE-COMBUSTIVEIS-IMPORTACAO-PRINCIPAL',
       'IRPF-JUROS DA DIVIDA ATIVA',
       'TX.FISC.FUNC-TFF-NAO.POSI.ORBITAIS/DA.PRC',
       'BARREIRAS TECNICAS AO COMERC.EXTERIOR-MUL.JUR',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-DIV.AT.',
       'PRESTACAO DE CONTAS ELEITORAIS-MULTAS E JUROS',
       'ALIEN.BENS E MERCADORIAS APREENDIDOS-MUL.JUR.',
       'CONT.MOV.TRANSM.VAL.CRED.DIR.FIN-PARC-DIV.AT.',
       'CONT.P/ENT.PRIV.SERV.SOC.E FORM.PROFIS.-PRINC',
       'COFINS SOBRE O FATURAMENTO-PARCELAM.-DIV.AT.',
       'IRRF-REMESSA AO EXTERIOR-PRINCIPAL-INTRA',
       'VARIACAO CAMBIAL-PRINCIPAL',
       'DLG.SRV.RAD.SON.IMG-NAO.P.ORBITAIS/PRC',
       'ONUS DE SUCUMBENCIA-PRINCIPAL',
       'CONTRIBUICAO PARA O ENSINO AEROVIARIO-MUL.JUR',
       'MULTAS PREVISTAS LEG.ESPECIFICA-PRINC.-INTRA',
       'COFINS SOBRE O FATURAMENTO-JUROS DIV.ATIVA',
       'IRRF-TRABALHO-DIVIDA ATIVA',
       'RETORNO DE OP.,JUR.E ENC.FINANCEIROS-MUL.JUR.',
       'CPSSS-SERVIDOR CIVIL INATIVO-MULTAS E JUROS',
       'IPI-OUTROS PRODUTOS-PRINCIPAL',
       'REST.CONTRIB.P/PREV.COMPL.DO SERV.PUB-PRINC.',
       'ITR-MUNICIPIOS NAO-CONVENIADOS-JUROS DIV.AT.',
       'IRPF-MULTAS DA DIVIDA ATIVA',
       'MULT.LEG.ANTICORRUP.ACORDOS LENIENCIA-MUL.JUR',
       'CONTRIBUICAO PIS/PASEP-PARCELAMENTOS-MUL.JUR.',
       'TX.CONTROLE E FISCALIZ.PROD.QUIMICOS-PRINC.',
       'CONT.PREVIDENCIARIA SEGURADO-DIV.AT-MUL.JUR',
       'ROY.PETRO.PLAT-COM.ANTES 3/12/12-P.SAL-PRINC.',
       'CSLL-CONTRIBUINTES OPT.SIMPLES NAC.-MULTAS',
       'OUTRAS RECEITAS IMOBILIARIAS-PRINCIPAL',
       'CONT.PREVID.EMPREGADOR-OPT.SIMP.NAC.-MUL.JUR.',
       'REVERSAO DE GARANTIAS-PRINCIPAL',
       'CONTR.PIS/PASEP-PARCELAMENTOS-MULTAS DIV.AT.',
       'IPI-OUTROS PRODUTOS-PRINCIPAL-INTRA',
       'MUL.P/DESCUMP.OBRIG.PREVID.ACESSORIA-MUL.JUR.',
       'CONTRIBUICAO AO MONTEPIO CIVIL-PRINCIPAL',
       'DEMAIS DELEGACOES DE SERVICOS PUBLICOS-PRINC.',
       'CONTR.PIS/PASEP-PARCELAMENTOS-JUROS DIV.ATIVA',
       'MULT.LEG.ANTICORRUP.ACORDOS LENIENCIA-PRINC.',
       'CONTR.MOV.TRANSM.VAL.CRED.DIR.NAT.FIN.-PRINC.',
       'CONTR.PREV.EMPREGADOR-Ñ OPT.SIMP.NAC.-PRINC.',
       'COFINS S/FATURAMENTO-PARCEL.-MULTAS DIV.ATIVA',
       'JUROS SOBRE O CAPITAL PROPRIO-PRINCIPAL',
       'CPSSS-SERVIDOR CIVIL ATIVO-MULTAS E JUROS', 'IRPF-PRINCIPAL',
       'PREMIOS PRESCRITOS CONCUR.PROGNOSTICOS-PRINC.',
       'CSLL-CONTRIBUINTES Ñ OPT.SIMP.NAC.-MULTAS',
       'CONDECINE-DIVIDA ATIVA',
       'P.ESP.PETRO.PLAT-COM.ANT.3/12/12-P.SAL-PRINC.',
       'ROYAL.EXCED.PROD.PETRO.TERRA(QQ SIT.)-PRINC.',
       'REST.CONTRIB.P/PREV.COMPL.DO SERV.PUB-MUL.JUR',
       'RESTIT.PARCELAS SEG.DESEMP.REC.INDEV.-MUL.JUR',
       'EMOLUMENTOS E CUSTAS JUDICIAIS-PRINCIPAL', 'IRPF-DIVIDA ATIVA',
       'CIDE-COMBUST.-COMERCIALIZACAO-JUROS DIV.ATIVA',
       'MULTAS PREV.LEG.SEG.DESEMP.AB.SALAR.-DIV.AT.',
       'IPI-AUTOMOVEIS-PRINCIPAL',
       'CONTRIB.S/LOTERIA PROGNOST.ESPECIFICO-PRINC.',
       'CONT.PIS/PASEP-OPT.SIMP.NAC-MULTAS DIV.AT.',
       'IMPOSTO SOBRE A IMPORTACAO-DIVIDA ATIVA',
       'IRRF-REMESSA AO EXTERIOR-MULTAS E JUROS',
       'INDENIZ.POSSE/OCUP.ILICITA BENS PUB.-PRINC.',
       'CONTRIB.P/FOMENTO RADIODIF.PUB.-PRINC.-INTRA',
       'CONTR.PIS/PASEP SOBRE FATURAM.-PRINC.-INTRA',
       'COFINS SOBRE O FATURAMENTO-SIMPLES-JUROS', 'IPI-FUMO-PRINCIPAL',
       'CONTR.LOJ.FR.ENTREP.ADUAN.DEP.ALFAND.-MUL.JUR',
       'ITR-MUNICIPIOS CONVENIADOS-DIV.AT.-MUL.JUR.',
       'IMPOSTO SOBRE A EXPORTACAO-MULTAS DIV.ATIVA',
       'COTA-PARTE DO AFRMM-MULTAS E JUROS',
       'CPSSS-SERVIDOR CIVIL ATIVO-DIVIDA ATIVA',
       'OUTRAS RECEITAS-PRIMARIAS-DIVIDA ATIVA',
       'COMPENS.FINANCEIRAS ENTRE RGPS E RPPS-MUL.JUR',
       'CSLL-PARCELAMENTOS-DIVIDA ATIVA-MULTAS',
       'CONTRIB.PIS/PASEP-Ñ OPTANTES SIMP.NAC-JUROS',
       'CSLL-CONTRIBUINTES OPT.SIMPLES NAC-DIV.AT-MUL',
       'FOROS,LAUDEMIOS,TARIFAS DE OCUPACAO-MUL.JUR.',
       'CONTRIBUICAO SOBRE LOTERIAS ESPORTIVAS-PRINC.',
       'ONUS DE SUCUMBENCIA-MULTAS E JUROS',
       'MULTAS APLICADAS PELOS TRIB.DE CONTAS-PRINC.',
       'CONT.PREV.EMPREGADOR-Ñ SIM.NAC-DIV.AT-MUL.JUR',
       'ALIENACAO DE BENS IMOVEIS-MULTAS E JUROS',
       'OUTRAS.DLG.SV.TELEC-NAO.P.ORBITAIS/PRC',
       'TIT.RESP.TN-REFIN.DIV.PUB.FED.MERC.EXT.-PRINC',
       'OUTR.CONTR.ECON-ARREC.PROJ.RFB-DIV.AT.MUL/JUR',
       'IRPF-MULTAS E JUROS',
       'REMUNER.DISPONIBILIDADES TES.NACIONAL-PRINC.',
       'COFINS SOBRE O FATURAMENTO-PARCELAM.-MUL.JUR.',
       'RESTITUICAO DE RECURSOS DE FOMENTO-PRINCIPAL',
       'JUROS DE TITULOS DE RENDA-PRINCIPAL',
       'CSLL-CONTRIBUINTES OPT.SIMPLES NAC-DIV.AT-JUR',
       'ROYALT.PROD.PETRO.EM TERRA-CONCESSAO-PRINC.',
       'P.ESP.PETRO.PLAT-COM.A PARTIR 3/12/12-PRINC.',
       'IOF-DEMAIS OPERACOES-MULTAS DA DIVIDA ATIVA',
       'CONTRIBUICOES P/O RGPS-PARCELAMENTOS-PRINC.',
       'IMPOSTO SOBRE A IMPORTACAO-MUL.JUR.-INTRA',
       'DEMAIS RECEITAS PATRIMONIAIS-PRINCIPAL',
       'CSLL-CONTRIBUINTES Ñ OPT.SIMP.NAC.-DIV.AT.',
       'CONT.PIS/PASEP-Ñ OPT.SIMP.NAC-MULTAS DIV.AT.',
       'ROY.EXC.PETRO.PLAT-COM.A PARTIR 3/12/12-PRINC',
       'CONTRIB.PIS/PASEP-OPTANTES SIMP.NAC-JUROS',
       'RESTITUICAO BENEFICIOS ASSISTENCIAIS-MUL.JUR.',
       'IPI-OUTROS PRODUTOS-MULTAS E JUROS',
       'IRRF-TRABALHO-MULTAS DA DIVIDA ATIVA',
       'REMUNER.DISPONIBILIDADES TES.NACIONAL-MUL.JUR',
       'CONTRIB.PREVIDENCIARIA DO SEGURADO-PRINC.',
       'OUTRAS CONTRIB.ECONOM.-ARREC.PROJ.RFB-DIV.AT.',
       'PREMIOS PRESCRITOS CONC.PROGNOSTICOS-MUL.JUR.',
       'IRRF-CAPITAL-MULTAS E JUROS',
       'OUTRAS RECEITAS-FINANCEIRAS-PRINCIPAL',
       'CONTR.MOV.TRANSM.VAL.CRED.DIR.NAT.FIN.-DIV.AT',
       'RESSARCIMENTO DE CUSTOS-PRINCIPAL', 'CONDECINE-PRINCIPAL',
       'TX.FISC.INST-TFI-NAO.POSI.ORBITAIS/PRC',
       'RESTIT.DEP.DE SENTENCAS JUD.Ñ SACADOS-PRINC.',
       'CONTRIBUICAO PIS/PASEP-PARCELAMENTOS-JUROS',
       'IRRF-OUTROS RENDIMENTOS-MULTAS E JUROS',
       'AMORT.EMPR.-REFIN.DIV.MED.E LONGO PRAZO-PRINC',
       'CONTRIB.SOCIAL DO SALARIO-EDUCACAO-MUL.JUR.', 'Sem informação',
       'OUTRAS RECEITAS ADMINISTRADAS RFB-DIV.AT.',
       'CONT.PREVID.EMPREGADOR-OPT.SIMP.NAC.-DIV.AT.',
       'CIDE-COMBUSTIVEIS-COMERCIALIZACAO-DIV.ATIVA',
       'CONTRIB.PIS/PASEP-OPTANTES SIMP.NAC-DIV.AT.',
       'FOROS,LAUDEMIOS,TARIFAS DE OCUPACAO-DIV.ATIVA',
       'MULTAS PREV.LEG.SEG.DESEMP.AB.SALAR.-PRINC.',
       'TX.INSP,CONTROL.E FISCALIZ.-DIV.AT.-MUL.JUR.',
       'CESS.DIR.USO.RADFRQ-NAO.P.ORBITAIS/DA.PRC',
       'CIDE-COMBUST.-COMERCIALIZACAO-MULTAS DIV.AT.',
       'AMORTIZ.PROV.EXEC.DE GARANTIA-OP.CRED.-PRINC.',
       'CONCESSAO DE AVAIS,GARANTIAS E SEGUROS-PRINC.',
       'TIT.RESP.TN-REFIN.DIV.PUB.FED.MERC.INT.-PRINC',
       'AMORTIZACAO DE EMPRESTIMOS-EST/MUN-PRINCIPAL',
       'REC.POR FORCA DEC.JUD.E DE TRIB.ADM.-PRINC.',
       'TITULOS DE RESPONS.TES.NAC.-MERC.EXT.-PRINC.',
       'RESTIT.DESP.PRIMARIAS EX.ANT.-PRINC.-INTRA',
       'COFINS S/FATURAMENTO-PARCEL.-JUROS DIV.ATIVA',
       'ROY.EXC.PETRO.PLAT-CM.ANT.3/12/12-P.SAL-PRINC',
       'IPI-BEBIDAS-MULTAS E JUROS-INTRA',
       'MULTAS PREV.LEI GERAL TELECOM.-PRINC.-INTRA',
       'EMOLUMENTOS E CUSTAS JUDICIAIS-MULTAS E JUROS',
       'IPI-VINCULADOS A IMPORTACAO-MULTAS E JUROS',
       'IPI-OUTROS PRODUTOS-DIVIDA ATIVA',
       'OUTROS RESSARCIMENTOS-DIVIDA ATIVA-MUL.JUR.',
       'CSLL-CONTRIB.Ñ OPT.SIMP.NAC-DIV.AT-JUROS',
       'CPSSS-SERVIDOR CIVIL PENSIONISTA-PRINCIPAL',
       'CSLL-PARCELAMENTOS-MULTAS', 'IOF-DEMAIS OPERACOES-DIVIDA ATIVA',
       'P.ESP.PETRO.PLAT-COM.ANT.3/12/12-DEMAIS-PRINC',
       'CONT.MOV.TRANSM.VAL.CRED.DIR.FIN-PARC-PRINC.',
       'ENCARGOS LEGAIS PELA INSCR.EM DIV.AT.-MUL.JUR',
       'RESTIT.DEC.APLIC.IRREG.REC.ELEITORAIS-MUL.JUR',
       'CONTRAPART.DE SUBVENCOES OU SUBSIDIOS-PRINC.',
       'MULTAS PREV.LEGISLACAO ANTIDROGAS-DIV.ATIVA',
       'CONTR.PREV.EMPREGADOR-Ñ OPT.SIMP.NAC.-MUL.JUR',
       'CSLL-CONTRIBUINTES OPT.SIMPLES NAC.-PRINC',
       'OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL-INTRA',
       'CPSSS PATRONAL-SERVIDOR CIVIL-DIV.ATIVA-INTRA',
       'INDENIZ.POSSE/OCUP.ILICITA BENS PUB.-MUL.JUR.',
       'RESTIT.DEP.DE SENTENCAS JUD.Ñ SACADOS-MUL.JUR',
       'IOF-DEMAIS OPERACOES-JUROS DA DIVIDA ATIVA',
       'CESSAO DIR.OPERACIONALIZACAO PAGTOS-MUL.JUR.',
       'ALIENACAO DE BENS IMOVEIS-DIVIDA ATIVA',
       'COFINS SOBRE O FATURAMENTO-SIMPLES-MULTAS',
       'PART.PROPR.TERRA-CONTRATO CONCESSAO-PRINC.',
       'CSLL-CONTRIB.Ñ OPT.SIMP.NAC-DIV.AT-MULTAS',
       'PARTICIPACOES-PRINCIPAL',
       'COMPENS.FIN.ENTRE RGPS E RPPS-DIV.AT-MUL.JUR.',
       'CONTR.SOCIAL SALARIO-EDUCACAO-PARCEL.-MUL.JUR',
       'ITR-MUNICIPIOS CONVENIADOS-PRINCIPAL',
       'RESTITUICAO DE BENEFICIOS ASSISTENCIAIS-PRINC',
       'CONTRIB.PIS/PASEP-OPTANTES SIMP.NAC-PRINC.',
       'APORTES PERIOD.COMPENSACOES RGPS-PRINC-INTRA',
       'IRPJ-LIQUIDA DE INCENTIVOS-PRINCIPAL',
       'MLT.LEI.GER.TELECOM-NAO.P.ORBITAIS/DA.PRC',
       'CONT.PREVID.EMPREGADOR-OPT.SIMP.NAC.-PRINC',
       'RESSARCIMENTO AO RGPS-PRINCIPAL',
       'TAXA FISCALIZACAO DE INSTALACAO-PRINC.-INTRA',
       'CONTR.CUST.PENSOES MILIT.E INAT.PMDF-PRINC.',
       'CONT.MOV.TRANSM.VL.CR.FIN-PARC-DIV.AT-MUL.JUR',
       'CPSSS-SERVIDOR CIVIL ATIVO-PRINCIPAL',
       'CONTR.P/FUNDOS ASSIST.MED-POLIC.MILIT-PRINC.',
       'CONTR.P/FUNDOS ASSIST.MED-BOMB.MILIT.-PRINC.',
       'CONTR.CUST.PENSOES MILIT.E INAT.CBMDF-PRINC.',
       'CONTR.CUST.PENSOES MILIT.E INAT.PMDF-MUL.JUR.',
       'CONTR.S/REC.OP.BRT DECOR.SRV.TLCM-PRINC.INTRA',
       'CONTR.P/FUNDOS ASSIST.MED-POLIC.MILIT-MUL.JUR',
       'TX.FISC.INST-TFI-NAO.POSI.ORBITAIS/DA.PRC',
       'MULT.LEG.ANTICORRUP.PROC.ADM.RESPONS.-PRINC.',
       'CONTR.S/REC.OP.BRT DECOR.SERV.TELECOM-DIV.AT.',
       'IMPOSTO SOBRE A EXPORTACAO-DIVIDA ATIVA',
       'TIT.RESP.TN-REFIN.DIV.PUB.FED.INT-PRINC-INTRA',
       'RESTITUICAO DE RECURSOS DE FOMENTO-MUL.JUR.',
       'CONTRIB.PIS/PASEP-Ñ OPTANTES SIMP.NAC-MULTAS',

Los 10 DETALLE que MAS aparecen son:

                                               count  Porcentaje_recuento
DETALLE
SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.    19532                14.51
INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL   9764                 7.25
ALUGUEIS E ARRENDAMENTOS-PRINCIPAL              7229                 5.37
MULTAS PREVISTAS EM LEGISL.ESPECIFICA-PRINC.    5455                 4.05
REMUNERACAO DE DEPOSITOS BANCARIOS-PRINCIPAL    4664                 3.47
TAXAS INSPECAO,CONTROLE E FISCALIZACAO-PRINC.   4018                 2.99
MULTAS PREVISTAS EM LEGISL.ESPECIFICA-DIV.AT.   3075                 2.28
OUTRAS RESTITUICOES-PRINCIPAL                   2879                 2.14
OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL             2814                 2.09
MULTAS E JUROS PREVISTOS EM CONTRATOS-PRINC.    2166                 1.61

Los 10 DETALLE que MENOS aparecen son:

                                               count  Porcentaje_recuento
DETALLE
ALIENACAO DE BENS INTANGIVEIS-PRINCIPAL            1                 0.00
SERVICOS DE TRANSPORTE-MULTAS E JUROS              1                 0.00
TX.FISC.FUNC-TFF-NAO.POSI.ORBITAIS/MLT+JRS         1                 0.00
SERV.ADMIN.E COMERCIAIS GERAIS-MUL.JUR-INTRA       1                 0.00
REC.POR FORCA DEC.JUD.E DE TRIB.ADM.-MUL.JUR.      1                 0.00
TITULOS DA DIVIDA AGRARIA-TDA-PRINCIPAL            1                 0.00
UTIL.REC.HID-DEM.EMPRESAS-PRORROG.OUT-MUL.JUR      1                 0.00
TAXA FISCAL. DOS SERVICOS DE ENERGIA ELETRICA      1                 0.00
OUT.DIR.EXPLOR.E PESQ.MINERAL-DIV.AT-MUL.JUR       1                 0.00
RECEITA VEICULACAO DE OBRAS CINEMATOGRAFICAS       1                 0.00

 Las distribución de las repeticiones de los DETALLE son:

       count  % repetición
count
33        40          6.67
32        40          6.67
1         33          5.50
44        25          4.17
43        23          3.83
...      ...           ...
66         1          0.17
56         1          0.17
57         1          0.17
58         1          0.17
19         1          0.17

[200 rows x 2 columns]

None
La categoría VALOR_PREVISTO_ACTUALIZADO tiene 1803 elementos diferentes:

Los elementos de la categoría son:

array([2.2240349e+09, 0.0000000e+00, 6.0888811e+08, ..., 2.8274054e+07,
       1.0247198e+07, 1.6940891e+07])

Los 10 VALOR_PREVISTO_ACTUALIZADO que MAS aparecen son:

                             count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
0.00                        132746                98.63
1000000.00                       4                 0.00
3876.00                          3                 0.00
200000.00                        2                 0.00
1003.00                          2                 0.00
1987.00                          2                 0.00
24000.00                         2                 0.00
8000.00                          2                 0.00
60000.00                         2                 0.00
108000.00                        2                 0.00

Los 10 VALOR_PREVISTO_ACTUALIZADO que MENOS aparecen son:

                            count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
10742878.00                     1                 0.00
90131.00                        1                 0.00
77593702.00                     1                 0.00
1599304.00                      1                 0.00
43212.00                        1                 0.00
1817.00                         1                 0.00
15339.00                        1                 0.00
142194.00                       1                 0.00
158493090.00                    1                 0.00
407371.00                       1                 0.00

 Las distribución de las repeticiones de los VALOR_PREVISTO_ACTUALIZADO son:

        count  % repetición
count
1        1760         97.62
2          40          2.22
132746      1          0.06
3           1          0.06
4           1          0.06

None
La categoría VALOR_REGISTRADO tiene 1191 elementos diferentes:

Los elementos de la categoría son:

array([ 0.00000000e+00, -3.58737715e+08, -1.20713469e+08, ...,
        9.85293600e+04, -4.15180800e+04,  4.15180800e+04])

Los 10 VALOR_REGISTRADO que MAS aparecen son:

                   count  Porcentaje_recuento
VALOR_REGISTRADO
0.00              133403                99.12
1764725212.46          1                 0.00
-24466985.50           1                 0.00
423.06                 1                 0.00
660.29                 1                 0.00
-95449153.24           1                 0.00
41518.08               1                 0.00
166628860.69           1                 0.00
1059.84                1                 0.00
445.10                 1                 0.00

Los 10 VALOR_REGISTRADO que MENOS aparecen son:

                  count  Porcentaje_recuento
VALOR_REGISTRADO
377186.28             1                 0.00
2927.07               1                 0.00
59028.83              1                 0.00
5731.56               1                 0.00
4920.76               1                 0.00
310.13                1                 0.00
947.53                1                 0.00
922.03                1                 0.00
573.47                1                 0.00
-774818829.02         1                 0.00

 Las distribución de las repeticiones de los VALOR_REGISTRADO son:

        count  % repetición
count
1        1190         99.92
133403      1          0.08

None
La categoría VALOR_REALIZADO tiene 99376 elementos diferentes:

Los elementos de la categoría son:

array([0.0000000e+00, 1.6025000e+02, 5.1143000e+02, ..., 2.4214955e+05,
       2.3531800e+03, 3.7290000e+02])

Los 10 VALOR_REALIZADO que MAS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
0.00              3404                 2.53
100.00             480                 0.36
200.00             414                 0.31
30.00              378                 0.28
150.00             374                 0.28
50.00              363                 0.27
300.00             336                 0.25
20.00              322                 0.24
60.00              296                 0.22
40.00              293                 0.22

Los 10 VALOR_REALIZADO que MENOS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
2353.18              1                 0.00
372.90               1                 0.00
160.25               1                 0.00
511.43               1                 0.00
2621.79              1                 0.00
43.29                1                 0.00
686.03               1                 0.00
170.18               1                 0.00
28.09                1                 0.00
1723.24              1                 0.00

 Las distribución de las repeticiones de los VALOR_REALIZADO son:

       count  % repetición
count
1      92274         92.85
2       4067          4.09
3       1067          1.07
4        523          0.53
5        309          0.31
...      ...           ...
72         1          0.00
71         1          0.00
56         1          0.00
55         1          0.00
53         1          0.00

[111 rows x 2 columns]

None
La categoría PORCENTAJE_REALIZADO tiene 17 elementos diferentes:

Los elementos de la categoría son:

array([ 0.,  2.,  1., 11., 15.,  4.,  6.,  3., 51., 34., 18., 40.,  5.,
        9., 22., -1., 20.])

Los 10 PORCENTAJE_REALIZADO que MAS aparecen son:

                       count  Porcentaje_recuento
PORCENTAJE_REALIZADO
0.00                  134516                99.94
1.00                      46                 0.03
2.00                      11                 0.01
3.00                       6                 0.00
11.00                      2                 0.00
15.00                      1                 0.00
4.00                       1                 0.00
6.00                       1                 0.00
51.00                      1                 0.00
34.00                      1                 0.00

Los 10 PORCENTAJE_REALIZADO que MENOS aparecen son:

                      count  Porcentaje_recuento
PORCENTAJE_REALIZADO
6.00                      1                 0.00
51.00                     1                 0.00
34.00                     1                 0.00
18.00                     1                 0.00
40.00                     1                 0.00
5.00                      1                 0.00
9.00                      1                 0.00
22.00                     1                 0.00
-1.00                     1                 0.00
20.00                     1                 0.00

 Las distribución de las repeticiones de los PORCENTAJE_REALIZADO son:

        count  % repetición
count
1          12         70.59
134516      1          5.88
46          1          5.88
11          1          5.88
6           1          5.88
2           1          5.88

None
La categoría FECHA_REGISTRO tiene 337 elementos diferentes:

Los elementos de la categoría son:

<DatetimeArray>
['2021-04-23 00:00:00', '2021-04-16 00:00:00', '2021-01-26 00:00:00',
 '2021-03-16 00:00:00', '2021-09-27 00:00:00', '2021-11-17 00:00:00',
 '2021-08-03 00:00:00', '2021-02-04 00:00:00', '2021-02-05 00:00:00',
 '2021-05-19 00:00:00',
 ...
 '2021-02-07 00:00:00', '2021-02-06 00:00:00', '2021-01-16 00:00:00',
 '2021-01-03 00:00:00', '2021-01-17 00:00:00', '2021-10-09 00:00:00',
 '2021-02-14 00:00:00', '2021-01-09 00:00:00', '2021-01-23 00:00:00',
 '2021-01-24 00:00:00']
Length: 338, dtype: datetime64[ns]

Los 10 FECHA_REGISTRO que MAS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2021-04-23       1957                 1.45
2021-11-30        980                 0.73
2021-06-30        973                 0.72
2021-08-31        958                 0.71
2021-05-31        947                 0.70
2021-04-30        944                 0.70
2021-03-31        925                 0.69
2021-07-20        871                 0.65
2021-05-10        850                 0.63
2021-08-10        849                 0.63

Los 10 FECHA_REGISTRO que MENOS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2021-01-09          1                 0.00
2021-02-07          1                 0.00
2021-02-27          1                 0.00
2021-03-07          1                 0.00
2021-10-09          1                 0.00
2021-01-17          1                 0.00
2021-01-03          1                 0.00
2021-01-16          1                 0.00
2021-02-06          1                 0.00
2021-01-23          1                 0.00

 Las distribución de las repeticiones de los FECHA_REGISTRO son:

       count  % repetición
count
10        17          5.04
9         16          4.75
8         13          3.86
1         12          3.56
7          7          2.08
...      ...           ...
293        1          0.30
134        1          0.30
22         1          0.30
19         1          0.30
17         1          0.30

[182 rows x 2 columns]

None
La categoría AÑO_EJERCICIO tiene 1 elementos diferentes:

Los elementos de la categoría son:

array([2021])

Los 10 AÑO_EJERCICIO que MAS aparecen son:

                count  Porcentaje_recuento
AÑO_EJERCICIO
2021           134593               100.00

Los 10 AÑO_EJERCICIO que MENOS aparecen son:

                count  Porcentaje_recuento
AÑO_EJERCICIO
2021           134593               100.00

 Las distribución de las repeticiones de los AÑO_EJERCICIO son:

        count  % repetición
count
134593      1        100.00

None

In [405]:
df_datos_2021.VALOR_PREVISTO_ACTUALIZADO.sum()

np.float64(4180716471387.52)

In [406]:
df_datos_2021.VALOR_REGISTRADO.sum()

np.float64(359788769214.59)

In [407]:
df_datos_2021.VALOR_REALIZADO.sum()

np.float64(3876372024873.041)

In [408]:
df_datos_2021.VALOR_REALIZADO.sum()/df_datos_2021.VALOR_PREVISTO_ACTUALIZADO.sum()

np.float64(0.9272028015778186)

In [409]:
df_datos_2021.VALOR_REALIZADO.sum()/df_datos_2021.VALOR_REGISTRADO.sum()

np.float64(10.774021749859132)

# Unión de todos los años

In [410]:
df_total_anos = pd.concat([df_datos_2013, df_datos_2014, df_datos_2015, df_datos_2016, df_datos_2017, df_datos_2018, df_datos_2019, df_datos_2020, df_datos_2021], axis=0, ignore_index=0 ).reset_index()

In [411]:
df_total_anos.rename(columns = {'index': 'INDICE_DF_AÑO_ORIGINAL'})

,INDICE_DF_AÑO_ORIGINAL,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
0,0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC,0.00,0.00,1297.13,0.00,2013-12-31,2013
1,1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,0.00,0.00,26666621.42,0.00,2013-12-31,2013
2,2,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS E JUROS DE MORA,0.00,0.00,301251.13,0.00,2013-12-31,2013
3,3,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIV.ATIVA POR INFRAÇÃO ADMINISTRATIVA,0.00,0.00,1855.58,0.00,2013-12-31,2013
4,4,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",OUTRAS RESTITUICOES,0.00,0.00,52140.68,0.00,2013-12-31,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1026294,134588,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas de Capital,Operações de Crédito,Operações de crédito - mercado interno,TITULOS DE RESPONS.TES.NAC.-MERC.INT.-PRINC.,16940891.00,0.00,0.00,0.00,2021-04-23,2021
1026295,134589,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL",0.00,0.00,372.90,0.00,2021-11-22,2021
1026296,134590,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL",200000.00,0.00,0.00,0.00,2021-04-23,2021
1026297,134591,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL",0.00,0.00,1000000.00,0.00,2021-05-10,2021
1026298,134592,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL",0.00,0.00,1000000.00,0.00,2021-03-23,2021

## Análisis datos agrupados

In [412]:
se.reporte(df_total_anos)

La tabla tiene 1026299 filas y 17 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
index,int64,1026299,0,0.00,194533,831766
CÓDIGO_ÓRGANO_SUPERIOR,object,1026299,0,0.00,25,1026274
NOMBRE_ÓRGANO_SUPERIOR,object,1026299,0,0.00,25,1026274
CÓDIGO_ÓRGANO,object,1026299,0,0.00,291,1026008
NOMBRE_ÓRGANO,object,1026299,0,0.00,287,1026012
CÓDIGO_UNIDAD_GESTORA,object,1026299,0,0.00,364,1025935
NOMBRE_UNIDAD_GESTORA,object,1026299,0,0.00,356,1025943
CATEGORÍA_ECONÓMICA,object,1026299,0,0.00,5,1026294
ORIGEN_INGRESO,object,1026299,0,0.00,15,1026284
TIPO_INGRESO,object,1026299,0,0.00,63,1026236
DETALLE,object,1026299,0,0.00,1886,1024413
VALOR_PREVISTO_ACTUALIZADO,float64,1026299,0,0.00,18588,1007711
VALOR_REGISTRADO,float64,1026299,0,0.00,6789,1019510
VALOR_REALIZADO,float64,1026299,0,0.00,605783,420516
PORCENTAJE_REALIZADO,float64,1026299,0,0.00,971,1025328
FECHA_REGISTRO,datetime64[ns],1025721,578,0.06,2157,1024141
AÑO_EJERCICIO,int64,1026299,0,0.00,9,1026290

In [413]:
se.analisis_descriptivos_categóricas(df_total_anos)

Las columnas categóricas son Index(['CÓDIGO_ÓRGANO_SUPERIOR', 'NOMBRE_ÓRGANO_SUPERIOR', 'CÓDIGO_ÓRGANO',
       'NOMBRE_ÓRGANO', 'CÓDIGO_UNIDAD_GESTORA', 'NOMBRE_UNIDAD_GESTORA',
       'CATEGORÍA_ECONÓMICA', 'ORIGEN_INGRESO', 'TIPO_INGRESO', 'DETALLE'],
      dtype='object')
Algunos ejemplos de filas son:

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE
934550,25000,Ministério da Economia,25207,Serviço Federal de Processamento de Dados,806001,SERPRO-SEDE - DEPARTAMENTO FINANCEIRO,Receitas Correntes,Receitas Correntes - a classificar,Receitas Correntes - a classificar,Receitas Correntes - a classificar
539407,30000,Ministério da Justiça e Segurança Pública,30912,Fundo Nacional Antidrogas,200246,FUNDO NACIONAL ANTIDROGAS,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",ALIEN.BENS E MERCADORIAS APREENDIDOS-MUL.JUR.
167256,81000,"Ministério da Mulher, Família e Direitos Huma",20122,Secretaria Nacional de Políticas para Mulheres,200021,SECRETARIA DE POLITICAS PARA AS MULHERES,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RESTITUICAO DE CONVENIOS-PRIMARIAS-PRINCIPAL
446289,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170013,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,Receitas de Capital,Outras Receitas de Capital,Remuneração das Disponibilidades do Tesouro,REMUNER.DISPONIBILIDADES TES.NACIONAL-PRINC.
762998,52000,Ministério da Defesa,52132,Comando da Marinha - Fundo Naval,673001,DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",OUTROS RESSARCIMENTOS-PRINCIPAL

Las características de estas columnas son:

,count,unique,top,freq
CÓDIGO_ÓRGANO_SUPERIOR,1026299,25,26000,361891
NOMBRE_ÓRGANO_SUPERIOR,1026299,25,Ministério da Educação,361891
CÓDIGO_ÓRGANO,1026299,291,25000,119811
NOMBRE_ÓRGANO,1026299,287,Ministério da Economia - Unidades com vínculo ...,119811
CÓDIGO_UNIDAD_GESTORA,1026299,364,170013,108481
NOMBRE_UNIDAD_GESTORA,1026299,356,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,108481
CATEGORÍA_ECONÓMICA,1026299,5,Receitas Correntes,979596
ORIGEN_INGRESO,1026299,15,Outras Receitas Correntes,322907
TIPO_INGRESO,1026299,63,Serviços Administrativos e Comerciais Gerais,278157
DETALLE,1026299,1886,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,159039

## Análisis columnas numéricas

In [414]:
se.analisis_descriptivos_numéricas(df_total_anos)

Las columnas no categóricas son Index(['index', 'VALOR_PREVISTO_ACTUALIZADO', 'VALOR_REGISTRADO',
       'VALOR_REALIZADO', 'PORCENTAJE_REALIZADO', 'FECHA_REGISTRO',
       'AÑO_EJERCICIO'],
      dtype='object')
Algunos ejemplos de filas son:

,index,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
676634,104104,0.00,0.00,55.00,0.00,2019-12-04,2019
821545,72187,0.00,0.00,2390.00,0.00,2020-01-22,2020
388727,180620,0.00,0.00,2496.12,0.00,2017-12-26,2017
987971,96265,0.00,0.00,42.00,0.00,2021-07-26,2021
201432,187858,0.00,0.00,69251.05,0.00,2016-03-30,2016

Las características de estas columnas son:

,count,mean,min,25%,50%,75%,max,std
index,1026299.00,84813.79,0.00,40500.00,83262.00,126024.50,194532.00,51731.83
VALOR_PREVISTO_ACTUALIZADO,1026299.00,27611421.05,-214773743.00,0.00,0.00,0.00,1603521711208.00,3393367175.13
VALOR_REGISTRADO,1026299.00,5242806.11,-148347267246.91,0.00,0.00,0.00,357160677863.97,810883695.36
VALOR_REALIZADO,1026299.00,24980422.31,-156285934188.03,260.90,3022.32,40853.85,771117711060.95,1406892548.84
PORCENTAJE_REALIZADO,1026299.00,80.31,-114552.00,0.00,0.00,0.00,72363772.00,71481.11
FECHA_REGISTRO,1025721,2018-09-20 12:23:18.569786368,2013-12-31 00:00:00,2017-03-31 00:00:00,2018-08-27 00:00:00,2020-02-12 00:00:00,2021-12-03 00:00:00,NaN
AÑO_EJERCICIO,1026299.00,2018.23,2013.00,2017.00,2018.00,2020.00,2021.00,1.74

In [415]:
df_importes_agrupación_organo_superior = df_total_anos.groupby('NOMBRE_ÓRGANO_SUPERIOR')[['VALOR_PREVISTO_ACTUALIZADO',
       'VALOR_REGISTRADO', 'VALOR_REALIZADO', 'PORCENTAJE_REALIZADO']].sum()

df_importes_agrupación_organo_superior

,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO
NOMBRE_ÓRGANO_SUPERIOR,,,,
Advocacia-Geral da União,3726053651.00,0.00,334962977.49,705.00
Controladoria-Geral da União,740692856.00,0.00,7555037.45,0.00
"Ministério da Agricultura, Pecuária e Abastec",87492532893.00,0.00,56433953381.26,70143.00
Ministério da Cidadania,43958882249.00,0.00,5143388129.18,5093.00
"Ministério da Ciência, Tecnologia, Inovações",62254372476.31,79230.26,34791131893.58,175801.00
Ministério da Defesa,198522792044.00,0.00,104665740965.96,96850.00
Ministério da Economia,26486420136019.00,5367369003775.87,24709753338137.24,75420583.00
Ministério da Educação,609585887826.00,3516427.16,221589353642.78,3581337.00
Ministério da Infraestrutura,119972882836.00,0.00,136206900382.34,428225.00
Ministério da Justiça e Segurança Pública,36304805355.02,0.00,25219154299.03,230386.00
"Ministério da Mulher, Família e Direitos Huma",843366940.00,0.00,211689152.70,2.00
Ministério da Pesca e Aquicultura,40939194.00,0.00,57749317.66,137985.00
Ministério da Previdência Social,37327399.00,0.00,14240783.79,13.00
Ministério da Saúde,46656321844.00,125949190.83,37786245892.63,45490.00
Ministério das Comunicações,50303390042.00,11831.64,40047759133.20,49355.00
"Ministério das Mulheres, Igualdade Racial, da",109699610.00,0.00,136845774.52,12278.00
Ministério das Relações Exteriores,5328738148.00,0.00,2931914529.32,1613.00
Ministério de Minas e Energia,354233973334.00,13136233568.97,191485924485.02,91284.00
Ministério do Desenvolvimento Agrário,558355581.00,0.00,514953670.74,352.00
Ministério do Desenvolvimento Regional,125967254487.00,0.00,19356487150.32,396599.00
Ministério do Esporte,120909686.40,0.00,53896237.79,961.00
Ministério do Meio Ambiente,12106708057.00,4506.00,7127409730.62,1653377.00
Ministério do Trabalho e Emprego,14328825280.00,0.00,13484362951.59,1987.00
Ministério do Turismo,13828150327.00,51866238.80,13535637878.06,24496.00
Presidência da República,64130813734.00,0.00,16491839911.74,1070.00

In [416]:
df_importes_agrupación_organo_superior["VALOR_REALIZADO/VALOR_PREVISTO_ACTUALIZADO"] = (df_importes_agrupación_organo_superior.VALOR_REALIZADO/df_importes_agrupación_organo_superior.VALOR_PREVISTO_ACTUALIZADO)*100

In [417]:
df_importes_agrupación_organo_superior["VALOR_REGISTRADO/VALOR_PREVISTO_ACTUALIZADO"] =(df_importes_agrupación_organo_superior.VALOR_REGISTRADO/df_importes_agrupación_organo_superior.VALOR_PREVISTO_ACTUALIZADO)*100

In [418]:
df_importes_agrupación_organo_superior

,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,VALOR_REALIZADO/VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO/VALOR_PREVISTO_ACTUALIZADO
NOMBRE_ÓRGANO_SUPERIOR,,,,,,
Advocacia-Geral da União,3726053651.00,0.00,334962977.49,705.00,8.99,0.00
Controladoria-Geral da União,740692856.00,0.00,7555037.45,0.00,1.02,0.00
"Ministério da Agricultura, Pecuária e Abastec",87492532893.00,0.00,56433953381.26,70143.00,64.50,0.00
Ministério da Cidadania,43958882249.00,0.00,5143388129.18,5093.00,11.70,0.00
"Ministério da Ciência, Tecnologia, Inovações",62254372476.31,79230.26,34791131893.58,175801.00,55.89,0.00
Ministério da Defesa,198522792044.00,0.00,104665740965.96,96850.00,52.72,0.00
Ministério da Economia,26486420136019.00,5367369003775.87,24709753338137.24,75420583.00,93.29,20.26
Ministério da Educação,609585887826.00,3516427.16,221589353642.78,3581337.00,36.35,0.00
Ministério da Infraestrutura,119972882836.00,0.00,136206900382.34,428225.00,113.53,0.00
Ministério da Justiça e Segurança Pública,36304805355.02,0.00,25219154299.03,230386.00,69.47,0.00
"Ministério da Mulher, Família e Direitos Huma",843366940.00,0.00,211689152.70,2.00,25.10,0.00
Ministério da Pesca e Aquicultura,40939194.00,0.00,57749317.66,137985.00,141.06,0.00
Ministério da Previdência Social,37327399.00,0.00,14240783.79,13.00,38.15,0.00
Ministério da Saúde,46656321844.00,125949190.83,37786245892.63,45490.00,80.99,0.27
Ministério das Comunicações,50303390042.00,11831.64,40047759133.20,49355.00,79.61,0.00
"Ministério das Mulheres, Igualdade Racial, da",109699610.00,0.00,136845774.52,12278.00,124.75,0.00
Ministério das Relações Exteriores,5328738148.00,0.00,2931914529.32,1613.00,55.02,0.00
Ministério de Minas e Energia,354233973334.00,13136233568.97,191485924485.02,91284.00,54.06,3.71
Ministério do Desenvolvimento Agrário,558355581.00,0.00,514953670.74,352.00,92.23,0.00
Ministério do Desenvolvimento Regional,125967254487.00,0.00,19356487150.32,396599.00,15.37,0.00
Ministério do Esporte,120909686.40,0.00,53896237.79,961.00,44.58,0.00
Ministério do Meio Ambiente,12106708057.00,4506.00,7127409730.62,1653377.00,58.87,0.00
Ministério do Trabalho e Emprego,14328825280.00,0.00,13484362951.59,1987.00,94.11,0.00
Ministério do Turismo,13828150327.00,51866238.80,13535637878.06,24496.00,97.88,0.38
Presidência da República,64130813734.00,0.00,16491839911.74,1070.00,25.72,0.00

In [419]:
df_total_anos.groupby('NOMBRE_ÓRGANO_SUPERIOR')[['VALOR_PREVISTO_ACTUALIZADO',
       'VALOR_REGISTRADO', 'VALOR_REALIZADO', 'PORCENTAJE_REALIZADO']].mean()

,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO
NOMBRE_ÓRGANO_SUPERIOR,,,,
Advocacia-Geral da União,955643.41,0.00,85909.97,0.18
Controladoria-Geral da União,2939257.37,0.00,29980.31,0.00
"Ministério da Agricultura, Pecuária e Abastec",1894474.87,0.00,1221963.78,1.52
Ministério da Cidadania,7453184.51,0.00,872056.31,0.86
"Ministério da Ciência, Tecnologia, Inovações",1895341.06,2.41,1059219.75,5.35
Ministério da Defesa,2078990.39,0.00,1096091.12,1.01
Ministério da Economia,127599892.74,25857617.06,119040695.55,363.34
Ministério da Educação,1684446.11,9.72,612309.66,9.90
Ministério da Infraestrutura,3201325.72,0.00,3634510.10,11.43
Ministério da Justiça e Segurança Pública,908074.17,0.00,630794.25,5.76
"Ministério da Mulher, Família e Direitos Huma",728925.62,0.00,182963.83,0.00
Ministério da Pesca e Aquicultura,109756.55,0.00,154823.91,369.93
Ministério da Previdência Social,348854.20,0.00,133091.44,0.12
Ministério da Saúde,1397732.83,3773.19,1132002.57,1.36
Ministério das Comunicações,1706067.15,0.40,1358241.79,1.67
"Ministério das Mulheres, Igualdade Racial, da",384910.91,0.00,480160.61,43.08
Ministério das Relações Exteriores,1495576.24,0.00,822878.06,0.45
Ministério de Minas e Energia,10729810.79,397898.88,5800143.11,2.77
Ministério do Desenvolvimento Agrário,838371.74,0.00,773203.71,0.53
Ministério do Desenvolvimento Regional,3849266.75,0.00,591489.29,12.12
Ministério do Esporte,822514.87,0.00,366641.07,6.54
Ministério do Meio Ambiente,445902.84,0.17,262510.03,60.90
Ministério do Trabalho e Emprego,20917993.11,0.00,19685201.39,2.90
Ministério do Turismo,510339.18,1914.17,499543.77,0.90
Presidência da República,12888025.27,0.00,3314276.51,0.22

In [420]:
df_total_anos[df_total_anos.FECHA_REGISTRO.isnull()]

,index,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
31715,18141,24000,"Ministério da Ciência, Tecnologia, Inovações",20501,Conselho Nacional de Desenvolvimento Científic...,364102,CONSELHO NAC DE DESENV CIENT E TECNOLOGICO,Receitas de Capital,Operações de Crédito,Operações de crédito - mercado interno,EMPRÉSTIMOS COMPULSÓRIOS,0.00,36657.22,0.00,0.00,NaT,2016
50971,37397,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Impostos,IOF - COMERCIALIZACAO DO OURO,0.00,249022.96,0.00,0.00,NaT,2016
51032,37458,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Impostos,RECEITA DE PARCELAMENTOS - IMPOSTO EXPORTACAO,0.00,32871685.87,0.00,0.00,NaT,2016
51747,38173,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Impostos,RETIDO NAS FONTES - CAPITAL,0.00,1753180807.51,0.00,0.00,NaT,2016
51977,38403,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170010,SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Impostos,IRRF-TRABALHO,0.00,224278206.05,0.00,0.00,NaT,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1012711,121005,32000,Ministério de Minas e Energia,32210,Agência Nacional de Energia Elétrica,323028,AGENCIA NACIONAL DE ENERGIA ELETRICA,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Taxas,"TAXAS INSPECAO,CONTROLE E FISCALIZACAO-PRINC.",0.00,11565371.72,0.00,0.00,NaT,2021
1012968,121262,32000,Ministério de Minas e Energia,32210,Agência Nacional de Energia Elétrica,323028,AGENCIA NACIONAL DE ENERGIA ELETRICA,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Taxas,TAXA FISCAL. DOS SERVICOS DE ENERGIA ELETRICA,0.00,44771661.72,0.00,0.00,NaT,2021
1012994,121288,32000,Ministério de Minas e Energia,32210,Agência Nacional de Energia Elétrica,323028,AGENCIA NACIONAL DE ENERGIA ELETRICA,Receitas Correntes,Receita Patrimonial,Exploração do patrimônio imobiliário do Estad,CONC/PERM/AUT/CESSAO DIR.USO IMOV.PUB-PRINC.,0.00,62999791.79,0.00,0.00,NaT,2021
1013991,122285,32000,Ministério de Minas e Energia,32396,Agência Nacional de Mineração,323100,SETORIAL ORCAMENTARIA E FINANCEIRA - ANM,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Taxas,"TAXAS INSPECAO,CONTROLE E FISCALIZACAO-PRINC.",0.00,2735234674.66,0.00,0.00,NaT,2021
1025473,133767,54000,Ministério do Turismo,20203,Agência Nacional do Cinema,203003,AGENCIA NACIONAL DO CINEMA,Receitas Correntes,Contribuições,Contribuições econômicas,RECEITA VEICULACAO DE OBRAS CINEMATOGRAFICAS,0.00,5074344.78,0.00,0.00,NaT,2021

In [421]:
df_total_anos.columns

Index(['index', 'CÓDIGO_ÓRGANO_SUPERIOR', 'NOMBRE_ÓRGANO_SUPERIOR',
       'CÓDIGO_ÓRGANO', 'NOMBRE_ÓRGANO', 'CÓDIGO_UNIDAD_GESTORA',
       'NOMBRE_UNIDAD_GESTORA', 'CATEGORÍA_ECONÓMICA', 'ORIGEN_INGRESO',
       'TIPO_INGRESO', 'DETALLE', 'VALOR_PREVISTO_ACTUALIZADO',
       'VALOR_REGISTRADO', 'VALOR_REALIZADO', 'PORCENTAJE_REALIZADO',
       'FECHA_REGISTRO', 'AÑO_EJERCICIO'],
      dtype='object')

In [422]:
df_total_anos[df_total_anos.VALOR_PREVISTO_ACTUALIZADO!=0].FECHA_REGISTRO.value_counts()

FECHA_REGISTRO
2013-12-31    2873
2014-12-31    2847
2015-12-31    2738
2020-01-20    1993
2018-01-12    1899
2016-01-21    1888
2017-01-19    1875
2019-01-31    1850
2021-04-23    1844
2017-01-23       6
2016-06-08       3
2017-07-25       3
2017-03-31       3
2017-03-29       3
2016-01-13       3
2019-10-11       3
2018-08-28       3
2020-07-08       3
2021-04-29       3
Name: count, dtype: int64

In [423]:
df_total_anos[df_total_anos.VALOR_REGISTRADO!=0].FECHA_REGISTRO.value_counts()

FECHA_REGISTRO
2020-02-28    108
2020-08-31    106
2021-08-24    104
2021-11-26    104
2021-06-23    103
             ...
2021-01-29      1
2021-10-30      1
2021-11-05      1
2021-11-04      1
2021-05-28      1
Name: count, Length: 253, dtype: int64

## Análisis columnas individualmente

In [424]:
for columna in df_total_anos.columns:
    print(se.analisis_individual_columnas(df_total_anos, columna))

La categoría index tiene 194533 elementos diferentes:

Los elementos de la categoría son:

array([     0,      1,      2, ..., 194530, 194531, 194532])

Los 10 index que MAS aparecen son:

       count  Porcentaje_recuento
index
16         9                 0.00
13         9                 0.00
17         9                 0.00
18         9                 0.00
19         9                 0.00
20         9                 0.00
21         9                 0.00
22         9                 0.00
23         9                 0.00
24         9                 0.00

Los 10 index que MENOS aparecen son:

        count  Porcentaje_recuento
index
194527      1                 0.00
194526      1                 0.00
194525      1                 0.00
194524      1                 0.00
194523      1                 0.00
194522      1                 0.00
194521      1                 0.00
194520      1                 0.00
194519      1                 0.00
194518      1                 0.00

 Las distribución de las repeticiones de los index son:

        count  % repetición
count
6      130040         66.85
4       31596         16.24
2       13651          7.02
5        7755          3.99
9        4498          2.31
1        4054          2.08
3        2884          1.48
7          30          0.02
8          25          0.01

None
La categoría CÓDIGO_ÓRGANO_SUPERIOR tiene 25 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '37000', '22000', '55000', '24000', '52000', '25000',
       '26000', '39000', '30000', '81000', '58000', '33000', '36000',
       '41000', '57000', '35000', '32000', '49000', '53000', '51000',
       '44000', '38000', '54000', '20000'], dtype=object)

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MAS aparecen son:

                         count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
26000                   361891                35.26
25000                   207574                20.23
52000                    95490                 9.30
22000                    46183                 4.50
30000                    39980                 3.90
39000                    37476                 3.65
36000                    33380                 3.25
32000                    33014                 3.22
24000                    32846                 3.20
53000                    32725                 3.19

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MENOS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
63000                    3899                 0.38
35000                    3563                 0.35
81000                    1157                 0.11
38000                     685                 0.07
49000                     666                 0.06
58000                     373                 0.04
57000                     285                 0.03
37000                     252                 0.02
51000                     147                 0.01
33000                     107                 0.01

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO_SUPERIOR son:

        count  % repetición
count
361891      1          4.00
207574      1          4.00
95490       1          4.00
46183       1          4.00
39980       1          4.00
37476       1          4.00
33380       1          4.00
33014       1          4.00
32846       1          4.00
32725       1          4.00
29485       1          4.00
27151       1          4.00
27096       1          4.00
5898        1          4.00
4976        1          4.00
3899        1          4.00
3563        1          4.00
1157        1          4.00
685         1          4.00
666         1          4.00
373         1          4.00
285         1          4.00
252         1          4.00
147         1          4.00
107         1          4.00

None
La categoría NOMBRE_ÓRGANO_SUPERIOR tiene 25 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União', 'Controladoria-Geral da União',
       'Ministério da Agricultura, Pecuária e Abastec',
       'Ministério da Cidadania',
       'Ministério da Ciência, Tecnologia, Inovações ',
       'Ministério da Defesa', 'Ministério da Economia',
       'Ministério da Educação', 'Ministério da Infraestrutura',
       'Ministério da Justiça e Segurança Pública',
       'Ministério da Mulher, Família e Direitos Huma',
       'Ministério da Pesca e Aquicultura',
       'Ministério da Previdência Social', 'Ministério da Saúde',
       'Ministério das Comunicações',
       'Ministério das Mulheres, Igualdade Racial, da',
       'Ministério das Relações Exteriores',
       'Ministério de Minas e Energia',
       'Ministério do Desenvolvimento Agrário',
       'Ministério do Desenvolvimento Regional', 'Ministério do Esporte',
       'Ministério do Meio Ambiente', 'Ministério do Trabalho e Emprego',
       'Ministério do Turismo', 'Presidência da República'], dtype=object)

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MAS aparecen son:

                                                count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério da Educação                         361891                35.26
Ministério da Economia                         207574                20.23
Ministério da Defesa                            95490                 9.30
Ministério da Agricultura, Pecuária e Abastec   46183                 4.50
Ministério da Justiça e Segurança Pública       39980                 3.90
Ministério da Infraestrutura                    37476                 3.65
Ministério da Saúde                             33380                 3.25
Ministério de Minas e Energia                   33014                 3.22
Ministério da Ciência, Tecnologia, Inovações    32846                 3.20
Ministério do Desenvolvimento Regional          32725                 3.19

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MENOS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Advocacia-Geral da União                        3899                 0.38
Ministério das Relações Exteriores              3563                 0.35
Ministério da Mulher, Família e Direitos Huma   1157                 0.11
Ministério do Trabalho e Emprego                 685                 0.07
Ministério do Desenvolvimento Agrário            666                 0.06
Ministério da Pesca e Aquicultura                373                 0.04
Ministério das Mulheres, Igualdade Racial, da    285                 0.03
Controladoria-Geral da União                     252                 0.02
Ministério do Esporte                            147                 0.01
Ministério da Previdência Social                 107                 0.01

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO_SUPERIOR son:

        count  % repetición
count
361891      1          4.00
207574      1          4.00
95490       1          4.00
46183       1          4.00
39980       1          4.00
37476       1          4.00
33380       1          4.00
33014       1          4.00
32846       1          4.00
32725       1          4.00
29485       1          4.00
27151       1          4.00
27096       1          4.00
5898        1          4.00
4976        1          4.00
3899        1          4.00
3563        1          4.00
1157        1          4.00
685         1          4.00
666         1          4.00
373         1          4.00
285         1          4.00
252         1          4.00
147         1          4.00
107         1          4.00

None
La categoría CÓDIGO_ÓRGANO tiene 291 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '66000', '22202', '22000', '22211', '44208', '22201',
       '22905', '49001', '55000', '55001', '24000', '20501', '20301',
       '24901', '20502', '24209', '20402', '49280', '52911', '52904',
       '52132', '52912', '52131', '52121', '52111', '31280', '52000',
       '52133', '52221', '52211', '52222', '25000', '30203', '37202',
       '25205', '20603', '25201', '38901', '25208', '33206', '30204',
       '25203', '37201', '20202', '25915', '25207', '25914', '22500',
       '25901', '25211', '25904', '61201', '28500', '25916', '20924',
       '71902', '25905', '26435', '26276', '26000', '26285', '26233',
       '26407', '26232', '26405', '26292', '26423', '26422', '26258',
       '26251', '26234', '26275', '26238', '26261', '26244', '26432',
       '26414', '26243', '26421', '26411', '26270', '26417', '26410',
       '26282', '26430', '26278', '26416', '26253', '26420', '26418',
       '26408', '26240', '26246', '26433', '26428', '26263', '26412',
       '26404', '26248', '26434', '26409', '26264', '26424', '26415',
       '26291', '26413', '26236', '26406', '26255', '26419', '26247',
       '26271', '26266', '26402', '26277', '26252', '26351', '26403',
       '26245', '26294', '26298', '26425', '26427', '26268', '26429',
       '26256', '26290', '26279', '26201', '26257', '26231', '26235',
       '26260', '26437', '26439', '26272', '26438', '26262', '26440',
       '26267', '26254', '26237', '26441', '26442', '26352', '26230',
       '26280', '26241', '26350', '26281', '26431', '26242', '26249',
       '26269', '26436', '26250', '26284', '26426', '26239', '26286',
       '26273', '26274', '26443', '26283', '62201', '39252', '39250',
       '49901', '56901', '39000', '68201', '68000', '39251', '29209',
       '62901', '39253', '62000', '39816', '39812', '39813', '39811',
       '39815', '39814', '39817', '30802', '30108', '30905', '30907',
       '30202', '30211', '30911', '30000', '30912', '30205', '20122',
       '58000', '33000', '36211', '36201', '36210', '36000', '36213',
       '36212', '36208', '36209', '41000', '20415', '41231', '41232',
       '41903', '64902', '64901', '35000', '35201', '20303', '29208',
       '32000', '32205', '32263', '32210', '32314', '20302', '49000',
       '29205', '29214', '53902', '53901', '53903', '22204', '22203',
       '53000', '53202', '74917', '56902', '53203', '44205', '53205',
       '53207', '74918', '91214', '44206', '44000', '44902', '20701',
       '44207', '44204', '38000', '20403', '20604', '42207', '20411',
       '20412', '34902', '20203', '54000', '20408', '20404', '54901',
       '20101', '67000', '64000', '20116', '69000', '24208', '60000',
       '20117', '61000', '52233', '37904', '26449', '26448', '90000',
       '26447', '26450', '29201', '74919', '20605', '37000', '20129',
       '30914', '30913', '81000', '32396', '26456', '26455', '24216',
       '26453', '26454', '26457', '26452'], dtype=object)

Los 10 CÓDIGO_ÓRGANO que MAS aparecen son:

                count  Porcentaje_recuento
CÓDIGO_ÓRGANO
25000          119811                11.67
52904           25559                 2.49
52132           23734                 2.31
34902           15955                 1.55
20701           13745                 1.34
22202           13641                 1.33
37904           12433                 1.21
52911           12000                 1.17
24901           11828                 1.15
30203           11025                 1.07

Los 10 CÓDIGO_ÓRGANO que MENOS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
26456              7                 0.00
39251              5                 0.00
26454              4                 0.00
52912              4                 0.00
61000              4                 0.00
36208              2                 0.00
53205              2                 0.00
29201              1                 0.00
20605              1                 0.00
36209              1                 0.00

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO son:

       count  % repetición
count
1          3          1.03
316        3          1.03
4          3          1.03
104        2          0.69
4611       2          0.69
...      ...           ...
9645       1          0.34
9320       1          0.34
9029       1          0.34
8951       1          0.34
15955      1          0.34

[276 rows x 2 columns]

None
La categoría NOMBRE_ÓRGANO tiene 287 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União - Unidades com vínculo direto',
       'Controladoria-Geral da União',
       'Empresa Brasileira de Pesquisa Agropecuária',
       'Ministério da Agricultura, Pecuária e Abastecimento - Unidades com vínculo direto',
       'Companhia Nacional de Abastecimento',
       'Serviço Florestal Brasileiro',
       'Instituto Nacional de Colonização e Reforma Agrária',
       'Fundo de Defesa da Economia Cafeeira',
       'Fundo de Terras e da Reforma Agrária',
       'Ministério da Cidadania - Unidades com vínculo direto',
       'Fundo Nacional de Assistência Social',
       'Ministério da Ciência, Tecnologia, Inovações e Comunicações - Unidades com vínculo direto',
       'Conselho Nacional de Desenvolvimento Científico e Tecnológico',
       'Comissão Nacional de Energia Nuclear',
       'Fundo Nacional de Desenvolvimento Científico e Tecnológico',
       'Financiadora de Estudos e Projetos',
       'Centro Nacional de Tecnologia Eletrônica Avançada S.A.',
       'Agência Espacial Brasileira',
       'Empresa Brasileira de Correios e Telégrafos', 'Fundo Aeronáutico',
       'Fundo do Exército', 'Comando da Marinha - Fundo Naval',
       'Fundo Aeroviário', 'Comando da Marinha', 'Comando do Exército',
       'Comando da Aeronáutica',
       'Caixa de Construções de Casas para o Pessoal da Marinha do Brasil',
       'Ministério da Defesa - Unidades com vínculo direto',
       'Fundo de Desenvolvimento do Ensino Profissional Marítimo',
       'Indústria de Material Bélico do Brasil',
       'Caixa de Financiamento Imobiliário da Aeronáutica',
       'Fundação Osório',
       'Ministério da Economia - Unidades com vínculo direto',
       'Instituto Nacional de Metrologia, Qualidade e Tecnologia',
       'Instituto Nacional do Seguro Social',
       'Fundação Instituto Brasileiro de Geografia e Estatística',
       'Superintendência da Zona Franca de Manaus',
       'Banco Central do Brasil - Orçamento Fiscal e Seguridade Social',
       'Fundo de Amparo ao Trabalhador',
       'Superintendência de Seguros Privados',
       'Superintendência Nacional de Previdência Complementar',
       'Instituto Nacional da Propriedade Industrial',
       'Comissão de Valores Mobiliários',
       'Fundação Jorge Duprat Figueiredo, de Segurança e Medicina do Trabalho',
       'Fundação Escola Nacional de Administração Pública',
       'Fundo Constitucional do Distrito Federal',
       'Serviço Federal de Processamento de Dados',
       'Fundo de Garantia à Exportação',
       'Companhia de Entrepostos e Armazéns Gerais de São Paulo',
       'Fundo de Compensação de Variações Salariais',
       'Casa da Moeda do Brasil', 'Fundo de Estabilidade do Seguro Rural',
       'Instituto de Pesquisa Econômica Aplicada',
       'Fundo de Garantia para a Promoção da Competitividade',
       'Fundo Contingente da Extinta RFFSA-FCMP',
       'Fundo Nacional de Desenvolvimento', 'Fundo Soberano do Brasil',
       'Fundo de Apoio ao Desenvolvimento Social',
       'Instituto Federal do Rio Grande do Norte',
       'Fundação Universidade Federal do Mato Grosso',
       'Ministério da Educação - Unidades com vínculo direto',
       'Fundação Universidade Federal de São João Del-Rei',
       'Universidade Federal do Ceará', 'Instituto Federal Goiano',
       'Universidade Federal da Bahia', 'Instituto Federal do Ceará',
       'Fundação Joaquim Nabuco', 'Instituto Federal de Sergipe',
       'Instituto Federal Catarinense',
       'Universidade Tecnológica Federal do Paraná',
       'Fundação Universidade Federal do Tocantins',
       'Universidade Federal do Espírito Santo',
       'Fundação Universidade Federal do Acre',
       'Universidade Federal de Minas Gerais',
       'Universidade Federal de Itajubá',
       'Universidade Federal do Rio Grande do Sul',
       'Instituto Federal do Paraná', 'Instituto Federal do Mato Grosso',
       'Universidade Federal do Rio Grande do Norte',
       'Instituto Federal de Rondônia',
       'Instituto Federal do Sudeste de Minas Gerais',
       'Fundação Universidade do Amazonas',
       'Instituto Federal da Paraíba',
       'Instituto Federal do Norte de Minas Gerais',
       'Universidade Federal de Viçosa',
       'Instituto Federal do Sertão de Pernambuco',
       'Fundação Universidade Federal de Pelotas',
       'Instituto Federal do Pará',
       'Universidade Federal Rural da Amazônia',
       'Instituto Federal Farroupilha', 'Instituto Federal de Pernambuco',
       'Instituto Federal do Maranhão', 'Universidade Federal da Paraíba',
       'Universidade Federal de Santa Catarina',
       'Instituto Federal do Rio de Janeiro',
       'Instituto Federal de Brasília', 'Universidade Federal de Lavras',
       'Instituto Federal do Sul de Minas Gerais',
       'Instituto Federal Baiano',
       'Universidade Federal Rural de Pernambuco',
       'Instituto Federal Fluminense',
       'Instituto Federal de Minas Gerais',
       'Universidade Federal Rural do Semi-Árido',
       'Instituto Federal do Tocantins',
       'Instituto Federal do Mato Grosso do Sul',
       'Fundação Coordenação de Aperfeiçoamento de Pessoal de Nível Superior',
       'Instituto Federal do Triângulo Mineiro',
       'Universidade Federal Fluminense',
       'Instituto Federal do Espírito Santo',
       'Universidade Federal dos Vales do Jequitinhonha e Mucuri',
       'Instituto Federal do Rio Grande do Sul',
       'Universidade Federal de Santa Maria',
       'Fundação Universidade de Brasília',
       'Fundação Universidade Federal do Pampa',
       'Instituto Federal de Alagoas',
       'Universidade Federal de Ouro Preto',
       'Universidade Federal de Campina Grande',
       'Universidade Federal do Recôncavo da Bahia',
       'Instituto Federal do Amazonas',
       'Universidade Federal do Rio de Janeiro',
       'Hospital de Clínicas de Porto Alegre',
       'Fundo Nacional de Desenvolvimento da Educação',
       'Instituto Federal do Acre', 'Instituto Federal da Bahia',
       'Fundação Universidade Federal de Rondônia',
       'Instituto Federal de Educação, Ciência e Tecnologia de Goiás',
       'Centro Federal de Educação Tecnológica Celso Suckow da Fonseca',
       'Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira',
       'Fundação Universidade Federal do Piauí', 'Colégio Pedro II',
       'Centro Federal de Educação Tecnológica de Minas Gerais',
       'Universidade Federal de Alagoas', 'Universidade Federal de Goiás',
       'Universidade Federal de Alfenas', 'Instituto Federal de Roraima',
       'Instituto Federal de São Paulo',
       'Fundação Universidade do Maranhão',
       'Instituto Federal de Santa Catarina',
       'Universidade Federal de São Paulo',
       'Universidade Federal da Fronteira Sul',
       'Universidade Federal da Integração Latino-Americana',
       'Universidade Federal do Triângulo Mineiro',
       'Universidade Federal de Juiz de Fora',
       'Universidade Federal do Oeste do Pará',
       'Universidade da Integração Internacional da Lusofonia Afro-Brasileira',
       'Fundação Universidade Federal do ABC',
       'Fundação Universidade Federal do Vale do São Francisco',
       'Fundação Universidade Federal de São Carlos',
       'Universidade Federal do Paraná',
       'Fundação Universidade Federal da Grande Dourados',
       'Fundação Universidade Federal de Sergipe',
       'Instituto Federal do Piauí', 'Universidade Federal de Pernambuco',
       'Universidade Federal Rural do Rio de Janeiro',
       'Universidade Federal do Estado do Rio de Janeiro',
       'Instituto Federal Sul-rio-grandense',
       'Universidade Federal de Roraima',
       'Fundação Universidade Federal de Ciências da Saúde de Porto Alegre',
       'Instituto Federal do Amapá', 'Universidade Federal do Pará',
       'Fundação Universidade Federal do Amapá',
       'Universidade Federal do Rio Grande',
       'Fundação Universidade Federal de Uberlândia',
       'Empresa Brasileira de Serviços Hospitalares',
       'Fundação Universidade Federal do Mato Grosso do Sul',
       'Agência Nacional de Aviação Civil',
       'Departamento Nacional de Infraestrutura de Transportes',
       'Agência Nacional de Transportes Terrestres',
       'Departamento do Fundo da Marinha Mercante',
       'Fundo Nacional de Segurança e Educação de Trânsito',
       'Ministério da Infraestrutura - Unidades com vínculo direto',
       'Agência Nacional de Transportes Aquaviários',
       'Secretaria de Portos',
       'VALEC Engenharia, Construções e Ferrovias S.A.',
       'Fundo Nacional de Aviação Civil',
       'Empresa de Planejamento e Logística S.A.',
       'Secretaria de Aviação Civil',
       'Companhia Docas do Estado de São Paulo',
       'Companhia Docas do Estado da Bahia', 'Companhia Docas do Ceará',
       'Companhia Docas do Rio de Janeiro',
       'Companhia Docas do Rio Grande do Norte',
       'Companhia Docas do Pará', 'Companhia Docas do Espírito Santo',
       'Departamento de Polícia Rodoviária Federal',
       'Departamento de Polícia Federal',
       'Secretaria Nacional do Consumidor Fundo',
       'Fundo Penitenciário Nacional', 'Fundação Nacional do Índio',
       'Conselho Administrativo de Defesa Econômica',
       'Fundo Nacional de Segurança Pública',
       'Ministério da Justiça e Segurança Pública - Unidades com vínculo direto',
       'Fundo Nacional Antidrogas',
       'Fundação Nacional do Índio - Patrimônio Indígena',
       'Secretaria Nacional de Políticas para Mulheres',
       'Ministério da Pesca e Aquicultura - Unidades com vínculo direto',
       'Ministério da Previdência Social - Unidades com vínculo direto',
       'Fundação Nacional de Saúde', 'Fundação Oswaldo Cruz',
       'Hospital Nossa Senhora da Conceição S.A.',
       'Ministério da Saúde - Unidades com vínculo direto',
       'Agência Nacional de Saúde Suplementar',
       'Agência Nacional de Vigilância Sanitária',
       'Hospital Cristo Redentor S.A.', 'Hospital Fêmina S.A.',
       'Ministério das Comunicações - Unidades com vínculo direto',
       'Empresa Brasil de Comunicação',
       'Agêncial Nacional de Telecomunicações',
       'Fundo de Universalização dos Serviços de Telecomunicações',
       'Fundo para o Desenvolvimento Tecnológico das Telecomunicações',
       'Fundo Nacional do Idoso',
       'Fundo Nacional para a Criança e o Adolescente',
       'Ministério das Relações Exteriores - Unidades com vínculo direto',
       'Fundação Alexandre de Gusmão', 'Indústrias Nucleares do Brasil',
       'Companhia de Pesquisa de Recursos Minerais',
       'Ministério de Minas e Energia - Unidades com vínculo direto',
       'Agência Nacional do Petróleo, Gás Natural e Biocombustíveis',
       'Departamento Nacional de Produção Mineral',
       'Agência Nacional de Energia Elétrica',
       'Empresa de Pesquisa Energética',
       'Nuclebrás Equipamentos Pesados S.A.',
       'Ministério do Desenvolvimento Agrário - Unidades com vínculo direto',
       'Empresa de Trens Urbanos de Porto Alegre',
       'Companhia Brasileira de Trens Urbanos',
       'Fundo Constitucional de Financiamento do Centro-Oeste',
       'Fundo Constitucional de Financiamento do Norte',
       'Fundo Constitucional de Financiamento do Nordeste',
       'Departamento Nacional de Obras Contra as Secas',
       'Companhia de Desenvolvimento dos Vales do São Francisco e do Parnaíba',
       'Ministério do Desenvolvimento Regional - Unidades com vínculo direto',
       'Superintendência do Desenvolvimento da Amazônia',
       'Fundo de Desenvolvimento da Amazônia',
       'Fundo Nacional de Habitação de Interesse Social',
       'Superintendência do Desenvolvimento do Nordeste',
       'Agência Nacional de Águas',
       'Agência de Desenvolvimento da Amazônia',
       'Superintendência de Desenvolvimento do Centro-Oeste',
       'Fundo de Desenvolvimento do Nordeste',
       'Autoridade Pública Olímpica',
       'Instituto de Pesquisas Jardim Botânico do Rio de Janeiro',
       'Ministério do Meio Ambiente - Unidades com vínculo direto',
       'Fundo Nacional sobre Mudança no Clima',
       'Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renováveis',
       'Instituto Chico Mendes de Conservação da Biodiversidade',
       'Fundo Nacional do Meio Ambiente',
       'Ministério do Trabalho e Emprego - Unidades com vínculo direto',
       'Fundação Casa de Rui Barbosa', 'Instituto Brasileiro de Turismo',
       'Instituto Brasileiro de Museus',
       'Instituto do Patrimônio Histórico e Artístico Nacional',
       'Fundação Nacional de Artes', 'Fundo Nacional de Cultura',
       'Agência Nacional do Cinema',
       'Ministério do Turismo - Unidades com vínculo direto',
       'Fundação Cultural Palmares', 'Fundação Biblioteca Nacional',
       'Fundo Geral de Turismo', 'Presidência da República',
       'Secretaria de Políticas de Promoção da Igualdade Racial',
       'Secretaria de Direitos Humanos', 'Fundo de Imprensa Nacional',
       'Secretaria da Micro e Pequena Empresa',
       'Instituto Nacional de Tecnologia da Informação',
       'Gabinete da Vice-Presidência da República',
       'Secretaria de Assuntos Estratégicos',
       'Amazônia Azul Tecnologia de Defesa S.A.',
       'Fundo do Regime Geral da Previdência Social',
       'Universidade Federal do Cariri',
       'Universidade Federal do Sul e Sudeste do Pará',
       'Reserva de Contingência',
       'Universidade Federal do Oeste da Bahia',
       'Universidade Federal do Sul da Bahia',
       'Departamento Nacional de Estradas de Rodagem',
       'Fundo de Desenvolvimento do Centro-Oeste',
       'Companhia de Desenvolvimento de Barcarena',
       'Controladoria-Geral da União - Unidades com vínculo direto',
       'Secretaria Especial de Agricultura Familiar e do Desenvolvimento Agrário',
       'Ministério da Mulher, Família e Direitos Humanos - Unidades com vínculo direto',
       'Agência Nacional de Mineração',
       'UNIVERSIDADE FEDERAL DO AGRESTE DE PERNAMBUCO',
       'UNIVERSIDADE FEDERAL DO DELTA DO PARNAIBA',
       'TELECOMUNICACOES BRASILEIRAS S/A',
       'UNIVERSIDADE FEDERAL DE JATAI',
       'UNIVERSIDADE FEDERAL DE RONDONOPOLIS',
       'UNIVERSIDADE FEDERAL DO NORTE DE TOCANTINS',
       'UNIVERSIDADE FEDERAL DE CATALAO'], dtype=object)

Los 10 NOMBRE_ÓRGANO que MAS aparecen son:

,count,Porcentaje_recuento
NOMBRE_ÓRGANO,,
Ministério da Economia - Unidades com vínculo direto,119811,11.67
Fundo do Exército,25559,2.49
Comando da Marinha - Fundo Naval,23734,2.31
Fundo Nacional de Cultura,15955,1.55
Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renováveis,13745,1.34
Empresa Brasileira de Pesquisa Agropecuária,13641,1.33
Fundo do Regime Geral da Previdência Social,12433,1.21
Fundo Aeronáutico,12000,1.17
Fundo Nacional de Desenvolvimento Científico e Tecnológico,11828,1.15
"Instituto Nacional de Metrologia, Qualidade e Tecnologia",11025,1.07

Los 10 NOMBRE_ÓRGANO que MENOS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO
Companhia Docas do Rio Grande do Norte            14                 0.00
UNIVERSIDADE FEDERAL DO AGRESTE DE PERNAMBUCO      7                 0.00
UNIVERSIDADE FEDERAL DE RONDONOPOLIS               4                 0.00
Secretaria de Assuntos Estratégicos                4                 0.00
Fundo Aeroviário                                   4                 0.00
Hospital Cristo Redentor S.A.                      2                 0.00
Agência de Desenvolvimento da Amazônia             2                 0.00
Companhia de Desenvolvimento de Barcarena          1                 0.00
Departamento Nacional de Estradas de Rodagem       1                 0.00
Hospital Fêmina S.A.                               1                 0.00

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO son:

       count  % repetición
count
316        3          1.05
4          3          1.05
1          3          1.05
104        2          0.70
2557       2          0.70
...      ...           ...
10440      1          0.35
10432      1          0.35
10117      1          0.35
9839       1          0.35
9645       1          0.35

[272 rows x 2 columns]

None
La categoría CÓDIGO_UNIDAD_GESTORA tiene 364 elementos diferentes:

Los elementos de la categoría son:

array(['110060', '110174', '135037', '130101', '135100', '440088',
       '373001', '130137', '490003', '420002', '180002', '550002',
       '330013', '240102', '364001', '113209', '240901', '365001',
       '245209', '364999', '203001', '415001', '121002', '167086',
       '673001', '122002', '773001', '160075', '120002', '773008',
       '110407', '873001', '168002', '123001', '164204', '699999',
       '120999', '211999', '170010', '183023', '170013', '201002',
       '510001', '114601', '193028', '173057', '380910', '173039',
       '333001', '280102', '183038', '173030', '264001', '114702',
       '170392', '806001', '170356', '225001', '170381', '179083',
       '179103', '113601', '287001', '173065', '201924', '179999',
       '170474', '170380', '158155', '154045', '150014', '154069',
       '153045', '158124', '153038', '158133', '344002', '158134',
       '158125', '153019', '154419', '153046', '154044', '153062',
       '153030', '153114', '158009', '158144', '153103', '158148',
       '158123', '154039', '158138', '158121', '154051', '158149',
       '154047', '158135', '153034', '158127', '158136', '158128',
       '153065', '153163', '158157', '158143', '153032', '158137',
       '158129', '153165', '158139', '158122', '153033', '158131',
       '158132', '154003', '158099', '153056', '158151', '153036',
       '158141', '153164', '154040', '154359', '158147', '154046',
       '158195', '158092', '158142', '153115', '155001', '153173',
       '154999', '158156', '158145', '154055', '158153', '153010',
       '153978', '154048', '153167', '153015', '153037', '153052',
       '153028', '158152', '158154', '154041', '158516', '153031',
       '158517', '158658', '153035', '153061', '158515', '158565',
       '154503', '154421', '154049', '153079', '154502', '154050',
       '158146', '153080', '153166', '154034', '158126', '154080',
       '154032', '158150', '153063', '154215', '154042', '154043',
       '155007', '154054', '113214', '393003', '393001', '277001',
       '200320', '390002', '682010', '110680', '393002', '275075',
       '110591', '395001', '110590', '396006', '396002', '396003',
       '396001', '396005', '396004', '399002', '113243', '200109',
       '200336', '200401', '200333', '194088', '303001', '200331',
       '200337', '200094', '200246', '194040', '200021', '110008',
       '330002', '255000', '254420', '366003', '250088', '253003',
       '253002', '366001', '366002', '410002', '115406', '413001',
       '413047', '410007', '207001', '110244', '240005', '244001',
       '240999', '113206', '495001', '320002', '323030', '323002',
       '323028', '325001', '113208', '490002', '275060', '275068',
       '537003', '537002', '537001', '113802', '195006', '560003',
       '533013', '533008', '530002', '560015', '533014', '443003',
       '533001', '533018', '533009', '913001', '443019', '440002',
       '447001', '193034', '443032', '443045', '380010', '344001',
       '185001', '423001', '403101', '403201', '340002', '203003',
       '540001', '344041', '344042', '187002', '110005', '238012',
       '200016', '110245', '690001', '243001', '110101', '110246',
       '110355', '180077', '773009', '513001', '158719', '158718',
       '364102', '390001', '158717', '158720', '158274', '273087',
       '255015', '255014', '255008', '255003', '255011', '410003',
       '537004', '195008', '193107', '400042', '570903', '570901',
       '193116', '193125', '193113', '370001', '110690', '240101',
       '170196', '170266', '170358', '170204', '170073', '170229',
       '170086', '170232', '170167', '170107', '170285', '170233',
       '170033', '170238', '170268', '170154', '170215', '170101',
       '170076', '170237', '170231', '170267', '170234', '170265',
       '170026', '170230', '170357', '307002', '307001', '810002',
       '193129', '193120', '193112', '110745', '170008', '323100',
       '193114', '130150', '130214', '167999', '193105', '193122',
       '156687', '156680', '200278', '242160', '193183', '540030',
       '156678', '156677', '156763', '156679'], dtype=object)

Los 10 CÓDIGO_UNIDAD_GESTORA que MAS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
170013                 108481                10.57
167086                  25469                 2.48
673001                  19196                 1.87
193034                  13698                 1.33
135037                  13641                 1.33
340002                  12981                 1.26
513001                  12433                 1.21
121002                  12000                 1.17
240901                  11828                 1.15
183023                  11025                 1.07

Los 10 CÓDIGO_UNIDAD_GESTORA que MENOS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
193105                     2                 0.00
113243                     2                 0.00
193113                     2                 0.00
193183                     2                 0.00
366001                     2                 0.00
533001                     2                 0.00
366002                     1                 0.00
200337                     1                 0.00
195008                     1                 0.00
273087                     1                 0.00

 Las distribución de las repeticiones de los CÓDIGO_UNIDAD_GESTORA son:

       count  % repetición
count
7         30          8.24
2          8          2.20
4          7          1.92
9          6          1.65
1          4          1.10
...      ...           ...
8571       1          0.27
8406       1          0.27
8375       1          0.27
8273       1          0.27
596        1          0.27

[298 rows x 2 columns]

None
La categoría NOMBRE_UNIDAD_GESTORA tiene 356 elementos diferentes:

Los elementos de la categoría son:

array(['COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU',
       'DIRETORIA DE GESTAO INTERNA/SE/CGU', 'EMBRAPA-SETORIAL',
       'COORD.-GERAL DE ORCAMENTO E FINANCAS-MAPA',
       'COMPANHIA NACIONAL DE ABASTECIMENTO',
       'SETORIAL PROG.ORCAMENTARIA E FINANCEIRA-SFB',
       'DPTO. DE ADMINISTRACAO FINANCEIRA-DAF - INCRA',
       'FUNDO DE DEFESA DA ECON.CAFEEIRA/FUNCAFE/SPA',
       'CREDITO FUNDIARIO',
       'COORD.GERAL DE PLAN. ORC. FIN. E CONTAB./MINC',
       'DEPARTAMENTO DE GESTAO INTERNA',
       'SETORIAL DE ORCAMENTO E FINANCAS/MC',
       'FUNDO NACIONAL DE ASSISTENCIA SOCIAL',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS',
       'CNPQ - ADMINISTRACAO CENTRAL', 'CNEN-ORCAMENTO E FINANCAS',
       'FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO',
       'FINANCIADORA DE ESTUDOS E PROJETOS',
       'CENTRO NACIONAL DE TECNOLOGIA ELETRONICA AVAN',
       'CNPQ - DIFERENCIA CAMBIAL', 'AGENCIA ESPACIAL BRASILEIRA/AEB',
       'EMPRESA BRASILEIRA DE CORREIOS E TELEGRAFOS',
       'SECRETARIA DE ECON. E FIN.DA AER.- F.AER.', 'FUNDO DO EXERCITO',
       'DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM',
       'AGENCIA NACIONAL DE AVIACAO CIVIL - F. AEROV.',
       'DIRETORIA DE FINANCAS DA MARINHA-SISTEMA-PAIS',
       'D CONT - SETORIAL FINANCEIRA',
       'DIRETORIA DE ECON E FINANCAS DA AERONAUTICA',
       'DIRETORIA DE FINANCAS DA MARINHA - CCCPM',
       'DEPARTAMENTO DE PLANEJ, ORC E FINANCAS (MD)',
       'INDUSTRIA DE MATERIAL BELICO DO BRASIL/GESTOR',
       'CAIXA FINANCIAMENTO IMOBILIARIO AERONAUTICA', 'FUNDACAO OSORIO',
       'FUNDO NAVAL - DIFERENCA CAMBIAL', 'MAER - DIFERENCA CAMBIAL',
       'MARINHA - DIFERENCA CAMBIAL',
       'SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB',
       'INSTITUTO NAC.DE METROLOG. QUALID. E TECNOLOG',
       'SETORIAL ORCAMENTARIA E FINANCEIRA / ME',
       'COORDENACAO-GERAL DE ORC. E FINANCAS/MP',
       'COORD.GERAL DE ORCAMENTO, FINANCAS E CONTAB.',
       'FUNDACAO IBGE-ADMINISTRACAO CENTRAL/RJ',
       'SUPERINTENDENCIA DA ZONA FRANCA DE MANAUS/AM',
       'BANCO CENTRAL DO BRASIL',
       'COORD-GERAL DE ORCAMENTO, FIN. E CONT.- CGOFC',
       'SUPERINTENDENCIA DE SEGUROS PRIVADOS - RJ',
       'COORD.GERAL DE ORC. FIN. E CONTABILIDADE',
       'COORDENACAO-GERAL DE ORCAM.FINAN.CONTAB/MDIC',
       'INSTITUTO NACIONAL DA PROPRIEDADE INDUSTRIAL',
       'COMISSAO DE VALORES MOBILIARIOS',
       'FUNDACENTRO - FUND.JORGE DUPRAT/CTN/SEDE - SP',
       'FUNDACAO ESCOLA NACIONAL DE ADM. PUBLICA',
       'FUNDO CONSTITUCIONAL DO DISTRITO FEDERAL',
       'SERPRO-SEDE - DEPARTAMENTO FINANCEIRO',
       'FUNDO DE GARANTIA A EXPORTACAO-BNDES',
       'CIA.DE ENTREPOSTOS E ARMAZENS GER.DE S.PAULO',
       'FUNDO DE COMPENSACAO E VARIACAO SALARIAL',
       'CASA DA MOEDA DO BRASIL', 'FUNDO DE ESTABILIDADE DO SEGURO RURAL',
       'INSTITUTO DE PESQUISA ECONOMICA APLICADA',
       'FUNDO DE GAR.P/PROMOC.DA COMPETITIVIDADE±FGPC',
       'FUNDO CONTINGENTE DA EXTINTA RFFSA-FC',
       'FUNDO NACIONAL DE DESENVOLVIMENTO',
       'STN - EXTERIOR - DIF.CAMBIAL', 'FUNDO SOBERANO DO BRASIL',
       'FUNDO DE APOIO AO DESENVOLVIMENTO SOCIAL',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RN',
       'FUNDACAO UNIVERSIDADE FEDERAL DE MATO GROSSO',
       'SUBSECRETARIA DE PLANEJ. E ORCAMENTO SPO(MEC)',
       'FUNDACAO UNIVERSIDADE FEDERAL DE S.J.DEL-REI',
       'UNIVERSIDADE FEDERAL DO CEARA', 'IF GOIANO',
       'UNIVERSIDADE FEDERAL DA BAHIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO CEARA',
       'FUNDACAO JOAQUIM NABUCO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE SERGIPE',
       'INSTITUTO FEDERAL CATARINENSE - REITORIA',
       'UNIVERSIDADE TECNOLOGICA FEDERAL DO PARANA',
       'FUNDACAO UNIVERSIDADE FEDERAL DO TOCANTINS',
       'UNIVERSIDADE FEDERAL DO ESPIRITO SANTO',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ACRE',
       'UNIVERSIDADE FEDERAL DE MINAS GERAIS',
       'UNIVERSIDADE FEDERAL DE ITAJUBA',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO SUL',
       'INST. FED. DO PARANA/ REITORIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MATO GROSSO',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO NORTE',
       'INST. FED. DE EDUC.,CIENC. E TEC. DE RONDONIA',
       'INSTITUTO FED CIENCIA TECNOL SUDESTE MG',
       'FUNDACAO UNIVERSIDADE DO AMAZONAS', 'IFPB - REITORIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO NORTE DE MG',
       'UNIVERSIDADE FEDERAL DE VICOSA',
       'INST.FED.DE ED.,CIENC.E TEC.DO S.PERNAMBUCANO',
       'FUNDACAO UNIVERSIDADE FEDERAL DE PELOTAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PARA',
       'UNIVERSIDADE FEDERAL RURAL DA AMAZONIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.FARROUPILHA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE PERNAMBUCO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MARANHAO',
       'UNIVERSIDADE FEDERAL DA PARAIBA',
       'UNIVERSIDADE FEDERAL DE SANTA CATARINA', 'REITORIA',
       'IFB - REITORIA - BRASILIA-DF', 'UNIVERSIDADE FEDERAL DE LAVRAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO SUL DE MG',
       'INST FED DE EDUC CIENC E TECNOLOGIA BAIANO',
       'UNIVERSIDADE FEDERAL RURAL DE PERNAMBUCO',
       'INST.FED.DE EDUC.,CIENC.E TEC.FLUMINENSE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE MINAS GERAIS',
       'UNIVERSIDADE FEDERAL RURAL DO SEMI-ARIDO - RN',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TOCANTINS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MAT.G.DO SUL',
       'FUND.COORD.DE APERF.DE PESSOAL NIVEL SUPERIOR',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TRIA.MINEIRO',
       'UNIVERSIDADE FEDERAL FLUMINENSE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ESP.SANTO',
       'UNIVERSIDADE FED.VALES JEQUITINHONHA E MUCURI',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RS',
       'UNIVERSIDADE FEDERAL DE SANTA MARIA',
       'FUNDACAO UNIVERSIDADE DE BRASILIA - FUB',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PAMPA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE ALAGOAS',
       'UNIVERSIDADE FEDERAL DE OURO PRETO',
       'UNIVERSIDADE FEDERAL DE CAMPINA GRANDE',
       'UNIVERSIDADE FEDERAL DO RECONCAVO DA BAHIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAZONAS',
       'UNIVERSIDADE FEDERAL DO RIO DE JANEIRO',
       'HOSPITAL DE CLINICAS DE PORTO ALEGRE',
       'FUNDO NACIONAL DE DESENVOLVIMENTO DA EDUCACAO',
       'CAPES - DIFERENCA CAMBIAL',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ACRE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DA BAHIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE RONDONIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE GOIAS',
       'CENTRO FED.DE EDUC.TECNOL.CELSO S.DA FONSECA',
       'INST.NACIONAL DE EST.E PESQUISAS EDUCACIONAIS',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PIAUI', 'COLEGIO PEDRO II',
       'CENTRO FEDERAL DE EDUCACAO TECNOLOGICA DE MG',
       'UNIVERSIDADE FEDERAL DE ALAGOAS', 'UNIVERSIDADE FEDERAL DE GOIAS',
       'UNIVERSIDADE FEDERAL DE ALFENAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE RORAIMA',
       'INSTITUTO FEDERAL DE SAO PAULO',
       'FUNDACAO UNIVERSIDADE DO MARANHAO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE STA.CAT/IFSC',
       'UNIFESP-UNIVERSIDADE FEDERAL DE SAO PAULO',
       'UNIVERSIDADE FEDERAL DA FRONTEIRA SUL',
       'UNIV. FEDERAL DA INTEGRACAO LATINO-AMERICANA',
       'UNIVERSIDADE FEDERAL DO TRIANGULO MINEIRO',
       'UNIVERSIDADE FEDERAL DE JUIZ DE FORA',
       'UNIVERSIDADE FEDERAL DO OESTE DO PARA',
       'UNIV.DA INTEG.INTERN.DA LUSOF.AFRO-BRASILEIRA',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ABC',
       'FUND. UNIVERSIDADE FEDERAL VALE SAO FRANCISCO',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SAO CARLOS',
       'UNIVERSIDADE FEDERAL DO PARANA',
       'FUNDACAO UNIVERSIDADE FED. DA GRANDE DOURADOS',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SERGIPE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PIAUI',
       'UNIVERSIDADE FEDERAL DE PERNAMBUCO',
       'UNIVERSIDADE FEDERAL RURAL DO RIO DE JANEIRO',
       'UNIRIO UNIVERSIDADE FEDERAL DO ESTADO RJ',
       'INST.FED.DE EDUC.,CIE.E TEC.SUL-RIO-GRANDENSE',
       'UNIVERSIDADE FEDERAL DE RORAIMA',
       'FUND.UNIV.FED.DE.CIENC.DA SAUDE DE P.ALEGRE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAPA',
       'UNIVERSIDADE FEDERAL DO PARA',
       'FUNDACAO UNIVERSIDADE FEDERAL DO AMAPA',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE - FURG',
       'FUNDACAO UNIVERSIDADE FEDERAL DE UBERLANDIA',
       'EMPRESA BRASILEIRA DE SERVICOS HOSPITALARES',
       'FUNDACAO UNIVERS.FED. DE MATO GROSSO DO SUL',
       'AGENCIA NACIONAL DE AVIACAO CIVIL',
       'DEPART.NAC.INFRA ESTRUTURA TRANSPORTES.',
       'AGENCIA NACIONAL DE TRANSPORTES TERRESTRES',
       'FUNDO DA MARINHA MERCANTE',
       'FUNDO NACIONAL DE SEG. E EDUCACAO DE TRANSITO',
       'SUBSECRETARIA DE PLAN.,ORCAM.E ADMIN.SETORIAL',
       'AGENCIA NACIONAL DE TRANSPORTES AQUAVIARIOS',
       'SECRETARIA DE PORTOS/PR',
       'VALEC ENGENHARIA CONSTRUCOES E FERROVIAS S/A.',
       'FUNDO NACIONAL DE AVIACAO CIVIL',
       'EMPRESA DE PLANEJAMENTO E LOGISTICA S.A - EPL',
       'SECRETARIA DE AVIACAO CIVIL/PR',
       'COMPANHIA DOCAS DO ESTADO DE SAO PAULO',
       'COMPANHIA DOCAS DO ESTADO DA BAHIA', 'COMPANHIA DOCAS DO CEARA',
       'COMPANHIA DOCAS DO RIO DE JANEIRO',
       'COMPANHIA DOCA DO RIO GRANDE DO NORTE', 'COMPANHIA DOCAS DO PARA',
       'COMPANHIA DOCAS DO ESPIRITO SANTO',
       'SUPERINT. INFRAESTRUTURA AEROPORTUARIA - ANAC',
       'DEPTO.DE POLICIA RODOVIARIA FEDERAL',
       'COORDENACAO DE ORCAMENTO FINANCAS CONTABILIDA',
       'FUNDO DE DEFESA DOS DIREITOS DIFUSOS',
       'DEPEN - DIRETORIA EXECUTIVA', 'FUNDACAO NACIONAL DO INDIO - U.O.',
       'CONSELHO ADMINISTRATIVO DE DEFESA ECONOMICA',
       'FUNDO NACIONAL DE SEGURANCA PUBLICA - FNSP',
       'COORDENACAO DE ORCAMENTO E FINANCAS - COF/DPF',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MJ',
       'FUNDO NACIONAL ANTIDROGAS', 'RENDA DO PATRIMONIO INDIGENA',
       'SECRETARIA DE POLITICAS PARA AS MULHERES',
       'SECRETARIA EXECUTIVA-MPA',
       'COORDENACAO-GERAL DE ORC. FIN.E CONTABILIDADE',
       'FUNDACAO NACIONAL DE SAUDE - DF', 'FUNDACAO OSWALDO CRUZ',
       'HOSPITAL NOSSA SENHORA DA CONCEICAO S/A',
       'SPO-COORD.-GERAL DE ORC.E FINANCAS/MS',
       'AGENCIA NACIONAL DE SAUDE SUPLEMENTAR',
       'AGENCIA NACIONAL DE VIGILANCIA SANITARIA',
       'HOSPITAL CRISTO REDENTOR S/A', 'HOSPITAL FEMINA S/A',
       'EMPRESA BRASIL DE COMUNICACAO S.A',
       'AGENCIA NACIONAL DE TELECOMUNICACOES-SEDE',
       'FUNDO DE UNIVERS.DOS SERV.TELECOMUNICACOES',
       'FUNDO P/O DESENV.TECNOL.DAS TELECOMUNICACOES',
       'FUNDO NACIONAL DO IDOSO',
       'FUNDO NACIONAL PARA A CRIANCA E O ADOLESCENTE',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MRE',
       'FUNDACAO ALEXANDRE DE GUSMAO', 'MRE - DIFERENCA CAMBIAL',
       'INDUSTRIAS NUCLEARES DO BRASIL S/A - INB',
       'COMPANHIA DE PESQUISA DE RECURSOS MINERAIS',
       'COORD.GERAL DE ORCAM.E FIN./M.M.E',
       'AG. NAC.DO PETROLEO GAS NAT.E BIOCOM',
       'DEPARTAMENTO NAC. DE PRODUCAO MINERAL - SEDE',
       'AGENCIA NACIONAL DE ENERGIA ELETRICA',
       'EMPRESA DE PESQUISA ENERGETICA',
       'NUCLEBRAS EQUIPAMENTOS PESADOS S/A-NUCLEP',
       'SUBSEC. DE PLANEJ., ORCAMENTO E ADMINISTRACAO',
       'EMPRESA DE TRENS URBANOS DE PORTO ALEGRE S/A',
       'CIA BRASILEIRA DE TRENS URBANOS-ADM.CENTRAL',
       'FUNDO CONSTITUCIONL DO CENTRO OESTE',
       'FUNDO CONSTITUCIONAL FINANCIAMENTO NORTE',
       'FUNDO CONSTITUCIONAL DE FINANCIAM.DO NORDESTE',
       'DEPARTAMENTO NAC. DE OBRAS CONTRA AS SECAS/UO',
       'CIA DE DES.DOS VALES DO S.FRANC.E DO PARNAIBA',
       'SECRETARIA EXECUTIVA - MINISTERIO DAS CIDADES',
       'SUPERINTEND. DO DESENVOLVIMENTO DA AMAZONIA',
       'FUNDO DE DESENVOLVIMENTO DA AMAZONIA', 'ORCAMENTO E FINANCAS/MDR',
       'FUNDO NACIONAL DE HABIT. DE INTERESSE SOCIAL',
       'SUPERINTENDENCIA DO DESENVOLV. DO NORDESTE',
       'COORDENACAO DE ORCAMENTO E FINANCAS.',
       'AGENCIA DE DESENVOLVIMENTO DA AMAZONIA',
       'SUPERINT. DO DESENVOLVIMENTO DO CENTRO-OESTE',
       'FUNDO DE DESENVOLVIMENTO DO NORDESTE',
       'AUTORIDADE PUBLICA OLIMPICA',
       'COORD. DE PLAN. ORCAMENTO E FIN./COPLAN/JBRJ',
       'SUBSECRET.PLANEJAM.ORCAM.E ADMINIST±SPOA(MMA)',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMC',
       'IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ',
       'INST.CHICO MENDES DE CONSER.DA BIODIVERSIDADE',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMA',
       'COORD-GERAL DE ORCAM., FIN. E CONTABILIDADE',
       'FUNDACAO CASA DE RUI BARBOSA',
       'INSTITUTO BRASILEIRO DE TURISMO - EM EXTINCAO',
       'INSTITUTO BRASILEIRO DE MUSEUS - IBRAM',
       'INSTITUTO DO PATRIMONIO HIST. E ART. NACIONAL',
       'FUNDACAO NACIONAL DE ARTES',
       'COORD.GERAL DE PLAN. ORC. FIN. E CONTAB/FNC',
       'AGENCIA NACIONAL DO CINEMA', 'CGOFC - SETORIAL/MTUR',
       'FUNDACAO CULTURAL PALMARES', 'FUNDACAO BIBLIOTECA NACIONAL',
       'FUNDO GERAL DE TURISMO-FUNGETUR',
       'SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR',
       'SECRETARIA DE POLIT. DE PROM.DA IGUALD.RACIAL',
       'SECRETARIA DE DIREITOS HUMANOS/PR',
       'FUNDO DE IMPRENSA NACIONAL/EXEC.ORC.FINANC.',
       'SECRETARIA DA MICRO E PEQUENA EMPRESA',
       'INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI',
       'GABINETE DA VICE-PRESIDENCIA DA REPUBLICA',
       'SECRETARIA DE ASSUNTOS ESTRATEGICOS-SAE/PR',
       'SETORIAL ORCAMENTARIA E FINANCEIRA - (ME)',
       'DIRETORIA DE FINANCAS DA MARINHA - AMAZUL',
       'COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS',
       'UNIVERSIDADE FEDERAL DO CARIRI',
       'UNIVERSIDADE FEDERAL DO SUL E SUDESTE DO PARA',
       'CONSELHO NAC DE DESENV CIENT E TECNOLOGICO',
       'RESERVA DE CONTINGENCIA/MEFP',
       'UNIVERSIDADE FEDERAL DO OESTE DA BAHIA',
       'UNIVERSIDADE FEDERAL DO SUL DA BAHIA',
       'INST.FED. FLUMINENSE/CAMPUS CAMPOS-CENTRO',
       'DEPARTAMENTO NAC. ESTRADAS E RODAGEM-EXTINCAO',
       'FUNDACAO NACIONAL DE SAUDE - PB',
       'FUNDACAO NACIONAL DE SAUDE - PA',
       'FUNDACAO NACIONAL DE SAUDE - ES',
       'FUNDACAO NACIONAL DE SAUDE - AP',
       'FUNDACAO NACIONAL DE SAUDE - MT',
       'COORDENACAO-GERAL DE RECURSOS LOGISTICOS',
       'FUNDO DE DESENVOLVIMENTO DO CENTRO-OESTE',
       'COMPANHIA DE DESENVOLVIMENTO DE BARCARENA',
       'IBAMA - SUPERINTENDENCIA DO ESPIRITO SANTO/ES',
       'COORD-GERAL DE ORC., FIN. E CONT.-CGOFC (MTP)',
       'FUNDO NACIONAL DO IDOSO - SET.ORC/FIN',
       'FUNDO NAC.P/A CRIANCA E O ADOLESC.SET.ORC/FIN',
       'IBAMA - SUPERINTENDENCIA DE PERNAMBUCO/PE',
       'IBAMA - SUPERINTENDENCIA DE SANTA CATARINA/SC',
       'IBAMA - SUPERINTENDENCIA DO MATO GROSSO/MT',
       'DIRETORIA DE GESTAO INTERNA(CGU)',
       'SEC.ESPEC.DE AGRIC.FAMIL.E DO DESENV.AGRARIO',
       'PROCURADORIA DA FAZENDA NACI0NAL/GO',
       'PROCURADORIA-REGIONAL DA FAZENDA NACIONAL/PE',
       'PROCURADORIA DA FAZ.NAC. NO ESTADO DO AMAPA',
       'PROCURADORIA-REGIONAL DA FAZ.NAC.1A.REGIAO/DF',
       'PROCURADORIA DA FAZENDA NACIONAL-SE',
       'PROCURADORIA DA FAZENDA NACIONAL/MT',
       'PROCURADORIA DA FAZENDA NACIONAL - MG',
       'PROCURADORIA DA FAZENDA NACIONAL/AL',
       'PROCURADORIA DA FAZENDA NACIONAL/SC',
       'PROCURADORIA DA FAZENDA NACIONAL-MS',
       'PROCURADORIA FAZ.NACIONAL NO EST.TOCANTINS',
       'PROCURADORIA DA FAZENDA NACIONAL/AM',
       'PROCURADORIA DA FAZENDA NACIONAL - PI',
       'PROCURADORIA DA FAZENDA NACIONAL/RR',
       'PROCURADORIA-REGIONAL DA FAZENDA NACIONAL/SP',
       'PROCURADORIA DA FAZENDA NACIONAL-PR',
       'PROCURADORIA DA FAZENDA NACIONAL/PA',
       'PROCURADORIA DA FAZENDA NACIONAL-ES',
       'PROCURADORIA DA FAZENDA NACIONAL - BA',
       'PROCURADORIA DA FAZENDA NACIONAL/AC',
       'PROCURADORIA DA FAZENDA NACIONAL/PB',
       'PROCURADORIA-REGIONAL DA FAZENDA NACIONAL/RJ',
       'PROCURADORIA DA FAZENDA NACIONAL/RN',
       'PROCURADORIA REGIONAL DA F.NACIONAL/4A REGIAO',
       'PROCURADORIA DA FAZENDA NACIONAL - MA',
       'PROCURADORIA DA FAZENDA NACIONAL/CE',
       'PROCURADORIA DA FAZENDA NACIONAL EM RONDONIA',
       'SETORIAL ORCAMENTARIA E FINANCEIRA - MDH',
       'IBAMA - SUPERINTENDENCIA DE SAO PAULO/SP',
       'IBAMA - SUPERINTENDENCIA RIO GRANDE NORTE/RN',
       'IBAMA - SUPERINTENDENCIA MATO GROSSO SUL/MS',
       'SECRETARIA ESPECIAL DE AQUICULTURA E PESCA/PR',
       'PROCURADORIA GERAL DA FAZENDA NACIONAL',
       'SETORIAL ORCAMENTARIA E FINANCEIRA - ANM',
       'IBAMA - SUPERINTENDENCIA DO PARA/PA',
       'COORDENACAO-GERAL DO FUNDO DE TERRAS',
       'FDO EXERCITO - DIFERENCA CAMBIAL',
       'IBAMA - SUPERINTENDENCIA DO ACRE/AC',
       'IBAMA - SUPERINTENDENCIA DE RORAIMA/RR',
       'UNIVERSIDADE FEDERAL DO AGRESTE DE PERNAMBUCO',
       'UNIVERSIDADE FEDERAL DO DELTA DO PARNAIBA',
       'COORDENACAO DE ORCAMENTO E FINANCAS - PRF',
       'TELECOMUNICACOES BRASILEIRAS S/A',
       'IBAMA - SUPERINTENDENCIA DO TOCANTINS/TO',
       'FUNDO NACIONAL DA CULTURA - FNC', 'UNIVERSIDADE FEDERAL DE JATAI',
       'UNIVERSIDADE FEDERAL DE RONDONOPOLIS',
       'UNIVERSIDADE FEDERAL DO NORTE DE TOCANTINS',
       'UNIVERSIDADE FEDERAL DE CATALAO'], dtype=object)

Los 10 NOMBRE_UNIDAD_GESTORA que MAS aparecen son:

                                                count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
SETORIAL ORCAMENTARIA E FINANCEIRA / ME        108481                10.57
FUNDO DO EXERCITO                               25469                 2.48
DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM    23532                 2.29
IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ    13698                 1.33
EMBRAPA-SETORIAL                                13641                 1.33
COORD.GERAL DE PLAN. ORC. FIN. E CONTAB/FNC     12981                 1.26
COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS    12433                 1.21
SECRETARIA DE ECON. E FIN.DA AER.- F.AER.       12000                 1.17
FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO       11828                 1.15
INSTITUTO NAC.DE METROLOG. QUALID. E TECNOLOG   11025                 1.07

Los 10 NOMBRE_UNIDAD_GESTORA que MENOS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
AGENCIA DE DESENVOLVIMENTO DA AMAZONIA             2                 0.00
HOSPITAL CRISTO REDENTOR S/A                       2                 0.00
IBAMA - SUPERINTENDENCIA DO MATO GROSSO/MT         2                 0.00
IBAMA - SUPERINTENDENCIA DO TOCANTINS/TO           2                 0.00
IBAMA - SUPERINTENDENCIA DO ACRE/AC                2                 0.00
IBAMA - SUPERINTENDENCIA DE RORAIMA/RR             2                 0.00
COORDENACAO DE ORCAMENTO E FINANCAS - COF/DPF      1                 0.00
HOSPITAL FEMINA S/A                                1                 0.00
DEPARTAMENTO NAC. ESTRADAS E RODAGEM-EXTINCAO      1                 0.00
COMPANHIA DE DESENVOLVIMENTO DE BARCARENA          1                 0.00

 Las distribución de las repeticiones de los NOMBRE_UNIDAD_GESTORA son:

       count  % repetición
count
7         30          8.43
2          8          2.25
9          6          1.69
4          6          1.69
1          4          1.12
...      ...           ...
9839       1          0.28
9645       1          0.28
9320       1          0.28
9029       1          0.28
25469      1          0.28

[291 rows x 2 columns]

None
La categoría CATEGORÍA_ECONÓMICA tiene 5 elementos diferentes:

Los elementos de la categoría son:

array(['Receitas Correntes', 'Receitas de Capital',
       'Receitas Correntes - intra-orçamentárias', 'Sem informação',
       'Receitas de Capital - intra-orçamentárias'], dtype=object)

Los 10 CATEGORÍA_ECONÓMICA que MAS aparecen son:

                                            count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                         979596                95.45
Receitas de Capital                         30116                 2.93
Receitas Correntes - intra-orçamentárias    16235                 1.58
Sem informação                                257                 0.03
Receitas de Capital - intra-orçamentárias      95                 0.01

Los 10 CATEGORÍA_ECONÓMICA que MENOS aparecen son:

                                            count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                         979596                95.45
Receitas de Capital                         30116                 2.93
Receitas Correntes - intra-orçamentárias    16235                 1.58
Sem informação                                257                 0.03
Receitas de Capital - intra-orçamentárias      95                 0.01

 Las distribución de las repeticiones de los CATEGORÍA_ECONÓMICA son:

        count  % repetición
count
979596      1         20.00
30116       1         20.00
16235       1         20.00
257         1         20.00
95          1         20.00

None
La categoría ORIGEN_INGRESO tiene 15 elementos diferentes:

Los elementos de la categoría son:

array(['Outras Receitas Correntes', 'Receita de Serviços',
       'Transferências de Capital', 'Alienação de Bens',
       'Receita Agropecuária', 'Transferências Correntes',
       'Receita Patrimonial', 'Operações de Crédito',
       'Impostos, Taxas e Contribuições de Melhoria',
       'Amortizações de Empréstimos', 'Contribuições',
       'Receita Industrial', 'Outras Receitas de Capital',
       'Receitas Correntes - a classificar', 'Sem informação'],
      dtype=object)

Los 10 ORIGEN_INGRESO que MAS aparecen son:

                                              count  Porcentaje_recuento
ORIGEN_INGRESO
Outras Receitas Correntes                    322907                31.46
Receita de Serviços                          322319                31.41
Receita Patrimonial                          163171                15.90
Impostos, Taxas e Contribuições de Melhoria   78340                 7.63
Contribuições                                 66781                 6.51
Receita Industrial                            18857                 1.84
Receita Agropecuária                          13642                 1.33
Alienação de Bens                             12418                 1.21
Amortizações de Empréstimos                   11318                 1.10
Transferências Correntes                       6385                 0.62

Los 10 ORIGEN_INGRESO que MENOS aparecen son:

                                    count  Porcentaje_recuento
ORIGEN_INGRESO
Receita Industrial                  18857                 1.84
Receita Agropecuária                13642                 1.33
Alienação de Bens                   12418                 1.21
Amortizações de Empréstimos         11318                 1.10
Transferências Correntes             6385                 0.62
Operações de Crédito                 5044                 0.49
Receitas Correntes - a classificar   3429                 0.33
Outras Receitas de Capital           1060                 0.10
Transferências de Capital             371                 0.04
Sem informação                        257                 0.03

 Las distribución de las repeticiones de los ORIGEN_INGRESO son:

        count  % repetición
count
322907      1          6.67
322319      1          6.67
163171      1          6.67
78340       1          6.67
66781       1          6.67
18857       1          6.67
13642       1          6.67
12418       1          6.67
11318       1          6.67
6385        1          6.67
5044        1          6.67
3429        1          6.67
1060        1          6.67
371         1          6.67
257         1          6.67

None
La categoría TIPO_INGRESO tiene 63 elementos diferentes:

Los elementos de la categoría son:

array(['Bens, Direitos e Valores Incorporados ao Patr',
       'Indenizações, restituições e ressarcimentos',
       'Multas administrativas, contratuais e judicia',
       'Demais receitas correntes', 'Receita de Serviços',
       'Transferências de Instituições Privadas',
       'Alienação de bens móveis',
       'Receita da produção animal e derivados',
       'Transferências dos Municípios e de suas Entid',
       'Alienação de bens imóveis', 'Transferências de Pessoas Físicas',
       'Valores Mobiliários',
       'Exploração do patrimônio imobiliário do Estad',
       'Operações de crédito - mercado interno', 'Taxas',
       'Delegação de Serviços Públicos Mediante Conce',
       'Outras receitas agropecuárias', 'Amortizações de Empréstimos',
       'Contribuições econômicas', 'Transferências de Convênios',
       'Indenizações e restituições',
       'Receitas da indústria de transformação', 'Contribuições sociais',
       'Receita dívida ativa alienação de estoques de',
       'Receita da produção vegetal',
       'Receita dívida ativa proveniente de amortizaç',
       'Exploração de recursos naturais',
       'Receitas Correntes - a classificar',
       'Receita de concessões e permissões',
       'Demais receitas patrimoniais', 'Cessão de direitos',
       'Transferências de Outras Instituições Pública',
       'Operações de crédito - mercado externo', 'Impostos',
       'Resultado do Banco Central do Brasil',
       'Receitas decorrentes de aportes periódicos pa', 'Sem informação',
       'Receitas de valores mobiliários',
       'Receitas decorrentes de compensações ao Regim',
       'Receita títulos do tesouro nacional resgatado',
       'Remuneração das Disponibilidades do Tesouro N', 'Outras receitas',
       'Transferências do Exterior',
       'Transferências dos Estados e do Distrito Fede',
       'Integralização do capital social', 'Receita da dívida ativa',
       'Serviços Administrativos e Comerciais Gerais', 'Outros serviços',
       'Receita Agropecuária', 'Transferências Correntes',
       'Transferências da União e de suas Entidades',
       'Receita Industrial', 'Serviços e Atividades Financeiras',
       'Transferências de Capital',
       'Serviços e Atividades Referentes à Saúde',
       'Serviços e Atividades Referentes à Navegação ',
       'Remuneração das Disponibilidades do Tesouro',
       'Contribuições para Entidades Privadas de Serv',
       'Alienação de bens intangíveis', 'Resgate de Títulos do Tesouro',
       'Exploração do patrimônio intangível',
       'Transferências Provenientes de Depósito Não I',
       'Demais receitas de capital'], dtype=object)

Los 10 TIPO_INGRESO que MAS aparecen son:

                                                count  Porcentaje_recuento
TIPO_INGRESO
Serviços Administrativos e Comerciais Gerais   278157                27.10
Indenizações, restituições e ressarcimentos    143577                13.99
Multas administrativas, contratuais e judicia  115276                11.23
Exploração do patrimônio imobiliário do Estad   88862                 8.66
Taxas                                           62336                 6.07
Demais receitas correntes                       55079                 5.37
Contribuições econômicas                        35123                 3.42
Valores Mobiliários                             33037                 3.22
Contribuições sociais                           31576                 3.08
Exploração de recursos naturais                 21667                 2.11

Los 10 TIPO_INGRESO que MENOS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Receita títulos do tesouro nacional resgatado      6                 0.00
Receita dívida ativa proveniente de amortizaç      5                 0.00
Receita dívida ativa alienação de estoques de      3                 0.00
Outras receitas                                    3                 0.00
Receitas decorrentes de aportes periódicos pa      3                 0.00
Remuneração das Disponibilidades do Tesouro N      3                 0.00
Receitas decorrentes de compensações ao Regim      2                 0.00
Demais receitas de capital                         2                 0.00
Receita da dívida ativa                            1                 0.00
Integralização do capital social                   1                 0.00

 Las distribución de las repeticiones de los TIPO_INGRESO son:

        count  % repetición
count
3           4          6.35
2           2          3.17
1           2          3.17
115276      1          1.59
62336       1          1.59
55079       1          1.59
35123       1          1.59
88862       1          1.59
278157      1          1.59
143577      1          1.59
18695       1          1.59
16004       1          1.59
15843       1          1.59
14902       1          1.59
13327       1          1.59
11318       1          1.59
9655        1          1.59
8902        1          1.59
8245        1          1.59
7877        1          1.59
7813        1          1.59
4510        1          1.59
3429        1          1.59
33037       1          1.59
31576       1          1.59
21667       1          1.59
2285        1          1.59
2759        1          1.59
2890        1          1.59
1948        1          1.59
1008        1          1.59
1744        1          1.59
1504        1          1.59
1268        1          1.59
640         1          1.59
429         1          1.59
403         1          1.59
295         1          1.59
257         1          1.59
1002        1          1.59
878         1          1.59
724         1          1.59
147         1          1.59
162         1          1.59
207         1          1.59
144         1          1.59
31          1          1.59
93          1          1.59
82          1          1.59
39          1          1.59
22          1          1.59
23          1          1.59
24          1          1.59
21          1          1.59
6           1          1.59
13          1          1.59
18          1          1.59
5           1          1.59

None
La categoría DETALLE tiene 1886 elementos diferentes:

Los elementos de la categoría son:

array(['REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC',
       'RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES',
       'OUTRAS MULTAS E JUROS DE MORA', ...,
       'UTIL.REC.HID-DEM.EMPRESAS-PRORROG.OUT-PRINC.',
       'OUTORGA DIR.USO DE RECURSOS HIDRICOS-DIV.AT.',
       'RECEITA INDUSTRIAL-DIVIDA ATIVA'], dtype=object)

Los 10 DETALLE que MAS aparecen son:

                                                count  Porcentaje_recuento
DETALLE
SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.    159039                15.50
INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL   74638                 7.27
ALUGUEIS E ARRENDAMENTOS-PRINCIPAL              71040                 6.92
MULTAS PREVISTAS EM LEGISL.ESPECIFICA-PRINC.    44580                 4.34
RESTIT.DE DESPESAS DE EXERC.ANTERIORES-PRINC.   31513                 3.07
REMUNERACAO DE DEPOSITOS BANCARIOS-PRINCIPAL    30435                 2.97
OUTRAS RESTITUICOES-PRINCIPAL                   26501                 2.58
OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL             26450                 2.58
MULTAS E JUROS PREVISTOS EM CONTRATOS-PRINC.    17997                 1.75
SERVICOS DE INFORMACAO E TECNOLOGIA-PRINCIPAL   17785                 1.73

Los 10 DETALLE que MENOS aparecen son:

                                               count  Porcentaje_recuento
DETALLE
DELEG.P/PREST.SERV.TRANSP.RODOVIARIO-MUL.JUR.      1                 0.00
BEA/BIB                                            1                 0.00
RESTITUICOES NAO RECLAMADAS DAS COND.JUDICIAI      1                 0.00
ROYALTIES EXCEDENTES - PRODUCAO EM PLATAFORMA      1                 0.00
RESTIT.CONTRIB.PREVIDENCIÁRIAS COMPLEMENTARES      1                 0.00
SERV.REG.AN.CONTR.PROD.SUJ.A NORM.VIGIL.SANIT      1                 0.00
Valores Mobiliários                                1                 0.00
ITR-MUNICIPIOS CONVENIADOS-DIVIDA ATIVA            1                 0.00
OUTORGA DIR.USO DE RECURSOS HIDRICOS-DIV.AT.       1                 0.00
RESTIT.REC.PRIMARIOS TRANSFERIDOS-PRINC.           1                 0.00

 Las distribución de las repeticiones de los DETALLE son:

       count  % repetición
count
3        276         14.63
1        115          6.10
6         93          4.93
2         77          4.08
8         46          2.44
...      ...           ...
8179       1          0.05
31513      1          0.05
44580      1          0.05
71040      1          0.05
74638      1          0.05

[438 rows x 2 columns]

None
La categoría VALOR_PREVISTO_ACTUALIZADO tiene 18588 elementos diferentes:

Los elementos de la categoría son:

array([       0.,  1800000.,   403603., ..., 28274054., 10247198.,
       16940891.])

Los 10 VALOR_PREVISTO_ACTUALIZADO que MAS aparecen son:

                              count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
0.00                        1006459                98.07
1000000.00                       22                 0.00
300000.00                        15                 0.00
10000000.00                      14                 0.00
100000.00                        13                 0.00
3000000.00                       12                 0.00
180000.00                        12                 0.00
6000000.00                       12                 0.00
5000000.00                       12                 0.00
500000.00                        10                 0.00

Los 10 VALOR_PREVISTO_ACTUALIZADO que MENOS aparecen son:

                            count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
903.00                          1                 0.00
16224.00                        1                 0.00
123985.00                       1                 0.00
6379021.00                      1                 0.00
20149.00                        1                 0.00
129273010.00                    1                 0.00
82042.00                        1                 0.00
407371.00                       1                 0.00
7416.00                         1                 0.00
16923750.00                     1                 0.00

 Las distribución de las repeticiones de los VALOR_PREVISTO_ACTUALIZADO son:

         count  % repetición
count
1        17671         95.07
2          787          4.23
3           78          0.42
4           16          0.09
5            7          0.04
7            6          0.03
6            6          0.03
12           4          0.02
10           3          0.02
8            3          0.02
9            2          0.01
13           1          0.01
1006459      1          0.01
22           1          0.01
15           1          0.01
14           1          0.01

None
La categoría VALOR_REGISTRADO tiene 6789 elementos diferentes:

Los elementos de la categoría son:

array([ 0.00000000e+00,  3.60486311e+10,  1.05981726e+10, ...,
        9.85293600e+04, -4.15180800e+04,  4.15180800e+04])

Los 10 VALOR_REGISTRADO que MAS aparecen son:

                    count  Porcentaje_recuento
VALOR_REGISTRADO
0.00              1019081                99.30
-0.01                  32                 0.00
0.01                   25                 0.00
0.11                   10                 0.00
0.02                    9                 0.00
159089.35               8                 0.00
377186.28               7                 0.00
4920.76                 7                 0.00
5731.56                 7                 0.00
59028.83                7                 0.00

Los 10 VALOR_REGISTRADO que MENOS aparecen son:

                  count  Porcentaje_recuento
VALOR_REGISTRADO
1059.84               1                 0.00
445.10                1                 0.00
1282.39               1                 0.00
295.72                1                 0.00
210947.89             1                 0.00
769.16                1                 0.00
-98529.36             1                 0.00
98529.36              1                 0.00
-41518.08             1                 0.00
190164523.12          1                 0.00

 Las distribución de las repeticiones de los VALOR_REGISTRADO son:

         count  % repetición
count
1         6507         95.85
2          244          3.59
3           18          0.27
6            6          0.09
7            5          0.07
5            2          0.03
9            1          0.01
25           1          0.01
32           1          0.01
1019081      1          0.01
10           1          0.01
8            1          0.01
4            1          0.01

None
La categoría VALOR_REALIZADO tiene 605783 elementos diferentes:

Los elementos de la categoría son:

array([1.29713000e+03, 2.66666214e+07, 3.01251130e+05, ...,
       5.52070080e+05, 2.42149550e+05, 2.35318000e+03])

Los 10 VALOR_REALIZADO que MAS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
0.00             21007                 2.05
100.00            3515                 0.34
200.00            2878                 0.28
20.00             2858                 0.28
50.00             2701                 0.26
30.00             2685                 0.26
10.00             2637                 0.26
150.00            2492                 0.24
300.00            2465                 0.24
60.00             2363                 0.23

Los 10 VALOR_REALIZADO que MENOS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
241081.61            1                 0.00
386238.46            1                 0.00
209222.53            1                 0.00
420776.68            1                 0.00
109565.30            1                 0.00
130276.15            1                 0.00
324333.68            1                 0.00
237194.40            1                 0.00
224389.59            1                 0.00
1297.13              1                 0.00

 Las distribución de las repeticiones de los VALOR_REALIZADO son:

        count  % repetición
count
1      527497         87.08
2       42438          7.01
3       13219          2.18
4        6353          1.05
5        3788          0.63
...       ...           ...
1278        1          0.00
1312        1          0.00
1351        1          0.00
1584        1          0.00
1879        1          0.00

[333 rows x 2 columns]

None
La categoría PORCENTAJE_REALIZADO tiene 971 elementos diferentes:

Los elementos de la categoría son:

array([ 0.0000000e+00,  1.5400000e+02,  5.4000000e+01,  6.1000000e+01,
        3.1000000e+01,  1.1100000e+02,  1.2800000e+02,  1.3800000e+02,
        8.8000000e+01,  9.5000000e+01,  3.0000000e+00,  1.4700000e+02,
        3.8000000e+01,  9.1000000e+01,  8.9900000e+02,  1.9900000e+02,
        9.0000000e+00,  8.0000000e+01,  3.5300000e+02,  7.5000000e+01,
        8.6000000e+01,  1.9100000e+02,  1.0700000e+02,  1.5300000e+02,
        2.7800000e+02,  4.3000000e+01,  1.6500000e+02,  1.0800000e+02,
        2.0000000e+02, -1.1900000e+02,  5.5100000e+02, -1.0000000e+01,
        8.0000000e+00,  1.3970000e+03,  3.7400000e+02,  8.9000000e+01,
        1.4000000e+01,  3.6000000e+01,  4.1100000e+02,  1.5000000e+01,
        1.3900000e+02,  2.1300000e+02,  1.7300000e+02,  5.1000000e+01,
        1.0500000e+02,  2.7600000e+02,  7.0000000e+00,  6.7400000e+02,
        1.4200000e+02,  4.0000000e+00,  1.1400000e+02,  2.2000000e+01,
        7.9000000e+01,  1.2200000e+02,  2.4000000e+02,  4.5000000e+01,
        1.0000000e+01,  1.1600000e+02,  4.7700000e+02,  5.2000000e+01,
        1.8700000e+02,  1.8000000e+02,  6.2000000e+01,  1.0100000e+02,
        9.3000000e+01,  5.5800000e+02,  7.1000000e+01,  2.0600000e+02,
        8.2000000e+01,  8.1000000e+01,  7.7000000e+01,  3.2500000e+02,
        4.2000000e+01,  1.8000000e+01,  3.7000000e+02,  2.6000000e+01,
        1.3600000e+02,  1.1200000e+02,  2.0190000e+03,  2.5000000e+01,
        1.0200000e+02,  3.3000000e+01,  7.6000000e+01,  8.8600000e+02,
        1.1700000e+02,  1.0900000e+02,  1.0000000e+02,  2.9000000e+02,
        1.3200000e+02,  4.9300000e+02,  1.3000000e+02,  1.7590000e+03,
        8.3000000e+01,  1.9000000e+01,  1.0000000e+03,  5.0650000e+03,
        7.0000000e+01,  1.1000000e+01,  9.6000000e+01,  6.0000000e+01,
        1.2300000e+02,  1.1500000e+02,  2.2900000e+02,  1.1000000e+02,
        1.4230000e+03,  1.0000000e+00,  1.3170000e+03,  8.3200000e+02,
        5.6000000e+01,  5.0000000e+01,  1.0600000e+02,  3.0000000e+01,
        1.1780000e+03,  9.9000000e+01,  6.8000000e+01,  8.1700000e+02,
        1.4400000e+02,  6.6000000e+01,  6.5000000e+02,  2.2000000e+02,
        4.5300000e+02,  6.0000000e+00,  4.5100000e+02,  5.3000000e+01,
        1.7290000e+03,  1.2900000e+02,  2.3700000e+02,  1.2700000e+02,
        7.4000000e+01,  4.6000000e+01,  1.8800000e+02,  4.0500000e+02,
        9.7000000e+01,  9.4000000e+01,  7.6000000e+02,  2.0400000e+02,
        4.3700000e+02,  9.8000000e+01,  3.5000000e+01,  1.0400000e+02,
        1.2600000e+02,  3.2000000e+01,  1.2500000e+02,  1.2100000e+02,
        3.1400000e+02,  5.8000000e+01,  3.1100000e+02,  1.3300000e+02,
        4.6200000e+02,  6.5000000e+01,  1.6170000e+03,  1.0300000e+02,
        2.1000000e+01,  8.5000000e+01,  6.4000000e+01,  2.8000000e+01,
        6.3000000e+01,  5.7200000e+02,  2.4300000e+02,  4.9000000e+01,
        1.2400000e+02,  4.1300000e+02,  2.2400000e+02,  1.6900000e+02,
        5.1730000e+03,  3.8000000e+02,  1.0770000e+03,  1.3100000e+02,
        3.4700000e+02,  1.2743000e+04,  8.7000000e+01,  3.4710000e+03,
        3.4000000e+01,  5.9000000e+01,  7.2000000e+01,  1.8130000e+03,
        7.8600000e+02,  7.9890000e+03,  5.0000000e+00,  1.8100000e+02,
        2.0000000e+00,  1.1300000e+02,  1.3700000e+02,  1.5500000e+02,
        2.8600000e+02,  8.4900000e+02,  2.8300000e+02,  4.2900000e+02,
        2.6700000e+02,  3.8290000e+03,  1.0927800e+05,  4.2600000e+02,
        1.7900000e+02,  3.6300000e+02,  1.1800000e+02,  2.0300000e+02,
        1.6100000e+02,  2.5300000e+02,  3.9000000e+01,  4.6863000e+04,
        4.3900000e+02,  2.0000000e+01,  3.4240000e+03,  2.8400000e+02,
        1.2360000e+03,  1.6000000e+01,  6.8600000e+02,  2.2300000e+02,
        6.5400000e+02,  7.8000000e+01,  1.3000000e+01,  3.3000000e+02,
        1.5000000e+02,  5.4400000e+02,  3.2240000e+03,  1.2250000e+03,
        2.4400000e+03,  3.8200000e+02,  3.7600000e+02,  1.7500000e+02,
        1.9600000e+02,  1.5600000e+02,  2.2500000e+02,  5.8000000e+02,
        2.1800000e+02,  4.5600000e+02,  2.4000000e+01,  4.2400000e+02,
        7.3204000e+04,  5.1060000e+03,  1.5900000e+02,  1.8400000e+02,
        1.5618000e+04,  1.7400000e+02,  4.1000000e+01,  3.3600000e+02,
        7.2700000e+02,  8.4000000e+01,  7.8700000e+02,  9.2000000e+01,
        6.9000000e+01,  4.4800000e+02,  4.1900000e+02,  5.3600000e+02,
        4.2800000e+02,  2.5900000e+02,  1.4920000e+03,  2.3900000e+02,
        1.7640000e+03,  2.3000000e+02,  1.6600000e+02,  1.2220000e+03,
        4.9500000e+02,  1.4500000e+02,  5.0700000e+02,  1.4300000e+02,
        4.1500000e+02,  4.8400000e+02,  4.5296000e+04,  5.8500000e+02,
        6.7800000e+02,  4.8000000e+01,  3.7000000e+01,  2.7000000e+01,
        5.5000000e+01,  2.2860000e+03,  1.9300000e+02,  1.2580000e+03,
        2.0100000e+02,  4.8850000e+03,  5.1900000e+02,  1.4900000e+02,
        3.4060000e+03,  6.7000000e+01,  3.9700000e+02,  4.7100000e+02,
        3.7810000e+03,  1.4970000e+03,  1.6400000e+02,  9.6900000e+02,
        1.1900000e+02,  2.8200000e+02,  2.8800000e+02,  5.8900000e+02,
        7.4000000e+02,  3.7075700e+05,  2.9790000e+03,  2.4600000e+02,
        3.1300000e+02,  3.4970000e+04,  5.4800000e+02,  8.9200000e+02,
        2.7000000e+02,  1.3900000e+03,  3.6900000e+02, -1.0000000e+00,
        6.5100000e+02,  3.0500000e+02,  4.4100000e+02,  1.2240000e+03,
        9.0000000e+01,  3.0400000e+02,  7.9110000e+03,  4.8600000e+02,
        3.2800000e+02,  1.0680000e+03,  8.6500000e+02,  6.9200000e+02,
        1.5200000e+02,  1.4400000e+03,  2.9800000e+02,  1.0950000e+03,
        2.4700000e+02,  5.1000000e+02,  8.9000000e+02,  3.1200000e+02,
        1.7000000e+02,  3.2166000e+04,  2.1400000e+02,  2.3500000e+02,
        6.7000000e+02,  6.7300000e+02,  2.5010000e+03,  2.6662000e+05,
        2.6400000e+02,  6.3000000e+02,  8.8900000e+02,  3.4100000e+02,
        1.5100000e+02,  6.9900000e+02,  6.7200000e+02,  3.2000000e+02,
        2.2200000e+02,  1.9060000e+03,  1.4380000e+03,  1.3400000e+02,
        2.6500000e+02,  2.0700000e+02,  6.6800000e+02,  4.3000000e+02,
        5.1100000e+02,  1.0760000e+03,  2.8416000e+04,  2.9770000e+03,
        2.3200000e+02,  1.6800000e+02,  5.7000000e+01,  2.9300000e+02,
        2.3100000e+02,  1.2000000e+02,  1.4800000e+02,  3.4600000e+02,
        9.6100000e+02,  3.0300000e+02,  4.2100000e+02,  1.4600000e+02,
        1.0418700e+05,  7.7300000e+02,  2.5000000e+02,  1.7700000e+02,
        7.8900000e+02,  3.7200000e+02,  2.4520000e+03,  8.4660000e+03,
        7.1240000e+03,  2.8420000e+03,  3.8700000e+02,  1.6300000e+02,
        2.7790000e+03,  1.2000000e+01,  7.5700000e+02,  1.4613000e+04,
        5.6500000e+02,  6.2100000e+02,  5.8560000e+03,  2.8100000e+02,
        3.5400000e+02, -6.2000000e+01,  3.8600000e+02,  4.3100000e+02,
        5.6550000e+03,  1.9800000e+02,  6.9700000e+02,  2.0800000e+02,
        1.7600000e+02,  2.4200000e+02,  4.5200000e+02,  7.3000000e+01,
        1.9400000e+02,  1.0720000e+03,  1.5800000e+02,  2.4800000e+02,
        3.8890000e+03,  2.6800000e+02,  9.2000000e+02,  2.8690000e+03,
        1.2050000e+03,  3.5700000e+02,  7.8500000e+03,  3.5900000e+02,
        2.7700000e+02,  1.3610000e+03,  1.6200000e+02,  3.2700000e+02,
        5.5500000e+02,  8.5300000e+02,  4.7000000e+01,  8.0000000e+02,
        2.7300000e+02,  6.2000000e+02,  2.3300000e+02,  1.6000000e+02,
        6.6300000e+02,  8.1522000e+04,  5.5000000e+02,  2.0200000e+02,
        2.1600000e+02,  4.0000000e+01,  4.5900000e+02,  4.4900000e+02,
        1.3830000e+03,  3.1700000e+02,  6.6900000e+02,  2.9900000e+02,
        2.4900000e+02,  3.3300000e+02,  3.6000000e+02,  1.0830000e+03,
        1.8900000e+02,  1.6700000e+02,  1.8200000e+02,  3.2900000e+02,
        1.8500000e+02,  6.3200000e+02,  1.4000000e+02,  4.5820000e+03,
        2.2800000e+02,  8.2400000e+02,  4.4000000e+01,  8.3600000e+02,
        2.4610000e+03,  7.6200000e+02,  1.1460000e+03,  9.0880000e+03,
        2.2600000e+02,  1.7100000e+02,  4.0100000e+02,  1.9730000e+03,
        6.5700000e+02,  7.3740000e+03,  2.1000000e+02,  2.3600000e+02,
        2.9000000e+01,  3.1950000e+03,  6.7700000e+02,  2.8410000e+03,
        7.3500000e+02,  2.8700000e+02,  2.3000000e+01,  1.4100000e+02,
        2.2700000e+02,  3.5780000e+03,  2.5800000e+02,  3.9500000e+02,
        2.1650000e+03,  1.5317000e+04,  7.6520000e+03,  1.4963000e+04,
        6.5500000e+02,  6.2880000e+03,  1.7000000e+01,  1.3180000e+03,
        5.0400000e+02,  3.4200000e+02,  3.0800000e+02,  5.7400000e+02,
        3.8500000e+02,  1.9700000e+02,  9.5000000e+03, -3.0000000e+00,
        1.0090000e+03,  7.6100000e+02,  1.9000000e+02,  4.7000000e+02,
        2.3460000e+03,  1.0016400e+05,  1.8410000e+03,  1.7416000e+04,
        2.5200000e+02,  5.1450000e+03,  1.0415000e+04,  4.3600000e+02,
        4.1700000e+02,  1.7200000e+02,  1.3500000e+02,  6.6000000e+02,
        3.8300000e+02,  6.0800000e+02,  2.5420000e+03,  2.6200000e+02,
        3.3790000e+03,  2.2100000e+02,  4.6800000e+02,  4.1400000e+02,
        3.5500000e+02, -2.0100000e+02,  4.3500000e+02,  3.5100000e+02,
        3.9200000e+02,  3.1160000e+03,  1.0270000e+03,  2.7400000e+02,
        3.3800000e+02,  2.1100000e+02,  1.7750000e+03,  6.5900000e+02,
       -5.8000000e+01,  4.8800000e+02,  8.1100000e+02,  1.9200000e+02,
        2.4100000e+02,  1.8600000e+02,  2.9200000e+02,  1.0380000e+03,
        1.5700000e+02,  2.1900000e+02, -2.1000000e+01,  3.0600000e+02,
        1.8149000e+04,  1.7950000e+03,  7.0600000e+02,  2.0590000e+03,
        1.7800000e+02,  6.9310000e+03,  3.7427200e+05,  1.8930000e+03,
        6.4800000e+02,  4.0000000e+02,  1.3650000e+03,  6.7500000e+02,
        2.9100000e+02,  3.7900000e+02,  2.0900000e+02,  1.2143600e+05,
        1.3735300e+05,  2.1200000e+02,  8.1600000e+02,  2.5500000e+02,
        6.6500000e+02,  7.2000000e+02,  6.5200000e+02,  3.5800000e+02,
        1.3520000e+03,  1.9500000e+02,  4.3800000e+02,  6.0000000e+02,
        3.2100000e+02,  9.2120000e+03,  6.8900000e+02,  6.9000000e+02,
        4.5500000e+02,  1.9916200e+05,  9.6800000e+02,  4.1200000e+02,
        5.8600000e+02,  4.9700000e+02,  6.5913000e+04,  3.6500000e+02,
        5.9100000e+02,  5.1800000e+02,  1.6054490e+06,  2.3400000e+02,
        1.1740000e+03,  8.2300000e+02,  2.4790000e+03,  2.3410000e+03,
        3.0200000e+02,  4.1000000e+02,  1.0910000e+03,  7.2200000e+02,
        1.2670000e+03,  1.9210000e+03,  5.5580000e+03,  2.2110000e+03,
        1.8860000e+03,  2.2610000e+03,  8.1800000e+02,  4.7800000e+02,
        3.2300000e+02,  1.9010000e+03,  3.0700000e+02,  1.2365000e+04,
        1.8250000e+03,  2.7380000e+03,  1.4250000e+03,  1.2810000e+03,
        4.8000000e+02,  4.4600000e+02,  1.6890000e+03,  1.2423000e+04,
        1.3550000e+03,  2.6050000e+03,  8.2700000e+02,  2.6100000e+02,
        1.3940000e+03,  5.3200000e+02,  6.4500000e+02,  2.5880000e+03,
        3.6200000e+02,  7.9000000e+02, -1.1000000e+01,  7.2363772e+07,
        7.5600000e+02,  4.7200000e+02,  1.1210000e+03, -1.2500000e+02,
        7.1805000e+04,  3.2400000e+02,  3.6600000e+02,  2.6600000e+02,
        3.6463000e+04,  5.5400000e+02,  5.8100000e+02,  5.0900000e+02,
        2.5400000e+02, -1.2600000e+02,  3.2200000e+02,  1.3062000e+04,
       -1.1700000e+02,  2.5100000e+02,  1.4100000e+03,  5.4500000e+02,
        3.3400000e+02,  2.6900000e+02,  4.5800000e+02,  5.3400000e+02,
        1.0410000e+03,  4.8500000e+02,  7.0800000e+02,  3.1000000e+02,
       -2.1800000e+02,  1.4393000e+05,  8.3900000e+02,  7.7200000e+02,
        6.8260000e+03,  9.5440000e+03,  4.4070000e+03,  4.2000000e+02,
        5.5125000e+04,  2.3800000e+02,  1.8300000e+02,  4.6100000e+02,
        3.7814300e+05,  3.7740000e+03,  3.4690000e+03,  5.9800000e+02,
        5.1200000e+02,  3.9740000e+03, -1.0700000e+02,  2.6000000e+02,
        5.3100000e+02,  9.5300000e+02,  4.9200000e+02,  3.2600000e+02,
        5.6300000e+02,  7.8400000e+02,  5.1421000e+04,  2.9500000e+02,
        4.2820000e+03,  2.0500000e+02,  1.2090000e+03,  1.1400000e+03,
        3.3200000e+02,  2.2740000e+03,  1.8731590e+06,  4.4500000e+02,
        3.5000000e+02,  1.7900000e+03,  2.2980000e+03,  3.4800000e+03,
        5.7100000e+02,  8.2600000e+02,  1.4916000e+04,  9.1700000e+02,
        4.0400000e+02,  3.9590000e+04,  3.4490000e+03,  5.7300000e+02,
        1.8950000e+03,  8.2900000e+02,  7.7190000e+03,  2.5890000e+03,
        3.0900000e+02,  1.0220000e+03,  9.6940000e+03,  1.7330000e+03,
        4.8100000e+02,  1.3430000e+03,  1.8830000e+03,  5.9200000e+02,
        2.0360000e+03,  4.7300000e+02,  1.3080000e+03,  1.3001000e+04,
        1.0888000e+04,  9.3900000e+02, -2.6000000e+01,  7.7700000e+02,
        1.0432500e+05, -1.7300000e+02,  8.6000000e+02,  3.0000000e+02,
        7.3100000e+02,  6.5380000e+03,  3.8800000e+02,  6.8229000e+04,
        3.9920000e+03,  2.5950000e+03,  4.6700000e+02,  2.6360000e+03,
        2.0860000e+03,  4.6600000e+02,  7.2600000e+02,  6.7230000e+03,
        3.9000000e+02,  1.9320000e+03,  2.2060000e+03,  1.3100000e+03,
        5.4150000e+03,  3.3060000e+03, -1.1455200e+05,  7.9100000e+02,
        9.5200000e+02,  1.6740000e+03,  1.0600000e+03,  4.9000000e+02,
        1.6310000e+03,  7.5200000e+02,  1.7352600e+05,  3.5111000e+04,
        1.1855000e+04,  1.3890000e+03,  2.4400000e+02,  2.1700000e+02,
        1.4740000e+03,  3.3900000e+02,  2.6300000e+02,  1.5380000e+03,
        2.3420000e+03,  3.0100000e+02,  2.5700000e+02,  2.8900000e+02,
        5.9600000e+02,  5.0600000e+02,  1.9250000e+03,  2.9680000e+03,
        8.5800000e+02,  6.9290000e+03,  3.9850000e+03,  3.1671000e+04,
        1.2410000e+03,  1.0210000e+03,  9.8560000e+03,  2.1576000e+04,
        7.6900000e+02,  7.7000000e+02,  1.2510000e+03,  9.0620000e+03,
        5.8300000e+02,  2.0040000e+03,  3.1800000e+02,  1.3981000e+04,
        1.1142900e+05,  5.9500000e+02,  2.2530000e+03,  3.3100000e+02,
        8.1300000e+02,  1.6200000e+03,  1.0660000e+03,  4.1890000e+03,
        8.8200000e+02,  2.1500000e+02,  6.2962000e+04,  8.7100000e+02,
        1.2940000e+03,  6.1600000e+02,  6.8000000e+02,  7.9930000e+03,
        2.3040000e+03,  2.4500000e+02,  8.4310000e+03,  1.2700000e+03,
        2.8500000e+02,  4.8300000e+02,  5.1920000e+03,  4.0200000e+02,
        1.5130000e+03,  5.3900000e+02,  1.6780000e+03,  6.8700000e+02,
        1.3074000e+04,  1.3060000e+04,  2.8680000e+03,  1.5730000e+03,
        1.1410000e+03,  9.1100000e+02,  2.7200000e+02,  1.9780000e+03,
        3.5870000e+03,  3.5200000e+02,  1.6240000e+03,  1.8975000e+04,
        2.3010000e+03,  2.7305000e+04,  6.2200000e+02,  1.2060000e+03,
        1.1858000e+04,  2.9600000e+02,  3.4300000e+02,  7.9020000e+03,
        2.3550000e+03,  5.4163000e+04,  5.6600000e+02,  3.1250000e+04,
        2.8970000e+03,  1.4000000e+03,  2.7590000e+03,  7.0500000e+02,
        1.8790000e+03,  8.0800000e+03,  1.5560000e+03,  1.8820000e+03,
        5.9900000e+02,  4.4200000e+02,  7.3600000e+02,  4.3200000e+02,
        4.5700000e+02,  1.0090300e+05,  6.2700000e+02,  4.6900000e+02,
        5.7500000e+02,  4.3400000e+02,  5.6900000e+02,  5.6100000e+02,
        5.7600000e+02,  3.8400000e+02,  6.9100000e+02,  2.0990000e+03,
        2.2276000e+04,  2.7370000e+03,  4.8900000e+02,  1.0150000e+03,
        1.1566000e+04,  1.5240000e+03,  7.4467000e+04,  4.6300000e+02,
        3.4900000e+02,  1.4350000e+03,  5.5700000e+02, -4.0200000e+02,
        1.3774000e+04, -6.0000000e+00,  4.8430000e+03,  4.1261000e+04,
        7.2270000e+03,  3.9900000e+02,  6.1300000e+02,  9.8600000e+02,
        4.2200000e+02,  3.3500000e+02, -3.9000000e+01,  8.7900000e+02,
        8.4400000e+02, -5.0000000e+00,  7.1400000e+02,  6.1200000e+02,
        7.4546500e+05,  4.7900000e+02,  3.1600000e+02,  4.5890000e+03,
        1.1240000e+03,  1.1678000e+04,  4.4700000e+02,  2.8000000e+02,
       -2.5000000e+01,  5.5200000e+02,  9.9300000e+02,  5.8910000e+03,
        8.5400000e+02,  4.8400000e+03,  7.2800000e+02,  5.0280000e+03,
        9.1200000e+02,  4.0300000e+02,  3.8100000e+02,  1.1340000e+03,
        3.6690000e+03,  5.5600000e+02,  2.0280000e+03,  5.8360000e+03,
        1.1980000e+03,  5.4900000e+02,  9.0900000e+02,  5.0300000e+02,
        1.6640000e+03,  7.4500000e+03,  3.4450000e+03,  2.0460000e+03,
        4.0980000e+03,  1.8100000e+03,  9.9320000e+03,  4.0160000e+03,
        6.6670000e+03,  6.1000000e+02,  1.1000000e+03,  1.0065000e+04,
        6.1900000e+02,  2.1240000e+03,  1.8200000e+03,  4.9900000e+02,
        5.3500000e+02,  7.2690000e+03,  1.2230000e+03,  3.7300000e+02,
        1.0470000e+03, -2.0000000e+01,  1.2710000e+03,  1.7300000e+03,
        1.1820000e+03,  1.7380000e+03,  3.2720000e+03, -2.4600000e+02,
        2.7100000e+02,  7.5800000e+02,  7.7400000e+02, -3.6000000e+01,
        1.0520000e+03,  6.0400000e+02,  1.0116000e+04,  4.8200000e+02,
        6.4200000e+02,  5.0100000e+02,  4.8270000e+04,  4.4400000e+02,
        1.0397000e+04,  7.6270000e+03,  2.0900000e+03,  1.2470000e+03,
        1.7930000e+03, -5.9000000e+01,  7.6500000e+02,  4.9100000e+02,
        3.8950000e+03,  2.7500000e+02,  6.5300000e+02,  5.3300000e+02,
        2.5100000e+03,  7.1900000e+02,  2.8470000e+03,  6.2960000e+03,
        4.0900000e+02,  1.9020000e+03,  2.5033000e+04,  8.1900000e+02,
       -8.0000000e+00,  7.4200000e+02,  1.1514000e+04,  1.6631000e+04,
       -2.8200000e+02,  4.6000000e+02,  3.9232000e+04])

Los 10 PORCENTAJE_REALIZADO que MAS aparecen son:

                        count  Porcentaje_recuento
PORCENTAJE_REALIZADO
0.00                  1018808                99.27
1.00                      570                 0.06
2.00                      218                 0.02
3.00                      148                 0.01
4.00                      112                 0.01
7.00                       71                 0.01
5.00                       70                 0.01
6.00                       65                 0.01
8.00                       62                 0.01
96.00                      59                 0.01

Los 10 PORCENTAJE_REALIZADO que MENOS aparecen son:

                      count  Porcentaje_recuento
PORCENTAJE_REALIZADO
-119.00                   1                 0.00
551.00                    1                 0.00
1397.00                   1                 0.00
533.00                    1                 0.00
642.00                    1                 0.00
501.00                    1                 0.00
48270.00                  1                 0.00
444.00                    1                 0.00
10397.00                  1                 0.00
7627.00                   1                 0.00

 Las distribución de las repeticiones de los PORCENTAJE_REALIZADO son:

       count  % repetición
count
1        553         56.95
2        101         10.40
3         54          5.56
5         25          2.57
4         21          2.16
...      ...           ...
57         1          0.10
55         1          0.10
53         1          0.10
52         1          0.10
50         1          0.10

[65 rows x 2 columns]

None
La categoría FECHA_REGISTRO tiene 2157 elementos diferentes:

Los elementos de la categoría son:

<DatetimeArray>
['2013-12-31 00:00:00', '2014-12-31 00:00:00', '2015-12-31 00:00:00',
 '2016-04-04 00:00:00', '2016-12-08 00:00:00', '2016-08-22 00:00:00',
 '2016-03-21 00:00:00', '2016-11-04 00:00:00', '2016-04-27 00:00:00',
 '2016-02-11 00:00:00',
 ...
 '2021-02-07 00:00:00', '2021-02-06 00:00:00', '2021-01-16 00:00:00',
 '2021-01-03 00:00:00', '2021-01-17 00:00:00', '2021-10-09 00:00:00',
 '2021-02-14 00:00:00', '2021-01-09 00:00:00', '2021-01-23 00:00:00',
 '2021-01-24 00:00:00']
Length: 2158, dtype: datetime64[ns]

Los 10 FECHA_REGISTRO que MAS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2014-12-31       4553                 0.44
2015-12-31       4523                 0.44
2013-12-31       4498                 0.44
2019-01-31       2212                 0.22
2020-01-20       2179                 0.21
2017-01-19       2111                 0.21
2016-01-21       2095                 0.20
2018-01-12       2032                 0.20
2021-04-23       1957                 0.19
2016-02-29       1341                 0.13

Los 10 FECHA_REGISTRO que MENOS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2017-04-23          1                 0.00
2017-01-22          1                 0.00
2017-06-18          1                 0.00
2017-03-19          1                 0.00
2017-04-22          1                 0.00
2017-05-14          1                 0.00
2017-09-24          1                 0.00
2017-11-19          1                 0.00
2021-02-27          1                 0.00
2021-02-07          1                 0.00

 Las distribución de las repeticiones de los FECHA_REGISTRO son:

       count  % repetición
count
1        241         11.17
2         79          3.66
10        36          1.67
9         32          1.48
8         30          1.39
...      ...           ...
1271       1          0.05
1284       1          0.05
1288       1          0.05
1305       1          0.05
1308       1          0.05

[593 rows x 2 columns]

None
La categoría AÑO_EJERCICIO tiene 9 elementos diferentes:

Los elementos de la categoría son:

array([2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021])

Los 10 AÑO_EJERCICIO que MAS aparecen son:

                count  Porcentaje_recuento
AÑO_EJERCICIO
2016           194533                18.95
2017           190479                18.56
2019           176828                17.23
2018           173944                16.95
2020           142348                13.87
2021           134593                13.11
2014             4553                 0.44
2015             4523                 0.44
2013             4498                 0.44

Los 10 AÑO_EJERCICIO que MENOS aparecen son:

                count  Porcentaje_recuento
AÑO_EJERCICIO
2016           194533                18.95
2017           190479                18.56
2019           176828                17.23
2018           173944                16.95
2020           142348                13.87
2021           134593                13.11
2014             4553                 0.44
2015             4523                 0.44
2013             4498                 0.44

 Las distribución de las repeticiones de los AÑO_EJERCICIO son:

        count  % repetición
count
194533      1         11.11
190479      1         11.11
176828      1         11.11
173944      1         11.11
142348      1         11.11
134593      1         11.11
4553        1         11.11
4523        1         11.11
4498        1         11.11

None

## Análisis posibles duplicados

### a.  Nombre órgano superior

In [425]:
df_total_anos['CODIGO_NOMBRE_ORGANO_SUPERIOR'] = df_total_anos.CÓDIGO_ÓRGANO_SUPERIOR+ '-' + df_total_anos.NOMBRE_ÓRGANO_SUPERIOR

In [426]:
df_total_anos

,index,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO,CODIGO_NOMBRE_ORGANO_SUPERIOR
0,0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC,0.00,0.00,1297.13,0.00,2013-12-31,2013,63000-Advocacia-Geral da União
1,1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,0.00,0.00,26666621.42,0.00,2013-12-31,2013,63000-Advocacia-Geral da União
2,2,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS E JUROS DE MORA,0.00,0.00,301251.13,0.00,2013-12-31,2013,63000-Advocacia-Geral da União
3,3,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIV.ATIVA POR INFRAÇÃO ADMINISTRATIVA,0.00,0.00,1855.58,0.00,2013-12-31,2013,63000-Advocacia-Geral da União
4,4,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",OUTRAS RESTITUICOES,0.00,0.00,52140.68,0.00,2013-12-31,2013,63000-Advocacia-Geral da União
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1026294,134588,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas de Capital,Operações de Crédito,Operações de crédito - mercado interno,TITULOS DE RESPONS.TES.NAC.-MERC.INT.-PRINC.,16940891.00,0.00,0.00,0.00,2021-04-23,2021,20000-Presidência da República
1026295,134589,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL",0.00,0.00,372.90,0.00,2021-11-22,2021,20000-Presidência da República
1026296,134590,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL",200000.00,0.00,0.00,0.00,2021-04-23,2021,20000-Presidência da República
1026297,134591,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL",0.00,0.00,1000000.00,0.00,2021-05-10,2021,20000-Presidência da República
1026298,134592,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL",0.00,0.00,1000000.00,0.00,2021-03-23,2021,20000-Presidência da República

In [427]:
df_total_anos['CODIGO_NOMBRE_ORGANO'] = df_total_anos.CÓDIGO_ÓRGANO+ '-' + df_total_anos.NOMBRE_ÓRGANO

In [428]:
df_total_anos

,index,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO,CODIGO_NOMBRE_ORGANO_SUPERIOR,CODIGO_NOMBRE_ORGANO
0,0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC,0.00,0.00,1297.13,0.00,2013-12-31,2013,63000-Advocacia-Geral da União,63000-Advocacia-Geral da União - Unidades com ...
1,1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,0.00,0.00,26666621.42,0.00,2013-12-31,2013,63000-Advocacia-Geral da União,63000-Advocacia-Geral da União - Unidades com ...
2,2,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS E JUROS DE MORA,0.00,0.00,301251.13,0.00,2013-12-31,2013,63000-Advocacia-Geral da União,63000-Advocacia-Geral da União - Unidades com ...
3,3,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIV.ATIVA POR INFRAÇÃO ADMINISTRATIVA,0.00,0.00,1855.58,0.00,2013-12-31,2013,63000-Advocacia-Geral da União,63000-Advocacia-Geral da União - Unidades com ...
4,4,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",OUTRAS RESTITUICOES,0.00,0.00,52140.68,0.00,2013-12-31,2013,63000-Advocacia-Geral da União,63000-Advocacia-Geral da União - Unidades com ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1026294,134588,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas de Capital,Operações de Crédito,Operações de crédito - mercado interno,TITULOS DE RESPONS.TES.NAC.-MERC.INT.-PRINC.,16940891.00,0.00,0.00,0.00,2021-04-23,2021,20000-Presidência da República,24208-Instituto Nacional de Tecnologia da Info...
1026295,134589,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL",0.00,0.00,372.90,0.00,2021-11-22,2021,20000-Presidência da República,24208-Instituto Nacional de Tecnologia da Info...
1026296,134590,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL",200000.00,0.00,0.00,0.00,2021-04-23,2021,20000-Presidência da República,24208-Instituto Nacional de Tecnologia da Info...
1026297,134591,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL",0.00,0.00,1000000.00,0.00,2021-05-10,2021,20000-Presidência da República,24208-Instituto Nacional de Tecnologia da Info...
1026298,134592,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL",0.00,0.00,1000000.00,0.00,2021-03-23,2021,20000-Presidência da República,24208-Instituto Nacional de Tecnologia da Info...

In [429]:
df_contador_codigos_nombre_organos_total = df_total_anos['CODIGO_NOMBRE_ORGANO'].value_counts().reset_index()
df_contador_codigos_nombre_organos_total

                                  CODIGO_NOMBRE_ORGANO   count
0    25000-Ministério da Economia - Unidades com ví...  119811
1                              52904-Fundo do Exército   25559
2               52132-Comando da Marinha - Fundo Naval   23734
3                      34902-Fundo Nacional de Cultura   15955
4    20701-Instituto Brasileiro do Meio Ambiente e ...   13745
..                                                 ...     ...
286                36208-Hospital Cristo Redentor S.A.       2
287       53205-Agência de Desenvolvimento da Amazônia       2
288  29201-Departamento Nacional de Estradas de Rod...       1
289    20605-Companhia de Desenvolvimento de Barcarena       1
290                         36209-Hospital Fêmina S.A.       1

[291 rows x 2 columns]

In [430]:
df_contador_codigos_nombre_organos_total["nombre"] =df_contador_codigos_nombre_organos_total.CODIGO_NOMBRE_ORGANO.str.split("-",expand=True)[1]
df_contador_codigos_nombre_organos_total

,CODIGO_NOMBRE_ORGANO,count,nombre
0,25000-Ministério da Economia - Unidades com ví...,119811,Ministério da Economia
1,52904-Fundo do Exército,25559,Fundo do Exército
2,52132-Comando da Marinha - Fundo Naval,23734,Comando da Marinha
3,34902-Fundo Nacional de Cultura,15955,Fundo Nacional de Cultura
4,20701-Instituto Brasileiro do Meio Ambiente e ...,13745,Instituto Brasileiro do Meio Ambiente e dos Re...
...,...,...,...
286,36208-Hospital Cristo Redentor S.A.,2,Hospital Cristo Redentor S.A.
287,53205-Agência de Desenvolvimento da Amazônia,2,Agência de Desenvolvimento da Amazônia
288,29201-Departamento Nacional de Estradas de Rod...,1,Departamento Nacional de Estradas de Rodagem
289,20605-Companhia de Desenvolvimento de Barcarena,1,Companhia de Desenvolvimento de Barcarena
290,36209-Hospital Fêmina S.A.,1,Hospital Fêmina S.A.

In [431]:
df_contador_nombres = df_contador_codigos_nombre_organos_total['nombre'].value_counts().reset_index()

In [432]:
df_contador_nombres[df_contador_nombres['count'] >1]

                                          nombre  count
0                      Fundo Nacional Antidrogas      2
1    Agência Nacional de Transportes Aquaviários      2
2  Fundo Nacional para a Criança e o Adolescente      2
3                        Fundo Nacional do Idoso      2
4                                  Controladoria      2

In [433]:
df_total_anos[df_total_anos.NOMBRE_ÓRGANO == 'Fundo Nacional Antidrogas'].CODIGO_NOMBRE_ORGANO.value_counts()

CODIGO_NOMBRE_ORGANO
30912-Fundo Nacional Antidrogas    7596
20117-Fundo Nacional Antidrogas      20
Name: count, dtype: int64

In [434]:
df_total_anos[df_total_anos.NOMBRE_ÓRGANO == 'Agência Nacional de Transportes Aquaviários'].CODIGO_NOMBRE_ORGANO.value_counts()

CODIGO_NOMBRE_ORGANO
68201-Agência Nacional de Transportes Aquaviários    2178
39251-Agência Nacional de Transportes Aquaviários       5
Name: count, dtype: int64

In [435]:
df_total_anos[df_total_anos.NOMBRE_ÓRGANO == 'Fundo Nacional para a Criança e o Adolescente'].CODIGO_NOMBRE_ORGANO.value_counts()

CODIGO_NOMBRE_ORGANO
30913-Fundo Nacional para a Criança e o Adolescente    746
64901-Fundo Nacional para a Criança e o Adolescente    184
Name: count, dtype: int64

In [436]:
df_total_anos[df_total_anos.NOMBRE_ÓRGANO == 'Fundo Nacional do Idoso'].CODIGO_NOMBRE_ORGANO.value_counts()

CODIGO_NOMBRE_ORGANO
30914-Fundo Nacional do Idoso    230
64902-Fundo Nacional do Idoso    101
Name: count, dtype: int64

In [437]:
df_total_anos[df_total_anos.NOMBRE_ÓRGANO.str.contains('Controladoria')].CODIGO_NOMBRE_ORGANO.value_counts()

CODIGO_NOMBRE_ORGANO
66000-Controladoria-Geral da União                                  172
37000-Controladoria-Geral da União - Unidades com vínculo direto     80
Name: count, dtype: int64

### b. Nombre unidad gestora

In [438]:
df_total_anos['CODIGO_NOMBRE_UNIDAD_GESTORA'] = df_total_anos.CÓDIGO_UNIDAD_GESTORA+ '|' + df_total_anos.NOMBRE_UNIDAD_GESTORA

In [439]:
df_contador_codigos_nombre_unidad_gestora_total = df_total_anos['CODIGO_NOMBRE_UNIDAD_GESTORA'].value_counts().reset_index()
df_contador_codigos_nombre_unidad_gestora_total

                          CODIGO_NOMBRE_UNIDAD_GESTORA   count
0       170013|SETORIAL ORCAMENTARIA E FINANCEIRA / ME  108481
1                             167086|FUNDO DO EXERCITO   25469
2    673001|DIRETORIA DE FINANCAS-SISTEMA PARA O PA...   19196
3    193034|IBAMA - INST.BRASILEIRO MEIO AMBIENTE/M...   13698
4                              135037|EMBRAPA-SETORIAL   13641
..                                                 ...     ...
359      533001|AGENCIA DE DESENVOLVIMENTO DA AMAZONIA       2
360                         366002|HOSPITAL FEMINA S/A       1
361  200337|COORDENACAO DE ORCAMENTO E FINANCAS - C...       1
362   195008|COMPANHIA DE DESENVOLVIMENTO DE BARCARENA       1
363  273087|DEPARTAMENTO NAC. ESTRADAS E RODAGEM-EX...       1

[364 rows x 2 columns]

In [440]:
df_contador_codigos_nombre_unidad_gestora_total["nombre"] =df_contador_codigos_nombre_unidad_gestora_total.CODIGO_NOMBRE_UNIDAD_GESTORA.str.split("|",expand=True)[1]
df_contador_codigos_nombre_unidad_gestora_total

,CODIGO_NOMBRE_UNIDAD_GESTORA,count,nombre
0,170013|SETORIAL ORCAMENTARIA E FINANCEIRA / ME,108481,SETORIAL ORCAMENTARIA E FINANCEIRA / ME
1,167086|FUNDO DO EXERCITO,25469,FUNDO DO EXERCITO
2,673001|DIRETORIA DE FINANCAS-SISTEMA PARA O PA...,19196,DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM
3,193034|IBAMA - INST.BRASILEIRO MEIO AMBIENTE/M...,13698,IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ
4,135037|EMBRAPA-SETORIAL,13641,EMBRAPA-SETORIAL
...,...,...,...
359,533001|AGENCIA DE DESENVOLVIMENTO DA AMAZONIA,2,AGENCIA DE DESENVOLVIMENTO DA AMAZONIA
360,366002|HOSPITAL FEMINA S/A,1,HOSPITAL FEMINA S/A
361,200337|COORDENACAO DE ORCAMENTO E FINANCAS - C...,1,COORDENACAO DE ORCAMENTO E FINANCAS - COF/DPF
362,195008|COMPANHIA DE DESENVOLVIMENTO DE BARCARENA,1,COMPANHIA DE DESENVOLVIMENTO DE BARCARENA
363,273087|DEPARTAMENTO NAC. ESTRADAS E RODAGEM-EX...,1,DEPARTAMENTO NAC. ESTRADAS E RODAGEM-EXTINCAO

In [441]:
df_contador_nombres_unidad_gestora = df_contador_codigos_nombre_unidad_gestora_total['nombre'].value_counts().reset_index()

In [442]:
df_contador_nombres_unidad_gestora[df_contador_nombres_unidad_gestora['count'] >1]

                                          nombre  count
0       COORDENACAO-GERAL DE RECURSOS LOGISTICOS      2
1                      FUNDO NACIONAL ANTIDROGAS      2
2      COORDENACAO-GERAL DE ORCAMENTO E FINANCAS      2
3    AGENCIA NACIONAL DE TRANSPORTES AQUAVIARIOS      2
4   DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM      2
5  FUNDO NACIONAL PARA A CRIANCA E O ADOLESCENTE      2
6    SETORIAL PROG.ORCAMENTARIA E FINANCEIRA-SFB      2
7                        FUNDO NACIONAL DO IDOSO      2

In [443]:
df_total_anos[df_total_anos.NOMBRE_UNIDAD_GESTORA == 'COORDENACAO-GERAL DE RECURSOS LOGISTICOS'].CODIGO_NOMBRE_UNIDAD_GESTORA.value_counts()

CODIGO_NOMBRE_UNIDAD_GESTORA
410003|COORDENACAO-GERAL DE RECURSOS LOGISTICOS    4
240101|COORDENACAO-GERAL DE RECURSOS LOGISTICOS    3
Name: count, dtype: int64

In [444]:
df_total_anos[df_total_anos.NOMBRE_UNIDAD_GESTORA == 'FUNDO NACIONAL ANTIDROGAS'].CODIGO_NOMBRE_UNIDAD_GESTORA.value_counts()

CODIGO_NOMBRE_UNIDAD_GESTORA
200246|FUNDO NACIONAL ANTIDROGAS    7596
110246|FUNDO NACIONAL ANTIDROGAS      20
Name: count, dtype: int64

In [445]:
df_total_anos[df_total_anos.NOMBRE_UNIDAD_GESTORA == 'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS'].CODIGO_NOMBRE_UNIDAD_GESTORA.value_counts()

CODIGO_NOMBRE_UNIDAD_GESTORA
240102|COORDENACAO-GERAL DE ORCAMENTO E FINANCAS    5532
410002|COORDENACAO-GERAL DE ORCAMENTO E FINANCAS     308
Name: count, dtype: int64

In [446]:
df_total_anos[df_total_anos.NOMBRE_UNIDAD_GESTORA == 'AGENCIA NACIONAL DE TRANSPORTES AQUAVIARIOS'].CODIGO_NOMBRE_UNIDAD_GESTORA.value_counts()

CODIGO_NOMBRE_UNIDAD_GESTORA
682010|AGENCIA NACIONAL DE TRANSPORTES AQUAVIARIOS    2178
393002|AGENCIA NACIONAL DE TRANSPORTES AQUAVIARIOS       5
Name: count, dtype: int64

In [447]:
df_total_anos[df_total_anos.NOMBRE_UNIDAD_GESTORA == 'DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM'].CODIGO_NOMBRE_UNIDAD_GESTORA.value_counts()

CODIGO_NOMBRE_UNIDAD_GESTORA
673001|DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM    19196
873001|DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM     4336
Name: count, dtype: int64

In [448]:
df_total_anos[df_total_anos.NOMBRE_UNIDAD_GESTORA == 'FUNDO NACIONAL PARA A CRIANCA E O ADOLESCENTE'].CODIGO_NOMBRE_UNIDAD_GESTORA.value_counts()

CODIGO_NOMBRE_UNIDAD_GESTORA
307001|FUNDO NACIONAL PARA A CRIANCA E O ADOLESCENTE    746
110244|FUNDO NACIONAL PARA A CRIANCA E O ADOLESCENTE    168
Name: count, dtype: int64

In [449]:
df_total_anos[df_total_anos.NOMBRE_UNIDAD_GESTORA == 'SETORIAL PROG.ORCAMENTARIA E FINANCEIRA-SFB'].CODIGO_NOMBRE_UNIDAD_GESTORA.value_counts()

CODIGO_NOMBRE_UNIDAD_GESTORA
440088|SETORIAL PROG.ORCAMENTARIA E FINANCEIRA-SFB    609
130214|SETORIAL PROG.ORCAMENTARIA E FINANCEIRA-SFB      7
Name: count, dtype: int64

In [450]:
df_total_anos[df_total_anos.NOMBRE_UNIDAD_GESTORA == 'FUNDO NACIONAL DO IDOSO'].CODIGO_NOMBRE_UNIDAD_GESTORA.value_counts()

CODIGO_NOMBRE_UNIDAD_GESTORA
307002|FUNDO NACIONAL DO IDOSO    230
207001|FUNDO NACIONAL DO IDOSO     89
Name: count, dtype: int64

### c. Categoría económica

Según los datos iniciales, la categoría económica solo debía tener dos opciones (Receitas Correntes y Receitas de capital), no obstante, esta columna tiene más valores:

In [454]:
df_total_anos.CATEGORÍA_ECONÓMICA.value_counts()

CATEGORÍA_ECONÓMICA
Receitas Correntes                           979596
Receitas de Capital                           30116
Receitas Correntes - intra-orçamentárias      16235
Sem informação                                  257
Receitas de Capital - intra-orçamentárias        95
Name: count, dtype: int64

intra-orçamentárias significa, intraprespuestarias, es decir dentro de presupuesto, por lo tanto, entendiendo que todos los ingresos están dentro de presupuestos, elimino la parte intra-orçamentárias de la categoría y creo una nueva columna para agruparlo

In [462]:
df_total_anos["CATEGORIA_ECONÓMICA_AGRUPADA"] = df_total_anos.CATEGORÍA_ECONÓMICA.str.split("-",expand=True)[0].str.rstrip()

In [464]:
df_total_anos.CATEGORIA_ECONÓMICA_AGRUPADA.value_counts()

CATEGORIA_ECONÓMICA_AGRUPADA
Receitas Correntes     995831
Receitas de Capital     30211
Sem informação            257
Name: count, dtype: int64

### Análisis origen ingreso si está correctamente categorizado

In [465]:
print(f'Las categorias de recetas corrientes y recetas de capital son:')
df_categorias_recetas_corrientes_y_capital= df_diccionario_datos[df_diccionario_datos.DESCRIÇÃO.notnull()][df_diccionario_datos['Unnamed: 3'].notnull()]
df_categorias_recetas_corrientes_y_capital[['DESCRIÇÃO','Unnamed: 3']]

Las categorias de recetas corrientes y recetas de capital son:

                      DESCRIÇÃO                                   Unnamed: 3
21   Para Receitas Correntes:                   Para Receitas Correntes:
22                           1.  Impostos, Taxas e Contribuições de Melhoria
23                           2.                                Contribuições
24                           3.                          Receita Patrimonial
25                           4.                         Receita Agropecuária
26                           5.                           Receita Industrial
27                           6.                          Receita de Serviços
28                           7.                     Transferências Correntes
30  Para Receitas de Capital:                  Para Receitas de Capital:
31                           1.                         Operações de Crédito
32                           2.                            Alienação de Bens
33                           3.                   Amortização de Empréstimos
34                           4.                    Transferências de Capital
35                           9.                   Outras Receitas de Capital

Por tanto, Receitas correntes solo debe tener:
1.	Impostos, Taxas e Contribuições de Melhoria
2.	Contribuições
3.	Receita Patrimonial
4.	Receita Agropecuária
5.	Receita Industrial
6.	Receita de Serviços
7.	Transferências Correntes

In [467]:
df_total_anos[df_total_anos.CATEGORÍA_ECONÓMICA == 'Receitas Correntes'].ORIGEN_INGRESO.value_counts()

ORIGEN_INGRESO
Outras Receitas Correntes                      321508
Receita de Serviços                            316635
Receita Patrimonial                            161974
Impostos, Taxas e Contribuições de Melhoria     75208
Contribuições                                   64911
Receita Industrial                              15904
Receita Agropecuária                            13642
Transferências Correntes                         6385
Receitas Correntes - a classificar               3429
Name: count, dtype: int64

Todas tienen una categoría correcta.

Analizo las Receitas Correntes - a clasificar

In [469]:
df_total_anos[df_total_anos.ORIGEN_INGRESO == 'Receitas Correntes - a classificar'].sample(5)

,index,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO,CODIGO_NOMBRE_ORGANO_SUPERIOR,CODIGO_NOMBRE_ORGANO,CODIGO_NOMBRE_UNIDAD_GESTORA,CATEGORIA_ECONÓMICA_AGRUPADA
113478,99904,26000,Ministério da Educação,26271,Fundação Universidade de Brasília,154040,FUNDACAO UNIVERSIDADE DE BRASILIA - FUB,Receitas Correntes,Receitas Correntes - a classificar,Receitas Correntes - a classificar,Receitas Correntes - a classificar,0.00,0.00,94.50,0.00,2016-04-26,2016,26000-Ministério da Educação,26271-Fundação Universidade de Brasília,154040|FUNDACAO UNIVERSIDADE DE BRASILIA - FUB,Receitas Correntes
804332,54974,25000,Ministério da Economia,25207,Serviço Federal de Processamento de Dados,806001,SERPRO-SEDE - DEPARTAMENTO FINANCEIRO,Receitas Correntes,Receitas Correntes - a classificar,Receitas Correntes - a classificar,Receitas Correntes - a classificar,0.00,0.00,1232.40,0.00,2020-05-27,2020,25000-Ministério da Economia,25207-Serviço Federal de Processamento de Dados,806001|SERPRO-SEDE - DEPARTAMENTO FINANCEIRO,Receitas Correntes
607532,35002,25000,Ministério da Economia,25207,Serviço Federal de Processamento de Dados,806001,SERPRO-SEDE - DEPARTAMENTO FINANCEIRO,Receitas Correntes,Receitas Correntes - a classificar,Receitas Correntes - a classificar,Receitas Correntes - a classificar,0.00,0.00,12393.39,0.00,2019-08-22,2019,25000-Ministério da Economia,25207-Serviço Federal de Processamento de Dados,806001|SERPRO-SEDE - DEPARTAMENTO FINANCEIRO,Receitas Correntes
442775,44189,25000,Ministério da Economia,22500,Companhia de Entrepostos e Armazéns Gerais de ...,225001,CIA.DE ENTREPOSTOS E ARMAZENS GER.DE S.PAULO,Receitas Correntes,Receitas Correntes - a classificar,Receitas Correntes - a classificar,Receitas Correntes - a classificar,0.00,0.00,530000.00,0.00,2018-01-24,2018,25000-Ministério da Economia,22500-Companhia de Entrepostos e Armazéns Gera...,225001|CIA.DE ENTREPOSTOS E ARMAZENS GER.DE S....,Receitas Correntes
153061,139487,39000,Ministério da Infraestrutura,39811,Companhia Docas do Rio de Janeiro,396001,COMPANHIA DOCAS DO RIO DE JANEIRO,Receitas Correntes,Receitas Correntes - a classificar,Receitas Correntes - a classificar,Receitas Correntes - a classificar,0.00,0.00,74929.54,0.00,2016-10-18,2016,39000-Ministério da Infraestrutura,39811-Companhia Docas do Rio de Janeiro,396001|COMPANHIA DOCAS DO RIO DE JANEIRO,Receitas Correntes

In [470]:
se.reporte(df_total_anos[df_total_anos.ORIGEN_INGRESO == 'Receitas Correntes - a classificar'])

La tabla tiene 3429 filas y 21 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
index,int64,3429,0,0.00,3397,32
CÓDIGO_ÓRGANO_SUPERIOR,object,3429,0,0.00,18,3411
NOMBRE_ÓRGANO_SUPERIOR,object,3429,0,0.00,18,3411
CÓDIGO_ÓRGANO,object,3429,0,0.00,118,3311
NOMBRE_ÓRGANO,object,3429,0,0.00,118,3311
CÓDIGO_UNIDAD_GESTORA,object,3429,0,0.00,121,3308
NOMBRE_UNIDAD_GESTORA,object,3429,0,0.00,121,3308
CATEGORÍA_ECONÓMICA,object,3429,0,0.00,1,3428
ORIGEN_INGRESO,object,3429,0,0.00,1,3428
TIPO_INGRESO,object,3429,0,0.00,1,3428
DETALLE,object,3429,0,0.00,2,3427
VALOR_PREVISTO_ACTUALIZADO,float64,3429,0,0.00,1,3428
VALOR_REGISTRADO,float64,3429,0,0.00,6,3423
VALOR_REALIZADO,float64,3429,0,0.00,3002,427
PORCENTAJE_REALIZADO,float64,3429,0,0.00,1,3428
FECHA_REGISTRO,datetime64[ns],3428,1,0.03,1232,2196
AÑO_EJERCICIO,int64,3429,0,0.00,9,3420
CODIGO_NOMBRE_ORGANO_SUPERIOR,object,3429,0,0.00,18,3411
CODIGO_NOMBRE_ORGANO,object,3429,0,0.00,118,3311
CODIGO_NOMBRE_UNIDAD_GESTORA,object,3429,0,0.00,121,3308
CATEGORIA_ECONÓMICA_AGRUPADA,object,3429,0,0.00,1,3428

En detalle hay 2 tipos de detalles. Analizo los 2 que aparecen por si puede ayudarme a saber qué tipo de categoría económica es:

In [471]:
df_total_anos[df_total_anos.ORIGEN_INGRESO == 'Receitas Correntes - a classificar'].DETALLE.value_counts()

DETALLE
Receitas Correntes - a classificar    3413
RECEITAS CORRENTES A CLASSIFICAR        16
Name: count, dtype: int64

Parece que en la columna DETALLE está duplicada la categoría, sustituyo RECEITAS CORRENTES A CLASSIFICAR por Receitas Correntes - a classificar

In [482]:
df_total_anos['DETALLE'] = df_total_anos['DETALLE'].str.replace('RECEITAS CORRENTES A CLASSIFICAR', 'Receitas Correntes - a classificar')

In [483]:
df_total_anos[df_total_anos.ORIGEN_INGRESO == 'Receitas Correntes - a classificar'].DETALLE.value_counts()

DETALLE
Receitas Correntes - a classificar    3429
Name: count, dtype: int64

Analizo Transferências Correntes

In [ ]:
df_total_anos[df_total_anos.ORIGEN_INGRESO == 'Receitas Correntes - a classificar'].sample(5)